[2017-07-20 09:28] sogalboogalsky opened #1025 "New strings to be translated for 1.6.4 not found in Weblate"
Hi,
I contribute to Tilix's French translation, as so I regularly check the Weblate dedicated page (https://hosted.weblate.org/projects/tilix/translations/fr/).
In 1.6.4 release, I was surprised to see that new strings appeared but those are not available in Weblate so I cannot translate them.
Am I missing something ?

Regards.

[2017-07-20 11:31] gnunn1 commented on #1025
There's a conflict in weblate that I need to look into, I got an email about it on Tuesday.

[2017-07-20 11:32] KSXGitHub opened #1026 "Options for toggling quake-mode window"
### How should it works?

The following command should hide quake window if it is shown and display it otherwise

[code]
### Why?

I've set a keybinding (<kbd>Super + R</kbd>) to open quake terminal and make quake terminal hides when lost focus. The problem is, when I press <kbd>Super + R</kbd> inside the terminal, it disappears and re-appears.

[2017-07-20 11:40] gnunn1 commented on #1026
There's no option ```--toggle-quake-window```, it's just ```--quake```.

Also when using the hide when lost focus option you may need to increase the timing with the ```Delay hiding window``` option to get it working properly.

![screenshot from 2017-07-20 07-39-59](https://user-images.githubusercontent.com/9358238/28415667-b49eef52-6d1e-11e7-83f3-d6ac97015c7f.png)

[2017-07-20 11:42] gnunn1 commented on #1026
See #858 for more details.

[2017-07-20 11:42] #1026 closed

[2017-07-20 11:48] KSXGitHub commented on #1026
@gnunn1 I already know there's a `--quake` option, but what it does is only showing, not hiding. I need an option that do both: Showing (when quake window is hidden) and Hiding (when quake window is shown).

[2017-07-20 11:53] gnunn1 commented on #1026
The ```-quake``` option already toggles the window so when it is hidden it shows the window and when the window is showing it hides it. Your problem is the hide on lost focus option, if you turn that off you should see the toggling works fine.

If you want to use the hide on lost focus option you need to adjust the timing.

[2017-07-22 06:51] csrgxtu opened #1027 "do this have package for ubuntu 14.04 x64?"

[2017-07-22 07:32] thierer opened #1028 "Crash when resizing window with multiple terminals open"
Tilix crashes for me nearly 100% when resizing a window with multiple (>1) terminals open, taking all open (tilix) windows with it. Resizing a window with only one terminal works fine.

This is an up-to-date Arch Linux install running xfce on x64_64. Tilix and vte3 are installed from the [tilix-bin ](https://aur.archlinux.org/packages/tilix-bin/) and [vte3-tilix](https://aur.archlinux.org/packages

[2017-07-22 08:47] Mancooo opened #1029 "Gnome Shell crash with Tilix -quake"
Hi,

I have Tilix quake mode assigned to the tilde key.

I accidentally noticed that pressing and holding of the tilde key and thereby repeated appearing and disappearing of Tilix causes gnome shell to crash and restart. I use Xorg (on Fedora 26) and I assume that under Wayland whole of Gnome crashes and sends you back to GDM (because of the fact you can't restart the shell under Wayland).

It is

[2017-07-22 08:49] Mancooo commented on #1029
journalctl shows the following output:

jul 22 10:48:01 elif org.gnome.Shell.desktop[5986]: Window manager warning: Buggy client sent a _NET_ACTIVE_WINDOW message with a timest
jul 22 10:48:01 elif org.gnome.Shell.desktop[5986]: Window manager warning: Buggy client sent a _NET_ACTIVE_WINDOW message with a timest
jul 22 10:48:01 elif org.gnome.Shell.desktop[5986]: Window manager warning: Buggy clie

[2017-07-22 10:57] fadeouter opened #1030 "Add aligning to the bottom in quake mode"
This is a request to introduce aligning to bottom in quake mode. At least, when you use browser and selecting tabs it's very helpful to have it at bottom instead of top.

[2017-07-22 11:34] gnunn1 commented on #1027
Not that I'm aware of.

[2017-07-22 11:34] #1027 closed

[2017-07-22 11:36] gnunn1 commented on #1028
Easiest way to debug it is too build tilix from source and then use gdb to get a back trace. I'm out of the house today but when I get back tonite I can build you a debug version to test with.

[2017-07-22 12:32] thierer commented on #1028
I found the build instructions a bit scary so I was reluctant to build it myself, but I tried it and it wasn't too bad :)

Here's what I did:

1. Cloned tilix and checked out version 1.6.4 (because that's the version I have installed)
2. Installed dmd, libphobos and dtools from the Arch repository
3. Installed dub from [AUR](https://aur.archlinux.org/packages/dub/)
4. Built tilix with `dub build -

[2017-07-22 14:30] cazacugmihai commented on #978
@gnunn1: Thank you for this fix!

[2017-07-22 23:59] gnunn1 commented on #1028
Thanks for taking the time to do this, unfortunately that backtrace doesn't help me since the backtrace is all in GTK stuff rather then tilix. One thing you can try, in session.d try commenting out the addOnSizeAllocate lines at 1551 and see if it makes any difference.

So change this:
[code]

to this:

[code]

[2017-07-23 00:02] gnunn1 commented on #1028
Also note that I do not officially support the xfce desktop, I'll try to help you as best I can but I'm not willing to try to reproduce it unless it is occurring in Gnome or Unity.

[2017-07-23 00:04] gnunn1 commented on #1025
Fixed conflict.

[2017-07-23 00:04] #1025 closed

[2017-07-23 00:26] gnunn1 commented on #1030
Unfortunately it's not possible to control the window position in Wayland and I'm trying to avoid adding options that won't work in both in X11 and Wayland unless absolutely necessary.

[2017-07-23 00:26] #1030 closed

[2017-07-23 00:31] gnunn1 commented on #1029
That's a nasty one, off the top of my head I'm not sure how to fix it. I'll have to give it some thought.

[2017-07-23 18:28] thierer commented on #1028
I tried commenting out the `addOnSizeAllocate()` call like you suggested, but unfortunately it still crashes.

Thanks for your help, anyway! I guess I'd stick to my current workaround of resizing the window before opening additional terminals, unless you have any suggestions what else I could try.

Anyway, a few more observations:

1. I don't **think** the problem existed (but maybe I was just luc

[2017-07-23 19:14] sogalboogalsky commented on #1025
Thanks, I am going to update translation.

[2017-07-24 04:03] benjohnston24 commented on #1022
Ah ok, thanks! I grabbed it from the Ubuntu repo, I'll update now

[2017-07-24 12:54] vashirov opened #1031 "Bold color resets on focus"
I'm using custom color scheme where foreground color and bold foreground color are set to my preferred colors. When bold color is set to custom, in terminal it resets to #FFFFFF once terminal gets focus.
Demo: https://webmshare.com/play/Zreed
There is also an issue with dimming when custom bold color is not dimmed.

[2017-07-25 10:36] KmBKeef commented on #279
+1

[2017-07-25 23:23] #1031 closed

[2017-07-26 09:40] vashirov commented on #1031
Thank you for the quick fix! Can confirm, that now it works as intended.

[2017-07-27 04:08] Robust1308 opened #1032 "Create new session by clone another"
Hello, Thank for your awesome works.
But I think I would be nice that I can clone a session to make a new one

For example: In my first session has 5 windows, each windows point to different directory.
So I want to be able to clone that session to a new one so I don't have to open 5 windows and navigate to all directories again. :)

Thank you!!!

[2017-07-27 10:48] martin-g commented on #99
As a long time roxterm user I also missed this functionality!
Here I how I accomplished it:

- save all my sessions in a special folder
- write the following Shell script (named `tilix-all.sh`) to load them all:

[code]

Open Tilix and execute `tilix-all.sh`. Voila!

[2017-07-27 10:49] martin-g commented on #353
See my solution at https://github.com/gnunn1/tilix/issues/99#issuecomment-318327720

[2017-07-27 10:49] martin-g commented on #928
See my solution at https://github.com/gnunn1/tilix/issues/99#issuecomment-318327720

[2017-07-27 11:03] martin-g opened #1033 "Where does Tilix save the profiles ?"
I've tried to use my tilix-all.sh (https://github.com/gnunn1/tilix/issues/99#issuecomment-318327720) as a default command that should be executed when Tilix starts.
Unfortunately this leads to some recursive call and my CPU goes wild and Tilix cannot start anymore.

Where does Tilix save the profiles so I can remove the custom command or even the whole profile ?

[2017-07-27 11:18] gnunn1 commented on #1033
It's in donf under com/gexperts/Tilix

[2017-07-27 11:18] #1033 closed

[2017-07-27 11:27] martin-g commented on #1033
For anyone having a similar problem in the future:

`dconf reset /com/gexperts/Tilix/profiles/default`

Thank you!

[2017-07-27 19:00] gnunn1 commented on #1032
You can sort of do it now by saving the current session to a json file and then opening it, not ideal I agree.

[2017-07-27 21:25] Mike-Now commented on #1019
To run locally compiled tilix, even though system version is present and running, add the --new-process flag:

`./tilix --new-process`

[2017-07-28 15:18] sdicke opened #1034 "Segementation fault when deselect encoding"
Steps to reproduce: deselect encoding. When select another encoding, the application works fine. The behavior is reproducible.

Operating System: Linux 4.11.0
Distribution: Debian Testing
Platform: Intel 64

~"\nThread "

dNOTE: INFERIOR SPONTANEOUS STOP
sAngehalten.
dState changed from InferiorRunOk(11) to InferiorStopOk(14) [master]
dHANDLING SIGNAL SIGSEGV
sAngehalten: Segmentation fault (Signa

[2017-07-28 19:22] #1034 closed

[2017-07-28 19:23] gnunn1 commented on #1034
Thanks for reporting this, it has been fixed.

[2017-07-28 19:44] gnunn1 commented on #1028
I'm closing this issue, I don't have any ideas in terms of what the issue is and I don't support XFCE so I won't be digging into it further. If you can reproduce in gnome feel free to re-open.

[2017-07-28 19:44] #1028 closed

[2017-07-28 20:11] rickhall opened #1035 "Saving history using session identifiers"
Tilix seems pretty cool. On the Mac I use iTerm and with it I was able to save my command histories for each of my shell instances using a special environment variable from iTerm called $ITERM_SESSION_ID. I couldn't find any specific documentation on this, but it looks something like:
[code]
The first part encodes a unique identifier for the shell instance which is in [w]indow 0, [t]ab 8, and [p]a

[2017-07-28 20:19] gnunn1 commented on #1035
Adding an environment variable for a session identifier is trivial and I'm happy to do that. However I'm curious, does iterm somehow reassociate the same session id between invocations or are you always creating new history files with this technique? If iterm does do this, do you know how it works?

[2017-07-28 20:34] gnunn1 commented on #1035
Oh and just to be clear, tilix already has a ```TILIX_ID``` environment variable that represents a specific terminal. When you say session, I'm assuming you are referring to what Tilix calls a session: a single page with multiple split terminals.

[2017-07-28 20:58] rickhall commented on #1035
Yeah, I tried not to use the term "session" to avoid confusion. :-)

The iTerm approach isn't infallible. I believe its session identifier is based on the order the windows are opened (i.e., Tilix sessions). So, if you open your windows in the wrong order, then you get your saved command histories associated with the wrong terminals. So, as long as you take care to open the windows (i.e., sessions

[2017-07-28 22:43] gnunn1 commented on #1035
Tilix allows you to save and restore the layout of the session in a JSON file (see Save/Open in hamburger menu). I think an easy way to do this is to simply save and restore the TILIX_ID when saving and loading the sessions. This way when you reload the session you will be using the same IDs and attached to the same history files.

Would this do the trick for you?

[2017-07-29 00:03] rickhall commented on #1035
As long as the TILIX_ID is globally unique for a given terminal, I think that would work fine. Perhaps even better than the iTerm solution. Not only would it be order independent, but it would also survive changing your layout.

[2017-07-29 00:39] #1035 closed

[2017-07-29 00:40] gnunn1 commented on #1035
OK I've modified the session to save/load the UUIDs so hopefully this will do the trick.

[2017-07-29 03:26] pawandubey opened #1036 "Padding around terminal"
Is there a way to add padding around the text in the terminal? I basically want there to be a gap of a few pixels between the edges of the text and the actual edge of the window. Most terminal emulators support this via some kind of configuration option but I haven't found anything for tilix yet :cry:

[2017-07-29 13:17] klingtnet commented on #982
I can confirm this issue on Arch Linux but I also wasn't able to pinpoint what causes the problem.

[2017-07-29 13:33] gnunn1 commented on #1036
There is no configuration option for this and I have no plans to add one. However, you can do it by adding some CSS to ```~/.config/gtk-3.0/gtk.css``` as follows:

[code]
Depending on what version of GTK you are using, the selector may need to be adjusted. This works for me on GTK 3.22. Also note this will effect all VTE based terminals including gnome-terminal.

[2017-07-29 13:33] #1036 closed

[2017-07-29 14:06] #1029 closed

[2017-07-29 14:07] gnunn1 commented on #1029
I've optimized the code and removed some the things that were happening twice when the window was being shown and this seems to have fixed it, at least on my laptop. If you can, please try the version from git and sees if it works for you.

[2017-07-29 14:35] gnunn1 commented on #982
For me it happens if I start typing before the prompt appears. This can be fixed by commenting out the line ```gst.updateState();``` at 942 in terminal.d however I can't help but feel I put that there for a reason, I'll try running tilix for a few days without this line and see if there is any ill effect.

[2017-07-29 14:54] klingtnet commented on #982
@gnunn1 Any instructions on how to reproduce this (typing before the prompt appears)? Adding a `sleep 1` on top of my `.zshrc` does not help.

[2017-07-29 15:44] gnunn1 commented on #982
I just started typing before tilix appears, that ensures a character gets accepted before the powerline prompt appears.

[2017-07-29 17:30] ipeacocks opened #1037 "Show/Hide window"
Is it possible show/hide tilix via keyboard shortcuts? Thanks.

[2017-07-29 17:39] gnunn1 commented on #1037
Only when using quake mode.

https://gnunn1.github.io/tilix-web/manual/quake/

Otherwise use whatever shortcuts your DE provides for hiding and showing windows.

[2017-07-29 17:39] #1037 closed

[2017-07-30 10:37] ipeacocks commented on #1037
Thank you.

[2017-07-30 12:28] rickhall commented on #1035
Is there a place where I can get a nightly build to give it a test drive?

[2017-07-30 13:20] gnunn1 commented on #1035
There is not but I built a new binary for you that you can download at the link below and try out.

gexperts.com/files/tilix.zip

[2017-07-30 14:09] rickhall commented on #1035
Ok, thanks, I'll give it a whirl tomorrow.

[2017-07-30 15:33] Mancooo commented on #1029
Thank you, my internet connection is bad atm, in about 3 weeks from now I
have the opportunity to test, I will let you know

Op 29 jul. 2017 17:08 schreef "Gerald Nunn" <notifications@github.com>:

[2017-07-31 13:39] rickhall commented on #1035
I tested this out and it appears to work fine, now I can save my history for each terminal. On the Mac I was putting the HISTFILE environment variable in .profile, but on Fedora I had to add it to .bashrc. Regardless, this works great. Thanks!

[2017-07-31 17:30] jniederm opened #1038 "Highlight selected terminal"
Please allow to highlight selected terminal. Currently it can be recognized only by color of terminal title and blinking cursor (if present).
![image](https://user-images.githubusercontent.com/5278760/28789638-6fb33c48-7626-11e7-9cae-814a5d73e713.png)

It's a bit too much in terminator but it is clearly recognizable:
![image](https://user-images.githubusercontent.com/5278760/28789670-aaa95d8c-7626

[2017-07-31 17:34] gnunn1 commented on #1038
I don't have any plans to add an option for this, however it can be styled as you wish using CSS. See #688 for more information.

[2017-07-31 17:34] #1038 closed

[2017-07-31 17:35] gnunn1 commented on #1038
Oh and also note that you can dim the unfocused terminals so the focused one stands out more.

[2017-08-01 10:09] happylynx opened #1039 "GTK Inspector doesn't work"
`tilix --help-gtk` suggests that it accepts parameter `--gtk-debug`. However `tilix --gtk-debug=interactive` just starts tilix without GTK Inspector. `--gtk-debug=interactive` parameter invokes GTK Inspector for standard gnome apps like `gnome-calc` or `gnome-calendar`.

[code]

[2017-08-01 11:37] happylynx commented on #1038
Thank you for at advice @glunn1. #688 suggests to use style class `terminix-terminal-title` which I can't even grep in current master branch. I guess one of `terminal-titlebar`, `tilix-terminal-title` defined in `terminal.d` is the successor. So I tried to put following code

[code]

into file `~/.config/gtk-3.0/gtk.css` and started tilix. The UI was completely unchanged. Could you please help me

[2017-08-01 12:13] gnunn1 commented on #1038
I tried the following in gtk.css in GTK 3.22 and it worked fine for me:

[code]
Make sure to quit all instances of tilix (including quake window) and restart it.

[2017-08-01 12:14] gnunn1 commented on #1039
You can use the inspector by specifying an environment variable for now:

[code]

[2017-08-01 12:16] gnunn1 commented on #1039
Also, ```tilix --gtk-debug=interactive``` works fine for me here on GTK 3.22. Are you using the Gnome Desktop Environment?

[2017-08-01 12:23] egmontkob commented on #1039
Works here too (Ubuntu Zesty).

[2017-08-01 13:37] happylynx commented on #1038
Killing all instances was the missing bit. Now it works beautifully. Thanks

[2017-08-01 15:04] Queuecumber commented on #597
@gnunn1 I think it's time to re-open this, I just tested Guake under wayland and it is able to stay "only-on-top", so there is some way to do it. I'm going to try to track down those code for it

[2017-08-01 15:18] gnunn1 commented on #597
It only works in Guake because Guake is using GTK2 and thus is not a native Wayland app since it runs under XWayland. If Guake ever updates to GTK3 they will have the same issue.

[2017-08-01 20:17] gnunn1 commented on #1039
I do not believe this is a Tilix issue, closing.

Thanks for the second data point @egmontkob.

[2017-08-01 20:17] #1039 closed

[2017-08-01 22:05] elypter opened #1040 "-"

[2017-08-01 22:28] gnunn1 commented on #1040
Works fine on Gnome as far as I can tell, I assume you are referring to the Window Style Appearance option "Disable CSD"?

Note that I do not support Mate in terms of reproducing issues, only Gnome and Unity.

[2017-08-01 23:10] elypter commented on #1040
yes

[2017-08-01 23:53] #1040 closed

[2017-08-02 22:18] Queuecumber commented on #597
So XWayland still supports always-on-top?

[2017-08-02 22:52] gnunn1 commented on #597
That's my understanding.

[2017-08-02 22:53] gnunn1 commented on #918
After thinking about this some more, I think what I've proposed above is fine. I'm not planning on implementing this.

[2017-08-02 22:53] #918 closed

[2017-08-03 00:07] gnunn1 commented on #937
I think I'm going to have to resort to polling for this, I believe that's what iterm2 is doing.

[2017-08-03 04:11] y-usuzumi opened #1041 "Issue on focus re-capturing in Quake mode in Xfce"
Hi! Not sure if it's an issue with Tilix, but in Quake mode, if I open any dialog, e.g. preferences or rename session, then close the dialog, Tilix loses its focus. Have to click on the window again to get focus.

This is not the case for Tilix in normal mode, also not the case in GNOME Shell.

[2017-08-03 08:30] flozz commented on #597
When I tested, it only worked between windows of X11 applications, not with native Wayland app's windows

[2017-08-03 12:38] gnunn1 commented on #1041
It works fine for me in Gnome, maybe it's an issue specific to XFCE? Unfortunately I do not support XFCE, only Gnome and Unity, in the sense of trying to reproduce issues in that environment as I need to keep things manageable.

As a result I'm closing this issue, however I would suggest trying to reproduce it with the XFCE terminal in it's drop-down mode, if you can open a bug with them.

[2017-08-03 12:38] #1041 closed

[2017-08-03 13:49] haithcockce opened #1042 "tilix crashed in pango_glyph_item_iter_next_cluster()"
### Description
- Random crashes.
- In some instances, tilix crashed when I clicked on a buffer in weechat, in others it crashed when not even focused on or interacting with tilix or anything at all.
- ABRT is reporting the crashes occur in the following function:
[code]

### Versions
- Fedora 26
- Kernel `4.11.11-300.fc26.x86_64`
- `pango-1.40.7-1.fc26.x86_64`
- `tilix-1.6.4-1.fc26.x86_64`, the v

[2017-08-03 14:46] gnunn1 commented on #1042
That sounds pretty bizarre, I'm running on Arch though my version of Pango is the same. The fact that it's crashing in Pango makes me wonder if there is a bug there somewhere in the stack. The only thing I use Pango directly for is rendering the badge which isn't supported outside a patched VTE which you probably don't have.

To find the issue you would need to compile Tilix with debug information

[2017-08-03 14:55] mistersister commented on #681
I would love to see standard tabs implemented. The actual sidebar and session switching implementations are what keeps me away from finally switching from Terminator since Im finding it extremely hard to get used to it, specially having been a heavy tab user most of my Linux life.

I get that tabs take vertical space wich is relatively limited in todays 16:9 screens but i dont think that a tab bar

[2017-08-03 14:56] haithcockce commented on #1042
Interesting. Fortunately, as I noted, Fedora ships a debuginfo package for it so I can just match it up with the debug symbols. Below is the backtrace:

[code]

If this is something I should pursue with pango or somewhere else, let me know.

[2017-08-03 15:01] gnunn1 commented on #1042
Yeah I don't think this is a Tilix issue, might be a VTE issue or a Pango issue as that is where the interaction is happening.

What font are you using for the terminal in tilix and are you displaying any odd unicode characters? Also, I assume you are not getting the same issue with gnome-terminal?

[2017-08-03 15:07] mistersister commented on #279
+1

Also a little offtopic but when you sync terminals on a session and decide to leave one out by clicking on the icon in the title bar, I find it impossible to tell if its excluded. The icon should be way more dimmed or totally change colors to something like red for instance.

![screenshot_2017-08-03_17-00-20](https://user-images.githubusercontent.com/3819621/28928629-fa432f96-786d-11e7-936e-6b

[2017-08-03 15:34] gnunn1 commented on #279
@mistersister I think that's a problem with your theme, try it with Adwaita so see how it looks there.

[2017-08-03 17:38] haithcockce commented on #1042
Fair enough, hopefully I can forward this issue to the right people then.

Monospace Regular, however, I am using fedy's font tweak stuff with it. Not sure if that plays into this.

Not to my knowledge. I largely use the terminal at work for weechat wherein people typically aren't using crazy unicode characters and investigating vmcores so that is almost guaranteed to be only hex values and regula

[2017-08-03 19:11] jravetch opened #1043 "Fedora 26 VTE Configuration Warning with Tmux"
I followed the docs here:

https://gnunn1.github.io/tilix-web/manual/vteconfig/

I tried both methods, I'm using Zsh, either explicitly sourcing vte.sh in zshrc or using "run as login".  Neither work, as I still get the pop that VTE is not configured correctly.

[2017-08-03 19:12] iax7 commented on #918
The whole purpose of the favorites is to avoid an extra stroke. Just hitting the number assigned to favorites will auto select and close the pop-up window.

With the search functionality that you mention is still more key strokes.

I just need one password, and I always hit <tab><enter> and I just wanted to hit <number1> and be selected automatically.

I think another good approach for using the s

[2017-08-03 19:17] gnunn1 commented on #918
If you preface the password description with a number (1,2,3) it's two keystrokes: the number + enter key. While with what you propose it's only one keystroke, I'm not willing to build a whole favorite management system to save that one keystroke.

[2017-08-03 19:19] gnunn1 commented on #1043
If you switch to a different directory and then split the terminal, does the new terminal stay in the same directory or return to root? Just trying to determine if the warning is valid or not.

[2017-08-03 20:03] jravetch commented on #1043
I should also mention that I use tmux with byobu and create multiple tmux sessions in the same window.  When switching to a different directory and splitting, I stat in the stay directory in the first tmux session that I opened. The second window is actually duplicating everything I type in the first window.  I had already silenced the pop up, so not sure if it's working or not.

[2017-08-03 20:10] gnunn1 commented on #1043
Can you try without tmux and byobu and see if you still get the warning and the directory works as expected.

[2017-08-03 20:28] jravetch commented on #1043
With tmux and byobu disabled I can create new sessions with different directories.  How can I test that VTE is working properly?  I disabled the pop up.

[2017-08-03 20:31] gnunn1 commented on #1043
You can re-enable the warning in dconf under com/gexperts/tilix under the key warn-vte-config-issue.

[2017-08-03 20:43] jravetch commented on #1043
Thanks, re-enabled the warning in dconf.  Opened tilix with tmux and byobu disabled and no warnings appear.  I guess this issue should be changed to VTE configuration issue with tmux?

[2017-08-03 20:49] iax7 commented on #918
Actually, the tab keystroke is needed even when only one result is shown in the search. (at least 3 keystrokes)

Can you re-read "another good approach"? is based upon your May 14 comment, not the favorite management.

[2017-08-04 00:31] gnunn1 commented on #937
I have added an initial implementation of this feature, however since it is using threads to do the polling I have disabled it by default for now until I get a chance to test it before. I have only briefly tested it but it seems to work quite well in this limited testing. Note that the polling period is set to 250ms at the moment and I don't think it's feasible to set it lower.

I still have some

[2017-08-04 00:36] gnunn1 commented on #937
Also, when enabled you will notice a new variable called ```Process``` in the list to be used for titles.

[2017-08-04 00:47] gnunn1 commented on #1043
The detection of this issue is inherently flaky as it relies on the timing of a couple of asynchronous events. I'm working on improving this for #982 and I've made a change already which may fix this issue. However, I suspect it's unlikely I will get this perfect.

Since this is related to a specific program and the warning can be disabled I'm not planning on pursuing it further at this time.

[2017-08-04 00:47] #1043 closed

[2017-08-04 00:56] gnunn1 commented on #937
Sorry for the spam, just reminding myself of a few things. I wonder if I could use this feature to drive notifications on systems that don't have the fedora VTE notification patch?

Also, might be an idea to add trigger support for it as well.

[2017-08-04 02:26] gnunn1 commented on #1042
@egmontkob Anything here that rings a bell with known issues with VTE?

[2017-08-04 06:26] egmontkob commented on #1042
Nope, sorry. Sounds like most likely a Pango bug.

[2017-08-04 07:05] mistersister commented on #279
@gnunn1 yeah, it seems like my current theme (Numix) places no borders around the icon unlike Adwaita. Damn you material design! I tested some more random themes installed and some had the same issue, others didnt.

Maybe you should consider make it so that is less theme dependent? It sucks when theming gets in the way of usability.

[2017-08-04 12:48] gnunn1 commented on #1042
Thanks @egmontkob. I agree about it being a Pango issue, looking at the source code (https://github.com/GNOME/pango/blob/e9471764d19f740f756cf7e6d11aba0cbba3d2ae/pango/pango-glyph-item.c) the assertion is at the end of the method checking the result rather then validating inputs.

@haithcockce I think you should open an issue with Pango as I don't see this as a Tilix issue. Feel free to post a lin

[2017-08-04 12:48] #1042 closed

[2017-08-04 17:12] gnunn1 commented on #918
@iax7 Thanks for pointing out the issue with tab, I fixed that so it's now two keystrokes as expected (number + enter).

[2017-08-05 14:37] Queuecumber commented on #597
@flozz That makes sense based on what I've been reading about XWayland, it's possible that the quick test I had picked only X11 apps. I still don't fully understand if this is something we need to ask the Mutter guys to provide an API for or push Wayland itself to include though (I suspect it is going to be on the window-manager side to provide this functionality)

[2017-08-05 14:48] iainlane opened #1044 "screenshot in appdata is not found"
See:

  https://github.com/gnunn1/tilix/blob/master/data/appdata/com.gexperts.Tilix.appdata.xml.in#L36

this is a 404 currently. Maybe use

  https://gnunn1.github.io/tilix-web/assets/images/gallery/tilix-screenshot-1.png

?

[2017-08-05 15:13] gnunn1 commented on #597
I would start with Mutter/GTK and let them determine if they want to support it or if it needs to go upstream to Wayland.

[2017-08-05 18:55] arigit opened #1046 "Add support for fractional parameters (for columns and rows) in --geometry"
Use case: using various desktop shortcuts to open Terminal windows in predetermined places in the screen, at fixed sizes.

With urxvt, I can use for example:

--geometry 141x**38.4**+1283+737

... which  fills a 1/4th tile in my 27" screen.

Tilix accepts the same input but ignores (trims out) the fractional part, and the tiling does not look good (tilix interprets 141x38)

I understand that cols/

[2017-08-05 19:46] #1044 closed

[2017-08-05 19:49] gnunn1 commented on #1046
Right now tilix relies on the VTE to set the size based on the columns and rows, I have no plans to bring that calculation into tilix as keeping it consistent with the VTE's implementation is a fools game IMHO.

The ```--geometry-in-pixels``` option could be done though.

[2017-08-06 13:28] gnunn1 commented on #982
I think I've taken this as far as I'm willing to go with it, I've checked in one change that hopefully improves it.

[2017-08-06 13:28] #982 closed

[2017-08-06 14:08] gnunn1 commented on #681
I've been stuck for quite awhile on this issue in terms of having a bit of analysis paralysis. Every mechanism I think of as an alternative to tabs just feels like a way to avoid them. So I think I'm going to just bite the bullet and make tabs an option so people can choose to either use the sidebar or use tabs. I've on a weeks vacation at the moment and am looking to implement a good chunk of thi

[2017-08-06 14:29] alexwhitman commented on #681
No problem, turns out I don't use it myself as much as I thought I would.  👍 for tabs.

[2017-08-06 14:50] guillefar commented on #681
Totally agree switching to tabs, will not miss sessions at all.

[2017-08-06 14:52] gnunn1 commented on #681
@guillefar Just to be clear, I'm not switching to tabs just enabling them as an option. The session sidebar will remain as the default option.

[2017-08-06 15:00] gnunn1 commented on #681
Also note I expect the git version to be somewhat unstable this week as I work through this and a few other changes.

[2017-08-06 15:45] gnunn1 opened #1047 "Add optional support for tabs"
Add optional support for tabs for people who prefer this style. The sidebar would remain the default but allow enabling tabs as an alternative. The option would require a window restart.

[2017-08-06 15:47] gnunn1 opened #1048 "Remove session switcher"
Remove the session switcher feature as I don't think it is being used much. Lessens my UI maintenance burden with the addition of tabs.

[2017-08-06 15:47] gnunn1 commented on #681
Closing, opened new issue dedicated to tabs.

[2017-08-06 15:47] #681 closed

[2017-08-06 15:48] AnwarShah commented on #916
Anyone with gnome3 staging ppa enabled is getting it in 17.04. I needed to downgrade the package to the main repo version that is 0.44.2*

[2017-08-06 16:42] #1048 closed

[2017-08-06 17:36] gnunn1 commented on #1047
The basics are there now and seem to be working OK. I need to add support for detaching and re-attaching tabs plus some options about the tabs themselves.

[2017-08-06 20:07] gnunn1 commented on #1047
Hmm, that went faster then I expected. Have at it and let me know what I screwed up.

[2017-08-06 20:07] #1047 closed

[2017-08-06 20:31] alexwhitman commented on #1047
I notice there's only a single option for tab positioning - it would be good to have a different position between "regular" windows and Quake mode.  I'd most likely have tabs at the top of regular windows and tabs at the bottom on Quake windows.

[2017-08-06 20:45] gnunn1 commented on #1047
Good point @alexwhitman, I'll add that option to the Quake page as well.

[2017-08-07 07:30] mozartilize opened #1049 "tilix does not expand text"
![screenshot from 2017-08-07 14-27-47](https://user-images.githubusercontent.com/26346270/29016515-eedf0618-7b7c-11e7-9be5-7b58177e8809.png)

tilix version 1.6.4 - compares to gnome terminal, Ubuntu gnome 17.04

[2017-08-07 08:46] fbruetting opened #1050 "Quake mode blocks Gnome shell in Fedora 26"
Starting `tilix --quake` renders my system unusable. I then need to Ctrl+Alt+F3 and `killall tilix`.

In detail, Ctrl+Alt+F3 doesn’t work at first and nothing happens – I need to unplug my external monitor for my system to respond and to give me a CLI prompt. But I assume this to be a shell bug (and I don’t report it, due to the new monitor abstraction system being introduced at the moment).

[2017-08-07 10:14] alexwhitman opened #1051 "Inactive tabs are transparent"
On Ubuntu 16.04, inactive tabs are transparent and the desktop can be seen:
![selection_001](https://user-images.githubusercontent.com/422013/29022484-68774ccc-7b61-11e7-86d2-9a87281679e5.png)

Also, the top and bottom of the tabs have more padding than is necessary in my opinion (but this may be by design).

[2017-08-07 11:05] Pshemas opened #1052 "Can you set Tilix icon in top left corner of the top bar?"
I'm running Tilix on Centos 7 (ver 1.6.4 , thx to ivoarch_Tilix COPR repo). Is it possible to set Tilix to use system theme icon in top left top bar menu instead of default one? It is a minor annoyance, but I simply can't unsee it :D.
![tilix_toplefticon](https://user-images.githubusercontent.com/6144330/29024164-04f021a0-7b71-11e7-9df1-d283a8eb247a.jpeg)

[2017-08-07 12:32] gnunn1 commented on #1050
I assume this is under Wayland, any difference in X11? Also if you run tilix from a terminal in quake mode (with all other tilix instances closed) are any warnings or errors shown on the command line.

I'll download Fedora 26 and test it in a VM as well.

[2017-08-07 12:58] gnunn1 commented on #1052
Are you saying that Tilix is showing the icon whereas other aplications like gedit are not?

It's usually controlled by the gnome tweak tool in the Top Bar section, there is an option called "Show Application Menus" that controls it for all applications.

[2017-08-07 13:00] gnunn1 commented on #1049
In the Tilix profile that is being used, is the option "Rewrap on resize" under Text Appearance enabled?

[2017-08-07 13:09] bil-elmoussaoui commented on #1052
@gnunn1 I think he means to replace that icon with something else. Sadly this can not be done by the application. It's done by Gtk. I have already reported that upstream to use at least the symbolic icon if found https://bugzilla.gnome.org/show_bug.cgi?id=783217. They're willing to review/accept a patch if anybody has more experience with C/Gtk than me :)
The best behavior would be to be able to s

[2017-08-07 13:31] fbruetting commented on #1050
• With X11, Quake-Tilix opens from the bottom upwards on my second HD screen (my Laptop-internal screen is UHD, maybe because of this or some X11 weirdness).
• If I start the Tilix application via Gnome-Terminal, I don’t receive any output when the system hangs.

[2017-08-07 14:01] gnunn1 commented on #1052
Thanks @bil-elmoussaoui, you are right that there is nothing I can do about that.

[2017-08-07 14:01] #1052 closed

[2017-08-07 14:26] haithcockce commented on #1042
Agreed. To underscore this, I also had my first crash within gnome-terminal within the same function.

I [opened a BZ](https://bugzilla.gnome.org/show_bug.cgi?id=785946) with pango and posting here for posterity in case someone else comes across it.

[2017-08-07 14:34] mozartilize commented on #1049
@gnunn1 thanks, it was uncheck :)

[2017-08-07 14:34] #1049 closed

[2017-08-07 14:41] #1051 closed

[2017-08-07 14:42] gnunn1 commented on #1051
Interestingly the tab size in Ubuntu is inconsistent, compare the tabs in Nautilus versus gedit for example. I've opted to emulate gedit since more people will see that but just a point of interest.

[2017-08-07 15:33] Naatan opened #1053 "Add a way to quickly select bookmarks using keyboard"
At the moment there's no simple way of accessing bookmarks with just your keyboard (that I can find), it would be nice if there was one.

[2017-08-07 15:37] Naatan opened #1054 "Remember last path for open/save sessions"
I have to navigate to the folder with my session files each time I invoke these as it always defaults to my home folder.

[2017-08-07 15:38] gnunn1 commented on #1053
Use the shortcut for the book mark dialog (ctrl-shift-b or whatever you assigned to it), type a few letters of the bookmark you want, hit enter.

[2017-08-07 15:38] #1053 closed

[2017-08-07 15:40] Naatan commented on #1053
Bah, I must be going blind cause I went through the shortcut list twice -.- Thanks!

[2017-08-07 15:42] Naatan opened #1055 "Allow associating sessions with profiles"
It would be nice if I could associate sessions with a profile, so that when a profile is selected it automatically launches these sessions.

My primary use case would be to have Tilix automatically load my default sessions and splits whenever I start it.

[2017-08-07 15:45] gnunn1 commented on #1055
No plans for that, profiles are associated with terminals and not sessions and it would be too complicated to try to this for little benefit IMHO. You can have Tilix automatically load sessions on startup by using the ```--session``` command line option.

[2017-08-07 15:45] #1055 closed

[2017-08-07 15:46] Naatan opened #1056 "Save session doesn't save path for split if a command is running"
* Created a bookmark with command `cd PATH && tail FILE`
* Opened a new session, split the session and ran the bookmark in the second split
* Saved the session
* Opened the session

Both splits are on the same (default) path

[2017-08-07 15:50] gnunn1 commented on #1056
Is the VTE configured correctly (https://gnunn1.github.io/tilix-web/manual/vteconfig/), did you get the warning dialog when you started tilix?

If you open Tilix, cd to a directory and then split the terminal is the new terminal using the same directory as the previous terminal or home? If it's using home your VTE isn't configured correctly, see the link above.

[2017-08-07 15:54] Mentis commented on #917
How about 99%? Is it still causes issues?
Can 99%-100% be added as an option (with warning)?

[2017-08-07 15:55] Naatan commented on #1056
It's using the same directory as the other when I open a split.

It seems bookmarks are unrelated, I can reproduce the issue just by typing `cd PATH && tail -f FILE`, which is an important detail I seem to have left out before; the `-f` switch.

[2017-08-07 15:58] gnunn1 commented on #917
@Mentis Sorry, I'm not changing it since I'm the one that has to deal with bug reports about it :)

[2017-08-07 16:00] gnunn1 commented on #1056
I understand now, unfortunately it's not something that can be fixed because the command needs to end in order for the directory to be reported to tilix. This is because the VTE uses the PROMPT_COMMAND to pass it up to the terminal so it requires the prompt to appear after the directory change.

[2017-08-07 16:00] #1056 closed

[2017-08-07 16:00] Naatan commented on #1056
Alright, thanks for explaining.

[2017-08-07 16:35] gnunn1 commented on #1050
I just tried in a Fedora 26 VM and it is working fine for me here unfortunately. If you disable one of the screens does it make any difference, just wondering if it is related to the layout somehow.

[2017-08-07 18:54] fbruetting commented on #1050
Ok, now it get’s weird. If I disconnect my external screen, I get it to work properly. I connected my screen again, ran `tilix --quake` in Gnome Terminal and it worked with two screens, too. But then I tried a second time and Gnome shell was blocked again.

Plus, now my keyboard shortcut Ctrl+T opens tilix (normal mode) with about 20 seconds delay. If I start Tilix right out of the applications ov

[2017-08-07 22:01] gnunn1 commented on #1050
I'm not sure if there is much I can do to resolve this, I just a my multi-monitor setup on my Arch install with a 4k laptop screen and normal dpi external monitor and it worked fine under both Wayland and X11 other then a positioning issue I need to address. No crash of gnome shell though.

Debugging gnome-shell itself looks to be a bit of a monster.

Anyone else on fedora 26 having this issue?

[2017-08-07 22:46] #1054 closed

[2017-08-07 22:47] #937 closed

[2017-08-07 22:49] gnunn1 commented on #937
I've enabled this feature by default, let me know if there are any issues.

[2017-08-07 23:10] alex285 opened #1057 "tabs size is too big"
can it be reduced?
![tabs-size](https://user-images.githubusercontent.com/11244308/29049454-b0c0d8ea-7bde-11e7-8152-fdc1813a65bc.png)

on image is compared with Nautilus and Adapta Nokto Eta, but i can reproduce with Adwaita too

[2017-08-07 23:13] gnunn1 commented on #1057
It already was for Ubuntu so hopefully it should work on other themes, see #1051. Try updating the source and rebuilding to see if it helps, note it depends on CSS in the resource file so you can't just compile the binary, you need to install the resource file as well.

[2017-08-07 23:47] alex285 commented on #1057
what you mean install the resource file? it is installed
should i do something with the css files?

[2017-08-07 23:48] gnunn1 commented on #1057
Just run ```sudo ./install.sh```

[2017-08-07 23:52] alex285 commented on #1057
how i could run Tilix without sudo ./install.sh? :)

[2017-08-07 23:56] alex285 commented on #1057
did you try with Adapta?
when i said i can reproduce with Adwaita, it was my bad. the difference is like 2-3 pixels really

[2017-08-07 23:58] alex285 commented on #1057
@gnunn1  basically i think it is Adapta issue. keep trying with other themes seems okay

[2017-08-08 00:33] alex285 commented on #916
still broken on 17.10 and and Staging PPA

[2017-08-08 01:33] jbicha commented on #916
@alex285 The Ubuntu 17.10 tilix package should work. If it doesn't, file a bug with Ubuntu.

[2017-08-08 01:41] alex285 commented on #916
@jbicha if we compile from source isn't working. last time i tried 2 days ago

[2017-08-08 01:48] alex285 commented on #1057
basically Adapta needs something like that
[code]
can we have specific styles for themes like: `tilix.Adapta.css`? i can PR if you want me, since i use both Adapta and Tilix from source

[2017-08-08 01:50] gnunn1 commented on #1057
There's already css for specific themes, see data/resources/css

[2017-08-08 01:54] alex285 commented on #1057
@gnunn1 it only needs to add Adapta on `tilix.gresource.xml` and `css/tilix.Adapta.css` ?

[2017-08-08 01:56] gnunn1 commented on #1057
That should be it, the code loads the case with the same name as the theme.

[2017-08-08 01:57] alex285 commented on #1057
@gnunn1 cool! i will try that

[2017-08-08 02:24] alex285 commented on #1057
@gnunn1 that seems to work
https://github.com/gnunn1/tilix/pull/1058

however i found more broken things, like the notifications on tabs

[2017-08-08 06:41] cj-sv opened #1059 "Context menu is clipped and only shows within the application."
Ubuntu GNOME 17.04

![image](https://user-images.githubusercontent.com/11567756/29059285-67bf1792-7c47-11e7-82a0-bd34ee288a19.png)

![image](https://user-images.githubusercontent.com/11567756/29059319-8e84bf8a-7c47-11e7-88cf-ce973d3e8c28.png)

[2017-08-08 07:08] alex285 commented on #1057
it is fixed upstream on Adapta!

[2017-08-08 07:08] #1057 closed

[2017-08-08 07:33] gnunn1 commented on #1059
That's a limitation of popovers under X11 and there's nothing I can do about that. However I should look at moving a few more items in sub-menus to reduce the size particularly when running without  terminal titlebars where this is more likely to occur.

[2017-08-08 08:00] russel opened #1060 "Transparent mode?"
When running on Xorg, Devilspie2 can be used to make all windows a bit transparent. On Wayland and Xwayland this fails. Gnome Terminal on Fedora Rawhide has a transparency option, so terminals can be part transparent on Wayland. Debian Sid appears to have just switched from Xorg to XWayland as the default system. However the Debian Gnome Terminal has no transparency option.

If Tilix had a transpa

[2017-08-08 08:09] russel commented on #1060
OK, found the tick box. Transparency on.

[2017-08-08 08:09] #1060 closed

[2017-08-08 08:40] russel opened #1061 "Debian Sid terminal size not right"
I have set the terminal size to 80x24, but it is coming up at 87x27.

[2017-08-08 12:18] Anton-Latukha commented on #917
Some supplementary info:

How to determine window manager. Or at least desktop environment. It is possible to utilize `XDG_CURRENT_DESKTOP` for that. From what I see most graphical environments and distributions use that variable.

There are also other variables that was invented by DEs:
https://superuser.com/questions/1074068/what-is-the-difference-between-desktop-session-xdg-session-desktop-and-

[2017-08-08 12:34] gnunn1 commented on #1061
Are you using Tilix from the debian package or building from master? There were some issues in the past with this but they have been sorted out the last few versions as far as I am aware. On my system 80x24 works fine.

Also, are you running Gnome or some other window manager?

[2017-08-08 13:00] bil-elmoussaoui commented on #957
I'm going to work on this today and create a PR; @gnunn1 if you're willing to create a new release before can you please delay it a bit so we can have a working Nautilus plugin? Thanks

[2017-08-08 13:02] gnunn1 commented on #957
I'm not planning on pushing out a new release for a couple of weeks, the tabs and process monitoring stuff needs some testing.

[2017-08-08 13:03] russel commented on #1061
Debian Sid currently has Tilix 1.6.4 which is the version I am using from the package. Yes Gnome 3.

[2017-08-08 13:05] gnunn1 commented on #1061
Can you post the output of ```tilix --version```, might be a VTE issue since it does the actual sizing.

Also, if you go bigger, like 90 x 30, does that work accurately? Just wondering if it's hitting a size constraint for some reason.

[2017-08-08 13:09] russel commented on #1061
[code]

[2017-08-08 13:18] russel commented on #1061
I tried setting 90x30 and got 95x33.

[2017-08-08 13:22] gnunn1 commented on #1061
Thanks, that sounds like a problem with VTE but yours is pretty recent and should be fine. I'm on 0.48 myself.

I'll do some thinking and check some of my VMs to see if there is a similar problem in any of them.

[2017-08-08 13:56] gnunn1 commented on #1059
I'm thinking move ```Show File Browser...``` into ```Other``` and create a new submenu called ```Assistants``` where the Password and Bookmark stuff would be moved into.

[2017-08-08 14:17] gnunn1 commented on #1061
Ubuntu 16.04 works fine, however Fedora 26 has the same issue. Interestingly it is using the exact same stack I am in Arch except I have ```GTK Version: 3.22.18``` and in Fedora it is ```GTK Version: 3.22.17```.

[2017-08-08 14:19] jbicha commented on #916
@alex285 Please use the Ubuntu patch if you want to build this on Ubuntu! :smile:

[2017-08-08 14:40] gnunn1 commented on #1061
So I tried terminator and xfce4-terminal as well on Fedora 26 and they have the same issue as Tilix, looks like something is broken in VTE or GTK for that version. The reason gnome-terminal works is because they switched to calculating the sizing themselves instead of relying on VTE to do it as a convoluted way to fix geometry handling versus the simpler way Tilix does it.

Can you try xfce4-termi

[2017-08-08 14:43] f2404 commented on #1061
Are Fedora 26 and Debian Sid systems running wayland or X?

[2017-08-08 14:46] gnunn1 commented on #1061
@f2404 Good point, I'm so used to Debian/Ubuntu not using Wayland that I didn't even think of it. Fedora 26 is on Wayland, as soon as I switch to X11 it works fine. @russel can you confirm on your side?

[2017-08-08 14:48] f2404 commented on #1061
@gnunn1 If something that should be working doesn't work, I first think wayland :)

[2017-08-08 15:08] russel commented on #1061
I generally use Wayland on Fedora Rawhide and Xorg on Debian Sid. However Debian Sid just switched to defaulting to Wayland so I am using Wayland – hence the need for Tilix since Debian Gnome Terminal doesn't have transparency unlike Fedora Gnome Terminal.

I will be using Xorg for presentations though as a crucial bit of software doesn't work on Wayland.

I'll check tomorrow to see if I can show

[2017-08-08 17:53] #1059 closed

[2017-08-08 19:32] simonwiles commented on #944
this was fixed in a previous version, but after an update it seems to have resurfaced?

[code]

[2017-08-08 21:47] fbruetting opened #1062 "Tab-sidebar with previews"
I use Firefox with the Tab Center extension. There the sidebar shows previews (like the current Tilix-sidebar does, but permanent visible) until the list gets full – then the tabs are scaled and show only the title and an icon – without the preview. Here this behaviour is shown on the left side:

![](https://www.soeren-hentzschel.at/wp-content/uploads/tab-center-3.png)

Could this behaviour be imp

[2017-08-08 22:37] fbruetting commented on #1050
So it seems to be an issue of Wayland or something like that. We can wait and check this behaviour at a later point in time?

[2017-08-08 22:52] fbruetting opened #1063 "Color-coded special characters"
I just had an issue with a CLI program, which – I first thought – is showing misbehaviour. Then I found out, that an ampersand inside an argument (an URL in this case) led to the shell altering the argument, before it was passed to the program. Is it therefore possible to color-code all special characters in the prompt? Like dyeing them red or anything like that. Or has this to be done by the shel

[2017-08-09 00:12] gnunn1 commented on #1063
Unfortunately this would need to be done by the shell or the program itself.

[2017-08-09 00:12] #1063 closed

[2017-08-09 00:14] gnunn1 commented on #1062
I had considered a similar solution and it was discussed on the Improve UI issue. The basic problem is that making the sidebar permanently displayed as significant challenges in generating thumbnails in near real-time. Additionally, the compressed view which I also considered was feeling like too much like tabs that I might as well of just included tabs so that's the direction I went.

I appreciat

[2017-08-09 00:14] #1062 closed

[2017-08-09 00:17] gnunn1 commented on #944
@simonwiles It was made optional since it seemed to be disliked by many. You can turn it on in the General options under Behavior, ```Save and restore window state```.

[2017-08-09 00:33] simonwiles commented on #944
So I can -- thanks :)

[2017-08-09 01:19] OriginalFannibal commented on #1050
Not at all.

[2017-08-09 05:27] iacopodeenosee opened #1064 "tilix not start after upgarde gtkd"
hi, i few days ago i upgraded gtkd at latest version (3.6.6) and after that tilix no start anymore, here the console output:
[code]
i think the problem is gtkd upgarde because there were no other changes in the system, other system info:
[code]

[2017-08-09 05:33] gnunn1 commented on #1064
Please open a bug report with the package rather then here as I do not manage tilix packaging.

[2017-08-09 05:33] #1064 closed

[2017-08-10 07:36] s4n-gt commented on #937
I think it is more than enough.

I have built and tested https://github.com/gnunn1/tilix/commit/dd70121137533daf8d00eba5a24a6dde0c9e77c3 on ubuntu 16.04 (I had to install `libx11-dev` manually)

I have ran this code

[code]

and title is looking like this.

![tilix](https://user-images.githubusercontent.com/28922018/29158193-ed575466-7dcb-11e7-8e85-2536a0335fc0.png)

It is not changing. It just ta

[2017-08-10 12:28] hgaiser opened #1065 "Window state restoring"
I was about to make an issue that since the latest update of Tilix, my window state is not restored, but then I saw the changelog and noticed an option was added to either save the window state or not. (* Added option to disable saving/restoring window state between invocations)

I decided to make an issue anyway :p but it is more of a suggestion to make the default behaviour of this option reflec

[2017-08-10 13:18] gnunn1 commented on #1065
It was actually a very recent feature that was generating quite a few complaints, hence why I elected to leave it off by default. I think it's one of those cases where 50% of people are not going to like the default regardless of what I pick.

[2017-08-10 13:18] #1065 closed

[2017-08-10 13:49] hgaiser commented on #1065
Very true :) I didn't know it was a new feature, thats why I suggested to keep the old functionality. If it generated a lot of complaints then I leave it up to you on what the default should be. I am one of those persons who likes this feature (on) at least ;p

[2017-08-10 18:36] alex285 opened #1066 "changing tab with mouse doesn't give focus to terminal"
To reproduce:

1. Open Tilix (obviously)
1.1 VTE has focus now to type
2. Open a new tab either with "+" button or with Alt+Ctrl+t
2. 1 VTE again has focus
3. Switch with mouse to the previous tab

Outcome: VTE hasn't focus and you need either to click on it, or use arrows

Expected behavior: the VTE should get focus. if more than one (eg split) the last focused view before change tab, should rega

[2017-08-10 19:34] gnunn1 commented on #937
It doesn't keep track of children of children, you are running a python script with wget embedded in it hence why python is showing. If you run wget directly that should as well.

How does iterm2 handle it?

[2017-08-10 19:49] aleroot opened #1067 "Debian package not available"
The debian package is not available, is there a 64bit debian package ?

even the 32 bit package on GitHub home page isn't working.

[2017-08-10 20:41] gnunn1 commented on #1067
Tilix is available for some versions of Debian as per here:

https://packages.debian.org/search?keywords=tilix

[2017-08-10 20:41] #1067 closed

[2017-08-10 21:56] randy3k opened #1068 "Feature request, support send text command line action"
Something like `tilix -a send_text "echo hello world"` would send the echo statement to the active pane. It would be useful for other GUI programs to interact with tilix.

[2017-08-10 21:59] f2404 commented on #1068
You know you can `echo "hello world" > /dev/pts/x` where x is the terminal number?

[2017-08-10 22:08] gnunn1 commented on #1068
@f2404 I learned something new today, thanks!

@randy3k This would be covered by the existing open issues for a scripting capability and d-bus support, I don't plan on making it available via a command line option.

[2017-08-10 22:09] f2404 commented on #1068
@gnunn1 You're welcome, I learned it recently myself :)

[2017-08-10 22:10] randy3k commented on #1068
But it requires capture the device number of the active pane at the first place. May be tilix can return some related info of the active pane?

[2017-08-10 22:12] gnunn1 commented on #1068
@randy3k I'm not saying that is the way to go, just that it's a neat thing I didn't know about. As mentioned in my comment a scripting capability and/or a d-bus api would be the way to implement this.

[2017-08-10 22:12] #1068 closed

[2017-08-11 03:36] harshavardhana opened #1069 "Off topic what is the bash-prompt being used in the example screenshots?"
Can you paste your .bashrc PS1, PROMPT_COMMAND somewhere?  :smile:  - looks pretty cool i must say!!

[2017-08-11 05:38] s4n-gt commented on #937
Not sure about iterm2 (I haven't used it),
I found it here https://bbs.archlinux.org/viewtopic.php?id=222054

I have used this feature on ComEmu (on windows).
Here is the implementation

github.com/Maximus5/ConEmu/blob/bdb3552bc95693413edfdb5f1728cc2e68376b0f/src/ConEmu/RealConsole.cpp#L8171

and usage

https://github.com/Maximus5/ConEmu/blob/bdb3552bc95693413edfdb5f1728cc2e68376b0f/src/ConEmu/Sta

[2017-08-11 14:31] AnwarShah commented on #916
@jbicha Which ubuntu patch should I use if I want to use tilix in 17.04 and keep gnome-terminal 3.24 installed (from staging ppa)

[2017-08-12 00:16] gnunn1 commented on #1069
It's powerline.

https://powerline.readthedocs.io/en/latest/

[2017-08-12 00:16] #1069 closed

[2017-08-12 00:21] harshavardhana commented on #1069
Cool figured it out anyways.. Thanks

[2017-08-12 13:59] #1066 closed

[2017-08-12 14:07] gnunn1 commented on #1061
It's always fun when you go to file a bug report you find you've already done it, apparently my memory is shit:

https://bugzilla.gnome.org/show_bug.cgi?id=779572

Closing this issue since it is in upstreams hands to fix.

[2017-08-12 14:07] #1061 closed

[2017-08-12 14:16] gnunn1 commented on #937
Sorry I don't code in C++ and I'm not interested in trying to decipher what they are doing, can you just write out a couple of paragraphs with regards how you think the feature should behave please.

[2017-08-12 15:04] alex285 commented on #916
@jbicha  yes what patches? if you mean to use the PPA by @hotice, my question how we can build and run it from sources in Ubuntu with Ubuntu VTE

@hotice or we can just use the VTE from that PPA?

[2017-08-12 23:25] ArthurZ opened #1070 "Unable to install on Ubuntu 14"
I am getting error
W:Failed to fetch http://ppa.launchpad.net/webupd8team/terminix/ubuntu/dists/trusty/main/binary-amd64/Packages  404  Not Found
so unable to install

[2017-08-13 01:32] gnunn1 commented on #1070
That version of Ubuntu is too old, the webupd8 PPA only supports 17.10, 17.04, and 16.04 as per the package description here:

https://launchpad.net/~webupd8team/+archive/ubuntu/terminix

Note I do not do the packaging, if you want to follow up on this please open an issue against the package in launchpad directly.

[2017-08-13 01:32] #1070 closed

[2017-08-13 12:34] alex285 opened #1071 "Emoji Widget Picker support"
GTK3 added an emoji widget, and it would be nice to had this on Tilix VTE titlebar, so we can use it on chat apps or anywhere else

![gtk3-widget](https://user-images.githubusercontent.com/11244308/29249643-572c8dee-803c-11e7-9c13-36306f1fe572.png)

the emojis are Noto and are supposed to be full color, but here im missing Cairo patches

The GTK commit
https://git.gnome.org/browse/gtk+/commit/?id=

[2017-08-14 02:30] ArthurZ commented on #1070
OK, thanks, I think I should since I cannot upgrade the OS, now I wanted to install it on another machine which is Centos 7.
The package notes says:

Author who?

[2017-08-14 02:33] gnunn1 commented on #1070
No idea, like I said I don't do the packaging. I would suggest opening an issue with the package. Having said that though installing tilix should be the same as any other COPR.

[2017-08-14 02:44] bil-elmoussaoui commented on #1070
@ArthurZ the gtk version shipped with Ubuntu 14 is too old(3.10 or 3.12, can't remember). The application uses gtk.headerbar which is a widget introduced on gtk 3.14.

[2017-08-14 09:01] mistersister opened #1073 "Tab renaming"
Hello,
when you change the title of a tab, it wont refresh until you also edit the title of the terminal.

This is happening in Arch running xfce 4.12 and Tilix version: 1.6.5-0.0.2 (tilix-git from AUR).

[2017-08-14 09:55] brndd opened #1074 "Cannot unbind keyboard shortcuts"
I'd like to remove some, but not all, of the existing keyboard shortcuts, but there does not seem to be any way to do this in the settings dialog.

A workaround I found was binding each undesired action to the same key, clicking "Ok" on the prompt to unbind the existing action every time, then finally rebinding some desired action to the same key to get rid of the final undesired action, and then

[2017-08-14 12:00] gnunn1 commented on #1074
In Preferences | Shortcuts click on the shortcut you want to remove and hit the backspace key, the shortcut should now show ```disabled```.

[2017-08-14 12:00] #1074 closed

[2017-08-14 17:21] #1073 closed

[2017-08-14 18:36] s4n-gt commented on #937
I have sent a mail to the author of ConEmu. so, we can wait for it.

[2017-08-14 18:40] gnunn1 commented on #937
I might be misunderstanding here but all I'm looking for is a brief explanation of how you want this feature to work from a user perspective, I don't need to understand ConEmu's implementation of it. From my perspective the feature works as intended showing the name of the current process. However it sounds like you had a different expectation, if you briefly talk about the use case you are lookin

[2017-08-15 03:47] samr28 opened #1075 "Dark theme doesn't seem to work."
So I opened the preferences and clicked on Appearance on the side bar. I then switched Theme to Dark and restarted the app. I tried restarting with the quit button in the top menu, quitting by right clicking on the taskbar, and the quit button in the corner. Each time when I repoen, it still has the light theme. Please let me know any logs or other info that I can provide to help diagnose this iss

[2017-08-15 05:14] step21 opened #1076 "Long delay when opening in quake mode"
Since a recent update (probably) tilix takes forever to show up from quake mode, to the point of being unusable. I didn't measure super accurately but it is approximately almost 30 seconds. As a result, I basically had to stop using quake mode.
This is on Tilix 1.6.4 installed on Ubuntu 16.04.2 running under Unity with Gtk 3.18.9

[2017-08-15 10:21] mlcdf opened #1077 "I've found the terminal of my dreams!"
Hello,

I've been using Tilix for a month of so, and I'm completely in love with this terminal emulator.

 Thank you. :heart:

![screenshot from 2017-08-15 12-20-37](https://user-images.githubusercontent.com/9364931/29312064-30e9fcd8-81b4-11e7-9ca9-afe0fa3a85e0.png)

[2017-08-15 10:39] gnunn1 commented on #1077
Thanks, I appreciate the kind words.

[2017-08-15 10:39] #1077 closed

[2017-08-15 10:41] gnunn1 commented on #1075
Your GTK theme needs to support the dark variant, if you switch the theme to Adwaita does it work?

[2017-08-15 10:43] gnunn1 commented on #1076
When you say recent update, do you mean an update to Tilix or a recent update in Ubuntu? Off hand I'm not sure what the problem is, I'll try it out on a local 16.04 VM.

[2017-08-15 15:00] s4n-gt commented on #937
[from arch forum](https://bbs.archlinux.org/viewtopic.php?id=222054)

current implementation fulfil this requirement. but title bar doesn't change on my build. may be unity specific issue or building error. process variable behave like a constant. It only shows the name of the command (`not process ` that we see in task manager) which it finds at the time of setting.

even after fixing this proble

[2017-08-16 13:00] alex285 opened #1078 "Cursor gets invisible outside of context menu"
not sure what i updated and that started to happen
https://www.youtube.com/watch?v=_E13G6M8Vyc&feature=youtu.be

[2017-08-16 13:05] alex285 opened #1079 "New tab, not new session"
when we use Tab system, the menu on appMenu should say "New Tab" instead of "New Session"

![tilix-session](https://user-images.githubusercontent.com/11244308/29364540-7bef16d0-829c-11e7-8b9a-477984c0824e.png)

and actually it makes more sense this option to be totally removed. There is a "Plus" icon to open a new Session or a New Tab on headebars

[2017-08-16 13:23] gnunn1 commented on #1079
The Session terminology is all over the place (preferences, documentation, etc). For consistency I'm leaving the session terminology in ace.

[2017-08-16 13:23] #1079 closed

[2017-08-16 21:42] egmontkob commented on #1078
Interesting, it also happens if you have "Autohide the mouse pointer when typing" disabled. Could you please check that Tilix is not toggling the API setting back and forth by any chance when opening the menu?

I'm wondering if I could have broken this with https://git.gnome.org/browse/vte/commit/?id=776823d...

[2017-08-17 03:32] alex285 commented on #1078
@egmontkob i cant check right now, but good call! i was using tilix-vte from AUR, but that was breaking GNOME Terminal, so i used upstream VTE! that was my change!

[2017-08-17 06:28] step21 commented on #1076
It could be either, really. I cannot pinpoint a specific update, as i didn't react at first, thinking it was maybe just some other apps slowing down the Desktop Environment/Window Manager. But then as it persisted, I thought it might have been an update, though really no idea which one. For Ubuntu, if anything it could only have been a security update or similar, as they do not really do version u

[2017-08-17 12:37] gnunn1 commented on #1078
I cannot reproduce this on Arch. The mouse auto hide is only called when the preference is changed, it's not being toggled or used otherwise.

[2017-08-17 12:37] gnunn1 commented on #1075
No response from OP, closing issue.

[2017-08-17 12:37] #1075 closed

[2017-08-17 12:39] bil-elmoussaoui commented on #1078
I can't confirm this on Arch Linux. Using Gnome Testing & the testing repos too. You can see that if you split the terminal horizontally or vertically, then right click to open the menu move your mouse into any position on the VTE widget and the mouse will be hidden. if you move the mouse to the sub-terminal header it will be shown again.

[2017-08-17 13:15] gnunn1 commented on #1076
So I tried install Tilix 1.6.4 from the webupd8 PPA in Ubuntu 16.04 VM and it worked fine for me, no issue at all. If you run tilix from gnome-terminal, i.e. ```tilix --quake```, without any other instances of tilix's running do you still see a delay? Is anything logged to stdout?

[2017-08-17 16:30] alex285 commented on #1078
@gnunn1 @bil-elmoussaoui  did you test with VTE 0.49.1

[2017-08-17 16:36] alex285 commented on #1078
also it happens with anything it steals the focus from VTE, not just the context menu. for example the About Dialog, or the three lines menu

[2017-08-17 16:44] bil-elmoussaoui commented on #1078
I'm using `vte3 0.49.1-1` too

[2017-08-17 19:01] defenestration opened #1080 "Move Terminal to different Session/Tab"
I am not finding a way to move a terminal to a different session.  I thought i would find it under the dropdown for the terminal, not seeing it though.

Didn't see this requested elsewhere either, so chiming in with it!

[2017-08-17 19:19] egmontkob commented on #1078
@bil-elmoussaoui Could you please clarify your comment? You say "I can't confirm" and later on "and the mouse will be hidden" which sounds to me that you _can_ confirm. Or what am I misunderstanding?

[2017-08-17 19:26] gnunn1 commented on #1080
It's a bit clunky right now, you need to detach the terminal first (i.e. drag it out of tilix and drop it so it makes a new window), switch the session and then go to the previously dropped terminal and drag it where you want it.

I should improve this, I'll leave it open as a todo item.

[2017-08-17 19:38] alex285 commented on #1078
@bil-elmoussaoui i tried on a blank Shell session, same issue. do you use Wayland? im using Xorg

[2017-08-17 19:42] egmontkob commented on #1078
Upstreamed at https://bugzilla.gnome.org/show_bug.cgi?id=786441.

My suspicion was correct, I broke it in the aforementioned VTE change.

(I could test with a kinda randomly chosen older Tilix (namely 3974f2a) - newer ones have problems with the hyperlink feature not yet existing in VTE, and even if I revert that commit, there's some mysterious GTK+ problem.)

Does anyone feel like digging into VT

[2017-08-17 20:03] gnunn1 commented on #1078
Unfortunately I am also short on time these days plus my C-foo sucks, sorry @egmontkob.

[2017-08-17 20:11] bil-elmoussaoui commented on #1078
@egmontkob sorry it was a typo. I meant that I can confirm this too. And sadly i don't have much time to track this down neither :(

[2017-08-17 20:17] egmontkob commented on #1078
Sep 4 is the deadline for the next stable series of VTE. I'll try to find some time for it (I don't particularly care about the development series being broken) – please ping me when this date approaches :)

[2017-08-17 20:30] sarlindo opened #1081 "saved json layouts that contain commands not working."
Tilix Version: 1.6.4
Ubuntu: 16.4

json layout with simple ls and pwd

[code]
if i save this json and load it back with tilix, it won't work.

[2017-08-17 21:38] gnunn1 commented on #1081
In the profile that is being used, you need to go to the Command tab and change the option ```When the command exists:``` to ```Hold the terminal open```. This behavior is identical to gnome-terminal.

[2017-08-17 21:38] #1081 closed

[2017-08-17 22:33] step21 commented on #1076
Mmmh. When I run it just like this it doesn't have a delay. I have it set as a 'start program' in Ubuntu's settings. However maybe it is mentioned somewhere else, as I also noticed that when I kill all of its processes, and then hit the key combination, tilix still starts (after a delay) - which shouldn't happen, right?

[2017-08-18 02:37] gnunn1 commented on #1076
What happens if you setup another program like gedit to start with a hot key, is there any delay.

I also wonder if it's related to DBus activation. In the tilix desktop file, try changing DBusActivatable to false from true, reboot and see if it makes any difference.

[2017-08-18 04:46] step21 commented on #1076
Yeah there is also a delay for gedit. I could not test the dbus thing yet.

[2017-08-18 06:12] egmontkob commented on #1078
I can hardly sleep until I fix whatever I broke... Could you guys please test the patch that I attached to the upstream bug (with both settings of "Autohide the mouse pointer when typing" and all aspects of the cursor, not just this menu bug)?

[2017-08-18 09:53] gnunn1 commented on #1078
Sure, I'll have a look at it over the weekend.

[2017-08-18 12:06] bil-elmoussaoui commented on #1078
@egmontkob Works perfectly fine here with your latest patch. Thanks :+1:

[2017-08-18 12:07] gnunn1 commented on #1076
If you get the same problem with gedit then it sounds more like an Ubuntu issue rather then a tilix issue.

[2017-08-18 16:17] step21 commented on #1076
Yeah, maybe. But there were not really any big updates . :-/ Though no idea to figure out why. Just re-tried guake, with their built-in key combination functionality (not set in unity/gnome settings) the delay doesn't happen. So maybe I'll just use that again.

[2017-08-18 18:57] kronos29296 opened #1082 "Cannot set shortcuts with Tab key in config window"
I tried to set Ctrl Tab and Shift Ctrl Tab to change sessions in the config window but it did not work.
The keys were not captured at all. I had to use dconf to set the shortcuts.

I have installed Tilix version 1.6.4 in Manjaro Linux from AUR.

[2017-08-18 19:59] gnunn1 commented on #1082
Duplicate of #890, unfortunately the GTK shortcut widget doesn't support setting tab.

[2017-08-18 19:59] #1082 closed

[2017-08-18 20:07] gnunn1 commented on #1076
The difference is that Guake manages the hot key itself whereas tilix (and others like xfce4-terminal) relies on the desktop manager. The benefit of the latter approach is that it works under Wayland.

[2017-08-18 23:21] step21 commented on #1076
Sure. But like I said, really no idea how to figure out why this started happening.

[2017-08-19 11:34] KSXGitHub opened #1083 "Ctrl + Tab to switch between sessions"
Just like <kbd>Alt + Tab</kbd>/<kbd>Super + Tab</kbd> to switch between application windows in desktop and <kbd>Ctrl + Tab</kbd> to switch between tabs in browser, Tilix should have a <kbd>Ctrl + Tab</kbd> for sessions. Right now, Tilix has <kbd>Ctrl + Alt + (N)</kbd> to switch to a specific `n`th session but no option to switch to next/prev session.

[2017-08-19 11:46] bil-elmoussaoui commented on #1083
Duplicate of #890

[2017-08-19 15:01] sarlindo commented on #840
I just downloaded installed the newest version to tilix, where do I find this option for the "enter" key to be sent automatically after selecting a bookmark? Can seem to find that option.

[2017-08-19 16:10] sarlindo commented on #840
@gnunn1 never mind, I now see the checkmark box below the bookmark window.

[2017-08-19 16:23] samr28 commented on #1075
For theme, the only options that I have are Light or Dark. I don't have an Adwaita option. From what I read online, GTK is for Gnome and I'm using KDE. Not sure if there's something that I'm missing but my KDE is currently themed with the dark theme.

[2017-08-19 16:26] samr28 commented on #1075
Here's a screenshot:
![image](https://user-images.githubusercontent.com/3688992/29488454-2222f068-84d1-11e7-9a99-632c60a86eeb.png)

As you can see, I have the dark theme selected as well as a background image which both don't show up. I did quit and restart but that didn't seem to work.

[2017-08-19 17:23] phw commented on #1075
@samr28 As written in the original answer whether the dark theme is available or not depends on the GTK theme you use. The GTK theme is not something that is set in Tilix settings, but globally. AFAIK KDE Plasma provides options for setting the GTK theme, too.

[2017-08-20 11:09] sogalboogalsky opened #1084 "unsafe paste alert seems broken in 1.6.4"
Hi,
I have Tilix 1.6.4 installed in Fedora 26 (gtk 3.22.17)(using bash) + openSUSE Tumbleweed (using zsh), both with GNOME 3.24, as well as Tilix 1.6.4 compiled from master.
In each of them I can't obtain a warning when pasting something like:
`sudo ./install.sh`
Of course the appropriate option is active and correctly shown in dconf (_unsafe-paste-alert == true_).
Am I missing something or expect

[2017-08-20 18:34] gnunn1 commented on #1084
The paste needs to be terminated by a linefeed in order for the dialog to display, the warning is meant for cases where you paste something that will be executed immediately. Lines that are just pasted but don't execute give you the opportunity to review them first before pressing the enter key.

[2017-08-20 18:34] #1084 closed

[2017-08-20 18:35] gnunn1 commented on #1083
There are shortcuts available for Previous/Next Session, unfortunately gnome doesn't allow you to use Tab when assigning shortcuts so you need to do it in dconf. See the bug report @bil-elmoussaoui linked to for more information.

[2017-08-20 18:35] #1083 closed

[2017-08-20 18:41] gnunn1 commented on #1078
Works for me as well.

[2017-08-20 18:41] #1078 closed

[2017-08-20 18:42] gnunn1 commented on #1076
That's why you should open a bug with Ubuntu, they know better then I do what's changed recently. Post a link to the bug report here and I'll keep an eye on it.

[2017-08-20 18:55] gnunn1 opened #1085 "Assistants"
I'm looking at adding a new feature like iterm2's toolbelt, you can see a video of it here (https://www.youtube.com/watch?v=ZwlcnhsNgaE). The idea is to have a variety of tools/assistants always available when working with terminals. I'd be looking at incorporating the following assistants:

a. Paste History
b. Command History (only if Fedora notification patch is being used)
c. Manage Processes (

[2017-08-20 19:34] sogalboogalsky commented on #1084
Oh... shame on me ! I was writing a tutorial about Tilix' advanced features and tried a lot of things to get it working.  Seems that I missed coffee this morning !
Anyway, thanks a lot !

[2017-08-20 20:03] phw commented on #1083
@gnunn1 Setting

    craShortcut.setProperty("accel-mode", GtkCellRendererAccelMode.OTHER)

in https://github.com/gnunn1/tilix/blob/master/source/gx/tilix/prefeditor/prefdialog.d#L727 would allow setting <Tab>. But I don't fully understand the difference to `GtkCellRendererAccelMode.GTK` and why some keyboard shortcuts are considered invalid GTK accelerators, so this might have some downsides?

[2017-08-20 20:38] sogalboogalsky commented on #1085
I use **a lot** bookmarks and passwords dialogs as they are, opening them through keyboard shortcuts. Shortcuts are a very handy way to manage and use them fast, so unless you plan to keep the keyboard shortcuts available to access them in the embedded pane, it is not something I would use myself.
Paste history can be nice as a complement of a desktop clipboard manager (like GPaste).
Having the pa

[2017-08-20 20:41] egmontkob commented on #1078
Okay, committed.

Just for the record: GNOME Terminal uses the standard right-click menu widget (whatever it's called) which has its own X window (might stick out from the terminal window) and grabs the X cursor, overriding its appearance for the entire display.

Tilix uses a popover widget which isn't a standalone X window, just Gtk+ drawing stuff in the main window, and does not grab the cursor

[2017-08-21 00:25] step21 commented on #1076
Ok. Report is here https://answers.launchpad.net/ubuntu/+question/656599

[2017-08-21 20:00] mhalano opened #1087 "Dynamic tab title for SSH sessions"
Konsole has a nice feature (which I couldn't find in any other terminal emulator) which shows the SSH IP address on tab title, so I always know what server I'm working on. On Tilix (and GNOME Terminal) title is just the local user and local machine name, which isn't useful when working on a remote machine.

[2017-08-21 20:07] f2404 commented on #1087
https://unix.stackexchange.com/questions/14113/is-it-possible-to-set-gnome-terminals-title-to-userhost-for-whatever-host-i

[2017-08-21 20:43] mhalano commented on #1087
Nice, but doesn't work. The workaround on GNOME Terminal using "echo -ne "\033]0;${1}\007"..." works, but just on GNOME Terminal.

[2017-08-21 20:49] phw commented on #1087
If trigger support is available you can set the username and hostname variables with them according to https://github.com/gnunn1/tilix/wiki/Triggers

But actually I never got this working for me here :(

[2017-08-21 20:49] gnunn1 commented on #1087
Tilix supports this already via the ${hostname} variable used in titles. However for this to work for remote systems, the VTE script has to be sourced in the remote system.

Alternatively you can use a trigger for this if you are using a tilix patched version of the VTE. This is what I do, I have a trigger that parses the hostname out of the prompt.

[2017-08-21 20:49] #1087 closed

[2017-08-21 20:51] gnunn1 commented on #1087
The documentation has an example of how to this with triggers.

https://gnunn1.github.io/tilix-web/manual/triggers/

[2017-08-21 20:53] gnunn1 commented on #1087
@phw Are you using the regex from the documentation page or something else?

[2017-08-21 20:56] phw commented on #1087
@gnunn1 The regex on that example is messed up :( I tried this myself by having a set state trigger with the regex `^(.*?)@([-a-zA-Z0-9]*)` and action `username=$1;hostname=$2`, but username and hostname never get set.

On my host systems I have prompts like `user@myserver:~$`, but no luck :(

[2017-08-22 13:01] gnunn1 commented on #1083
Thanks @phw, I'll have a look into this.

[2017-08-22 13:37] kiddick opened #1088 "Is it possible to set ubuntu default terminal style sessions layout?"
![image](https://user-images.githubusercontent.com/9250239/29568130-0c924fb2-8758-11e7-8572-6b75f8b9e521.png)

Something like that..

[2017-08-22 14:16] gnunn1 commented on #1088
Sorry there is no way to have a menubar in tilix.

[2017-08-22 14:16] #1088 closed

[2017-08-22 14:17] gnunn1 commented on #1088
Oh just had a thought, if you are asking for tabs it's been added in Master and I'll push out a new release in a few weeks.

[2017-08-22 14:17] kiddick commented on #1088
Yeah about tabs of sessions within same window.

[2017-08-22 14:19] gnunn1 commented on #1088
You can see a video showing the tabs in action here:

https://www.youtube.com/watch?v=CqCnfIPIFkg

[2017-08-22 14:25] kiddick commented on #1088
Sweet!! Exactly what I need!

[2017-08-22 15:37] nemonein opened #1089 "Can I set a title(Application Title) when Tilix runs?"
Hello.
I'm using Tilix from the PPA(Webupd8) on Kubuntu 17.04.

I would like to set the Application title on my own, like 'Tilix: Ubuntu Server', or 'Tilix: Archi', etc.
I have read #929, and #930, but I'm not sure it's implemented already.

What I want is, something like this. (I know there's no option like --windowtitle.)

```$ tilix --windowtitle 'Ubuntu Server'```

Then, Tilix's application ti

[2017-08-22 17:14] gnunn1 commented on #1089
If you run the helo command:

```tilix --help```

It shows the following as one of the command line switches:

[code]

[2017-08-22 17:14] #1089 closed

[2017-08-22 17:14] gnunn1 commented on #1089
Also, it's not possible to set the application title, just the terminal.

[2017-08-23 08:26] luigimassa commented on #769
Hi guys,
I installed tilix in ubuntu 17.04
But I've problems to save bbokmark

I create a bookmark but when I kill tilix or exit from sessions, bookmarks are no more present in tilix

Can you help me please?
Thanks

[2017-08-23 12:07] gnunn1 commented on #769
@luigimassa Bookmarks are saved in ```~/.config/tilix/bookmarks.json```, do you see a file there? Also, when you say kill tilix I assume you mean it close it normally and not something like ```kill 9```?

[2017-08-23 16:21] luigimassa commented on #769
Hi
thanks to answer me.

The file `~/.config/tilix/bookmarks.json`  don't exist.
I tried to kill tilix to try serch the bug, but tilinx don't generate the file also when I close normally the session of ubuntu or when I shutdown the pc
thanks in advance

[2017-08-23 17:03] doubleloop commented on #187
@gnunn1

Just noticed that gnome builder has a very nice support for this kind of shortcuts (when vim emulation is enabled). IMO it would be a great advantage, you can group logically tilix shortcuts by one prefix without using up the whole shortcut space (conflicts with system shortcuts, terminal apps shortcuts etc).

Below are proposed defaults of the most recently used (in my case) shortcuts:

[2017-08-23 18:30] KSXGitHub opened #1090 "Support commands after '--' argument"
Similar to gnome-terminal support of `--`, the following command should open Tilix and execute `bash -c 'echo hello; read'`

[code]

Tilix does support `-e`/`--command` but it is not as convenient, it is also deprecated by gnome-terminal.

[2017-08-23 18:46] doubleloop opened #1091 "Read-only mode shortcuts, scrolling mode"
After you turn on read-only, it would be cool to allow pager-like shortcuts for example (some subset took from less pager):

| key    |  action            |
| ------ | ------------------ |
| j/k    |  scrolling up/down |
| space  |  scroll down |
| u/d    |  scroll half of the screen (up/down) |
| gg     |  scroll to the top |
| G      | scroll to the bottom |
| /      |  search |

in addition, I

[2017-08-23 19:47] gnunn1 commented on #1090
I think gnome-terminal was a bit hasty in deprecating ```-e```:

https://bugzilla.gnome.org/show_bug.cgi?id=784925

I do not have any plans to support the ```---``` syntax.

[2017-08-23 19:47] #1090 closed

[2017-08-23 19:49] gnunn1 commented on #1091
It's an interesting idea, but I think it would be confusing to users and not intuitive. So sorry, no plans to support this.

[2017-08-23 19:49] #1091 closed

[2017-08-23 20:39] gnunn1 commented on #769
If you run tilix in gnome-terminal, i.e. ```tilix``` without any other instances of tilix running, create a bookmark and then exit are any errors or warnings output to the console?

[2017-08-23 20:40] gnunn1 commented on #769
Also, can you confirm that the folder ```~/.config/tilix/``` exists?

[2017-08-24 04:23] KSXGitHub commented on #1090
@gnunn1

When I make this request, I indeed must assume you didn't plan to. If you meant you don't want to, why wouldn't you? Specifying command after `--` is just more convenient, especially when command has quotation marks in it.

I don't ask to deprecate `-e` anyway

[2017-08-24 06:47] luigimassa commented on #769
Hi,
I tried your suggestions and I found the problem.

 - delete your file ~/.config/tilix/bookmarks.json
 - kill tilix
 - open tilix in quake mode
 - add a bookmarks
 - exite from quake mode
 - kill tilix
 - open tilix in quake mode => there aren't  bookmarks and file bookmarks.json wasn't  created

Now
 - open tilix not in quake mode
 - add bookmark
 - close tilix
 - kill tilix
 - open tilix in

[2017-08-24 06:55] luigimassa commented on #769
ops....
now I have this problem  when I add a bookmark
`(tilix:12700): Gtk-CRITICAL **: gtk_file_chooser_select_filename: assertion 'filename != NULL' failed`

the file `./config/tilix/bookmarks.json` exist

[2017-08-24 13:11] sogalboogalsky opened #1092 "Tilix 1.6.5 (master) crashes with SIGSEGV when closing terminal with Ctrl+D"
Hi,
I experienced this 2 times with Tilix 1.6.5 build from master (to test tabs implementation).
OS : openSUSE Leap 42.3
VTE : 0.44
GTK version : 3.20.10
No Tilix special features

When closing a terminal with **Ctrl + D**, the whole Tilix window (and app) crashes.

`sudo coredumpctl gdb`

provides the following output:
[code]

I have rebuild Tilix with debug symbols so I'll be able to provide mor

[2017-08-24 13:26] gnunn1 commented on #1092
Thanks for reporting this, if you can get a backtrace in gdb that would be awesome.

[2017-08-24 13:33] gnunn1 commented on #769
O'm confused by your steps to reproduce, when you say ```kill tilix``` after ```close tilix``` what exactly are you doing when you kill tilix? Are you existing the terminal by typing ```exit```. If I remember correctly bookmarks get saved when you exit tilix so if you are killing the process that might be causing your issue.

[2017-08-24 13:34] gnunn1 commented on #769
BTW I tested this locally and it seems to be working fine for me when I exit Tilix by typing ```exit``` with only a single terminal open.

[2017-08-24 13:59] sogalboogalsky commented on #1092
Here is the output of **(gdb) bt full**
[code]

[2017-08-24 17:52] gnunn1 commented on #1092
Thanks, I'll have a look over the weekend.

[2017-08-25 15:00] kiddick opened #1093 "Context menu key doesn't work"
I could open context menu using mouse right click. There is should be a way to open it by pressing context menu key

[2017-08-25 18:49] gnunn1 commented on #1093
Thanks, I'll look into it. It's probably because I'm using the popover.

[2017-08-26 01:36] hobbledehoy899 opened #1094 "Tilix is in the Antergos repository but isn't listed on the site."
![screenshot](https://user-images.githubusercontent.com/29778895/29737533-ef227a72-89d4-11e7-9814-4d0fe6309c2f.png)
![screenshot](https://user-images.githubusercontent.com/29778895/29737527-ccff7f58-89d4-11e7-88a9-b0801a67ebc8.png)

[2017-08-26 16:13] daniel-wtd opened #1095 "Tilix Quake renders mid screen"
Hey I'm having the following setup:

Fedora 26
Tilix-Version:  1.6.4
VTE-Version: 0.48
GTK-Version: 3.22.19
Wayland 1.13

The probkem is, taht "tilix --quake" renders in the mid of the screen. Full width, but with with a huge offset on top and bottom. The Window is kind of vertically centered.

Regards,
Daniel

[2017-08-26 16:34] samr28 commented on #1075
Sorry for the delayed response. I checked in KDE and my theme has been set to "Breeze Dark" the whole time. Maybe I'm looking in the wrong place or something.

[2017-08-26 16:54] samr28 commented on #1075
I also can't get the background image to work.
![image](https://user-images.githubusercontent.com/3688992/29743322-43d2319a-8a55-11e7-92bf-9c415ac21707.png)

[2017-08-26 17:04] phw commented on #1075
Is this the Qt (KDE) theme or GTK? The KDE Plasma settings should look something like https://blog.monotok.org/wp-content/uploads/2014/08/snapshot2.png

I know there is a GTK Variant of the breeze theme, don't know if it supports a dark variant, though. Try setting a GTK theme that supports dark theming.

[2017-08-26 17:07] samr28 commented on #1075
oooo. Found it :) I switched from breeze to breeze to breeze dark for my GTK theme. Still not sure about the background image though. Should I make a different issue report for that?

[2017-08-26 18:07] gnunn1 commented on #1075
@samr28 The background picture requires transparency to work, go into the profile and make use the transparency slider and the image should appear.

[2017-08-26 18:09] gnunn1 commented on #1094
What's the link to tilix in the Antergos repository?

Note also you can update this yourself via a PR in the tilix-web repository.

https://github.com/gnunn1/tilix-web/

[2017-08-26 18:11] gnunn1 commented on #1095
Are you using a single monitor or multi-monitor? If it's a single monitor then there's likely nothing I can do about it since Wayland doesn't allow windows to be explicitly positioned. You can try forcing Tilix to use the X11 back-end by doing something like:
[code]
If it's happening in a multi-monitor setup it might be a bug and I can have a look at it.

[2017-08-26 18:25] gnunn1 commented on #1092
Unfortunately I'm not able to reproduce this on Arch. Looking at the stack trace it looks like it is failing when calling the Destroy callback, likely the Terminal one. I don't see anything obviously wrong with it.

What D compiler and version are you using, I've had some oddities with older versions of LDC in the past.

[2017-08-26 18:28] samr28 commented on #1075
Awesome!! Thanks for your help :+1:

[2017-08-26 20:13] daniel-wtd commented on #1095
Thanks a  lot for your fast response.

It is a single monitor (most time).

Have tested the forcing via "GDK_BACKEND=x11 tilix --quake", which is leading to the same result. Will try in the xorg-gnome-session and report back.

[2017-08-26 20:40] #1093 closed

[2017-08-26 23:52] hobbledehoy899 commented on #1094
Here's the link.
http://build.antergos.com/package/tilix

[2017-08-26 23:58] hobbledehoy899 commented on #1094
Would the antergos repository count as Antergos' default repository?

[2017-08-27 00:22] wzrdtales opened #1096 "Color schema switching"
Hey searching for a way to switch the color schema quickly. Is there any possibility yet?

Could not find any hotkey binding for this, but I would like to enter in a different color schema when I enter into vim (I combine the vim colorschema with the console one here though and switching over from solarized dark to a more darker one with opacity).

If there is anything that would work already, ple

[2017-08-27 01:19] gnunn1 commented on #1096
The way this works is to create a separate profile with a different color scheme and then switch between the two as needed. You can then switch between profiles in the terminal title menu using the Profiles menu section.

[2017-08-27 01:19] #1096 closed

[2017-08-27 08:14] wzrdtales commented on #1096
Mh, so the answer is no :(. That I can click around stuff I knew already and I have two profiles, but I want to switch with them without wasting time clicking through interfaces. I.e. hotkey binding, but still thanks, it does not seem to work then.

[2017-08-27 10:05] daniel-wtd commented on #1095
Hmm, in the xorg session it renders correctly top.
As you stated, this behaviour seems to be related to wayland.

[2017-08-27 10:09] daniel-wtd commented on #1076
Same issue can be seen in F26 with Gnome (wayland and xorg) session.

The only index I can see during hitting the shortcut is:
`Aug 27 12:05:16 nb01 org.gnome.Shell.desktop[27446]: Window manager warning: last_user_time (44627450) is greater than comparison timestamp (44627449).  This most likely represents a buggy client sending inaccurat
Aug 27 12:05:16 nb01 org.gnome.Shell.desktop[27446]: Windo

[2017-08-27 12:24] gnunn1 commented on #1095
Do you have a HiDPI monitor, just wondering if that could be a factor as well.

[2017-08-27 12:25] gnunn1 commented on #1094
Merged PR

[2017-08-27 12:25] #1094 closed

[2017-08-27 13:05] daniel-wtd commented on #1095
Dunno if you can call it HiDPI. Its an 13" 1920x1080.

[2017-08-27 13:15] gnunn1 commented on #1095
Sorry, is it using window scaling from the gnome tweak tool or is the scaling using 1:1? Wayland auto-detects HiDPI and sets the scaling factor automatically, just wondering if that could be causing an issue.

[2017-08-27 13:31] daniel-wtd commented on #1095
The windows Scaling and font scaling is set to 1.

[2017-08-27 13:36] gnunn1 commented on #1095
Thanks, unfortunately I don't think there is anything I can do about this.

[2017-08-27 13:36] #1095 closed

[2017-08-27 14:26] daniel-wtd commented on #1095
Not a problem. Even the most awesome terminal emulator for Linux can have some flaws. And maybe we will see improvements going along with wayland upgrades.

[2017-08-27 14:28] daniel-wtd commented on #1085
Can be helpful, as long as it is "out of the way" when unneeded. ❤️

[2017-08-27 22:04] step21 commented on #1076
Thanks, @daniel-wtd - I do not remember seeing this error message with unity - where did you see it? (I am asking because normally when launching tilix from terminal, it does not write output to the originating shell or itself) (And it will prob look a bit different anyway under Unity)

[2017-08-27 22:09] daniel-wtd commented on #1076
just had a look at "journalctl -x"

[2017-08-28 06:28] Venemo opened #1097 "How to load terminal layout configuration on startup?"
I'm new to tilix and I love it so far. (I switched to it from guake.)

I've figured it out how to save and load the current terminal layout, but I couldn't figure out how to load a specific layout config on startup. Also, how to run specific commands in the various sub-terminals? For example in one of them I'd like to have a root shell, on the other one an `octave-cli`, etc. Can I do this with til

[2017-08-28 08:34] sogalboogalsky commented on #1092
I am using dmd 2.073. As I said, I am not able to reproduce this behavior myself each time but this is happening only since I use 1.6.5 and GtkD 3.6.6.
May it be related to an "old" version of Gtk (Leap is still using 3.20) ?

[2017-08-28 17:13] gnunn1 commented on #1097
You can use the command line switch ```---sessions````, i.e.:

[code]
You can specify the command you want to run for each terminal in the session by using the layout options menu item in the terminal title menu.

[2017-08-28 17:13] #1097 closed

[2017-08-29 00:16] pnomolos opened #1098 ""Scroll on output" off, but indicate there is new output"
Would it be possible to have an indicator (perhaps some character after the title) to indicate that more output has been produced if you have "scroll on output" off and have scrolled back in the history?

[2017-08-29 11:49] guillefar commented on #1085
Can also custom commands being added to that?
Terminator has this very useful plugin that allow you to add custom commands that you can insert using the right click menu. Very handy for commands you use a lot, or are hard to remember its syntax.

[2017-08-29 12:11] gnunn1 commented on #1085
@guillefar You can already do custom commands with bookmarks, if it's missing something let me know and I'm happy to have a look.

[2017-08-29 12:15] sogalboogalsky commented on #1085
Le mardi 29 août 2017 à 11:49:53, guillefar a écrit :

You can already use the bookmarks for that purpose (they work for local or
remote path as well as commands).

[2017-08-29 21:03] gnunn1 commented on #1098
I could put something in the terminal title bar like the visual bell. It would be cleared when you scroll to the bottom.

[2017-08-29 21:05] pnomolos commented on #1098
@gnunn1 That's pretty much exactly what I'm thinking of :) I believe that's how iTerm does it.

[2017-08-29 22:50] fbruetting opened #1099 "Wrong size of quake mode with more screens"
I have an HD secondary screen left and an 3440x1440 main screen on the right side, with both screens aligned on the bottom. Opening Tilix Quake on the right screen works fine, but leads to the following artifact when opened on the left screen:

![29847625-f312b71e-8d1c-11e7-84e7-89267b0ddbed](https://user-images.githubusercontent.com/10520767/29847862-07c6922e-8d1e-11e7-91a0-b8df888a62ae.png)

Som

[2017-08-29 23:56] gnunn1 commented on #1099
Are you using Wayland, do you get the same behavior in X11?

[2017-08-30 01:18] Venemo opened #1100 "X errors caused by tilix"
My `journalctl` log has several of these:

[code]
Since it says `Tilix: Def` I assume this is somehow caused by Tilix.

[2017-08-30 01:25] Venemo commented on #1097
@gnunn1 Awesome, thank you! This is even more convenient to set up than guake! :) I love tilix!

[2017-08-30 02:16] gnunn1 commented on #1100
Note this should only be happening in Wayland. I'll have a look over the weekend.

[2017-08-30 14:05] ugoviti opened #1101 "[New Feature] add variable ${sessionNumberTotal}"
Hi,

I found very useful the ${sessionNumber} variable to know what session I running, but for my usage, would be great to have a total session counter also, like ${sessionNumberTotal}, so I can use a Title like this:

${sessionNumber}/${sessionNumberTotal} ${title} ${activeTerminalTitle}

So I can know how may sessions are running inside a single window.

With kind regards

[2017-08-30 14:29] gnunn1 commented on #1092
I have been using tilix pretty much 24/7 as I'm working on some ansible scripts and I had a couple of core dumps during that time so really need to track this down before doing a release. One thing I wonder if it is related to DMD, I've rebuilt my local instance with LDC and testing that out now.

[2017-08-30 14:33] bil-elmoussaoui commented on #1101
Already added in master
see https://github.com/gnunn1/tilix/pull/1072

[2017-08-30 14:59] #1101 closed

[2017-08-31 03:21] soumya92 opened #1102 "Support window size changed signal (SIGWINCH)"
According to libc docs: "This is generated [...] when the terminal driver's record of the number of rows and columns on the screen is changed"

The fish shell uses SIGWINCH to repaint the prompt on resize, so it would be very helpful to have Tilix send SIGWINCH whenever the size of the terminal changes.

[2017-08-31 03:28] soumya92 commented on #1102
Never mind. I see tilix correctly sends the signal to the shell.
Hmm. Looks like the problem is somewhere in my shell configuration.

[2017-08-31 03:28] #1102 closed

[2017-08-31 07:15] mrshpaks opened #1103 "New session does not relaunch ssh connection"
Hi,

I created new session with function added in bashrc, this function opens new **ssh connection** to some host in **new session**. Tilix profile config is set to **hold terminal open** is case command exits, so expected behaviour in case ssh session been disconnected, is to click on button **relaunch** and **restore ssh connection**. But clicking relaunch button just opens my **local home dir**

[2017-08-31 07:43] sogalboogalsky commented on #1092
Thanks for testing that.
I use Tilix everyday 8 to 10 hours and add several crashes like that. Yesterday it did not happened when using Ctrl+D but simply when pointing a terminal with the mouse. Here is the backtrace for this crash:
Core was generated by `/usr/bin/tilix --gapplication-service'.
Program terminated with signal SIGSEGV, Segmentation fault.
#0  0x0000000000f354fe in gc.impl.conservati

[2017-08-31 11:59] gnunn1 commented on #1103
Thanks for the report, this has been fixed in master previously.

[2017-08-31 11:59] #1103 closed

[2017-08-31 12:03] gnunn1 commented on #1092
Version 3.6.6 fixed a memory leak in GtkD, so what we are experiencing now is likely an issue related to certain objects (terminal, VTE and session) being properly freed.

The other change I made is to enable the process monitoring by default. While I don't see anything in the traces related to that, you could try disabling it by changing ```USE_PROCESS_MONITOR``` in ```constants.d``` to false.

I

[2017-08-31 13:35] Jellyfrog opened #1104 "tilix crashed with SIGSEGV"
Think I pressed the "view session sidebar"-button and it hanged for a long time and then crashed.
I can upload the coredump somewhere if you need it

[code]

[code]

[code]

[2017-08-31 18:35] sogalboogalsky commented on #1092
You're welcome, Tilix is such a good terminal, it helps me saving a lot of time in my workflow, so if I can humbly help to make it better, I more than happy to do so.
I have used Tilix master build against GtkD 3.6.5 all afternoon, trying to stress it a lot, opening tenth of terminal, several windows, clicking everywhere in it, closing terminals by all possible means but no crashes happened so far

[2017-08-31 19:57] fbruetting commented on #1099
Yes, Wayland. Haven’t tried X11 at work yet.

[2017-09-01 03:06] lf-araujo opened #1105 "[Enquiry] Keeping window dimensions and font size?"
Thank you for the amazing tool. I am running it in Ubuntu Budgie.

- Is it possible to make Terminix keep the window size over several runs?
- Is it possible to maintain the font size?

[2017-09-01 07:14] gnunn1 commented on #1105
You can set the default size for the terminal in profiles which are configured in the Preferences window. This is identical to the way gnome terminal behaves.

The font and font size are also configured in the profile.

[2017-09-01 07:14] #1105 closed

[2017-09-02 17:11] #1100 closed

[2017-09-02 17:11] gnunn1 commented on #1100
This was actually a bug with the way I was calling XSendEvent, should be fixed now hopefully.

[2017-09-02 17:12] gnunn1 commented on #1100
BTW thanks @f2404, I saw where I was going wrong by looking at the xfce4-terminal code.

[2017-09-02 17:12] gnunn1 commented on #1104
Is this reproduceable?

[2017-09-02 17:27] gnunn1 commented on #1076
That error message should be fixed now, if it resolves this that would be great.

[2017-09-02 19:52] Prajithp opened #1106 "The function you are calling is not pressent in your version of GTK+."
I have compiled tilix on my linux mint 17.3, but getting this error when executing tilix binary.

[code]
[code]

[2017-09-03 00:33] f2404 commented on #1100
@gnunn1 You're very welcome :)

[2017-09-03 16:02] gnunn1 commented on #1106
I think you may have something mis-configured on your system, I just tried master on GTK 3.14 (CentOS 7.3) and it worked fine for me. Here's the versions reported when I run ```tilix --version```, what versions do you see on Mint?

[code]

[2017-09-03 19:49] Jellyfrog commented on #1104
Only happened once so far

[2017-09-04 01:35] huti26 opened #1107 "Menu Bar missing"
So this problem will sound rather stupid at first, but let me explain.
I'm on linux mint 18.1 and tried to configure tilix a bit. At some point I picked:

Window Style: Disable CSD

This made the menu bar disapear. I then checked for a shortcut in order to get into the preferences, but after checking it on another device, it seems that by default this shortcut is disabled. Alright, so I tried to u

[2017-09-04 02:00] bil-elmoussaoui commented on #1107
You can use `tilix --preferences` in order to get to the preferences window. You can do that on whatever terminal you want ;) or use dconf editor to change the settings you want.
Using Dconf editor:
Open Dconf editor and go to this path `/com/gexperts/Tilix/window-style` and change the `window-style` value to normal.
You can do that using your terminal too by typing ` gsettings set com.gexperts.Ti

[2017-09-04 02:16] gnunn1 commented on #1107
@bil-elmoussaoui covered this well, thanks.

[2017-09-04 02:16] #1107 closed

[2017-09-04 04:12] phw commented on #1107
Just an addition because I have seen this misunderstanding for several applications: Uninstalling an application with the package manager will never touch your user configuration. The package manager is only concerned with the system level, it will not by itself touch any files in the user's home dir. This is by design.

[2017-09-04 04:47] Prajithp commented on #1106
Thank you. I have managed to fix this issue by installing gtk-3.16. But, still not sure why it doesn't work with gtk-3.14.

Also, is there a way to avoid calling LD_LIBRARY_PATH every time and compile tilix with alternative gtk?

firefly ~ # LD_LIBRARY_PATH=/opt/gtk314/lib/  tilix --version
2017-09-04T10:12:32.207:app.d:main:37 CWD = /root
2017-09-04T10:12:32.210:app.d:main:43 No PWD environment v

[2017-09-04 18:51] gnunn1 commented on #1106
I'm not aware of a way to use alternative GTKs other then LD_LIBRARY_PATH. If I had to guess, I'd say there is something wrong with your 3.14 configuration since it seems to be failing Application.addMainOption and that's been around a long time.

[2017-09-04 22:57] a-komarev opened #1108 "Themes affects applications"
Is there is a way to not apply theme settings to `mc`?

Here is how `Monokai Dark` themed `mc` looks like:
![screenshot from 2017-09-05 01-54-34](https://user-images.githubusercontent.com/1849174/30039685-4fa00b02-91dd-11e7-953f-e97398f1436d.png)

And here is classical one:
![screenshot from 2017-09-05 01-57-39](https://user-images.githubusercontent.com/1849174/30039724-a7752dd0-91dd-11e7-9ec7-ad8

[2017-09-05 12:15] gnunn1 commented on #1108
There is not, sorry.

[2017-09-05 12:15] #1108 closed

[2017-09-05 12:15] #1106 closed

[2017-09-05 12:16] gnunn1 commented on #1104
OK, I'm going to close this, sometimes stuff happens. If it happens again feel free to re-open it.

[2017-09-05 12:16] #1104 closed

[2017-09-05 15:04] sogalboogalsky opened #1109 "Automatically switched profile kept in new session"
Hi,
Not sure whether it's a bug or a feature, but when in a terminal in session "_A_" I do something (ssh connection, cd /to/path, etc...) that triggers a profile switching then opens a new session "_B_" (clicking on "**+**" in tool bar or with _Ctrl + Maj + T_), the first terminal in this new session inherits of this profile.

Step to reproduce:
- create a profile and define automatic switching c

[2017-09-05 15:16] sogalboogalsky commented on #1092
Hi,
After a few days using Tilix master compiled against GtkD 3.6.5 I have not noticed these crashes anymore.

[2017-09-05 15:44] aleho opened #1110 ""Smart" colors"
Some color setups (I prefer dark backgrounds e.g.) might lead to text not being readable - especially if an application sets text color without a "matching" background.

I propose "intelligent" colors that are changed depending on contrast between background and foreground.

Is this something that could be done in Tilix or are there changes to libvte necessary?

[2017-09-05 17:15] egmontkob commented on #1110
On Mac, the default Terminal.app as well as the popular iTerm2 alternative have such a "minimum contrast" feature.

For Tilix, a new feature (and API) in VTE would be required for this.

[2017-09-05 19:55] rsperl opened #1111 "cannot see window borders"
In appearance, I have window style set to normal, but I still do not have any window borders. If tilix is on top of another application that a black foreground, then tilix blends in with that application.

Am I missing something on how to show a thin border around the entire window?

[2017-09-05 20:41] gnunn1 commented on #1111
What version of GTK are you using, on 3.14 you need to disable transparency in Preferences | Appearance due to a bug in that version.

If you are on a later version, what theme are you using and do you have the same issue with Adwaita?

[2017-09-05 21:37] StuntsPT opened #1112 "Archlinux's package manager fails to run "hooks" when used on tilix"
This is a **very** strange issue.
If I try to update my system using tilix, the `pacman` hook for the "linux" package will fail.
It works if run on another terminal emulator...
I know this sounds absurd, but I have made a screencast video showing the issue, which is attached below (sorry, github will only allow me to attach a compressed video).
How can I help debug this?
Also, this only occurs in

[2017-09-05 21:52] gnunn1 commented on #1112
Unfortunately I don't manage the packaging, please open a bug report against the Arch package you are using to install Tilix. If the package needs new to help with the issue I am more then happy to do so.

[2017-09-05 21:52] #1112 closed

[2017-09-06 11:09] cazacugmihai commented on #1081
I have used the layout specified by @sarlindo and the output (for both panels) is:

Environment:
[code]

[2017-09-06 11:28] rsperl commented on #1111
I'm on gnome 3.24.2 using Adwaita, and I didn't see a transparency setting in Preferences | Appearance. In general, though, I keep everything opaque.

[2017-09-06 22:21] StuntsPT commented on #1112
This doesn't look like a packaging problem to me.
From what I could tell, it was either something in the code of tilix, or some misconfiguration on my part.
Or the fact I am running tilix under Mate Desktop Environment.
I'll report back here if I ever get to the bottom of it.

[2017-09-07 07:18] mariuszs opened #1113 "Add option to maximize window on start and disable titlebar (like in terminator)"
Can we put title information into gnome top bar? There is plenty of place here.

[2017-09-07 07:37] phw commented on #1113
tilix --maximize --window-style=disable-csd-hide-toolbar

Does this do what you want?

[2017-09-07 07:40] mariuszs commented on #1113
Yes, it is! Thanks! Is possible to set this from Settings menu or somehow in configuratio file?

[2017-09-07 07:42] mariuszs commented on #1113
Hmm, no exactly this is what I want.... Titlebar is ok and useful, but window title is not. I'm thinking about window **without** title.

[2017-09-07 07:53] xelite commented on #1098
+1

[2017-09-07 07:55] xelite opened #1114 "[feature requests] quake mode increase height up to 100%"
Set quake mode increase height up to 100%. Currently it is possible only up to 90%.

[2017-09-07 07:57] xelite opened #1115 "[feature request] searching terminal by title"
Searching terminal by title and focus that after hit ENTER or match only one terminal.

[2017-09-07 09:24] aleho commented on #1110
So Tilix has no way of knowing which color is being displayed? 😢

The actual minimal contrast check is pretty easy to implement (and cheap regarding resources), so this could be done "on the fly" as well.

[2017-09-07 09:47] egmontkob commented on #1110
Not really, nor has it any way of influencing it.

What's the required formula?

Is it always the foreground color that's modified?

In which direction to start looking for the new color? Is it as simple as continuing along the (background -> foreground) three-dimensional vector (with R, G, B components) further in the same direction? What if a "wall" is hit, i.e. one of the numbers would leave th

[2017-09-07 09:58] egmontkob commented on #1110
See however the discussion at https://bugzilla.gnome.org/show_bug.cgi?id=758368, especially the callback API in comment 2. Maybe that thread should be revived, with a slight modification: It shouldn't be individual colors, rather (fg, bg) color pairs passed to the callback to mangle.

Then all the concerns I've outlined here in my previous comment would be Tilix's (or whichever VTE-based emulator'

[2017-09-07 12:16] gnunn1 commented on #1110
As @egmontkob noted Tilix only knows what the current palette is, it has no way of knowing what colors the terminal application is actually using. As noted I think this is best handled in VTE, hence I'm closing this has an upstream issue.

[2017-09-07 12:16] #1110 closed

[2017-09-07 12:16] gnunn1 commented on #1111
Screenshot?

[2017-09-07 12:18] gnunn1 commented on #1111
Also note that Adwaita uses a black border around windows, so if it is in front of an application that has a black background it will of course blend it. This is perfectly normal. Do you something different with Tilix versus gedit or gnome videos?

[2017-09-07 12:20] gnunn1 commented on #1113
You can set the window style to borderless instead:

[code]

[2017-09-07 12:21] gnunn1 commented on #1114
Duplicate of #917

[2017-09-07 12:21] #1114 closed

[2017-09-07 12:23] gnunn1 commented on #1115
No plans to implement this, sorry.

[2017-09-07 12:23] #1115 closed

[2017-09-07 12:46] rsperl commented on #1111
That was it. Actually, if I switch to Adwaita-dark as a theme, it puts a thin white border around the window. Thanks!

[2017-09-07 12:46] #1111 closed

[2017-09-07 18:58] PombaM commented on #1076
I don't see any lags on my device running Ubuntu 16.04.3, if it helps I set my keyboard shortcuts using `CCSM` (CompizConfig Settings Manager)

[2017-09-08 12:27] mariuszs commented on #1113
Thanks, this is what I was looking for!

[2017-09-08 12:27] #1113 closed

[2017-09-08 12:32] mariuszs commented on #1050
I have fedora 26 with wayland and have no issue with quake mode.

[2017-09-08 15:14] step21 commented on #1076
@gnunn1 where should it be fixed? Only in source or also in ppa?

[2017-09-08 15:16] gnunn1 commented on #1076
Only on the master in github, ie source.

[2017-09-08 15:17] step21 commented on #1076
ah, thanks.

[2017-09-08 15:42] EmTee70 opened #1116 "Enhancment Request : display tiles count"
First of all, I like Tilix!
It was the number one applications not available for our old Ubuntu 14.04. Server that made me make the update yesterday!

I would like if somewhere in the title bar or beside the arrows to return to the tiled view "-><-"
the total number of sub windows would be displayed.

Sometimes I have two Tilix's Windows open one for a longer time and another for a short look, whe

[2017-09-08 16:23] Snorch commented on #893
I use "Automatically copy text to clipboard when selecting" option and it works well after clean reboot. But after some time working(possibly connected with laptop hibernation) it suddenly stops working, I still can copy and paste between tilix windows, but pasting the text outside in wayland native apps does not work, Especially copy-q does not show text from tilix it in it's history.

Maybe some

[2017-09-08 16:26] step21 commented on #1076
Ok, so this still happens, even with the version compiled from source. Also, pretty sure soon I will have all the toolchains on one machine. ^^
FWIW, I also checked the logs with both versions. The only thing I could find that seems possibly related is ```Sep 08 18:20:41 <hostname> gnome-keyring-daemon[9575]: The Secret Service was already initialized
Sep 08 18:20:41 <hostname> org.freedesktop.sec

[2017-09-08 17:55] fbruetting commented on #1050
Multi-monitor, too?

[2017-09-08 23:26] gnunn1 commented on #1116
Just to make sure I understand, you want a title variable that represents the number of the current window? So if you had three windows there would be a variable that displays 1, 2 or 3?

[2017-09-09 08:20] EmTee70 commented on #1116
No, I was meaning not the number of the current window, but this **would be be a good idea, too**!

I was meaning to display the count of sub windows = tiles inside a window, when you are in the enlarged view (after a klick to '+'),  beside the -><- arrows in the upper right corner.

Another way to automatically  make a distinction between two different windows by title, might be to set the title

[2017-09-09 10:21] phw commented on #1116
I think translated to Tilix terms this means having a variable the shows the total number of terminals inside a session (e.g. terminalCount, similar to how we have sessionCount variable now). Use case is to see the number of terminals in case a terminal is maximized. Core problem here probably is that a maximized terminal is hard to distinguish from a session with only one terminal).

[2017-09-09 11:19] mariuszs commented on #1050
Yes, laptop w 4k display + external monitor 4k

[2017-09-09 13:55] fbruetting commented on #1050
So I just checked this behaviour again. Following you see starting Quake by Tilix / Gnome-Terminal / Alt+F2:

![bildschirmfoto von 2017-09-09 15-35-13](https://user-images.githubusercontent.com/10520767/30240662-e9ed1e1c-9574-11e7-9b40-80a9fdc13c20.png)
![bildschirmfoto von 2017-09-09 15-35-39](https://user-images.githubusercontent.com/10520767/30240663-ed21521a-9574-11e7-9977-56f178c72559.png)
![

[2017-09-09 16:05] EmTee70 commented on #1116
(maximized too!)
Yes!

[2017-09-09 23:32] gnunn1 commented on #1098
Does someone have a symbolic icon that would work well to indicate this? My artistic skills never progressed past stick figures unfortunately...

[2017-09-10 00:06] PhydeauxLeChien opened #1117 "D-Bus causes desktop file not to work as expected"
Firstly, thanks for developing a great terminal emulator! It has replaced terminator for me.

I am having an issue trying to set a default session (default layout of panes etc). By the way, I would love for this to be a setting in the app.

I have copied `com.gexperts.Tilix.desktop` to `~/.local/share/applications` and changed the Exec field to `tilix -s ~/.tilix/Default.json`. When I reload the d

[2017-09-10 00:08] PhydeauxLeChien commented on #1117
I am running Ubuntu 17.04, Gnome 3.24.2

[2017-09-10 00:14] bil-elmoussaoui commented on #1117
the `~` symbol is interpreted by your SHELL(bash/zsh/fish...) and not the Desktop File; that's why it doesn't work. You should replace it with the absolute real path to your file. In your case it must be something like /home/myusername/.tilix/default.json

[2017-09-10 00:21] PhydeauxLeChien commented on #1117
Thanks for your reply, but I do not think that this explains the issue - the desktop file works perfectly **iff** I comment out `DBusActivatable=true`. This is with `~` in the exec field.

And indeed, if I change the command to `/home/chris/...` and **do not** comment out the D-Bus line, the desktop file does not work.

[2017-09-10 05:49] phw commented on #1117
AFAIK this is expected behavior. When DBusActivatable is true the exec command is not used, instead the DBus service gets activated, and the command for the service is defined in the service file. The exec is just a fallback for environments not supporting DBusActivatable.

This is not a bug. Since you have to use a custom .desktop file anyway just set DBusActivatable to false.

[2017-09-10 07:01] nikhilw commented on #870
Just noting here, I needed a restart. For whatever reason log-out and log-in did not work for me.

[2017-09-10 13:48] #1098 closed

[2017-09-10 14:07] #1109 closed

[2017-09-10 14:07] gnunn1 commented on #1117
I think @bil-elmoussaoui  and @phw covered this sufficiently, it's not a bug IMHO.

[2017-09-10 14:07] #1117 closed

[2017-09-10 14:33] gnunn1 commented on #1099
I can reproduce this under Wayland, if I try to open quake mode on a secondary monitor it ends up in the wrong position. Unfortunately I cannot fix it as this is due to the Wayland behaves, there is no way to set the screen coordinates.

I'm thinking of disabling quake mode under Wayland, there's just too many problems with it.

[2017-09-10 14:33] #1099 closed

[2017-09-10 14:35] gnunn1 opened #1118 "Disable quake mode in Wayland"
I'm thinking of disabling quake mode in Wayland as there are just too many problems with it. The basic problem is that in Wayland there is no way to control the window placement, right now quake mode relies on a hack to put the window in the right spot. This is brittle though and breaks in all sorts of different situations.

[2017-09-11 15:07] pnomolos opened #1121 "Odd history behaviour in ssh + psql"
Unfortunately I don't have any tools for capturing GIFs on Linux, so here's a few screenshots with an explanation:

Initial state
![](https://cl.ly/2j003S121402/Tilix%3A%20Default_005.png)

Pressed <Up Arrow> once to retrieve last history entry.  It's actually a multi-line SQL query but it's all being jammed onto a single line.
![](https://cl.ly/120N3P2R1D2r/Tilix%3A%20Default_006.png)

Pressed <U

[2017-09-11 20:37] gnunn1 commented on #1121
Tilix uses the same VTE widget as gnome-terminal so there should not be any difference at the terminal level. Having said that, I would suggest to try launching tilix, with no other instance running, from the command line in gnome-terminal.

Tilix does use dbus activation and this results in a somewhat different environment in terms of environment variables. Launching it from the command line elim

[2017-09-11 20:50] pnomolos commented on #1121
@gnunn1 I think I've figured out what the culprit is, and it _is_ reproducible in gnome-terminal.  That being said, perhaps you'll have some insight into what I can do to fix it (if anything).  The problem was that I would start an edit session within psql, then resize the window while my editor (vi, if that matters) was open.  Once I dropped back into the psql session things were all off, presuma

[2017-09-11 21:07] gnunn1 commented on #1121
In the profile, try disabling ```Rewrap on resize```, that's the most likely candidate for this issue IMHO.

[2017-09-11 21:07] #1121 closed

[2017-09-12 04:25] lucascosti commented on #1118
:'( I'm not using wayland yet, but this is one of my favorite features at the moment.

[2017-09-12 04:41] lucascosti commented on #1085
I'm not sure I would remember to use this. The only one I would possibly use is the process manager. They'd be nice to have extras, but nothing I would miss too much.

[2017-09-12 23:47] step21 commented on #1076
Ok, I might have it figured out. Though it doesn not entirely add up. Some time ago, I disabled at least gnome-keyring daemons handling of ssh sessions or disabled it from starting entirely. (see also previous comment) This was because of the way it tries credentials/handles keys I was unable to use ssh alone or with git on the terminal in a normal way.
Most apps did not care. The only app that I

[2017-09-12 23:49] sirselim commented on #733
Sorry to resurrect this issue, and I understand it appears to be solved for most people (as per #669), but I've been unable to get to the bottom of it on my machine.

I had been using the version from the Debian sid repositories (1.6.4-1) and have now just built from the master branch:
[code]
I'm still seeing laggy scrolling, both when using the mousewheel and the scroll bar at the side. I don't s

[2017-09-12 23:55] gnunn1 commented on #1076
I use the gnome-keyring to store passwords however it should only be used when you activate the password dialog. I'll double check that though.

[2017-09-12 23:59] gnunn1 commented on #733
The most likely culprit would be triggers but you have those disabled. You can try commenting out the ```        vte.addOnContentsChanged(delegate(VTE)``` handler on line 936 to the end of the brace on line 986 as the next most likely culprit.

[2017-09-13 00:12] sirselim commented on #733
Thanks for the quick response. I just ran a system update to ensure I'm running all packages as updated as possible, VTE: 0.50 and GTK: 3.22.21.

I rebuilt tilix, commenting out the section from lines 936-986 and the problem still persists.

[2017-09-13 00:18] sirselim commented on #733
OK, so turning off the scroll bars has stopped the lag and CPU load. Turning them back on it reappears.

[2017-09-13 00:21] gnunn1 commented on #733
In Preferences under Appearance, try turning off the overlay scrollbar. This will cause Tilix to use a separate scrollbar same as gnome-terminal. I suspect it will also fix the problem.

[2017-09-13 00:34] sirselim commented on #733
You are correct, after turning off overlay and turning on scrollbars again (and a restart) there is no lag. I might run without scrollbars as it looks quite nice. :)

Thank you for your help and this great terminal emulator.

[2017-09-13 07:12] c0de123 opened #1122 "Weird top behavior on Debian Stretch"
Hi,
I installed tilix from stretch backports and when I am running top, the screen starts to "flicker" - meaning I can only see alternating lines from top, making it appear like flashing. It seems that the refreshing behavior of top is causing issues within tilix.
I have the same issue on Ubuntu 17.04. Here, tilix is installed from webupd8.
It would be nice if someone could help me with this as th

[2017-09-13 09:43] sogalboogalsky commented on #1092
Hi,
Right now, tilix master (as of 2017-09-10) compiled against GtkD-3.6.5 for openSUSE Leap 42.3, as crashed when pointing the main window with the mouse to give it focus.
Here is the backtrace:
[code]
I will try another build with GtkD-3.6.6 with process monitoring disabled as you suggested before.

[2017-09-13 16:06] gnunn1 commented on #1122
What video card and driver are you using?

If you disable transparency in dconf (under /com/gexperts/Tilix) does that make any difference?

[2017-09-13 17:31] c0de123 commented on #1122
On the debian system:

GPU:
`00:02.0 VGA compatible controller: Intel Corporation Haswell-ULT Integrated Graphics Controller (rev 09)`

Driver:
`i915`

`enable-transparency` set to `False` => same behavior :(

The other system has an intel GPU, too, so probably also using the i915 driver.

[2017-09-13 19:44] gnunn1 commented on #1092
I'm not sure what the issue is, however I just got a core dump in the process monitor so I'm going to try disabling that. Because the process monitor is multi-threaded, it's possible it's causing these random issues.

[code]

[2017-09-13 23:47] gnunn1 commented on #1122
Did you try to disable the transparency as suggested above?

[2017-09-13 23:47] gnunn1 commented on #1122
Oops ignore last, missed that you did

[2017-09-13 23:48] gnunn1 commented on #1122
What's the output of ```tilix --version```?

[2017-09-14 04:21] c0de123 commented on #1122
On Debian, it is
`1.6.4-1~bpo9+1`
Ubuntu, I will post later.

[2017-09-14 13:19] stullii commented on #1122
Same happens to me (Debian Stretch, Mate DE, Tilix 1.6.4, top), you can see it here: https://www.dropbox.com/s/pjcvxo1g9y5a6l8/tilix.ogv?dl=0

[2017-09-14 13:30] darkLord19 opened #1123 "Tilix system tray icon"
It would be good to have system tray icon when Tilix is opened in quake mode.

[2017-09-14 13:39] bil-elmoussaoui commented on #1123
Noooooon :( you can setup a keyboard shortcut to do the same. A tray icon is not really needed here and as Tilix follows GNOME's HIG and they just removed tray icon support on their latest version

[2017-09-14 13:46] f2404 commented on #1123
I really like the tray icon idea, though, as you said, the removed systray from Gnome, and they also declared  [GtkStatusIcon](https://developer.gnome.org/gtk3/stable/GtkStatusIcon.html) deprecated long time ago without providing any good alternative.

[2017-09-14 14:15] darkLord19 commented on #1123
@bil-elmoussaoui @f2404  Yes I know we can set up keyboard shortcut but that's not what I meant. I meant when we open tilix in quake mode then only it should show system icon. If tilix is not opened then tray icon won't be there. (Attaching Screenshots so you can know what I'm referring to)(1st screenshot with another terminal open in quake mode which supports sys tray icon)(2nd screenshot with th

[2017-09-14 14:22] f2404 commented on #1123
@darkLord19 I understand what you are talking about because I'm the current developer of that "another terminal" you're showing :) And I actually support you saying that the status icon works great for me.

[2017-09-14 14:42] gnunn1 commented on #1123
I can understand the ask amd I have no interest in adding the capability myself. If someone wants to do it as a PR I'm happy to take it as long as it's optional. I'm not familiar with what it takes to implement it since I've never done it, GtkD does implement a StatusIcon which is probably what you are looking for.

[2017-09-14 15:00] phw commented on #1123
What's the point of that tray icon? I mean when it is only shown when Tilix is opened in quake mode there is a quake mode window anyway. What additional utility would it provide?

[2017-09-14 15:02] gnunn1 commented on #1123
I took it that it shows the icon when in quake mode for when the window isn't being shown.

[2017-09-14 15:04] f2404 commented on #1123
@phw Quake mode window may not be always visible. Taking "another terminal" as an example, its status icon allows to show or hide the window, and also provides a right-click menu that allows to e.g. open Preferences.

[2017-09-14 18:43] darkLord19 commented on #1123
@gnunn1 It will show tray icon even when terminal is not running in background. It acts exactly as @f2404 stated. And you can take "another terminal's" name if you are a developer of it.;) I thought it'd sound rude and like I'm asking something just because it is in that "another terminal". For others who haven't figured out what that terminal is, it's "xfce4-terminal"

[2017-09-14 19:00] egmontkob commented on #1122
Seems like every second line is empty. (First I thought about some extra vertical padding in the font, but then the cursor would be much taller too.)

Could you please confirm that if you `cat` some text file (e.g. `cat /etc/services`), or simply type a long command that wraps to the next line then the lines have double density compared to this video?

What do other fullscreen apps, such as `mc`,

[2017-09-15 06:02] c0de123 commented on #1122
I still think it is a problem with "refreshing lines".
As I said before, the apt progress bar also behaves strange sometimes. I just installed `htop` and this was the result of the progress bar in the terminal:
`Reading state information... Done#########################################....] `
Mind that this was the line after `htop` was completed.
I don't have any problems in `vim`, `htop` also ru

[2017-09-15 08:17] egmontkob commented on #1122
Let's stick with one particular app for investigation and let's choose `top`. (This is beacuse with `apt` you'd need to perform something else every time, also you said it misbehaved "sometimes". Plus it might not be available on other developers' machines.)

Does `top` always work incorrectly for you? Try manually resizing the Tilix window and running `top` afterwards, is it still broken?

Do you

[2017-09-15 08:32] c0de123 commented on #1122
Maximizing makes no difference in behavior.
- Yes, I always have the problem.
- No, no toprc system wide or in my home

[code]

last digit 4, new digit 5

typescript is attached.
[typescript.txt](https://github.com/gnunn1/tilix/files/1305730/typescript.txt)

`xterm-256color`

No.

It doesn't happen in `gnome-terminal`.

`xterm` is working completely fine.

[2017-09-15 09:00] egmontkob commented on #1122
Probably related: https://bugzilla.gnome.org/show_bug.cgi?id=787710

[2017-09-15 09:01] egmontkob commented on #1122
Can you try `cat typescript` at the same window size? For me it prints `top`'s output correctly; for you I assume it'll be broken again.

Could you then please slowly widen the window? Is there a point where the lines suddenly jump close to each other so that there are no more empty lines in between? What window size is that?

@gnunn1 Can Tilix do geometry hints? I cannot find it suddenly. I'd lov

[2017-09-15 09:10] c0de123 commented on #1122
It is broken. I can widen it and it even gets to a point where the lines line up as expected but
`stty size `
still says
`24 84`
.
If I get to the point where it is broken again, size is
`24 83`
so somehow the size is reported incorrectly in the beginning?

[2017-09-15 09:15] egmontkob commented on #1122
Ooops... we've got something really nasty going on...

Could you please confirm it, it sounds so unbelievable :)

`stty size` reports a certain size, then you make the terminal wider, and it indeed gets wider by at least one entire cell (not just a few unusable pixels) which you cal tell because it rearranges the contents, and then `stty size` still reports the same size as previously?

Is this yo

[2017-09-15 09:31] c0de123 commented on #1122
Again:
I open `tilix`, do an `stty size` and get `24 84`. This is my initial window size.
I do `cat typescript` and get broken lines. I increase the width of the window a few pixels and lines are displayed correctly.
I run `stty size` again and get the same as above, `24 84`.
But `top` is still broken, no matter how I increase the width of the window.
If I stop `top` and then widen the window, the

[2017-09-15 09:43] egmontkob commented on #1122
Thanks a lot!

I'm quite certain it's a nasty bug somewhere in VTE's geometry handling, which, for whatever reason, is triggered by Tilix. I can reproduce some problems, but cannot reproduce your specific one with `top`. I wish I could, that'd make debugging much easier.

I'm off for the weekend now.

[2017-09-15 12:15] gnunn1 commented on #1122
@egmontkob Tilix does not use geometry hints, is there something specific you want me to try?

The only other suggestion I have is for @c0de123 to try using the normal scrollbar instead of the scrolled window which is the default. In Preferences | Appearances de-select the option ```Use overlay scrollbars``` and restart Tilix to see if it makes any difference.

[2017-09-15 12:26] stullii commented on #1122
Disabling overlay scrollbars worked for me. Now `top` works without problems!

[2017-09-15 15:48] c0de123 commented on #1122
I can confirm that disabling overlay scrollbars actually fixed the problem, on both Debian and Ubuntu.
Thanks.

[2017-09-15 16:02] gnunn1 commented on #1122
Thanks, it's interesting to me that I don't see the same issue on Arch, my version of GTK is somewhat newer at 3.22.21

[2017-09-16 17:59] macandchief commented on #1076
As for the quake mode: I have Tilix version: 1.6.4 and it's been working great! I really like it, no delay when opening. Two short questions though: - It's more like hide/unhide and not that quake-opening (roll down) with animation. Any chance implementing something like that?
- It's not possible to resize the window after opening it via quake mode (I mean making the window bigger via right down c

[2017-09-16 20:31] MQuarneti opened #1124 "Crash on default profile deletion"
Tilix 1.6.4
Crash after trying to delete the default profile

[2017-09-16 22:59] step21 commented on #1076
@macandchief I'll let gnunn1 talk about animation/their plans - afaik it should be possible, but not sure about plans. It might depend a bit on desktop environment - you might be able to set window animation to slide in or something.
Resizing should be possible. At least I can drag the window further down at the bottom border, not sure about changing width.

[2017-09-17 04:00] gnunn1 commented on #1076
@macandchief There is no way to animate the window in Wayland so no plans to invest effort in it. You can resize the window in the preferences dialog, since the quake window is borderless it can't be resized.

[2017-09-17 14:15] macandchief commented on #1076
I see, thank you for the explanation. So Height percent in Preferences/Quake is the way to go.

@step21 On which DE? As gnunn1 mentioned, after opening the window in quake mode I cannot resize it on openbox.

[2017-09-17 19:46] egmontkob commented on #1122
In https://bugzilla.gnome.org/show_bug.cgi?id=760718 it was stated that "GtkScrolledWindow is simply incompatible with VteTerminal."

So, can't we say that Tilix is doing something wrong with this option, at least until this missing feature is addressed?

(I still don't have absolutely any idea how VTE can have an internal contradiction about its own logical size though, which seems to be the case

[2017-09-17 19:52] gnunn1 commented on #1122
@egmontkob I was going by this one where it looks like it was enabled in gnome-terminal but maybe that was premature on my part.

https://bugzilla.gnome.org/show_bug.cgi?id=733210

[2017-09-17 19:56] egmontkob commented on #1122
Haha... yup maybe they thought it was working now but it isn't :D

We'd need input from Christian and Debarshi, they know a lot about this area, I don't.

[2017-09-17 20:01] gnunn1 commented on #1122
I'll probably just change the default to disable the overlay scrollbars by default, issue #733 was also caused by this. It's a pity because it looks 1000 times better then the separate scrollbar IMHO.

[2017-09-17 22:12] step21 commented on #1076
This is on Unity.

[2017-09-18 14:19] gnunn1 commented on #1092
@sogalboogalsky Have things been stable for you since disabling the process monitor? I haven't had any issues on my end since I made that change and I have checked in a change to disable it by default.

[2017-09-18 14:26] sogalboogalsky commented on #1092
No problem since my last post and rebuild without process monitor. But I haven't used my office computer the last two days, so I am not able to fully confirm that. So far so good but I will keep testing it during a couple of days and let you know.

[2017-09-18 14:47] egmontkob commented on #1122
@gnunn1 Please don't close this yet. There's a severe issue here to be investigated. I'd perhaps be okay with closing this if you removed the relevant config option entirely. It's not okay to have a boolean preference whose nondefault value causes such misbehavior of `top`.

[2017-09-18 14:54] gnunn1 commented on #1122
@egmontkob This only appears to be an issue on Mate DE as far as I can tell which I don't support, I only support Unity and Gnome. I've had the overlay scrollbars as the default option with GTK 3.22 for quite awhile now and this is the first time the issue has come up, likely because Mate is finally catching up GTK version wise.

As far as I can tell, it works perfectly fine on Arch Linux and I li

[2017-09-18 15:02] egmontkob commented on #1122
mate-1.18, released on 2017-03-13 is Gtk+3 only, meaning it uses the very same Gtk+ as the rest of your desktop. If it's still buggy there, the only thing I can think of is the WM doing something nasty. Plus there's definitely something nasty going on in VTE, too.

I guess an "experimental" label could be an ideal solution until we really understand and fix what's going on. Thanks a lot! :)

[2017-09-18 15:12] egmontkob commented on #1122
Good news: I can reproduce the problem on Mate desktop :)

[2017-09-18 15:13] f2404 commented on #1122
@egmontkob Does this mean there must be something Mate-specific?

[2017-09-18 16:38] c0de123 commented on #1122
It is also a problem on xfce (xubuntu) as far as I can tell.

[2017-09-18 19:44] macandchief commented on #1076
I see, thx. Good to know, resizing sometimes works, depending on the DE.

[2017-09-18 20:24] egmontkob commented on #1122
@f2404 I don't know yet. So far I could only reproduce on Mate desktop, @c0de123 not even on Xfce4.

It's not always buggy for me. Typically the first `top` is okay. Then when I quit and restart it, the second one starts buggy, but sometimes heals itself. Sometimes stays buggy. But at least buggy often enough to be debuggable.

Debugging with `trap 'stty size > /dev/pts/someotherterminal' WINCH` s

[2017-09-19 12:17] egmontkob commented on #1122
@gnunn1 If it's indeed a problem with the Gtk+ theme then I think you're absolutely fine without the "experimental" label, you could even revert the change I guess.

[2017-09-19 12:39] gnunn1 commented on #1122
So in Mate if you change the GTK theme to Adwaita it works fine?

[2017-09-19 12:46] egmontkob commented on #1122
In System -> Preferences -> Look and Feel -> Appearance there are about a dozen themes to choose from (no Adwaita), all have this faulty scrollbar and hence faulty Tilix behavior. I guess I'd have to change it somewhere else, not sure if Mate allows that.

[2017-09-19 12:49] gnunn1 commented on #1122
In gnome-terminal, try this to force the Adwaita theme (with tilix not running). Adwaita is bundled with GTK AFAIK so it should be available.

[code]

[2017-09-19 12:59] egmontkob commented on #1122
Still buggy.

I have, however, noticed a `GTK_OVERLAY_SCROLLING=0` in the environment. Unsetting this causes the terminal to open and remain at 80x24 and the scrollbar indeed overlais the contents and no bug occurs with `top`.

I'm wondering, maybe as a workaround Tilix could check for this env variable, and if set to 0, do as if its "Use overlay scrollbars" config option was disabled. Does this m

[2017-09-19 13:01] egmontkob commented on #1122
Oh, and by the way, by manually exporting `GTK_OVERLAY_SCROLLING=0` the bug is reproducible in Unity7, and presumably any other window manager / desktop environment as well.

[2017-09-19 13:07] gnunn1 commented on #1122
Great catch, I can reproduce it with ```GTK_OVERLAY_SCROLLING=0``` here as well. I think you are correct, tilix should check for this environment variable and when set not use the overlay scrollbars in this situation nor surface the option to enable it.

I'll make this fix and then revert my other changes where I made the default false instead of true and the experimental tag.

[2017-09-19 13:11] egmontkob commented on #1122
In the mean time I'm wondering whose fault it is after all :) Maybe the existence of `GTK_OVERLAY_SCROLLING` is conceptually broken. It takes a scrollbar that was designed to be overlaid and as such its width potentially varies over time, and places it next to the widget, causing the widget to also repeatedly change its width.

[2017-09-19 13:31] gnunn1 commented on #1122
It's a new environment variable to me, can you tell when this variable is set that the reported allocated width includes the scrollbar? Off-hand I'd say it's a GTK issue but don't know enough about the low level details to say for sure.

[2017-09-19 13:40] egmontkob commented on #1122
It's new to me too, I don't know anything about it. I have no clue if you can query Gtk+ about its actual current behavior wrt. the scrollbar, I was thinking about checking the env var itself (querying Gtk+ would be nicer of course).

[2017-09-19 14:06] egmontkob commented on #1110
@gnunn1 Would you implement this feature (and would you perhaps simplify the dimming code by using VTE's color mangling API) if such an API was available?

I'm tempted to implement it, but I definitely won't if nobody's interested :)

[2017-09-19 15:47] gnunn1 commented on #1110
You mean an API to determine what colors each cell being displayed is using and then from there I'd need to implement the color changing algorithm? The problem for me is I'm not sure what's involved on the algorithm side, I'd certainly look at but I'll be honest and say color processing is not my forte.

If you are looking for something to implement, mainlining the patch needed for badges would be

[2017-09-19 15:53] egmontkob commented on #1110
Color changing: Exactly. I'm not good in color processing either, that's why I'd delegate it to the container app :) Okay, seriously, I'd delegate it for more flexibility.

Badges is another story. I made my comments there but I'm not aware of the technical details (it was somehow hijacking the draw signal??) and I'm afraid I don't share the same vision here with the main developer.

[2017-09-19 16:19] ckrzen commented on #815
Just wanted to give a heads-up that Tilix(Terminix) became the default vte in "Ubuntu Budgie 17.04" and is a great alternative to stjerm(currently unmaintained and my previous choice for a lightweight quak-esque term). Great project. Keep it up!

[2017-09-20 10:28] kpocius opened #1127 "Character stripping and multiple synched terminals"
"Strip first character of paste if comment or variable declaration" only works in the first terminal if multiple terminals with synchronized input are used.

Here's the video of the issue https://youtu.be/8irPIfFZHKM

I'll be happy to provide any additional info you need.

[2017-09-21 08:55] cazacugmihai opened #1128 "saved json layouts that contain commands not working"
This one is related to https://github.com/gnunn1/tilix/issues/1081.

I have used the layout specified by @sarlindo and the output (for both panels) is:

Environment:
[code]

[2017-09-21 15:20] robmv opened #1129 "Initial profile selection different when starting a new session than adding a new terminal"
When a terminal is on an automatically switched profile, adding a new terminal start that terminal with the default profile, but when a new session is opened the new session inherits the profile of the parent terminal.

Steps to reproduce:

1. Create a new profile named remote for a known host, for example host.example.com.
2. Open a ssh connection to the host.example.com, the profile switch to th

[2017-09-22 12:14] JuanCAlpizar opened #1130 "Triggers correct syntax for regex"
Hi, today I was learning from trigges using tilix and I noticed there was a way to grab the username and put it in the title of either each tab or the window title, which I found awesome because I use to have at least two different users across multiple tabs and sometimes it gets confusing. I'm using Arch Linux with all of the tilix package dependencies installed, running tilix -v outputs this:

[2017-09-22 12:32] gnunn1 commented on #1130
It was a case of characters on that page not being properly escaped, I've formatted it as code so it works.

[2017-09-22 12:32] #1130 closed

[2017-09-22 17:25] gnunn1 commented on #1129
I think I fixed this in #1109, does this look the same to you?

[2017-09-22 17:26] gnunn1 commented on #1128
Duplicate of #1081

[2017-09-22 17:28] robmv commented on #1129
@gnunn1 Yes, look like it.

[2017-09-22 17:28] #1129 closed

[2017-09-22 18:52] cazacugmihai commented on #1128
Yes, I have mentioned that it is related to #1081 but that issue is already closed and the problem still exists.

[2017-09-23 08:02] fboender commented on #135
FYI: I've written a small tool that uses SSH's LocalCommand and small script to change the terminal background color when SSHing to a machine. It does not require any remote configuration. You can find it here: https://github.com/fboender/sshbg

[2017-09-24 02:21] steelstring94 opened #1131 "Full width bottom pane"
Create two vertical panes.  Then create a bottom pane on the left.  If you resize that bottom pane to the right, the top one comes with it.  It would be a very nice feature to be able to resize the right pane upwards and extend the bottom pane to fill the full width of the lower half of the window.

[2017-09-24 02:49] gnunn1 commented on #1131
Unfortunately It's not feasible due to the way the gtk splitter works. You can achieve the same thing by adding the bottom to the left terminal and then dragging and dropping the right terminal to the right side of the left panel.

[2017-09-24 02:49] #1131 closed

[2017-09-24 05:37] s4n-gt commented on #937
[code]

With this patch, I was able to get my expected result except for viewing child of child process.

The first change helps to change title;
The second change helps to get proper process name (from psutil);
The third change helps to get shell process;

----------
P.S: I had to  remove
https://github.com/gnunn1/tilix/blob/db062684a65b2ab61430a535a6d558664b9c2c42/source/gx/tilix/customtitle.d#L

[2017-09-24 13:51] #1124 closed

[2017-09-24 16:15] #1122 closed

[2017-09-24 16:16] gnunn1 commented on #1122
Tilix will not check for the ```GTK_OVERLAY_SCROLLING``` and if set to 0 will disable the option to use scrolledwindow and use the scrollbar instead.

Thanks again @egmontkob for your help with this.

[2017-09-24 16:28] gnunn1 commented on #1076
@step21 Is this delay still happening or did it sort itself out?

[2017-09-24 16:50] #1127 closed

[2017-09-24 16:50] gnunn1 commented on #1127
Thanks for the report, this should be fixed now.

[2017-09-24 19:25] step21 commented on #1076
@gnunn1 It is gone for now, when I remember to start gnome-keyring-daemon - sorry for not closing it.

[2017-09-24 19:25] #1076 closed

[2017-09-24 19:38] egmontkob commented on #1122
I guess you meant "Tilix will no**w** check..." ;) Thanks for this workaround!

[2017-09-24 19:40] gnunn1 commented on #1122
I did, oops :)

[2017-09-25 13:06] EmTee70 opened #1132 "Bug or feature?"
When I am splitting the terminal at first vertically, I don't find a way to add an horizontal sub-terminal spreading from left to write (I only get a small one inside of 2).

How to klick to get there:

[code]

[2017-09-25 14:59] gnunn1 commented on #1132
Duplicate of #1131

[2017-09-25 14:59] #1132 closed

[2017-09-25 15:03] EmTee70 commented on #1131
Ok, I got it. Thank you!

[2017-09-26 05:22] sogalboogalsky commented on #1092
After a few more days using this version (compiled without process monitor and against GtkD-3.6.6) things have been stable.
That's a pity because I find process monitor handy (I like to have app title including the name of the process running in focused terminal).

[2017-09-26 10:17] heikkiket commented on #1085
I think bookmarks are currently a little bit cumbersome to use. To edit a bookmark, you need to open Preference panel. Also adding and using bookmarks could be in the same UI. Now they are separate menu items. So maybe this kind of sidebar would make bookmarks more useful and easier to access? I could have sidebar open and launch a series of commands that way, clicking them one after another.

[2017-09-26 11:45] gnunn1 commented on #1092
I'll work on bringing it back and will leave this issue open until I do, it's just good to know where the issue is coming from. I likely won't get too it though until after the next release as I've been postponing it until this issue is resolved.

[2017-09-26 11:48] gnunn1 commented on #937
@s4n-gt If you want to submit this as a PR I'm happy to look at incorporating it.

[2017-09-27 09:48] Atem18 commented on #1118
I am using Wayland and yeah there is some flaws. @gnunn1 Can't you ask upstream about your problem. I would be very sad to say goodbye to tilling in Wayland. :(

[2017-09-27 10:32] doppioandante opened #1133 "Tilix doesn't terminate running process"
I'm using Kakoune inside tilix, when I close the pane with the [X] the process isn't terminated properly.
At https://github.com/mawww/kakoune/issues/1594#issuecomment-332479317 there is a comparision of what `strace` reports, with the other terminal being qterminal.

[2017-09-27 12:50] gnunn1 commented on #1133
Unfortunately I cannot reproduce this on Arch, when I close a terminal with ```kak``` running the process get's terminated as expected. Note that tilix only sends processes a SIGHUP to terminate. If you run another process like htop or nano, does that get terminated by tilix as expected?

I did find one issue where kak where terminating kak was triggering a segfault in tilix (not the fault of kak

[2017-09-27 15:08] doppioandante commented on #1133
I realize only now that the rep steps are actually tricky.
This is what is needed

* Open two different terminal windows
* In one window, do a split and start a program in one pane (e.g. `htop`)
* strace that process from the OTHER window
* close the pane containing the running process

Now, I can see htop still going with strace.
Closing the first window doesn't change this fact.
BUT, opening a N

[2017-09-27 15:16] f2404 commented on #1133
@doppioandante I cannot reproduce this with tilix 1.6.4 on my system.

[2017-09-27 17:03] gnunn1 commented on #1133
I cannot reproduce this with master, when I strace htop with and then  close the pane it stops as expected:

[code]

[2017-09-27 17:18] doppioandante commented on #1133
Okay, I will try again with master :-(

[2017-09-28 12:56] cazacugmihai commented on #1128
Can you reopen this issue, please?

[2017-09-28 13:11] gnunn1 commented on #1128
Have you tried master, that is where the issue should be fixed. I haven't pushed a new version out that fixes it beyond 1.6.4. If it's still broken in master I'm happy to re-open it, you should be able to re-open it as well though if needed.

[2017-09-28 13:36] cazacugmihai commented on #1128
No, I've not tried the master at that moment but I have tried now and it didn't work.

Environment:

[code]

Profile:
[code]

Error on running `tilix -s ~/Desktop/test.json`:

[code]

Thanks!

[2017-09-28 13:58] gnunn1 commented on #1128
pwd is going to run and just exist and you won't see the output because the infobar covers it. What happens if you change pwd to ```ls -l``` or something that prompts you?

[2017-09-28 14:49] cazacugmihai commented on #1128
The same error is also thrown when using "ls -l".

(Profiles->Default->Command->"When command exists" is set to to "Hold the terminal open")

[2017-09-28 15:06] gnunn1 commented on #1128
OK, I'll have a look in more depth.

[2017-09-28 15:16] cazacugmihai commented on #1128
Thank you! Tell me if I can help you with more info (logs maybe).

[2017-09-28 18:21] cazacugmihai commented on #1128
Maybe it is not related but, with the latest version (from master), when executing something like:

[code]

the error described in https://github.com/gnunn1/tilix/issues/1128#issuecomment-332860831 is thrown.

[2017-09-29 14:26] doppioandante commented on #1133
I don't think this is a problem with tilix, probably it's the shell's fault, closing.

[2017-09-29 14:26] #1133 closed

[2017-10-02 00:47] czardoz opened #1136 "Tilix does not remove nautilus entry on uninstall"
It ideally should remove the "Open in Terminix" entry.

[2017-10-02 01:04] gnunn1 commented on #1136
How are you uninstalling it?

[2017-10-02 01:17] czardoz commented on #1136
I'd installed through the WebUpd8 PPA, and uninstalled using `apt-get`.

[code]

[2017-10-02 01:19] czardoz commented on #1136
Hmm, it seems that Tilix is not exactly packaged by you for the PPA. Feel free to close this issue, if the fix lies elsewhere :smile:

[2017-10-02 01:20] gnunn1 commented on #1136
That's correct, you should open an issue on launch pad against that PPA.

[2017-10-02 01:20] #1136 closed

[2017-10-02 10:26] anthrotype commented on #881
I found that disabling `-X` option that git by default sends to `less` pager solves the flickering issue while selecting text inside `git log`.
This is what I did:

[code]

I am not quite sure what `-X` option is meant to do.

https://linux.die.net/man/1/less

Anyway, this worked for me.

[2017-10-02 12:23] egmontkob commented on #881
I'm wondering if this could be related to #1122. The logical window size continuously changing back and forth would cause tons of WINCH sent to less, which in turn repaints its screen which invalidates the mouse selection??

@anthrotype Could you please try disabling Preferences -> Appearance -> Use overlay scrollbar? If that helps, the latest Tilix (from git) should fix the problem for you.

[2017-10-02 12:36] anthrotype commented on #881
Yay! That fixed it :+1:
Thank you so much! :smile:

[2017-10-02 14:27] Scaum opened #1137 "Switch to tab mode"
Hi,
I'd like to start by thanking you for Tilix. I've been using it for a few month and I really do enjoy it a lot !

I realized today that the option to switch to tab mode was added in the beginning of August. However, I cannot find the way to make this switch.

My tilix is up-to-date on Fedora 26:
`rpm -q tilix`
`tilix-1.6.4-1.fc26.x86_64`

In the Appearance tab of preferences, I only have 4 ava

[2017-10-02 15:45] phw commented on #1137
There hasn't been a stable release with this feature yet, but @gnunn1 recently talked about wanting to do a new release soon.

[2017-10-02 21:51] gnunn1 commented on #1137
As @phw noted there hasn't been a stable release with tabs support up to now, I've been holding off trying to close a few issues. Hopefully next week I can push something out, I just want to fix how the notifications are displayed on the tabs.

[2017-10-02 21:51] #1137 closed

[2017-10-02 22:20] #1128 closed

[2017-10-02 22:21] gnunn1 commented on #1128
It now returns the proper message of "Child exited normally with status 0" instead of the aborted message. I had a typo where I was testing the macro WEXITSTATUS instead of WIFEXITED.

[2017-10-02 22:23] gnunn1 commented on #1085
Thanks for the comments everyone, after thinking about this further I don't think I'm willing to invest the effort on it. While it appears simple, keeping these panels updated with the current state of the terminal is a fair amount of effort and I'm not sure the benefit is there.

[2017-10-02 22:23] #1085 closed

[2017-10-02 22:58] gnunn1 commented on #1118
I've asked about it several times, it's just the way Wayland works.

[2017-10-03 07:34] Scaum commented on #1137
Ok, my bad then, saw tabs in the commit, thought it was released. Can't wait for it !
Thanks for reconsidering the tab issue @gnunn1

[2017-10-03 10:58] s4n-gt commented on #937
@gnunn1

I have made a prototype in python.
I think it works fine except maximum recursion limit error.
https://gist.github.com/s4n-gt/12be86c8957d6b7551f796f267c1fd98

what do you think about this approach?

[2017-10-04 12:23] freeseacher opened #1138 "organize bookmarks with trees or tags"
Hi!
tnx for great app!
I have lots of hosts to administer and previously work with gcm. currently i am working with several project with different ssh ports and policies to connect to.
it has tree style organizer for host list. it was not perfect but good enough. Now site is down and author did not reply's to emails for about 6 years

I aw wondering if you can add some kind of bookmark organizer.I

[2017-10-04 12:27] gnunn1 commented on #1138
Tilix already supports bookmarks that does much of what you want. You can organize your bookmarks into trees with folders and using drag and drop. The bookmark window can be shown via a hotkey and enables you to quickly search based on the name of the bookmark.

I think the only thing I'm missing is support for tags and searching tags as well as titles?

[2017-10-04 13:07] freeseacher commented on #1138
yep. ctrl+shift+b that one i miss. switching language  to english makes sense.

But still it pastes ssh command in current shell. so it is big difference where i launch that hotkey. not idempotent.
Can i select whether to open new session or paste command there. ?

[2017-10-04 13:53] freeseacher opened #1139 "Add terminal logging"
For some reasons i have to log everything inputed with ssh connection.
Please add logging to file all visible text.
Files have to be stored in separate directory and named with bookmark name and datetime when session started.

[2017-10-04 14:04] freeseacher opened #1140 "Add bastion like connections"
It will be perfect if i can connect to host via another host.
Such settings can be done via
`./.ssh/config` but is not manageable
i am talking about such type of connections
https://unix.stackexchange.com/questions/25055/ssh-via-multiple-hosts

From ui point of view i'm expecting that can be chained via interface with specifying another bookmark.

tnx

[2017-10-04 14:06] gnunn1 commented on #1139
Tilix has a feature to save the output of the terminal to a file called Save Output. Does that provide what you need?

[2017-10-04 14:08] gnunn1 commented on #1138
No you cannot ask it to launch the bookmark in a new session and I don't have any plans to add that feature as it gets complicated fast. i.e. Launch in session, Launch in split tab right, Launch in split tab down, etc...

[2017-10-04 14:08] #1138 closed

[2017-10-04 14:12] gnunn1 commented on #1140
This is something that should be managed by SSH and not in the terminal emulator itself IMHO, no plans to work on this. ProxyCommand in your SSH config is the way to go I would think.

[2017-10-04 14:12] #1140 closed

[2017-10-04 14:32] 00krishna opened #1141 "After using Neovim in Tilix, the i-bar cursor turns into a block cursor--and will not change back"
So this is an odd issue. Tilix works just fine when I load it up. I have the cursor set to I-bar which I prefer.

Once I invoke `neovim`, using the `nvim` command, I can go into neovim and do my normal things. However, once I exit `neovim` the cursor stays as a block--and will not return to I-bar.

This might have something to do with the fact that in `neovim` the block cursor is used for normal m

[2017-10-04 14:33] gnunn1 commented on #1141
Does the same thing happen in gnome-terminal as tilix shares the same VTE widget for the terminal emulation?

[2017-10-04 14:37] f2404 commented on #1141
I can confirm the same happens in g-t and other terminal (c)
I guess 'neovim' could be using some hacks for changing cursor shape that prevent terminal widget from handling it.

[2017-10-04 14:41] gnunn1 commented on #1141
Thanks @f2404.

@00krishna I would suggest opening an issue with the neovim folks about this and see what they say. As this doesn't appear to be a Tilix issue I'm closing this issue.

[2017-10-04 14:41] #1141 closed

[2017-10-04 14:44] f2404 commented on #1141
In fact, Egmont has already captured the issue: https://github.com/neovim/neovim/issues/4396

[2017-10-04 14:44] freeseacher commented on #1139
i have to do it manualy on each session ?

[2017-10-04 14:48] gnunn1 commented on #1139
That is correct.

I'm not sure from a design perspective how to handle this automatically. You suggested using the Bookmark name for the file but few people use bookmarks. I could dump the logs into a directory with the name being a combination of the terminal uuid and timestamp but that isn't very useful to find a past log.

Do any other terminal emulators do this and if so how do they handle it?

[2017-10-04 14:49] 00krishna commented on #1141
Oh interesting. Okay thanks for the quick and interesting response. I will follow up with the neovim project.

Thanks again.

[2017-10-04 14:50] freeseacher commented on #1138
ok. thx any way for doing open source.
can you advice any good ssh connection managers ?

[2017-10-04 14:52] gnunn1 commented on #1138
Unfortunately I'm a developer and not a system administrator so the number of systems I SSH to is quite small and thus I haven't had a need for something like that.

[2017-10-04 14:54] freeseacher commented on #1138
thre were couple of them. pac and gcm. both projects looks dead for now.
any plans to do connection managers and not only terminal ?

[2017-10-04 14:59] freeseacher commented on #1139
i am not dividing terminal emulators and connection managers before.
gcm can do it. putty can do it.
that is pretty standard functionality for that kind of software.

saving terminal output by hands will lead to lots of manual work. my current archive shows that i'am opening about 40-50 connections a day.

[2017-10-04 18:58] leonekmi opened #1142 "Moving shells betweens windows of Tilix on KDE"
![image](https://user-images.githubusercontent.com/20224422/31194137-8044e716-a946-11e7-888c-fcf4080f20dd.png)
![image](https://user-images.githubusercontent.com/20224422/31194148-8ad460da-a946-11e7-85cc-134d7e060c6e.png)
The shell is in the middle of nowhere and cannot make it go (restart the entire session to fix). xkill does not recognize window.

[2017-10-04 19:07] gnunn1 commented on #1142
Just to be clear, that screenshot shows what happens when you show the sidebar?

Does it happen with a different GTK theme like Adwaita?

Also note that I do not officially support Tilix on KDE, just Gnome and Unity. Hopefully I can guide you to a solution but I won't try to duplicate it in a KDE environment. Due to time constraints I need to limit what I can effectively support.

[2017-10-05 05:57] leonekmi commented on #1142
When i show the sidebar and moves a shell, if i release it in nowhere it will be stuck in the void.

[2017-10-05 15:58] slgobinath opened #1143 "Confirm terminating the running process"
First of all, thank you very much for such an awesome terminal.

I have one enhancement request:
Could you please add an optional feature to confirm the `Ctrl + C` and `Ctrl + D` shortcuts similar to what you have for pasting commands.

I experienced this problem today by accidentally pressing `Ctrl + D` from Python console where I had few lines of code and I lost them completely. I know Python co

[2017-10-05 16:04] f2404 commented on #1143
https://unix.stackexchange.com/questions/27588/how-can-i-keep-controld-from-disconnecting-my-session

[2017-10-05 16:12] slgobinath commented on #1143
Hi @f2404,

Thanks for `IGNOREEOF` which I didn't know earlier. However, I think it works with Bash only.
Still, I am able to terminate Python console using single `Ctrl + D`.

[2017-10-05 16:16] f2404 commented on #1143
Hi @slgobinath,

This could mean that the Python console is handling Ctrl+D by itself, not relying on the shell.

[2017-10-05 19:53] gnunn1 commented on #1143
Thanks for the suggestion but I don't have any plans to add an option for this. I have too many options already in Tilix and I don't see this one as being much used.

[2017-10-05 19:53] #1143 closed

[2017-10-05 23:43] gnunn1 commented on #1142
I had a look at my code as I was thinking it might be an issue with the way I'm managing the dragImage but the issue I was suspecting had been addressed. I had this exact same issue when dragging terminals as the drag image needed to be explicitly freed, however I am doing this in the code.

To rule it out completely, you would compile from the source code. Once that is done, duplicate the issue,

[2017-10-06 17:29] MylesJohnson opened #1144 "Seg Fault Fedora 27 Tilix 1.6.4"
I can not start Tilix on Fedora 27 Beta. Tilix was installed from the default repo.
[code]

GDB output:
[code]

[2017-10-06 18:43] bagage opened #1145 "Dead SSH connection hangs"
I'm not sure if that's a bug in Tilix, but since I hit that several times now I thought it would be good to at least report it. Feel free to close if irrelevant / not Tilix's fault :).

If I ssh to some remote server, and let it idle for some time (here 6 hours with laptop being closed / disconnected from wifi), once I go in Tilix again, the ssh session is still there but I cannot type anything an

[2017-10-06 18:55] f2404 commented on #1145
This reminds me of https://bugzilla.xfce.org/show_bug.cgi?id=10500, can you check if the remedy posted there works for you?

[2017-10-06 23:00] nickrogovik commented on #1144
I second this, however it was working at one point after the install before I started receiving the error.

[code]
[code]

[2017-10-06 23:42] gnunn1 commented on #1144
If I had to guess, I'd say that for some reason Screen.getDefault is returning null. The documentation says it can and I should be checking for null which I'm not so I'll correct that. However I'm not sure what the right way is to add a global CSS provider in this scenario, I'll have to investigate.

[2017-10-06 23:45] gnunn1 commented on #1144
If you switch to X11, does it work?

[2017-10-06 23:52] MylesJohnson commented on #1144
X11 has the same problem for me here

[2017-10-06 23:52] nickrogovik commented on #1144
Yeah, problem persists.

[2017-10-07 00:00] gnunn1 commented on #1144
Testing in Arch under both X11 and Wayland it works fine and I'm running a newer version of GTK:

[code]

I'll have to look at it some more, if you want to try compiling from source I added some code to hopefully prevent the crash but the CSS won't be loaded which will result in a less then optimal UI experience.

[2017-10-07 00:00] gnunn1 commented on #1144
BTW I'd suggest opening a bug against Fedora as well for this.

[2017-10-07 00:07] MylesJohnson commented on #1144
[Link to Fedora bugzilla report for posterity](https://bugzilla.redhat.com/show_bug.cgi?id=1499221)

[2017-10-07 12:02] kalev commented on #1144
Looks like gtkd 3.6.5->3.6.6 update somehow broke that.

[2017-10-07 13:14] gnunn1 commented on #1144
@kalev Can you elaborate, are you compiling tilix manually against 3.6.5 and it works or are you saying that tilix is dynamically linked against GtkD and downgrading the Fedora GtkD package fixes the problem?

[2017-10-07 15:32] EmTee70 commented on #486
I have just detected the behavior, that the +- keys beside the cursor and number block on my notebook (Ubuntu17.04, Lenovo ideapad 110)  are not detected, despite they produce the correct chars.
(Same with an USB Cherry Keyboard)

[2017-10-07 16:07] bagage commented on #1145
Oh, yes it works @f2404! Hitting `Enter` + `~` + `.` quits the ssh session (I also found that [askubuntu thread](https://askubuntu.com/questions/29942/how-can-i-break-out-of-ssh-when-it-locks)).
It's not an obvious thing though, regarding the number of upvotes for askubuntu question -- maybe Tillix could have something about that (would be awesome) or let as is (as most, if all, terminals I guess)

[2017-10-07 16:37] SriRamanujam commented on #1144
Downgrading GtkD from 3.6.6 to 3.6.5 immediately resolved the issue for me, Fedora 27.

[2017-10-07 16:59] gnunn1 commented on #1144
If you run ldd on tilix, does it show a dependency on GtkD? If so that's probably the problem, they likely either need to recompile tilix against the newer version of GtkD or statically link it.

[2017-10-07 17:36] SriRamanujam commented on #1144
[code]

Seems like it.

[2017-10-07 18:03] SriRamanujam commented on #1144
I can confirm that rebuilding Tilix against gtkd 3.6.6 solves the problem.

[2017-10-07 18:16] s4n-gt commented on #937
Improved version: https://gist.github.com/s4n-gt/9524ae4b9ee8d0aa7dc675fccc83099c

I have made a stripped version of `psutil`'s `Process` to minimize CPU usage (maybe 10x less) and to make it easy to port this into D as D doesn't have psutil alternative. Also, this version has no recursion limit problem.

I hope D version will consume much less CPU than python. But it will take some time to port i

[2017-10-07 18:49] egmontkob commented on #1145
I don't think there's anything terminal emulators could reasonably do here.

Terminal emulators don't "understand" what's happening inside, they basically just forward the keypresses and print whatever they're requested to print. They don't even "understand" what their immediate child, typically the shell does.

In order to detect this situation, they would need to somehow know that there's an ssh

[2017-10-07 18:59] gnunn1 commented on #1144
I'm closing this since it appears to be an issue with Fedora's packaging.

[2017-10-07 18:59] #1144 closed

[2017-10-07 19:41] gnunn1 commented on #1145
Thanks @f2404 and @egmontkob, as this does not appear to be a Tilix issue I'm closing.

[2017-10-07 19:41] #1145 closed

[2017-10-08 12:55] HarryPhoon opened #1146 "Segmentation Fault on start (Fedora 26)"
Few days ago I tried to open Tilix quake and nothing happend, so I tried to open normal application but it did not start. So I ran it from Terminal and got just "Segmentation fault (core dumped)" (https://imgur.com/8Mb8SgU).
Checked if there was some update that could change something but apart from basic system update and probably uninstalling and installing powerline shouldn't be anything the ca

[2017-10-08 20:11] gnunn1 commented on #1146
I think this is a duplicate of #1144, check what version of GtkD you have installed. If it is 1.6.6 then it likely is the same issue.

[2017-10-08 20:11] #1146 closed

[2017-10-09 05:23] russel opened #1147 "Tilix not working on Fedora Rawhide"
This may be a packaging bug and so not relevant here, but it seems the best way to connect people to the bug.

Tilix on Fedora Rawhide (1.6.4) fails to start issuing a SIGSEGV. The Fedora bug report is:

https://bugzilla.redhat.com/show_bug.cgi?id=1499609

[2017-10-09 08:03] gnunn1 commented on #1147
I believe so, see #1144

[2017-10-09 08:03] #1147 closed

[2017-10-09 22:48] iax7 opened #1148 "select by word characters"
There is a feature in terminator that is very handy:
![image](https://user-images.githubusercontent.com/6983510/31361467-21acf8f2-ad19-11e7-82c9-70ef0ae8f248.png)
this basically is used as a separator character when double-clicking in a long word, it selects only the part that is divided by this char list:
![image](https://user-images.githubusercontent.com/6983510/31361521-58cfcc1a-ad19-11e7-894c-

[2017-10-11 00:21] gnunn1 commented on #1148
Sure, the VTE has a method for this so supporting it is easy.

https://developer.gnome.org/vte/0.40/VteTerminal.html#vte-terminal-set-word-char-exceptions

[2017-10-11 01:12] wezm opened #1149 "Ability to donate/sponsor Tilix?"
I'm trying to make an effort to support tools like Tilix that are a core part of my computer use. Do you have any means to accept donations/[Patreon](https://www.patreon.com/)/[Liberapay](https://liberapay.com/) etc? I use Tilix for hours each day as part of my job and on personal machines and would like to support its development.

[2017-10-11 01:14] gnunn1 commented on #1149
While I appreciate the sentiment I have no plans to accept donations.

[2017-10-11 01:14] #1149 closed

[2017-10-11 18:26] HarryPhoon commented on #1146
[code]

[2017-10-11 21:38] cazacugmihai commented on #1128
I've tried the current [master](https://github.com/gnunn1/tilix) and the reported [issue](https://github.com/gnunn1/tilix/issues/1128#issuecomment-332860831) is still there.

[code]

Please make a test using the profile provided [here](https://github.com/gnunn1/tilix/issues/1128#issuecomment-332838264).

Maybe my assumption is wrong. Here is my expectation: when the user provides a command (e.g. `

[2017-10-14 13:54] gnunn1 commented on #1128
Yes, your assumption is incorrect. When you run a command it runs that instead of the shell. gnome-terminal and other terminal emulators, AFAIK, behave the exact same way.

[2017-10-14 15:47] cazacugmihai commented on #1128
In this case, is there a way to enable somehow the behavior that I have described?

I have a session with lots of terminals and, on load, I would like that each terminal to execute a specific command (`child` -> `child1` -> `overrideCommand`) in the specified directory (`child` -> `child1` -> `directory`).

Thank you!

P.S. Should I create an issue (`feature`) for this?

[2017-10-14 15:57] phw commented on #1128
You can just invoke the shell directly and pass the command to execute to it with the `-c` parameter, e.g.:

    /bin/bash -c ls

This will of course just run ls and exit afterwards. If you also want to use the shell after it exited, just invoke a shell command again after the first command, e.g.:

    /bin/bash -c "ls && /bin/bash"

[2017-10-14 17:00] cazacugmihai commented on #1128
Yes, it works using your advise! Thank you very much!

[2017-10-14 18:15] ErikWallstrom opened #1150 "Tilix 1.7.0 Scrollbar Always Visible"
The scrollbar of Tilix is always visible after the update.
I believe it's a bug, since the scrollbar goes away if you don't move your mouse in all other GTK3 applications.

[2017-10-14 20:50] gnunn1 commented on #1150
Do you have the environment variable GTK_OVERLAY_SCROLLING=0 per chance? Some DEs, notably MATE, set this variable to disable overlay scrolling, tilix now respects it since it causes issues otherwise.

Otherwise what DE do you use and can you supply a screenshot?

[2017-10-14 21:05] ErikWallstrom commented on #1150
I am using GNOME 3.26.

Here is Tilix:
![screenshot from 2017-10-14 23-01-35](https://user-images.githubusercontent.com/15019604/31579296-b7fdec44-b133-11e7-9ddd-7c75bd4525c7.png)

Here is Natuilus with "small scrollbar":
![screenshot from 2017-10-14 23-01-53](https://user-images.githubusercontent.com/15019604/31579298-bf8e7f00-b133-11e7-9257-a5ad0b55dca5.png)

Here is Natuilus with the same scrol

[2017-10-14 21:07] gnunn1 commented on #1150
Check the preferences, is the overlay scrollbar default setting in Appearances turned on. I may have missed setting that back to true when working on that bug

[2017-10-14 21:10] ErikWallstrom commented on #1150
Oh, my bad. The issue is fixed by enabling that option. I didn't realise that was an option since it was enabled by default before. Thanks!

[2017-10-14 22:46] gnunn1 commented on #1150
I'm re-opening this as it should be on by default.

[2017-10-15 13:33] #1150 closed

[2017-10-15 13:34] gnunn1 commented on #1142
@leonekmi Do you have time to look at this more and compile tilix from source?

[2017-10-15 18:25] alex285 opened #1151 "[Run Error] tilix: undefined symbol on Ubuntu 17.10"
this happens on Ubuntu 17.10 on `1.6.4-1ubuntu1` package and apparently isn't reproduce-able to all Ubuntu installations

[code]

[2017-10-15 18:29] jbicha commented on #1151
I don't think this is an upstream tilix bug. I think this is because alex285 was using artful-proposed packages.

[2017-10-15 18:36] alex285 commented on #1151
@jbicha was correct.
i did `apt-cache showpkg tilix` and i downgrade the dependencies. what was breaking Tilix was `libgtkd-3-0`

downgrade it from ` 3.6.6-1ubuntu1` to `3.6.5-2ubuntu1` fixed the issue

[2017-10-15 18:36] #1151 closed

[2017-10-15 18:38] alex285 commented on #1151
btw Tilix requires dGTK 3.6.6

[2017-10-16 17:46] dsboger opened #1152 "Cannot compile with GtkD 1.7.0"
I think GtkD made some restructuring of the source code (https://github.com/gtkd-developers/GtkD/commit/2c5c50977812daa6af4769c7ef2eb054e26c5dd4 and maybe others) and Tilix fails to compile with the following error:

[code]

I've tried to solve the given message, by changing the offending line to

[code]

and the message went away, only to be replaced by the following ones:

[code]

That's as far

[2017-10-16 21:51] simoniz0r opened #1153 "Problem running Tilix 1.7.1 and 1.7.0"
I am running Xubuntu 16.04, and I have Tilix 1.6.4 installed through the PPA.  I downloaded the latest release from the releases page here, and when I try to run it without my installed version of Tilix running first, I get the following error:

[code]

If I have my current installed version of Tilix running before attempting to launch the new version, it seems to launch fine, but I'm thinking it

[2017-10-16 21:58] gnunn1 commented on #1153
Did you run ```install.sh``` as per the instructions and what was the output?

[2017-10-16 21:59] simoniz0r commented on #1153
The download contains no install.sh?

[2017-10-16 22:07] gnunn1 commented on #1153
Me bad, I'm so used to running it from source I forgot about that. Did you run this command:

[code]
And where there any issues? The reason it is complaining about the key is because it is using the old schema. Compiling the schema should correct the issue.

Sorry for the confusion.

[2017-10-16 22:10] simoniz0r commented on #1153
Thanks, that worked!

[2017-10-17 00:35] simoniz0r commented on #1153
I'm going to go ahead and close this; that error doesn't seem to be hurting anything as far as I can tell.  I'll open up a new issue if I notice some weird behavior being caused by this.

[2017-10-17 00:35] #1153 closed

[2017-10-17 09:41] jsparber opened #1154 "Animation when switching between sessions"
Animations between sessions would help to create, for the user, a spacial overview of all sessions and make it easier to orientate.
A good example of an animation i think of is switching between workspaces in gnome.

[2017-10-17 10:03] hotice opened #1155 "1.7.1 doesn't build on 32bit Ubuntu"
I'm trying to update my Tilix PPA, but the latest 1.7.1 version fails to build on 32bit with the following error:
[code]

The complete build log can be found here: https://launchpadlibrarian.net/341152299/buildlog_ubuntu-artful-i386.tilix_1.7.1-1~webupd8~artful1_BUILDING.txt.gz

[2017-10-17 14:08] Atem18 commented on #1118
@gnunn1 My flaw (quake window was placed a bit on the second screen) disappeared after updating to gnome 3.26 and to your latest version. Could you consider it to keep quake mode in Wayland because it is one if not the main reason I'm using and loving Tilix.

Thanks in advance.

[2017-10-18 02:22] gnunn1 commented on #1155
I'm probably not going to get a chance to look at this for a little while as I'm swamped at work. If someone wants to submit a PR I'd be grateful.

[2017-10-18 07:10] maidenone commented on #1054
I just built tilix 1.7.1 and my loaded session starts at home instead of the dir that was present when i saved the session. i also see no paths is set in the session file that i saved. (save with ctr + shift + s) and see that the session.json file is updated, but paths is always " "

[2017-10-18 07:15] maidenone opened #1156 "Save session does not get active directory, dir is empty in save file"
I just built tilix 1.7.1 and my loaded session starts at home instead of the dir that was present when i saved the session. i also see no paths is set in the session file that i saved. (save with ctr + shift + s) and see that the session.json file is updated, but paths is always " "

Also "new terminal inherits directory and profile from active terminal" does not work either, maybe related? all ne

[2017-10-18 11:31] gnunn1 commented on #1156
You probably need to source vte.sh in bash, see the following for information on how to rectify it:

https://gnunn1.github.io/tilix-web/manual/vteconfig/

[2017-10-19 19:11] brisssou commented on #916
Hello,
I'm facing this issue with ubuntu 17.10 and tilix 1.7.1
1.6.4 is working fine.

[2017-10-19 19:16] jbicha commented on #916
@brissou Where did you get tilix 1.7.1 ? Did you compile from source?

[2017-10-19 19:27] brisssou commented on #916
I just downloaded the release from github.

[2017-10-19 19:37] jbicha commented on #916
@brissou Then you need to grab the pcre2-version-update.patch from Ubuntu's tilix packaging.

[2017-10-19 20:22] brisssou commented on #916
so I need to build tilix from the sources?

[2017-10-19 20:27] koalization opened #1157 "(CentOS 7.4) SegFault when clicking on "About" in the dropdown menu on the top bar."
I've just compiled Tilix from source a few minutes ago (from Github, master branch). Sorry if I can't say since which version it started happening. This is an almost fresh install of CentOS 7.4, bare-metal, released in september, which runs a new version of Gnome:
[code]
I compiled it with DMD & DUB (both in the latest versions, downloaded from their respective official websites.
![screenshot from

[2017-10-19 20:32] jbicha commented on #916
Yes, or just stick with the version of tilix in Ubuntu or maybe someone will make a Snap or a Flatpak or a PPA you could use.

[2017-10-19 20:35] brisssou commented on #916
ok cool. Thanks for the clarification.

[2017-10-20 03:07] gnunn1 commented on #1157
Can you compile it with debug information and run it through gdb and get a backtrace. If you can, post it here and I'll have a look.

[code]

[2017-10-20 03:07] gnunn1 commented on #1156
Any luck with this?

[2017-10-20 03:09] gnunn1 commented on #1152
The problem is I added getAllowHyperlink on my own to the exvte class which inherits from GtkDs terminal class. I need to add some sort of version check around that code and only compile it in for older versions of GTKD.

[2017-10-20 05:22] maidenone commented on #1156
Yes. Setting the source in bashrc and restart the application in a new
terminal did it.

On 20 Oct 2017 05:07, "Gerald Nunn" <notifications@github.com> wrote:

[2017-10-20 05:22] #1156 closed

[2017-10-20 09:46] rplevka opened #1158 "1.6.4-1.fc26-1.6.4-1.fc26 Crashing with no obvious reason"
Sorry, I really don't know why this happens, it's just sometimes tilix 'just crashes', even while i'm actively using it.
the only thing I have is the following stack trace logged in the journal.

- feel free to close this if this is insufficient data.

[code]

[2017-10-20 10:45] koalization commented on #1157
Sure, here's the output ([tilix.txt](https://github.com/gnunn1/tilix/files/1401636/tilix.txt)):
[code]

[2017-10-20 21:06] basille commented on #633
I'm reopening this issue as I can't get it right with the update to Debian Buster (testing). Things are working fine with Gnome-Terminal, but not quite for Tilix:

![screenshot from 2017-10-20 16-55-32](https://user-images.githubusercontent.com/4000337/31841669-79a3615c-b5b8-11e7-8a2c-4008600fda1f.png)

Additional information:

- Tilix version:

[code]

- `~/.bashrc` configuration

[code]
- Powerl

[2017-10-20 21:42] gnunn1 commented on #633
Does it make any difference if you disable the overlay scrollbar in Preferences | Appearance?

[2017-10-20 22:06] basille commented on #633
It actually does! Thanks for the super fast answer, problem solved.

Weird though, I can revert to using (enabling) the overlay scrollbars, and it still works… Not sure what's happening here.

[2017-10-21 10:23] tlinsley opened #1160 "Strange paste and history behavior"
Issue: When I paste into terminal (same result via shift+insert or shift+ctrl+v) AND the data wraps to more than one line, Tilix repeats the first line many times before finally showing the remainder. Note it does not actually execute the repetitious lines, just kinda echoes them. Once the entire paste is there, everything works a normal. But if I up arrow through history to that command, the same

[2017-10-21 13:19] gnunn1 commented on #1160
Does it happen in gnome-terminal as well or just tilix?

[2017-10-21 14:32] gnuvince opened #1161 "Window doesn't come to front and prompt doesn't appear immediately"
I have Tilix 1.7.1 (downloaded the .zip from Github) installed on a Debian Unstable machine running the Openbox window manager.  I've noticed two issues:

1. If no other tilix instance is opened, the PS1 prompt doesn't appear.  Pressing Enter (or any other key really) makes the prompt appear; opening a new tab (`Ctrl+Shift+T`) makes the prompt appear in both tabs; opening a new instance of tilix m

[2017-10-21 15:20] gnunn1 commented on #1158
I'm not seeing anything in that stack trace that indicates what the problem could be, it's all in gtk/gdk space. If you get some more stack traces feel free to re-open.

[2017-10-21 15:20] #1158 closed

[2017-10-21 15:42] gnunn1 commented on #1161
Nothing comes to mind for these issues, does gnome-terminal work?

Unfortunately I do not support Openbox, just Gnome and Unity. I only have so many hours in the day and have to limit the scope of what I can support effectively. I will not be investigating further, sorry.

[2017-10-21 15:42] #1161 closed

[2017-10-21 21:08] koalization commented on #1157
Hi, I was trying to narrow down the range of possible causes for this bug (which isn't really high priority by the way, so take your time, I really mean it). I've just built Tilix 1.6.4 and this bug doesn't show up (I compiled it with both GTKD 3.6.5 and 3.6.6, after a `dub upgrade`). This bug only exists as of version 1.7.0. Hope it helps.

[2017-10-22 09:49] tlinsley commented on #1160
Wolf! Wolf! Wolf!

My apologies fro crying wolf. The issue has cleared itself. Since I had done a "dnf update" an hour or so before the issue started happening, I suspect that caused the temporary issue. I later noticed some vte components had updated. After restarting my system, all was happy again.

Thanks for the wonderful terminal and sorry again for the false report.

[2017-10-22 09:49] #1160 closed

[2017-10-22 09:55] egmontkob commented on #1160
Maybe it was a rarely occurring bug that you won't ever see or we won't be able to trace down. However, VTE didn't receive any change recently that could be relevant; plus a "dnf update" running in the background, or VTE itself just being upgraded is not a valid reason for such a bug to occur.

[2017-10-22 15:58] pedzed commented on #114
Had this not been the default terminal on the (Ubuntu) Budgie flavor, I wouldn't have ever used Tilix. What an annoyance to not see what tabs ("sessions") are open unless you click to show the sidebar.

"Click to reveal" is one of the greatest annoyances in UX. People want to be able to see the sessions without the need of clicking and be able to switch to another session with just one click. With

[2017-10-22 17:10] phw commented on #114
@pedzed You realize this issue is marked closed since tabs are available since Tilix 1.7?

[2017-10-22 18:47] pedzed commented on #114
@phw Good to hear. My OS came with Tilix 1.6.4.

[2017-10-22 21:15] junquera opened #1162 "Add ability to change tile name"
I miss the possibility of change the name of a tile, like in other terminals like *terminator*. When I have a lot of tiles (for example multiple `ssh` sessions) it's very usefull setting the name. Something like this:

![tilix_rename](https://user-images.githubusercontent.com/1433434/31866352-ce2a84fe-b77e-11e7-83d5-339597ab6144.png)

I would be proud of doing this and making the pull request, but

[2017-10-22 21:38] gnunn1 commented on #1162
Use the Hamburger menu on the right and select the ```Name...``` option. I agree though when tabs are enabled it should be more intuitive.

[2017-10-24 09:56] jotaf98 opened #1163 "Can't drag tiles with long titles (paths)"
Hi, first of all, thanks for developing Tilix, it is awesome!

One snag I run into frequently:

A tile's title bar seems to have two components; the bar's background, which is draggable, and the title text which is not draggable (it is a drop-down menu).

This is a problem, because if a tile's title text is long enough (which happens in directories with long paths), it covers the whole title bar.

[2017-10-24 13:11] gnunn1 commented on #1163
It's a good point, I'm wondering if I should add some margin somewhere to always ensure there is whitespace. Alternatively an always visible grab handle could be used but that's a bit ugly. I'll think about the options, ideas always welcome.

[2017-10-24 14:33] dsboger commented on #1163
@gnunn1 Is it possible to make the button itself a drag source behaving the same as its container?

[2017-10-26 22:33] gnunn1 commented on #1163
@dsboger Maybe, I'll have a look at what is involved.

[2017-10-27 12:14] jotaf98 commented on #1163
I guess an invisible spacer element (that is draggable) to the right of the text should do the trick.

Making the dropdown menu draggable would be even better. However it might not be worth it if it clashes with the clicking/drop-down behavior, and turns out to be flimsy or hard to implement.

[2017-10-27 22:06] #1152 closed

[2017-10-27 22:06] #1155 closed

[2017-10-27 23:17] #1148 closed

[2017-10-27 23:19] gnunn1 opened #1165 "Add support for VTE vte_terminal_set_background_operator"
See https://bugzilla.gnome.org/show_bug.cgi?id=767575

This will enable support for badges and more efficient drawing of images in the background without having to use tilix's patched VTE.

[2017-10-28 01:44] #1165 closed

[2017-10-28 01:48] gnunn1 commented on #1165
Note that when VTE 0.52 is released the VTE patch I have for disabling the background draw will no longer be required.

[2017-10-28 08:57] alexwhitman opened #1166 "AssertError when opening preferences"
Trying to build/run latest master on Ubuntu 17.10.  I applied the patch used in the Ubuntu package so that it will work without PCRE2:

[code]

Applying the patch worked fine, tilix builds and runs but trying to open the preferences dialog gives:
[code]

[2017-10-28 08:59] gnunn1 commented on #1166
Use ldc2 to compile for now, there's an issue with dmd that is being looked at by the GtkD maintainer.

[2017-10-28 09:17] alexwhitman commented on #1166
Ah, fair enough.  For now I've just exported/imported settings from another machine and tilix appears to be working fine as long as I don't open the preferences dialog.

[2017-10-28 13:02] egmontkob commented on #1078
FYI:

There's another pretty similar bug, [see here](https://bugzilla.gnome.org/show_bug.cgi?id=789390). The steps to reproduce work with Tilix too with the "view session sidebar" and "hamburger" buttons.

It'll be fixed in vte-0.50.2.

[2017-10-28 14:33] gnunn1 commented on #1166
References here:

https://forum.gtkd.org/groups/GtkD/thread/661/

and here:

http://forum.dlang.org/thread/ot20f2$2gub$1@digitalmars.com

[2017-10-28 14:40] #1163 closed

[2017-10-28 14:41] gnunn1 commented on #1163
I have added ten pixels of margin to the right of the button so there will always be place to click and drag.

[2017-10-28 14:58] gnunn1 commented on #1142
No response from OP, closing.

[2017-10-28 14:58] #1142 closed

[2017-10-29 09:21] alexwhitman commented on #1166
So based off a comment in one of the threads above, I updated DMD to beta 2.077.0-rc.1 and now the preference dialog works.  There were a bunch of deprecation warnings in the build but that's not a problem:
[code]

[2017-10-29 09:26] wezm opened #1168 "Building on FreeBSD"
I guess this is a combination of bug report and documentation. I'll start of with saying I managed to build Tilix 1.7.1 on FreeBSD 11.1. Unfortunately it crashes right after showing the initial window ([screenshot of window](https://mastodon.social/media/v8N4rSVkaneDyBWJqWE)):

[code]

The steps to build were:

1. Install dmd from the [dlang](https://dlang.org/download.html) download page
2. Insta

[2017-10-29 09:36] wezm commented on #1168
Interestingly it's crashing in the same function in https://github.com/gnunn1/tilix/issues/1157

[2017-10-29 09:58] wezm commented on #1168
Ahh I got a working build with LDC (which I know the README says is unsupported) but still had to diddle with the linking args.

[2017-10-29 14:06] gnunn1 commented on #1168
LDC is supported, it says not supported somewhere then that should be corrected. It's GDC that's not supported.

[2017-10-30 15:02] gnunn1 commented on #633
Closing issue as some improvements to overlay scrollbar handling were done. While that doesn't mean this is fixed, I'm going to chalk this up as one of those things. Feel free to re-open if problem happens again.

[2017-10-30 15:02] #633 closed

[2017-10-30 18:23] koalization opened #1171 "Can't change cursor color (Debian 9.2/MATE 1.16.2/Tilix 1.6.4)"
Just installed Tilix 1.6.4 from [stretch-backports](https://packages.debian.org/stretch-backports/tilix) in Debian 9.2. In Preferences->Default->Color->Advanced I change my cursor background to red (or any other color), which makes my cursor temporarily change color to red, then I close the window and the cursor turns back to white (or any other color previously set). I tried with both the Dark an

[2017-10-30 19:49] jotaf98 commented on #1163
Thanks, that's great! BTW how often are these changes usually reflected on the Webupd8 PPA? (Just to know the time scale of when to expect it)

[2017-10-30 20:00] gnunn1 commented on #1171
I just tried it in 1.7.0 and it worked fine for me. There was an issue back in April that caused this but 1.6.4 was released after that. Can you try the latest version and see if it is corrected there.

[2017-10-30 20:03] gnunn1 commented on #1163
It generally gets updated whenever I do a release which isn't that often these days. However it looks like they haven't done an update to 1.70 or 1.7.1 yet so they may be running behind. You would be better off asking the package maintainer.

[2017-10-31 10:05] hotice commented on #1155
Using the fix from https://github.com/gnunn1/tilix/commit/018b3b0fd6cb9d498b61944cd0f6bf289a5b1748 , the app builds but it segfaults on 32bit.

[2017-10-31 11:32] koalization commented on #1171
I've built Tilix with DUB and DMD from the master branch (installed DMD's .deb from the official website) and it crashed when clicking on Preferences. I also haven't managed to build it with DUB and GDC that come with Debian by default, I got lots of errors (most of related to GTKD 3.7.0 by the way). However, since Debian gave me other major annoyances I wiped out the partition and I couldn't help

[2017-10-31 11:48] gnunn1 commented on #1171
Sorry about that, unfortunately there's a bug with DMD and GTK 3.7.0, please use LDC to compile tilix for the moment.

[2017-10-31 11:50] gnunn1 commented on #1155
Unfortunately I cannot test 32 bit, if you run it in gdb with debug enabled what do you get for a backtrace?

[2017-10-31 15:01] koalization commented on #1171
I will. Thanks for your great work, Tilix is really appreciated and a joy to use. Unfortunately I'm having issues with Debian overall, I'm going to submit a couple bug reports to them, not related to Tilix. Sorry if I can't be of more help with this particular issue.

[2017-10-31 15:01] #1171 closed

[2017-11-01 11:16] ktomk opened #1172 "New Terminal via Ctrl+Alt+T creates Split to Quake Console"
I have Ubuntu 16.04 LTS and Tilix installed. I'm using the quake console as well.

When pressing Ctrl+Alt+T keyboard accelerator keys to open the terminal and only the Quake-Tilix was loaded so far, a new split is created inside the quake-console.

I would consider this as a flaw as my expectation is that a Tilix main terminal window is opened instead of splitting the quake terminal.

[2017-11-02 16:20] gnunn1 commented on #1166
This has been fixed in Gtkd 1.7.1, I have updated dub.json to use that version now.

[2017-11-02 16:20] #1166 closed

[2017-11-02 16:22] gnunn1 commented on #1172
I don't believe Tilix configures a shortcut by default for ctrl-alt-T, did you mean ctrl-shift-T? If so, the behavior that occurs when opening a new Tilix window is controlled by the preference ```On New Instance``` in the Global section of preferences. Do you have it configured to split a window?

[2017-11-02 16:27] ktomk commented on #1172
Ctrl+Alt+T is just the default shortcut on my desktop for the default terminal which is Tilix for me.

The global preference is indeed set that way.

Having that as a global preference looks counter-productive to me as I use two different styles of Tillix, the standard one and the quake one.

The quake one should not split down on new instance as the quake one should have only one instance and ins

[2017-11-02 16:45] gnunn1 commented on #1172
I understand where you are coming from, I'm not sure there's a clean solution to this though without adding more options which at this point I'm loathe to do as I have too many of them already. Folks that primarily use Tilix out of quake mode likely want to keep things the way they are so there has to be a balance between the two.

I'll let it percolate in my brain a bit, but thoughts about this f

[2017-11-02 17:03] f2404 commented on #1172
@ktomk What command is assigned to your shortcut, is it just `tilix`?

[2017-11-02 17:21] Lyude opened #1173 "Tilix scrollback lags at large resolutions (>1080p)"
Recently I noticed that on my laptop along with another machine I've tried (both of which have 4K displays), scrolling through the tilix scroll back is far slower then it feels like it should be. Keep in mind this happens with a default tilix configuration as well, so unlimited scrollback is definitely not involved here. The easiest way I've been able to reproduce this is to just maximize the term

[2017-11-02 17:24] gnunn1 commented on #1173
I'm using a QHD monitor (2560 x 1440) and no issues here but obviously this is much less resolution then 4K. A couple of questions as follows:

a. What video card are you using?

b. If you disable overlay scrollbars in Appearances does that fix the issue?

c. What is the output of ```tilix --version```

[2017-11-02 17:31] iax7 opened #1174 "Special Input for synchronized input"
When having multiple terminals the synchronized input is very handy, but there are sometimes when there is a need to type something different in each terminal, as example, I have 6 terminals:
![image](https://user-images.githubusercontent.com/6983510/32340623-bf430fde-bfc0-11e7-955e-c1125c34d127.png)
If I need to specify a different host for each I need to disable synchronization, type individuall

[2017-11-02 18:49] Lyude commented on #1173
a. Kabylake GPU, HD 620 8086:5916. I work on mesa/i915/i965 so I can say I'm mostly sure this isn't a GPU issue (tilix's CPU usage rises to 100% when the lag happens), but if you want me to double check at some point let me know. Honestly the far more worrying I see is the fact that it's relying so heavily on pixman, anything pixman does is going to be 100% software acceleration which would also e