[2017-04-16 20:51] egmontkob commented on #881
Could, by any chance, your Tilix use a different VTE than gnome-terminal? What does `echo $VTE_VERSION` say? VTE had such a bug for a short time in the devel series about a year ago, see https://bugzilla.gnome.org/show_bug.cgi?id=762446.

[2017-04-16 20:56] gnunn1 commented on #881
@egmontkob Seems pretty unlikely, but I guess you never know. @lburgazzoli Could you run the command ```tilix --version``` and post it here. That will show the tilix, VTE and GTK versions you are using.

[2017-04-16 21:01] gnunn1 commented on #886
That's weird, the ```>``` character looks like it is going into that mode when you miss closing a quote. Do you get the same behavior in gnome-terminal? Does this happen all the time even if you just press enter once?

[2017-04-16 21:13] gnunn1 commented on #881
Also, @lburgazzoli when you say it only happens when you paginate, are the steps you are doing to reproduce this:

* run ```git log```
* hit spacebar a few times to switch pages
* try to select text using the mouse

I tried the above and couldn't reproduce, but maybe if you post the exact steps if it differs from what I have here I could get lucky and reproduce it.

[2017-04-16 21:21] egmontkob commented on #881
Could be due to cropping, but `less`'s status bar is not present in the screenshot. Makes me wonder if maybe no pager is used and git directly writes to the terminal.

[2017-04-17 10:45] JanKoppe opened #887 "Feature request: Rotate layout"
Hi!
I've been using Tilix instead of Terminator in the past few days and have been really happy so far, awesome job! One feature from Terminator that I really do miss though is rotating the layout of terminals.

I have not been able to find an option in Tilix to do that, but maybe I'm just blind?

What it does is allow you to change the layout via a keybinding from (e.g.):
[code]
To this clockwise

[2017-04-17 10:53] rpbaptist commented on #886
The `>` character is my prompt, so similar to `$`. I did not have the same problem in Gnome.

I ran into some more issues (Basically PPA's not being ready for zesty) and decided to go back to 16.04.2. No problems anymore with the exact same configuration.

[2017-04-17 11:22] egmontkob commented on #887
It sucked to port this code from gtk2 to gtk3, see https://bugs.launchpad.net/terminator/+bug/1522542 for details, but once you have that knowledge about how to address the issue in gtk3, it should be relatively easily doable I guess.

Not sure if having the option to mirror the layout would make any sense, I've filed it for terminator at https://bugs.launchpad.net/terminator/+bug/1525674 but noon

[2017-04-17 13:11] gnunn1 commented on #886
OK, I'll close the issue but if you go back and have the same issue again feel free to re-open it.

[2017-04-17 13:11] #886 closed

[2017-04-17 13:12] gnunn1 commented on #887
I don't have much interest in implementing this feature but if someone wants to do the work and submit a PR I would not have any issue with accepting it.

[2017-04-18 05:39] lburgazzoli commented on #881
@gnunn1

Here's ```tilix--version``` output:

[code]
Here's the list of packages related to vte:

[code]

I did reset tilix to its defaults and then followed the steps you mentioned and same issue happens, it does not happens on a vm I spin up for testing this issue so there's should something wrong in my setup but I can't figure it out.

[2017-04-18 11:38] nean-and-i opened #888 "REPLACE mode started at vim on "Synchronize Input""
when opening a file via vim on centos 7, while "Synchronize Input" enabled, vim starts in REPLACE mode automatically ?!?!
this is not the case when using different terminal like terminator.
what triggers "shift+r" ?

[2017-04-18 19:21] deathtrip opened #889 "issue with pasting passwords"
When pasting passwords, for sudo or cryptsetup for example, i always get a wrong passphrase error.
The passwords are correct, because they work in Konsole, so it must be a Tilix issue.

[2017-04-18 20:26] egmontkob commented on #889
works for me

[2017-04-18 22:44] gnunn1 commented on #889
Where are you copying passwords from, there was an issue with keypads that has been fixed in master. If you copy them from gedit and then paste into tilix do you still have the issue?

[2017-04-18 23:31] deathtrip commented on #889
i copy from keepass 2.35 on Arch Linux

[2017-04-18 23:36] gnunn1 commented on #889
This was fixed in master in #884

[2017-04-18 23:36] #889 closed

[2017-04-19 12:22] gnunn1 commented on #888
I cannot reproduce this issue, it works as expected for me on Arch Linux. Anyone else have this problem?

[2017-04-20 05:01] Skitionek opened #890 "Ctrl+Tab to cycle between terminals"
As far I remember it works upon installation, but after changing it you are not able to get the setting back (ctrl+tab jumps to next option).

[2017-04-20 14:51] nean-and-i commented on #888
seriously, can be reproduced:
When I start 2 terminals and enable "Synchronize Input" and connect to 2 centos (CentOS Linux release 7.3.1611) boxes via ssh, and start vim to edit a file there eg. /etc/vimrc (VIM version 7.4.160),  both vim starts in REPLACE mode.
When I disable synchronize Input, it does not happen, so it seems this mode interfere somehow with an default vim option.

I also figure

[2017-04-20 15:00] phw commented on #888
Also cannot reproduce. Tried on two remote Ubuntu 16.04 servers. It didn't matter if `set compatible` was active or not. Don't have a CentOS machine to test.

[2017-04-20 15:22] nean-and-i commented on #888
no LXD,kvm,docker,virtualbox around?
you definitely need centos 7.3 on the dest. and its default vim.
haven't seen this issue on centos 6.
hard to reproduce but once you get there you'll wonder,...

you can also log into one centos 7 multiple times, enable `Synchronize Input` and just start `vim` .

[2017-04-20 17:01] ivoarch commented on #888
I tried on my CentOS 7.3 and the same issue vim starts in REPLACE mode .

[2017-04-21 03:16] eater opened #891 "Crash when I try to open Layout Options"
1. Launch tilix from another terminal.
2. Right-click in tilix window, and click Other > Layout Options
3. tilix closes, with:
[code]
My GTK+ version is 3.14.13-0ubuntu1.

[2017-04-21 12:26] #891 closed

[2017-04-21 12:27] gnunn1 commented on #891
Thanks for reporting this, should be fixed in master now.

[2017-04-21 12:33] gnunn1 commented on #890
Hmm, I don't think GTK allows using the Tab key in shortcuts and thus actively prevents it from being set. I'll probably need a button to reset it to the default value or something similar.

For now, you can use dconf-editor and just manually set it back to the default. It's in com/gexperts/Tilix/Keybindings. The setting is session-switch-to-next-terminal

[2017-04-21 16:45] luispabon opened #892 "[ GNOME / Wayland ] Quake mode, start maximised"
I've been trying to get Tilix to open maximised while in Quake mode to no avail:

[code]

As it stands, `tilix -q` opens fairly small:

![screenshot from 2017-04-21 17-44-08](https://cloud.githubusercontent.com/assets/6388823/25287796/b7826bae-26ba-11e7-9cca-afed8f3d2279.png)

Tilix doesn't seem to remember its last window size, and I can't see anything on `tilix --help` or preferences that can he

[2017-04-21 16:48] luispabon commented on #892
![screenshot from 2017-04-21 17-44-08](https://cloud.githubusercontent.com/assets/6388823/25287796/b7826bae-26ba-11e7-9cca-afed8f3d2279.png)

[2017-04-21 16:56] luispabon opened #893 "[ GNOME / Wayland ] Copy on select doesn't copy to wayland clipboard"
Copy on select seems to work fine for as long as you don't leave the confines of tilix, but it won't go into the system's clipboard. I need to remember to copy differently if I intend to paste elsewhere. Is this intentional?

[2017-04-21 17:07] gnunn1 commented on #892
You can change the height of the quake mode window in preferences as per the screen shot below. Note that this screenshot is from when running under X11 and some options, such as adjusting the width, won't appear in Wayland.

![screenshot from 2017-04-21 13-06-47](https://cloud.githubusercontent.com/assets/9358238/25288435/67e31c78-2693-11e7-8fa5-840fd0b643db.png)

[2017-04-21 17:07] #892 closed

[2017-04-21 17:12] gnunn1 commented on #893
in X11, selecting text always goes to primary. Under Wayland, the primary clipboard was not supported originally but I think Gnome recently added support for it. However, in neither case will selecting text cause it to go the clipboard by default in Tilix.

If you want that behavior, you need to enable the "Automatically copy text to clipboard when selecting" option in Preferences | Global.

[2017-04-21 17:12] #893 closed

[2017-04-22 07:34] floringogianu opened #894 "Add support for custom window scalling based on env variables"
On Gnome 3.24 I use two displays: the hidpi display of the laptop and a regular 24" Dell. The scaling factor is 2, so everything on the Dell is twice as large. Because multi-dpi support is not yet fully baked in Gnome, I am forced to launch apps that I will use on the Dell display with the following flags, to scale it down:

`env GDK_SCALE=0.5 GDK_DPI_SCALE=0.5 CLUTTER_SCALE=0.5 appname`

This wor

[2017-04-22 13:07] gnunn1 commented on #894
I tested it running from gnome terminal and it works as expected:

[code]

I suspect the issue is because Tilix uses DBUS activation. In the tilix desktop file ```/usr/share/applications/com.gexperts.Tilix.desktop``` change ```DBusActivatable=true``` to ```DBusActivatable=false```.

You may need to restart gnome shell or logout and in for the change to take effect.

[2017-04-22 13:09] gnunn1 commented on #894
BTW, in Wayland it auto-detects scaling proving the Window scaling factor in dconf is set to 0. I run Linux on a Macbook Retina and use a 27" Asus monitor and it seemed to work for me when I tested it out but honestly I usually disable the laptop screen when connected to my monitor.

[2017-04-23 01:28] Soulsbane opened #895 "Quake mode focus lost"
I'm not sure if this is a bug or a configuration issue on my end. If I use a hotkey to open tilix use hotkey again to return to what I'm editing the focus of tilix will be lost when I reopen again. I have to use a mousepress in order for tilix to except input.

I created a [video](https://www.youtube.com/watch?v=HDVIOjSUGws) to demonstrate.
Thanks!

[2017-04-23 01:37] gnunn1 commented on #895
Is this Wayland or X11?

[2017-04-23 02:43] Soulsbane commented on #895
x11 on Kubuntu 16.10

[2017-04-23 03:10] Laeeth opened #896 "feature request: open new terminal window from ctrl-shift-n in current directory"
rather than home directory.
same behaviour as lxterminal, for example.

Thanks.

[2017-04-23 03:34] f2404 commented on #896
The best option would be to have this behavior configurable, I think.

[2017-04-23 03:52] Laeeth commented on #896
Yes - I agree.

[2017-04-23 04:04] gnunn1 commented on #896
I'm not sure I agree it needs to be an option, there's too many of them already IMHO. It really should work one way or the other. Besides lxterminal, what do the other major terminals like xfce4-terminal, gnome-terminal and Terminator do?

[2017-04-23 04:45] gnunn1 commented on #895
Thanks for the video, is tilix running in full screen or is it just the video is clipped? Otherwise the height is supposed to be limited to 90% of the screen size to avoid issues.

Also note that I don't support KDE, if there's an obvious fix for an issue I'm happy to correct it but I won't spend debugging in KDE.

[2017-04-23 04:48] Soulsbane commented on #895
Yeah, the 90% thing was really bugging me and I found a setting in one of the closed issues. I'll try to find it and remove and see if I still get same results. Thanks.

[2017-04-23 04:50] Soulsbane commented on #895
Ah, it wasn't a setting I'm launching it with tilix --quake  --full-screen

[2017-04-23 04:51] gnunn1 commented on #895
That should be fine but try it without full screen to see if it makes a difference.

[2017-04-23 04:58] Soulsbane commented on #895
That didn't fix it, unfortunately. I'll try to do some searching to see what I can find on kde and application focus when I have time.

[2017-04-23 04:59] gnunn1 commented on #895
Thanks. I made some changes in that code in the last few weeks, I'll double check it as well.

[2017-04-23 07:41] Dark-Passenger opened #897 "Can't compile 1.5.6 on centos 7"
Hi,
Fails to compile the latest release on centos 7.  Something in the man compilation are, am compiling with autotools.

And the binary version fails to run on centos 7.

AFK(will post error by tomorrow).

Am still on 1.5.4 which is working fine. On the same device.

[2017-04-23 09:10] floringogianu commented on #894
@gnunn1 thank you for the two bits of info, both very valuable. Indeed executing from gnome terminal it scales down as expected (so it partially solves my issue). Not so if a Tilix process is already running. I tried changing `DBusActivable=false` to no effect. (it would be cool to be able to open two different sessions, scaled differently)

I knew Wayland should handle displays with different dpi

[2017-04-23 12:08] f2404 commented on #896
In xfce4-terminal, I added an option MiscDefaultWorkingDir. If it's set (not empty), new tab or window uses its value as working directory; otherwise, current working directory is used.

[2017-04-23 18:56] vmercuri commented on #897
Tilix 1.5.6 is available for RHEL/CentOS 7.x as EPEL package via COPR:

https://copr.fedorainfracloud.org/coprs/ivoarch/Tilix/
https://copr-be.cloud.fedoraproject.org/results/ivoarch/Tilix/epel-7-x86_64/00537310-tilix/

[2017-04-24 09:56] luispabon commented on #893
Thank you, somehow I'd missed that option :+1:

On Fri, Apr 21, 2017 at 6:12 PM Gerald Nunn <notifications@github.com>
wrote:

--
Kind regards,
Luis Pabon

[2017-04-24 10:15] gnunn1 commented on #894
Unfortunately there's nothing I can do about the case where Tilix is already running, by design it's a single process so once you run an instance it's environment is set.

[2017-04-24 10:15] #894 closed

[2017-04-24 10:17] lburgazzoli commented on #881
Looks like the issue is caused by the following thing:

[code]
I've removed it  (while keeping "use login shell") and now it seems to work as expected.

[2017-04-24 14:57] frnogueira opened #898 "Can't compile 1.5.6 on Archlinux (GNOME 3.24)"
Hi!
After GNOME 3.24 has come to Arch, the Tilix was broken:
[code]
When I try reinstall:

[code]

[2017-04-24 15:37] repsac-by commented on #898
First rebuild gtkd

[2017-04-24 15:42] Koltharius commented on #898
Same error here
tilix: symbol lookup error: tilix: undefined symbol: _D3std4json9JSONValue8opEqualsMxFNaNbNiKxS3std4json9JSONValueZb

[2017-04-24 16:23] frnogueira commented on #898
Thanks @repsac-by !
@Koltharius .. Rebuild the gtkd! ;)

[2017-04-24 16:23] #898 closed

[2017-04-24 22:38] TylerRick opened #899 "Make it possible to reorder sessions by pressing Ctrl+Shift+PageUp like in GNOME Terminal"
Coming from `gnome-terminal`, I was pleased that `Ctrl`+`PageUp` [work as I am used to](https://github.com/gnunn1/tilix/issues/187#issuecomment-201970922)... Would be nice if I could reorder the sessions (to me, they're "tabs") as well, with  `Ctrl`+`Shift`+`PageUp`/`PageDown`. This is the same shortcut for reordering tabs used by `gnome-terminal`, `chromium-browser`, and possibly others...

Of co

[2017-04-24 22:42] TylerRick commented on #899
As it is, if I want two sessions to be "next to" each other (so that I can switch between them quickly with `Ctrl`+`PageUp`/`PageDown` without having to travel through other sessions to get there) ... I have to very intentionally plan things out as I add new tabs... I can't put them in the desired order after the fact (unless I'm missing something)...

Only workaroud I've found so far is painful..

[2017-04-25 00:23] Soulsbane commented on #895
Ok, I've found a setting that I think will make Tilix work. It's under System Settings->Window Management->Window Behavior->Uncheck "Click raises active window".

It's working great so far for me *crosses fingers*.

[2017-04-25 00:41] gnunn1 commented on #895
That's great, I'm glad you were able to resolve it. Is it OK to close this issue, you can always re-open it if needed.

[2017-04-25 00:44] gnunn1 commented on #881
@lburgazzoli I wonder if the issue is the two combined together such that vte.sh get's sourced twice? The idea is that you should only need to do one or the other. Anyway, I tested it with login shell enabled and vte sourced and still can't reproduce it.

I'm thinking we should just close this issue and chalk it up as one of life's oddities, I don't plan on spending any time tracking it down furth

[2017-04-25 01:22] Soulsbane commented on #895
You can close it. Thanks a lot!

[2017-04-25 01:22] #895 closed

[2017-04-25 05:10] zoqaeski commented on #897
I also can't compile Tilix on Arch Linux. [This](https://gist.github.com/zoqaeski/2fe3a73db2268dcf95e0d87f6cf637b3) is the error I get:

[code]

I'm not sure whether my issue is the same as @Dark-Passenger reports.

[2017-04-25 06:43] AnrichVS commented on #897
Please note that on Arch Linux this problem was fixed by updating and rebuilding GTKD via AUR (GTKD version 3.6.1-1) and then also rebuilding Tilix (version 1.5.6-2).

[2017-04-25 08:49] #881 closed

[2017-04-25 11:39] qazip commented on #532
Is the maximum height for quake mode 90%? Why not 100%?

[2017-04-25 12:02] gnunn1 commented on #532
@qazip see #617 for an explanation and history

[2017-04-25 13:15] Dark-Passenger commented on #897
Sorry for the delay my error is slightly more lame ... https://gist.github.com/Dark-Passenger/78c5e9079141fa5588bbd674669f9d46

[2017-04-25 16:41] postblue commented on #897
Error for me too, very verbose: https://gist.github.com/postblue/8cfc8b454e2058e9cf2c742fa94de468

[2017-04-25 17:07] vmercuri commented on #897
@Dark-Passenger, I've just compiled Tilix from master on RHEL 7.3 (please consider CentOS and RHEL perfectly equivalent in this regard). All I did was to install the package `gsettings-desktop-schemas-devel` from the repo `rhel-7-server-rpms` and then I installed DUB 1.2.1 from [here](https://code.dlang.org/download) (put it in `~/.local/bin`) and DMD 2.074.0 from [here](https://dlang.org/download

[2017-04-26 13:05] alessandro-guido opened #900 "Unfocused dim should always make terminal darker"
With the Light Gtk theme variant (the default one), unfocused terminals become lighter (up to white when set to maximum). This is a confusing behavior and looks very strange on dark terminals with light gtk theme.

I suggest that unfocused terminals should always become darker or, maybe better, use the profile color scheme background color.

[2017-04-26 18:51] dsboger commented on #900
You can change the dim color in the Advanced button under Color tab of profile settings. I set mine to black to make it darker. Maybe having the default set to black would make sense?

[2017-04-26 19:05] dsboger commented on #897
@Dark-Passenger Tilix now requires `po4a-translate` to build localized man pages. In Arch it is found in the `po4a` package. Nevertheless, `configure.ac` should stop if it is not found. I'll make a PR to fix that.

[2017-04-26 19:21] dsboger commented on #897
@postblue @zoqaeski we had some concomitant ABI-breaking updates last weeks that made things a little chaotic:
- `ldc-1.2.0` and `liblphobos-1.2.0`
- `vte3-0.48.2+2+g837cce9c` and `vte3-tilix-0.48.2+2+g837cce9c+1.5.6`
- `gtkd-3.6.1`
Both `tilix` and `tilix-git` depend on the three and link against `liblphobos` and `gtkd` directly. As AUR is kind of a source distribution, we cannot give atomic upda

[2017-04-26 20:28] phw commented on #897
@dsboger could po4a-translate be made optional for the autotools build? When I added this I made it optional in the install.sh script, as I think while you should have it if you want to package for distribution it is not really an absolute necessity for a personal build (unless you really want to have localized man pages installed)

[2017-04-26 20:35] dsboger commented on #897
@phw I'll look into it. I'll have to learn about it, though, and I'm not with a lot of free time in my hands, so it may take a while, like a few weeks. In the meanwhile, I think it is better to give an informative error message, so I'll PR with the above solution as a temporary measure.

[2017-04-26 20:45] pgkos opened #901 "Cannot compile Tilix on 32-bit Arch Linux"
While trying to compile Tilix on 32-bit Arch Linux I get the following compilation errors:
[code]

[2017-04-26 22:03] egmontkob commented on #896
gnome-terminal opens in the current directory (both for Ctrl+Shift+T new tab, and Ctrl+Shift+N new window).

(Home directory is used if a new window is requested from the command line, e.g. a "gnome-terminal" command connects to the already running server and opens a new window there. Obviously then you couldn't tell which existing tab to take as referece.)

[2017-04-26 22:12] egmontkob commented on #896
I prefer this behavior, hence second @Laeeth 's request, for these two reasons:

If the current directory is kept, but you wanted to be placed in your home, all it takes is to type a simple `cd`. The other way around it's much more complicated.

Most desktop environments allow you to set up hotkeys. E.g. Unity7 opens a new terminal on Ctrl+Alt+T. This one obviously opens in your home, so this way

[2017-04-27 19:54] egmontkob opened #904 "Hyperlink support"
`VTE` 0.49.1 (and `GNOME Terminal` 3.25.1) has just implemented a brand new and hopefully really cool feature: hyperlinks (that is, HTML-like anchors).

This is different from the regex-based autodetection of URLs that appear onscreen. This time the text that appears does not have to look like a URL, it can be anything, and the target URL is specified explicitly by the utility along with the displ

[2017-04-28 00:48] gittakkie commented on #898
Rebuilding gtkd didn't work for me. I'm getting a bunch of these 'undefined symbol' errors.
First ones begin:
[code]

[2017-04-29 14:32] #890 closed

[2017-04-29 14:46] gnunn1 commented on #901
What compiler and version are you using, it should implicitly convert those types to double.

[2017-04-29 20:01] pgkos commented on #901
I am using ldc (ldmd) version 1.2.0 (based on DMD v2.072.2 and LLVM 4.0.0, built with DMD64 D Compiler v2.074.0).

It compiles without any errors on 64-bit Arch Linux.

[2017-04-30 18:30] #901 closed

[2017-04-30 18:31] gnunn1 commented on #901
While I cannot duplicate this issue, I have checked in a change which should fix it. If you still have issues please let me know.

[2017-04-30 18:33] gnunn1 commented on #900
I think the default should be to set to the opposite of the background, foreground could be an option but I wonder if that just washes out the text? I'll need to play with it a bit.

[2017-04-30 18:59] gnunn1 commented on #896
The problem I have here is that Tilix uses GAction everywhere, the New Window action is triggered identically whether you do it from gnome-shell or from internally in the application. I do not get any visibility into what triggered the action.

So either it works this way all the time or for none of it. Maybe I need to re-think about making this an option, I'm kind of leery of adding more but I do

[2017-05-01 07:59] pgkos commented on #901
Thank you. It compiles successfully now.

I have also reported the issue upstream - it is a compiler inconsistency/bug in ldc (ldc-developers/ldc#2086).

[2017-05-01 16:53] Urgau opened #905 "Video for Tilix Project"
Hello,

I love this project, I use it every time and I decide to say thanks you for this fantastic tool with a video where we can see the life of repository.
[![Youtube Link](https://puu.sh/vCdRo/96f9adbc09.png)](https://www.youtube.com/watch?v=5PvXPb6IUWU)

[2017-05-01 20:25] gnunn1 commented on #905
Very cool, thanks!

[2017-05-01 20:25] #905 closed

[2017-05-02 07:13] despens commented on #376
I dunno, if I want a remote file manager, I use a remote file manager... :upside_down_face:

[2017-05-02 08:16] fossfreedom opened #906 "ubuntu budgie migration path from terminix to tilix"
Hi,
  Ubuntu 17.10 has just updated to Tilix 1.5.4 via a sync with Debian.

As you know, Ubuntu Budgie 17.04 included terminix.  The name change is causing us an issue now due to the vteconfig dialog appearing.  For 17.04 we had to apply the `ln -s /etc/profile.d/vte-2.91.sh /etc/profile.d/vte.sh` and then via a /etc/skel/.bashrc apply the `if [[ $TERMINX_ID ]]; then source /etc/profile.d/vte.sh;

[2017-05-02 12:58] egmontkob commented on #906
Allow me please to chime in... I'm not a Tilix developer; I'm a VTE / GNOME Terminal developer, and used to develop Linux distributions too.

The problems you're facing actually point much deeper than where you're looking.

One thing is that the Tilix rename already happened significantly before 17.04's release and Ubuntu folks were aware of that. They really should not have introduced a brand new

[2017-05-02 13:51] fossfreedom commented on #906
@egmontkob Thanks for the feedback.

I really can't comment about terminix vs tilix.  Ubuntu Budgie is working with what was available at the time.

Anyway, thanks for the idea about /etc/bashrc.d.  In Ubuntu that file doesnt exist but probably the equivalent is /etc/bash.bashrc

So to the solution is I suppose to append to /etc/bash.bashrc the statement `if [ $TILIX_ID ] || [ $VTE_VERSION ]; then

[2017-05-02 14:00] fossfreedom commented on #906
actually ... probably better to add a .sh file to /etc/profile.d since bash runs through .sh files there.

[2017-05-02 14:40] gnunn1 commented on #906
I'm late to the game but I think @egmontkob answered this pretty thoroughly, is there anything I need to provide?

[2017-05-02 14:42] gnunn1 commented on #906
Oh and please note if you haven't already that user's will lose their settings unless you migrate them as part of the package upgrade. Tilix will not re-load the old Terminix settings automatically.

There are instructions on how to do this on the main README.md.

[2017-05-02 14:50] fossfreedom commented on #906
Hi - yeah - I'm kind of at a rock and a hard place here. Ubuntu (debian?) doesnt source anything under /etc/bashrc.d and I'm not in any influential position to make fedora and ubuntu come up with a common position :(

So rather stuck here as to the best way forward.  Any suggestions?

[2017-05-02 15:16] fossfreedom commented on #906
ok - I've worked around it for now - I'll use a script in /etc/profile.d to put stuff in .bashrc if required. That means I can remove the /etc/skel stuff.

I'll leave the boxing match between fedora and debian/ubuntu to sort things out properly.

[2017-05-02 15:16] #906 closed

[2017-05-02 18:16] mleise opened #907 "Library link order incorrect"
With the current line in the Makefile:
`GTKD_LIBS = -L-ldl -L-lgtkd-3 -L-lvted-3`
I get
`dmd -L-ldl -L-lgtkd-3 -L-lvted-3 -L-lX11  tilix.o -oftilix
/opt/dmd-2.074/lib64/libvted-3.a(Terminal_289_33c.o):function _D3vte8Terminal8Terminal16getGeometryHintsMFJS4gtkc8gdktypes11GdkGeometryiiZv: error: undefined reference to '_D4gtkc8gdktypes11GdkGeometry6__initZ'`
When I swap gtkd-3 and vted-3 it works,

[2017-05-03 00:26] stuaxo commented on #376
I use a terminal and a file manager - sometimes at the same time, more integration can save fiddling around with highlighting, copying and pasting of filenames etc.

[2017-05-03 07:34] despens commented on #376
To get consistent behavior in the shell will be so tricky though: `ssh`ing to a remote host, from there `ssh` into another, then enter a container via `lxc-attach`, `docker exec -i bash`, or another method. Now I'm dragging a file into the terminal window… where will it go, and how?

[2017-05-03 09:53] jamienicol opened #908 "Numbers tiles spatially rather than chronologically"
I use Alt-1/2/3 etc a lot for switching focus between terminal tiles. Currently the terminals are numbered based on the order in which they were created. For me this is confusing because I forget which order they were created in. I'd find it much easier to remember based on their position. Adding or rearranging splits would often cause existing terminals to change their number which could definite

[2017-05-03 10:19] stuaxo commented on #376
I'm not sure there is a practical way of doing it for lxc or docker, it would be enough to popup a dialog,

[code]

Multiple layers of ssh should be possible via forwarding.

We don't have to cover all kinds of endpoint to be useful initially (though architecting things in such a way that they can be added is probably an idea though).

[2017-05-03 13:12] drzel commented on #516
I'd love to see this. iTerm2 does this with "proprietary escape codes". Works well.

[2017-05-03 21:18] rabin-io opened #909 "Problem making Automatic (Triggered) Profile Switching to work"
After reading though the wiki about [Automatic (Triggered) Profile Switching](/gnunn1/tilix/wiki/Automatic-(Triggered)-Profile-Switching) and going over issue #135 , I still can't make it to work.

I'm running fedora/25 with MATE DE, Tilix installed from [my repo](https://build.opensuse.org/package/show/home:rabin-io/tilix) based on the spec file from heikoada/terminix copr repository.

![screensh

[2017-05-04 08:00] gnunn1 commented on #907
I see the same thing but I'm not sure where to fix as I'm not seeing where the order gets set.

@dsboger Can you give me a hint if you have a moment?

[2017-05-04 08:05] gnunn1 commented on #908
The challenge here is that Tilix has no idea what the actual order of terminals is. It could be determined by brute force by iterating over the screen and sampling coordinates to see what terminal is there but that is less then ideal. I'll need to give this some thought.

[2017-05-04 09:19] gnunn1 commented on #909
You need to define a trigger to extract the username from the login prompt in order to support switching based on username. Triggers require a patched VTE which I don't believe you have. The documentation (https://gnunn1.github.io/tilix-web/manual/profileswitch/) mentions this:

The docs should make this more obvious, I'll update it.

[2017-05-04 09:25] gnunn1 commented on #909
Actually minor bug here too, the code shouldn't let you define the user portion without triggers being available. I'll have a look at that as well.

[2017-05-04 14:23] radutomy commented on #99
So how does this feature work? Do we have a wiki for it? :D
Thx!

[2017-05-04 14:30] gnunn1 commented on #99
@radutomy No wiki but it,s easy, just repeat the session parameter:

[code]

[2017-05-04 15:19] radutomy commented on #99
Thanks a lot, that works!

I've modified Unity's dash launcher so that it launches tilix with the arguments  `tilix -a session-add-right`

So now when I'm clicking tilix icon in dash I'm expecting to see tilix with two panels popping up, however all I'm getting is a default session. Writing the same command in the terminal produces the expected results.

Any ideas?

[2017-05-04 18:20] gnunn1 commented on #906
@fossfreedom Does ubuntu actually source /etc/profile.d? I thought this was the problem with VTE on Ubuntu, it was one of the distributions that did not?

https://askubuntu.com/questions/438150/scripts-in-etc-profile-d-being-ignored

[2017-05-04 18:53] fossfreedom commented on #906
@gnunn1 I'm mulling over at the moment of using a shell script in source /etc/profile.d which is run on logon and that script appends the vte source command to ~/.bashrc - that way (I think) that is executed (sourced or whatever the phrase is) when Tilix is run.

[2017-05-04 18:57] gnunn1 commented on #906
Oh now I understand. Can't say I'm a fan of that approach though, I don't think modifying .bashrc is a good idea as there are too many ways for things to go wrong. i.e. How do you know it's been inserted previously, what if the user tweaks the inserted bit that causes it to no longer be detected, etc.

[2017-05-04 19:04] dsboger commented on #907
I also don't know how the order is set. Here in my end vted-3 comes before gtkd-3 on the generated Makefile, irrespective of the order I put them in PKG_CHECK_MODULES call in configure.ac. Looks like splitting the checks in two variables is a way to ensure proper linking order. I'll PR with that change.

[2017-05-04 19:05] fossfreedom commented on #906
@gnunn1 at the moment the script grep's .bashrc for a known string "terminx_id ... #ubuntu budgie" and if it cant find it it inserts the necessary string.  Yeah - I'm not a fan either.  But given that Debian/Ubuntu doesnt allow bash to source external scripts like Fedora does, I'm not sure what other way is possible.  I would love to just insert into /etc/bashrc or whatever its called but obviousl

[2017-05-04 19:16] dsboger commented on #907
On a second thought, `pkg-config` seems to order libs correctly by the dependencies stated in the respective `.pc` descriptors. @mleise could you please post the outputs of both
```$ pkg-config --libs gtkd-3 vted-3```
and
```$ pkg-config --libs vted-3 gtkd-3```

[2017-05-04 23:03] vmercuri opened #910 "Transparent terminal titles and missing icons on main title bar (Cinnamon 3.2.8/Fedora 26)"
Build from master with:

1. `dub build --build=release`
2. `sudo ./install.sh`
3. `sudo glib-compile-schemas /usr/share/glib-2.0/schemas/`

after installing `DUB 1.2.1` from [here](https://code.dlang.org/download) and `DMD 2.074.0` from [here](https://dlang.org/download.html#dmd). Also the `Add terminal right` and `Add terminal down` icons don't show up in the main title bar.
![screenshot_2017-05-

[2017-05-04 23:05] gnunn1 commented on #910
Likely the resources did not get.built correctly, what's the output of ```sudo ./install.sh```?

[2017-05-04 23:27] vmercuri commented on #910
Indeed there was an issue during the installation:

[code]
I managed to solve the problem by installing the package `gdk-pixbuf2-devel` that is actually mentioned [here](https://github.com/gnunn1/tilix#build-dependencies) (but it has a slightly different name on Fedora).  Now everything is working fine:

![screenshot_2017-05-05_01-19-28](https://cloud.githubusercontent.com/assets/4584008/25728807/

[2017-05-04 23:28] gnunn1 commented on #910
No worries, glad you were able to resolve it.

[2017-05-04 23:28] #910 closed

[2017-05-05 08:21] itoshkov opened #911 "Tilix and tmux over ssh"
Here is an idea I have had for some time. I'd love to see it implemented but it may be a bit far fetched.

A common use-case among programmers and sysadmins is to ssh to a remote server and run tmux or screen on it. Both of these provide windows and panes, which are purely text-based. I think it would be very useful if there is a way to "map" these to real tabs and panes in tilix.

One way this co

[2017-05-05 08:28] kostich opened #912 "Feature request: scroll through session sidebar with mouse wheel"
I would like if it was possible to scroll through available sessions in the sidebar with the mouse wheel. Currently not possible on Fedora 26 Alpha and Tilix 1.5.6.

[2017-05-05 09:02] gnunn1 commented on #912
The mouse wheel scrolls the viewport so if you have more sessions then can be viewed in the sidebar it scrolls the view up and down. On my machine this works as expected.

I think what you are asking for is to have the mouse wheel behave like the arrow keys where it actually moves the selection up or down. Is this correct? If so, I do not plan to change the behavior as this would not be consistent

[2017-05-05 09:03] gnunn1 commented on #911
I think this is a duplicate of #480.

[2017-05-05 09:03] #911 closed

[2017-05-05 09:04] kostich commented on #912
Yes. I would like for the mouse wheel to behave like the arrow keys where I can move the selection up and down.

Thank you for your response.

[2017-05-05 09:04] #912 closed

[2017-05-05 21:04] mleise commented on #907
Sorry, I was wasting everyone's time. I'm not using the pkg-config files, but set GTK_LIBS manually. This bug report should have been in the Gentoo dlang repository. I fixed it there now. Thanks @dsboger for the hint in the right direction.

[2017-05-05 21:04] #907 closed

[2017-05-06 14:05] towolf opened #915 "Default Search direction"
Tilix defaults to "search forward". For regular document-based applications this makes sense, for a terminal it doesn't.

Gnome-Terminal, at least the older one where search was not utterly broken, has a toggle for this.

What I'd like to have is `Enter` for backwards search, finding string from the bottom line upwards. So way to reverse the shortcuts `Enter` and `Shift-Enter`.

A checkbox in the

[2017-05-07 15:08] alex285 opened #916 "PCRE2 not supported"
when in run Tilix
glib.GException.GException@../../.dub/packages/gtk-d-3.5.1/gtk-d/src/glib/GException.d(40): PCRE2 not supported

Ubuntu 17.10
libvte-2.91-0 => 0.48.2

[2017-05-07 17:18] gnunn1 commented on #916
That's weird, all of the PCRE2 is supported since VTE 0.46. What does ```tilix --version``` show?

Also, what regex were you trying to use, wonder if this is more of a bad regex error that's getting a wrong error number.

[2017-05-07 17:30] #915 closed

[2017-05-07 17:31] gnunn1 commented on #915
I agree, I've reversed it so that the <Enter> and <Shift><Enter> shortcuts in the find drop-down now moves backward and forward respectively instead of forward and backward.

[2017-05-07 18:10] #896 closed

[2017-05-07 18:11] gnunn1 commented on #896
I've added a new option so when active a new window will inherit the profile and directory of the active terminal.

[2017-05-07 18:55] alex285 commented on #916
Tilix is from master the time i filed the bug. im not trying to run a regex, it doesn't even launch. it happened after an update in Ubuntu which i have no idea which one

[2017-05-07 18:59] gnunn1 commented on #916
Do you have any custom hyperlinks?

Also what does ```tilix --version``` show?

[2017-05-07 19:07] Laeeth commented on #896
Great - thanks for this.  Hello from dconf Berlin.

--
  Laeeth Isharc
  laeeth@laeeth.com

On Sun, 7 May 2017, at 07:11 PM, Gerald Nunn wrote:

Links:

  1. https://github.com/gnunn1/tilix/issues/896#issuecomment-299723807
  2. https://github.com/notifications/unsubscribe-auth/AGVffvnBO6VdE69sUwLZKCn3YaBnhsbNks5r3gk6gaJpZM4NFSZC

[2017-05-08 00:56] alex285 commented on #916
no

cant run since it gives me
`glib.GException.GException@../../.dub/packages/gtk-d-3.5.1/gtk-d/src/glib/GException.d(40): PCRE2 not supported`

**findings**
i looked a bit into my update history and the relative changes that cause the issues seems to be

`libvte-2.91 / libvte-2.91-common`  from 0.44.2-1ubuntu3  to 0.48.2-0ubuntu2

downgrading vte fixed the issue. note that 0.44 is on [Zesty (17.

[2017-05-08 04:14] gnunn1 commented on #916
I'm going to have to fire up a VM to have a look at what's going on. Unfortunately I'm travelling today so it will probably be a couple of days before I can have a look.

[2017-05-08 07:08] egmontkob commented on #916
See https://bugs.launchpad.net/ubuntu/+source/gnome-terminal/+bug/1666264 – apparently for 17.10 Artful they rolled back the PCRE changes in VTE.

I've planning for months to write a bit harsh comment to that bug, just never got around to it. It's pathetic what they're doing.

Breaking Tilix would be another data point...

[2017-05-08 07:15] egmontkob commented on #916
In the mean time I'm wondering... What about the Artful Tilix package, does that work? If so, how? Do they patch Vte-D or Tilix? If not, are they aware of it? ...

[2017-05-08 07:21] gnunn1 commented on #916
Thanks for the heads up @egmontkob, I've added a comment to the bug report. Seems like a very poor decision IMHO.

[2017-05-08 11:20] jbicha commented on #916
This does not affect Ubuntu 17.10 Alpha yet because 17.10 only has tilix 1.5.4 but pcre2 support was added to tilix after 1.5.6.

Once Ubuntu gets tilix 1.5.8 or whatever, Ubuntu will just need to patch tilix to tell it that 0.46 isn't high [enough](https://github.com/gnunn1/tilix/blob/master/source/gx/tilix/terminal/search.d#L199) for PCRE2.

Ubuntu won't avoid PCRE2 forever, but from Ubuntu's pe

[2017-05-08 11:35] gnunn1 commented on #916
Thanks for the reply. Isn't selectively reverting commits in VTE going to cause issues though since potentially every VTE based terminal emulator is going to run into this as they upgrade to PCRE2.

Wouldn't it just be cleaner to pin gnome-terminal and vte to the previous version since all of the terminal emulators will check the version number and work OOTB with the older version. Otherwise you a

[2017-05-08 11:40] jbicha commented on #916
Ubuntu's gnome-builder has the PCRE2 stuff patched out.

webupd8's PPA would have to grab the Ubuntu patch.

Like I said, Ubuntu won't patch vte like this forever. The real issue isn't 1666264 but [1636666](https://launchpad.net/bugs/1636666) and the solution to that second bug is for more stuff in [main](https://people.canonical.com/~ubuntu-archive/transitions/html/pcre2-main.html) to switch to P

[2017-05-08 11:46] gnunn1 commented on #916
It still seems weird to go this route. Essentially VTE is reporting a version where it is expected that the PCRE2 functions are available but are not. I'd be concerned this is going to lead to weird issues particularly with any lesser used packages or PPAs.

Is leaving VTE at 0.44 not an option for Ubuntu, seems like a much better solution to me as it eliminates the need to individually patch indi

[2017-05-08 12:06] jbicha commented on #916
@gnunn1 I don't see how this decision will cause you much trouble at all personally. It's a downstream issue and it's up to Ubuntu to make sure Ubuntu's tilix package works.

I felt that it was better to update gnome-terminal with a revert patch than to leave it stuck at 3.20 for a few more Ubuntu releases. Once that revert patch becomes too much to handle or when more stuff in Ubuntu main convert

[2017-05-08 12:13] Anton-Latukha opened #917 "Make quake mode window "Height percent" up to 100%"
Good day.

It used to work great in old version.

Now scale is only to 90%. Makes Tilix not so comfortable (less space) and as good looking as before.

![window_view](https://cloud.githubusercontent.com/assets/20933385/25803381/39412396-33ff-11e7-96fc-16b1b95a8851.png)
![settings](https://cloud.githubusercontent.com/assets/20933385/25803384/3b7985b8-33ff-11e7-9790-1b80c054d3b8.png)

I have this pr

[2017-05-08 12:19] gnunn1 commented on #917
As noted in previous bug reports, 100% isn't available because it causes issues with window managers. I'm travelling today and can't search for it but if you look through the issues you should be able to find it.

[2017-05-08 12:19] #917 closed

[2017-05-08 12:22] gnunn1 commented on #916
It affects me in the sense that many people like the OP often build tilix from source to access the latest and greatest. At the end of the day it's your guys call, just offering an opinion on what I feel is a better solution. If it comes up in the future I'll send them to the linked Ubuntu issue.

[2017-05-08 12:27] Anton-Latukha commented on #917
Sorry.
I seen that discussion number of month ago.

This bothers me, because I live in it. So I pinged, maybe something changed.

On Kwin it was working truly great.

Maybe I can create fork for myself. And just change those damn 90 to 100.

Thank you.
Hope I donate in the future. I have interview today for that.

[2017-05-08 12:28] gnunn1 commented on #917
No worries, never hurts to check if there has been a change.

Good luck with the interview!

[2017-05-08 12:48] alex285 commented on #916
@gnunn1 aside this issue, since you patch VTE, wouldn't be a good idea for a tilix-vte package? for Arch as well, without replacing original vte package, so Arch could ship it by default?

[2017-05-08 12:51] f2404 commented on #916
@alex285 Arch is not even shipping tilix, why would it ship tilix-vte?

[2017-05-08 13:05] alex285 commented on #916
@f2404 ouch! i didnt know Tilix wasn't in [extra] because i always have it from source, but point remains, that Tilix needs a patched VTE to enable all the features, both in Ubuntu and Arch, and im not sure if all features are enabled on Fedora, so it makes sense to have a vte-tilix package, rather using upstream VTE or replacing upstream VTE (in case of AUR)

besides what if/when Tilix gets on [e

[2017-05-08 13:10] f2404 commented on #916
@alex285 In fact, @dsboger is already providing some patched vte packages via AUR: [one](https://aur.archlinux.org/packages/vte-notification-common/), [two](https://aur.archlinux.org/packages/vte-tilix-common/)
I guess those may be adopted to Arch [extra] repo along with tilix itself if (when) they decide to take it.

[2017-05-08 13:29] gnunn1 commented on #916
@alex285 I don't do packaging but having said that I don't think my patches should really be in extra or a mainline repository. It's really more appropriate for AUR or PPA due to their experimental nature.

[2017-05-09 16:34] gnunn1 commented on #916
I'm closing this since IMHo it's an Ubuntu issue and up to them to deal with it.

[2017-05-09 16:34] #916 closed

[2017-05-09 19:16] #909 closed

[2017-05-09 19:17] gnunn1 commented on #909
I've modified the code to disallow the ```@``` token unless VTE has the trigger feature enabled.

[2017-05-09 19:39] alex285 commented on #916
@gnunn1 why not leave it open for people that will have the same issue? it is upstream, but it is still a bug that affects Tilix, in the most popular distro

perhaps just add "Ubuntu something" in the title?

[2017-05-09 20:25] gnunn1 commented on #916
@alex285 github's issue management isn't great and I don't like to leave a bunch of issues open that are out of my control, hence I close them. If you want, feel free to add a FAQ item to the tilix website for this issue as that is the best location for it.

[2017-05-09 21:08] iax7 opened #918 "Password Favorites"
Currently, enter a password is somewhat slow:
[Key combination] + tab + enter

I propose a set of 3 or 5 favorite passwords to be input as follows:
[Key combination] + [ number ]
![image](https://cloud.githubusercontent.com/assets/6983510/25872778/95600610-34d1-11e7-9204-ad3e4bd7e061.png)
when you hit the number automatically closes the window.

[2017-05-09 21:25] alex285 commented on #916
@gnunn1 i added an item as you suggested on [FAQ](https://github.com/gnunn1/tilix/wiki/FAQ)
hope i did it right! but back to the original issue, whats the workaround on this?

[2017-05-09 21:31] egmontkob commented on #916
IMO wipe out artful's braindamagedly patched vte and install a mainstream one :)

[2017-05-09 21:34] f2404 commented on #916
@alex285 Use Arch ;)

[2017-05-09 21:34] alex285 commented on #916
@egmontkob which is why i asked @jbicha if there will be a PPA to offer an upstream VTE for Ubuntu 17.10 in case that the decision remains

[2017-05-09 21:35] gnunn1 commented on #916
@alex285 you would need to modify the version checks for anything PCRE2 related so that it checks for 0.50, which doesn't exist, instead of 0.48 to fool tilix into thinking the functionality is not available.

[2017-05-09 21:37] f2404 commented on #916
@gnunn1 Would tilix even compile on a system that doesn't have pcre2?

[2017-05-09 21:40] gnunn1 commented on #916
@f2404 It should because it doesn't use PCRE2 directly but only through the VTE methods.

[2017-05-09 21:40] egmontkob commented on #916
@gnunn1 How is that a robust approach? 0.50 is going to exist in a few months from now, and chances are that Ubuntu is going to apply the same patches.

[2017-05-09 21:41] f2404 commented on #916
@gnunn1 What about pcre2 [flags](https://github.com/gnunn1/tilix/blob/2786736069c2758be43056653e2d7cd97ce2c310/source/gx/tilix/terminal/regex.d#L224)?

[2017-05-09 21:41] alex285 commented on #916
@f2404 yes! and we can install PCRE2 in Ubuntu anyway

[2017-05-09 21:42] egmontkob commented on #916
Speaking of which... a few months ago I took a quick look at the patch Ubuntu was about to apply, and I didn't spot any API-related change. Apparently I missed something. Do you know what did I miss, what is the exact bit on which Tilix is failing? (I'm not that familiar with VTE's mainstream regex-related changes, nor what Ubuntu is doing.)

[2017-05-09 21:44] gnunn1 commented on #916
@egmontkob, it's not robust and it's not meant to be. It's just a workaround for someone who wants to compile it manually. I'm not very interested in adding a more permanent workaround for a poor decision.

If Ubuntu wants to fix it with a flag they can submit a PR.

[2017-05-09 22:02] gnunn1 commented on #916
@egmontkob The problem is that the VTE still reports itself as version 0.48. Tilix checks the version number and if it is => 0.46 it uses the PCRE2 functionality in VTE since it is expected to be there.

Now in fairness, tilix should not crap out when it fails and I'll have a look at improving that. However, I'm not willing to do more since Ubuntu is essentially subverting the point of having a ve

[2017-05-09 22:04] egmontkob commented on #916
@gnunn1 Really nitpicking, but in that case I think the workaround shouldn't be replacing the ">= 0.46" condition by ">= 0.50" (and then you'd have to keep your wiki updated after every new major version where Ubuntu still f*cks it up), but rather a constant false expression.

[2017-05-09 22:12] gnunn1 commented on #916
@egmontkob Yep it's a shit workaround but really 0.50 was just an example, pick 0.90 or something else that won't come into play anytime soon. The point is I'm not lifting a finger to provide a proper workaround, if Ubuntu wants to make decisions like this then it's their responsibility to fix it.

If they (or someone else) want to do a proper workaround I'm happy to take a PR.

[2017-05-09 22:21] gnunn1 commented on #916
@egmontkob And I'm realizing where some confusion is coming from. When I say workaround, I mean something that a developer would do on his machine to make it work if they want to compile it manually on Ubuntu. I'm not saying this is a workaround that would be checked into git, a more proper solution would be something like @f2404 suggestion of adding a PCRE2 flag.

Like I said, if someone wants to

[2017-05-09 22:23] gnunn1 commented on #916
I've checked in a change so that Tilix should run in Ubuntu's version of PCRE2, however no hyperlink's or search capability will be available.

[2017-05-09 22:25] gnunn1 commented on #918
How do you envision managing these favorites?

[2017-05-09 22:42] jbicha commented on #916
@alex285 I don't think it's that common for people to compile tilix from source if it's already packaged in their distro. And if they can compile tilix from source, they can compile vte too if they want.

I have no intention of providing a different version of vte in Ubuntu or in a PPA.

[2017-05-09 23:51] dpnova commented on #46
Was there a solution to this? I'm seeing this on packages from the webupd8 ppa on 16.10

[2017-05-10 00:27] gnunn1 commented on #904
I've done an initial implementation of this feature. To confirm, it looks like the intent is that the URI is always valid from a global context? In other words, a file URI always has the hostname and a fully qualified path associated with it? No using tilde for the home directory or a filename that only resolves in the context of the terminal CWD?

[2017-05-10 00:28] gnunn1 commented on #46
@dpnova It's working fine for me on GTK 3.24, might be an issue with the older GTK version in 16.10?

[2017-05-10 00:46] dpnova commented on #46
Ah, could be.. I'm not in a position to bump my dist right now. Thanks for the reply though!

[2017-05-10 01:40] #900 closed

[2017-05-10 01:41] gnunn1 commented on #900
I've switched the default Dim color to use the terminal foreground color. It works reasonably well in my testing. Give it a go and if you notice any issues just let me know.

[2017-05-10 03:31] gnunn1 opened #919 "Support Copy on Control-C when selection is enabled"
When Control-C is assigned to the Copy shortcut, detect whether a selection is present and if so let the action copy the text otherwise send the interrupt as normal to VTE. This will allow users to assign control-c, control-v to the copy/paste actions if they wish and be somewhat smart in allowing it.

Obviously for control-v there is no obvious way to differentiate between when paste or send the

[2017-05-10 03:32] #919 closed

[2017-05-10 05:21] egmontkob commented on #916
This was clear to me.

Arghhh... I guess I liked the previous approach (no patch at all, just instructions how to patch) better.

Anyways... As I'm still lazy to comment on the Ubuntu bug, and I guess I'm out of here as well. There's really no good solution to this story, and it's not you who messed it up big time. So I'd rather not have a say in how you mitigate the problem. Thanks for the work y

[2017-05-10 05:23] egmontkob commented on #904
Yup that's absolutely correct. Full URIs all the time, no shortcuts, no context to carry.

[2017-05-10 05:28] egmontkob commented on #904
To be a bit more precise: The syntax (e.g. hostname being present) is not enforced, whatever string is present in the escape sequence will appear to you unchanged via the API. This string might not have a scheme, a hostname etc, it could be e.g. the literal string `~/foo.txt` or `/home/gnunn1/foo.txt`. But you should not open a local file in that case, rather, you should refuse to open anything. T

[2017-05-10 05:55] egmontkob commented on #904
In `gnome-terminal` we call `gtk_show_uri()` which pretty much does this out of the box (including URI-unescaping if/as necessary for local files). We make two exceptions around it:
- It does not verify the hostname, so we do that manually (in order for links over `ssh` to fail rather than to open the local counterpart);
- Planned: If the hostname matches, we'll remove it to workaround a [LibreOff

[2017-05-10 07:31] PatrickChen83 opened #920 "Feature request: an option to create new session in current folder"
Having searched all preference tabs for this option because I think this option should make sense (and is easy to implement).

[2017-05-10 08:20] phw commented on #920
It does that by default. Have you read through https://github.com/gnunn1/tilix/wiki/VTE-Configuration-Issue ?

[2017-05-10 09:56] bil-elmoussaoui commented on #920
https://gnunn1.github.io/tilix-web/manual/vteconfig/

[2017-05-10 11:43] PatrickChen83 commented on #920
Got it! Thanks for the help!

[2017-05-10 11:43] #920 closed

[2017-05-10 13:01] phw opened #921 "Core dump when closing terminal with running program"
When I close a terminal with a running program and I close this terminal Tilix core dumps. This happens both with current master and official 1.5.6 binaries.

Steps to reproduce:

1. Open Tilix
2. Run a program that does not exit immediatelly (e.g. top)
3. Close the terminal with Ctrl+Shift+W
4. A popup appears, warning you that there is still a program running. Click "Ok"

Gdb output:

[code]

[2017-05-10 16:19] iax7 commented on #918
![image](https://cloud.githubusercontent.com/assets/6983510/25909365/9638c4ae-3572-11e7-8540-437a4d4395c8.png)

[2017-05-10 16:28] iax7 commented on #918
![image](https://cloud.githubusercontent.com/assets/6983510/25909709/a44be458-3573-11e7-91cd-25cdb279b3ba.png)
or 3 buttons with a number label, and the status of the usage, you can overwrite from this window. Perhaps a tooltip of which password is using the spot.

[2017-05-10 16:36] khurshid-alam opened #922 "Could not override border-bottom-color in .terminal-titlebar"
I tried following code (with Numix):

[code]
It overrides with gtk inspector or if I put it ~/.config/gtk-3.0/gtk.css. But I can not make it override if I compile sass with this code.

I guess https://github.com/gnunn1/tilix/blob/master/data/resources/css/tilix.base.css#L157 prevents it from being overridden.

[2017-05-10 16:57] #921 closed

[2017-05-10 16:57] gnunn1 commented on #921
I've added a null check that should fix this, please try it out and let me know if the problem still persists.

[2017-05-10 20:20] egmontkob commented on #376
Please take a look at the hyperlink support #904. It takes a somewhat different approach (e.g. needs a patched `ls`), but is probably quite relevant and usable here (e.g. the right-click menu could contain a convenience option to `scp` the given file).

[2017-05-10 20:37] phw commented on #922
Does GTK's CSS implementation support `! important`?

[2017-05-10 21:19] bil-elmoussaoui commented on #918
@gnunn1 A better idea is to set the shortcuts on the json file, and show that on the shortcuts settings which is much better than overcomplicating the Add Password window

[2017-05-10 21:34] gnunn1 commented on #918
@bil-elmoussaoui What json file are you referring to, the passwords are stored in Gnome key-ring?

[2017-05-10 21:38] bil-elmoussaoui commented on #918
Sorry i thought the issue was about Bookmarks, in that case maybe having the id of the password(stored on Gnome Keyring) and assign it to a shortcut that could be saved on a database (sql? or json?)

[2017-05-10 22:35] #904 closed

[2017-05-10 22:52] gnunn1 commented on #922
I don't think this is a bug with Tilix rather then just a case of the way CSS in GTK works. As far as I can tell, gedit is loading and using it's custom CSS in exactly the same way, do you have any issues with overriding it's styles?

[2017-05-11 06:45] khurshid-alam commented on #922
I have seen using this but in this particular case it doesn't work. I just tried with Ambiance as well

No. But gedit is pretty flexible.You can use any subclass to override anything. I think here, uur problem is @border color. Even if I set different color for it, it doesn't work. (Although I am not going to change global @border). I can provide a separate `tilix.numix.css` like other themes  to

[2017-05-11 08:44] mozartilize opened #923 "problem when showing with less"
i don't know how to describe it, here is a gif

![peek 2017-05-11 15-36](https://cloud.githubusercontent.com/assets/26346270/25940448/5e071d58-3660-11e7-9e84-3e40943781b0.gif)

it will render forever if i scroll up, it repeated so many times
the problem does not occur on gnome-terminal, but i not sure it's tilix issue

tilix version 1.5.6 on Xubuntu 17.04

[2017-05-11 10:12] egmontkob commented on #923
Looks like you pass the `-X` option to `less` (e.g. in the `LESS` environment variable).

[2017-05-11 12:22] mozartilize commented on #923
@egmontkob I'm not sure about it, i tried `cat some-long-content-file | less` and it worked fine. The problem I got is when I use `rails c`

[2017-05-11 12:25] gnunn1 commented on #922
When you override the style, is it only the color that can't be changed? If you change the border width or attributes of the border those go through fine?

Also, I may be able to set the GTK state_flags in order to manage the Active state for CSS purposes, I'll have a look at that over the weekend if not sooner.

[2017-05-11 12:28] gnunn1 commented on #918
If I were to do this, likely I would store the favorites in a gsettings string array with the name of the secrets that are the favorites. The order of the list would correspond to the assigned favorite.

Anyway, it's an interesting idea but not something I'm actively interested in doing personally. If someone wants to take this on I'm happy to accept a PR.

[2017-05-11 12:34] gnunn1 commented on #923
Unfortunately I'm not able to duplicate this on my end using Arch and GTK 3.22. I also tried using the ```-X``` option as suggested by @egmontkob and I don't see the issue.

One major difference between tilix and gnome-terminal is that tilix uses DBusActivation. The problem with DBusActivation is that the environment variables can be slightly different when using it which can sometimes cause odd b

[2017-05-11 12:44] mozartilize commented on #923
yes, it still happens. I'll check again on my ubuntu gnome desktop

[2017-05-11 14:51] gnunn1 commented on #923
@mozartilize I don't support XFCE in terms of trying to reproduce issues but if it happens on Gnome let me know and I'll try to reproduce in a VM.

[2017-05-11 22:54] gnunn1 commented on #922
I've updated my code so it sets the ```active``` CSS state flag for the tilix titlebar. This allows you to style it differently for active versus inactive.

I'm still looking at the border color.

[2017-05-11 23:10] #922 closed

[2017-05-11 23:11] gnunn1 commented on #922
I've dropped the provider priority down to THEME from APPLICATION which allows you to override that CSS. It doesn't seem to negatively impact other areas so hopefully that will be sufficient for what you want to accomplish.

[2017-05-11 23:19] gnunn1 commented on #922
And a quick improvement, I've extracted the specific titlebar CSS into a separate resource so that only it gets loaded with the THEME priority. Should reduce the risk associated with the change.

[2017-05-12 06:11] khurshid-alam commented on #922
Thanks. I will take a look. It should work now.

[2017-05-12 07:59] mozartilize commented on #923
I tried and it's fine on my ubuntu gnome 16.04, gnome-shell 3.20

[2017-05-12 08:34] astrotee opened #924 "add the tabs feature"
some programs needs at least 80*24 dimensions, so they won't work using splitting so it would be cool to have tabs

[2017-05-12 08:39] astrotee commented on #924
yes but, I thought it would be easier to navigate using tabs at the top
as tabs takes one click but sessions takes two

[2017-05-12 09:20] astrotee commented on #924
maybe I can just get used to using sessions :smiley:

[2017-05-12 10:29] gnunn1 commented on #924
Sorry but no plans to add tabs.

[2017-05-12 10:29] #924 closed

[2017-05-12 10:31] gnunn1 commented on #923
That's interesting, not sure what the issue is with XFCE. Unfortunately as mentioned previously I don't support XFCE so I won't be investigating further.

[2017-05-12 10:31] #923 closed

[2017-05-12 15:53] PixelGGamer opened #925 "Transparent background not working"
Hello,
After installing tilix and enabling transparency, it seems that it doesn't work, because i have it black.
My wm is i3. Any help?
![screenshot from 2017-05-12 17-54-15](https://cloud.githubusercontent.com/assets/7670940/26006194/d3ce5930-373b-11e7-8deb-17f45006172c.png)

[2017-05-12 15:59] f2404 commented on #925
Does your WM support compositing? If not, this is the answer.

[2017-05-12 16:01] PixelGGamer commented on #925
Nope,
however i saw lots of people with this working

[2017-05-12 16:05] PixelGGamer commented on #925
Found compositing manager and works, thanks

[2017-05-12 16:05] #925 closed

[2017-05-12 17:26] phenixrizen opened #926 "Cannot resize window when exporting display"
When I export the display to another X server I'm unable to resize the window.

[2017-05-12 19:36] gnunn1 commented on #926
Do other gtk3 apps like gedit work fine when you do this?

[2017-05-12 19:37] gnunn1 commented on #926
Also, what distro and desktop environment are you using?

[2017-05-12 20:31] alxgrtnstrngl opened #927 "Optional compact mode when window is maximized"
Add an optional compact mode when Tilix is maximized or tiled. This could be either removing the titlebar when CSD is disabled or hiding the headerbar. Another way to do compact mode would be to set the window style "borderless" dynamically.

[2017-05-12 20:37] gnunn1 commented on #927
Isn't this what full-screen mode (F11) already does?

[2017-05-12 20:39] phenixrizen commented on #926
Yes it looks like all gtk3 apps will not maximize.  I can mange to get the resize arrow on the menu bar if i mouseover just right. I'm running running Ubuntu 16.10 with there default desktop environment and exporting the display to VcXsrv X Server running on Windows 10.

[2017-05-12 20:43] alxgrtnstrngl commented on #927
There are GNOME Shell extensions that hide the titlebar when the window is maximized like Maximus NG. But these won't work on Wayland because of CSD. This option would ensure that the window is compact for users who don't want to fullscreen the app but maximize it or snap it side-by-side.

[2017-05-12 23:18] gnunn1 commented on #927
Thanks for the suggestion, at the moment though I'm trying to avoid adding new options where possible. Additionally, I do think this is something best implemented in the WM rather then at the application level. As a result I will not be implementing this feature, sorry.

[2017-05-12 23:18] #927 closed

[2017-05-12 23:19] gnunn1 commented on #926
Unfortunately this doesn't sound like a tilix bug but something more generic if it is affecting all gtk3 applications. I'd suggest opening a bug report with GTK on this.

[2017-05-12 23:19] #926 closed

[2017-05-13 01:09] #264 closed

[2017-05-13 01:10] gnunn1 commented on #899
I've added initial re-ordering of sessions via DND, I'll add support for doing the same via these shortcuts over the weekend.

[2017-05-14 00:15] #899 closed

[2017-05-14 06:48] deepu105 opened #928 "Feature: Save state and restore"
HI first of all thanks for the awesome terminal EMU. Its the best I have used so far and I'm loving it.

If tilix could periodically save the save the state(The position, size and directory of each tile) of all the open sessions into an a hidden config file and restore all the sessions when the app is opened it would be great(Like how chrome works). It will help in following scenarios:

- System c

[2017-05-14 20:52] dsboger commented on #704
Maybe the "+" button could act as a drop target for the drag terminal action, and that would move that terminal to a new session.

[2017-05-15 01:04] gnunn1 commented on #928
I'm not keen on this mostly because beyond the layout the important bits of the state can not be saved. For example, ssh connections in different window, running programs, history for each shell, etc. Thus any sort of solution of this is would be somewhat half-baked at best.

Additionally, since tilix is a single process all windows would need to be saved as well and under Wayland restoring window

[2017-05-15 01:04] #928 closed

[2017-05-15 01:06] gnunn1 commented on #918
After thinking about this, why not just prefix the name of the secrets you want quick access to? For example:

1 - SSH Password
2 - Local Password
etc..

You can then just type the number and enter and off you go. No complicated favorites management solution required.

[2017-05-15 01:23] davibusanello commented on #898
Rebuild gtkd and tilix don't work for me

gzip -f man/man1/tilix.1
/usr/bin/install -c -d "."/man/uk/man1; \
 -k 0 -f man -m "."/tilix -p po/uk.man.po -l "."/man/uk/man1/tilix.1; \
gzip -f "."/man/uk/man1/tilix.1;
/bin/sh: linha 1: -k: comando não encontrado
gzip: ./man/uk/man1/tilix.1: No such file or directory
make[1]: *** [Makefile:509: man/uk/man1/tilix.1.gz] Error 1
make[1]: Leaving directory

[2017-05-15 06:30] deepu105 commented on #928
Thanks for the response. Just to clarify when I said state I didnt mean all
these aspect actually I wS talking about juat the layout and directory of
all sessions. Same s how the individual json export works now but instead
of manual save, auto save all sessions to a json and restore.

If thats not feasible atleast an option to save all sessions into with a
single command would be nice

On 15 May

[2017-05-15 20:11] nelsongustavo commented on #898
Same issu here.

tilix.o:(.data.rel.ro._D2gx3gtk5cairo12RenderWindow6__vtblZ[_D2gx3gtk5cairo12RenderWindow6__vtblZ]+0x15f0): undefined reference to `_D3gtk6Window6Window24internalRemoveOnSetFocusMFC3gtk6Window6Window25OnSetFocusDelegateWrapperZv'
collect2: error: ld returned 1 exit status
Error: /usr/bin/gcc failed with status: 1
make[1]: *** [Makefile:1037: tilix] Error 1
make[1]: Leaving directo

[2017-05-15 23:38] #834 closed

[2017-05-16 00:00] gnunn1 commented on #898
@davibusanello Do you have po4a installed?

[2017-05-16 15:10] Naatan commented on #681
@gnunn1 is this something you're working on? It would make Tilix perfect for me :) I'm using it now daily but having to go through the dropdown every time is starting to get really frustrating.

[2017-05-16 15:26] gnunn1 commented on #681
Not actively, I'm still trying to work out how to do it technically for the best results. If it's a showstopper for you I'd recommend looking at a terminal that better fits your workflow as I'm not sure when I'll get to it. Sorry about that.

[2017-05-16 15:39] Naatan commented on #681
No problem, appreciate the honesty :)

[2017-05-16 16:15] f2404 commented on #916
The same happened to xfce4-terminal in Artful: https://bugzilla.xfce.org/show_bug.cgi?id=13580

[2017-05-17 19:50] Rafaelsalass commented on #898
How do I rebould gtkd?

[2017-05-17 23:19] gnunn1 opened #930 "Can't use the overridden title in application title"
You can use variables to have the application title use values from the terminal, such as the terminal title. However that name is a bit misleading because it is really the VTE window title which comes from the VTE itself.

Tilix needs to either add a new variable for the Tilix terminal tilix or somehow use the overriden title correctly. I suspect that this can only be done by the former, however

[2017-05-19 04:12] jamespotz opened #931 "Colorscheme not working properly."
Colors work on load but fallsback to default color. This happens to all colors even custom colors.

On load it works. The color I'm using is Solarized-dark
![screenshot_20170519_120744](https://cloud.githubusercontent.com/assets/4239625/26232914/2cc4607a-3c8c-11e7-8c51-851b05def650.png)

but this happens after
![screenshot_20170519_120752](https://cloud.githubusercontent.com/assets/4239625/2623293

[2017-05-19 04:50] arigit opened #932 "tilix --action session-add-down --focus-window under wayland: not working"
Couldn't re-open #839, unfortunately the same issue is still there in Fedora 25 and Tilix 1.5.6, under Wayland

To reproduce:
- open a tilix window
- focus on some other window, e.g. nautilus or firefox
- press Alt-F2 to get an "enter a command" prompt, and execute this command:
 tilix --action session-add-down --focus-window -e bash

The end result is: a new terminal is added in the existing tili

[2017-05-19 12:27] gnunn1 commented on #931
Sorry, can you elaborate what you mean by "fallback"? Does it work the first time you set the colors and then when you re-run it a second time it's back to the default colors?

[2017-05-19 12:29] gnunn1 commented on #932
So the issue is only with it setting focus correct, everything else works OK? If so, there's nothing I can do about it as Wayland does not allow me to control the focus of the window. In GTK I believe the window.present() method is essentially a NO-OP.

[2017-05-19 13:05] phw commented on #921
Working as expected. Thanks for the quick fix :)

[2017-05-19 13:07] jamespotz commented on #931
No the colors does not work the first time. But if i open a new session the color appears for a brief moment and when zsh loads it just returns back to the default color.

[2017-05-19 13:46] arigit commented on #932
Yes I checked other recent fixes and they are working. Just the focus annoyance.
I found some references on how to set focus to an existing GTK:window, e.g.

https://www.ruby-forum.com/topic/125408

It's ruby but I'm guessing any language binding would support this - although not sure if it applies to tilix's use case.

For reference, interesting discussion on xdotool & wayland
https://github.com/

[2017-05-19 14:23] arigit commented on #932
Sorry for the spam. This seems to be more related to the method you are trying to use:

 [Wayland] gtk_window_present() not working
https://bugzilla.gnome.org/show_bug.cgi?id=766284

not a clean workaround, but perhaps worth a try until they fix this.

[2017-05-19 15:03] gnunn1 commented on #932
@arigit I've already tried the gtk_window_present_with_time(), it didn't work for me in my testing.

Tilix is using native Wayland and not XWayland. You can force it to use XWayland as follows:

[code]

Assuming no other instances of tilix are running.

[2017-05-19 15:05] gnunn1 commented on #931
This isn't sounding like something tilix is doing, I suspect zsh or something related is affecting the colors. If you use bash do you have the same issue?

[2017-05-19 15:08] bil-elmoussaoui commented on #932
@gnunn1 Lollypop implemented the same fix as proposed by @arigit and it works just fine in my case

[2017-05-19 15:12] gnunn1 commented on #932
I can try putting it back in, however in my case it did not seem to work. Quite possible I implemented something wrong though. @bil-elmoussaoui do you know which commit that was implemented in for lollypop?

[2017-05-19 17:00] bil-elmoussaoui commented on #932
https://github.com/gnumdk/eolie/commit/478aed05b1ec43e6af66e5194845bcc3c4c820ba

[2017-05-19 17:48] vyasgiridhar opened #933 "alt + up arrow in weechat does not work on tilix"
I tried using alt + up to switch channels in weechat but it does not work.
It works in gnome-terminal though.

Is there a way for me to get a debug or trace to zero down on the issue?

It does not seem to be a weechat issue.

[2017-05-19 18:03] gnunn1 commented on #933
By default <alt><arrow-key> is used to move between terminals in a session. You can re-map the shortcuts to something else in Preferences | Shortcuts.

[2017-05-19 18:03] #933 closed

[2017-05-19 21:51] gnunn1 commented on #932
I've checked in the change to use presentWithTime but it doesn't make any difference for me. Please try it out and see if it helps you at all.

[2017-05-20 00:51] gnunn1 commented on #281
Unfortunately I don't see an easy way to open the sidebar while the drag is happening.

[2017-05-20 00:51] #281 closed

[2017-05-20 00:54] gnunn1 commented on #908
I'm not seeing an easy way to do this other then the sampling method which is a pretty ugh method. Closing this for now, if someone comes up with a great algorithm for doing this feel free to re-open with an explanation.

[2017-05-20 00:54] #908 closed

[2017-05-20 01:09] jamespotz commented on #931
yes its not tilix its zsh. I accidentally solve it by removing
 BASE16_SHELL=$HOME/.config/base16-shell/                                                        │~
 [ -n "$PS1" ] && [ -s $BASE16_SHELL/profile_helper.sh ] && eval "$($BASE16_SHELL/profile_helper.sh)

I am closing this.

[2017-05-20 01:09] #931 closed

[2017-05-20 18:15] alex285 opened #934 "small ui suggestion for split views & new session buttons on headerbar"
i use Adapta because the issue is a bit more obvious here, and also Adapta (and flat themes in general) is a quite popular theme

from left to right, excluding the appMenu we have
Session Buttons
New Session
Vertical Split
Horizontal Split

the two issues
1. i often press split instead of new, because buttons is super close and super similar
2. the session counting isn't visible enough

my suggest

[2017-05-21 02:04] gnunn1 commented on #934
Oops, committed that against the wrong issue.

[2017-05-21 02:06] gnunn1 commented on #930
I've checked in a change that adds a new variable, ```${activeTerminalTitle}``` that can be used in the application title. This should correct this issue and allow people to use the ```--title``` switch to change the terminal title and the window title assuming they set the window title to be ```${activeTerminalTitle}```.

[2017-05-21 02:06] #930 closed

[2017-05-21 02:18] gnunn1 commented on #934
Some thoughts on your suggestions:

1. I don't think dropping the split buttons from the headerbar is a good idea, this is the primary purpose of Tilix so I like having it front and center. Plus on a personal level I use them all the time and rarely bother with the context menu.

2. Again, I'm not keen on this as it is too wordy in my opinion. If someone wants to create an appropriate icon though

[2017-05-21 07:06] alex285 commented on #934
@gnunn1

okay, then dropping them is not an option. so next step is how we can improve the current one. im attaching the same view with Adwaita theme

![tilix-adwaita](https://cloud.githubusercontent.com/assets/11244308/26281749/5ae4b706-3e09-11e7-87dd-56673b3c7a91.png)

here the sessions arrow is obvious that belongs to 1/1 button when in Adapta it seems like a separated button, since the distanc

[2017-05-21 08:10] gnunn1 commented on #934
To me though all of these items are issues with Adapta, isn't this really an issue for them to resolve? I'm willing to add some css classes if it helps them style things but I'm not changing  padding or icon sizes within tilix since from my perspective it looks fine on Adwaita.

I'm happy to consider changing the plus icon though if someone comes up with something nice.

[2017-05-21 09:25] alex285 commented on #934
@gnunn1

agree thus i open https://github.com/adapta-project/adapta-gtk-theme/issues/417

also agree

[2017-05-21 10:42] alessandro-guido commented on #900
I've just updated to 1.5.6 (from fedora COPR heikoada/terminix) which should include fix #900. The attached screenshot shows two terminals stacked horizontally using "Monokai Dark" color scheme. Unfocused dim is set to the maximum in the terminal profile. The unfocused terminal (left) is completely white, which I don't think is the intended nor (imho) correct behavior.

![screenshot from 2017-05-2

[2017-05-21 13:19] rancidfrog opened #935 "Restore last session window on launch (minimized/maximized)"
Currently tilix always starts with a minimized window, even when last session was exited with maximized.
Could a setting be added to restore last sessions appeance?
Or, whether maximized/minimized on start?

Thank you

[2017-05-21 13:25] gnunn1 commented on #900
The intent isn't really to set it to 100% though, it tends to work best with lower values. Maybe the maximum should be changed to something like 40%?

Also, feel free to write out how you think the feature should work in more detail.

[2017-05-21 13:26] gnunn1 commented on #934
OK I'm closing this for now, if the Adapta folks request some changes in classes or whatever they can re-open it.

[2017-05-21 13:29] gnunn1 commented on #935
You can use the command line switches to start Tilix maximized or minimized if that's what you want, i.e:

[code]

otherwise it is the window manager's responsibility to manage this and I don't have any plans to make it a preference.

[2017-05-21 14:55] rancidfrog commented on #935
Thank you for quick response.

My issue is that whenever I launch tilix from application menu it starts minimized.
Most apps standard scenario is launch the way you exited; so, if you exit maximized, the next launch will also be maximized.
Files/Nautilus, web browsers, and most other apps follow this manner.
(Not sure how they do it, config file remembers last state?)
However tilix always starts m

[2017-05-21 15:15] gnunn1 commented on #935
That's weird, what desktop environment are you using, Gnome? There's nothing in my code that I'm aware of that would cause this.

[2017-05-21 15:22] rancidfrog commented on #935
Yes, Version 3.24.2 Gnome on Archlinux.

[2017-05-21 15:24] gnunn1 commented on #935
That's what I'm using as well. I'll think about what could be causing this, but right now I don't have any obvious ideas. Are you using any extensions in gnome?

[2017-05-21 15:35] rancidfrog commented on #935
No extensions.
But, it may be an issue with gnome, as terminal and terminator both always start minimized too from application menu.
So not sure what to tell you, but strange.

[2017-05-21 15:49] gnunn1 commented on #935
Weird too how it's the terminal applications. If you run tilix in gnome-terminal from the command line is there any error or warning shown? Also is this in X11 or Wayland, if Wayland do you get the same behavior in X11?

I'll check the minimize/maximize state saving of Nautilus and gedit, if they are indeed doing that then yes tilix should do the same.

[2017-05-21 18:37] rancidfrog commented on #935
Yes,
[code]
I believe X11

[2017-05-21 18:41] tista500 commented on #934
@gnunn1,

Hi, I'm an author of Adapta.
So is it possible to add 2 style-classes to that GtkToggleButton (placed at the left-side of 'Plus' image-button)?

 1. `.text-button` style-class
That GtkToggleButton has label(s) to show the current session ID and total number of sessions. If so, we need to optimize the base-line of label(s) and font-weight. Adwaita does not concern the base-lines and font-

[2017-05-21 20:12] gnunn1 commented on #935
I've added some code to save and restore window state similar to gedit and nautilus.

As to the minimize issue, I have no clue what the issue there is but I don't think it's a tilix issue. Looking at the accessibility error you posted, it doesn't seem to be the cause of this issue.

[2017-05-21 20:12] #935 closed

[2017-05-21 20:18] gnunn1 commented on #934
@tista500 I have added the ```session-sidebar-button``` class, however I can't add the ```tex-button``` class because it widens the button excessively under Adwaita. See the screen shot below.

![screenshot from 2017-05-21 16-16-31](https://cloud.githubusercontent.com/assets/9358238/26287061/2df45ec6-3e41-11e7-85e6-d5a56f4c235e.png)

[2017-05-21 20:38] tista500 commented on #934
@gnunn1,

Oh thanks!

https://git.gnome.org/browse/gtk+/tree/gtk/theme/Adwaita/_common.scss#n569
But for me, your shot shows the natural size of `button.text-button` as we can see in many places when Adwaita was selected. If you're still keeping arrows inside that button, `button.toggle.text-button.image-button` might be the best in semantically, just my thought... At least, `.text-button` style-c

[2017-05-21 21:14] davibusanello commented on #898
@gnunn1 yes, have. i'm installing with yaourt.

@Rafaelsalass i remove full tilix and gtkd, clear caches, and install with AUR package

[2017-05-21 21:20] gnunn1 commented on #898
@davibusanello You should report this against the Arch package you are using as the problem is likely something on their end.

[2017-05-21 21:23] gnunn1 commented on #934
I saw you updated and closed the adapta issue, thanks for taking care of this @tista500.

[2017-05-21 21:23] #934 closed

[2017-05-21 21:26] tista500 commented on #934
Thanks for your work @gnunn1 :)

[2017-05-21 22:22] davibusanello commented on #898
@gnunn1 ok, thank you =)

[2017-05-21 22:31] bil-elmoussaoui commented on #934
Looks much better!
![screenshot from 2017-05-22 00-30-48](https://cloud.githubusercontent.com/assets/7660997/26287947/ec85955a-3e85-11e7-8919-12a9e7259a2b.png)
Thanks @gnunn1 @tista500 !

[2017-05-22 00:33] stuaxo commented on #281
Is there no way to know if the drag is over the session button, so it could then open?

[2017-05-22 03:55] Rafaelsalass commented on #898
thank you !!!

[2017-05-22 14:32] gnunn1 commented on #281
@stuaxo Maybe, I'm not sure it would be possible to pop-open the revealer while a drag is occuring. However, even if that worked how do you close it again so you can drop it on a terminal underneath?

The other aspect is that I'm still looking at re-working the sidebar, I don't want to expend a ton of effort on use cases which are challenging until I know what I'm doing on that front. Unfortunatel

[2017-05-22 17:08] stuaxo commented on #281
Makes sense :)

[2017-05-22 20:44] gnunn1 commented on #888
Sorry for the delay in getting around to this, I can reproduce the problem in RHEL 7. When I run the vim command without synchronized input I see the following sequence (where the xt space commits are the ending of ```vim test.txt```):

[code]
However with synchronized input turned on I see the following:

[code]

So the sequence of ```[2;2R``` and ```[>1;4803;0c``` is repeated twice for both te

[2017-05-22 21:13] gnunn1 commented on #888
Hmm, I wonder if the issue is simply that vim is emitting those sequences and for some reason VTE is treating it as user input and triggering the commit event.

[2017-05-22 21:15] f2404 commented on #888
@gnunn1 Will you be able replicate the issue with another vte-based terminal?

[2017-05-22 21:19] gnunn1 commented on #888
@egmontkob Any thoughts on the why the commit signal in VTE is returning those escape signals as if they were user input?

[2017-05-22 21:25] gnunn1 commented on #888
I've worked around the issue but specifically looking for and ignoring synchronizing those sequences, i.e.:

[code]

The problem no longer occurs but would be great to understand why VTE is reacting the way it does.

[2017-05-22 21:28] gnunn1 commented on #888
@f2404 Not easily, I would have to compile one and add an event handler for the commit signal to trace what it is generating. I highly doubt it's an issue with tilix though. Having said that, if you want to try reproducing with xfce4-terminal feel free, I'd be interested in your results.

[2017-05-22 21:44] gnunn1 commented on #888
Searching for the character string turns up the following vim issue report, not sure if it is related but seems like the dame symptoms. Unfortunately I'm not super knowledgeable in vim to understand this deeply.

https://github.com/vim/vim/issues/183#issuecomment-132351311

[2017-05-22 21:46] egmontkob commented on #888
`\e[>1;4803;0c` is the response to a `\e[>c`: whenever this latter is printed, the former is injected as if it was typed from the keyboard. Not sure about `\e[2;2R`, I'd have to dig into vim or vte, but it might be the same kind of story.

We've already discussed quite a few discrepancies with such vte signals and broadcast mode in general, I just can't remember where. Maybe here or xfce4-terminal

[2017-05-22 21:53] gnunn1 commented on #888
Thanks @egmontkob for the input. Note I started with synchronizing based on keystrokes but then you opened that bug about typing in IME unicode not working. Changing the synchronization to using VTE's commit signal fixed that but it was somewhat more complicated as I now synchronize both. The commit signal is used for 99% of the input while the keystroke is used for any VTE hard-coded key sequence

[2017-05-22 21:55] egmontkob commented on #888
The more generic approach would be to come up with a proper specs and implementation in vte :D

[2017-05-22 21:56] gnunn1 commented on #888
@egmontkob lol, touche! Closing issue.

[2017-05-22 21:57] gnunn1 commented on #932
As anyone had a chance to test this?

[2017-05-22 23:48] gnunn1 commented on #858
I still cannot reproduce the issue, is anyone else having this problem?

[2017-05-23 13:46] arigit commented on #932
I tested the workaround of using
`env GDK_BACKEND=x11 tilix`

for every scripted call and all my shortcuts and that worked.

I don't have a fedora build environment in the workstation so wondering if is there any chance you can leave the commit so it makes it to the fedora COPR for greater exposure?

Thanks! /A

[2017-05-23 15:47] gnunn1 commented on #932
I'll leave the commit in so it can be tested. I'm closing this issue for now as I don't have any further ideas to address this.

[2017-05-23 15:47] #932 closed

[2017-05-23 19:25] nean-and-i commented on #888
thanks for the analysis and the fix!

[2017-05-24 10:36] s4n-gt opened #937 "Feature Request: support for viewing current/running process in title"
ConEmu on Windows and iterm2 on MacOS have a feature to show running process.
(ref: https://www.reddit.com/r/linux4noobs/comments/6cu425/show_current_process_in_terminal/)

it would be nice to have this functionality in tilix.

[2017-05-24 15:19] dsboger opened #938 "Compilation warnings/errors with GtkD 3.6.3 and master"
I'm having some issues building Tilix with GtkD from master. It seems there has been some churning with the location of definitions. I'll try to summarize the issues below (I'm not sure if all facts are related):

1. For some time now, since GtkD 3.6.1, I think, Tilix has been issuing this deprecation warning:

[code]

2. With GtkD 3.6.3, I get the above warning plus the following:

[code]

3. Wit

[2017-05-24 16:50] brittyazel opened #939 ""Unfocused dim" functionality changed in 1.5.8"
With the update to 1.5.8 on Archinux using the Tilix-bin package, the "Unfocused dim" functionality seems to have changed from a direct dimming of the window, to now the window taking on whatever is set as the "foreground" color whenever it is out of focus. This resulted in my first opening of tilix after the update being presented with a bright green command window every time I did anything that

[2017-05-24 17:14] syedelec opened #940 "Automatically hide scrollbar in vim/neovim"
Hi,

I am using scrollbar in the terminal and if I enter nvim/vim, I still have it even if it has no use since you can't use it to scroll into the buffer. I wanted to know if is it currently possible to hide the scrollbar when vim is started. If not, it would be a nice feature to implement.

Thanks !

[2017-05-24 19:14] gnunn1 commented on #937
What do they do for processes with excessively long names?

[2017-05-24 19:15] gnunn1 commented on #938
Thanks, I'll update dub to use 3.6.1 and fix these.

[2017-05-24 19:16] gnunn1 commented on #940
No plans for this feature, if you use GTK 3.22 or later Tilix will use overlay scrollbars instead of dedicated ones and it becomes a non-issue IMHO.

[2017-05-24 19:16] #940 closed

[2017-05-24 19:18] gnunn1 commented on #939
See #900 for discussion on this issue. Frankly if someone has a good idea to make it work well across the board for all theme/color combinations I'm all ears. As it stands now it looks pretty challenging to make this work well for everybody.

I'm really starting to despise this feature :)

[2017-05-24 20:04] gnunn1 commented on #938
Hmm, for me those the .c modules are not being generated. I'll open an issue at GtkD.

[2017-05-25 03:01] dsboger commented on #900
I vote for ~25% opacity black, with a very GNOMEy enable/disable checkbox. But seriously, I think that using an arbitrary color for dimming is kinda weird. I also don't like using the foreground color with dark background schemes because the unfocused terminal will get brighter, calling more attention.

[2017-05-25 10:26] deepu105 opened #941 "Tilix doesnt open in the folder from where it is split"
When Tilix is opened I get a prompt saying there is an issue with configuration and the prompt links to https://gnunn1.github.io/tilix-web/manual/vteconfig/
But I have already done these configuration and everything was working fine. I guess this started happening after some of the libraries in my system was updated.
And now Tilix doesnt open from the same folder where it was split.
I tried all th

[2017-05-25 12:37] gnunn1 commented on #941
Did this start updating with the upgrade of tilix or did it happen with the previous version as well?

If you switch to bash as a troubleshooting issue does it start working as expected?

[2017-05-25 12:38] gnunn1 commented on #941
Oh, and in gnome-terminal, if you open a new tab does it open in the same directory as the previous tab? If no that would indicate it's a more general issue you are facing rather then a tilix specific issue.

[2017-05-25 12:42] gnunn1 commented on #900
@dsboger I think whatever color gets chosen people are not going to like it. I was using the insensitive theme color previously, I could revert the color back to that.

I'm also wondering if I should just rewrite this feature to behave like the terminator does it by updating all of the font colors to reduce their brightness. That approach has some downsides as well though as monkeying with the VTE

[2017-05-25 15:58] deepu105 commented on #941
The problem happens in gnome-terminal as well so I guess its something with VTE or ZSH in general. Any idea where I should start?

[2017-05-25 15:58] #941 closed

[2017-05-26 00:09] phillipsp2403 opened #942 "Profile switch does not work when switching directly between two profiled directories"
I have two profiles (say A and B).  Profile A which sets a blue background is triggered when I change to directory /opt/A and profile B which sets a red background when I change to /opt/B.  This works first time, however if I am already in /opt/A with a blue background and cd directly to /opt/B, the background color does not switch to red.  I have to cd to a "neutral" directory to return to the de

[2017-05-26 12:50] rancidfrog commented on #935
Thank you,
Working as expected, but with one exception.
Tilix quake mode is treated as minimized, and closing tilix while in quake mode results in state returning to minimized. I believe it should be treated separately, (I have tilix --quake bounded to custom keyboard shortcut).
Usually I use tilix maximized unless I want to do a quick cmd for which I use quake mode.

[2017-05-26 13:10] gnunn1 commented on #935
Thanks, I've fixed it.

[2017-05-26 13:10] gnunn1 commented on #942
Thanks, I'll have a look at it.

[2017-05-26 14:11] nean-and-i commented on #888
uuups,....

almost, almost, got weird escape characters now, when I exit vim while in synchronize modus,...

[code]

[2017-05-26 14:57] phw opened #943 "Version 1.5.8 ignores --geometry parameter"
Since version 1.5.8 the `--geometry` parameter is ignored and the window is opened maximized, if the last state or the state of the current window is maximized. I guess this is related to #935

I think the `--geometry` parameter should take precedence. My use case is that I have usually one maximized tilix window open. But I run scripted commands in separate tilix windows, e.g. this:

    tilix --

[2017-05-26 15:05] phw commented on #939
To be honest I also don't quite like the new behavior, but I workaround it by setting a custom dim color.

But as @brittyazel pointed out, I too find the color options here a bit confusing. I don't understand why  the advanced colors (cursor, highlighting, dimming) can only be set if the option to use theme colors for background/foreground is disabled. I'd rather keep using the theme colors, but s

[2017-05-26 15:05] nicolas-simplex commented on #858
Yes, I'm having exactly the same issue on ubuntu-gnome 17.04 using Tilix 1.5.6

Steps to reproduce:
* Fresh install Tilix
* Enable Quake mode
* Enable the option "Hide window when focus is lost"
* Add a keyboard custom shortcut in gnome preferences for "tilix --quake"
* Use the shortcut once to make the window appear
* Use the shortcut again

Expected result:
* The window disappears

Actual behavi

[2017-05-26 17:46] s4n-gt commented on #937
[sorry for late replay]

for long names, conEmu only shows first 63 characters.

![conemu](https://cloud.githubusercontent.com/assets/28922018/26506159/57047456-426d-11e7-83c1-c72a487952ee.png)

[2017-05-26 23:37] #943 closed

[2017-05-26 23:41] #938 closed

[2017-05-26 23:54] #942 closed

[2017-05-26 23:54] gnunn1 commented on #942
This should be fixed now in master, thanks for reporting this.

[2017-05-27 00:05] gnunn1 commented on #939
I've committed a change to enable the advanced colors all the time. Since each one has a toggle to indicate whether or not to use it I'm not remembering why I tied it to the system theme colors. Please try it out and let me know if this addresses the concerns.

I'll spend some time thinking about how the default dimming color should work as well.

[2017-05-27 18:53] rafaelmardojai opened #944 "Remember window size"
It is possible to save the size of the window in dconf like Lollypop does?

I like to have the terminal window not maximized in a specific size, and is a little bit annoying resize the window every time i open tilix.

Regards, and thanks for the great job!

[2017-05-27 20:54] gnunn1 commented on #944
You can set the preferred size of the terminal in the preferences dialog under profiles, just set the number of columns and rows you want it to be.

[2017-05-27 20:54] #944 closed

[2017-05-27 22:35] gnunn1 commented on #858
@nicolas-simplex I just tried it with Ubuntu Gnome 17.04 in a VM and didn't have the issue unfortunately.

[2017-05-29 01:09] dsboger opened #945 "Title in the headerbar is not properly centered"
It is a very minor issue!

![image](https://cloud.githubusercontent.com/assets/2356842/26533121/fcc0f112-43e9-11e7-8629-a9eb60c1edf2.png)

[2017-05-29 13:10] honze-net opened #946 "Tilix missing in Kali Linux"
I installed a new Kali Linux (Kali Linux 2017 W22) and neither "terminix" nor "tilix" is available. In my previous installation (2016 W50) it was available.

German output of 2016 W50, but you will get the point:
[code]
2017 W22:
[code]

In Debian (base for Kali) it is also available. Is this something you can fix or do I have to head over to the Kali Linux team?

[2017-05-29 14:22] gnunn1 commented on #946
You are correct, you need to open a bug with Kali as I don't handle packaging Tilix just the development.

[2017-05-29 14:22] #946 closed

[2017-05-29 14:23] gnunn1 commented on #945
I wonder if it's because of the hidden Entry used for editing the title. I'll have a look.

[2017-05-29 14:25] phw commented on #946
@honze-net Have a look at https://pkg.kali.org/pkg/terminix , the terminix package was removed a couple of days ago. You might want to contact the packager directly for the reason.

[2017-05-29 15:47] humanamerican commented on #693
An update to @gnunn1 comment: the site is now https://gnunn1.github.io/tilix-web/manual/quake

[2017-05-30 22:39] #945 closed

[2017-05-31 03:04] dsboger commented on #945
I'm afraid the issue is still present. Is anyone else able to reproduce it? Maybe it is related to something on my end.

[2017-05-31 03:52] dsboger commented on #945
I've made some experiments and found two problems:

- the `CustomTitle` end up hexpanding even when the children don't (I'm not sure why)
- when the title editor entry loses focus by clicking away, the `ViewMode.LABEL` is not applied

I'll make a PR with a fix that *Works For Me*.

[2017-05-31 08:01] alexwhitman opened #948 "Preferences window opens too wide"
Screenshot to illustrate.  Also, when moving the mouse cursor to the edge of the window the cursor changes to the resize image but the window itself isn't resizeable.

![screenshot from 2017-05-31 09-00-22](https://cloud.githubusercontent.com/assets/422013/26621741/ac1b6916-45df-11e7-8236-5aac61aaa30d.png)

[2017-05-31 08:31] phw commented on #948
Things like that are usually caused by some UI element, probably a string, running too wide. Can you look through the preferences if there is anything that could cause this?

[2017-05-31 08:35] phw commented on #948
Just after I wrote the above I found one thing that can cause this: When entering a very long bookmark title this will blow up the preferences dialog. I think the labels should not grow the size of the dialog but rather get cut off if they don't fit.

There could be more things causing the dialog to grow, but that's one possible issue I found in quick testing.

[2017-05-31 08:41] phw commented on #939
@gnunn1 Now the advanced colors are available all the time, but the dim color from advanced still is only applied, when "use theme color" is disabled.

The colors for cursor and badge work however independent of the "use theme color" setting (not sure about highlight and bold, didn't test).

[2017-05-31 11:02] vadi2 opened #949 "powerline rendering dodgy"
I'm using powerline from the apt repositories on Ubuntu 17.04 with the default Tilix font and the rendering is a little off:

![selection_127](https://cloud.githubusercontent.com/assets/110988/26629138/4952ee72-4601-11e7-807a-7c3daef0e4c5.png)

Observe how there's a few pixels that are going up and are out of line.

[2017-05-31 11:43] gnunn1 commented on #939
@phw Thanks for testing, I've added a commit to correct that issue so it should work now.

[2017-05-31 11:47] gnunn1 commented on #948
I've updated the bookmark editor to change the horizontal scrollbar policy from NEVER to AUTOMATIC which corrects that specific behavior for me.

@alexwhitman Could you check all of the pages of your preferences and look for any widgets which are displaying abnormally large strings.

[2017-05-31 11:51] gnunn1 commented on #949
The default Tilix font is whatever font is set in the OS for the monospace font, can you confirm that it is the Ubuntu default?

Also, does the problem disappear with different fonts and/or sizes, just trying to determine if it's specific to a particular configuration.

Note also though that there's not much I can do to fix it as this would be a VTE issue and a bug would need to be opened in GNOME

[2017-05-31 12:14] alexwhitman commented on #948
I can't see any long strings.  I don't have any bookmarks set and most of my settings are the default except for some of the dropdowns and checkboxes.  I can provide screenshots of each page if that helps?

[2017-05-31 12:52] gnunn1 commented on #948
If you can take screenshots of just the pages that have controls that go all the way from the left edge to the right edge that would be helpful. Also, did this issue just start with 1.5.8?

[2017-05-31 14:11] Aidoboy commented on #948
I just installed Tilix 1.5.8 on CentOS 7.3, and I'm having the same issue.

[2017-05-31 15:03] kascote commented on #948
Same issue here. I don't saw at first glance any long string or some strange wide widget.
The issue started with 1.5.8. I'm using ppa from webupd8team

[code]

[2017-05-31 15:25] alexwhitman commented on #948
Screenshots below.  Not sure what version it started with as I haven't looked at the preferences recently and I'm often compiling the latest master version to test.

![tilix preferences_001](https://cloud.githubusercontent.com/assets/422013/26639692/77acb638-461d-11e7-90c4-7883fb31ef6c.png)
![tilix preferences_002](https://cloud.githubusercontent.com/assets/422013/26639696/77b808f8-461d-11e7-829c-

[2017-05-31 15:25] tliron commented on #916
I just upgraded Tilix on Ubuntu 17.04 using the official PPA and am now getting this error.

[2017-05-31 16:21] NoXPhasma commented on #948
I have the same issue since the update to 1.5.8. There are several drop down menus which use the full with of the window, but none of them has any text which would explain that.

It's also impossible to make the window smaller when opened, I can only raise the size.

[code]

[2017-05-31 17:48] gnunn1 commented on #948
I'm not seeing the issue in Ubuntu 17.04, I'll try CentOS next.

[2017-05-31 18:30] nobeh commented on #916
Encountered the same issue with 1.5.8 updated from WebUpdate8 PPA on Ubuntu 17.04.

Building from source from tag 1.5.6 is working now for me.

[2017-05-31 19:11] NoXPhasma commented on #948
I and others in this issue have multi monitor setups. Maybe this is the cause?

[2017-05-31 19:29] Aidoboy commented on #948
I only have one monitor, but I'm using a VM over VNC.

On Wed, May 31, 2017, 2:11 PM NoXPhasma <notifications@github.com> wrote:

[2017-05-31 19:31] kascote commented on #948
At this moment I have one monitor, but had 2 a couple months ago

[2017-05-31 22:00] Queuecumber opened #950 "PCRE2 not supported"
tilix 1.5.3 (updated today from the webupd8 repo) running tilix gives

[code]

any idea what happened?

[2017-05-31 22:01] bil-elmoussaoui commented on #950
See https://github.com/gnunn1/tilix/issues/916

[2017-05-31 22:02] #950 closed

[2017-05-31 22:05] nean-and-i commented on #948
confirm same issue on Ubuntu Gnome 16.04

[code]

[code]

[2017-05-31 22:05] bil-elmoussaoui commented on #948
I have a dual monitor and i can't reproduce it on Archlinux with Gnome 3.25 (alpha)

[2017-06-01 01:26] gnunn1 commented on #948
Is everyone who has this issue on GTK 3.18 or earlier?

[2017-06-01 07:59] alexwhitman commented on #948
I am, on Ubuntu 16.04 LTS.

[code]

[2017-06-01 08:16] rpbaptist opened #952 "Custom Links stopped working: Error Opening Match"
The pop up shows: `Could not open match "`

![image](https://cloud.githubusercontent.com/assets/7916262/26670767/3c0e77d8-46b3-11e7-83ee-c629c2a66e9b.png)

[code]

I used it with my editor Sublime Text and it was working fine until yesterday. I used the following:

Regex: `\.?\S+\.(rb|ru|json|js|html|haml|yml|md|scss|css|sass):?\d*:?\d*`
Command: `subl $0`

This stopped working. Now I know it may

[2017-06-01 08:20] rpbaptist commented on #952
I suspect yesterdays update:

[code]

[2017-06-01 08:28] rpbaptist commented on #952
I can confirm a downgrade to 1.5.6 made my custom links work agian.

[2017-06-01 10:02] hotice commented on #916
I'm not sure what's going on in Ubuntu 17.04 because I'm not encountering this issue: http://i.imgur.com/TwiCEb5.png But assuming the issue is indeed the one in this bug report, I updated the PPA packages with a patch to work around this issue.

The patch fixes the issue in Ubuntu 17.10 but I can't test it in 17.04 since I'm not affected by this for some reason. So @tliron and @nobeh , can you ple

[2017-06-01 10:42] phw commented on #916
Ubuntu 17.04 is not affected because it has VTE < 0.46

[2017-06-01 10:44] hotice commented on #916
@phw but it was reported but 4 Ubuntu 17.04 users so I don't get it...

[2017-06-01 11:14] nobeh commented on #916
@hotice I confirm that updating to `1.5.8-1~webupd8~zesty2` fixes the issue:

[code]

[2017-06-01 11:19] hotice commented on #916
@nobeh great, thanks for the confirmation! But now I see why I wasn't affected. You somehow have a newer VTE version (or maybe you are actually using Ubuntu 17.10 and not 17.04)...

[2017-06-01 11:25] nobeh commented on #916
I think this clarifies why, because I am using GNOME staging PPA:

[code]

[2017-06-01 11:34] felipemouzerlemos commented on #944
The preferred size does not work when the last used window was maximized.
In that situation the new window will be maximized too, and I can't force with --geometry because it is ignored.

[2017-06-01 12:14] gnunn1 commented on #944
The ```-geometry``` has been fixed in master so it will be in the next release, hoping to do a bug fix release this weekend.

[2017-06-01 14:00] Aidoboy commented on #948
On Centos 7.3

[code]
[code]

[2017-06-01 14:03] Aidoboy opened #953 ""Layout Options" crashes Tilix"
1. Go to terminal bar > Other > Layout Options
2. Click it
3. Tilix crashes

I'm running the newest version of Tilix available on CentOS 7.3

Edit: Output:
[code]

[2017-06-01 14:11] gnunn1 commented on #953
Might be because of an older GTK version as I don't see the issue here. Once RHEL/CentOS 7.4 becomes available I'm likely going to stop supporting GTK 3.14 and move the requirement to 3.18.

[2017-06-01 15:47] tliron commented on #916
Confirmed fixed in PPA for Ubuntu 17.04.

BTW, I'm also using the GNOME Staging PPA but had this issue, so I guess the fix is only in 17.10+GNOME-staging. :)

[2017-06-01 18:02] larsks commented on #952
Oh look, somebody has already opened a bug for the issue I was going to report.  I'll just...you know, me too.

[2017-06-01 22:04] diskotechjam commented on #952
I'm having a similar issue, but I cannot open any URL. I didn't think that you needed to setup a custom link to handle URLS, but perhaps I am wrong.

[2017-06-01 22:08] bil-elmoussaoui commented on #952
@diskotechjam In order to open a URL you will have to CTRL + Left click on it. The issue is about https://gnunn1.github.io/tilix-web/manual/customlinks/

[2017-06-01 22:29] diskotechjam commented on #952
@bil-elmoussaoui Hmm, seems to only work once per session, then I continue to get the Error Opening Match message. The right click menu "Open Link" and "Copy Address" don't work either. Seems to be independent of custom links problem.

[2017-06-01 22:35] dflock commented on #948
I get this too, on a freshly installed tilix, from the very first time I opened the preferences.

[code]

[2017-06-01 23:18] f2404 commented on #952
I guess this could be related to that issue with pcre2 as URLs handling is also based on regexes.

[2017-06-02 23:52] #952 closed

[2017-06-03 00:27] #948 closed

[2017-06-03 00:34] #953 closed

[2017-06-03 12:30] saivert opened #956 "Hyperlinks only work until I run an application in shell"
I start up Tilix, paste an URL into the shell. The URL is now clickable and works.
I launch a second shell. Now clicking URL shows error message: Could not open match ''

Versions
	Tilix version: 1.5.8
	VTE version: 0.48
	GTK Version: 3.22.15

Tilix Special Features
	Notifications enabled=0
	Triggers enabled=0
	Badges enabled=0

[2017-06-03 12:35] gnunn1 commented on #956
Is this a duplicate of #952?

[2017-06-03 12:37] saivert commented on #956
So this is fixed in master?

[2017-06-03 12:38] gnunn1 commented on #956
Yes

[2017-06-03 12:40] #956 closed

[2017-06-04 00:48] bilelmoussaoui opened #957 "Nautilus Plugin issue/improvements"
For now , the nautilus plugin will crash both Nautilus & Tilix (if you run Nautilus from terminal) if you try to open tilix using the keyboard shortcut on a google-drive folder (the ones added in gnome 3.20)

The reason why, is that we assume that the file scheme is always gonna be a "file" which is not always the case.
The plugin already handle that part of code for the menu items; I've already a

[2017-06-04 08:36] Jiehong commented on #681
I see the sidebar as I see the workspace bar in gnome-shell on the right.

I don't need to actually always see it that much, and 95% of the time I switch between sessions with Ctrl + PageUp/PageDown directly as it's way faster than using my mouse and check the small thumbnails there.

IMHO, all proposed solutions do not offer much compared to the cost they would imply, and maybe it's just good eno

[2017-06-04 09:10] Urgau opened #958 "GSettings errors on Archlinux"
Hello,

when I install Tilix (tilix-bin) on Archlinux I received this error when "Compiling GSettings XML schema files..." :

Aucune clé nommée « sort-directories-first » dans le schéma « org.gnome.nautilus.preferences » comme défini dans le fichier « /usr/share/glib-2.0/schemas/99_deepin-default-gsettings.gschema.override » de redéfinition ; la redéfinition de cette clé a été ignorée.
Aucune clé

[2017-06-04 11:34] bil-elmoussaoui commented on #958
Nothing to do with tilix. You've recently installed deepin which patch some default functionality on Nautilus except this feature is key on gsettings has changed i guess

[2017-06-04 13:16] aditiapratama opened #960 "Can't launch tilix after update to 1.6.0 in Fedora 25"
Hi,
I'm using copr build `heikoada-terminix` and today I realize Tilix has been updated to version 1.6.0. But after restart, i tried to launch and get this

[code]

Should we install extra library in this case. `libgdkglext-3.0.so.0`?

Thanks

[2017-06-04 13:18] gnunn1 commented on #960
No, there is an issue with newer versions of GtkD making this library required instead of optional like it was previously. I'm in the process of pushing out a fix that builds against the older GtkD library and fixes the issue. Give me a few minutes.

[2017-06-04 13:18] #960 closed

[2017-06-04 13:25] #958 closed

[2017-06-04 13:31] gnunn1 commented on #957
I'm not sure this is needed. When you are using a remote file system in Nautilus it mounts it into the local file under ```/run/user/1000/gvfs```. So On my system when I access a remote filesystem like ```smb://Stora/mylibrary/MyVideos``` and do the Open in Tilix action it opens the directory just fine in ```/run/user/1000/gvfs/smb-share:server=stora,share=mylibrary/MyVideos```.

[2017-06-04 13:36] bil-elmoussaoui commented on #957
Yeah, but the shortcut always report "google-drive" as a scheme. Which can't be used. You can try that by adding some prints on the current code and see what's happening. I can provide more outputs if you wish

[2017-06-04 14:05] ahloiscreamo opened #961 "Failed to load after upgrade"
Hi,
I am using COPR version for fedora, today tilix failed to load after running daily update command.

terminal output-
[code]

[2017-06-04 14:26] Mancooo commented on #961
Hi,

After ugrading Tilix today (on a Fedora 25 system), I have the same problem with the same error showing

[2017-06-04 14:33] ives-soares commented on #858
I'm having exactly the same issue on ubuntu-gnome 17.04. I'm using Tilix from PPA, version 1.5.8. The result is the same described by nicolas-simplex. However sometimes my gnome-shell crashes when I use the shortcut to hide Tilix.

I saw the following line in dmesg:
gnome-shell[8080]: segfault at 38 ip 00007fdbf11b0728 sp 00007ffeeaa173a0 error 6 in libgnome-shell.so[7fdbf1187000+29e000]

[2017-06-04 14:41] dsboger commented on #961
I'd say "upgrade again" :). [1.6.1](https://github.com/gnunn1/tilix/releases/tag/1.6.1)

[2017-06-04 15:58] ahloiscreamo commented on #961
@dsboger ha i'm going to do that ,thanks man !

[2017-06-04 16:22] gnunn1 commented on #961
This has been fixed with 1.6.1.

[2017-06-04 16:22] #961 closed

[2017-06-04 16:28] gnunn1 commented on #957
I missed the gnome google-drive, I use insync so it's working fine for me. There's a ton of public FTP sites out there, can't you just test it with one of them, i.e.

http://www.sftp.net/public-online-sftp-servers

[2017-06-04 16:48] bil-elmoussaoui commented on #957
Thanks. The terminal opens up without any issue but i can't connect directly as there's no username, hostname parsed by urlparser. Its just a netloc
[code]
Which opens this window

![screenshot from 2017-06-04 18-44-48](https://cloud.githubusercontent.com/assets/7660997/26763615/ea83f622-4955-11e7-955d-260ec1ead5b1.png)
Even if i type the password nothing happens.
And here's the command that being

[2017-06-04 17:07] bil-elmoussaoui commented on #957
Tried that with gnome terminal nautilus extension, it has the same behavior. But it does open the terminal on the local gvfs correctly which tilix doesn't at all.

[2017-06-05 02:02] arcadian09 opened #962 "version 1.6 failed load libgdkglext-3.0.so.0"
Just updated to Version tilix-1.6.0-1.fc25.x86_64

Tilix does not start and outputs the following exception.
object.Exception@../../../.dub/packages/gtk-d-3.6.5/gtk-d/generated/gtkd/gtkd/Loader.d(125): Library load failed (libgdkglext-3.0.so.0): libgdkglext-3.0.so.0: cannot open shared object file: No such file or directory

Downgraded to version tilix-1.5.8-1.fc25.x86_64 and issue none existent.

[2017-06-05 02:03] gnunn1 commented on #962
It's been fixed with 1.6.1, my apologies for the issue.

[2017-06-05 02:03] #962 closed

[2017-06-05 16:42] vmercuri opened #963 "Weird symbols after "ls -la" command (not easily reproducible)"
Built from master (via dub) on Fedora 25 (Cinnamon 3.4.0). The terminal emitted a long sequence of symbols after pressing Enter on the ``ls -la`` command. This has only happened twice in a few hours, after multiple attempts to reproduce the issue. As you can see, I have zsh installed and configured it with oh-my-zsh, but since the problem never happened with past builds of Tilix, I can't infer tha

[2017-06-06 12:19] gnunn1 commented on #963
This is probably an issue with VTE rather then tilix itself since VTE provides the terminal emulation. How are you generating that prompt with the arrow, is it using any fancy character sequences? Also, can you reproduce this in gnome-terminal?

[2017-06-06 12:40] humanamerican opened #964 "Update broke Tilix install on Fedora 25 from COPR repo"
I installed from https://copr.fedorainfracloud.org/coprs/heikoada/terminix/. It worked until this morning (after an update), when I tried to run and got:

$ tilix
object.Exception@../../../.dub/packages/gtk-d-3.6.5/gtk-d/generated/gtkd/gtkd/Loader.d(125): Library load failed (libgdkglext-3.0.so.0): libgdkglext-3.0.so.0: cannot open shared object file: No such file or directory

**Uninstalling and

[2017-06-06 12:48] f2404 commented on #964
Please see #960 #961 #962

[2017-06-06 12:52] vmercuri commented on #963
The problem is that I didn't see the issue until yesterday, after I rebuilt Tilix. The gnome-terminal doesn't have the same problem (I use both terminals quite often). This morning, something similar happened also when I changed the font color in the Preferences (but I can't remember exactly which event caused a long sequence of '8' to be printed out, it probably happened when I released the mouse

[2017-06-06 12:59] #964 closed

[2017-06-06 13:03] gnunn1 commented on #963
Thanks, if you can reproduce it in bash that would be very helpful.

[2017-06-06 16:15] zgwerby opened #965 "Not working nautilus integration with unicode-named directories"
Not working nautilus integration (Open with... feature) with unicode-named (if have in name at least one unicode or non-english symbol) directories. Arch Linux, Gnome 3.24.2, Nautilus 3.24.1, Tilix 1.6.1 - fresh compiled from AUR.
![2017-06-06 19-11-02](https://user-images.githubusercontent.com/21217444/26839599-97417a48-4af4-11e7-90c4-f3875dff8d53.png)
![2017-06-06 19-11-16](https://user-images.g

[2017-06-06 18:30] gnunn1 commented on #965
The nautilus extension uses Python2 so it's probably related to the poor unicode handling that it has versus Python3.

[2017-06-06 18:36] bil-elmoussaoui commented on #965
I will see what i can do next week :)

[2017-06-07 08:53] honze-net commented on #946
I opened a ticket on the Kali bugtracker and got the following response:
"tilix will be available after the release of Debian 9 (June 17), it will migrate from unstable to testing and from there to kali. " (https://bugs.kali.org/view.php?id=4064)

So just wait a bit. This is fine for me.

[2017-06-07 11:03] guillefar commented on #681
Do people really find those small session thumbnails useful to find the right session? I imagine is the case, but as someone that use many  tabs/session to connect to several servers at once, they are not useful at all. it is not possible to read what they say, so I suppose for people that use them it becomes a matter of visual memory. In any case, thumbnails for texts consoles, doesn't sound as t

[2017-06-07 11:06] #965 closed

[2017-06-07 11:44] vmercuri commented on #963
After one day, I have not been able to reproduce the issue in bash. I should conclude that the zsh configuration I used caused it, but at the same time I can't explain why everything worked until the latest build and why this doesn't happen with gnome-terminal. I'm going to try further with zsh enabled, with and without the oh-my-zsh plugins installed, just to make sure whether this might be a bug

[2017-06-07 14:35] Queuecumber commented on #597
Since wayland is eventually going to replace X entirely, this should probably get worked out as I'm sure a lot of applications are going to want something like this. Do you guys have any idea where I should go to report this as a bug?

[2017-06-07 16:51] alfredo-ardito commented on #858
I confirm the same issue mentioned by others about the shortcut key in quake mode.
I did a fresh install of arch linux using xfce4 and tilix. When I enable --quale mode with the option "Hide window when focus is lost" DISABLED tilix works fine. Pressing the shortcut key it appears, pressing it again it hides as expected.
If I enable the option "Hide window when focus is lost" then tilix becomes bu

[2017-06-07 21:48] gnunn1 commented on #858
I'm pretty sure it is a timing issue, unfortunately not being able to reproduce it in a VM makes it difficult to fix. If someone who is a coder has the issue and is willing to debug it I'm happy to provide advice and guidance on where to look.

[2017-06-07 23:31] glitsj16 commented on #858
@gnunn1 I've collected some more info. As I'm not a professional coder this is the best I could come up with. Info was collected on arch linux, using tilix-git (edited to not strip debug info). Perhaps it throws some more light on the issue.
    https://gist.github.com/glitsj16/3d4e1c60bf1cf9163ddb83ba7d788268 --> debug info 'hide on focus lost'
    https://gist.github.com/glitsj16/68b65fe9cc63e07

[2017-06-08 02:17] gnunn1 commented on #858
There is this bug in report in Ubuntu, folks had this problem when using keys to change the laptop screen brightness for example. The idea is that the window briefly loses focus when a global hot key is pressed:

https://bugs.launchpad.net/gnome-settings-daemon/+bug/1244090

It kind of fits what is being seen, let's assume this bug exists so this is the sequence of events I would expect to happen:

[2017-06-08 02:22] gnunn1 commented on #858
I think to prove this out, if you run tilix and only use the hot key I'm thinking you should never see the trace message ```Focus lost, hiding quake window``` appear. I'll test it on my machine shortly to make sure that is the case.

[2017-06-08 02:49] gnunn1 commented on #963
Thanks for the update.

[2017-06-08 03:29] gnunn1 commented on #858
I still see the message ```Focus lost, hiding quake window``` so that's not it. I need to investigate some more.

[2017-06-08 03:36] gnunn1 commented on #858
Reviewing my code, I do see I have a timing thing going on, @glitsj16 can you try playing around with the value 100 at line 1570, this is the number of milliseconds it waits before actually hiding the window. I think I'm trying to deal with that hotkey issue.

[code]

[2017-06-08 04:19] glitsj16 commented on #858
@gnunn1 I'll need about an hour to get back at the machine. Will report back asap with results related to your code pointer.

Regards.

[2017-06-08 07:40] glitsj16 commented on #858
@gnunn1 Okay, I have taken the time to experiment with the timeout value in appwindow.d, you're definately on the mark. Here are my observations, using the same session as per the original filing of this issue:

(a) when setting the timeout lower than 500 milliseconds, the issue stays unchanged and keeps showing itself;
(b) the `sweetspot` on my machine & with my tilix configuration is exactly 600

[2017-06-08 09:17] phw commented on #858
Tested this on my system, too. With the default 200ms I can clearly reproduce the issue. But it starts working reliable at about 125ms, at least I could not reproduce the behavior once with that value. Using I am using Arch with latest Gnome Shell on a laptop with Intel Core i5-3210M .

A higher timeout of 600ms works well for me from a usability point of view, the longer delay is not so noticeabl

[2017-06-08 09:59] glitsj16 commented on #858
Couldn't agree more, this fall-back looks very system-dependent indeed. It might be helpful if the other people who reported the issue would post their observations too. Here's a small how-to for those willing to test on Ubuntu: https://git.io/vHPTV.

Untill there's a better fix it might not be a bad idea to add a customizable timeout value to the `hide on focus lost` pref. Or drop the pref alltog

[2017-06-08 12:01] kaustubhhiware opened #967 "Split a terminal when it is maximised"
It should be possible to split a terminal when I have maximised it. When unmaximised, the full screen and the split terminals could be fit into the size of the original terminal before it was maximised.

[2017-06-08 12:01] gnunn1 commented on #858
I think either this gets fixed in a way that removes the need for timing or I'll just drop the option completely. I probably won't get a chance to look at this in any depth until the weekend of the 17th as I'm travelling all next week.

[2017-06-08 12:30] gnunn1 commented on #967
I do not have any plans to support this as it doesn't make sense to me. The concept of maximizing is to view a single terminal filling the space, once you split it what's that mode become? Do both terminals show restore buttons instead of maximize in the titlebar? It just becomes very confusing IMHO

Additionally from a programming point of view it would be messy.

[2017-06-08 12:30] #967 closed

[2017-06-08 15:32] pkkid opened #968 "Regression In Custom Links: Error Opening Match"
I believe this is a regression in the latest version of Tilix (1.5.8).  I have a custom link that matches filenames and allows opening them in a text editor. It was working fine for several months on previous versions of Tilix, but now seems broken on the latest version. It is defined as the following:

Regex: `([\w\/\.\-]+\.[\w]{1,4})(:(\d+)|\n|\s)`
Command: `/usr/bin/subl $1:$3`
Case Insensitive

[2017-06-08 15:34] gnunn1 commented on #968
Are you using 1.6.0, this was fixed in 1.6.1. If you are using 1.6.1 I'll look into it.

[2017-06-08 15:35] pkkid commented on #968
I am on 1.5.8, let me upgrade and I'll close if that's the case, thanks.

[2017-06-08 15:43] pkkid commented on #968
The PPA is still back on 1.5.8 and building from source is not something I want to commit to at this point. Thanks for the heads up on the version this was fixed. I'll wait for webup8 to get the latest version.

[2017-06-08 15:43] #968 closed

[2017-06-10 21:55] alex285 commented on #681
@guillefar personally i found them more useful on switching than GNOME Terminal tabs, but however i still like the small tabs representation of tabs ..which looks like Firefox, but however FF uses site logos on tabs, so Tilix should somehow do the same on a vertical bar

an idea is to use random badges from a lib/theme (with about 30 different badges) every time you open a new tab, and that would

[2017-06-11 14:44] gnunn1 commented on #963
Anymore luck with this?

[2017-06-12 12:55] dessaya opened #969 "Window is too small after restoring from maximized state"
Steps to reproduce:

* I use Gnome3
* Start tilix, maximize the window, close tilix.
* Start tilix again, window is maximized.
* Restore the window to "normal" state (using eiter a keyboard shortcut, or the Unmaximize option from the window context menu).

Expected result: Window goes back to initial size (80x25).

Restult: Window is 1 line tall:

![window too small](http://i.imgur.com/jXyvtfB.png

[2017-06-12 13:15] gnunn1 commented on #969
I can't reproduce, it goes back to normal size for me as expected. What DE and version of Gnome are you using?

[2017-06-12 13:16] gnunn1 commented on #969
Sorry what I say DE, I meant to type distro. You already said you were using gnome. :)

Can you post the output of ```tilix --version``` as well please.

[2017-06-12 13:23] dessaya commented on #969
Distro: Arch, everything up to date.

[code]

[2017-06-12 13:24] vmercuri commented on #963
Hi, sorry for my late answer. I've been trying to replicate the issue while keeping my settings as minimal as possible, so I used an empty .zshrc and the default .bashrc for the distribution I use. That long sequence of weird characters I posted in the two images above only appears when the oh-my-zsh plugin is installed. So I uninstalled it. However, with both bash and zsh I do see a strange behav

[2017-06-12 14:07] gnunn1 commented on #969
Thanks I'm also running Arch with the same versions except for VTE as I'm using vte3-tilix to get support for notifications, triggers and badges. However it would be very, very surprising if this difference was causing the issue.

Do you have any extensions installed that manage or watches for window state changes?

Anyone else having this issue?

[2017-06-13 01:28] dessaya commented on #969
The only Gnome extensions I have enabled are Alternatetab and gnome-system-monitor. I doubt any of them are responsible.

I just reproduced the bug while running tilix inside a terminal, and got this message:

[code]

Does it help?

[2017-06-13 15:25] hgaiser opened #970 "Home/end keys not working"
Hey,

It seems my Home/End keys are not working. At first I thought they may be bound by some other application but URXVT does seem to work correctly.

For the record, I expect HOME key to move the cursor to the beginning and END to the end of the line. Curiously enough it does work in vim (running inside tilix). It appears to only be on the command line where it is not working, any thoughts on wh

[2017-06-14 11:48] jkahrs commented on #900
iTerm allows an option to only dim the text.
This way the background color doesn't "flip" around.

[2017-06-15 16:49] egmontkob commented on #970
xterm generates `\e[H` and `\e[F` (in application mode `\eOH` and `\eOF`). Many other emulators, including VTE-based ones (such as Tilix), but also konsole, terminology etc. also do the same.

Another quite popular approach is `\e[1~` and `\e[4~` emitted e.g. by the Linux konsole, or Putty by default.

st (from suckless) is a weird mixture of these two: `\e[H` and `\e[4~` (like, seriously?).

urxv

[2017-06-15 16:50] egmontkob commented on #970
Check your `$TERM` env variable, it should contain `xterm-256color` or perhaps `xterm`.

[2017-06-16 00:28] MisterTea opened #971 "Supporting OS/X"
Hey!

Are there plans to support OS/X?  I'm the lead dev on Eternal Terminal and got this issue: https://github.com/MisterTea/EternalTCP/issues/33

Basically "tmux -cc" only works on iTerm, so linux people are out of luck.  I want to help them but I only run os/x and don't know of a good cross-platform emulator.  I'd be willing to write a replacement for tmux control mode that outputs JSON instruc

[2017-06-16 01:04] gnunn1 commented on #971
I do not have any plans to support OSX myself as I'm not a regular user of that platform. In theory it should be fairly straightforward to get it going since both D and GTK are supported on OSX. I do see people posting bugs about in the GtkD (D's GTK wrapper) page so presumably it is doable.

In terms of changes, I can think of a few things as follows:

a. Add a new constant when building for the

[2017-06-16 01:07] gnunn1 commented on #971
Also, GtkD has a guide for OSX here:

https://github.com/gtkd-developers/GtkD/wiki/Mac-OS-X-Notes

You can ignore the comments about X11 as I don't use gtkDgl, at least not directly.

[2017-06-16 02:39] MisterTea commented on #971
I am getting this error, not sure if you are familiar with it:

[code]

[2017-06-16 07:03] hgaiser commented on #970
I see, thank you for your explanation, this helped me look further for what could cause this issue. I was indeed using urxvt before trying tilix and `$TERM` was set to `xterm-256color`. I should also note that I am currently using zsh and the config that I am using had this (among other bindings too, but I omitted those) :

[code]
However disabling that didn't give me correct HOME/END functionalit

[2017-06-16 07:34] egmontkob commented on #970
Home/End send different escape sequences depending whether in "normal" (as in zsh) or in "application" cursor keys mode. Terminfo describes the latter one.

If you ask me, just hardcode the escape sequences in your zsh config and forget the trouble. Ugly but works.

[2017-06-16 07:38] gnunn1 commented on #971
You are getting that error because you don't have X11 on OSX. You need to add a flag to constants.d and then tell the compiler to ignore compiling that code by using ```static if```. If you grep for ```static if``` you can see how I'm using it.

I can add this flag for you tomorrow night as well.

[2017-06-16 07:55] MisterTea commented on #971
Actually it's that the build file needs to look for libraries in /usr/X11/lib and add the X11 library if mac

This did the trick:

[code]

[2017-06-16 08:03] hgaiser commented on #970
I agree, not worth the time :) I ended up doing:

[code]

Which fixes the problem for now. Perhaps in the future I'll look for a better solution. Thanks for the help!

[2017-06-16 08:03] #970 closed

[2017-06-16 23:52] gnunn1 commented on #969
Are you using Wayland?

[2017-06-16 23:54] gnunn1 commented on #969
Yep this looks like a Wayland issue as I can reproduce it there, will have a look.

[2017-06-17 14:15] gnunn1 commented on #858
I'm going to "hide" this feature by not exposing it in the UI any longer and I'll add a preference to control the timing which will be similarly hidden (i.e. require dconf-editor to change). I don't see any obvious way to make this work other then rely on timing. There is an upstream bug for this in Gnome but doesn't sound like it will get fixed anytime soon.

[2017-06-17 14:37] #858 closed

[2017-06-17 14:39] gnunn1 commented on #858
I've added the new option to control the delay of hiding the quake window and I've left the option enabled. I was worried it wouldn't be comprehensible but I think expressing it as a delay for hiding the window communicates the intent enough.

[2017-06-17 16:38] gnunn1 commented on #969
This looks to be a bug in GTK, I can reproduce the exact same problem in gedit. I have opened a bug in GTK:

https://bugzilla.gnome.org/show_bug.cgi?id=783901

[2017-06-17 16:45] #969 closed

[2017-06-17 16:47] gnunn1 commented on #971
While that works, it means there is a dependency on X11 which I don't think is needed for OSX. Like I said, if you need me to add a platform constant to remove the X11/Wayland stuff, let me know.

[2017-06-17 23:52] varemenos opened #974 "Import color palettes"
There seems to be a functionality to export custom color palettes but not import. Would you be willing to add such a functionality to tilix?

I'm more than happy to write a script to import some color palettes from other popular terminal emulators ([like I did in the past for guake](https://github.com/varemenos/iterm2guake)).

[2017-06-18 00:08] gnunn1 commented on #939
So I've prototyped doing it similarly to terminators method which is to darken the font. In this scenario the dim color would be removed and the slider controls the percentage to darken the font. I've attached a screenshot below, I think I'm going to go this way unless anyone has a major obhection to it?

Dark background:

![screenshot from 2017-06-17 19-57-07](https://user-images.githubuserconten

[2017-06-18 00:15] gnunn1 commented on #974
I'm not of the mind that this is needed, it's easy enough to create a new scheme and copy it to ```.config/tilix/schemes```. There's already a large number of schemes available here:

https://github.com/storm119/Tilix-Themes

Having said that, if you want to write a utility like you did for guake to import schemes I don't have any issue with that but I don't think I would include it in tilix.

[2017-06-18 00:15] #974 closed

[2017-06-18 00:56] gnunn1 commented on #939
I've checked in this change, feel free to play with it and let me know what you think. If there's major issues or discontent with it I can always revert the commit.

[2017-06-18 01:30] boubouhkarim opened #975 "Tilix : blur effect"
Hi,

The blur effect is kinda the fashion today in Windows 10 as well as Linux.

Is there any chance to see the blur effect on Tilix as an option beside background images and transparency ?

[2017-06-18 02:39] gnunn1 commented on #975
I'm not averse to supporting it, however I don't believe the underlying drawing library Cairo supports blur. Someone who knows graphics better then I do would need to write an algorithm for it in D.

[2017-06-18 02:54] gnunn1 commented on #975
Actually I don't think this is technically possible since to a blur you need to have the data of the image. Thus blurring instead of transparency isn't doable since there's no way to capture what's under the window.

[2017-06-18 02:54] #975 closed

[2017-06-18 14:04] gnunn1 commented on #937
I played around with this, the primary obstacle is being notified when a child process is created. Unless the window title changes or some other activity happens where VTE triggers an event tilix doesn't know that a process kicked off. For example, when running nano no events are triggered in tilix.

I'd prefer not to resort to polling the shell process periodically as that just chews up cycles. I

[2017-06-18 15:48] MisterTea commented on #971
Yeah actually I got another missing symbol error when I tried that. I think
I'm going to pass on getting this to work on OSX since I have no context.

On Sat, Jun 17, 2017, 9:47 AM Gerald Nunn <notifications@github.com> wrote:

[2017-06-18 16:02] gnunn1 commented on #971
Ok, if you decide to change your mind let me know as I'm happy to collaborate.

[2017-06-18 16:02] #971 closed

[2017-06-18 23:01] gnunn1 commented on #963
I can't reproduce this at all, are you using the same font in both gnome-terminal and tilix?

[2017-06-18 23:44] gnunn1 commented on #373
I'm doing some clean-up on some of the older issues that frankly will never get implemented. While this one as some interesting ideas, it would require massive re-working of the architecture and I don't have the appetite for that.

[2017-06-18 23:44] #373 closed

[2017-06-18 23:46] gnunn1 commented on #356
I'm doing some clean-up on some of the older issues that frankly will never get implemented. While this is an interesting concept, it would require getting deeper into the bowels of the shell and interpreting commands then I'm willing to do at this time.

[2017-06-18 23:46] #356 closed

[2017-06-18 23:48] gnunn1 commented on #88
This would be pretty feasible using LUA as there is an existing D integration with it. After that, it's just a matter of designing some interfaces to expose to LUA.

https://github.com/JakobOvrum/LuaD

[2017-06-19 07:40] nean-and-i commented on #888
it seems there is still "something" wrong, maybe related to #963 as well.
sometimes my terminal freezes on vim and I need to close the window, all this weird stuff wasn't the case in the early versions. I hope the root cause can be fixed soon.

[2017-06-19 10:27] Skitionek opened #976 "Paste Anyway"
When trying to copy to the terminal by the middle click the window is asking if I want to copy administrative code. **The problem is that pressing "Paste Anyway" button does not paste anything to console.** Moreover, it clears the buffer so I need to mark the code again if I want to copy it.
This issue occurs for pasting by middle click (a buffer which works in parallel to clipboard) but it does n

[2017-06-19 12:12] gnunn1 commented on #888
Give me a day or two and I'll add a switch that restores the old way of doing synchronization so you can test it. The new way supports international entries which is nice but not at the expense of freezes. Thanks for reporting this.

[2017-06-19 12:18] gnunn1 commented on #976
What version of tilix are you using, on master pasting with the middle-click works fine for me. When I highlight something like ```sudo echo hello``` and then middle click paste it I get the warning dialog and when I paste anyway it pastes it successfully.

As for the shift-insert, I can reproduce that issue though it should be working as I'm capturing that shortcut. I will investigate.

[2017-06-19 13:55] jotaf98 opened #977 "Crash when opening in non-existent directory"
Hi, first of all, great work on Tilix! It's easily the best user experience of all terminals I've tried before.

I'm using this command for a "Open terminal here" shortcut in my file manager (so in principle the directory should always exist). However, if the directory doesn't exist, Tilix crashes. It should be a rare event but still, it would be best to be robust against this kind of input. Steps

[2017-06-19 14:49] #977 closed

[2017-06-19 14:49] gnunn1 commented on #977
Thanks for reporting this, should be fixed now

[2017-06-19 17:14] cazacugmihai opened #978 "Reset and clear all terminals"
Hi,

Is there a way to reset and clear the all opened terminals? I am searching for this behavior:
1. Use the shortcut key associated to "Synchronize the input" (e.g.: Ctrl-Shift-I)
2. Use the shortcut key associated to "Reset and clear the terminal" (e.g. Ctrl-Shift-G) to reset and clear the all terminals.

Thanks and KUTGW!
Mihai

[2017-06-19 17:25] gnunn1 commented on #888
This was easier then I thought. Try building the latest from master and see if it resolves your problem as I reverted the way synchronization works to the old way.

[2017-06-19 19:09] gnunn1 commented on #978
Currently there is not, I'm not sure it makes sense to have terminal actions work on all terminals when synchronization is enabled though for this one I could see how it could be the exception.

[2017-06-19 21:00] nean-and-i commented on #888
wow, awesome!
I'd love to test it, I haven't setuped a compiling environment for this yet, so it could take a time on my side.

[2017-06-19 21:06] gnunn1 commented on #888
I can build you a version later tonight but you would need to install it manually.

[2017-06-19 21:22] nean-and-i commented on #888
that would be perfect, thanks a lot!
manual install is not a problem.

[2017-06-19 22:45] gnunn1 commented on #976
I've fixed the issue with shift-insert.

[2017-06-19 23:00] gnunn1 commented on #888
I've uploaded a new build for you here:

http://gexperts.com/files/tilix.zip

Before installing it please uninstall your existing version. To install tilix manually, follow the instructions here:

https://gnunn1.github.io/tilix-web/

[2017-06-20 07:27] vaijab commented on #811
Since recent versions, window state is "remembered" on startup of a new instance. I find that super annoying. I'd have a maximized window open with vim for coding, but when I open a new terminal window, I get another maximized window. That's quite odd, why would I want that? An option to disable this behaviour would be highly appreciated.

[2017-06-20 08:21] nean-and-i commented on #888
thanks, I've installed it already and will work and test it during the day, will report this evening or latest tomorrow.

From: "Gerald Nunn" <notifications@github.com>
To: "gnunn1/tilix" <tilix@noreply.github.com>
Cc: "nean" <nean.and.i@gmail.com>, "Author" <author@noreply.github.com>
Sent: Tuesday, June 20, 2017 1:00:28 AM
Subject: Re: [gnunn1/tilix] REPLACE mode started at vim on "Synchronize I

[2017-06-20 13:53] ddddavidee commented on #963
I've a similar problem. With ZSH (and oh-my-zsh) when I press TAB to autocomplete the command, the line is refreshed and the cursor is moved away, making, sometimes difficult to edit the line.
![screenshot from 2017-06-20 15-49-28](https://user-images.githubusercontent.com/1660705/27336597-5888f77c-55d0-11e7-83e3-7c2a826c920d.png)
In the image you can see the green "ls" that I wrote and the lscpu

[2017-06-20 14:38] ddddavidee commented on #963
seems to be linked to the prompt theme, if I switch to a theme without any fancy character it works with no problem.
To the original poster, could you try with the "ys" theme to see if we have the same issue?

[2017-06-20 16:50] nean-and-i commented on #888
Hi Gerald,

just worked the whole day with the test version, conclusion: not a single freeze nor a single ESC fuckup whatsoever, from what I experienced everything in is working smooth again, even on centos7 in conjunction with vim and synchro mode.

From: "nean" <nean@hd-recording.at>
To: "gnunn1" <reply@reply.github.com>
Sent: Tuesday, June 20, 2017 10:20:50 AM
Subject: Re: [gnunn1/tilix] REPLAC

[2017-06-20 19:25] nean-and-i commented on #963
can you guys try the test version provides in #888 as for me it seems to be some similarities in terms of special esc sequence patterns,...

[2017-06-20 19:29] gnunn1 commented on #963
@nean-and-i The test version I sent you won't make any difference for this, it only affects things when using synchronization.

[2017-06-20 19:59] nean-and-i commented on #963
@gnunn1 , hmmm, I had randomly freezes in vim and on regular terminal operation like jump ctrl+a/ctrl+e, search ctrl+r etc. even when sync was off, now this seems to be gone.

[2017-06-20 22:00] gnunn1 commented on #939
No one is complaining about the new way of handling dim so I'm closing this issue. Any future issues or questions feel free to re-organizing this.

[2017-06-20 22:00] #939 closed

[2017-06-22 01:42] nasciiboy commented on #698
Thanks for implementing the scroll configuration by line!

[2017-06-22 04:34] nanohard opened #980 "KDE Plasma window rules cause segfault with autostart (ksmserver)"
I can't get tilix to autostart on my system using the `--session` option. Not saying that it's an issue with tilix, but I don't know. I've tried every way I can think of to get it to start automatically with my system and it always fails in some fashion. I am finally reaching out after a month of failure in the hope that someone knows what is happening.

This is the output of my latest attempt, wi

[2017-06-22 05:16] s4n-gt commented on #937
I am not familiar with kernel.

please keep this alive for someone who is knowledgeable in this stuff.

[2017-06-22 21:11] gregbs7 commented on #980
Hello,

you have to write the exec command liket this :
Exec=tilix -s "~/default.json"
in your case :
Exec=tilix -s "/home/user/tilix.json"

[2017-06-22 22:59] nanohard commented on #980
Still get the segfault error, although now with`libglib` rather than `libc`.
I have no idea getting tilix to start on boot with a session is such a problem for me.

[code]

[2017-06-22 23:57] gnunn1 commented on #980
Can you post your json file?

Also, if you run it directly from gnome-terminal does it work, i.e.

```tilix -s /home/user/tilix.json```

[2017-06-23 00:29] ThinkDigitalRepair opened #981 "Fuzzy (Low Res) Text in Tilix"
The text in my terminal window is Fuzzy looking. I tried changing the font with no results. You can tell it's distinctively less sharp than the text in the title of the Window. Any way to fix this?
Hint: It's easier to see if you click the photo to open in a new tab and then click to zoom.
![screenshot from 2017-06-22 17-27-08](https://user-images.githubusercontent.com/23037821/27461674-41db62c0-5

[2017-06-23 00:32] gnunn1 commented on #980
I just tested it myself with a simple json file and it auto-started fine for me using your desktop file. If you post with your json file I can try with that.

[2017-06-23 00:35] gnunn1 commented on #981
That screenshot looks odd since the terminal title in the drop-down button also looks fuzzy. Does it look the same or better with gnome-terminal and are you using the same font family and size in both terminals?

Also, does switching to the Adwaita theme make any difference?

[2017-06-23 00:44] ThinkDigitalRepair commented on #981
Yeah and the icons. I just matched the font, size, theme and changed to Adwaita
![screenshot from 2017-06-22 17-42-53](https://user-images.githubusercontent.com/23037821/27462003-750aa690-5772-11e7-91f4-7fbc6b90c6c5.png)
![screenshot from 2017-06-22 17-43-15](https://user-images.githubusercontent.com/23037821/27462005-7a7ba9e4-5772-11e7-8dfe-dfc28b6e1dcb.png)

 and it's still fuzzy.

[2017-06-23 00:55] gnunn1 commented on #981
What distro are you using and what version of tilux? This seems weird to me since both gnome-terminal and tilix are using the same VTE widget.

In dconf-editor under com/gexperts/Tilix can you try changing transparency to false from true and restart Tilix, it's one of the few things I can think of that could be different between the two.

[2017-06-23 01:00] ThinkDigitalRepair commented on #981
Looks better on my XFCE Desktop on my other computer
![screenshot_2017-06-22_17-58-46](https://user-images.githubusercontent.com/23037821/27462314-b6982e6e-5774-11e7-8c58-d56f42046aa9.png)

[2017-06-23 01:01] gnunn1 commented on #981
Was the first one Gnome?

[2017-06-23 01:15] ThinkDigitalRepair commented on #981
Yes, gnome

On Jun 22, 2017 6:01 PM, "Gerald Nunn" <notifications@github.com> wrote:

[2017-06-23 07:16] phw opened #982 "VTE configuration warning pops up sometimes"
I have this issue very long, but never reported it, as I have found no reliable way to reproduce it and it pops up very infrequently.

From time to time (very seldom) when I start Tilix the VTE configuration warning pops up. It happens mainly when I start Tilix completely new, but also when I just open another session or window. In general on my Arch system I have this configuration issue. I fixed

[2017-06-23 07:33] ThinkDigitalRepair commented on #981
It was the transparency. Thank you. I set it back to it's default value. I
think the pokemon theming program may have changed it. That's the reason I
stumbled upon Tilix in the first place. It didn't end up working. I saw
something about Kanto in the custom string for that value, so I assume
that's what changed it.

On Thu, Jun 22, 2017 at 6:14 PM, Jonathan White <
thinkdigitalrepair@gmail.com> wr

[2017-06-23 12:11] gnunn1 commented on #981
I compared tilix to gnome-terminal on my system with transparency enabled and it looks pretty good in comparison to yours. I suspect the transparency is changing something about font rendering on your system but I'm not sure what.

What distribution are you running? Also, if you have another terminal that supports transparency on the machine with bad rendering does it look the same or better then

[2017-06-23 12:14] gnunn1 commented on #982
The warning itself is driven off of events raised by the VTE and as such it is going to be affected by timing. For example, I know it can happen if you start typing before the prompt appears so when I was using powerline I'd sometimes get it.

I'll see if there is some improvement to squeeze out of it but as I recall getting this working was suprisingly tricky and it may not be possible to improve

[2017-06-23 17:55] ThinkDigitalRepair commented on #981
I think it was a bad attempt at configuration my another program. I'll try enabling it again without the customization and see if it looks better.

[2017-06-23 18:03] ThinkDigitalRepair commented on #981
Ok. Transparency stayed enabled. It was actually the background image that I had disabled in dconf earlier

[2017-06-23 18:35] gnunn1 commented on #981
Thanks for the update, closing issue.

[2017-06-23 18:35] #981 closed

[2017-06-23 18:36] gnunn1 commented on #888
@nean-and-i Is it OK to close this issue now?

[2017-06-23 19:29] nean-and-i commented on #888
yes, thanks for fixing !

[2017-06-23 23:16] #888 closed

[2017-06-24 02:37] nanohard commented on #980
I appreciate your help.

~/tilix.json
[code]

[2017-06-24 03:15] nanohard commented on #980
Whoops. Turns out it's an issue with KDE window rules. My bad. Forgot to delete the virtual desktop window rules. You're right, tilix does autostart fine, but when window rules are applied to it by Plasma it freaks out with a segfault.

[2017-06-24 09:39] gnunn1 commented on #980
Thanks for the update and glad you found the issue. Closing the issue since it's not a tilix issue.

[2017-06-24 09:39] #980 closed

[2017-06-27 05:38] sramkrishna opened #983 "opening links works once, but the second time gives 'Could not match"'"
I don't know if this is a unique issue with me or what.  I would think this would be something someone would ran into by now.  I'm running Arch Linux, and working on opening links inside tilix doesn't seem to work after the first time I use it.  I did try to update to the latest -  here is what tiliix --versions says:
Versions
	Tilix version: 1.6.1
	VTE version: 0.48
	GTK Version: 3.22.16

Tilix S

[2017-06-27 05:45] sramkrishna commented on #983
Well tried to build from source and I had the same problem.

[2017-06-27 12:39] gnunn1 commented on #983
This has been fixed in #952 so if you are building from source it should work. Is there a specific link you are testng with?

[2017-06-27 14:21] Mike-Now opened #985 "Terminal window in quake mode appears briefly on the other screen"
During startup in the quake mode Tilix appears briefly on the other window and then moves to the one with focus.

System : Fedora 25
Computer: Laptop
Display: Wayland

[code]

[2017-06-27 14:27] Mike-Now opened #986 "Tilix in fullscreen and guake mode opens on the wrong screen"
1. Tilix in quake mode
2. Press F11 to enter fullscreen mode
3. Close tilix by entering `tilix--quake`
4. Move mounse pointer to the other screen (not builtin)
5. Open tilix in quake mode
6. Tilix window appears on the builtin screen

System : Fedora 25
Computer: Laptop
Display: Wayland

[code]

[2017-06-28 08:25] Mike-Now commented on #986
Workaround: disable Wayland and enable XOrg

https://ask.fedoraproject.org/en/question/96134/how-can-i-set-xorg-as-a-default-on-fedora-25/

Works great!

[2017-06-28 08:25] Mike-Now commented on #985
Workaround: disable Wayland and enable XOrg

https://ask.fedoraproject.org/en/question/96134/how-can-i-set-xorg-as-a-default-on-fedora-25/

Works great!

[2017-06-28 09:56] lightonflux opened #987 "Guake: hiding with shortcut does not work when hide on focus loss is active"
1. Enable hide on focus loss.
1. Reveal window with F10.
1. Press F10 again to hide.
1. The window opens again and is not hidden.

Disable hide on focus loss and you can use the shortcut for reveal **and** hide.

Video: https://vid.me/7Ii8

[2017-06-28 11:55] gnunn1 commented on #987
This was fixed in #858 with the addition of a new option to tune the delay when hiding the window.

[2017-06-28 11:55] #987 closed

[2017-06-28 11:56] gnunn1 commented on #985
There's not much I can do about this in Wayland since it doesn't allow you to position the window. This is why the options for choosing the monitor and active window are hidden on Wayland.

[2017-06-28 11:56] #985 closed

[2017-06-28 11:57] gnunn1 commented on #986
Same as my previous comment, unfortunately things are inherently limited under Wayland with respect to quake mode.

[2017-06-28 11:57] #986 closed

[2017-06-28 20:14] sramkrishna commented on #983
I was just using a youtube link, so nothing specific.  I did try building from source, but I had the same issue and this was two days ago.  I'll try again.  Thank you for all your work on tilix.  I am really enjoying using it.

[2017-06-29 14:34] hobbledehoy899 opened #988 "Can this dumb white line at the top of borderless and fullscreen terminals please be removed?"
It seems serves no purpose and makes otherwise fashionable borderless and fullscreen terminals look bad.

![what point](https://user-images.githubusercontent.com/29778895/27692966-aaed1816-5cad-11e7-9a69-c1473321a420.png)

[2017-06-29 20:32] gnunn1 commented on #988
What desktop environment and GTK theme are you using? Is the white line there if you use Adwaita as the theme?

[2017-06-29 20:33] gnunn1 commented on #988
Oh sorry I see Cinnamon in the screenshot, is it the default theme? I'd still appreciate if you try Adwaita as a comparison point.

[2017-06-29 20:35] hobbledehoy899 commented on #988
It looks the exact same with Adwaita, no difference made

[2017-06-30 01:44] gnunn1 commented on #988
I don't see the issue on my machine, here's a screenshot:

![screenshot from 2017-06-29 21-39-36](https://user-images.githubusercontent.com/9358238/27717521-d88b7c84-5d13-11e7-9871-0037a0fea6cd.png)

Please note that I don't officially support Cinnamon, I only support Gnome and Ubuntu in terms of reproducing issues as it's just too much effort dealing with all of the Linux DEs out there. Having sa

[2017-06-30 04:24] hobbledehoy899 commented on #988
Versions
[code]

[2017-06-30 04:41] hobbledehoy899 commented on #988
[code]

[2017-06-30 16:08] lung-zijim opened #989 "Does tilix have plan to add suport of ligatures?"
I found that Tilix cannot handled ligatures correctly, but gedit works really well.

[2017-06-30 16:40] gnunn1 commented on #989
Tilix uses the VTE for terminal emulation which AFAIK does not plan on supporting ligatures.

[2017-06-30 16:40] #989 closed

[2017-06-30 18:48] VladimirDev93 opened #990 "Pressing "Preferences" closes the terminal in Ubuntu"
Yeah... so... weird, but, pressing the "Preferences" menu on ``Ubuntu 16.04`` closes the window. It does not crash, it reproduces the animation for closing.

This is what the terminal shows if launch ``Tilix`` via Ubuntu's GNOME Terminal. This is what it shows when pressing "Preferences" menu tab.
[code]

[2017-06-30 20:06] gnunn1 commented on #990
Are you using a background image, looks like you have an invalid image set. This shouldn't an exit and I'll look into it, but for now use dconf-editor and clear it in com/gexperts/tilix

[2017-06-30 21:28] MunifTanjim opened #991 "Split Terminal always opens in $HOME even after adding VTE Configuration"
I've followed the steps in [VTE Configuration Issue](https://github.com/gnunn1/tilix/wiki/VTE-Configuration-Issue). And the warning doesn't show anymore.

But still, when splitting terminals in Tilix instead of inheriting the directory from the current terminal the split terminal always opens in home.

Also, it's mentioned in the wiki that:

But `gnome-terminal` & `mate-terminal` actually don't ha

[2017-06-30 22:32] gnunn1 commented on #991
What do you see if you echo PROMPT_COMMAND in tilix, i.e.

[code]

Also, try enabling a login shell within your profile and restart tilix to see if it makes any difference.

[2017-06-30 22:40] gnunn1 commented on #990
I tried duplicating it with a non-existent background image plus using a text file and no issues. I wonder though if the issue is that you have a bad installation and one of the resource files was corrupted. Are you installing tilix from a package or compiling it yourself?

[2017-06-30 22:41] gnunn1 commented on #983
Any update on this? Can you run ```tilix --version``` and post the output here please.

[2017-06-30 23:11] VladimirDev93 commented on #990
I had a corrupt system. Reinstalled the system again, now everything works. Sorry for useless issue.

[2017-06-30 23:21] #990 closed

[2017-07-01 00:34] MunifTanjim commented on #991
Sorry, I use [liquidprompt](https://github.com/nojhan/liquidprompt) and the issue was with it. Solved it.

Anyway, looks like Gnome Terminal fixed this problem way back. So user's don't have to source `vte.sh` anymore. Reference:

- [Launchpad Ubuntu Gnome Terminal Bug](https://bugs.launchpad.net/ubuntu/+source/gnome-terminal/+bug/1132700)
- [Bugzilla Gnome Terminal Bug](https://bugzilla.gnome.org

[2017-07-01 01:12] alex285 opened #992 "Open in File Browser option"
i found this on elementary's Pantheon Terminal and it is kinda handy! it is the opposite of "Open Tilix" in Nautilus, and it saves you the "nautilus ."

![show-in-file-browser](https://user-images.githubusercontent.com/11244308/27757996-4e26d812-5e13-11e7-908d-355ca1c6bef5.png)

not sure if it is a good idea to overpopulate the menu, but personally is something i often do. open FilesApp in the cur

[2017-07-01 01:27] #991 closed

[2017-07-01 01:27] gnunn1 commented on #991
No, it's up to Ubuntu to fix it.

[2017-07-01 03:39] MunifTanjim opened #993 "[Feature Request] option to set "Window style" from Command-line"
Some type of command-line option for setting "Window style" when invoking `tilix` from command-line or shell script. E.g.:

`tilix --hide-csd`, `tilix --hide-border`

or

`tilix --window-style=<style>`

## Use Case

I've got some Global-shortcut set to open terminal application with text-based user-interface.

**For example**:

With `mate-terminal` and [cmus](https://github.com/cmus/cmus) the shor

[2017-07-01 17:55] urandom opened #994 "new terminal window does not respect the profile size preference"
Hi,

When I open a new window, it inherits the 'maximized' property of the active one. Meaning, that if the active one has been maximized, any new ones will be maximized as well. I feel that this is incredibly counter productive.

I hope this is just a bug, but in case it isn't, please provide some sort of preference for disabling this behavior.

Thanks

[2017-07-01 18:34] gnunn1 commented on #994
There is already an option to disable this in master, thanks for the feedback.

[2017-07-01 18:34] #994 closed

[2017-07-02 09:40] MunifTanjim commented on #992
Adding that to menu is kind of unnecessary and also it needs you to touch the mouse/trackpad.

Why don't you just type `nautilus . &`?
Or you can set an alias, `alias ofm='nautilus . &'`.

This is faster even.

[2017-07-02 10:23] mannol opened #995 "Outputting binary data causes audio to stop working"
**Serious vulnerability?**

How to reproduce:
  - use netcat to listen for binary data using: `nc -l`
  - use curl to send multipart/form-data to the netcat
  - can no longer hear audio from any source (notably: youtube)

This happens on ubuntu 16.x and above (haven't tried earlier versions)

[2017-07-02 13:40] gnunn1 commented on #995
Outputting binary data in a terminal is likely to lead to unexpected behaviors as the terminal attempts to render what it perceives as control codes and UTF-8 sequences in textual data. You might be experiencing an issue where the binary data is outputting a control code that interacts with the audio system (i.e. BEL) and maybe doesn't close it as expected. I'm totally guessing here though.

Some

[2017-07-02 13:41] gnunn1 commented on #993
That seems like a pretty reasonable option to me.

[2017-07-02 13:44] gnunn1 commented on #963
@vmercuri Is this still an issue or something that was related to zsh?

[2017-07-02 13:58] mannol commented on #995
Yup, seems to be the problem with gnome component.

[2017-07-02 14:05] gnunn1 commented on #995
Thanks for reproducing it in gnome-terminal, please open an issue upstream and feel free to paste it a link to it for reference. I'm closing this as an upstream issue.

[2017-07-02 14:05] #995 closed

[2017-07-02 14:29] #993 closed

[2017-07-02 14:29] gnunn1 commented on #993
I've added a new --window-style parameter to override this at runtime.

[2017-07-02 14:56] gnunn1 commented on #988
I cannot duplicate this under Ubuntu 16.04 as per the screenshot below. I tried setting the GTK theme to Adwaita in case that was it but no luck. Maybe it could be the Cinnamon shell theme that is causing this issue?

![screenshot from 2017-07-02 10-52-05](https://user-images.githubusercontent.com/9358238/27770908-0d54d4f8-5f15-11e7-8b64-b64fb8ade698.png)

Anyway, as mentioned I don't support Cinn

[2017-07-02 14:56] #988 closed

[2017-07-02 14:57] gnunn1 commented on #983
@sramkrishna Are you still having this issue?

[2017-07-02 15:48] alex285 commented on #992
@MunifTanjim some reasons:
1. i dont like doing s/c on terminal, because i always forget them
2. because 'nautilus . &' will still close if you close the terminal ¹
3. sometimes mouse comes handy

¹ that is not true in case of Nautilus in GNOME, because it runs as a background process, but it may be the case for other file managers, or other desktops than Shell

also im not sure either this is a g

[2017-07-02 16:30] sramkrishna commented on #983
Thank you for following up!  I do not see this issue anymore.  I will close.  Thanks again.

[2017-07-02 16:30] #983 closed

[2017-07-02 16:37] gnunn1 commented on #976
I think the problem with the selection disappearing looks to be an issue with GTK 3.18, I've tested in GTK 3.22 and it works as expected as there. No plans to try to workaround this in Tilix to specifically address this.

[2017-07-02 16:37] #976 closed

[2017-07-02 22:41] fbruetting opened #996 "Better shortcut for switching sessions"
Since small keyboards especially on laptops don't have PgUp/PgDn keys, a better combo would be very practical. Maybe something like Ctrl + Tab (+ Shift for inversion)?

[2017-07-02 23:17] gnunn1 commented on #996
You can customize the shortcuts in the preferences dialog to be whatever you wish. I don't have any plans to change the defaults though.

[2017-07-02 23:17] #996 closed

[2017-07-03 07:08] ddddavidee commented on #963
I think it was related to the unicode char in the prompt.

[2017-07-03 12:06] martinruenz opened #997 "Ctrl+Shift+d closes tilix"
Sometimes I hit <kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>d</kbd> instead of the default <kbd>Ctrl</kbd>+<kbd>Alt</kbd>+<kbd>d</kbd> combination to split the window, which results in tilix closing. Is this behaviour on purpose? There is no shortcut in the preferences for the aforementioned combination.

System: Ubuntu 16.04.2 LTS, using GNOME Shell 3.18.5

[2017-07-03 12:59] c1rcu17 opened #998 "Doesn't display lines after prompt when asking for input"
I have this problem, and I don't know if it's a bug or not. When there is some text on the terminal (sufficient to make the scrollbar appear), I cannot see the lines that appear after the prompt for a tab completion.

To reproduce:
Open a terminal -> type some commands to make the scrollbar appear -> type "sudo apt-get install " -> hit <kbd>Tab</kbd>..
There should be a question like this: "Displa

[2017-07-03 13:16] gnunn1 commented on #997
I think this is because Ctrl-D sends an EOT (End Of Transmission) code which terminates Bash and Ctrl-Shift-D gets interpreted the same way. The easiest thing to do would be to add some code to ignore the latter and force it to be Ctrl-D only for EOT.

[2017-07-03 13:27] gnunn1 commented on #998
I'm not able to duplicate this. Can you try the following which is what I'm doing:
[code]
I then see ```Display all 269 possibilities? (y or n)``` just fine.

Also, are you using powerline or anything unusual in your prompt?

[2017-07-03 13:28] gnunn1 commented on #998
Also, do you get the same behavior in gnome-terminal?

[2017-07-03 13:37] gnunn1 commented on #997
I see xterm behaves the exact same way, as a result I'm not going to swallow this keystroke as I'm concerned it may cause issues with cli applications looking for it. If it really bothers you, I'd suggest an alternate shortcut to the split window down action.

[2017-07-03 13:37] #997 closed

[2017-07-03 14:06] c1rcu17 commented on #998
Hello, thank you for your quick answer.

I tried with your commands and it behaves the same. I'm not using powerline. The shell is bash and the only customization I have in my .bashrc is this:

[code]

Also, I installed gnome-terminal, and I don't get the same behavior. I get the expected one. And the same is true about xterm.
I attached a video.
[bug.ogv.zip](https://github.com/gnunn1/tilix/files

[2017-07-03 14:42] gnunn1 commented on #998
Thanks, unfortunately I have no idea what the issue could be. @f2404 Do you get the same issue in XFCE?

[2017-07-03 14:45] f2404 commented on #998
@gnunn1 I will have to check it tonight, when I get home.

[2017-07-03 16:38] martinruenz commented on #997
Oh I see, thanks for the info!

[2017-07-03 22:12] f2404 commented on #998
No, I cannot reproduce it on my home machine either.

[2017-07-03 23:03] gnunn1 commented on #998
Thanks @f2404.

@c1rcu17 can you try commenting out that bit in .bashrc and see if it makes any difference, because you source it depending on the ```$TILIX_ID``` gnome-terminal doesn't use it. This is just to see if that's the problem.

If this doesn't fix it, I'm not sure what else to suggest. Unfortunately, I don't support XFCE (just Unity and Gnome), so I'll likely close this as a Won't Fix.

[2017-07-04 04:26] ahmed-shariff opened #999 "Mouse scroll not working"
I just started using tilix. When I try to use the mouse scroll on the terminal or even on any of the preferences menus, there is no response. I have to click and drag on the scroll-bar or use shortcut keys.

[2017-07-04 08:33] c1rcu17 commented on #998
@gnunn1, I tried that but it did not fix. This is really something XFCE related, because I tried (at home) booting from two live CDs (xubuntu 17.04 and ubuntu-gnome 17.04), just installing tilix, nothing more, and xubuntu has this bug while ubuntu-gnome does not. I will let you know if I find some explanation for this behavior. Thank you

[2017-07-04 09:03] verretpa opened #1000 "Session info in sidebar"
I like Tilix very much, thanks.

But wouldn't it be a good idea to show session information, or variables in the sidebar.

I think it is more useful to see the server which you're logged in, or the directory you're working in than simply the profile name or the id.

Thanks, kind regards.

[2017-07-04 12:13] gnunn1 commented on #1000
You can customize the default session title however you wish including using various variables. You can also rename the current session if you want per-session titles as well using the ```Name...``` option in the hamburger menu.

![screenshot from 2017-07-04 08-12-25](https://user-images.githubusercontent.com/9358238/27829668-ac3d2b98-6090-11e7-8a79-8f1191845aa0.png)

[2017-07-04 12:13] #1000 closed

[2017-07-04 12:16] gnunn1 commented on #999
I'm not sure this is a tilix issue, sounds like you have a system or GTK issue of some sort. Does the mouse wheel work fine in other applications? What desktop environment are you using, Gnome?

[2017-07-04 12:16] gnunn1 commented on #998
Thanks for the update @c1rcu17, if you find the problem please feel free to re-open this issue.

[2017-07-04 12:17] gnunn1 commented on #963
No response from OP, closing issue.

[2017-07-04 12:17] #963 closed

[2017-07-04 13:25] verretpa commented on #1000
Sorry.

I didn't quite understand apparently.

Thanks a lot!

Op di 4 jul. 2017 om 14:13 schreef Gerald Nunn <notifications@github.com>:

--
Paul Verreth

Het verschil tussen theorie en praktijk
is klein in theorie,
maar in praktijk daarentegen ...

[2017-07-05 19:42] ahmed-shariff commented on #999
Sorry about the late reply. And this is embarrassing, I should have checked that before. I am using stumpwm. The problem doesnt exist when I login into xfce. And the problem seems to be there on other GTK+ applications. It does seem that it is not an issue with Tilix.

[2017-07-05 19:55] gnunn1 commented on #999
No worries, glad you figured it out.

[2017-07-05 19:56] #999 closed

[2017-07-06 01:29] jimryanzulueta opened #1001 "Enable switching of terminal when a terminal is maximized"
This will allow seamless switching between terminals without having to restore the current terminal just to switch to another.

[2017-07-06 05:21] b3rew commented on #941
I don't know why this issue is closed maybe it's not related to tilix
it's gnome-terminal  bug https://bugs.launchpad.net/ubuntu-gnome/+bug/1193993

but you can simply fix it by adding this to `.bashrc` or `.zshrc`

[code]

[2017-07-06 06:31] deepu105 commented on #941
I dont think its a tilix issue. I think Im having some other gnome bug. I
always get home for new terminal after a restart but if I put machine on
sleep and resume it works fine.

On 6 Jul 2017 7:21 am, "b3rew" <notifications@github.com> wrote:

[2017-07-06 08:03] phw commented on #941
@b3rew The issue you describe is well documented in the Wiki: https://github.com/gnunn1/tilix/wiki/VTE-Configuration-Issue . Also Tilix detects this issue and directs the user to that Wiki page.

[2017-07-06 17:52] danielbadawi opened #1002 "Random crash on Archlinux"
Sometimes Tilix simply crash:
Follow the core dump:

`
jul 06 01:43:01 myuser kernel: tilix[32577]: segfault at 1108 ip 0000000000432ff8 sp 00007ffea60fb120 error 4 in tilix[400000+937000]
jul 06 01:43:01 myuser systemd[1]: Started Process Core Dump (PID 14738/UID 0).
jul 06 01:43:01 myuser systemd-coredump[14739]: Process 32577 (tilix) of user 1000 dumped core.

[2017-07-07 12:02] gnunn1 commented on #1002
Unfortunately that core dump doesn't tell me much. Is the crash repeatable or does it just happen out of the blue. If it's repeatable, building tilix from source and running it in ```gdb``` would allow you to get a backtrace which I could then use to see where the problem is.

Also, what desktop environment are you using, gnome?

[2017-07-07 12:04] gnunn1 commented on #1001
I assume you mean switching with hot keys like alt-1 for terminal 1, alt-2 for terminal 2, etc. I'll have a look at it.

[2017-07-07 15:56] MichaelAquilina commented on #887
Just wanted to say that this is something I also think would be useful :) Would be willing to try but I have no experience whatsoever in writing code in D

[2017-07-07 15:57] danielbadawi commented on #1002
Tilix crashes about 3 or 4 times per day since last week I think. Completely out of the blue. Sometimes even without user interaction, like showing log with "tail -f".
I'll try running with `gdb` from source.

My environment:
Arch Linux
Kernel x86_64 4.11.7-1-ARCH
GNOME 3.24.2

[2017-07-07 16:00] gnunn1 commented on #1002
I'm running in the same environment with no issue, wonder if there is something specific causing the issue. Are you using Wayland or X11?

[2017-07-07 16:26] danielbadawi commented on #1002
X11
Version 1.19.3-2

[2017-07-07 19:18] soumya92 opened #1003 "Feature request: Keyboard shortcuts for input synchronisation"
iTerm on macOS has a shortcut, and it is very useful. A shortcut that behaves the same as clicking on the menu and then the "Synchronise Input" checkbox would be great :)

A separate shortcut for toggling input synchronisation for the active terminal would also be helpful, which would behave the same as clicking on the keyboard icon in the active terminal's title bar.

[2017-07-08 00:25] #1001 closed

[2017-07-08 14:41] ajyotirmay opened #1004 "Feature request: Keyboard shortcut to move tiled terminals around"
It will be nice if there's an option to move the tiled windows around the terminal, because it gets impossible to move them around when the "Terminal Title Style" is set to "none".

[2017-07-08 23:03] gnunn1 commented on #1004
Maybe a key that can be held down with the mouse to move a terminal. Super+Hold Mouse button moves a gnome window anywhere, maybe Alt+Hold Mouse Button for the terminal?

[2017-07-08 23:45] dsboger commented on #1004
Why not both :). A totally mouse-free way to move terminals could be interesting.

It could work in a similar way as the Alt+<arrow>, but instead of focusing the neighbor terminal, it would switch places.

[2017-07-08 23:54] gnunn1 commented on #1004
A mouse free way would be challenging, it would require a special mode to navigate around to identify the target terminal and zone. Doing it with the mouse uses the same implementation that already exists and is much easier.

Having said, I'm happy to take a PR for a mouse free if someone wants to invest the time into it, but it won't be me :)

[2017-07-09 00:32] #1004 closed

[2017-07-09 00:33] gnunn1 commented on #1004
I've checked in a change that allows you to drag the terminal directly if you hold the ALT key down with the mouse button. Let me know if it causes any unexpected issues.

[2017-07-09 00:46] #1003 closed

[2017-07-09 00:48] gnunn1 commented on #1003
Tilix already had the ability to set a shortcut for the global input synchronization, I've added the ability to set the shortcut for the terminal override as well.

[2017-07-09 01:14] gnunn1 commented on #978
Quick poll, shoud reset and reset and clear affect all terminals with input synchronization enabled?

[2017-07-09 01:25] #992 closed

[2017-07-09 01:31] gnunn1 commented on #992
I added the feature as it was pretty straightforward and I can see how it could be useful. Note that this won't work for remote directories.

[2017-07-09 04:00] bitstrings commented on #998
I have the same problem.

Easy to reproduce.

Your prompt must be on the bottom of your terminal.

cd /usr
ls bin/<tab><tab>

the "Display all 1235 possibilities? (y or n)" doesn't appear, instead we see another prompt.

[2017-07-09 04:29] cazacugmihai commented on #978
Yes, it would be so helpful!

[2017-07-09 05:26] ajyotirmay commented on #1004
You fixed it quickly! That's cool... right now I'm using the PPA from webupd8 (the same was mentioned on your website for Ubuntu). So I guess it will take some time for the latest code to be there. But it's great to have this feature. Thanks for the commit :)

[2017-07-09 12:22] alex285 commented on #992
@gnunn1  thank you!

[2017-07-09 12:41] alex285 commented on #992
@gnunn1 is there an objection to move that in the context menu? because it is not very convenient to use on the titlebar menu

[2017-07-09 12:42] alex285 commented on #992
@gnunn1 actually either-case is fine with me!

[2017-07-09 13:18] Clyybber opened #1005 "Force Terminal Color Scheme"
It would be nice to have an option that when enabled forces cli-apps to use the original color scheme.
This already works(unintentionally, I suppose) when opening tilix and running ncmpcpp for example.
Tilix then uses the terminal color-scheme until the window is resized, then the color-scheme of the app will be used.
We could use that bug as a feature, which would allow us to have a global color-

[2017-07-09 15:02] deathtrip opened #1006 "harden compilation flags"
Since some distros use the prebuilt binaries (like Arch's AUR), it makes sense to enable all hardening flags to raise the security level. As you do many sensitive operations in the terminal.
Current checksec output:
Partial RELRO   No canary found   NX enabled    No PIE          No RPATH   No RUNPATH   No	Fortify
Ideally we'd enable them all.

[2017-07-09 17:27] gnunn1 commented on #1005
I don't think I can do this, I have no control over how CLI applications manage their own color schemes if they decide to do something different then leverage the terminal color scheme provided. For example, if an ncurses app decides to define and use it's own RGB scheme I don't think there's much I can do about it.

If I'm misunderstanding what you are asking for feel free to elaborate.

[2017-07-09 17:27] #1005 closed

[2017-07-09 17:59] gnunn1 commented on #1006
I'm not sure how applicable that tool is to a D language program, I don't think LDC2 has options for stack canary or fortify. For now I'm satisfied with how the binary is generated, if you have suggestions for specific improvements by adding additional flags feel free to open a PR and I'd be happy to look at them.

[2017-07-09 17:59] #1006 closed

[2017-07-10 19:04] bitstrings opened #1007 "Doesn't always display lines after prompt when asking for input"
Your prompt must be on the bottom of your terminal.

cd /usr
ls bin/{TAB}{TAB}

the "Display all 1235 possibilities? (y or n)" doesn't appear, instead we see another prompt.

If I remove scrollbar (profile) then it works.

[2017-07-10 22:37] gnunn1 commented on #998
@bitstrings It works fine for me with the prompt at the bottom of the terminal. Having said that, I wonder if it's related to the overlay scrollbar and the version of VTE and GTK. Can you post the output of ```tilix --version```.

Right now it uses the overlay scrollbar whenever it detects GTK 3.22, however I wonder if an older version of VTE with a newer version of GTK is problematic. Here's my o

[2017-07-10 22:37] gnunn1 commented on #1007
Duplicate of #998.

[2017-07-10 22:37] #1007 closed

[2017-07-10 22:42] bitstrings commented on #998
<pre>
Versions
	Tilix version: 1.6.1
	VTE version: 0.48
	GTK Version: 3.22.16

Tilix Special Features
	Notifications enabled=0
	Triggers enabled=0
	Badges enabled=0
</pre>

[2017-07-10 22:48] gnunn1 commented on #998
Well there goes that theory, a few more questions:

a. what desktop environment are you using, Gnome?
b. Are you using the Adwaita theme or something else?
c. Are you using powerline or anything else funky in the prompt?

[2017-07-10 22:51] bitstrings commented on #998
a. Happens on my laptop with gnome 3.24, also Mate 1.18 on my desktop
b. I am using Adapta (i will test Adwaita)
c. Nope

[2017-07-10 22:55] bitstrings commented on #998
Tested with Adwaita, still no go.

[2017-07-10 23:11] gnunn1 commented on #998
I'm not sure what the issue is off-hand, I'll have to give it some thought. It could still be related to the fact I'm using an overlay scrollbar unlike gnome-terminal. When the prompt is supposed to appear after the second tab, can you manually try scrolling the bar down by grabbing it with the mouse to see if it shows up?

Also, is scroll on output configured in your profile?

[2017-07-10 23:11] gnunn1 commented on #998
Oh and I assume there is no issue with gnome-terminal or xterm?

[2017-07-10 23:13] bitstrings commented on #998
There are no issue with gnome-terminal, xterm and mate-terminal.

This is what happens.

![image](https://user-images.githubusercontent.com/911165/28044190-e5bae884-65a3-11e7-9999-7206098be58b.png)

[2017-07-10 23:16] gnunn1 commented on #998
Wait is your prompt multiline? Can you post your PS1 configuration for it and I'll try using it to duplicate it.

[2017-07-10 23:17] bitstrings commented on #998
Yeah I was editing my post. Look.

![image](https://user-images.githubusercontent.com/911165/28044265-5f46dbfe-65a4-11e7-8449-c629cffb7bf8.png)

[2017-07-10 23:20] gnunn1 commented on #998
I'd still like to try whatever you are using for PS1, mine is bog standard:

[code]

[2017-07-10 23:37] bitstrings commented on #998
[bash.bashrc.local.zip](https://github.com/gnunn1/tilix/files/1137340/bash.bashrc.local.zip)

[2017-07-10 23:44] gnunn1 commented on #998
No issues for me with your bashrc file so that's not it.

[2017-07-11 00:00] f2404 commented on #998
I found that a similar effect could be reached by resizing the window, i.e.
1. type `ls -l /usr/bin/`
2. press Tab - `Display all? (y/n)` prompt appears
3. resize the window
4. prompt disappears, `ls -l /usr/bin/` is shown instead

[2017-07-11 00:05] gnunn1 commented on #998
@f2404 Interesting, I wonder if it's a VTE bug of some sort since gnome-terminal behaves identically to tilix in that instance.

[2017-07-11 00:08] f2404 commented on #998
@gnunn1 Yep, I've also checked it on xfce4-terminal - and its behavior is similar as well. Must be vte-related.

Can it be that the people who are seeing the issue are getting their terminal window resized somehow? by the WM?

[2017-07-11 00:09] f2404 commented on #998
@gnunn1 Actually, xterm behaves similarly as well, so it's not vte only.

[2017-07-11 00:14] gnunn1 commented on #998
@f2404 Thanks but I'm thinking you are on the right track. It could be the overlay scrollbar exacerbating the issue as AFAIK Tilix is the only VTE terminal emulator to use it at the moment, everybody else is using a separate scrollbar widget. I'm wodnering this since @bitstrings notes he doesn't get the issue with the scrollbar disabled.

I could build a test version from 1.6.1 that forces a separ

[2017-07-11 00:25] bitstrings commented on #998
Of course.

[2017-07-11 00:39] gnunn1 commented on #998
You can download the test version here, it's just the binary so you all you need to do is unzip and run it with ```.\tilix```. You should see a normal scrollbar instead of the overlay scrollbar.

http://gexperts.com/files/tilix.zip

[2017-07-11 00:42] bitstrings commented on #998
Well it looks like it works!

[2017-07-11 01:10] gnunn1 commented on #998
Ok so it's the overlay scrollback, I'll enhance the scroll option to have three options: no scrollbar, normal and overlay.

[2017-07-11 11:48] gnunn1 commented on #998
One drawback with this option is that it's going to require a re-start of tilix since it applies when terminal widgets are created.

[2017-07-11 13:06] phw commented on #998
I also tried to reproduce this. I cannot reproduce the general behavior at all on Arch with Gnome. When using bash the question disappears on terminal resize, as @f2404 explained above. With zsh that is also not reproducible.

My guess is that the question disappearing on terminal resize is normal behavior for bash, but somehow the overlay scrollbar triggers a resize of the terminal on some enviro

[2017-07-11 20:26] woprandi opened #1008 "Invisible shortcut"
Hi,
I just installed Tilix 1.6.1 on Fedora 26. I was checked available shortcuts and some of them are "hidden" :
EDIT : I understood, there are disabled. But It's not clear, it miss maybe a label to indicate that

![capture du 2017-07-11 22-22-34](https://user-images.githubusercontent.com/1449422/28088965-ae92f150-6687-11e7-96f5-b43ed52c5bfd.png)
![capture du 2017-07-11 22-23-52](https://user-imag

[2017-07-11 20:32] gnunn1 commented on #1008
Those are shortcuts that don't have a key assigned, unfortunately the GTK shortcut widget doesn't provide a way to show "Disabled" as far as I know.

[2017-07-11 20:32] #1008 closed

[2017-07-12 06:44] y-usuzumi opened #1009 "Would be great if we can add shortcuts for reordering sessions"
Hi! I have been in love with Tilix so far! One thing I noticed that was missing in the old Terminix days is that I can re-order sessions by dragging them around, which is great!

I want to enjoy full keyboard experience, and session re-ordering is the only thing that drags me behind.

Maybe we can add some operations like "Move session up/down" and assign shortcuts to them?

Cheers! :+1:

[2017-07-12 14:53] martin-g opened #1010 "Add "Copy & Paste" context menu item"
Hi,

I am a happy user of http://roxterm.sourceforge.net/ but it is not maintained lately.
I'd like to switch to Tilix but I miss one functionality that I use very often: copy some text and immediately paste it.

Is it possible to add it ?

[2017-07-12 14:55] martin-g commented on #1010
I'm trying to upload a small video of the feature in Roxterm but GitHub doesn't accept .mp4 it seems.

[2017-07-12 14:57] gnunn1 commented on #1009
You can reorder sessions in the session bar by either dragging or dropping them or using <ctrl><up or <ctrl><down>. No plans to do any more then that.

[2017-07-12 14:57] #1009 closed

[2017-07-12 14:58] martin-g commented on #1010
https://drive.google.com/file/d/0B-m73kEtvHyoYV9BX21CbjV1TGs/view?usp=sharing
Here is the video

[2017-07-12 15:03] phw commented on #1010
Nice. But I usually use the middle mouse button for it, works even faster: Select text, one middle click, done. Not sure whether this will work on Wayland, tough, does selection pasting exist there?

![peek 2017-07-12 17-03](https://user-images.githubusercontent.com/29852/28124482-13b3856c-6724-11e7-8256-465cacc8dff8.gif)

[2017-07-12 15:07] martin-g commented on #1010
Interesting!

I do not use mouse, so I don't have middle button.
Let me google how to emulate it with the touchpad!

[2017-07-12 15:09] phw commented on #1010
For me it is three finger tapping on the touchpad, which actually is kinda awkward to use :(

[2017-07-12 15:11] f2404 commented on #1010
@phw You can also press left and right touchpad buttons simultaneously, but this does not always work as expected.

[2017-07-12 15:14] martin-g commented on #1010
According to https://help.ubuntu.com/stable/ubuntu-help/mouse-touchpad-click.html it should by tapping once in the top-right corner but it doesn't work.

This works!
I'll try to get used to it!

Thank you!

[2017-07-12 15:14] #1010 closed

[2017-07-12 16:14] gnunn1 commented on #1010
There's a configurable shortcut as well for ```Paste Selection``` in Tilix that defaults to <Shift><Insert>.

[2017-07-12 16:14] martin-g commented on #1010
Defaults to what ?

[2017-07-12 16:55] gnunn1 commented on #1010
Ctrl-insert, GitHub hid because I used &lt;

[2017-07-12 23:49] #998 closed

[2017-07-12 23:58] #978 closed

[2017-07-13 05:16] y-usuzumi commented on #1009
@gnunn1 Sorry, what do you mean by "<up or ."?

[2017-07-13 06:31] toplinuxsir opened #1011 "Can not compile on debian 9.0"
dub build --build=release

Fetching gtk-d 3.5.1 (getting selected version)...
Performing "release" build using gdc for x86_64.
gtk-d:gtkd 3.5.1: building configuration "library"...
gtk-d:gstreamer 3.5.1: building configuration "library"...
gtk-d:gtkdgl 3.5.1: building configuration "library"...
gtk-d:peas 3.5.1: building configuration "library"...
gtk-d:sv 3.5.1: building configuration "library"..

[2017-07-13 08:10] fboender opened #1012 "Activating non-existing bookmark crashes Tilix"
If I type in a non-existing bookmark in the "Select bookmark" dialog search box and press enter, Tilix crashes with a:

    Segmentation fault (core dumped)

Steps to reproduce:

1. Open the 'Select bookmark' dialog box.
2. In the search field, type a non-existing bookmark name such as "lsdkfjlkdfj"
3. Press enter.
4. Tilix crashes with the segmentation fault.

The same problem does not exist with

[2017-07-13 11:13] gnunn1 commented on #1011
It looks like you are using GDC which Tilix isn't compatible with because it's too far behind the D specification, please use DMD or LDC to compile Tilix.

[2017-07-13 11:13] #1011 closed

[2017-07-14 21:18] tenleftfingers opened #1013 "No icon on 16.04 Ubuntu"
I installed following these directions http://www.omgubuntu.co.uk/2017/07/tilix-terminix-terminal-emulator-ubuntu

But the icon is 'blank' (default for Unity).

![image](https://user-images.githubusercontent.com/1757768/28231184-10ced396-68e2-11e7-8d7d-b78e5b742e51.png)

[2017-07-14 21:28] gnunn1 commented on #1013
Did you install from a package or manually using install.sh? The install script should rebuild the icon cache but if not try logging out and in again to see if it helps.

Note there is also the webupd8 PPA for tilix as well.

[2017-07-14 23:22] tenleftfingers commented on #1013
I've checked again, the icon now shows. I didn't need to log out, but some hours passed.

FYI, I used the command: sudo glib-compile-schemas /usr/share/glib-2.0/schemas/
after extracting using the /d option, as per the linked article.

Thanks very much!

[2017-07-14 23:22] #1013 closed

[2017-07-15 14:03] #1012 closed

[2017-07-15 16:08] fboender commented on #1012
:+1:

[2017-07-15 17:27] lheido opened #1014 "Extend Tilix with plugins ?"
There are any plans to extend Tilix via plugins (Written in Python or other scripting languages) ?
I found nothing about it (sorry if I missed an issue).

[2017-07-15 17:37] bil-elmoussaoui commented on #1014
gtkd has libpeas bindings which can be used in this case

[2017-07-15 17:44] gnunn1 commented on #1014
I'd like too, it would probably be done using LUA as descibed in #88 which covers this feature.

No plans to use libpeas for this as it requires GObject bindings which are somewhat painful to create in D.

[2017-07-15 17:44] #1014 closed

[2017-07-16 09:19] Taijian opened #1015 "Starting tilix from .desktop file does not respect profile= parameter"
I am running tilix 1.6.1 on Arch /GNOME. I installed from the AUR package.

My Problem: I have copied the default .desktop file installed by tilix to my ~/.local/share/applications folder and edited it so that the exec line reads:

Exec=tilix --maximize --profile=Default.json

However, this has absolutely zero effect. If I open another terminal first and then enter the above command, tilix behaves

[2017-07-16 09:20] #1015 closed

[2017-07-16 09:20] Taijian commented on #1015
I am stupid!

[2017-07-16 09:31] Taijian opened #1016 "Starting Tilix from .desktop file does not respect -s or --session= parameter"
I use tilix on Arch Linux /GNOME (installed from AUR/tilix).

I have made a copy of the com.gexperts.Tilix.desktop in ~/.local/share/applications and edited to contain the following Exec line:

Exec=tilix --session=Default.json

However, this only gives me the 'normal' tilix window, without the specified session file loaded. Executing the same command from a terminal behaves as expected, i.e. tili

[2017-07-16 15:36] kubrickfr opened #1017 "1px bottom margin when maximised"
In Fullscreen mode (wayland, gnome 3.24.2, HiDPI), there is a distracting 1px margin at the bottom of the screen through which the content of the window under it can be seen.

![screenshot from 2017-07-16 16-33-25](https://user-images.githubusercontent.com/2634188/28248923-d1e14452-6a44-11e7-922a-dc47b9bc3300.png)

[2017-07-16 16:04] gnunn1 commented on #1017
I cannot reproduce, are you using Adwaita as a theme?

[2017-07-16 16:11] gnunn1 commented on #1016
I tested with the following in Exec in my desktop file and it worked fine for me:

[code]

I think you need to specify the full path for Default.json, otherwise how does Tilix know where it is unless it is in your home path?

[2017-07-16 16:11] #1016 closed

[2017-07-16 19:08] Mike-Now opened #1018 "Can't run tilix after building from source"
After building from source I get an error:

[code]

It would be nice if the README file covered the necessary steps after building to start the application.

[2017-07-16 19:15] gnunn1 commented on #1018
Looks like you missed the step to run install.sh as per the README which says this after building:

[code]

[2017-07-16 19:18] Mike-Now opened #1019 "Cannot introduce any changes [Question]"
How would I go about adding some features to tilix? After compiling
with dub, the UI looks the same no matter what I change in the source code.
I even went so far as compiling in docker container and the ui still looks the same.
If I try to compile with tilix not installed from the official repo I get errors [#1018] .
Thanks for any help in that matter.

[2017-07-16 19:28] gnunn1 commented on #1019
I answered the question about #1018 so hopefully that gets you going.

As to changes, just to edit the source code, build it with dub and then run the local version ```./tilix``` works fine for me. I use Visual Studio Code with the code-d plugin which makes it even simpler, just press the run button (assuming all resources are installed via ```sudo ./install.sh``` as per your #1018 question).

[2017-07-16 20:27] kubrickfr commented on #1017
I usually use arc theme, but I've now tried with Adwaita and the issue is still present.

[2017-07-16 20:48] shinenelson commented on #1018
I ran into the same issue even after running `install.sh`. Though I was smart enough to read the code of the script to find that I could pass an argument to set `PREFIX` to a custom directory than `/usr` (that could be mentioned in the `README` too).

I tried 3 different options on 3 isolated bare VMs :
1. With the default option for `PREFIX` installing to `/usr` (and with `sudo` privileges)
2. In

[2017-07-16 20:55] gnunn1 commented on #1018
The keybindings are not managed by the resource file but by the schema file which is installed separately. What was the output of install.sh, were any errors shown?

A common problem is not having the tool to compile the resources file installed.

Also for running tilix I've only tested it with installing it to ```\usr```. Not sure if it would being installed elsewhere, however if you get it worki

[2017-07-16 21:19] shinenelson commented on #1018
Thank you for the pointer regarding the glib schema @gnunn1. So, I've been able to run the terminal fine with just a warning about VTE and no **FATAL** errors or segmentation faults / traps. All I had to do is re-compile the glib schemas into the `/usr` directory (I wonder why it didn't work in my initial `/usr` installation test VM :thinking:; Probably a permission issue or something).

So, if so

[2017-07-16 22:18] gnunn1 commented on #1018
If you have transparent terminal titles it means that tilix isn't picking up the resource file. If you run tilix from another terminal it should show some errors about this on the console.

[2017-07-16 23:37] Mike-Now commented on #1019
After removing system-wide tilix installation and applying steps specified in #1018, I can run tilix with my changes.

[2017-07-16 23:37] #1019 closed

[2017-07-16 23:43] Mike-Now commented on #1018
To run custom local build all you have to do is update your XDG_DATA_DIRS env variable to include the
$PREFIX/share path. I also had to remove system-wide tilix installation because there was probably a schema conflict.

@shinenelson please update your changes in wiki and pull request to reflect the XDG_DATA_DIRS solution.

[2017-07-17 00:30] shinenelson commented on #1018
Damn! Why didn't I think of hitting `man glib-compile-schemas` before doing all this? :thinking:

Good find @Mike-Now. :ok_hand:

I guess now all we have to do here is to get the users to append `$PREFIX/share` to their `XDG_DATA_DIRS` on shell invocation (i.e., `.bashrc`, `.zshrc`, etc) and all will be good.

[2017-07-17 03:40] benjohnston24 opened #1022 "Configuration Issue Detected link not valid"
I recently install terminix version 1.4.2-3 from the Ubuntu universe using apt-get.  Upon launching I received a configuration issue detected window.
![untitled window_051](https://user-images.githubusercontent.com/6936084/28254983-59bcb824-6af5-11e7-88b5-f8d91fadaeda.png)

The cited [github pages link](https://gnunn1.github.io/terminix-web/manual/vteconfig) is not valid

[2017-07-17 04:17] arcticicestudio commented on #1022
You're running an outdated version of Tilix, it was named *Terminix* at this time. The latest version is [1.6.1](https://github.com/gnunn1/tilix/releases/tag/1.6.1) which is available through the [WebUpd8 PPA](https://launchpad.net/~webupd8team/+archive/ubuntu/terminix) for Ubuntu.
Information about the VTE configuration can now be found in the [documentation](https://gnunn1.github.io/tilix-web/ma

[2017-07-17 04:52] benjohnston24 commented on #1022
Ah ok, thanks! I grabbed it from the Ubuntu repo, I'll update now

[2017-07-17 04:52] #1022 closed

[2017-07-17 06:53] Taijian commented on #1016
Well, I have tried both `tilix --session ~/default.json` and `tilix --session=~/default.json` and neither of them work on my system. Maybe there is a way to debug this?

[2017-07-17 12:02] #1018 closed

[2017-07-17 12:38] gnunn1 commented on #1017
Do any other applications have the same issue, for example gedit?

[2017-07-17 13:10] kubrickfr commented on #1017
No, I'm only having this issue with Tilix

[2017-07-17 13:13] kubrickfr commented on #1017
Sorry, maybe it's a semantic issue, I meant "with the window maximised" not full screen (F11). The issue is not present in full screen.

[2017-07-17 13:23] gnunn1 commented on #1017
Thanks, however I still cannot reproduce this. Is anyone else having this issue?

[2017-07-17 13:43] kubrickfr commented on #1017
Wait! Sorry, *I am* having the issue with other apps like gedit! it's just that it was more obvious with tilix because it's got a dark background. I guess it must be a gtk/gnome bug then.

[2017-07-17 13:43] #1017 closed

[2017-07-18 01:47] bakedbean opened #1023 "having trouble using automatic profile switching by directory only"
I'm trying to setup automatic profile switching using just the directory.  Thus far I have not been successful in getting it to work, and am wondering if I'm "doing it wrong"?

What exactly needs to be defined for the directory?  If I am in my home folder, and I cd into `some/dir`, my assumption would be that the profile switch expects `:some/dir` or `:/home/user/some/dir` or `:~some/dir`, but non

[2017-07-18 12:17] gnunn1 commented on #1023
I don't think it's you, I just tested it myself and it looks like I broke something. I'll have a look.

[2017-07-18 12:24] gnunn1 commented on #1023
Actually I didn't break anything, I mis-configured a trigger which was causing my issue.

If you open tilix, cd to a different directory and then split the terminal does the new terminal stay in the previous directory or does it revert to your starting directory. Just confirming that VTE is reporting directory changes correctly.

[2017-07-18 12:56] bakedbean commented on #1023
the new split reverts to my starting (home) directory.  So, VTE issue on my end then?

[2017-07-18 13:00] gnunn1 commented on #1023
That would be my guess, have a look here for more information on the issue:

https://gnunn1.github.io/tilix-web/manual/vteconfig/

[2017-07-18 13:06] bakedbean commented on #1023
will do, and thanks for taking the time to respond.

[2017-07-18 13:06] #1023 closed

[2017-07-18 13:24] bakedbean commented on #1023
just in case anyone else has a similar issue, I traced it to a custom prompt decorator that I use "liquidprompt".  Disabling that got everything working as expected.

[2017-07-18 17:04] alex285 opened #1024 "[Linker Error] relocation R_X86_64_32 against symbol"
DUB version 1.3.0, built on May 23 2017
DMD64 D Compiler v2.074.0
Arch Linux

dub build --build=release
[code]
full log
https://gist.github.com/alex285/83969954006898757bfcb1c7b003785d

[2017-07-18 17:17] gnunn1 commented on #1024
Arch switched to fPIC, you need to adjust your dmd.conf until they release an updated DMD package. See here for more information:

http://forum.dlang.org/post/kujdolbczcbdubrbsftn@forum.dlang.org

[2017-07-18 17:17] #1024 closed

[2017-07-18 17:21] alex285 commented on #1024
thanks! that worked!

[2017-07-19 14:34] gnunn1 commented on #1002
@danielbadawi Have you had a chance to get a backtrace? Also, I released 1.6.4 so feel free to try that and see if it fixes the issue.

[2017-07-19 17:26] danielbadawi commented on #1002
Hi @gnunn1
I have use (same version) from source since then, but had no issue.
Since 1.6.4 I back to the binary version from AUR and still no crashes.
I think the cause of the problem was that I did not restart my system nor the Tilix for several days even after various updates such gtk, mesa, etc.
After rebooting, no more crashes :)

[2017-07-19 17:27] gnunn1 commented on #1002
Thanks for the update and glad it is working well for you now.

[2017-07-19 17:27] #1002 closed

[2017-07-19 21:56] shinenelson commented on #1018
Just a heads up here. If you're installing tilix to a custom directory and appending `$PREFIX/share` to `$XDG_DATA_DIRS` as mentioned in https://github.com/gnunn1/tilix/pull/1020#issuecomment-315649501, you'd need to make sure that `XDG_DATA_DIRS` are initialized during Xsession initialization. Otherwise, Tilix wouldn't run out of the Applications menu. It would work fine when invoked from a termi