[2016-12-09 18:44] gnunn1 commented on #114
I can understand that, but as I think you know the sidebar cannot be permanent in it's current form due to the thumbnails.

One concept I had discussed with @alex285 based on a simple mockup he did on Google+ was have a thin permanent bar running down the left side with small line drawing icons that depict the layout of the terminals in the session in a live way. If you hover the mouse over the ic

[2016-12-09 18:45] gnunn1 commented on #114
Just to summarize, I'm amenable to making changes but someone needs to invest some time doing design work and a mock-up.

[2016-12-09 18:46] Naatan commented on #114
That sounds interesting. What was wrong with the mockup @alex285 did? Seeing as you are asking for a new one.

[2016-12-09 18:53] gnunn1 commented on #114
It was a start and @alex285 was going to open an issue for it but never did. The mock-up he did (which I annoyingly can't find on Google+) was a very simple layout that didn't include many of the elements I highlighted above. I'd like to see a more featured mockup that included:

* icons representing terminal layouts
* How the notification count badges should be drawn (over the icon?)
* How the cu

[2016-12-10 01:35] gnunn1 commented on #490
I've updated the repo with a simple website for now.

https://gnunn1.github.io/terminix-web/

[2016-12-10 01:39] bil-elmoussaoui commented on #490
Shame on me. I totally forgot about this. I will try to get some free time this week and push a PR with a better design ;)

[2016-12-10 13:20] hunter-87 opened #600 "Fullscreen in quake mode"
Fullscreen shortcut (F11) works fine in any normal terminix window but it seems that it does not work while in quake mode.

Thanks for your work, this project is awesome!

[2016-12-10 16:33] gnunn1 commented on #600
I'll have a look, I vaguely remember disabling it because of an issue but the details escape me.

[2016-12-10 22:09] leoheck opened #601 "Increase/Reduce font size."
Hi, please add Ctrl+[MouseScroll] to increase and reduce font size. This is a nice feature other terminals have. Thank you for this nice app.

[2016-12-10 22:42] gnunn1 commented on #601
Already done, see #580.

[2016-12-10 22:42] #601 closed

[2016-12-11 01:51] leoheck commented on #601
Oh, great! Just in time.

[2016-12-11 14:42] #600 closed

[2016-12-11 16:11] hunter-87 opened #602 "Save window size when resized in quake mode"
I'd like to know if you could add an option to preserve the size of the window, if it is resized by hand, between different invocations of quake mode.

Quake mode is really usefull while debugging code and checking the terminal output. if i need a larger window i just resize on the fly but it's getting resetted on next quake invokation and it can be pretty annoying.

[2016-12-11 17:05] gnunn1 commented on #602
You shouldn't be able to manually re-size the window, are you saying you are able to? What Desktop Environment are you using?

[2016-12-11 17:16] hunter-87 commented on #602
i'm using the webupd8 build for ubuntu 16.04 on Unity

[2016-12-11 17:31] gnunn1 commented on #602
OK thanks, I've disabled the resize explicitly since it shouldn't be user resizable as it causes too many issues and edge cases. For example, resizing from the bottom is fine but what if you resize from the top? Also, Wayland is very flaky with the quake window and resizing just aggravates it.

Note that I've enabled fullscreen support in quake for the next release so you can just toggle that as a

[2016-12-12 10:21] alexwhitman commented on #602
The fix for this broke quake mode for me in that it would start an 80x24 terminal in the top left of the monitor even though I'd set 100% width. Reverting 306253e977cb7a070cee10cd543b2a1cbbfa6857 fixes it for me.

[2016-12-12 11:22] edubxb opened #603 "Wrong window placement in Quake mode with two monitors"
When Quake mode is not set to use the whole screen width, with two monitors, the terminix window placement is wrong.

My monitors have different resolutions:

1920x1080 left, and 2560x1440 right

![screenshot from 2016-12-12 12-16-33](https://cloud.githubusercontent.com/assets/1192339/21097522/262561ea-c065-11e6-9064-a761454d3a0f.png)

My current config:
![screenshot from 2016-12-12 11-28-38](http

[2016-12-12 11:56] leoheck commented on #580
Why disabled by default? Anyway, thanks for adding this feature.

[2016-12-12 12:45] nean-and-i opened #604 "disable input synchronization strange behaviour"
since 1.3.5, disabling input synchronization on a single splitted-window does not work properly.

steps to reproduce:
* split 4 windows into one window
* enable synchronize input
* disable input synchronization per icon on one splitted-window A

- if input on one (non-A) splitted-window eg.  B or C or D , input will be synchronized to B+C+D but NOT to A -> OK

- if input on splitted-window A, it w

[2016-12-12 13:35] gnunn1 commented on #602
Thanks @alexwhitman, I'll have to look into this some more. For now I've reverted that commit.

[2016-12-12 13:37] gnunn1 commented on #604
Yeah, I noticed this a couple of weeks ago and fixed it. It will be included in the 1.4.0 release coming out later this week.

[2016-12-12 13:37] #604 closed

[2016-12-12 13:38] gnunn1 commented on #603
What version of terminix are you using?

[2016-12-12 13:42] vaijab opened #605 "Segfaults since Beta 1.4.0"
I noticed a few segfaults.

`terminix[31091]: segfault at 0 ip 00000000009c2f3a sp 00007ffcfbbb40c0 error 4 in terminix[400000+a48000]`

Unfortunately that's all I have. I don't know how to reproduce it. My system:
[code]

[2016-12-12 13:45] gnunn1 commented on #605
Thanks for the report, much appreciated. To debug this, you would need to run a debug build under gdb until it segfaults and then get a backtrace. If you are willing to do that I put together a build for you and some instructions later tonight.

Also, can you run ```terminix --version``` and post the output here please.

[2016-12-12 13:51] f2404 opened #606 "Gtk-CRITICAL on clicking window title"
`Gtk-CRITICAL **: gtk_entry_set_text: assertion 'text != NULL' failed`.
[code]

[2016-12-12 13:54] f2404 opened #607 "Preferences window left over after closing app"
Launch terminix, open Preferences, close the terminal window - Preferences window is left open.

[2016-12-12 13:56] f2404 opened #608 "How can I open Preferences in quake mode?"

[2016-12-12 13:59] vaijab commented on #605
That'd be useful. I use terminix everyday 24/7, so it's quite important this gets fix :-) Anything I can do to help let me know.

[2016-12-12 13:59] f2404 commented on #608
I guess I could set up a shortcut; but a GUI element would also be nice to have.

[2016-12-12 14:05] gnunn1 commented on #607
At first thought I'd say that's by design since it is an application window not a dialog and isn't tied to any application window. However, I can see that gedit and nautilus don't behave this way so I'm the odd man out when it comes to the HIG.

I'll look into this further and align it with what the behavior should be under the HIG.

[2016-12-12 14:08] gnunn1 commented on #608
Open a another terminal and do it from there, it's a limitation of Gnome and setting the hints to skip the pager and taskbar. I suppose I could add it to the hamburger menu but it wouldn't be consistent with running a normal terminal.

I'll give it some thought but suggestions always appreciated as well.

[2016-12-12 14:12] f2404 commented on #608
xfce4-terminal, when run in drop-down mode, adds a couple of icons to the tabbar; also, Preferences can be open from the right-click menu. I guess one of these options could work.

[2016-12-12 14:25] f2404 commented on #608
I was able to deal with this problem by setting GDK_WINDOW_TYPE_HINT_DIALOG to the preferences window.

[2016-12-12 14:54] f2404 opened #611 "Preferences "circle" menu New Session action opens a new window instead"

[2016-12-12 15:04] gnunn1 commented on #611
I'm confused, which isn't unusual, what do you mean by the Circle menu? Do you mean the "On new instance" option in preferences?

[2016-12-12 15:05] shamil commented on #605
@gnunn1 I'm hitting this as well and quite often, on Fedora `23`. Please provide debug build for me as well.

[2016-12-12 15:06] phw commented on #611
I think f2404 probably means the fallback app menu button shown on some desktops in the titlebar.

[2016-12-12 15:06] f2404 commented on #611
No, I mean the menu which is opened by the circle button in the top left corner of the preferences window. It has the same actions as the top-left corner menu of the main window.

[2016-12-12 15:17] gnunn1 commented on #605
You can download a debug here, this has debug information and tracing enabled.

http://gexperts.com/files/terminix.zip

To debug it, run terminix in gdb using the following command:

```gdb terminix```

And then type ```run``` to actually start the application. Once it crashes, run the the command ```bt``` which will give you a backtrace. Paste the backtrace here in this bug report.

[2016-12-12 15:19] edubxb commented on #603
[code]

[2016-12-12 15:48] #606 closed

[2016-12-12 16:17] gnunn1 commented on #605
Thanks, I'll have a look.

[2016-12-12 16:47] gnunn1 commented on #605
I think this is caused because I'm being aggressive about removing the VTE widget. Can you please try this updated version where I've added some additional checks on the VTE events to make sure it is not null.

http://gexperts.com/files/terminix2.zip

[2016-12-12 16:56] gnunn1 commented on #607
So I asked how IRC and got pointed to this page where it clearly spells out preferences as a dialog. I'll make that change shortly.

https://developer.gnome.org/hig/stable/dialogs.html.en

[2016-12-12 17:55] f2404 commented on #607
Thanks!

[2016-12-12 18:48] kadaj opened #612 "Cannot open terminix from the ubuntu unity launcher."
I had locked the terminix to the unity launcher and closed the app. On clicking the icon, nothing happens. Terminix can be launched only from the dashboard. I am on Ubuntu 16.04.

[2016-12-12 19:02] gnunn1 commented on #612
Did you install Terminix from a package or PPA, if so, which one?

Also, if you logout and in, does it start working?

[2016-12-12 19:07] kadaj commented on #612
I have installed from `ppa:webupd8team/terminix`. I tried logging out, but it does not start from the launcher.

[2016-12-12 19:41] gnunn1 commented on #612
I don't think I will be able to help as I don't manage the packaging for individual Linux distros, you should open an issue with the ppa owner in Launchpad. You can open a bug here:

https://launchpad.net/~webupd8team/+archive/ubuntu/terminix

[2016-12-12 19:41] #612 closed

[2016-12-12 21:56] #607 closed

[2016-12-12 21:59] gnunn1 commented on #607
I've checked in the changes to basically emulate the way gedit and nautilus works. This actually fixes quite a few issues. Since the dialog no longer gets the app menu when it is enabled it fixes #611. Also, under Ubuntu it no longer adds all of the window controls (close, maximize, minimize) so it removes the need for the side headbar to be expandable.

[2016-12-12 22:00] #611 closed

[2016-12-12 23:27] gnunn1 commented on #602
So I've tried a bunch of different things but on Ubuntu I can't get the window to not be resizable while still allowing the size to be set programatically.

I'll sleep on it but if I don't have a solution I'm going to close this as Won't Fix.

[2016-12-12 23:33] #608 closed

[2016-12-12 23:33] gnunn1 commented on #608
I've added it to the hamburger menu when running in quake mode.

[2016-12-12 23:41] gnunn1 commented on #603
I believe this has been fixed in the latest version as I cannot reproduce it on an identical setup.

[2016-12-12 23:42] gnunn1 commented on #605
Can you let me know if the version above appears to correct the problem?

[2016-12-13 00:05] shamil commented on #605
@gnunn1 will do.
I'm running the updated version, no segfaults yet. I'll update the ticket if I got any

[2016-12-13 12:25] f2404 opened #613 "Split terminals do not keep their sizes ratio when resizing the window"
Open the terminal and split it vertically - both terminals will have the same width. Then resize the window to increase its width - the first terminal will become wider than the second one.
The same happens when splitting horizontally and increasing window height.

[2016-12-13 12:38] f2404 opened #614 "Visual issues when opening terminals"
Appear when the terminix window is pretty small.
With one terminal, everything is fine. After adding 3 more terminals, the narrow ones start having issues with text:
![terminix_4terms](https://cloud.githubusercontent.com/assets/14939413/21140612/72fc1444-c152-11e6-9f7c-fdb418728ef6.png)
After closing the last terminal, the 3rd one has another text issue:
![terminix_3terms_1closed](https://cloud.gi

[2016-12-13 12:44] f2404 commented on #614
Though it could be a vte issue - I can reproduce it with xfce4-terminal and gnome-terminal if shrinking terminal window rapidly. If I decrease the width step-by-step (i.e. by 1 char), there are no visual issues.
@egmontkob, what do you think?

[2016-12-13 12:53] gnunn1 commented on #613
Hmm, interesting as I haven't noticed that before. I'm not sure there is much I can do about it, it's really up to GTK to manage the layouts but I'll have a look.

[2016-12-13 12:57] gnunn1 commented on #605
I'm going to close this, if the problem happens again just re-open the issue.

[2016-12-13 12:57] #605 closed

[2016-12-13 16:30] edubxb commented on #603
I will try with a newer version.

[2016-12-14 00:17] gnunn1 commented on #613
I've introduced a subclass of Paned that explictly maintains the ratio. In my testing this seems to work well, hopefully it hasn't introduced any new regressions.

[2016-12-14 02:34] gnunn1 commented on #602
Unfortunately I've got nothing, closing.

[2016-12-14 02:34] #602 closed

[2016-12-14 10:25] edubxb commented on #603
Fixed in 1.4.0-rc1.

[2016-12-14 10:25] #603 closed

[2016-12-14 13:03] gnunn1 commented on #614
I'm pretty confident this is an upstream issue myself, it's not like I'm doing anything particularly weird with the VTE. I notice though that the command prompt is particularly sensitive to corruption in the VTE, I use powerline and it gets rendered particularly badly at small sizes.

![screenshot from 2016-12-14 08-01-01](https://cloud.githubusercontent.com/assets/9358238/21182974/c58fcf30-c1d3-1

[2016-12-14 13:08] gnunn1 commented on #614
Terminator (GTK3) version has the same issue as well, though it crashes once you size it too small.

![screenshot from 2016-12-14 08-08-03](https://cloud.githubusercontent.com/assets/9358238/21183125/7125511c-c1d4-11e6-8214-f0e2d4c6befe.png)

[2016-12-14 13:24] gnunn1 commented on #614
I've opened an upstream bug for this here:

https://bugzilla.gnome.org/show_bug.cgi?id=776097

[2016-12-14 13:24] #614 closed

[2016-12-14 13:25] f2404 commented on #614
Ok, thanks.

[2016-12-14 13:31] gnunn1 commented on #613
This breaks loading sessions from files, I made need to defer a fix for this until after 1.4.0

[2016-12-14 14:29] edubxb opened #615 "Change the mode to choose the monitor to show the quake window"
I'm not sure how Terminix selects the monitor to show the quake window, but seems that uses the one who have the last focused window, IMHO, will be a better approach if could use the monitor where the pointer is.

[2016-12-14 16:08] gnunn1 commented on #615
Makes sense to me.

[2016-12-14 17:05] egmontkob commented on #614
Does it crash inside VTE (according to the stack trace)?

[2016-12-14 17:09] gnunn1 commented on #614
I don't get a stack trace when running terminator from the command line, it just disappears and the process ends.

[2016-12-14 18:36] rickmed opened #616 "Color emoji support"
I've been able to render in black/white with emojione font. Is there a way to render in color?

[2016-12-14 21:11] gnunn1 commented on #616
Not as far as I know, sorry.

[2016-12-14 21:11] #616 closed

[2016-12-15 00:27] #613 closed

[2016-12-15 00:30] gnunn1 commented on #613
I think this should be good to go now, however note that if you load an older session file terminix will use the old behavior and not automatically set the paned position based on the ratio. If you re-save the file, you will get the new behavior.

GTK really needs a Paned widget that can handle more then a single split. :)

[2016-12-15 00:40] #615 closed

[2016-12-15 02:50] bil-elmoussaoui opened #617 "Few issues with Quake mode"
Hello,
I just tried Quake mode on Arch, using the latest git version of terminix and on xorg  and gnome 3.22
When i set both width and height to max using the preferences dialog, the dimensions changes correctly but when i resize it, nothing happens :( Is that intended ?

Also, using the max width, there's a pixel on left and on right that are not covered by the terminal widget
![capture d ecran d

[2016-12-15 02:56] gnunn1 commented on #617
Thanks for the report, I'll have a look tomorrow night.

[2016-12-15 03:17] gnunn1 commented on #617
Just a note to myself, I wonder if I should be using getMonitorWorkarea instead of getMonitorGeometry.

[2016-12-15 13:20] Limdel opened #618 "Visual bug in quake mode"
I'm using terminix along with tiling WM, bspwm to be exact (for tilingception) and when I'm using it in quake mode, I have transparent 1 pixel size border between terminal and decorations. You can see it on screenshot.
http://i.imgur.com/QC8zuYW.png

[2016-12-15 13:36] Limdel opened #619 "Ability to set WM_CLASS, or have it different for quake and regular windows by default"
I want to use both quake and normal mode, but as a tiling WM user, I have to make a rule for terminix, so it would not be tiled like regular windows in quake mode, and here I have a problem. Because rules are set by WM_CLASS and it is same for all terminix windows, I can't tell my WM to not tile only quake mode windows.
If I try to set WM_CLASS running terminix with --class option, I can do that o

[2016-12-15 13:41] Limdel opened #620 "Application button in quake mode wasting space"
I don't know if it is supposed to look like that, or if it is caused by tiling WM, but that `Application` button is wasting a lot of vertical space and isn't needed really.
http://i.imgur.com/QC8zuYW.png

[2016-12-15 14:13] gnunn1 commented on #618
I don't officially support tiling WM's, having said that try disabling transparency to see if that helps. To do this, use the dconf-editor and set the ```enable-transparency``` to false under com/gexperts/Terminix.

Note that disabling transparency with the slider in profiles isn't sufficient, you have to set the key above in order for Terminix not to create the Window transparent.

[2016-12-15 14:16] gnunn1 commented on #620
If this is in Quake mode it has already been fixed in #594, please try 1.4.0-rc2 in the releases.

[2016-12-15 14:45] Limdel commented on #620
Sorry, installing 1.4.0-rc2 fixed it.

[2016-12-15 14:45] #620 closed

[2016-12-15 14:47] Limdel commented on #618
It fixed it. Thank you.

[2016-12-15 15:00] gnunn1 commented on #618
Actually if that's a quake mode screenshot, using 1.4.0-rc2 to remove the application should fix this without having to disable transparency.

[2016-12-15 15:07] Limdel commented on #618
Awesome. Sorry, I tested it before reading your response to my another issue and before trying RC2. Bug is gone even with enabled transparency.

[2016-12-15 15:07] #618 closed

[2016-12-15 22:06] gnunn1 commented on #617
The last issue, when you set the width and height to 100%, is because the window manager decides to switch the window to full-screen. I've tried a few things like using the monitor workarea coordinates instead of the geometry or preventing it by returning true when the window state changes to fullscreen but no luck.

Instead I'm going with the easy solution, only allowing the height to be set to 9

[2016-12-15 22:12] gnunn1 commented on #617
As for the 1 pixel border on the left and right, I can confirm this but also can confirm I'm setting the right coordinates. Again, I think this is a Window Manager thing and not something I can resolve.

I also tested xfce4-terminal with it's drop-down mode and it exhibits the same symptoms.

[2016-12-15 22:12] #617 closed

[2016-12-16 00:04] bil-elmoussaoui commented on #617
Thank you! :+1:

[2016-12-16 05:17] bil-elmoussaoui commented on #490
![capture d ecran de 2016-12-16 06-12-05](https://cloud.githubusercontent.com/assets/7660997/21252394/b38bcd0a-c356-11e6-8bc6-083b7efe5262.png)
![capture d ecran de 2016-12-16 06-12-11](https://cloud.githubusercontent.com/assets/7660997/21252395/b39dbaba-c356-11e6-80be-0626892b53a3.png)
![capture d ecran de 2016-12-16 06-12-16](https://cloud.githubusercontent.com/assets/7660997/21252396/b3a76650-c

[2016-12-16 08:11] f2404 commented on #617
@gnunn1 I think both of these issues are specific to a certain WM; they are not happening on Cinnamon or xfwm4. Maybe we should submit bugs against Gnome WM?

[2016-12-16 09:23] f2404 opened #621 "No difference between "Normal" and "Small" title styles"
Arch Linux, Cinnamon 3.2.1
terminix 1.4.0-rc2

[2016-12-16 09:40] bil-elmoussaoui commented on #490
Alpha 1 of the website
![capture d ecran de 2016-12-16 10-39-10](https://cloud.githubusercontent.com/assets/7660997/21258141/f51c0260-c37b-11e6-9e6b-b39d94363b39.png)
![capture d ecran de 2016-12-16 10-39-14](https://cloud.githubusercontent.com/assets/7660997/21258142/f51c0b8e-c37b-11e6-91b1-89682ab6bf95.png)
![capture d ecran de 2016-12-16 10-39-21](https://cloud.githubusercontent.com/assets/7660

[2016-12-16 12:39] gnunn1 commented on #490
That looks awesome, very nice work @bil-elmoussaoui! Once you do the PR I'm happy to help with content.

[2016-12-16 12:42] gnunn1 commented on #621
All the small setting does is remove the extra padding in the Box that some themes like Adwaita use. If you are using a theme that is already compressed then there will be minimal to no difference between small and normal.

Can you post a screenshot when you get a chance.

[2016-12-16 12:46] gnunn1 commented on #617
@f2404 I'm 50/50 on it because I can already see the answer being it's not a bug but a feature. I'll look into it some more over the weekend to get my ducks in order before opening a bug since I'll need some ammo to make it convincing that it is a bug.

[2016-12-16 13:06] bil-elmoussaoui commented on #490
I'm going to send a PR this evening if things are going as expectede,j ust adding mobile and tablet support.

[2016-12-16 16:10] edubxb commented on #490
cool! great job!

[2016-12-16 17:46] f2404 commented on #617
I agree some ammo would be needed for the fullscreen issue.
But what about the pixels issue? It looks like a clear bug, and it's also not present under other WMs.

[2016-12-17 12:44] f2404 opened #622 "Gtk-CRITICAL when setting title style after changing gtk theme"
[code]
on selecting any option from the list. Changed gtk theme while terminix running.

[2016-12-17 12:51] f2404 commented on #622
Also happens to other lists (e.g. cursor shape); to reproduce, run terminix, then change theme, then open terminix preferences and change a value.

[2016-12-17 12:55] f2404 opened #623 "Segfault while playing with gtk themes and preferences"
Got a segfault; not sure how to reproduce it, though.
[code]

[2016-12-17 13:01] gnunn1 commented on #623
It's probably related to your other issue, I have a suspicion about what's going on.

[2016-12-17 13:03] f2404 commented on #621
This is how it looks for with Adwaita, no matter if Normal or Small setting.
![terminix](https://cloud.githubusercontent.com/assets/14939413/21286947/c3050f24-c47a-11e6-8d08-c466cc8470aa.png)

[2016-12-17 13:32] lukaszjurczak opened #624 "Text in right click menu"
Would it be possible to rename right click menu text to "Open in Terminix" instead of "Open In Terminix..."?
If we have gnome-terminal installed there is "Open in Terminal" in menu so it will be standardized.

[2016-12-17 13:37] gnunn1 commented on #621
Weird, it's working fine on Gnome, not sure why using Cinnamon makes any difference.

[2016-12-17 15:57] gnunn1 commented on #622
This doesn't seem related to theme changes directly, showing the preference dialog twice and then changing one of the combobox options triggers this error. I'm continuing to investigate, my initial suspicion does not seem to be causing the issue.

[2016-12-17 18:12] cra0zy opened #625 "Move app menu items to terminix menu if desktop environment does not use an app menu"
This is something Gedit does, and it makes it look nice on other desktop environments. Anyway to check this you simply need to call https://developer.gnome.org/gtk3/stable/GtkApplication.html#gtk-application-prefers-app-menu

[2016-12-17 18:35] #622 closed

[2016-12-17 18:39] gnunn1 commented on #622
Thanks so much for reporting this, there were a couple of issues here. The first is that the preference window was not being GC'ed by D and the Settings object wasn't explicitly destroyed so it would still respond to session events. You can see this because the number of Critical Errors you get is equal to the number of times you've opened the preference dialog.

Once that was fixed, the issue was

[2016-12-17 18:42] #623 closed

[2016-12-17 18:43] gnunn1 commented on #623
After looking at the stack track, I think this is more related to my aggressively cleaning up the VTE. Added a null check to applyPreference which should hopefully take care of it. If it happens again please re-open.

[2016-12-17 18:45] #624 closed

[2016-12-17 18:51] gnunn1 commented on #625
What version of Terminix are using? The current version of Terminix forces the app menu to appear in the Headerbar in cases where the environment doesn't support the application menu at the top like Gnome does. If you try one of the 1.4.0 release candidates this is the behavior you should see, I can't remember if I had this in 1.3.5 which is the last release version.

Note that generally speaking

[2016-12-17 18:59] cra0zy commented on #625
It does do that, but what I am telling you is that you could actually move all the items into Teminix menu in case app menu does not exist instead of generating an app menu at the start of the HeaderBar, this is something Gedit does.

[2016-12-17 19:05] gnunn1 commented on #621
Can you take another screenshot but hold the mouse over the title or close button so I can see how much spacing there is around the button. That is looking like it's already in small mode without the padding that Adwaita normally adds.

Here's what it looks to me in Normal mode:

![screenshot from 2016-12-17 14-00-49](https://cloud.githubusercontent.com/assets/9358238/21289071/41590e58-c461-11e6-9

[2016-12-17 19:13] gnunn1 commented on #625
Understood, sorry but I don't think I'm interested in making that change as I'm not a fan of that approach. I think it makes the hamburger menu unwieldy and confusing. For example, the application quit menu item closes all windows of Terminix, but if it appears in the hamburger menu the implied context is to just close this window.

[2016-12-17 19:13] #625 closed

[2016-12-17 19:47] cra0zy commented on #625
Quit item is the only item that you wouldn't be able to move... Anyway I am using GNOME so I don't really care about this, I just thought you might want to check out what Gedit does. Also I would recommend you do not do what System Monitor does when DE has no app menu, it looked so ugly... they actually added a menubar item for the global menu so it also loaded a titlebar, so you had a Titlebar +

[2016-12-18 17:20] f2404 opened #626 "32-bit package?"
What are the issues with 32-bit version?
I was able to build terminix-git package on a 32-bit Arch Linux system without any issue (leaving aside the issue with building gtkd which I was able to work around).

[2016-12-18 17:28] gnunn1 commented on #626
None at this point as far as I am aware of, there have been PRs to fix some issues. However I don't officially support it nor do I test in 32 bit environments. It's just not worth the time and effort considering how few people are still on 32 bit and that number is getting smaller all the time.

[2016-12-18 17:28] #626 closed

[2016-12-18 17:32] f2404 commented on #626
I think I was under impression that there were some issues preventing terminix from building or running on a 32-bit system. So I wanted to update you that I cannot see any.

[2016-12-18 17:37] gnunn1 commented on #626
There were many issues at one time but like I said it was addressed by some folks via PR. Right now it's more about spending time on it, it's the same reason I only officially support Gnome and Unity desktop environments. With a limited time budget there has to be prioritization.

Btw if Travis supported 32 bit builds I'd be willing to enable it but as far as I can tell it does not.

[2016-12-18 18:10] bil-elmoussaoui commented on #626
@gnunn1 it's possible to enable 32bit builds using Docker, here's a solution proposed on an issue ticket https://github.com/travis-ci/travis-ci/issues/5770#issuecomment-197771661

[2016-12-19 09:28] f2404 commented on #621
Oh, I forgot about my custom GtkNotebook settings in ~/.config/gtk-3.0/gtk.css. Once I removed them, the Normal style became bigger than Small, as expected. Sorry for the noise.

[2016-12-19 09:28] #621 closed

[2016-12-19 12:59] gnunn1 commented on #621
No worries, thanks for figuring it out and letting me know what the issue was.

[2016-12-19 13:51] leoheck opened #627 "Same terminal title for all tabs"
I change tabs and but terminal shows the same title for all tabs, using 1.4.0-beta.
Even in the tabs list, ``Default`` is shown as label. Truncated form of the terminal title would be nice there too.

[2016-12-19 19:34] gnunn1 commented on #627
By tabs, do you mean the session title shown in the sidebar or the terminal title? You can change both of these Preferences. The session title can be changed in Appearances and the Terminal title can be changed in Profiles.

You can use various variables in the titles, for example I use ```${title}``` to use the title of the currently active terminal. A complete list of variables is available in t

[2016-12-19 19:34] #627 closed

[2016-12-20 01:14] alex285 commented on #114
@gnunn1 oops sorry, just saw that! I'll do them tomorrow in detail! Sorry!!

[2016-12-20 02:21] alex285 commented on #114
I made this in 5 on GIMP, because the idea is very simply really, and I think it is better (if you like it!) to code it, rather doing mockups after mockups :)

You have a sidebar that shows the running sessions. The letters I have (T,B,A,) shows the first letters of each Terminal session, so you can easy recognize them. Current session (A) has a different (active) color.

Obviously you dont need t

[2016-12-20 02:32] gnunn1 commented on #114
Thanks @alex285, I'll take this and open a new issue in the next day or two to give people an opportunity to discuss and make suggestions.

[2016-12-20 03:01] alex285 commented on #114
hey @gnunn1 do you want normal mockups on inkscape? or no need to? I believe is very straightforward concept, and the small details is better to go as you developing.

[2016-12-20 03:13] gnunn1 commented on #114
Let's start with this and see where it goes.

[2016-12-20 22:53] fb87 commented on #114
@alex285 In contrast to larger previews – for a small bar, I would prefer it to be at the top under the title bar. Because you can display the running application name or some other name like „console x“ next to each icon for better orientation. Otherwise you have three v's for three vim-tabs, and 90° rotated application names in a side bar are hardly readable.

I got another idea: What about an o

[2016-12-21 08:58] alex285 commented on #114
@fb87 I'm not against to have a horizontal implementation or to have an option to move the bar on top/bottom/left/right ..but I think @gnunn1 didn't want to make classic tabs at first place. Plus we will end up with 3 horizontal bars. CSD + Tabs + Session Title Bar.

About the name and the three "Vs" for 3 Vims as you said, to my experience the full name isn't really important. I rarely can see fu

[2016-12-21 09:31] vaijab commented on #114
Whatever you decide to do, please make it optional or a way to disable it. My number one user requirement is an ability to maximise on usable work space.

[2016-12-21 15:43] Naatan commented on #114
Personally I like the vertical sidebar approach with just a simple icon indicator. I'm not a fan of the letter indicators "T", "B", "A". It doesn't instantly explain what they mean to me and they look out of place.

I think for a first iteration simply having the icons in a vertical sidebar (that can expan to become what you currently get when you invoke the sidebar) would suffice and set the foun

[2016-12-21 16:47] alexwhitman opened #628 "Synchronised scrolling/input issue"
Just noticed an issues with synchronised scrolling.  To reproduce:

1. Open a new session, split vertically, enable synchronised input
2. Generate some lines (I used `for i in {0..1000}; do echo $i; done`)
3. Hit `Ctrl+Page Up` a couple of times
4. Press enter

Expected:
Both terminals jump to the bottom, to the new prompt

Actual:
Only the active terminal jumps, the other stays in the same positi

[2016-12-21 18:02] gnunn1 commented on #628
Thanks, I'll have a look. The solution might be to have exclude specific keystrokes from the commit event and rather  pass them as key events.

[2016-12-21 22:28] gnunn1 commented on #628
The issue here is not related specifically to the enter key, but rather the option to scroll on keystroke set in the profile. Pressing any keystroke causes the same behavior when this option is enabled.

I'll need to think some about this, an obvious solution would be to scroll the other terminals programatically but the issue is that in the commit event I have no idea what caused the event to be

[2016-12-22 05:41] f2404 opened #629 "Web site"
I think the web site looks awesome!
However, I feel that the Contribution section lacks links. For example, it's saying "Terminix is localized using Weblate, please visit the Weblate hosted Terminix transations site in order to assist with translations" - for me it would be natural to have a link to Weblate Terminix translation here. Same for the issues.

[2016-12-22 13:12] bil-elmoussaoui commented on #629
Web site issue should be added here instead https://github.com/gnunn1/terminix-web

[2016-12-22 13:13] gnunn1 commented on #629
Just fixed it as well.

[2016-12-22 13:13] #629 closed

[2016-12-22 13:25] gnunn1 opened #630 "Double clicking the headerbar text doesn't maximize the window"
There is a new feature in Terminix where if you single click the title you can edit it. However, double clicking should bypass this and maximize the window as expected.

[2016-12-22 18:16] alex285 commented on #114
@Naatan Well the idea is coming directly how social avatar works. It is not perfect but it is an additional info. However my idea was wrong because I forgot that a session can have many (split) terminals and therefore multiple commands running, when the session name will most probably be "D" for Default.

[2016-12-22 18:20] Naatan commented on #114
Imo it just adds pointless clutter. Maybe if it was smaller and less intrusive? Calling out a letter that will for most people almost always be D is awkward.

[2016-12-22 18:26] alex285 commented on #114
@Naatan Well the design is irrelevant, I didnt try it. Just posted as concept. But yes, having always a "D" makes no sense. Is what I said, I was wrong, because I forgot the multiple terminals (and therefore multiple commands) per session.

In any case you need to different each Terminal box / Icon / Tab somehow

[2016-12-22 21:41] dsboger commented on #630
I don't think that is a big issue, since the same is true for every widget inside the header bar.

[2016-12-23 02:16] doubleloop opened #631 "Enable more then one shortcut for the same action"
For example it would allow assigning alt+hjkl and alt+arrows for pane switching which would be very convenient.

[2016-12-23 04:43] rickmed opened #632 "default session not being loaded"
launching with the -s flag and session name works. Not getting any errors on startup. Not sure how to proceed. Any ideas?

Versions
	Terminix version: 1.3.5
	VTE version: 0.42
	GTK Version: 3.18.9

[2016-12-23 05:13] basille opened #633 "Powerline prompt with Terminix"
I know this is probably not a Terminix issue per se, but I'm trying to have a nice powerline prompt (like the screenshots here for instance), and it's driving me crazy.

I use Debian Stretch, with Gnome 3.22. Adding:

[code]

in `/etc/bash.bashrc` gives me the powerline as expected for Gnome Terminal, but I just can't make it work for Terminix. I tried to follow the instructions about the [VTE Con

[2016-12-23 13:56] gnunn1 commented on #633
This is what I have in my .bashrc to use powerline on Arch with terminix which is pretty much identical to yours. What happens if you comment out the if statement?

[code]

Also, to fix the VTE configuration I source vte.sh in .bashrc rather then use a login shell and I have this before the powerline lines above:

[code]

[2016-12-23 13:58] gnunn1 commented on #632
Sorry, I'm not understanding what the issue is? The -s switch loads a session JSON file that you have previously saved, are you saying this isn't working for you? Please post the JSON file you are trying to load and I'll have a look.

[2016-12-23 14:26] phw commented on #630
I worked a bit with this, and I actually would like to have the double click work for maximizing on the title. Renaming the terminal with a single click is a absolutely brilliant feature, but I am so used to be able to double click on the header that I often enter edit mode now instead of maximizing

Yes, but other widgets are easily recognizable as intractable UI elements, and in order to avoid t

[2016-12-23 15:07] eda2z opened #634 "Terminal focus requires click in latest version"
I just upgraded to version 1.4.0-1 in Arch Linux and "Focus a terminal when the mouse moves over it" no longer works.  Clicking is required whether the box is checked or not.  I checked on my other system which is running 1.3.5 and this does not happen.  What other info should I provide.

[2016-12-23 15:20] gnunn1 commented on #634
Thanks, I'll investigate.

[2016-12-23 17:10] basille commented on #633
Thanks for your answer! No luck with that... I tried most combinations with or without `if`s, with or without the VTE fix (including the `custom_prompt` function), and in `/etc/bash.bashrc` or `~/.bashrc`.
While it works beautifully in Gnome Terminal, I can't have it to work for Terminix.

And the problem is really that I don't even know where to start to debug it! I feel completely in the dark...

[2016-12-23 17:17] basille commented on #633
Ooooh, problem fixed! The VTE config is **either** sourcing VTE **or** using a login shell! Not both at the same time! So to conclude on it, I have it working (for both Terminix and Gnome Terminal actually) with just that in my `/etc/bash.bashrc` (or `~/.bashrc`):

[code]

And NOT use a login shell in the Profile options... Maybe this could be clarified in the VTE Config page.

Thanks a lot, I now

[2016-12-23 17:32] rickmed commented on #632
AFAIK, when I set in preferences a default session name it should be loaded when launching terminix without the s switch right? This is not happening in my case.

[code]

[2016-12-23 18:57] phw commented on #632
The default session **name** is just the default name for a new session (which you can rename later). AFAIK there is currently no preference to select a session file to be used by default, use the -s switch for that.

[2016-12-23 19:06] gnunn1 commented on #633
Glad you got it fixed, I've updated the pages to better show that there is one of two options.

[2016-12-23 20:34] gnunn1 commented on #630
This is a bit tricky, looking at the source code for epiphany it uses a timeout set to the double-click time to tell the difference between a single and double click. Working on it...

[2016-12-23 21:46] rickmed commented on #632
so if I want to save a terminix state, close and continue working on the same state when reopening the idiomatic way is using the s flag?

[2016-12-24 00:41] gnunn1 commented on #632
What @phw says is correct, there is currently no way to load a session file by default. The idiomatic way is via the -s switch to load the file. Alternatively, you can just modify the terminix desktop file to add the -s switch and the session you want to load which accomplishes the same goal.

I do not have any plans to change this.

[2016-12-24 00:41] #632 closed

[2016-12-24 00:44] gnunn1 commented on #490
Closing, thanks again @bil-elmoussaoui for your hard work on this.

[2016-12-24 00:44] #490 closed

[2016-12-24 01:23] gnunn1 commented on #630
I've checked in a fix for this, clicking the title defers showing the editor until the double click time has elapsed, if a double click occurs the timer is cancelled. I also refactored the custom title into it's own file for clarity.

[2016-12-24 01:26] #634 closed

[2016-12-24 01:26] gnunn1 commented on #634
This was caused by a typo, my apologies for that.

[2016-12-24 01:44] gnunn1 commented on #630
Just noticed with this change that holding the mouse button down causes the edit box to appear, need to fix that.

[2016-12-24 01:45] #628 closed

[2016-12-24 01:47] gnunn1 commented on #628
So in terms of how tell whether a commit is a keystroke or a paste, I decided to simply make it so that pasting also respects the "Scroll on keystroke" as well which I think meets the intent of the option. This makes it dirt simple to fix this issue and I doubt anyone will complain about this change.

[2016-12-24 02:16] bil-elmoussaoui commented on #490
You're welcome! it's all i can do to help improving this project :) i will try to keep it up to date!

[2016-12-24 02:43] #630 closed

[2016-12-24 02:49] gnunn1 commented on #619
According to the gtk documentation this is deprecated and should not be set:

https://developer.gnome.org/gtk3/stable/GtkWindow.html#gtk-window-set-wmclass

Can you do something with the window role if I set that instead?

https://developer.gnome.org/gtk3/stable/GtkWindow.html#gtk-window-set-role

[2016-12-24 02:53] gnunn1 commented on #619
I've gone ahead and set the window role for quake windows, if that is sufficient for your needs please close this issue.

[2016-12-24 03:03] e-inquirer opened #635 "Terminix fails to launch"
I mistakenly set the preferences in Terminix to run the following command at start-up:

**`zsh %`**

Since I've done this, the application fails to load. I've tried to uninstall and reinstall the app (through dnf and Gnome Software Center) in an attempt to purge the configuration files, but the start-up setting seems to persist.

Is there an available remedy for this issue?

[2016-12-24 03:06] gnunn1 commented on #635
Use dconf-editor and go to /com/gexperts/terminix/profiles and then go through each profile one by one until you find the one that has this set in the command key. Just change the setting to an empty string and you should be good to go.

[2016-12-24 03:06] gnunn1 commented on #635
As a note to myself, Terminix should handle this better and I'll have a look at doing so.

[2016-12-24 18:20] gnunn1 commented on #635
I've added a new command line option, ```--preferences``` to allow the preferences to be shown directly to handle this situation in the future.

[2016-12-24 18:20] #635 closed

[2016-12-25 23:46] jonian opened #638 "VteTerminal not filling app window on resize"
Hi,

Thank you for this great application. I noticed an issue when maximizing the Terminix window or when going fullscreen. I'm using micro editor for demo purposes, but the issue occurs with any application.

Initial window on app launch. Everything is fine:

![screenshot from 2016-12-26 01-31-47](https://cloud.githubusercontent.com/assets/4119508/21473264/e16c77bc-cb0b-11e6-9fef-2166f9a8c2f6.png

[2016-12-26 01:32] Salamandar opened #639 "Disable title edit on click"
Well I move the window or double-click to maximize the window, so the title editing feature is more annoying than anything else for me :(

Would it be possible to add a preference toggle to disable it ?

Thanks !

[2016-12-26 02:41] gnunn1 commented on #639
Thanks for the report, actually this has been fixed in #630 very recently so it double clicking no longer activates it and neither does moving.

[2016-12-26 02:41] #639 closed

[2016-12-26 03:03] gnunn1 commented on #638
So looking at your image, I highlighted the extra space with red bars I think you are talking about, can you confirm?

![terminix-spacing-issue](https://cloud.githubusercontent.com/assets/9358238/21474418/d821221c-caec-11e6-84a9-2fcd8ceebc72.png)

For the one at the right, the color of the space is matching the scrollbar. It's either the scrollbar is extra wide for some reason or as you surmise th

[2016-12-26 03:12] gnunn1 commented on #638
Hmm actually right after I post that I realize you are using Arc Dark. For full-screen I can reproduce the same behavior with the extra space on the right side when using full screen but not maximizing. However the behavior is exactly the same between gnome-terminal and terminix. The extra space does seem to be occupied by the VTE so it doesn't appear to be an obvious terminix bug as far as I can

[2016-12-26 12:20] jonian commented on #638
Hi again,

I changed my theme to Adwaita and I see the same issue. I installed gnome-terminal and the same issue exists.

Custom CSS in ~/.config/gtk-3.0/gtk.css:

[code]

VteTerminal highlighted with GTK Inspector:

![screenshot from 2016-12-26 13-35-22](https://cloud.githubusercontent.com/assets/4119508/21481603/5b8dd37c-cb72-11e6-9f83-3ed37c52e9a0.png)

The widget seems to occupy all the availa

[2016-12-26 13:10] gnunn1 commented on #638
I think this is normal behavior for the.most part. On the right I suspect there is extra space because the VTE doesn't have enough room to render a character so leaves it blank. You should see this behavior if you slighty resize a gnome terminal or Terminix widget. This is how VTE deals with sizes that don't perfectly fit rows and columns.

The only part that is weird is the one screenshot you hav

[2016-12-26 15:15] Limdel commented on #619
well. I'll try to make a workaround. thanks.

[2016-12-26 16:23] #619 closed

[2016-12-26 16:49] Limdel opened #641 "gtkd dependency"
I installed terminix-git from AUR and unlike previous versions, it depends on `gtkd` package, which I suppose is not very popular (considering that it's not in main arch repos) and which has to be compiled and uses more then 80 MBs of space. In my opinion, this is overkill for just a small terminal app. Yes, nowadays hard drive space isn't a problem, but I still prefer to have my system clean and

[2016-12-26 17:28] f2404 commented on #641
A good point but I think it's more for the AUR package.
I've asked the question on its site: https://aur.archlinux.org/packages/terminix-git/

[2016-12-26 17:53] ximion opened #643 "A manpage is missing"
In Debian, having a manpage is a strong recommendation for all applications living in $PATH, especially when they have useful command-line flags which benefit from a more detailed explanation.

It would be awesome if we could get a manual page for Terminix (to silence our lint warnings, but also to have a better reference of the Terminix command-line options).

[2016-12-26 17:59] ximion opened #644 "Improving xterm compatibility"
In Debian, it is now possible to use Terminix as x-terminal-emulator alternative, allowing it to be used as default terminal emulator (see https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=842282 ).

This is currently done via a wrapper script: https://anonscm.debian.org/cgit/pkg-gnome/terminix.git/tree/debian/terminix.wrapper

As you can see, a lot of options are not supported. It would be awesom

[2016-12-26 18:01] ximion opened #645 "Misleading release information"
There is a `1.20` tag and a release on Github which claims to be `1.30` while the current release is actually `1.4` - could you please delete or rename the tag and maybe also (for consistency) update the `1.30` release name?

At least the tags mess with our automatic new-version detection, and it would be better to fix this at the source rather than hack around it downstream.

[2016-12-26 18:27] gnunn1 commented on #645
I thought I did do that but I'll check again. I have limited internet access until tomorrow so I'll have a look then.

[2016-12-26 18:37] ximion commented on #645
Deleting online tags is different - delete the tag locally, re-tag if you want, and then delete the remote tag (`git push origin :1.20`) and push the updated tags if there are any.

[2016-12-26 20:49] jonian commented on #638
I tried it and the behaviour is as you describe. On some sizes it fills the window.

I have customized the color scheme to match Arc colors.

I'm closing this as it is normal and not a bug.
Thank you for your time and the detailed explanations.

[2016-12-26 20:49] #638 closed

[2016-12-26 23:40] gnunn1 commented on #641
Terminix requires GtkD, however there is an option to build Terminix statically or dynamically. With static builds only the GtkD parts used by Terminix are included, with dynamic builds it links to a GtkD shared library which includes all functionality.

Which way to build Terminix is up to the package maintainer, I try to stay out of packaging issues.

[2016-12-26 23:40] #641 closed

[2016-12-27 02:40] #643 closed

[2016-12-27 02:44] gnunn1 commented on #644
Generally terminix emulates gnome-terminal for command line parameters, to be honest I haven't even considered xterm in this regard. What do other terminal emulators do under debian as I don't recall any of the ones I'm familiar with specifically emulating xterm's command line.

[2016-12-27 03:16] ximion commented on #643
Okay, we need to get this into Automake or Meson too, but the manpage being available is great news! :)

[2016-12-27 03:17] ximion commented on #644
They either have a wrapper or use similar command-line flags. Having a wrapper is perfectly fine, but supporting a few more options would be nice.

[2016-12-27 03:36] gnunn1 commented on #644
Thanks, looking at the script I have the following questions:

* Should -fn (font), -fg (foreground) and -bg (background) all reference using the profile capability in Terminix like the -n option does? I have no plans to support these as command line since this is what profiles are intended to do.

* The -tn capability should be added to terminix, but again I'm thinking via the profile instead of

[2016-12-27 07:46] repsac-by opened #646 "Segmentation fault on press apply in triggers"
Segmentation fault if LANG=ru_RU.UTF-8, but not LANG=en_US.UTF-8

Edit profile > Advanced > Triggers > Apply > Segmentation fault

[code]

[code]

[2016-12-27 07:48] nean-and-i opened #647 "website: link to release page missing"
I can't find a link to the zip file or to the release page on the new website.
is it possible to implement it for more consistency ?
thnx

[2016-12-27 11:39] Salamandar commented on #639
Got it, waiting for the next release !

[2016-12-27 14:47] #647 closed

[2016-12-27 19:07] #646 closed

[2016-12-27 19:09] gnunn1 commented on #646
Thanks for reporting this, the issue was due to a non-localized value being shown on initial load for the action which resulted in an unexpected empty string.

BTW, I'd love to hear some feedback on the trigger feature as I don't know that too many people are using it. If you notice issues or have suggestions for improvements please feel free to let me know.

[2016-12-27 19:15] gnunn1 commented on #645
Hopefully I have fixed it this time, here's the list of tags I see:

[code]

Do the -beta, -rcX tags cause any issues?

[2016-12-27 19:17] bil-elmoussaoui commented on #645
@gnunn1 As I've already packaged some stuff on ArchLinux, in order to get the latest package release, you just get the tags and order it alphabetically. So for the automatic releases, it will get the 1.4.0-rc3 as the latest version and not 1.4.0. So for me, once the stable release is out, the beta/rc tags should be removed :+1:

[2016-12-27 19:30] phw commented on #645
Removing the release tags sounds confusing, especially as the releases will not appear in Gihubs release list without tags. Wouldn't the better solution be to fix the sorting algorithm?

[2016-12-27 19:32] bil-elmoussaoui commented on #645
Is it important to have alpha/beta release tags? i mean to keep them all along.

[2016-12-27 19:41] gnunn1 commented on #645
The other option would be to do something similar to what gnome does, 1.4.4-beta, 1.4.4-rc and then bump the version to 1.4.5 when released so it sorts correctly.

AFAIK, you can't control the way tags are sorted by git though you could do some things to get them sorted chronologically. Personally, I prefer to follow KISS so selecting a way that this happens naturally would be best.

[2016-12-27 19:49] ximion commented on #645
@gnunn1 Looks like this is fixed now, thank you!
As far as I am concerned, this issue can be closed.

As for release-tags: One can append them with a `~` sign, because `1.0-beta` >> `1.0` >> `1.0~beta`
(we rewrite `-` to `~` at Debian when checking versions of Terminix).
But, do whatever you like best for this :-)

[2016-12-27 20:01] gnunn1 commented on #645
@ximion Thanks for the tip about the tilde, I suspect that would work fine for me.

[2016-12-27 20:01] #645 closed

[2016-12-27 20:14] f2404 opened #648 "Error messages when dragging terminals"
`2016-12-27T23:13:28.499:terminal.d:getDragQuadrant:2411 Error with drag quandrant calculation, no quandrant calculated`

[2016-12-27 20:15] gnunn1 commented on #645
Unfortunately github won't allow you to use a tilde in a tag.

[2016-12-27 20:21] f2404 opened #649 "Size of a new window differs"
... when creating it by dragging one of the terminals outside of the original window borders.
The size depends on how the terminals were split in the first place: if they were split vertically, then the new window size will be equal to the original window size; but if the terminals were split horizontally, then the new window will be half as high.
Is this intended?

[2016-12-27 20:27] gnunn1 commented on #649
I think the expectation is that the terminal itself should stay the same size which it isn't doing, I'll have a look at it.

[2016-12-27 20:32] gnunn1 commented on #648
I'm thinking I should downgrade that to a trace message. It calculates where it thinks it wants to snap the terminal to using a barycentric algorithm, math isn't my strong suit and I converted the code from the C# stack overflow method here:

http://stackoverflow.com/questions/2049582/how-to-determine-a-point-in-a-2d-triangle

When it doesn't successfully calculate the point it defaults to the lef

[2016-12-27 20:51] gnunn1 commented on #649
If you add the terminal down, it works perfectly when detached in terms of preserving it's size. When adding to the right, there seems to be a threshold on the size below which it seems to want to expand it for some reason. If I drag a terminal with a width of 53 columns, it comes 81 but the number of rows stays the same. However, if I detach a terminal with 93 columns it stays the same size.

[2016-12-27 20:55] gnunn1 commented on #643
@dsboger do you have any time to update the autotools to install the new man page?

[2016-12-27 21:18] egmontkob commented on #644
Debian/Ubuntu ships a wrapper, written probably in python. I've never taken a closer look. Just as it's not shipped by mainstream gnome-terminal, I'm wondering if it's better if you ship such a wrapper or rather the distro should take care of it.

fn, fg, bg: I agree with you that they belong to the profile and I wouldn't bother with the possibility of overriding them (including the trouble of wha

[2016-12-28 00:41] #648 closed

[2016-12-28 00:52] gnunn1 commented on #644
@egmontkob the tn parameter for xterm is defined as:

[code]

I was thinking it could make sense to allow the user to override the TERM environment variable as perhaps a compatibility option. However after looking into it some more I'm not sure how useful this really is.

[2016-12-28 02:17] gnunn1 commented on #649
So I played around with it some more and I don't think this is a bug actually. The window itself has a minimum width which can be quite significant, when you split a terminal horizontally the two terminals are often smaller then this minimum width. When you detach one of these terminals, it gets larger in width because it's constrained by the minimum width of the window.

This is one when I was te

[2016-12-28 08:51] RealKindOne opened #650 "Option to hide title bar."
Some terminals like ```terminator``` let you hide the title bar. Could that be possible in ```terminix```?

http://i.imgur.com/HK9L2o3.png That stuff.

[2016-12-28 09:03] f2404 commented on #649
I think I would expect that the detached window either respects the default terminal size settings from profile preferences or takes the same size as the original window has. I've chosen the second option in xfce4-terminal.
Currently, the size is unpredictable and not correlated to the original window which I think is confusing.

[2016-12-28 09:25] phw commented on #649
But as pointed out above the size of the terminal actually is preserved, except the case where the terminal is smaller than the minimum size constraints of the window. And I don't see how this could be done otherwise. Having a detached terminal always use a predefined default size, as you suggested as an alternative, sounds like a more restricting and confusing option to me.

[2016-12-28 09:31] phw commented on #649
Reading everything again I think people are talking about different things here. What gnunn1 meant was that the new window will get a size depending on the actual size of the terminal being detached. That is also what I believe is a desirable behavior, since it will preserve also the layout of the contents of this terminal. So if you have e.g. a 2x2 terminal layout with equally sized terminals, de

[2016-12-28 09:31] egmontkob commented on #644
vte is designed to work with xterm / xterm-256color. No other value is supposed to work or tested by us. As such, I see no reason to diverge from vte's default "xterm-256color". If someone still wishes to diverge, they can modify TERM from .bashrc or use a custom command `env TERM=whatever cmd`.

[2016-12-28 09:44] f2404 commented on #649
Let's consider a default 80x24 geometry window for simplicity. Let's divide it into two terminals split horizontally so each of them is of 80 columns and (roughly) 11 rows.
Let's drag one of the terminals outside of the window. Now we have two windows: the 1st one restores its geometry to 80x24 while the 2nd (detached) one is 80x11.
This is where I can see the inconsistency: if, as @phw is saying,

[2016-12-28 12:19] f2404 opened #651 "Terminal contents search can only be performed once"
Make sure terminal output contains some word WORD once. Find it by entering WORD into search entry and pressing arrow down - the word WORD gets highlighted. Press arrow down another time - highlight is cleared. Press arrow up.
Expected result: WORD is highlighted.
Actual result: WORD is not highlighted, and it won't get highlighted no matter in which order and how many times buttons up and down ar

[2016-12-28 12:29] f2404 commented on #651
This is only reproducible when Wrap Around is checked (by default). In fact, t's also reproducible in other vte-based terminal emulators under these conditions.

[2016-12-28 13:40] bil-elmoussaoui commented on #651
Take a look here, @gnunn1 explained why it's not working as expected if i do remember.. #48

[2016-12-28 13:41] dsboger opened #653 "Improve discoverability of "click title to edit" feature"
I only found that feature because I saw a bug report mentioning it. Maybe the center of the header bar could be made into a .flat button, so hovering it would give a hint, and it could be reached through keyboard navigation?

[2016-12-28 14:48] gnunn1 commented on #649
Let's talk about this in the context of source and target windows where the source window is where the terminal is dragged out of and the target window is the new window that is created for the detached terminal.

##### Source
Changing the size of the source window after the window is detached is problematic for a number of reasons including:

* If the source window has more then one session you d

[2016-12-28 14:57] gnunn1 commented on #644
Thanks @egmontkob, that explanation makes perfect sense.

@ximion So the -name option could map to --name, I just quickly tested it here and it doesn't have any ill effect.

Other then that, hopefully I answered the question for the other parameters. In general terminix and xterm have very different views of features despite both being terminal emulators so I don't think an xterm compatibility lay

[2016-12-28 14:57] #644 closed

[2016-12-28 15:03] f2404 commented on #649
@gnunn1 Thanks for elaboration. I definitely wouldn't want source window to change its geometry after detaching a terminal. For the target window, I think your explanation makes sense, and I think I don't have a better proposal or any means to pursue the default size option for now. So I'm closing the issue.

@phw Thanks for clarifications.

[2016-12-28 15:03] #649 closed

[2016-12-28 15:14] gnunn1 commented on #650
It's been asked for previously and I've always said no. However it has come up a few days so perhaps it's worth having a discussion about it and soliciting some thoughts.

First off, note that this option is already implemented in quake mode. However, it works here because the quake mode window is a non-decorated window and the headerbar is added as a standalone widget rather then being set as the

[2016-12-28 15:18] gnunn1 commented on #651
There are a number of open issues with search in VTE and this is one of them, you can see a couple of the more interesting bug reports here:

https://bugzilla.gnome.org/show_bug.cgi?id=694128
https://bugzilla.gnome.org/show_bug.cgi?id=627886

[2016-12-28 15:18] #651 closed

[2016-12-28 15:20] f2404 commented on #650
xfce4-terminal has an option to show/hide window borders. Programmatically it's very easy - just a single function call (not counting the option code, of course).

[2016-12-28 15:21] gnunn1 commented on #653
I like keeping users in the dark, results in less bug reports :)

Seriously, I agree that it is not very discoverable. I'm not sure about the button though, it would look kind of odd doing normal window operations like dragging and double-clicking to maximize.

The feature as it stands mimics the way epiphany behaves, however epiphany has the advantage that when you launch it the edit is active so

[2016-12-28 15:22] f2404 commented on #651
Indeed - thanks!

[2016-12-28 15:32] gnunn1 commented on #650
@f2404 Thanks, good to know. I'm struggling with the "why" though, I don't get why someone want to do this? I'd love for someone to elaborate on the use case and what their workflow looks like with this option.

[2016-12-28 15:38] f2404 commented on #650
@gnunn1 I'll leave the elaboration part to @RealKindOne :)

Another thing here is that Terminix holds a lot of stuff in its titlebar, so you'd have to add it to other UI parts for cases when titlebar is hidden.

[2016-12-28 15:45] gnunn1 commented on #650
@f2404 I doubt I would move the UI elements, it would simply become keyboard driven which I think is fine for someone looking for this feature. I have this as an option already for quake mode where it makes sense IMHO, and that's the way it works there. I just don't see the "why" for a normal window hence why I'm looking for info on the use case.

[2016-12-28 19:35] f2404 opened #654 "Open a new/default session when provided with an incorrect session name?"
Providing an incorrect session name as a parameter to `-s` option opens an unusable terminal instance. Maybe it would be better to open a default/new session instead?
[code]

[2016-12-28 19:41] f2404 opened #655 "Negative x/y offsets do not work"
Running `terminix --geometry=80x24-10-10` doesn't work as expected - the window bottom right corner should be located 10 pixels to the left from the right border of the screen and 10 pixels up from the bottom border.

[2016-12-28 20:05] f2404 opened #656 "Terminix still opens even if '--display' parameter is incorrect"
No matter what is passed as a parameter for `--display`, Terminix still opens. Is this intended? Other terminal emulators (xfce4-terminal, gnome-terminal, xterm) fail with an error in such case:
[code]

[2016-12-28 20:10] f2404 opened #657 "-v/--version output is not localized"

[2016-12-29 00:43] #657 closed

[2016-12-29 01:08] #656 closed

[2016-12-29 01:13] #654 closed

[2016-12-29 01:28] gnunn1 commented on #655
I've fixed this so that geometry is interpreted correctly and it attempts to move the window. However under the Gnome window manager it won't let me position the window negatively. Can you test it on yours and test that it works.

[2016-12-29 05:58] f2404 commented on #655
Nope, still not working for me under Xfce.
But, now it's a bit different: before your change, the window used to open in the middle of the screen when using negative offsets - now it's opening in top left corner.

[2016-12-29 14:44] gnunn1 commented on #655
II think this is just a limitation of the window managers, I'm definitely moving the window to the right coordinates. is there an application where this does work? I've tried both gnome-terminal and xfce4-terminal neither of which handles the negative offsets at all as far as I can tell.

[2016-12-29 14:48] f2404 commented on #655
Both gnome-terminal and xfce4-terminal are working fine with negative offsets for me. Also, there's xterm which is also working fine and can be taken as a reference here.

[2016-12-29 14:59] gnunn1 commented on #655
On gnome 3.22 nothing works with the negative offset, xterm gives the same behavior as the other two.

[code]

[2016-12-29 16:53] gnunn1 commented on #655
Unfortunately not at this time, I don't have those environments installed and I don't officially support either one. If I had more time I'd look into it but I'm hip deep into some GtkD and VTE items right now. If you want to debug it yourself, this is where the code that does the move resides:

https://github.com/gnunn1/terminix/blob/master/source/gx/terminix/appwindow.d#L1024

[2016-12-30 02:57] gnunn1 commented on #650
@RealKindOne Any chance of elaborating on the use case as requested?

[2016-12-30 06:36] f2404 commented on #655
`move(terminix.getGlobalOverrides().x, terminix.getGlobalOverrides().y);`
The problem is that this command parameters are coordinates of the top left corner of the window. Thus, provided with negative `x` and `y` values, it will move the window to top left corner of the screen.
Per X standard, if `x` (or `y`) is negative, it represents a distance from right (or bottom) border of the screen. So, `-

[2016-12-30 07:38] RealKindOne commented on #650
I had been Windows for years, using Putty to ssh into various machines. Putty has no buttons and it looks perfect in my opinion. Windows machine finally kicked the bucket and I installed Debian.

I've tried multiple DE's over the months, gnome, kde, unity, etc... I kept going back to xfce4, due to various issues with other DE's and the way they look.

Tried ```xfce4-terminal``` with the menu bar d

[2016-12-30 07:45] f2404 commented on #650
Side note: xfce4-terminal supports read-only mode.

[2016-12-30 11:09] RealKindOne commented on #650
@f2404 Ah. Looks like that came out sometime while I was using terminator.

[2016-12-30 13:52] gnunn1 commented on #655
Suddenly it all makes sense. Thanks, I wasn't aware of that about the x11 spec, I'll fix this one shortly.

[2016-12-30 13:56] f2404 commented on #655
Please see https://www.x.org/archive/X11R6.7.0/doc/X.7.html#sect6

[2016-12-30 18:01] #655 closed

[2016-12-30 18:06] gnunn1 commented on #650
@RealKindOne Thanks, that last picture is very illustrative. So when you say you want to hide the titlebar, I was taking it as no titlebar whatsoever. Looking at  your screenshot thought, terminator still has the titlebar it's just not the CSD but the default system titlebar, is that correct?

Terminix does allow you to disable the CSD via a dconf setting however the headerbar then becomes a toolb

[2016-12-30 18:36] f2404 opened #659 "Terminix does not build"
Due to msgfmt error caused by missing "\n" in French translation: https://github.com/gnunn1/terminix/blob/master/po/fr.po#L48

[2016-12-30 18:48] Mancooo opened #660 "[Quake mode security bug] sudo timestamp not reset when using hibernate"
Hi,

I love Terminix, I use it exclusively.

Today I found a security related bug when running Terminix in Quake mode. When using sudo with Quake mode and hibernating just after you used sudo, the sudo timestamp never resets.

When resuming from hibernation, you get unlimited time to perform sudo actions (unlimited lives, yess!).

You have to exit Quake mode (by typing exit instead of the shortcut

[2016-12-30 19:23] #659 closed

[2016-12-30 19:24] gnunn1 commented on #660
What's the behavior of gnome-terminal in this situation?

[2016-12-30 19:30] bil-elmoussaoui opened #661 "Terminx does not build"
I've tried to build the latest git version and i got this error
[code]
Using Archlinux
Gtk version `gtk3 3.22.5-1`
Gnome version  `gnome-shell 3.23.2-1`

[2016-12-30 19:44] gnunn1 commented on #661
There is a new version of GTK required to build terminix, GtkD 3.4.1. If you are using terminix-git the gtkd-git (https://aur.archlinux.org/packages/gtkd-git/) package will need to be updated.

[2016-12-30 19:44] #661 closed

[2016-12-30 19:45] Mancooo commented on #660
I installed gnome-terminal and tested it. It does the same thing, so it's not a Terminix bug (yay!), but it is an odd bug.

Normally you would not notice it, unless you have an open terminal and you hibernate. Because of Quake mode you notice it more quickly.

I just tested out hibernation today on my laptop, I had never used it, always used suspend and resume, in case you were wondering.

[2016-12-30 19:48] bil-elmoussaoui commented on #661
Well, in this case terminix-git should use gtkd-git instead of gtkd. otherwise, this kind of issues will always happen...

[2016-12-30 19:48] gnunn1 commented on #660
Thanks for trying it out, I didn't think it was a terminix bug but good to know for sure. In general terminals have no clue as to what is actually running, it's up to the running program, in this case sudo, to react appropriately to these sort of situations. You might be able to work around it with a script tied into systemd or pm-utls.

[2016-12-30 19:48] #660 closed

[2016-12-30 19:50] Mancooo commented on #660
Ok, thanks!

[2016-12-30 20:12] gnunn1 commented on #661
Actually the gtkd package is fine, it's just in case the maintainer released a new version today and I jumped the gun as I had this commit lined up waiting for a fix from him. Normally this won't be an issue, my apologies.

[2016-12-30 20:23] bil-elmoussaoui commented on #661
Perfect! just updated gtkd and everything works fine. Thank you again!

[2016-12-31 09:22] Exalm opened #662 "Close dialog should have OK button focused by default"
When one wants to close a terminal, a "Close window" dialog comes up. On gnome-terminal, it immediately has "Close terminal" button focused, so it's possible to just quickly press F4-Enter to close a terminal. On terminix (1.4+, I think), even though the OK button is blue, it's not focused. Instead, the first line of the running process tree widget is focused, so pressing Enter does nothing, so th

[2016-12-31 14:46] edubxb opened #664 "Segmentation fault when adding a custom link"
Edit profile > Advanced > Custom Links > Edit > Add > Enter regex `*.py` + Intro > Segmentation fault

[code]

[2016-12-31 14:57] f2404 opened #665 "GLib-GObject-WARNING on start"
32-bit version:
`(terminix:8943): GLib-GObject-WARNING **: gsignal.c:2523: signal 'notification-received' is invalid for instance '0x861fdf0' of type 'VteTerminal'`

[code]

[2016-12-31 15:43] gnunn1 commented on #664
It's being caused by ```*.py``` being an invalid regex and my code doesn't handle it properly. I've committed a change that stops it from crashing and displays a warning (see below). However, this needs some further work as it shouldn't allow the apply button to be active with invalid regex's present as it will just propagate the error upstream.

I'll fix this later today.

![screenshot from 2016-

[2016-12-31 15:45] gnunn1 commented on #665
I assume it didn't do this before? I might have been overly aggressive in copying and pasting my generated event code.

[2016-12-31 17:36] #664 closed

[2016-12-31 17:37] gnunn1 commented on #664
I've re-worked the Custom Links and Trigger dialogs and this should be fixed now, errors appear as per example below. I've also updated the terminal code to catch this exception in case someone edits a preference directly in dconf.

![screenshot from 2016-12-31 12-35-19](https://cloud.githubusercontent.com/assets/9358238/21578632/d2d8e232-cf55-11e6-9413-9861da61e0ed.png)

[2016-12-31 18:06] #665 closed

[2016-12-31 18:07] gnunn1 commented on #665
Yep, a little too aggressive on the copy and paste, restored some code that should fix this. Let me know if there are still any issues.

[2016-12-31 18:14] #662 closed

[2016-12-31 19:08] f2404 commented on #665
This issue seems to be fixed, thanks.

[2016-12-31 21:15] gnunn1 commented on #650
I'm thinking maybe a new option for Window Style with the following options:

Normal
Disable CSD
Disable CSD and hide toolbar
Borderless

I think that would cover all the options.

[2017-01-01 13:12] f2404 opened #666 "How is "warn about unsafe paste" supposed to work?"
I have this option checked in preferences but it doesn't seem to work with pastejacking examples from https://security.love/Pastejacking/ or http://thejh.net/misc/website-terminal-copy-paste

[2017-01-01 14:01] gnunn1 commented on #666
It's doesn't do anything for paste-jacking, it only looks for the the word ```sudo``` in paste text and warns about it.

If you want to prevent past jacking, use the option "Always use advanced paste dialog". This always displays the paste text to the user so they can see what will be fed to the terminal. This works fine for both of the examples you pointed to above.

With regards to the unsafe pa

[2017-01-01 14:06] f2404 commented on #666
Ah, ok, thank you. I was confused by "unsafe paste" wording as paste jacking also falls into this category.

Also, advanced paste dialog does not pop when pasting primary selection with Ctrl+Ins - I think this may be improved.

[2017-01-01 14:10] gnunn1 commented on #666
I don't think there is anyway to detect pastejacking itself automatically since you don't have the context of what the user copied. If I'm wrong feel free to let me know, I think all you can look for are the signs like escape sequences, multi-lines, etc which I admittedly could do a better job of.

[2017-01-01 14:13] f2404 commented on #666
Apart from detecting pastejacking, currently neither unsafe paste warning nor advanced paste dialog work when pasting with Ctrl+Ins or middle mouse click. I think this may be improved.

[2017-01-01 14:14] gnunn1 commented on #666
Yep, I'll add that in, thanks for letting me know.

[2017-01-01 18:32] #650 closed

[2017-01-01 18:58] gnunn1 commented on #666
Should be fixed now for middle-click paste and shift+ctrl+insert

[2017-01-01 19:32] f2404 commented on #666
This works fine, thanks. But what about Shift+Ins? It's still pasting primary buffer contents without any dialog pop-up.

[2017-01-01 19:34] gnunn1 commented on #666
Oops, missed Shift+Ins, I'll add that as well. Linux has way too many default shortcuts...

[2017-01-01 19:58] gnunn1 commented on #666
Added Shift+Insert as a new keyboard shortcut.

[2017-01-02 04:17] gnunn1 commented on #650
No I missed that, it's something I fixed for the quake window but forgot about it here. I may also need to look at appending the preferences option to the hamburger menu. I'll have a look sometime tomorrow.

[2017-01-02 07:27] f2404 commented on #666
Right, need to always think for yourself and that guy :)

[2017-01-02 11:54] sirgallifrey opened #668 "[Question] How to set terminix as $TERM?"
Hello guys, first let me say that that terminix is awesome and I love it very much!

I'm trying to set terminix as my default terminal so some applications open it instead of the gnome-terminal.
But when I try to set `export TERM=terminix` I get an error saying that the terminix terminal definition was not found. I tried to figure out how to add terminix to the terminfo but with no success... Is t

[2017-01-02 14:13] gnunn1 commented on #668
The TERM variable for terminix should be set to ```xterm-256color``` just like it is for all other VTE terminal emulators including gnome terminal. As far as I know, applications do not use this variable to determine which terminal to launch as that would be a bad practice IMHO.

Integrating terminix with your environment really depends on what desktop environment you are using. The only applicati

[2017-01-02 14:26] #666 closed

[2017-01-02 14:28] gnunn1 commented on #666
The default VTE paste shortcut keys are now always bound to the Terminix paste actions so changing the shortcut key will not allow the user to accidentally paste using VTE directly.

I debated about adding support to warn on multi-line paste but this really requires the alternate screen patch to do properly otherwise it becomes super annoying. I don't think enough people are using the patch to war

[2017-01-02 14:46] gnunn1 commented on #650
I've checked in a fix for this, please test it out and let me know if it works for you.

[2017-01-02 14:58] RealKindOne commented on #650
Thanks! Works perfectly.

[2017-01-02 17:06] sirgallifrey commented on #668
Hello @gnunn1 Thanks for your help!

I left $TERM on it's default, and tried once more to set terminix as Gnome default, but with no success.... And as I only wanted terminix open with nautilus and sublime text 3 I was able to setup Nautilus Python as you said and have been able to find a config on a Sublime plugin to choose terminix.

Now everything is working fine! :D Thanks very much for your h

[2017-01-02 17:07] #668 closed

[2017-01-03 07:41] MingcongBai opened #669 "Scrolling is slow when history is long"
When there is a long scrollback on Terminix, the scroll is quite slow (with Trackpoint and mouse scroll wheel). And that about sums up the issue.

My Terminix is version 1.4.0-beta... Not sure if fixed in newer version.

[2017-01-03 10:54] Salamandar commented on #639
Works well, thanks.

[2017-01-03 10:55] Salamandar commented on #669
Works fine for me and a veeeery long history.
That makes me think about a feature : a small pop-up with the lines count + position (like the page pop-up in Adobe Reader, for example)

[2017-01-03 10:57] MingcongBai commented on #669
That would be very nice.

2017年1月3日 18:55，"Salamandar" <notifications@github.com>写道：

[2017-01-03 14:17] fbruetting opened #670 "Application-colored prompt"
Hi and thanks for this wonderful terminal!
If I open [Julia](http://julialang.org) in Gnome-Terminal, my prompt gets colored green, if I type `?` it gets yellow and if I type `;` it gets red. Unfortunately this is not possible in Terminix. Would this be possible to implement? Would be really great! Thanks anyway!

[2017-01-03 15:34] gnunn1 commented on #670
It should work just fine in Terminix as Terminix uses the same back-end as gnome-terminal. How is this feature configured?

[2017-01-03 15:35] fbruetting commented on #670
I have no idea, I just use it. :/

[2017-01-03 15:38] gnunn1 commented on #669
I'm a little confused, is the problem when bash history has too many or when you have a large scrollback buffer, i.e. you've been cat'ing large log files or something similar.

If the issue is with history, what's the output of this command:

[code]

If the issue is with a large scrollback buffer, what do you have set for the scroll settings for the profile you are using:

![screenshot from 2017-0

[2017-01-03 15:47] gnunn1 commented on #670
I just tried it here, works fine for me?

![screenshot from 2017-01-03 10-45-16](https://cloud.githubusercontent.com/assets/9358238/21613083/bae145b8-d1a1-11e6-9500-e1eb20cae498.png)

If you type this, and post what you get.

[code]
Here's what I see in Terminix:
[code]

[2017-01-03 15:50] fbruetting commented on #670
Same for me here, but prompt remains gray (v1.4.2):
![terminix standard_001](https://cloud.githubusercontent.com/assets/10520767/21613186/76f24b94-d1d4-11e6-9f43-e3d9bf87efa7.png)

[2017-01-03 15:52] MingcongBai commented on #669
I did mean the scrollbuffer, sorry for the confusion.

I did not limit the scrollback length, nor do I have any triggers enabled.

2017年1月3日 23:38，"Gerald Nunn" <notifications@github.com>写道：

[2017-01-03 16:01] gnunn1 commented on #670
What theme are you using, does it make any difference if you use Adwaita? Also maybe try a different Terminix text theme as well.

[2017-01-03 16:06] shamil commented on #669
I experience this as well, not sure it's related to scroll-buffer, it's just become slow suddenly from time to time until I re-open the session

[2017-01-03 16:22] fbruetting commented on #670
Ok, I found it that this is due to the solarized color scheme, sorry! But do you have an idea how I can modify it to adapt this hints? Foreground and background colours are set in this theme, while these are not settable(?) in all other themes.

[2017-01-03 16:29] gnunn1 commented on #670
There is a check box in the profiles color page labelled "Use system colors" or something similar. If you uncheck it the foreground and background colors will be editable.

[2017-01-03 16:32] fbruetting commented on #670
Some themes have this checked, some don't have it – and all of them adapt these hints. Checking it with solarized sadly doesn't affect the prompt colour.

[2017-01-03 17:07] gnunn1 commented on #670
Change the color that I outlined in red in the screenshot below to something yellow and it will work fine. It just happens that the color is the same as the foreground so it doesn't appear to change colors.

![screenshot from 2017-01-03 12-02-41](https://cloud.githubusercontent.com/assets/9358238/21615825/2cd0364c-d1ad-11e6-86ad-6a5dea8254d8.png)

[2017-01-03 17:07] #670 closed

[2017-01-03 17:22] gnunn1 commented on #669
Is the issue only with the trackpad or scrollwheel, i.e. if you grab the scrollbar directly move it up and down does it work fine?

If so I wonder if it's related to this issue:

https://bugzilla.redhat.com/show_bug.cgi?id=688127

Do you have any custom hyperlinks enabled? Note it could also be an issue with the default regex'es I'm using as well.

I've tried duplicating it here but no success so

[2017-01-03 17:30] fbruetting commented on #670
Both the green and the orange colour have to be modified. Thanks for pointing this behaviour out! I'll file a bug report for Solarized.

[2017-01-03 17:32] gnunn1 commented on #670
If you want to update the solarized color schemes they are simple JSON files under /usr/share/terminix/schemes, feel free to submit a PR. I did those files a long time ago and I may not have gotten the colors 100% correct.

[2017-01-03 17:38] bil-elmoussaoui commented on #670
@gnunn1 What do you think about adding some screenshots of all the supported color schemes to the website?

[2017-01-03 17:52] gnunn1 commented on #670
@bil-elmoussaoui It would look nice but we'd need to be careful that it doesn't come across as "these are the only themes that can be used". I did a themes page on the web site at https://gnunn1.github.io/terminix-web/manual/themes/ that could be enhanced with screenshots.

[2017-01-03 18:02] bil-elmoussaoui commented on #670
I was thinking of a better idea :p we show all the themes possible in terminix-web, once you mouse over the screenshot there's an apply button that will open terminx://jsonpathoftheme and terminix will use xdg-mime in order to get the json file and apply the theme to the user? :P themes can be stored on local directory in order to avoid asking user for root permissions.
This will need some work, b

[2017-01-03 18:04] fbruetting commented on #670
I have the feeling that the Solarized colors are just wrongly ordered. On the left side there are the darker colors and right are the brighter ones – but in Solarized they seem disordered (maybe it's because of the brightness mathematics of Solarized, but I don't really understand console coloring). Could it be that they just need to be reordered? If you compare the colors of the Julia logo dots,

[2017-01-03 19:04] shamil commented on #669
Yes it happens only when using mouse/trackpad.
Not sure if it's related to the bug you mentioned, for me the problem occurs only in terminix, `gnome-terminal` and `guake` has no such problem.

[2017-01-03 19:31] gnunn1 commented on #669
@shamil Guake is GTK2 and using an ancient version of VTE so it's not comparable unfortunately. For gnome-terminal, can you confirm that the scrollback option you have set for the profile you use matches the same setting in terminix, i.e. you have unlimited scrollback set in both.

It could still be the regex's, I know @egmontkob spent quite a bit of time improving them for gnome-terminal and mine

[2017-01-03 19:55] egmontkob commented on #669
Regex updates were mostly made for functional fixes, although they might have fixed some performance issues.

It would be great to know whether there are extremely long "paragraphs" (data without explicit newline, just overflowing to the next line) when scrolling is slow. This might be a reason for poor regex performance.

I'm quite certain the issue is related to regexes; without them one step of

[2017-01-03 20:26] phw commented on #670
It doesn't look like it is wrong, that's just the way the colors are defined for the Solarized theme. It is exactly the same in Gnome terminal. And the theme is directly taken from https://github.com/altercation/solarized/blob/master/xresources/solarized, where it is defined with the same color ordering, so this can be considered official.

An interesting fact is that the colors on the official so

[2017-01-03 22:10] fbruetting commented on #670
Well, there certainly is something wrong, as colors named green and orange are obviously gray. But I don't know how to use them. Should I open a bug report at Solarized?

[2017-01-03 22:42] laur1s opened #671 "Switch between advanced paste and regular paste"
Hi, is it possible to quickly switch between regular paste and advanced paste or set different keyboard shortcut for them? I like using advanced paste for formatting the commands from the internet properly but confirming the paste every time even if its a shot one is too much hassle.

[2017-01-03 22:59] gnunn1 commented on #671
Yes, leave the "Always use advanced paste" turned off and  assign different shortcuts to each in the Shortcuts section of preferences.

[2017-01-03 22:59] #671 closed

[2017-01-04 07:07] phw commented on #670
If you want to know why colors are defined as they are here you definitely would need to ask upstream on Solarized, that's something that cannot be answered here.

It probably comes down to the fact that the Solarized color palette does not provide dark and light variants of the defined accent colors. An alternative to using gray for the light variants would probably have been to just reuse the ex

[2017-01-04 07:25] phw commented on #670
There is some discussion about this and an answer on https://github.com/altercation/solarized/issues/8#issuecomment-966693

[2017-01-04 18:58] gnunn1 commented on #669
I've updated the regex to match what gnome-terminal is using, hopefully this does the trick. If not, please re-open the issue.

@egmontkob I copied your terminal_regex.h from gnome-terminal and adapted it for D. I have left your copyright, license and credit intact. If you have any issue with this let me know and I'll revert everything. You can view the file here:

https://github.com/gnunn1/termin

[2017-01-04 19:30] egmontkob commented on #669
Fine by me :)

I am not a lawyer, but... the given code is GPL v3 in gnome-terminal, and hence I don't think it's compatible with terminix's MPL v2.

On the other hand, the code was written by and is copyrighted by me (I have not resigned the copyright to GNOME Foundation or FSF or similar, although I could have), and as my intellectual property I'm allowed to re-release it under any other license

[2017-01-04 19:39] gnunn1 commented on #669
Thanks @egmontkob, much appreciated. I'll update the license block to match the rest of Terminix.

[2017-01-04 20:27] gnunn1 commented on #653
Played around with this, unfortunately neither Label or EventBox implement support for the hover pseudo class so there's not much I can do about this. Implementing a button work work but because of the nature of the control I'd rather not.

[2017-01-04 20:27] #653 closed

[2017-01-04 20:32] bil-elmoussaoui commented on #653
What about making the title as a button? or just an eventbox, once you click on it, it become a Gtk.Entry to rename it?

[2017-01-04 20:35] gnunn1 commented on #653
It is an EventBox and if you click it it does become editable, that's already implemented. There's just no way to make it discoverable. I'd prefer not making it a button, worry it would hinder some of the normal title interaction semantics.

[2017-01-05 08:07] phw opened #672 "Keyboard shortcut in Nautilus for Open in Terminix"
Just an idea and not sure if it is possible, but it would be nice to have a keyboard shortcut inside Nautilus to trigger the "Open in Terminix" action for the currently shown folder.

I found this Nautilus plugin which does add a keyboard shortcut to Nautilus:

https://github.com/riclc/nautilus_backspace/blob/master/BackspaceBack.py

In theory it should be even possible to read the configured shor

[2017-01-05 10:00] Jiehong opened #673 "Display possible variables in Profile information > Terminal Title"
Hi,

Today, when you edit your profile, you can set the title of the current terminal:
![terminix_profile](https://cloud.githubusercontent.com/assets/1061229/21676170/f8655656-d334-11e6-886e-8128b709b36a.png)

As you can see, by default, “${id}” and “${title}” are used. But there is no way to find out what else could be used!

Of course, the code already has this information:
https://github.com/gn

[2017-01-05 10:23] TiagoJMartins commented on #650
@gnunn1 As an additional use case (as requested), I work with a dual-head setup.
I develop exclusively in vim and constantly jump through the command-line / vim environment, in this case one of my monitors always has a terminal enabled. I've always used terminator due to the ease of use of using a single screen and being able to jump around tabs, splits, etc, with the minimum possible visual clutt

[2017-01-05 13:44] gnunn1 commented on #673
It's covered in the [FAQ](https://gnunn1.github.io/terminix-web/faq) but I agree that it is something that needs to be more discoverable. Having said that, that EasyTag screen is pretty ugly IMHO.

Perhaps a link to a dedicated online help page next to the combobox would be sufficient?

[2017-01-05 13:57] gnunn1 commented on #672
I'm not sure how feasible this is.  Looking at that code example it looks to me that it sets an accelerator for an existing action in nautilus, not for an extension created through Nautilus's extension point.

If the extension API that is being used get's translated into an action in Nautilus under the hood it might be possible to do it that way. You would need to find out the detailed action name

[2017-01-05 14:02] gnunn1 commented on #650
@TiagoJMartins Thanks for the explanation, hopefully the new feature will meet your needs. One question though, wouldn't making the terminal fullscreen (F11) do what you want? It eiliminates the titlebar and chrome and fills the entire screen which I assume is what you want if it's the only app on that monitor.

[2017-01-05 14:09] phw commented on #673
I agree, it should be something nicer than what EasyTag does offer. What about a help link opening a popover?

[2017-01-05 14:21] phw commented on #672
Another extension doing this:

https://github.com/vitaut/captain-nemo/blob/master/misc/shortcut-nautilus3.py

To be honest this all looks a little hackish, but I still like the idea of having this ability.

[2017-01-05 14:28] gnunn1 commented on #673
@phw That's a possibility as well. One note to myself, there are four places where these titles work: Session Name, Application Title, Terminal Title and Badge.

[2017-01-05 18:26] Jiehong commented on #673
EasyTag's window isn't a thing of beauty, indeed, but it was the only example that came up to my mind having a similar feature.

The pop-over could be pretty good!
I assume the use could copy/paste from it directly as well.

For the story, when trying to find information about what could be used, I checked:
1. `terminix --help`
2. `man terminix`
2.5 `Google`
3. Then the Wiki, but I couldn't figure

[2017-01-05 20:00] phw commented on #673
Now that Terminus has a manpage this is definitely another good place for this info (in addition to the in app help).

[2017-01-05 20:15] marco-prati opened #674 "Close window dialog closes all terminal window, even on cancel button"
Hi, i'm on master (version number 1.4.3-0.0.1 in about dialog), default config. These are the steps to reproduce the bug:
1. open a terminal window
2. open another terminal window and ssh into an host or launch and interactive process (`htop` for example)
3. try to close the terminal with the ssh or htop session open
4. the close window dialog warning pops up
5. When you hit close all terminal win

[2017-01-05 21:09] gnunn1 commented on #674
I cannot reproduce, here's the steps I tried based on what you posted:

1. open a terminal window
2. open a new terminal
3. run the ```top``` command
4. Press the close button of the window running the ```top``` command
5. Close Window dialog is displayed
6. Click Cancel
7. Dialog disappears, no other action is taken

[2017-01-05 21:13] marco-prati commented on #674
I've tried and for me it fails even with only one window open (running `top`). Here's the output when I hit close or cancel:
[code]

[2017-01-05 21:36] gnunn1 commented on #674
That last one is the problem, it's a bug in GtkD 3.4.0. please try building with GtkD 3.4.1 if you are not using it already.

[2017-01-05 23:46] marco-prati commented on #674
Confirmed, GtkD 3.4.1 solves the problem. Thank You

[2017-01-05 23:46] #674 closed

[2017-01-06 16:52] #673 closed

[2017-01-06 16:53] gnunn1 commented on #673
So I've added some code to support this, here's what it looks like:

![screenshot from 2017-01-06 11-51-26](https://cloud.githubusercontent.com/assets/9358238/21725494/b485d122-d406-11e6-993c-10feeb931159.png)

[2017-01-06 18:45] phw commented on #673
That looks great, I like it

[2017-01-06 22:28] Jiehong commented on #673
Great job!

Just the "Help | Help" section feels funny.

[2017-01-07 11:32] almson commented on #501
I think it would help if font zooming worked with Ctrl+Mouse Wheel (like in browsers and most apps).

[2017-01-07 11:37] almson opened #675 "UI request: keyboard shortcuts displayed in tooltips"
The reason many UX designers hide keyboard shortcuts is because they believe their target audience doesn't use them and therefore it would clutter the UI (even though tooltips are rarely on-screen). However, considering the target audience of a terminal emulator generally loves the keyboard, it would be very helpful if tooltips displayed shortcuts.

[2017-01-07 13:42] phw commented on #501
@almson That's a separate thing from what is requested here, and it was already implemented in
  https://github.com/gnunn1/terminix/issues/580

There is a option you have to activate for this to work.

[2017-01-07 13:57] gnunn1 commented on #675
I can see the benefit but AFAIK no gnome applications do this and Terminix tries to fit into the Gnome platform way of doing things. The other issue is that it would only work for the very few elements in the header bar,  I don't believe popovers support this at all.

For better or worse, I think the intent in Gnome is for the shortcuts dialog to be the reference for this

[2017-01-07 14:00] gnunn1 commented on #675
I accidentally hit the comment button on my phone, oops.

Finally from an implementation point of view it gets a bit tricky since anything that displays actions would need to listen and react to shortcut changes to update the tooltip.

So long story short, at this time I don't think I will be implementing this. I do appreciate the suggestion though.

[2017-01-07 14:00] #675 closed

[2017-01-07 18:29] baco opened #676 "New tabs use the default profile instead of the selected one"
The selection of a diferent profile is not window-wide but tab-wide, which causes new tabs in a window to load with the default profile preferences instead of current window's one.

This bahaviour is rather anoying, for instance, when using a different profile for Quake mode; the window starts looking something but further tabs will look different unless manually changed.

[2017-01-07 19:07] gnunn1 commented on #676
Profiles are per terminal, when you split a terminal it inherits the profile, cwd, and other factors because it makes sense to do so. For a new session, I wasn't sure about this originally however since I'm not inheriting the CWD from the current terminal it probably makes sense to inherit the profile too to keep it consistent.

[2017-01-07 21:41] bil-elmoussaoui opened #677 "Close terminal frame close the whole window"
While i was working on a python code, the code stopped and i had to close the terminal "frame". I clicked on the correct frame and hit the Close button. But it closed the whole terminal instead of closing the "frame".
How to reproduce that? Just open a new terminal, separate the terminal vertically or horizontally; type sleep 10 in on of them and try to close it.

![capture du 2017-01-07 22-40-29]

[2017-01-07 22:32] gnunn1 commented on #677
The problem is likely because you are using GtkD 3.4.0 instead of 3.4.1 or 3.5.0. There was a problem in that version where showing and close a dialog causes terminix to crash. Try building with a newer version of GtkD and the problem should be resolved.

@dsboger Would it be possible to update the Arch GtkD package to a newer version?

[2017-01-07 22:39] bil-elmoussaoui commented on #677
It must be the case, the gtkd is outdated in AUR :(

[2017-01-07 22:47] #677 closed

[2017-01-07 22:48] #676 closed

[2017-01-08 00:35] gnunn1 commented on #353
I'm going to close this, I just don't see the effort to create a single file with multiple sessions as being worthwhile with the existing ability to load multiple files simultaneously.

[2017-01-08 00:35] #353 closed

[2017-01-08 03:33] fu-sen opened #678 "Improvement in Japanese (possibility of occurrence in other languages)"
I received a report from Twitter,
and confirmed that obviously funny translation was done on the added items.
Therefore, I improved Japanese with Hosted Weblate.
Please reflect this translation to the source.

This may be a problem in other languages,
and the translator needs to be notified and confirmed.

[2017-01-08 04:00] gnunn1 commented on #678
Changes in weblate are automatically propagated to the source in GitHub.

Can you shed some more light on the issue, is it a case of someone deliberately screwing up the translations (I.e. inappropriate words, completely unrelated content, etc) or just a case of someone doing a poor job?

If it's the former I have no clue on how to validate them, suggestions welcome.

[2017-01-08 04:09] fu-sen commented on #678
It probably means that the translation has not been reset when the text changes are reflected in the Hosted Weblate.
If it keeps like this, the display may obviously go crazy in some languages!

[2017-01-08 07:55] phw commented on #678
I am not sure I understand the issue. You say you got a notification on Twitter. Was that by some other user who reported it to you? Was it a specific string that was badly translated or was it about new/updated strings that needed translation? Maybe give us some example, currently I fail to see an issue here :)

There were some changes to the strings in Terminix, and that of course means the tran

[2017-01-08 08:02] fu-sen commented on #678
https://github.com/gnunn1/terminix/blob/69e50b217e58628a114da8ed0e35c18e5e47d915/po/ja.po

#: source/app.d:133
#, fuzzy
msgid "Versions"
   -> "バージョン"
msgstr "ペルシア語"
   -> "Persian language"

#: source/app.d:134
#, fuzzy, c-format
msgid "Terminix version: %s"
    -> "Terminix バージョン: %s"
msgstr "%s を Terminix で開く"
    -> "Open %s on Terminix"

#: source/app.d:135
#, fuzzy, c-format
msgid "VTE versi

[2017-01-08 08:06] fu-sen commented on #678
It appears to be occurring in other languages as well. I used Google translation:
https://github.com/gnunn1/terminix/commit/69e50b217e58628a114da8ed0e35c18e5e47d915#diff-7c1fe251f091fb38df00894ab846c479

#: source/app.d:133
#, fuzzy
msgid "Versions"
msgstr "Сесия"
  -> "Session"

#: source/app.d:134
#, fuzzy, c-format
msgid "Terminix version: %s"
msgstr "Отваряне на настройки"
  -> "Open Settings"

[2017-01-08 08:57] phw commented on #678
That's just how gettext works. For new strings it tries to find similar strings and will pull in translations for that. It marks the translations then as fuzzy, which marks them for review in Weblate.  Fuzzy strings are also not included in the compiled translation, so they will just fallback to the English source in the UI. It is the job of a translator to review those strings, do a proper transl

[2017-01-08 09:10] glitsj16 opened #679 "Erroneous files in release 1.4.2 .zip"
After installing terminix via AUR https://aur.archlinux.org/packages/terminix/ I'm seeing strange icon folders. As the AUR package simply copies content from the release zip offered here on GH it suggests something went wrong processing that file. Here's a rundown of the icon folder structure:

[code]

Not sure whether the above accounts for the unusually large file size of the terminix binary in

[2017-01-08 15:09] gnunn1 commented on #679
I've updated the release archive, I was playing with getting things working in flatpak and some things snuck in that should not have. My apologies for that.

I don't track the file sizes, not sure why the binary is larger but I'll look into it. Worse case you can always run ```strip``` against it if you wish.

[2017-01-08 15:09] #679 closed

[2017-01-08 15:20] gnunn1 commented on #679
I checked the previous 1.3.5 release, the binary is the same size as 1.4.2 so I don't think anything has changed here. Are you sure you are not using the AUR terminix-git package, I believe that dynamically links to the GtkD shared library which will result in a much smaller binary then what I produce which uses static linking.

[2017-01-08 15:34] glitsj16 commented on #679
Confirming the fix for the icon issue, thanks. I tested both terminix AUR packages and your explanation regarding the file size difference is spot on. All the best for 2017, coding and otherwise.

[2017-01-08 15:48] glitsj16 commented on #679
Follow-up: I pinged the maintainer of the terminix AUR package about your fix.

[2017-01-08 15:56] gnunn1 commented on #678
Thanks for the detailed explanation @phw, much obliged. Closing issue.

[2017-01-08 15:56] #678 closed

[2017-01-08 16:50] gnunn1 commented on #25
Just an FYI that all future releases will be compiled with LDC instead of DMD to align with what the various linux distros are doing.

[2017-01-08 16:58] gnunn1 opened #680 "Add support for Bookmarks"
I've debated about the need for this feature with myself a few times since the obvious alternative to bookmarks is to setup appropriate aliases. However for regular SSH users I think bookmarks can be a useful particularly where you might have limited permissions on the target system.

Bookmarks would be stored hierarchically similar to the way it is handled in a typical browser. This feature would

[2017-01-08 17:40] gnunn1 opened #681 "UX Sidebar Changes/Improvements"
Well it's been just over a year since I released the first version of Terminix and I think it would be good to review the current UX and consider what, if any, improvements can be made to the main application window. In particular, I'd like to look at alternatives to the current sidebar implementation.

While I personally like the sidebar, I realize it's not everybody's cup of tea and I think re-v

[2017-01-09 06:33] dsboger commented on #677
I'm working on that right now

[2017-01-09 22:22] daroczig commented on #681
I really like the current sidebar approach (maybe a config option would be a nice addition to set the width/size of the sidebar) for sessions, but would love to see tabs for terminals *within* the session.

Use case: I often use multiple tabs in the same session and switching from one to another using fullscreen -- now this requires me to C-A-x, switch then C-A-x again and I do not even see what o

[2017-01-09 22:24] bil-elmoussaoui commented on #677
@dsboger it's still impossible to compile a new version of gtkd until i remove the old version :( which means that i have to uninstall terminix...Is there anything that we can do to fix this? Also, i couldn't neither install the latest gtkd version neither

[2017-01-10 00:13] dsboger commented on #677
@bil-elmoussaoui The Makefile provided with GtkD 3.5.0 has a directory creation [bug](https://github.com/gtkd-developers/GtkD/issues/181) that prevents it to install correctly. The bug has been fixed and package `gtkd-git` should build and install properly. I've asked GtkD devs to do a point release with the fix and package `gtkd` is waiting for that, unless it takes too long, in which case I'll w

[2017-01-10 00:17] bil-elmoussaoui commented on #677
I will do right now :) Thanks for your work!

[2017-01-10 00:52] gnunn1 commented on #681
@daroczig thanks for the feedback! Just to be clear so we are on the same page, from my perspective sessions are tabs, under the hood it's actually implemented as a GtkNotebook, I just don't show the tabs preferring to use the sidebar as the navigation mechanism instead.

I don't have any plans to introduce a level of tabs below that, I think it would just be overly complex and ugly. Having said t

[2017-01-10 09:13] proft opened #682 "Library load failed: libcairo.so.2"
Hello!

I have ``terminix 1.4.2-2`` and ``cairo 1.14.8-1``.
When I start ``terminix`` I get
[code]

Before 1.4.0 everything works like a charm :)

My system is ``Arch Linux`` and I have tried reinstall ``terminix`` and ``cairo``.

[2017-01-10 09:14] piotr-szpetkowski commented on #682
+1 same issue under latest arch linux

[2017-01-10 10:31] piotr-szpetkowski commented on #682
@proft downgrading `harfbuzz` package to `1.3.4` solves the issue temporarily.

You can do that by for example using the version cached by pacman:
[code]

However the real issue is not caused by `terminix` or `harfbuzz`, but by `infinality-bundle` (if you are using it), so I suppose that the actual solution would be to uplift linked `harfbuzz` in there.

[2017-01-10 10:37] proft commented on #682
@piotr-szpetkowski thanks for hint but I have moved to *xfce terminal* temporarily :)
by the way, I don't have ``infinality-bundle`` in my system so maybe the issue is between ``terminix`` and ``cairo`` ...

[2017-01-10 10:54] proft commented on #682
``audacious`` don't start too :( it says that ``libharfbuzz.so.0: undefined symbol``
so, probably the issue is in ``harfbuzz``

[2017-01-10 11:13] bestouff commented on #376
Bonus point (even if I have no idea how that would work): enable [xyz]modem transfers for hosts over a serial line.

[2017-01-10 11:29] phw commented on #682
Working fine here with up-to-date Arch with harfbuzz 1.4.1. But this sounds a lot like the harfbuzz / infinality incompatibility discussed a lot in the Arch forums the last days. Are you sure you are using an unpatched freetype2 from the Arch repositories? What's your output of `pacman -Qs freetype`?

[2017-01-10 11:31] phw commented on #682
If infinality is really the issue here the actual solution is to replace it with the freetype2 package.

[2017-01-10 14:24] proft commented on #682
@phw I don't use ``infinality``.
I use ``freetype2 2.6.5-2``. Yes, old version, I've added it to ``IgnorePkg`` but it works as I want.

[2017-01-10 14:30] arcticicestudio commented on #682
I think this is a general problem at the moment, after upgrading my system at my job today (3 week vacation) and a restart the whole system seems to be broken:
  - GNOME Shelll transparent and flickering
  - no more SVG icons are rendered, so the whole icon theme is disabled
  - As soon as you try to open the "All Applications" GNOME activity overview X11 crashes, session exists with critical log

[2017-01-10 14:37] phw commented on #682
No, it *worked* (past sentence) as you wanted, now it's broken ;) Since you are using Arch partial updates are unsupported. Update freetype2 and be done.

In any way, this issue should be closed. If necessary this discussion should be moved over to https://bbs.archlinux.org

[2017-01-10 14:38] gnunn1 commented on #682
Even though this isn't a terminix bug, I'll leave this up for awhile so people can see it if they run into the issue.

[2017-01-10 14:48] proft commented on #682
Well, I've updated ``freetype2`` and ``terminix`` successfully started.
But after that ``chromium `` has ugly hint ... this is another story :)

[2017-01-10 14:48] #682 closed

[2017-01-10 15:56] TheAifam5 opened #683 "Library load failed"
OS: ArchLinux
Packages: gtkd-git | terminix-git

``
object.Exception@src/gtkc/Loader.d(123): Library load failed (libcairo.so.2): /usr/lib/libharfbuzz.so.0: undefined symbol: FT_Get_Var_Blend_Coordinates
``

Cairo & harfbuzz & harfbuzz-icu are installed cuz i'm using Gnome Desktop.

[2017-01-10 16:00] arcticicestudio commented on #683
https://github.com/gnunn1/terminix/issues/682#issuecomment-271589615

[2017-01-10 18:12] Naatan commented on #681
I like the first screenshot, but the letter indicator isn't very helpful and kind of ugly. Color coding could be a better way to differentiate.

That said, end of the day all I really care about is being able to switch sessions with a single mouse click. Which means having something to click on-screen at all times.

[2017-01-10 18:16] #683 closed

[2017-01-11 09:18] asoete commented on #617
Hi

I actually like _quake mode_  occupying  my complete screen.
Would you consider adding an option `start fullscreen`, or something like that, to quake mode? This basically sets the height to 100% instead of 90%...

Thanks
Kr.

[2017-01-11 13:23] gnunn1 commented on #617
@asoete I think you can already do that, just add the full-screen option when you run it in quake mode:

[code]

[2017-01-11 13:25] f2404 commented on #617
Interestingly, it works, but also prints
`You cannot use the quake mode with maximize, minimize, fullscreen or geometry parameters`

[2017-01-11 13:36] gnunn1 commented on #617
Oops, that one slipped through the cracks. It used to be you couldn't do full-screen from quake mode but I relaxed that restriction and obviously missed removing that output. There was also a bug where terminix should terminate when command line parsing returns true for exit and that wasn't happening either.

I checked in a change to fix both of these.

[2017-01-11 13:57] sogalpunx opened #684 "Terminix crashes when using F12 (session view) and PageDown/Up"
Hi,

After a fresh install on openSUSE (v1.4.0 via devel:languages:D repo), I was trying Terminix.
When I use F12 to open session side-bar and then PageUp or PageDown keys, Terminix crashes and dumps core:

`recvmsg(3, {msg_name(0)=NULL, msg_iov(1)=[{"#\203\2459\26\0\0\0\2\0\3\0k\374\"\1u\0\0\0\372\0\0\0\10\0\240\3\0\0\0\0"..., 4096}], msg_controllen=0, msg_flags=0}, 0) = 120
recvmsg(3, 0x7ffca817

[2017-01-11 13:57] asoete commented on #617
@gnunn1 When I run `terminix --full-screen` I get:
![workspace 3_062](https://cloud.githubusercontent.com/assets/5277186/21851084/dd135942-d80d-11e6-95aa-5cca2b1173ab.png)
as desired.

If I however run `terminix --quake --full-screen` I get:
![workspace 3_065](https://cloud.githubusercontent.com/assets/5277186/21851099/e82decf2-d80d-11e6-9516-621368ef3ab1.png)
(notice the gap at the bottom + the t

[2017-01-11 14:06] gnunn1 commented on #617
It works fine for me, but also note I'm running the development version, it's possible I fixed something from 1.4.2.

With terminix closed, if you run ```terminal --quake``` in a command line from another terminal and then hit F11 for fullscreen mode, what happens?

[2017-01-11 14:13] asoete commented on #617
Nothing happens:

- No full screen
- No errors (or any output) in the other terminal (or via journalctl) ...

[2017-01-12 13:30] DillonHeins commented on #600
It appears as though the fullscreen shortcut (F11) no longer works in quake mode. I don't know if it is just me who is experiencing this though? Any help would be greatly appreciated! :smile:

My system is Ubuntu Gnome 16.10

[2017-01-12 13:37] gnunn1 commented on #600
It's working fine for me here on Arch Linux using Gnome 3.22. As mentioned above it was disabled initially but then re-enabled. Are you using 1.4.2?

[2017-01-12 14:03] DillonHeins commented on #600
I checked now and I have version 1.3.5 which is odd because I just installed it today from here: https://launchpad.net/~webupd8team/+archive/ubuntu/terminix and it says on that page they have published version 1.4.2.

I will attempt to get the latest version to see if it fixes the problem (probably will)

[2017-01-13 01:42] dsboger commented on #681
I'll just throw an idea, haven't really thought about pros and cons, it just occurred to me.

I'm thinking an "overview grid". It could look similar to GNOME Boxes, with VMs replaced by Terminix sessions. More session previews would fit the space. It could be a stack page, like Boxes, or it could still be an overlay, just like the sidebar, only occupying all the window width. I think when we want

[2017-01-13 14:10] lburgazzoli opened #688 "Add CSS class(es) to terminal title to allow customization"
In order to quickly identify active terminals, it would be nice to have some options to customize the active terminal like:

- active/inactive title color
- active/inactive title fonts
- dim inactive panes (i.e. http://stackoverflow.com/questions/21256802/iterm2-stopping-the-inactive-pane-from-dimming)

[2017-01-13 14:15] gnunn1 commented on #688
Terminix already has an option to dim inactive panes, just use the Unfocused Dim slider under Profiles > Colors and set it to a non-zero value. You can also set the color sued for dimming in the Advanced popover in that same tab.

Otherwise the active/inactive colors and fonts are determined by the GTK theme, I do not have any plans to extend it further at this time, sorry.

[2017-01-13 14:16] gnunn1 commented on #684
I cannot reproduce on master, please try the last release which is 1.4.2 and see if it is still happening.

[2017-01-13 14:17] gnunn1 commented on #681
@dsboger I think you've described Option 4, have a look at the video I linked to and see what you think.

[2017-01-13 14:19] lburgazzoli commented on #688
Thx for the answer.

btw, I use Numix and for gnome-terminal the active tab has red text, but on terminix when I split the terminal I have a white or gray tile: do you ahve any specific css class to use to change it ?

[2017-01-13 14:42] gnunn1 commented on #688
There is not at the moment but I'm not adverse to adding that, let me see what I can do.

[2017-01-13 15:04] lburgazzoli commented on #688
Maybe you can just re-use gnome-terminal settings

[2017-01-13 15:48] Naatan commented on #681
imo option 4 is pointless as it provides very little additional value over what it currently does. I'd want this feature to enhance accessbility.

[2017-01-13 17:18] alex285 commented on #681
@dsboger The point of this tabbing is to have always a representation of the open instances plus a single you can switch with a single click. What Ubuntu terminal did with the overview, since I tried it, while it was looking good, it practice wasn't such good. And for FWIW they reverted it. Ubuntu Terminal now has typical tabs. In fact it had the same problem that Terminix has now.

Yes the icons

[2017-01-14 08:39] Jiehong opened #691 "[Wayland] Quake height not satisfied"
Tested on Gnome 3.22, on wayland session on Archlinux.

When running `terminix --quake`, the screen that appears defaults to full-size, even if the height in the parameter is set to something else.
Yet, after opening the quake mode, and going into preferences, moving the height cursor a bit resizes the window correctly.

I also noted that the window appears from the bottom-right corner, and the an

[2017-01-14 11:42] mimf opened #692 "Dark Variant and Xubuntu 16.04"
Hello,

Dark Variant doesn't work on Xubuntu 16.04.

[2017-01-14 11:44] mimf opened #693 "Quake hotkey"
What's the quake hotkey/shortcut? In preferences, there are settings for Quake mode. However, I can't find any option, under shortcuts, for quake mode.

[2017-01-14 11:46] mimf opened #694 "Bad default hotkey for "Add terminal down""
The default for "add terminal down" is alt+ctrl+D. In Xubuntu 16.04, that minimizes the terminal. Defaults are important, I would suggest changing it to something else?

[2017-01-14 12:01] phw commented on #692
AFAIJ that depends on the GTK theme used, if it doesn't support a dark variation the styling won't change. What Gtk theme do use?

[2017-01-14 12:13] alexwhitman commented on #693
There isn't an option within Terminix, the idea is to set a hot key within your desktop environment to run `terminix --quake`.

[2017-01-14 12:15] gnunn1 commented on #693
Following on @alexwhitman comment, see the documentation here:

https://gnunn1.github.io/terminix-web/manual/quake/

[2017-01-14 12:15] #693 closed

[2017-01-14 12:18] gnunn1 commented on #694
With all the different Linux DE's out there it's impossible to find shortcuts that don't conflict with something out there hence why it is configurable. No plans to change it at this time.

[2017-01-14 12:18] #694 closed

[2017-01-14 13:44] mimf commented on #692
The default one in Xubuntu 16.04, which is greybird. Yes, it seems to not support a dark variation. Oh well.

[2017-01-14 14:11] #692 closed

[2017-01-14 14:38] gnunn1 commented on #691
Are you using terminix 1.4.2 or the version from the terminix-git package? With the git version it's working fine for me on Arch, Wayland and Gnome 3.22 but I honestly can't think of any reason why 1.4.2 shouldn't work as well.

Having said that, note that Wayland is a mess when it comes to things like quake windows because of the limitations it places on allowing applications to position themselv

[2017-01-14 14:45] Jiehong commented on #691
I'm using terminix 1.4.2.

This issue happens on my laptop screen, but if I plug an external screen, then terminix's window's height is correct (but its position is in the middle of the screen, not on top…).

I'll give a try to the x11 backend then I guess

[2017-01-14 14:48] #688 closed

[2017-01-14 14:53] gnunn1 commented on #688
I have added a CSS class called ```terminix-terminal-title``` that can be used to style the title with either themes or adding some CSS to ```~/.config/gtk-3.0/gtk.css```.

[2017-01-15 08:59] Jiehong commented on #691
Trying with `export GDK_BACKEND=x11; terminix --quake` does not fix the issue actually.

Is there a way to have terminix output some logs somehow?

[2017-01-15 14:18] alex285 opened #695 "[VTE3] Notifies on the last action when open new sessions"
hard to explain it, so I tube it
https://www.youtube.com/watch?v=2LvwBnYGIB8&feature=youtu.be

It's on Arch, vt3-terminix from AUR and terminix build just now

[2017-01-15 14:43] gnunn1 commented on #691
You have to compile terminix to get logging, it's not included in release builds. To compile it with logging, the command would be:

[code]

Of course you need a D compiler and dub installed on your system.

Also, can you you take a screenshot of the dconf-editor showing the quake parameters that are set, for example:

![screenshot from 2017-01-15 09-40-55](https://cloud.githubusercontent.com/asse

[2017-01-15 14:45] gnunn1 commented on #695
Thanks for the video, might be a timing issue as notifications are withdrawn when the window is closed however it looks like when you close the terminal with a program running it gets sent out after the withdraw.

[2017-01-15 15:01] gnunn1 commented on #695
I'm not having any luck duplicating this at the moment for some reason though I do recall seeing it. I've checked in a change to try to work around it, can you try it out and see if it fixes the issue.

If it doesn't, can you duplicate the issue and paste the trace output from terminix from when you killed the terminal running htop. I want to see if the Notification received is coming through afte

[2017-01-15 15:38] alex285 commented on #695
@gnunn1 that is a bit embarrassing, but I cant get trace. I build it with --build=debug, but dgb doenst give a trace. Just exit normally.

The commit didnt fix it btw. I can still reproduce it.

[2017-01-15 15:54] gnunn1 commented on #695
To get the trace add the following when building with dub:

'''--config=trace'''

[2017-01-15 16:05] alex285 commented on #695
@gnunn1
Some findings. I made a new Linux user. I started GNOME both with ZSH and BASH, and I cant reproduce. I also tried with "alex" user on Plasma. I cant reproduce there either. So it only happens to GNOME with my user.

Btw I tried it both to 3.5.0 and 3.5.1 and still the same issue. And I cant remember since that started to happened.

[New Thread 0x7fffdab40700 (LWP 5830)]
2017-01-15T18:00:1

[2017-01-15 16:15] alex285 commented on #695
Also that happens if I use as "login shell" ..without I dont get notifications at all though.

[2017-01-15 17:02] gnunn1 commented on #695
With regards to notifications not working outside of the login shell, you need to source ```vte.sh``` normally.

https://gnunn1.github.io/terminix-web/manual/vteconfig/

Thanks for the trace, I can see it doesn't appear to be a timing issue. I'll see what I can figure out.

[2017-01-16 10:45] lburgazzoli commented on #688
thx

[2017-01-16 12:45] v1v3kgithub opened #696 "Is it possible to install/run on windows (cygwin)"
Is it possible to install/run this on windows (cygwin)

[2017-01-16 13:05] gnunn1 commented on #696
I don't support Windows, sorry. Having said that if someone wants to attempt it I'm happy to accept PRs to fix issues providing they don't interfere with Linux functionality.

[2017-01-16 13:05] #696 closed

[2017-01-16 17:20] arshavindn commented on #669
Seem it's not fixed yet, I run Rails server and when it has a very long scroll, scrolling turns to lagging. I dont set any trigger as well limit scrollback

[2017-01-17 13:10] robclark opened #697 "Gtk-WARNING **: Allocating size to GtkScrollbar 0x2bacf90 without calling gtk_widget_get_preferred_width/height()"
Not sure if this is a known issue.  Seems to be triggered by touchscreen scrolling (but scrolling by grabbing scrollbar is fine).  When this happens, terminix seems to hang for a few seconds.

[code]

fwiw, this is on f24 (x11 session)

[2017-01-17 13:12] f2404 commented on #697
@robclark Please see https://bugzilla.gnome.org/show_bug.cgi?id=769566 - it seems to be a Gtk+ issue, and it's resolved in Gtk+ 3.22.

[2017-01-17 13:13] robclark commented on #697
ahh, thx..  ok, I guess I probably need to stop procrastinating about upgrading to f25..

[2017-01-17 13:13] #697 closed

[2017-01-17 13:20] f2404 commented on #697
Yes, Fedora 25 should be free from this issue.

[2017-01-17 16:36] Naatan commented on #681
Or it could just number them incrementally. Instead of a letter, show a number.

[2017-01-18 03:05] nasciiboy opened #698 "Line scroll shortcuts"
I like the project, but to be able to replace konsole I would need these shortcuts

1. scroll line to line
2. copy current line

also appear by default to full screen

and to overcome konsole, need to have a select mode to copy from the keyboard

[2017-01-18 03:13] gnunn1 commented on #698
You can open it in full-screen by default by passing the ```--full-screen``` switch.

Ctrl+shift+up and ctrl+shift+down scroll a single line only if that's what you mean by "scroll line to line", otherwise I'll need more explanation.

[2017-01-18 03:18] nasciiboy commented on #698
ups, what is this command (Ctrl+shift+up/down)? I overwritten it

[2017-01-18 03:21] nasciiboy commented on #698
I prefer shift+up/down

[2017-01-18 04:26] RealKindOne opened #699 "Open new terminal windows in the folder of the active terminal."
Other terminal emulators such as ```gnome-terminal```, ```roxterm```, ```terminator```, and ```xfce4-terminal``` (and maybe others) open new terminal windows in the folder of the active terminal window.

Reasoning for this is if someone is working on multiple things in the same folder and does not want to enter ```cd /some/path/here``` into the terminal every time.

Could it be possible to do this

[2017-01-18 04:37] bil-elmoussaoui commented on #699
Already available just enable this
![screenshot from 2017-01-18 05-36-59](https://cloud.githubusercontent.com/assets/7660997/22051033/36661854-dd40-11e6-83d4-a0199698dcc5.png)

[2017-01-18 04:40] bil-elmoussaoui opened #700 "Using topbar shows a Menu on settings"
As i switched to dash-to-panel recently. I've had this small "bug" on the preferences window. It shows the application menu in there too! It shouldn't be the case...
![screenshot from 2017-01-18 05-37-17](https://cloud.githubusercontent.com/assets/7660997/22051058/683fcf46-dd40-11e6-864a-38e2ed42a159.png)

[2017-01-18 04:43] bil-elmoussaoui commented on #700
By looking at the source code https://github.com/gnunn1/terminix/blob/master/source/gx/terminix/prefeditor/prefdialog.d#L94 you seem to be using an ApplicationWindow for the settings instead of a simple Window which will fix that ;)

[2017-01-18 04:52] gnunn1 commented on #700
The ApplicationWindow is required to make the ```-preferences``` option work. In master it should be setting ```showMenubar(false)```.

[2017-01-18 04:54] gnunn1 commented on #700
Yeah looks fixed to me in master, if it's not let me know.

[2017-01-18 05:07] RealKindOne commented on #699
@bil-elmoussaoui Oh. thanks.

[2017-01-18 05:31] bil-elmoussaoui commented on #700
Perfect! I will update to master and reopen if i still have this issue ;) Thanks!

[2017-01-18 05:31] #700 closed

[2017-01-18 09:27] phw commented on #699
Also see https://github.com/gnunn1/terminix/wiki/VTE-Configuration-Issue for a more in-depth explanation for this and alternative solutions.

[2017-01-19 05:21] gnunn1 commented on #684
@sogalpunx Have you had a chance to try 1.4.2?

[2017-01-19 05:22] gnunn1 commented on #691
@Jiehong Have you had a chance to try to build terminix with tracing?

[2017-01-19 19:39] Jiehong commented on #691
@gnunn1 I was pretty busy those past few days, sorry.

However, I just compiled terminix, and tried to launch it, but it doesn't want to launch at all for now:

[code]

Is there a new option called `window-style` to add compared to the last delivery? What value should I add to it? (I compiled on 53972fb83abb).

Also, here is a screenshot of my dconf window as well:
![terminix_options](https://clou

[2017-01-19 19:40] Jiehong commented on #691
Doesn't matter, launching terminix a second time works.

[2017-01-19 19:47] Jiehong commented on #691
Well, it doesn't launch at all on wayland though (still this property missing). Here is the log under wayland if you want:

[wayland.txt](https://github.com/gnunn1/terminix/files/717605/wayland.txt)

[2017-01-20 08:49] f2404 opened #701 "Please update .po files"
For example, "Window style" is not translated.

[2017-01-20 15:41] sogalpunx commented on #684
Hi,
No chance at all.
On another machine, I've installed Terminix 1.4.2 via _OneClickInstall_ from _https://software.opensuse.org/package/terminix_. Same problem.
Then I've cloned the source and compile it with success, same problem.

In both cases, I did not change any default settings in Terminix.
I've just launched it, click on "+" or "Ctrl + Maj + t" to open a new session, then F12 to show the

[2017-01-20 16:17] arshavindn opened #702 "scrolling is lagging when it has large scrollbuffer"
I commented on [this issue](https://github.com/gnunn1/terminix/issues/669) and want it to be reopened but it seems like being forgotten

[2017-01-20 17:28] f2404 opened #703 "Huge image as a background"
Comparing to xfce4-terminal, terminix seems to be consuming much more memory for a background image. For example, [this image](https://commons.wikimedia.org/wiki/File:LRO_Tycho_Central_Peak.jpg) (21,467 × 9,860 pixels, file size: 42.3 MB) takes about 1 GB of RAM in terminix and only about 660 MB in xfce4-terminal.
An even bigger [image](https://commons.wikimedia.org/wiki/File:In_the_Conservatory.j

[2017-01-20 17:42] apcamargo opened #704 "Add a option to create a new session from a panel"
There are times that I split my terminal because I want to view two terminal instances at the same time. Frequently, however, I end up using one of these panels to work on something else. It would be a good to add a right-click option to turn the panel into a separate session.

[2017-01-20 18:59] gnunn1 commented on #702
I reopened the other issue, you  have been able to reopen it?

[2017-01-20 18:59] #702 closed

[2017-01-20 20:04] alex285 commented on #695
@gnunn1 another interesting finding!
That only happens if I launch Terminix with DnD (like on video) or with Ctrl+Click, but it doesn't happen if i launch terminix with a single click.

[2017-01-20 21:31] gnunn1 commented on #703
I have some suspicions about where the problem might be, thanks for bringing it to my attention.

[2017-01-20 21:33] gnunn1 commented on #701
I only tend to update them irregularly since I don't want to waste translators time localizing stuff I end up deleting or changing. I should have done it before I started on the bookmark stuff but now I'm kind of stuck until that gets to a better place.

[2017-01-20 21:33] #701 closed

[2017-01-20 21:34] gnunn1 commented on #684
I still can't replicate the problem on master, it works fine for me. Can anyone else replicate this on 1.4.2?

[2017-01-20 21:36] gnunn1 commented on #684
@sogalpunx  The other option if you are willing is that I can compile a version from git that includes debug information, you could then use gdb to get a backtrace.

[2017-01-20 21:37] gnunn1 commented on #669
@arshavindn Are you using the version from git, that's the where I updated the regex'es though I'm not overly optimistic it would have fixed this.

[2017-01-20 23:20] gnunn1 commented on #691
Sorry for the delay in responding, I was out on the west coast yesterday for work and today was a travel day.

You need to compile the settings schema to fix that issue because the version in git has some new options:

[code]

The ```install.sh``` script does a complete install as well including compiling the schema and resources required.

If this issue is fixed in git please feel free to close i

[2017-01-20 23:47] gnunn1 commented on #703
OK so I'm not seeing the same results but I suspect what I know what is happening.  First a couple of points as follows:

a. Terminix enforces a maximum resolution (4K max) for the image, if you load an image past that size Terminix only caches a lower resolution version of that image.

b. D is a GC'ed language unlike xfce, so remember that temporary objects are kept around for awhile including

S

[2017-01-20 23:54] gnunn1 commented on #695
I can reproduce it with DND, weird.

[2017-01-21 00:01] bil-elmoussaoui commented on #695
I can reproduce this too. I have executed this command `dbus-send --type=method_call --print-reply --dest=com.canonical.indicator.application /com/canonical/indicator/application/service com.canonical.indicator.application.service.GetApplications` closed the application next time when I opened it the notification was shown again. Does the implementation of Gtk on D has anything similar to ` Notify

[2017-01-21 00:07] gnunn1 commented on #695
Thanks @bil-elmoussaoui , I'm using https://developer.gnome.org/gio/stable/GNotification.html and not libnotify so that's not it. I'm definitely withdrawing the notification when the window terminates as well.

[2017-01-21 00:14] gnunn1 commented on #695
@bil-elmoussaoui Also, I would expect this behavior with your test case because the notification never gets with withdrawn. Only notifications with the appwindow uuuid actually get withdrawn when the window terminates.

[2017-01-21 07:40] arshavindn commented on #669
Yes, the latest version from git, but with version 1.3.5, the issue does not happen

[2017-01-21 07:56] f2404 commented on #703
I was testing this on a 64 bit machine.

BTW, limiting image resolution to 4K looks like a good idea, I think I will do it in xfce4-terminal in order to limit memory consumption.

[2017-01-21 11:28] sogalpunx commented on #684
Yes sure. I'll try Terminix in a virtual machine to see if I can reproduce it and I'll report the problem on an openSUSE forum, to see if somebody else can reproduce it as well.

[2017-01-21 12:52] danielpinto8zz6 opened #705 "Can you add pt_PT to language translation?"
https://hosted.weblate.org/projects/terminix/#languages
I only see pt_BR

[2017-01-21 13:05] gnunn1 commented on #703
If you try that change I made does it fix the issue?

[2017-01-21 13:06] gnunn1 commented on #705
You should be able to add new languages in weblate, I have not been adding them in git.

[2017-01-21 13:38] f2404 commented on #703
Your change helped in the way that is frees the memory after the image has been loaded.
However, the gigantic 30,000 × 22,943 image still kills terminix after it has eaten about 3 GB.

[2017-01-21 13:39] phw commented on #705
Adding a new language in Weblate is a bit hidden under Tools > Start new translation

Anyway, I have added Portuguese, see https://hosted.weblate.org/projects/terminix/translations/pt_PT/ . Happy translating :)

[2017-01-21 13:42] gnunn1 commented on #669
OK, let me see what changed from 1.3.5, hopefully it will be something obvious.

[2017-01-21 13:45] gnunn1 commented on #703
It's working fine for me here so I need to understand what is different. Are you compiling with LDC or DMD? Is any error message shown when it crashes?

I wonder too if the difference is simply I'm on a machine with 16 GB of RAM versus your 8.

[2017-01-21 13:46] #705 closed

[2017-01-21 13:46] gnunn1 commented on #705
Thanks @phw!

[2017-01-21 14:00] danielpinto8zz6 commented on #705
Thank you guys, have a nice day

[2017-01-21 16:26] Jiehong commented on #691
Hi,

So, I was able to reproduce the exact same issue.

I launched `terminix --quake` in both x11 and wayland (gnome), and I logged the output:

[x11.txt](https://github.com/gnunn1/terminix/files/721283/x11.txt)
[wayland.txt](https://github.com/gnunn1/terminix/files/721282/wayland.txt)

The log files clearly indicate a different position/size.

[2017-01-21 22:10] gnunn1 commented on #691
I've checked in a change that logs the monitor geometry, I suspect you are getting different results under Wayland then X11 for this call.

Also, please try the following, in appwindow.d you will see the following lines of code at line 1146:

[code]

Can you try un-commenting the first line and commenting out the second so it looks like this:

[code]

Re-build terminix and run it to see if it make

[2017-01-21 22:31] gnunn1 commented on #669
In the file terminal.d, can you try commenting out this line (currently line 811) and rebuild terminix to see if it fixes the problem. So change this line:

[code]

to:

[code]

Mouse wheel scrolling was added to 1.4.0 so it seems like a likely first candidate to look at for the problem. Maybe reading the GSetting for this is too slow on your machine compared to mine and I should cache it.

[2017-01-21 22:58] gnunn1 commented on #684
I have built a version with debug enabled, so give it a whirl and see how it goes.

http://gexperts.com/files/terminix.zip

The issue might be related to different versions of GTK as well, I'm on the latest 3.22 version on Arch.

[2017-01-21 23:30] super7ramp commented on #684
Hello,

Indeed it's a regression of the GTK 3.20.x branch ([bgo#707703](https://bugzilla.gnome.org/show_bug.cgi?id=770703)). Both openSUSE Leap and SLE 12 use GTK 3.20.9.

[Fix](https://build.opensuse.org/request/show/451774) is coming.

[2017-01-21 23:46] gnunn1 commented on #684
Thanks @super7ramp, closing issue as upstream to resolve.

[2017-01-21 23:46] #684 closed

[2017-01-21 23:57] egmontkob commented on #698
Shift+up/down is used by many apps.

[2017-01-22 00:16] gnunn1 commented on #698
@egmontkob Understood, however there is benefit in allowing users to customize shortcuts if they wish.

[2017-01-22 02:31] nasciiboy commented on #698
I have never had conflicts with that configuration

[2017-01-22 08:36] alex285 opened #707 "[Background Image] Background per profile, and not global"
Is it possible to move the background image to profile, and therefore each profile can have its own background image?

[2017-01-22 09:29] egmontkob commented on #698
I meant my comment as a reminder that Shift+Up/Down shouldn't be the default. You're of course free to configure whatever you prefer for yourself.

[2017-01-22 09:46] Jiehong commented on #691
I've updated, and re-tested:

[x11_new.txt](https://github.com/gnunn1/terminix/files/721836/x11_new.txt)
[wayland_new.txt](https://github.com/gnunn1/terminix/files/721835/wayland_new.txt)

And then uncommented/commented the given lines:
[x11_new_trace.txt](https://github.com/gnunn1/terminix/files/721840/x11_new_trace.txt)
[wayland_new_trace.txt](https://github.com/gnunn1/terminix/files/721839/wayl

[2017-01-22 09:50] gnunn1 commented on #691
Are you using Window scaling in the gnome tweak tool?

[2017-01-22 11:26] sogalpunx commented on #684
Indeed, using a patched version of GTK 3.20 solved the problem.
Thanks to both of you.

[2017-01-22 12:12] phw commented on #707
Not sure how this would work with the tiling, as the profile is per terminal not per session.

[2017-01-22 13:23] Jiehong commented on #691
Window scaling is set to 1 in the tweak tool.

[2017-01-22 13:31] gnunn1 commented on #691
Is this a laptop screen or monitor? A setting of 1 under Wayland is usually represented as -1 in dconf-editor which means autoscale. I presume things are not sized differently for you between x122and Wayland?

[2017-01-22 14:06] Jiehong commented on #691
It's a laptop screen.

In dconf, `org.gnome.desktop.interface.scaling-factor` is set to its default value (0), and it says that 0 is auto-scale.

Things aren't scaled differently between x11 and wayland as far as I can see.

But in both cases, the calculated height by terminix is correct, so the height of the window should be correctly set.

Maybe… it is correctly set, but the monitor geometry doe

[2017-01-22 14:12] Jiehong commented on #691
Well, I'm incorrect. I've just tried with a quake-height-percent of 28, and still the same: works in x11, fullscreen in wayland.

So, I guess `appwindow.d:moveAndSizeQuake` is not working under wayland?

[2017-01-22 14:39] #672 closed

[2017-01-22 14:42] gnunn1 commented on #707
Technically it's possible but fairly complicated since it is the window that is rendering the background and not the terminal. However I'm not in favour of adding this as a feature, to me the background image stuff is a bit gimmicky and I don't want to take on the added complexity making it per profile based. Additionally, as @phw pointed out giving the tiling nature of terminals I don't think a p

[2017-01-22 14:42] #707 closed

[2017-01-22 14:43] f2404 commented on #703
Both the version that you compile and [terminix-git](https://aur.archlinux.org/packages/terminix-git) work the same for me. There's no error from terminix; OOM killer prints the following to the system journal:
[code]
Indeed, I think you're not observing it because your system has more RAM, and OOM killer threshold is probably higher.
Do you have any idea why terminix is using 1.5 times as much RA

[2017-01-22 14:54] gnunn1 commented on #703
@f2404 I suspect it's simply because I downscale huge images to 4K. When this happens I'm holding both the original image and the 4K ImageSurface in memory at the same time. Once the downscaling is completed, the original image pixbuf is destroyed but there is that point in time where more memory is required. Additionally, GTK may be using additional memory to actually render the downscaled image.

[2017-01-22 15:21] f2404 commented on #703
xfce4-terminal was also loading the entire image to memory (with `gdk_pixbuf_new_from_file()`) but taking less RAM than terminix.

I have just pushed a change to check image resolution before actually loading, it and use `gdk_pixbuf_new_from_file_at_size()` instead of `gdk_pixbuf_new_from_file()` in case it's too high (higher than 8K). This allowed to reduce memory usage from 2G to 550M while load

[2017-01-22 15:24] gnunn1 commented on #703
Thanks for the tip, it makes a huge amount of sense and I'll look into it.

[2017-01-22 15:29] gnunn1 commented on #691
The issue is the scaling factor, I've fixed it locally but I need to look into some issues with my Wayland backend detection as it breaks when flipping between X11 and Wayland (i.e. login in one, logout on the other).

Also, When running mixed DPI monitors quake mode works poorly but I can't do anything about it since Wayland has limited support for the features to make this work well.

[2017-01-22 15:43] #691 closed

[2017-01-22 15:45] gnunn1 commented on #691
I've checked in a fix for this, please test it out. Note that when switching between Wayland and X11 via logout/login I found that the Wayland environment variables would hang around on the X sessions causing terminix to think it was running under X. To avoid this, do a full restart when switching between the two. I'll open a new issue for Wayland detection.

[2017-01-22 15:47] gnunn1 opened #708 "Detecting Wayland"
Currently terminix uses an environment variable to detect if Wayland is the back-end. However when switching between Wayland and X11 via logout/login I found that the Wayland environment variables would hang around on the X11 sessions causing terminix to think it was running under Wayland when X11 was active.

To avoid this, a full restart when switching between the two was required. I need to loo

[2017-01-22 15:52] f2404 commented on #708
In xfce4-terminal, I'm using `GDK_IS_X11_WINDOW` macro: please see https://wiki.gnome.org/Initiatives/Wayland/Applications/Porting

[2017-01-22 15:56] gnunn1 commented on #708
Thanks, it looks like that macro maps to gdk_x11_window_get_type which GtkD does link to so that is a better alternative for me.

[2017-01-22 16:41] Jiehong commented on #691
Just tried the last commit (9e67a75f03c9), and rebooted in Wayland directly:

[code]

(Interesting that it prints the same stuff twice in a row).

But the scaling of the window's height is working now!

Although, the window isn't positioned at the top of the screen, but in the center:

![capture](https://cloud.githubusercontent.com/assets/1061229/22183981/f9473f7e-e0c9-11e6-9b4e-85093e594281.png)

[2017-01-22 17:44] arshavindn commented on #669
I have just rebuild the latest version from git and the problem solved. No need to comment that line.
Thank you so much for great app!

[2017-01-22 17:57] bil-elmoussaoui commented on #691
@Jiehong the applications can't move themselves to a specific position on Wayland !

[2017-01-22 18:01] gnunn1 commented on #691
Unfortunately there's no point in opening an issue for it, as @bil-elmoussaoui notes an app cannot control its position under Wayland. The things i'm doing usually work out but I can't guarantee that it will always work.

[2017-01-22 18:04] Jiehong commented on #691
Alright. Thanks for all the time you put in this. I dare to say it was pleasant to open a ticket here 😄

[2017-01-22 18:11] gnunn1 commented on #691
Btw, see #494 for more info on this issue.

[2017-01-23 01:14] #708 closed

[2017-01-23 01:31] #703 closed

[2017-01-23 01:34] gnunn1 commented on #703
I've made the same change as you with respect to checking the image size first and if it exceeds the max permitted size load it at that size. If you get a chance, try it out and see if it fixes the crash issue for you. Memory usage seems good here, not sure what else I can do.

BTW, appreciate the collaboration, thanks again for all the help.

[2017-01-23 03:39] gnunn1 commented on #669
OK that's weird, why did it start working OK now? Before getting the latest that fixed the issue, do you know roughly when you had last fetched it?

[2017-01-23 03:39] #669 closed

[2017-01-23 06:01] f2404 commented on #703
Yes, your change seems to have fixed the issue for me.

And you are very welcome :)

[2017-01-23 10:59] arshavindn commented on #669
maybe it happens because of using too much RAM. Today I back to work and my computer was up for a while and it used over 5gb/8, then scrolling turn to lagging

[2017-01-24 15:50] theUncanny opened #709 "Terminix fails on load (parse) a previous saved session file (malformed JSON)"
# Terminix fails on load (parse) a previous saved session file (malformed JSON)

## Example (real) of an automatic saved session file

The problem is in the value format for `ratio` field:

[code]

**`"ratio"`** field value format:
* Original and **incorrect** (*comma* character): `0,5`
* Correct (*point* character): **`0.5`**

## Additional information

* Terminix version:

[code]

* Ubuntu versi

[2017-01-24 15:52] f2404 commented on #709
Is my guess correct: your locale is not en_US?

[2017-01-24 15:52] gnunn1 commented on #709
Are you in a country that uses the comma character as a decimal separator? I think this is a bug in D's JASON library that I worked around elsewhere.

[2017-01-24 15:53] f2404 commented on #709
I've also had this problem with yajl :)

[2017-01-24 15:55] theUncanny commented on #709
@f2404 @gnunn1 You both are right, my locale is `es_ES.UTF-8`.

[2017-01-24 16:49] #709 closed

[2017-01-25 12:58] zatan opened #712 "Force to close the session without the popup"
Can this popup be removed or at least to have some option to force close without asking?

![screenshot from 2017-01-25 12-56-04](https://cloud.githubusercontent.com/assets/486313/22291342/bea2b840-e2fd-11e6-8ff9-0f7e4b4b2b65.png)

[2017-01-25 13:15] gnunn1 commented on #712
Absolutely, I'm kind of surprised I don't have an option for that already.

[2017-01-25 18:04] f2404 opened #713 "Man page localizations"
Why no man page localizations?

[2017-01-25 18:08] gnunn1 commented on #713
I haven't had time to look into how to best handle it, contributions welcome as always.

[2017-01-25 18:24] carlbolduc opened #714 "Titlebar is transparent in 1.4.2 on Fedora 25 (Wayland)"
![screenshot from 2017-01-25 13-22-56](https://cloud.githubusercontent.com/assets/410440/22303504/90928576-e301-11e6-9273-2d71389c1431.png)

[2017-01-25 18:41] gnunn1 commented on #714
I suspect the resource file which contains the terminix CSS was not installed correctly. How did you install it, from the COPR package?

Can you check if this file is present on your system:

[code]
This is why your icons for adding terminals are not there either.

[2017-01-25 18:53] carlbolduc commented on #714
The `/usr/share/terminix/resources/` folder exist but is empty.

I downloaded 1.4.2 sources and did this to install it:
- `dub build --build=release`
- `sudo ./install.sh`

[2017-01-25 19:15] gnunn1 commented on #714
That should do the trick, what was the output of install.sh, any complaints about building the resource file?

[2017-01-25 19:26] carlbolduc commented on #714
Yes it's complaining:
[code]
After installing glib2-devel and gdk-pixbuf* pacakges, the install script stopped complaining.

Thank you, it's much better now:
![screenshot from 2017-01-25 14-24-57](https://cloud.githubusercontent.com/assets/410440/22305624/365ac556-e30a-11e6-9a17-aa0426dcadfa.png)

[2017-01-25 19:38] gnunn1 commented on #714
You are welcome, glad it worked out.

[2017-01-25 19:38] #714 closed

[2017-01-25 19:41] f2404 commented on #714
@gnunn1 Shouldn't the install script fail in such case, to avoid broken installations?

[2017-01-25 19:55] gnunn1 commented on #714
@f2404 I don't disagree, but people should install from packages so I haven't spent much time on optimizing it.

[2017-01-26 11:36] bil-elmoussaoui opened #715 "Use a Gtk.ToggleButton for Search"
Search Button on the header bar is currently using Gtk.Button instead of Gtk.ToggleButton.
https://github.com/gnunn1/terminix/blob/master/source/gx/terminix/appwindow.d#L366

[2017-01-27 00:07] #712 closed

[2017-01-27 00:10] #699 closed

[2017-01-27 00:12] gnunn1 commented on #704
At first I thought you were asking for a detachable session but re-reading it sounds more like you want to create a new session from a tiled terminal, is that correct?

[2017-01-27 13:10] #715 closed

[2017-01-27 14:51] apcamargo commented on #704
Yes, that's what I meant

[2017-01-27 19:20] fbruetting opened #718 "env variables aren't adapted at program start"
After entering `LANG=en_US.UTF8 terminix` I get this output in the new terminal:
[code]

[2017-01-27 19:25] f2404 commented on #718
Is another instance of terminix with LANG=de_DE.UTF-8 already running?

[2017-01-27 19:26] fbruetting commented on #718
No, but why should this be affected by other instances?

[2017-01-27 19:28] f2404 commented on #718
Well, it seems it is.
`LANG=ru_RU.UTF-8 terminix` works fine for me here - unless there's another instance of terminix run with default locale which is en_US.UTF-8.

[2017-01-27 19:31] fbruetting commented on #718
I tested this again before confirming this to you. I expect this to work, even if other instances are running, seems strange to me.

[2017-01-27 19:32] fbruetting opened #719 "Commands are executed, despite there's something wrong if sudo authentication is active"
Without having yet entered the sudo password, the command is stopped:
[code]

After having authenticated (by `$ sudo ls`), the first command gets executed:
[code]

// Edit: The command even runs when not using sudo and Gnome-Terminal behaves the same. Guess it's not Terminix-related… so whom should I report this bug?

[2017-01-27 19:34] gnunn1 commented on #718
Terminix is a single process, so multiple windows all run in the same process. Thus whatever language you us to start the original process persists for the others.

[2017-01-27 19:41] fbruetting commented on #718
Ok, I misunderstood this – I can't start in a first Terminix window, but have to start in e.g. Gnome-Terminal and call Terminix with the env I want it to run. Then it works. But can't arguments be passed so the new instance runs like `LANG=XYZ` at start before showing the prompt? Doing this manually works!

[2017-01-27 19:43] f2404 commented on #718
You could create a launcher and run terminix with the desired locale.

[2017-01-27 19:45] #718 closed

[2017-01-27 19:47] fbruetting commented on #718
I don't need this regularly, but I see this more as a general deviation from expected behaviour. Because every other program I know of accepts env variables passed this way. Maybe I'm wrong…?

[2017-01-27 19:47] gnunn1 commented on #719
I'd say bash, I don't think this is a terminal emulator problem.

[2017-01-27 19:47] #719 closed

[2017-01-27 20:10] gnunn1 commented on #718
Most GTK 3.0 applications are single instance and work the same way that terminix does, for example:

[code]

the new window is in english not russian.

[2017-01-29 04:58] larsks opened #722 "Unable to open new terminix windows with Gnome hotkey"
I have a hotkey configured in my desktop environment that will open a new window, previously mapped to the command `gnome-terminal`.  If I replace this with `terminix`, then:

- If Terminix is not currently running, it will open a new Terminix window.
- If Terminix is already running, it does nothing.

I see the same behavior if I try to run Terminix via the Gnome "activities" interface.

I am ext

[2017-01-29 05:03] larsks opened #723 "The "-e" option does not work as documented"
According to the man page:

       -e --command=COMMAND
              Executes all text after this parameter as a command,  thus  this
              parameter must be the last parameter.

But try something like this:

    $ terminix -e env PS1="test$ " bash --norc

I would expect that to run `env PS1="test$ " bash --norc` in a new Terminix window, but it doesn't.  Instead, you get:

    Unknown op

[2017-01-29 05:07] larsks commented on #723
Requiring quoted strings *also* prevents a shell like `bash` from performing tab completion when typing in the command.

[2017-01-29 10:32] bil-elmoussaoui commented on #722
@larsks You can use `terminix --new-process` instead of `terminix`

[2017-01-29 10:34] highvoltage opened #724 "gschema overrides do not seem to apply"
Usually, you can override defaults in gschema xml files in /usr/share/glib-2.0/schemas by adding another file with a .gschema.override that contains the dconf settings to be applied as default.

So for example, when I add a file called 95_com.gexperts.Terminix.gschema.override to /usr/share/glib-2.0/schemas that contains the following:
[code]

It should set the default theme to dark and disable th

[2017-01-29 12:34] phw commented on #724
Are you sure you haven't personal user settings for the keys in question already? After all this does just change the defaults, not the user settings. Maybe try resetting all the Terminix dconf configuration for your user.

[2017-01-29 13:26] f2404 commented on #722
@bil-elmoussaoui `--new-process` isn't recommended for regular usage.
@larsks Assigning `terminix` to a shortcut does open multiple terminix windows here under Xfce. What is your DE?

[2017-01-29 14:00] larsks commented on #722
I saw that about `--new-process`, which is why I wasn't using it.

@f2404 I'm using a stock Gnome 3 install on Fedora 25.  It's not *just* a hotkey issue...going to the Gnome "activities" menu and trying to start Terminix has the same behavior (if there is already a terminix window open, nothing happens).

[2017-01-29 14:03] f2404 commented on #722
@larsks Do I understand correctly that there's no such issue with gnome-terminal? Can you try xfce4-terminal - will it behave as expected?

[2017-01-29 14:19] larsks commented on #722
@f2404 I am embarassed.  Doubly so because:

(a) It looks like it *was* a hotkey problem, and very likely something broken because I had upgraded some packages without restarting the desktop environment, and

(b) because I had erroneous memories of the behavior of the activities menu.

So...neeeeeeeever mind.

/me craws back under a rock.

[2017-01-29 14:19] #722 closed

[2017-01-29 17:04] gnunn1 commented on #723
gnome-terminal seems to have the same issue. I think the solution here is for terminix to implicitly quote everything after the -e while escaping any inner quotes. So when you type:

[code]

Internally terminix will treat it as:

[code]

[2017-01-29 17:05] gnunn1 commented on #723
Oh and just to clarify, by implicitly quote, I mean terminix would do this additional quoting internally before passing it onto the GTK application which handles the arguments.

[2017-01-29 17:50] #723 closed

[2017-01-29 18:10] gnunn1 commented on #724
The group ID you are using isn't correct, try this:

[code]

This gets it working for the warn-vte-config-issue but the theme-variant still isn't working, not sure if it's something to do with enums?

[2017-01-29 18:12] gnunn1 commented on #724
Oh never mind, it does work for the enum, I wasn't using the default setting.

[2017-01-29 18:12] #724 closed

[2017-01-29 18:28] f2404 opened #725 "Preferences: Gray out shortcuts list when un-checking "Enable shortcuts""
I think graying the list out would serve as a good visual indication of disabled shortcuts.

[2017-01-29 18:31] bil-elmoussaoui commented on #725
@gnunn1 If you're okay with that, i would like to give this a try :)

[2017-01-29 18:32] gnunn1 commented on #725
That would be great @bil-elmoussaoui, thanks. If you need any help just let me know.

[2017-01-29 19:05] rickysarraf opened #726 "terminix crashed with SIGABRT in g_assertion_message()"
Package: terminix
Version: 1.4.2-3

Hello,

I occasionally get this crash. I think this one has useful trace.

=============================
[code]

[2017-01-29 19:11] larsks commented on #650
From a strictly aesthetic perspective, I think in particular that "quake mode" would look nice without the title bar.

[2017-01-29 20:09] gnunn1 commented on #726
I think this is a VTE issue rather then a terminix issue, there seem to be a few bugs filed in gnome bugzilla with similar issues arround vte_terminal_accessible_get_text.

@egmontkob Any thoughts about this?

[2017-01-29 20:11] gnunn1 commented on #726
Here's the most relevant of the gnome bugzilla bugs as far as I can tell:

https://bugzilla.gnome.org/show_bug.cgi?id=745555
https://bugzilla.gnome.org/show_bug.cgi?id=753030

[2017-01-29 20:33] egmontkob commented on #726
Nope, nothing in particular. Someone should track down and fix them.

[2017-01-29 20:37] gnunn1 commented on #726
Thanks @egmontkob, closing as upstream issue.

[2017-01-29 20:37] #726 closed

[2017-01-29 21:34] gnunn1 commented on #680
Just an update on this, I have a basic bookmark manager working now and bookmarks are saved/loaded in a JSON file to ~/.config/terminix/bookmarks.json. The bookmark manager allows a users to do the basics of add, edit and remove bookmarks but there is still a lot of work to do before I can turn things on for users.

At the moment the following bookmark types are supported:

a. Folder - Used to org

[2017-01-30 06:43] rickysarraf commented on #726
Thanks. I just mentioned this crash report in the mentioned gnome bugzilla.

[2017-01-30 07:35] phw commented on #669
Just for completeness, I experience extreme lagging while scrolling with mouse wheel in one terminal currently. Using Terminix 1.4.2 on Arch.

A single terminal lags extremely. My system is not running other applications besides Terminix and Firefox, only 6 GB of 16GB are in use, no swapping, and CPU usage is down. Terminix itself has 3 sessions with a total of 8 terminals open, but no background

[2017-01-30 13:41] gnunn1 commented on #669
@phw Thanks for the report. I just made a change to cache the value of the preference for whether to zoom on control+scrollwheel rather then fetch it from dconf everytime the scroll wheel even handler is triggered, it's the only obvious thing I can see that could be causing this.

[2017-01-30 14:04] f2404 commented on #669
My 2 cents: I tried the latest git terminix, scrolling a text file with ~8500K lines; and I noticed that CPU consumption raised up to 20% and higher when I got to half of the file. I guess it could get even higher if doing more scrolling.
Another thing is that memory consumption is also slightly going up while scrolling.

[2017-01-30 14:24] gnunn1 commented on #669
Thanks @f2404, unfortunately I cannot replicate. I'm cat'ing a text file with 166472 lines in it and not noticing any performance issues with scrolling.

When you say 8500K do you mean 8500 lines or 8,500,000 lines?

[2017-01-30 14:26] f2404 commented on #669
@gnunn1 Oops, sorry, I meant 8500 or 8,5K lines.
My test is running `cat file` and then scrolling it with mouse wheel from bottom to top, watching the terminix process via htop in another terminal.

[2017-01-30 14:34] f2404 commented on #669
@gnunn1 It seems that I may have been running not the latest git version when I noticed CPU load increase. At least I cannot reproduce it now.
But I'm still seeing a memory load increase.

[2017-01-30 14:40] gnunn1 commented on #669
I just checked in a change an hour ago to optimize the VTE onScroll handler where I was previously reading from DConf, so maybe that was the problem after all.

As for memory load, I know at some point the VTE should start writing the buffer out to a temporary file but I can't remember when it kicks in.

[2017-01-30 14:45] f2404 commented on #669
Yes, it could be.

I checked xfce4-terminal on the same file, and it showed no memory load growth while scrolling.

[2017-01-30 14:47] gnunn1 commented on #669
If you are building terminix yourself in debug mode, you should have a GC menu item in the hamburger menu. If you click that a few times does the memory go back to a baseline?

[2017-01-30 14:56] bil-elmoussaoui commented on #631
@gnunn1 Do you have any idea on mind how to implement this? I would like to take a look, I thought about separating each accelerator by a delimiter, for example ",", and adding a second column to the TreeView for that.

[2017-01-30 15:02] bil-elmoussaoui opened #729 "Open in Terminix nemo plugin"
The same as Nautilus plugin but for Nemo. The code shouldn't be too different. I've installed Nemo and i will give this a shout!

[2017-01-30 15:04] #725 closed

[2017-01-30 15:06] gnunn1 commented on #729
Nemo already as an open in terminal which unlike Nautilus is configurable with regards to which terminal is used so I'm not sure this is needed?

http://winaero.com/blog/how-to-set-the-default-terminal-app-in-nemo/

[2017-01-30 15:12] gnunn1 commented on #631
@bil-elmoussaoui I think that's pretty reasonable actually, maybe label the second column as "Alternate". Note I think for the GTK ShortcutWindow we would only show the primary shortcut.

[2017-01-30 15:13] gnunn1 commented on #631
BTW, just make sure the delimited is something that can't be interpreted as a shortcut just in case someone actually binds something to the delimited key.

[2017-01-30 15:15] bil-elmoussaoui commented on #631
I will keep that in mind

[2017-01-30 15:19] bil-elmoussaoui commented on #729
Alright! i didn't knew that you can configure Nemo plugins. I was thinking of reusing the same shortcut key that we use in Nautilus for Nemo and rename the Nautilus string to File Manager or something like that. Terminix having it's own Nemo plugin will allow us to port the same functionalities to both plugins without having to wait for that to be implemented upstream;

 Anyway, It's up to you. I

[2017-01-30 15:33] gnunn1 commented on #729
I wouldn't bother personally, I know people are using Terminix with Nemo just fine as it is.

[2017-01-30 17:13] f2404 commented on #669
@gnunn1 I've built it with `dub build --build=debug` but cannot see GC menu.

[2017-01-30 17:27] gnunn1 commented on #669
Sorry you need to build it with tracing enabled as well:

[code]

I'll adjust dub.json so that the GC flag applies to all debug builds.

[2017-01-30 17:27] #729 closed

[2017-01-30 17:29] gnunn1 opened #731 "Build debug builds with GC flag"
Currently to get the GC menu item when building a debug release you must enable the trace configuration. This should be adjusted so that all debug builds include the GC flag by default.

[2017-01-30 17:33] f2404 commented on #669
Thanks, I got the menu now.

Observation 1: terminix eats memory on each focus switch to another app, and this memory isn't recovered by GC.

[2017-01-30 19:34] gnunn1 commented on #669
Thanks @f2404, I'll have a look into it.

[2017-01-31 11:07] #731 closed

[2017-01-31 11:13] bagage opened #733 "With infinite history, scrolling become slow even after resetting terminal"
If I enable infinite scrolling (no lines limitation) and use a terminix tab for a long time, the scroll becomes very rough even if the tab actually contains almost nothing (because I typed `reset` in it).
If I open a new tab, then scrolling restarts to be smooth again.

It's unclear how to reproduce it, but I think by having looots of lines printed at a given time, then typing `reset`, having some

[2017-01-31 11:17] f2404 commented on #733
@bagage Can you check if CPU usage increases when scrolling, like described in https://github.com/gnunn1/terminix/issues/669#issuecomment-275996264?

[2017-01-31 11:55] bagage commented on #733
@f2404 Indeed I missed this issue - most of the symptoms are similar. I'll build terminix from master and see if it was already solved.

[2017-02-02 11:25] friimaind opened #736 "Terminix crash on ssh timeout"
If I connect to an ssh server and leave the app for a long time (like 30minutes) the SSH server will not respond (and this is not a Terminix thing obviously, it's the ssh timeout) but when I try to hit "close" on Terminix window it crashes.

This is the app crash log: https://gist.githubusercontent.com/friimaind/8bad9785b24f8eeeffd022c0214a732c/raw/84282d59124368108b75aae19479d1f2a483b85a/terminix

[2017-02-02 13:45] gnunn1 commented on #736
Thanks for the repot. Is this reproduceable and if so if I built a debug version for you would you be willing to run it under gdb and get a backtrace? (I'll provide instructions, it's very easy to do).

[2017-02-02 13:59] friimaind commented on #736
Sure! Please let me know how can I do ;)

[2017-02-02 14:59] gnunn1 commented on #733
@bagage Any update on this, is it fixed in master for you?

[2017-02-02 15:42] bagage commented on #733
It's unclear since I have hard time reproducing it. For now let's close it, I'll reopen if I manage to reproduce it :).

[2017-02-02 16:21] friimaind commented on #736
@gnunn1 I don't know if I made some mistakes but I tried gdb and this is the result:

gdb terminix
GNU gdb (Ubuntu 7.11.90.20161005-0ubuntu1) 7.11.90.20161005-git
Copyright (C) 2016 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permit

[2017-02-02 16:52] gnunn1 commented on #736
Thanks, unfortunately the terminix binary needs to be built with debugging information in order for gdb to provide a proper backtrace. I should probably make a happy of building it both ways when I do a release.

I'll do the build for you later tonite when I'm back from work.

[2017-02-02 19:24] f2404 commented on #736
@friimaind How do you actually trigger ssh timeout? I wasn't able to reproduce the issue having connected to a ssh server and waited > 30 mins. What is the scenario?

[2017-02-02 19:26] gnunn1 commented on #736
I've uploaded a 1.4.2 version of the binary compiled with debug information at the link below. Run it in gdb and when it crashes, use the ```bt``` command in gdb to get the backtrace. Post everything here and I'll have a look. Thanks for your help tracking this down.

http://www.gexperts.com/files/terminix.zip

[2017-02-02 20:22] gnunn1 commented on #669
@f2404 So I'm looking into that memory focus issue and while I can see the memory increase I'm stumped as where the issue is. I've tried commenting out all the event handlers and the problem is still happening. Interestingly I see the exact same behavior with gedit and nautilus.

Can you do a quick test of gedit and confirm whether or not you see the same thing there?

[2017-02-03 06:18] f2404 opened #737 "master doesn't build"
[code]
Same for the Travis CI build: https://travis-ci.org/gnunn1/terminix/jobs/197871824

[2017-02-03 06:30] f2404 commented on #669
@gnunn1 Indeed, I can see the same happening with gedit; I also checked file-roller, and it showed the same. This looks like a common problem for gtk3 apps, I guess.
I wonder why this is not the case for xfce4-terminal - maybe because though it's a gtk3 app, it still has some gtk2 leftover that prevents the problem from happening...

Do you think memory increase on scrolling is the same issue as t

[2017-02-03 07:05] phw opened #738 "Re-work menus in terminal titlebar"
Currently the password dialog is only available via keyboard shortcuts, and I think there is not even a default configured for it.

[2017-02-03 10:29] Pajinek opened #739 "terminix in official distribution Ubuntu/Fedora"
I used terminator, but I started use terminix some months ago. I am really happy, this application is more better and more usable. But I would like to have installed from official repository.

Did you try to push project to official distribution?

[2017-02-03 10:38] phw commented on #739
Debian and Ubuntu already have it, but it is a mater of a new distribution release:

http://packages.ubuntu.com/zesty/terminix
https://packages.debian.org/stretch/terminix

[2017-02-03 10:47] friimaind commented on #736
@f2404 honestly I don't really know. I have a cloud linux machine which on ssh, after about 30minutes without commands, it goes on some sort of timeout. I cannot insert new command so I need to close the window. If I use the stock ubuntu terminal I can close it, with Terminix I have a crash.

@gnunn1 I'm running your debug version of terminix. I I'll fill you in later. Thank you!

[2017-02-03 13:26] gnunn1 commented on #737
Yeah I saw that at 2 am, I've checked in a change to fix it while I investigate.

[2017-02-03 13:26] #737 closed

[2017-02-03 13:27] #739 closed

[2017-02-03 13:29] gnunn1 commented on #738
I think this is moving to more of a general issue as more features get added. For example, I'm working on bookmarks and it needs some menu items as well. That menu is somewhat size constrained since if you turn off the title everything goes to the context menu making it unwieldy. I'll need to look at re-organizing the menus or some other way of presenting commands.

[2017-02-03 14:16] f2404 commented on #669
@gnunn1 Makes sense.

[2017-02-03 15:37] friimaind commented on #736
Here it is the backtrace https://gist.github.com/friimaind/b6a843a20b5a276cf27674352265bcd7
:)

[2017-02-03 15:49] gnunn1 commented on #736
Thanks! I think the issue is that you are using GtkD 3.5.0 which terminix depends on, there was a bug with it that caused a crash when showing any dialog. For example, invoke the advanced paste or password dialogs and it would crash. This is fixed in 3.5.1 and later.

Can you check what version of the GtkD package you have installed.

[2017-02-03 16:18] friimaind commented on #736
@gnunn1 Hope this helps:

ii  libgtk-3-0:amd64             3.20.9-1ubuntu2           amd64        GTK+ graphical user interface library
ii  libgtk-3-bin                 3.20.9-1ubuntu2           amd64        programs for the GTK+ graphical user interface library
ii  libgtk-3-common              3.20.9-1ubuntu2           all          common files for the GTK+ graphical user interface library
ii  li

[2017-02-03 20:21] pmontrasio commented on #697
I might have run into this issue on Ubuntu 16.04. Unfortunately I eventually quit Terminix are started it again and didn't run into the problem again so far (2 hours). Ubuntu 16.04 is on GTK 3.18 and it might stay there forever, so it misses the bug fix unless they'll backport to it. I can't check what happened because my ```.xsession-errors``` is empty.

This is what I experienced:

If I scroll d

[2017-02-03 20:55] gnunn1 commented on #697
@pmontrasio I believe that's been fixed in master and is unrelated to this issue, see #669.

[2017-02-04 22:05] gnunn1 commented on #736
How are you installing Terminix, from a package and if so which one?

Also if you activate the password dialog does it crash?

[2017-02-05 16:20] buginfo opened #740 "Closing terminal warning"
if you open a terminal and for example go to scapy interactive shell and then try to close terminix it brings up a warning how can I remove the warning I cant see the option in settings

[2017-02-05 19:14] gnunn1 commented on #740
If you are using 1.4.2 or earlier you can't as an option for this has only been added fairly recently on master. On master there is a check box to not show the dialog again.

[2017-02-05 19:14] #740 closed

[2017-02-05 20:16] #713 closed

[2017-02-05 23:39] gnunn1 commented on #680
I've enabled bookmarks so feel free to give it a try and open bug reports as needed. Note that I would urge some caution in terms of backing up your bookmarks periodically in case you hit a bug. Bookmarks are stored in ```~/.config/terminix/bookmarks.json```.

Also, note the menu items in the terminal titlebar for bookmarks are not final, I'm planning on re-working that menu.

[2017-02-05 23:39] #680 closed

[2017-02-05 23:47] gnunn1 commented on #738
So has discussed, now that bookmarks have been added it's a good time to re-work the terminal titlebar. Ideally the more common actions would be at the top level, the lesser used in sub-menu(s).

Based on that, here's my initial proposal for the terminal titlebar structure, suggestions welcome. If someone has a better suggestion then other I'd appreciate that as well.

[code]

[code]

[2017-02-06 13:34] alex285 opened #741 "[Bookmarks] Shortcuts dont seem to work"
I have set two shortcuts for Bookmarks, one for Add and one for Open, and it doesn't seem to work

[2017-02-06 13:36] alex285 opened #742 "[Shortcuts] Filter shortcuts"
Is it possible to be a filter input on shortcuts view?

[2017-02-06 13:41] #741 closed

[2017-02-06 13:45] alex285 opened #743 "[Bookmarks UI] More Mouse friendly"
Right now if we dont use the shortcut https://github.com/gnunn1/terminix/issues/741 we need to

1. Click on session name
2. Click on Bookmarks
3. Click on Select Bookmarks
4. Click on the Bookrmark we want from the dialog

This isn't really fast, is it? :)

One option could be to have a separated button like (Open Bookmarks) which would open the Bookmarks dialog, and that would include the add (ne

[2017-02-06 13:51] gnunn1 commented on #743
See #738, I need to adjust the menus and bring the bookmarks to the top level. I'm not planning on adding additional buttons to the terminal titlebar, it just looks messy in my opinion. A bookmark sidebar, similar to iterm2's toolbelt, down the road might be an option but this would be a large investment in time since I'd probably adjust other aspects to use it.

With a terminal, your hands are ty

[2017-02-06 14:06] alex285 opened #744 "[Symbolic Icons] Some extra icons?"
That image pretty much describes the issue. There are 4 (2+2) identical icons almost on the same position

![terminix-titlebar](https://cloud.githubusercontent.com/assets/11244308/22649942/d0ff4648-ec85-11e6-90df-1f3f25e67974.png)

Could Terminix provide unique max/unmax and close icons?

[2017-02-06 14:09] alex285 commented on #743
@gnunn1 Good point with shortcuts, and also I didnt get how bookmarks auto-completion works in VTE. Does it work?

About titlebar I dont find it messy. Perhaps needs a bit design changes, and then it could host some more things.
For example https://github.com/gnunn1/terminix/issues/744

[2017-02-06 14:09] bagage commented on #733
I can reproduce the issue on master, shall I continue on this issue or go on #669?

I don't know exactly what helps to reproduce the issue, but it **seems** that having multiple subviews helps to reproduce it. Running `htop` and `top` in a subview seems to help another view to start lagging…

@gnunn1 What could I do to help on this? Obviously trying to find steps to reproduce would help, but apart

[2017-02-06 14:36] gnunn1 commented on #744
No, I don't think that would be a good idea. It would be confusing trying to explain what the new icons are and wouldn't fit it in well with the various icon themes.

[2017-02-06 14:36] #744 closed

[2017-02-06 14:46] gnunn1 commented on #733
What do you mean by subview, multiple split terminals?

Here are a few suggestions for things to try:

a. Test to see if you can reproduce the issue in gnome-terminal, terminix uses the same VTE widget that gnome-terminal does for terminal emulation and it's possible the issue in that component rather then terminix itself.

b. Try commenting out vte.addOnScroll line you referenced to see if it mak

[2017-02-06 15:28] f2404 opened #745 "git master: segfault"
[code]

[2017-02-06 15:32] f2404 opened #746 "Add terminal buttons inactive"
After adding a terminal to the right and closing a terminal, both add terminal buttons became inactive.
I will try to reproduce it and describe exact steps.

[2017-02-06 15:34] f2404 commented on #746
Sorry, I think I just maximized a terminal.

[2017-02-06 15:34] #746 closed

[2017-02-06 15:41] gnunn1 commented on #745
I took a stab at fixing this based on the stacktrace. Is it reproducible for you and if so could you try the commit and see if it helps?

[2017-02-06 15:49] f2404 commented on #745
I could reproduce the very same segfault but I've got 2 other with slightly different trace:
[code]

[2017-02-06 15:54] gnunn1 commented on #745
Can you tell me the steps to reproduce it?

[2017-02-06 15:55] f2404 commented on #745
I was randomly clicking on the header bar (to trigger session name field) while adding/closing terminals and opening and closing new windows and sessions. The exact scenario is unclear to me.

[2017-02-06 16:07] f2404 commented on #745
I was able to reproduce the 2nd segfault with your latest commit.

[2017-02-06 16:14] f2404 commented on #745
Sometimes (not always) it crashes in the following scenario:
- open terminix and click header bar to open a field;
- open another terminal down;
- click header bar to open a field;
- close current terminal while the name field is open;
- wait a sec and open Preferences -> segfault.

[2017-02-06 19:14] gnunn1 commented on #745
I'm not able to reproduce this, however after looking at the code I've noticed one oddity where I was manually setting the timeoutId to 0. This should no longer be necessary after some fixes were made in GtkD and maybe it was causing an issue of some sort. Anyway, try it out and see if you can still reproduce.

[2017-02-06 19:16] f2404 commented on #745
Nope, it's still there, the same scenario as described above.

[2017-02-06 19:27] gnunn1 commented on #745
OK I can reproduce with LDC but not DMD, investigating...

[2017-02-07 01:54] gnunn1 commented on #745
I've tracked this down, it looks like an LDC optimization issue to me. Timeout.d from GtkD has the following code in it:

[code]
What this code does is call the listeners (which is terminix) and return true/false depending on whether any of the listeners want the timer to continue. In my case, the listener always returns false which should result in runAgain returning false. However I can see the

[2017-02-07 07:10] f2404 commented on #745
@gnunn1 Wow, looks like quite an investigation!

[2017-02-07 10:28] alexwhitman commented on #743
Indirectly related to this but how about exposing bookmarks via the session switching drop down (and making that more of a generic action panel)?  That way you could search for and load bookmarks via the keyboard.

[2017-02-07 13:46] vabada commented on #49
This same thing just happened to me, with:

[code]

under Ubuntu 16.04

In line:
[code]
[code]

[2017-02-07 15:41] #745 closed

[2017-02-07 15:42] gnunn1 commented on #745
I've fixed this by manually creating the timeout myself instead of relying on the GtkD object for it.

[2017-02-07 15:43] gnunn1 commented on #736
@friimaind Any update on the questions above? Your version of GtkD looks OK but the error still seems identical to the GtkD 3.5.0 issue.

[2017-02-07 15:48] f2404 commented on #745
Yes, seems to be fixed now, thanks!

[2017-02-07 18:02] #738 closed

[2017-02-07 18:03] gnunn1 commented on #738
I've adopted the menu structure above, probably some adjustment required once complaints start coming in.

[2017-02-07 18:06] gnunn1 commented on #743
@alexwhitman It's not a bad idea, unfortunately It's fairly complicated to expose the bookmarks and allow filtering since they are hierarchical. I build a custom treeview to handle this as well as other common operations for bookmarks.

I do think longer term there is merit in your suggestion in terms of having one dialog/sidebar that you can type into it and would return anything that matches be

[2017-02-07 18:07] gnunn1 commented on #743
I've adjusted the menus, closing the issue.

[2017-02-07 18:07] #743 closed

[2017-02-07 21:27] #742 closed

[2017-02-08 09:30] Nevel opened #748 "Segfault when combining the q and s parameters"
Both the q and the s parameter work fine, except when combined (resulting in a segfault).

[ 3062.004053] terminix[15686]: segfault at 0 ip 000000000057e66b sp 00007fff59bc4820 error 4 in terminix[400000+1e5000]

Terminix version: 1.4.2
VTE version: 0.42
GTK Version: 3.18.9

OS: Linux Mint 18.1 Serena x86_64
Kernel: 4.9.1-040901-generic

Please let me know if you need any more info.

[2017-02-08 09:31] alexwhitman opened #749 "Quake mode opening when new instance is set to focus window"
I've been seeing an issue lately with Quake mode but I'm not sure when it started.  Under Ubuntu 16.04 I've configured a key combination to open Terminix in Quake mode.

If Terminix isn't running and I open a standard terminal window, triggering a quake mode window just focuses the terminal window.  If instead I first run Terminix in Quake mode and then open a standard terminal window, Quake mode

[2017-02-08 13:46] gnunn1 commented on #748
I can reproduce, thanks for reporting this.

[2017-02-08 13:47] gnunn1 commented on #749
Thanks, I can reproduce it and I'll sort it out, should be an easy fix in ```application.d```.

[2017-02-08 15:05] friimaind commented on #736
sorry for the late @gnunn1

I installed Terminix from https://launchpad.net/~webupd8team/+archive/ubuntu/terminix

Sorry, what password dialog?

I connect to the ssh server simply with "ssh root@HOST_IP". I insert the password and I'm in.

**UPDATE** I noticed that there is no relation with the timeout. I'm sorry. If I close the Terminix windows immediately after I connect to ssh it crashes.

![se

[2017-02-08 15:23] gnunn1 commented on #736
Hmm, this might be an easy solution based on that stack trace. Do you have the icon ```utilities-terminal``` installed in your system as part of your current icon theme? You can look for it with the following command:

[code]
Confirm that it is available in the icon theme you are using as it may be in others you have installed but not the in the theme you are using.

[2017-02-08 15:56] leoheck opened #750 "Terminix and GNU screen"
I am using screen to handle (usb) serial connection with the command.
[code]

After exiting the screen program with `Ctrl-A, Ctrl-D` combo, terminix becomes little strange. For example,  the scroll wheel on mouse changes its behavior to navigate through the command history instead of scrolling the terminal screen. Also, I cannot open a new serial connection again.

I don't know who is the culprit

[2017-02-08 16:05] friimaind commented on #736
I'm using the icon theme "Numix-circle" and this is the result of

**/usr/share/icons/Numix-Circle/48/apps/utilities-terminal.svg**
/usr/share/icons/Humanity/apps/24/utilities-terminal.svg
/usr/share/icons/Humanity/apps/48/utilities-terminal.svg
/usr/share/icons/Humanity/apps/16/utilities-terminal.svg
/usr/share/icons/Humanity/apps/32/utilities-terminal.svg
/usr/share/icons/Humanity/apps/22/utilit

[2017-02-08 16:11] gnunn1 commented on #750
Do you have the same issues in gnome-terminal, for example not being able to open the serial connection again.

[2017-02-08 16:13] gnunn1 commented on #736
The line in the stack trace where it is failing is at the point it's trying to load the icon. Does it make any difference if you use a different icon theme?

[2017-02-08 16:20] friimaind commented on #736
I restored the default "ubuntu-mono-dark" icon theme without luck :(

https://gist.github.com/friimaind/080007272236b7496dcf52bfd482dbaa

Could you tell me the path where the icon is loaded?

[2017-02-08 16:37] gnunn1 commented on #736
It's not a specific path, it's just loaded from the resource following whatever rules it uses to locate the icon from the theme. In your stack trace, it looks like it is failing at this line:

https://gist.github.com/friimaind/0b0fa70170255e0467c0b52491705eed#file-gistfile1-txt-L99

with the message ```File o directory non esistente``` which is I'm thinking the icon is not being found. Looking at

[2017-02-08 16:40] friimaind commented on #736
Oh.. The weird thing is that if I close a local terminal I don't have any problem **but** if I connect to any ssh server and then close the window **without disconnecting from ssh server** it crashes.

[2017-02-08 16:42] f2404 commented on #736
@gnunn1 I believe it's worth anticipating a case when an icon wasn't loaded by adding a check against null or something.

[2017-02-08 17:06] gnunn1 commented on #736
@f2404 Absolutely, I'm just trying to determine if this is in fact the issue

@friimaind The dialog requires that icon is only presented if a process is running when you try to close the terminal that's why it only happens in this case.

[2017-02-08 17:17] friimaind commented on #736
@gnunn1 thank you, I tried to close the Terminix window with running htop, tail -f but the crash did not occurred. Is this normal?

[2017-02-08 17:18] gnunn1 commented on #736
Did the close dialog appear for htop, if so the issue isn't the icon.

[2017-02-08 18:34] leoheck commented on #750
Good question, sorry by not to verify it when I made the issue, my fault.

gnome-terminal, terminator and terminix with the same behavior. I found the problem. I was using ``Ctrl+A, Ctrl+C`` instead of ``Ctrl+A, Ctrl+D``.

[2017-02-08 18:34] #750 closed

[2017-02-08 23:08] #749 closed

[2017-02-08 23:27] #748 closed

[2017-02-09 09:55] OmanF opened #752 "Switching height control on Quake mode can cause window to reopen at 100% height"
(**_Gnome 3.22, Fedora 25_**)

1. Via the Gnome settings, set a keyboard shortcut to activate Terminix Quake mode (`terminix --quake`)
2. Open a Terminix console (with the shortcut key)
3. Go to the Quake settings page again and set the "Height percentage" bar to be over 50% (gauge by eye, since there's no numbering given)
4. Close Terminix *completely* (i.e. not just the settings page, but the co

[2017-02-09 09:57] OmanF commented on #752
Maybe has something to do with #617 and #573? They seem close...

[2017-02-09 11:18] gnunn1 commented on #752
Are you using Wayland, if so if you login using X11 instead do you still see the same issue?

[2017-02-09 11:41] OmanF commented on #752
Indeed, switching from Wayland to X11 resolves the issue.

I'll leave it up to you if you consider this a _"Close"_ for the issue or not. Personally I can live with X11 over Wayland so I'm good. Thanks.

[2017-02-09 12:14] pedromellofh opened #753 "always on top in quake mode"
it would be nice if quake-mode was "always on top"

[2017-02-09 12:18] f2404 commented on #753
It is always on top for me. Have you unchecked the setting "hide window when focus is lost"?

[2017-02-09 13:16] pedromellofh commented on #753
yes, i have it unchecked. i'm on fedora 25 under wayland... could be it the cause

[2017-02-09 13:35] f2404 commented on #753
Yes, wayland could be the reason - it's not actually allowing app windows to fine tune their position.
Can you login using X11 and try it, just to make sure?

[2017-02-09 13:45] pedromellofh commented on #753
yes, wayland is the bad guy... it worked flawlessly on x11

[2017-02-09 14:11] pedromellofh commented on #753
on wayland, I'm able to set always on top via context menu (alt+space) but it resets each time the window shows up

[2017-02-09 14:23] gnunn1 commented on #753
There's not much I can about Wayland issues unfortunately, it was one of the major reasons why I wasn't initially going to even bother with a quake mode.

[2017-02-09 14:24] #753 closed

[2017-02-09 14:25] gnunn1 commented on #752
Unfortunately while I wish I could fix it my hands are tied unless I start writing Wayland extensions for different compositors which I'm not willing to do.

[2017-02-09 14:25] #752 closed

[2017-02-09 17:03] gnunn1 commented on #733
@bagage Did you get a chance to try any of those items?

[2017-02-09 19:04] bagage commented on #733
@gnunn1 Yeah, I have currently commented out the callback (test `b`). And did not encounter the issue yet… I'll do the `a` test (use gnome-terminal) to see if I can reproduce.
For `c`, I have no idea if my VTE is patched or not.

[2017-02-09 19:37] gnunn1 commented on #733
Just type ```terminix --version``` and post the results here, I can tell if it's patched from that.

[2017-02-09 19:57] bagage commented on #733
OK, here it is:

[code]

[2017-02-09 20:16] mjourdan opened #754 "Use a fluid layout"
I have been using terminix for a couple of weeks now, and it seems we could have a nice gnomish terminal here! Thanks! The way multiple panes are handled feels a bit counterintuitive, and could use some improvements.

Let's say I have to work on a cluster of 4 machines: I'll want to vertically divide the window in 4 equal parts. For this, I'll have to click on the split button 2 times, select the

[2017-02-09 20:53] miekg commented on #733
Seeing the same thing, but in a precompiled version: 1.4.2-1~webupd8~xenial0

[2017-02-09 21:27] gnunn1 commented on #733
@miekg Please try building from master, I've fixed one significant thing causing this there.

[2017-02-09 21:36] miekg commented on #733
Cool thank you.

Seeing the deps (DMD) I'll just wait for an .deb update.

[2017-02-09 21:37] gnunn1 commented on #754
You can automatically "balance" the terminals by double clicking one of the splitters, this tries to re-distribute the sizes so that all terminals come out the same horizontally though it has limitations and sometimes requires doing it twice.

The real issue is that the GTK splitter only supports two panes, thus to achieve all of the ad-hoc panes splitters gets embedded in other splitters many tim

[2017-02-09 22:41] egmontkob commented on #754
FYI: https://bugs.launchpad.net/terminator/+bug/1521765 comment 11 onwards. (I didn't take a closer look, not sure if it made into gtk 3.22.)

[2017-02-09 22:49] gnunn1 commented on #754
Thanks @egmontkob, I'm aware of that component but it hasn't made it into GTK. I believe it is being used in Builder, I'll check if it's installed with a GIR file, might be fun to try out at some point.

[2017-02-10 15:45] friimaind commented on #736
@gnunn1 Nope, I don't see any close dialog with htop. The window closes simply.

[2017-02-10 15:54] gnunn1 commented on #736
That's weird, it should be consistent for any process. If you run ```sleep 100``` from the command line and then close the terminal do you get the dialog?

[2017-02-10 16:27] friimaind commented on #736
@gnunn1 nope, no dialog

[2017-02-10 17:03] gnunn1 commented on #736
What shell are you using, the default Ubuntu one, dash?

[2017-02-10 18:09] bagage commented on #733
So I do not reproduce it with gnome-terminal nor while commenting the callback @gnunn1. But I can reproduce it on terminix master.

[2017-02-11 10:15] toplinuxsir opened #755 "why My terminix 1.4.2 not showing badges?"
why My terminix 1.4.2 not showing badges?

[2017-02-11 11:14] phw commented on #755
Badges require a patched VTE, see https://github.com/gnunn1/terminix/wiki/Badges for details.

What is the ouput of `terminix --version`? It should show `Badges enabled=1` if the VTE patch is present.

[2017-02-11 14:25] gnunn1 commented on #733
gnome-terminal as far as I can tell doesn't connect to the scroll-event signal in VTE. The code I'm using in the event handler is pretty minimal and shouldn't be causing any performance issues unless you have the zoom on scroll wheel option enabled:

[code]

The only thing I can think of is binding to the scroll event itself is causing an issue, maybe a bug in VTE. I'll adjust the code so it only

[2017-02-11 14:35] #733 closed

[2017-02-11 14:44] gnunn1 commented on #733
@bagage Please try out the latest commit and see if it fixes the issue for you. It should be semantically the same as commenting out the event handler since the event handler will only be binded if the "Zoom the terminal using <Control> with mouse wheel" option in behaviors. Thus my expectation is:

Zoom option off - no issue
Zoom option on - issue occurs

I don't think I can fix it for when the Z

[2017-02-11 14:49] gnunn1 commented on #733
And after typing that I realize there is a struct version of the event handler which doesn't require creating an object each time's invoked so I've updated the code to use that. Anyway, @bagage please test this with the zoom option off and the zoom option on, I'm quite curious to see if it's now fixed for both cases.

[2017-02-11 14:50] gnunn1 commented on #754
I'm closing this because it is not something I am going to address at this time. Maybe if that component makes it into GTK4 I'll re-visit it, otherwise it's a limitation of GTK.

[2017-02-11 14:50] #754 closed

[2017-02-12 01:28] bil-elmoussaoui opened #756 "Don't always show the searchentry on shortcuts settings"
I think it's better to hide the search entry, and show it only when the user uses CTRL +F or add a Gtk.ToggleButton to the headerbar as it's done on the new design of Gnome settings :)

[2017-02-12 02:11] gnunn1 commented on #756
I don't think the headerbar is going to work since this is the only page to support search, it would just be weird to have a disabled search button except for this one page. I'm also not a fan of making it shortcut driven as it renders it un-discoverable. Any other ideas?

[2017-02-12 02:12] gnunn1 commented on #736
Also can you try the beta version I just posted and see if you have any better luck.

[2017-02-12 14:44] dsboger commented on #756
Maybe you could hide the search button on different pages, instead of disabling it.

[2017-02-12 15:03] gnunn1 commented on #756
@dsboger That's a good idea, thanks.

[2017-02-12 17:24] mjourdan commented on #754
Ok, let see what happens on the gtk side. Thank you for tip by the way.

[2017-02-12 17:33] vaijab opened #757 "Font line spacing / line height"
Apologies for asking probably a dumb question. I realise that terminix uses vte widget for rendering terminal text. Does VTE expose any controls over font line spacing or character spacing? Are there any other options for configuring fonts per application?

[2017-02-12 17:36] f2404 commented on #757
No, everything you can do with vte is choose a font and allow/disable bold chars, that's it.

[2017-02-12 17:41] gnunn1 commented on #757
@f2404 Pretty much covered it, however note that the fonts are configured on a per-profile basis. You could have multiple profiles with different fonts configured in each and switch between them as desired.

[2017-02-12 17:41] #757 closed

[2017-02-12 18:22] marciosr commented on #681
What about the first approach with fixed lateral icons but with floating preview like tabs of opera browser?
![tabpreview](https://cloud.githubusercontent.com/assets/1645395/22864818/53e4aaf4-f13f-11e6-8679-f58ef28daec0.png)
I think that this could be useful if used with traditional tabbing.

[2017-02-12 19:55] alex285 commented on #681
@gnunn1 what @marciosr says is what MS Edge does with tabs, and it is really nice, if you can make a nice transition with like 1.5s delay.

[2017-02-12 20:59] phw commented on #681
What I am strictly against is the idea of having both the sidebar *and* tabs, that has come up here a few times. That's seriously too much hierarchy (multiple windows -> multiple sessions -> multiple tabs -> multiple terminals).

Also for what it's worth the sidebar as opposed to having traditional tabs on the top is one of the reasons I love Terminix. Tabs for me take away too much vertical scree

[2017-02-12 21:08] gnunn1 commented on #681
@phw The sidebar with preview is what I am leaning towards myself, it would have the option to either be permanent or slide out as it does now.

[2017-02-12 21:08] marciosr commented on #681
I agree with you @phw there is no need to have both (side bar and tabs).
An option to hide the side bar is a useful feature in my opinion too.

[2017-02-12 21:08] gnunn1 commented on #755
@toplinuxsir Does that answer your question, can this be closed?

[2017-02-13 01:19] toplinuxsir commented on #755
How to compile with badges in debian 9.0 ? Is there any tutorial ?
Thanks !

[2017-02-13 01:29] gnunn1 commented on #755
All I have is what I wrote here:

https://github.com/gnunn1/terminix/tree/master/experimental/vte

[2017-02-13 01:29] #755 closed

[2017-02-13 07:09] highvoltage commented on #681
I convinced a client of mine to go over to Terminix instead of Terminator (because it got very crashy recently). The #1 feedback from their users were that they missed being able to see which tabs (or sessions) were open. I told them that they can press F12 and then the number of the terminal to switch, which helps a lot. But ultimately option #3 that you mentioned above would fix that quite well.

[2017-02-13 08:56] bagage commented on #733
First I tested your first fix (commit d383eb8) but I could NOT reproduce the issue, evenwith zoom option on. I mean any change was making terminix suffer (toggle fullscreen, zoom with `^+`, etc.), but zooming with the wheel was always smooth.
I'm testing the newest version now - sorry it always takes a bit of time to test it :).

[2017-02-13 12:48] gnunn1 commented on #681
@highvoltage I'll be working on this after the next release in a week or two.

[2017-02-13 13:50] friimaind commented on #736
@gnunn1 I'm using the default one which, I think, is bash:

I see if I can test the beta, thank you

[2017-02-13 17:18] phw opened #758 "Change ${title} in trigger"
I am experimenting with triggers, and I wonder if it would be possible to just change the ${title} variable with a trigger action. I know I can set the entire title string with the corresponding action. But I actually would like to only set the `${title}` variable, so I can leave it as is in most cases, but have some triggers that explicitly overwrite it.

Not sure how this `${title}` works, this

[2017-02-13 17:51] bertob commented on #681
@gnunn1, thanks for making Terminix, it's the only terminal that truly feels at home in GNOME 3.

I've been using Terminix for a while now, and to be honest I've never once used the sidebar. I have opened it a few times, mostly out of boredom, and created a second workspace, but when prompted for a name I clicked Cancel and closed it again, because I didn't want to think about what to name it. I u

[2017-02-14 01:48] gnunn1 commented on #758
No it is not and unfortunately I don't have any plans to support this. I feel this would be making things too complicated, particularly if I had to support it across all variables for consistency. I'm not seeing an issue with just using the same title as the default and making the change.

[2017-02-14 01:48] #758 closed

[2017-02-14 04:52] akyag commented on #283
I am on gnome 3.22.2 and this extension didn't work for me. I do have nautilus-python so that isn't the problem.

[2017-02-14 14:16] otarassov opened #762 "dashes appear at the top"
Noticed something new that occurs when enough commands have been typed to pass full page of the terminal screen. Horizontal dashes ( ------------- ) appear on top on the terminal screen.
![terminix](https://cloud.githubusercontent.com/assets/18312101/22932496/1f29b572-f296-11e6-9e69-a21ecf9bb6cf.png)

Not sure if its intended.

[2017-02-14 15:26] #756 closed

[2017-02-14 15:29] Nemial opened #763 "Build Error(Version 1.4.9)"
Hi, I have error occurs when building the 32 bit version of your program, you can fix it?
source/gx/terminix/terminal/terminal.d(1860): Error: function gobject.Signals.Signals.handlerDisconnect (ObjectG instanc, uint handlerId) is not callable using argument types (ExtendedVTE, ulong)