[2016-03-26 02:43] #170 closed

[2016-03-26 12:36] alex285 opened #184 "DnD file paths from network will crash terminix"
https://www.youtube.com/watch?v=xn-wWGj2EGs

[2016-03-26 14:38] gnunn1 commented on #184
Thanks for finding this, I need to do the same thing that the Open In Terminix plugin is doing which is convert it to a local path.

[2016-03-26 15:11] arshavindn commented on #184
also, in terminix type `terminix -x blabla`, a new terminix window appears and has nothing, then close it, another terminix closes too

[2016-03-26 16:34] arshavindn opened #185 "[feature request] add visual effect when close sidebar"

[2016-03-26 17:39] gnunn1 commented on #185
Sorry, you are going to have to be more explicit, what sort of visual effect are you thinking of?

[2016-03-26 18:51] alexwhitman commented on #185
I'm guessing @arshavindn means a slide left, the inverse of the slide right transition `setTransitionType(RevealerTransitionType.SLIDE_RIGHT);`.  Looking at the GTK Revealer class there doesn't appear to be a visible->invisible transition, only an invisible->visible transition.

[2016-03-26 20:06] #184 closed

[2016-03-26 20:21] gnunn1 commented on #184
@arshavindn I've fixed this as well, in the future please open new bug reports for unrelated issues rather then chaining it to an existing one. Makes it easier to associate commits with issues. Thanks for reporting it, much appreciated.

[2016-03-26 20:22] gnunn1 commented on #185
It's probably because I'm explicitly hiding the sidebar to fix an issue where GTK thinks it's still open and keeps sending button presses to it as reported in #142.

[2016-03-26 20:27] #185 closed

[2016-03-27 00:09] ivoarch opened #186 "Add the names of the current sessions in the sidebar"
Hi @gnunn1, first of all great work!

It would be really nice if you can add the names of the current sessions in the sidebar, not only session numbering .

Something like that (three open sessions)
+--------------+
| Default (1) |
+--------------+
+--------------+
|   Zsh (2)     |
+--------------+
+--------------+
|  Emacs (3) |
+--------------+
.. etc

What about this?

[2016-03-27 00:40] gnunn1 commented on #186
Already done, I added it earlier this week and it will be in the next release.

![screenshot from 2016-03-26 20-39-51](https://cloud.githubusercontent.com/assets/9358238/14063180/00db004c-f393-11e5-90f7-1b865e2f6911.png)

[2016-03-27 00:40] #186 closed

[2016-03-27 00:45] gnunn1 opened #187 "Optimize Shortcuts"
I just added support for the new GtkShortcutsWindow feature added in 3.20, well most people won't benefit from it for awhile, Arch users should be getting 3.20 in the next few weeks and I wanted to get ahead of the curve.

One thing that is apparent is that the default Terminix shortcuts could really use some attention. If someone has a few cycles to spare and optimize the shortcuts plus assign sh

[2016-03-27 00:46] gnunn1 commented on #187
See here for more info on Gnome HIG guidelines for shortcuts:

https://developer.gnome.org/hig/stable/keyboard-input.html.en

[2016-03-27 01:48] edubxb commented on #187
Use the same shortcuts that GNOME Terminal have a lot of sense IMHO, p.e. `Ctrl + PageUp/PageDown` to switch between session (GNOME Terminal switchs tabs).

[2016-03-28 00:30] dsboger opened #188 "Compilation problem with `terminix-git` in AUR"
I'm having this failure message when I try to compile terminix using the `terminix-git` PKGBUILD from AUR [1]:

[code]

Is that a new dependency or some missing file in the tree?

Also, I get the following warnings a few times:

[code]

[1] https://aur.archlinux.org/packages/terminix-git/

[2016-03-28 00:38] gnunn1 commented on #188
The upgrade of GtkD to 3.30 added support for the new GTKShortcutsWindow so I added early support for it. I updated dub.json and dub.selections.json to 3.30 so it should compile fine and the warnings you are getting indicate that it is using that.

I think the warnings can be ignored, they never caused me any issue. See https://github.com/gtkd-developers/GtkD/issues/150

[2016-03-28 00:40] gnunn1 commented on #188
Also, try running ```dub upgrade```

[2016-03-28 00:46] dsboger commented on #188
Ok, the problem was I didn't properly clean my build folder and had some cached gtk-d tree. Built everything from scratch and it all worked fine.

[2016-03-28 00:46] #188 closed

[2016-03-28 03:29] dsboger commented on #170
I'm exploring the possibility of making AUR package `terminix-git` build with `--config=dynamic`. I tried following the instructions above, but it seems `gtkd-git` only builds static libs by default. Did you customize the PKGBUILD to build .so files too?

[2016-03-28 03:41] dsboger commented on #170
I've managed to make a custom PKGBUILD for `gtkd-git` and installed shared libraries for gtkd. I also built terminix using `--config=dynamic` and it works fine (using `dub-git`). The only (small) problem is that dub still fetches gtkd, even though it is installed system-wide. Is there a way to stop that?

[2016-03-28 03:42] gnunn1 commented on #170
Me bad, I was having trouble getting the make file going and installed gtkd-git then checked /usr/lib for them, saw them there and figured it came from the package. I guess the make did work after all despite some complaints. What's weird is I see the shared libraries in ```/usr/lib``` but I'm not sure what put them there.

If I run ```sudo make shared install``` it seems to run fine but installs

[2016-03-28 03:49] gnunn1 commented on #170
@dsboger I didn't spend a ton of time on this since as per my explanation earlier I didn't see it being very useful. I was mostly interested in it from the point of view of improving compile times to speed the development cycle but there was no change, about 9 seconds on my laptop for either static or dynamic.

I tried removing the dependencies block but it wouldn't compile despite having the libs

[2016-03-28 03:54] gnunn1 commented on #170
Actually, thinking about this more I wonder if it's possible. In C I'm thinking you would need the .h file to compile against a shared library and D doesn't have a similar artifact hence the source code requirement. Let me look into it some more tomorrow morning.

[2016-03-28 04:20] dsboger commented on #170
@gnunn1 I think you are right about the need to have access to the sources. Gtkd makefile installs the full source into `/usr/include/d/gtkd-3/`, but I don't know if dub supports looking there.

You don't need to spend time with this, as I'm doing unsupported experimental stuff. Let me look for it myself and I'll bother you again if I get stuck.

[2016-03-28 04:22] gnunn1 commented on #170
You could register the source GtkD registers as a local package in dub and
then reference it in Terminix dub.json.
On 28 Mar 2016 00:20, "dsboger" <notifications@github.com> wrote:

[2016-03-28 12:25] phw commented on #180
The new behavior is cool, like it very much

[2016-03-28 17:44] arshavindn opened #192 "search with match case checked does not work"
![screenshot from 2016-03-29 00-42-19](https://cloud.githubusercontent.com/assets/10246162/14084897/336e8e7e-f547-11e5-80a2-c36c95a33a1b.png)

[2016-03-28 18:34] brittyazel opened #193 "not sourcing /etc/profile.d for $PATH"
Let me preface this by saying that I have no idea if this is a Terminix issue. That being said, when using Gnome-Terminal, whenever I open the terminal my $PATH is set to: `/usr/local/sbin:/usr/local/bin:/usr/bin:/usr/lib/jvm/default/bin:/usr/bin/site_perl:/usr/bin/vendor_perl:/usr/bin/core_perl
`
Which is correct and properly sourced. However, when I initially open Terminix, my path is set to:
`/

[2016-03-28 18:38] gnunn1 commented on #193
Just to rule out the obvious, you don't have login shell enabled in gnone-terminal?

[2016-03-28 18:39] brittyazel commented on #193
Yes this was without login shell enabled in gnome-terminal

[2016-03-28 18:39] brittyazel commented on #193
I even rebooted for safe measure, and still the issue only reared its head in Terminix

[2016-03-29 04:39] dsboger commented on #170
I think I've found an issue with dub.json regarding the `"dynamic"` configuration. The way it is now, it links dynamically against `"gtkd-3"` but it still links statically against `"vted-3"`. To solve that, just add `"vted-3"` to `"libs"` in the configuration.

Also it seems dub does not figures the import path correctly. I suppose it should use `pkg-config --cflags $libs` and pass the result for

[2016-03-29 09:27] HeikoAdams opened #195 "Wrong category in desktop-file"
The category "Utilities" needs to be changed to "Utility" otherwise desktop-file-validate fails.

[2016-03-29 13:05] doubleloop commented on #187
Is it possible to support shortcuts with prefix (it would be easy transition from tmux if for example split window could be a sequence ctrl+b + " or ctrl+b + %) Right now I can not see the anything wich would enable such 2step shortcut in terminix.

[2016-03-29 13:08] gnunn1 commented on #187
@doubleloop Do you mean by sequence two separate key presses (i.e. press ctrl+a, release, press ctrl +b), if so you are right that would not be supported.

[2016-03-29 13:11] doubleloop commented on #187
@gnunn1  yes, I did mean that. Are there any chances that it will be supported in the future?

[2016-03-29 13:11] gnunn1 commented on #193
I'm happy to have a look at it but I've never heard of /etc/sources.d and I don't have it on my Arch system, what distribution are you using? Do you have a link that describes what it is used for as googling didn't turn up much?

[2016-03-29 13:16] gnunn1 commented on #187
@doubleloop Never really considered it, right now I'm using GTKs accelerator handling and I'm not sure it handles this sort of thing. I wonder if it could be done using an accessibility API perhaps, I'll check into it but the odds of me implementing this are pretty low unless GTK has built-in support for it.

[2016-03-29 13:34] gnunn1 commented on #195
When I run it on my Arch Linux I get the following:

[code]

Which implies the category is fine but it's just missing the semi-colon. I lot's of apps on my system using Utilities, I wonder if this is a distro/desktop difference? What distro and desktop environment are you using?

[2016-03-29 13:38] gnunn1 commented on #195
Oh, I see the problem now after comparing it to Fileroller, It needs to be set to ```Utility;X-GNOME-Utilities;```

I'll take care of that, thanks for reporting this.

[2016-03-29 13:53] brittyazel commented on #193
SORRY! Huge mistake, the folder is /etc/profile.d, not sources.d. I was working on a different project and somehow mixed up the folder name in my head. I'm sorry if that wasted your time!

I too am running archlinux. From my understanding /etc/profile.d is a directory that contains a series of shell scripts, one function of which is to be sourced for appending new directories to the $PATH variable

[2016-03-29 13:56] gnunn1 commented on #193
No worries, I should have paid more intention to the title.

Anyway, this is a known issue I think with Arch and some other distributions. See the FAQ below, while it talks about it in regards to the /etc/profile.d/vte.sh script the issue is the same:

https://github.com/gnunn1/terminix/wiki/VTE-Configuration-Issue

[2016-03-29 14:06] brittyazel commented on #193
Weird, I see now why enabling login-shell will rectify this issue. Here's the thing though, why is my Gnome-Terminal setting the path correctly now with/without login shell turned on? The whole issue that you described in the wiki seems now to only apply to Terminix's use of VTE and not Gnome-Terminal's use of VTE (under archlinux)

But like I said before, I definitely remember having this issue o

[2016-03-29 14:32] graingert commented on #25
@paolostivanin any updates to the PPA?

[2016-03-29 14:43] gnunn1 commented on #193
@brittyazel I don't think they've done anything on their side to fix it since on my system it's broken for gnome-terminal. Maybe do some googling for the issue with respect to gnome-terminal and see if you stumble on something that refreshes your memory of how you fixed it?

[2016-03-29 16:15] gnunn1 opened #196 "Add option to hide terminal titlebars"
Add an option to hide the terminal titlebars and drive functionality off of shortcuts and the context menu instead. Activating this option means you lose the ability to drag and drop terminals but gain some extra space. Other thoughts:

a. Should the title of the currently focused terminal appear in headerbar?

b. When a terminal is maximized does the state need to be indicated anywhere?

[2016-03-29 18:01] gnunn1 commented on #170
@dsboger Thanks for all your work on this, it's been quite interesting to see what you find. I suspect as you noted that subConfigurations is the way to go here for dependencies, have a look at this thread here http://forum.dlang.org/thread/kgajnfnsmxidzefmehms@forum.dlang.org. If subConfigurations is not working I'd open a bug with bug, feel free to link to it here if you do.

BTW, out of curiosi

[2016-03-29 18:50] HeikoAdams commented on #25
Fedora COPR is in progress :smile:

[2016-03-29 20:53] HeikoAdams commented on #25
My copr with v 0.55.0 is online: https://copr.fedorainfracloud.org/coprs/heikoada/terminix/

[2016-03-29 23:51] #195 closed

[2016-03-30 00:04] #192 closed

[2016-03-30 00:07] gnunn1 commented on #25
@HeikoAdams Are you willing to keep this COPR up to date, if so I'll deprecate my OBS version of the rpm's and link to your COPR on the project page.

[2016-03-30 00:07] brittyazel commented on #193
Weird you are right, on two of my computers Gnome-Terminal is sourcing the scripts properly and setting the path without the need for "login shell". But on my third computer (which is virtually identical) Gnome-Terminal is not working properly. The worst part is that I have no idea what I did...I don't tend to mess with things very much

[2016-03-30 00:09] gnunn1 commented on #196
I'm going to handle this by changing the small title option to an enumerated option with possible values of Normal, Small, None. The context menu will build on @alexwhitman work and add some, but not all, of the items from the title drop down menu plus maximize.

[2016-03-30 00:51] gnunn1 commented on #193
That sucks, are you OK if I close this because it doesn't appear to be an issue with terminix?

[2016-03-30 01:11] brittyazel commented on #193
Yeah go for it. Quick question though, are the arch devs aware of the issues with the way vte3 is packaged? Is there any reason for me to ask them to adjust their packaging to solve this

[2016-03-30 01:38] gnunn1 commented on #193
I assume so, see the wiki here which makes the behavior crystal clear:

https://wiki.archlinux.org/index.php/bash#Configuration_files

[2016-03-30 01:38] #193 closed

[2016-03-30 03:42] gnunn1 commented on #161
@alexwhitman I have checked in an early implementation of this, it works in some cases but I still need to do some work. I ended up implementing a tree model to represent the Paned layout and then used the model to calculate the size/position for each Paned. After that it's a matter of iterating over the model and setting the positions.

Don't get too excited though, my model approach still has a

[2016-03-30 08:12] paolostivanin commented on #25
@graingert sorry all, but I have been very busy these days. By Friday night I will give you the link to the PPA :-)

[2016-03-30 08:14] HeikoAdams commented on #25
@gnunn1 I'll try to keep it up to date.

[2016-03-30 08:36] lucazade opened #199 "maximized cmd option"
It would be nice to launch Terminix as a maximized application.
In gnome-terminal there is such feature: gnome-terminal --maximize

[2016-03-30 13:21] Conan-Kudo commented on #25
@HeikoAdams You're missing the `%{?dist}` tag in your spec. See [this Fedora wiki page](https://fedoraproject.org/wiki/Packaging:DistTag) on why you need it.

[2016-03-30 14:32] HeikoAdams commented on #25
@Conan-Kudo yes, you're right. Will be fixed with next build

[2016-03-30 20:41] ivoarch opened #201 "Terminix 0.55 unable to start on Centos 7.2 - function not pressent in your version of GTK+."
Hi, I have this issue launching latest terminix ?

[code]
[code]
Version 0.54 works fine!

[2016-03-30 20:50] gnunn1 commented on #201
I probably missed wrapping an API call in a version check, I'll take care of that

[2016-03-31 00:03] #161 closed

[2016-03-31 00:04] gnunn1 commented on #161
@alexwhitman All done, I've tested it a few different ways and it seems to work fine. Having said that, I would not be surprised if there are a few edge cases I missed so I would really appreciate it if you could find some time to test it.

Thanks again @egmontkob, I would have been really scratching my head without that tip about the child resize properties.

[2016-03-31 00:35] #201 closed

[2016-04-01 18:37] #199 closed

[2016-04-01 18:41] gnunn1 commented on #187
I'm going to change the default sidebar shortcut from ctrl+s to something else since that it is the default binding for save. F9 would be the natural choice since gedit and nautilus both use that but it conflicts with apps like mc that use f1-f10, any objections to f12?

[2016-04-01 22:43] edubxb commented on #187
How about Ctrl+Shift+S?

[2016-04-02 02:40] gnunn1 commented on #187
@edubxb Unfortunately Ctrl+Shift+S is supposed to be used for Save As according to the HIG so I assigned to that

[2016-04-02 09:07] alexwhitman commented on #161
@gnunn1 Thanks for implementing, it works really well but I have spotted a very small alignment issue.

If you add terminals so that it looks like this
![terminx-before](https://cloud.githubusercontent.com/assets/422013/14225418/3ade2964-f8ba-11e5-8519-b6a6b52a8412.png)
and then equalise each column it'll look like this
![terminix-after](https://cloud.githubusercontent.com/assets/422013/14225421/4

[2016-04-02 09:27] egmontkob commented on #161
It could be that the width of the separator is not properly taken into account when computing the desired sized. And even if it was properly taken into account, a give-or-take 1 pixel could easily occur unless some very special care is taken (it's really tricky to get it right).

[2016-04-02 13:37] gnunn1 commented on #161
@egmontkob Yeah I'm not currently looking at the width of the separators, I'll try including that and see if it helps. Thanks @alexwhitman for testing it, really appreciate it.

[2016-04-02 17:38] edubxb commented on #187
You're right.

Another option to not interfere with the shortcuts of the apps running in the terminal is to use combinatios like `Super` +` Shift/Control/Alt` + `Key`.

[2016-04-02 19:01] davidgao commented on #25
Maybe we can still keep one OBS running? AFAIK COPR only builds for fedora, and it's sad to have rpms for fedora but not for openSUSE. OpenSUSE has a rolling distribution anyway.
I'll spend a few days to check `specs`. If I don't run into trouble, I could possibly be packaging for SUSE systems.

[2016-04-02 23:26] gnunn1 commented on #161
@alexwhitman I incorporated the handle size but the bottom right terminal is still off by a pixel compared to the left one. I'm not sure there is much else I can do, when you run it with tracing on I output the maths I am using and as far as I can tell it's using the same values for both the left and the right so it should size the same but it doesn't. Maybe just chalk this one up as one of the my

[2016-04-03 00:55] #196 closed

[2016-04-03 00:58] gnunn1 commented on #196
Added initial support for this, when the title style option is set to None, the right click context popover will have the additional options that would normally be in the title menu. I've opted not to show the focused terminal title anywhere at this time. The maximized state is shown in the context menu as the menu item toggles between maximized/restore.

Note that the old small title option has b

[2016-04-03 00:59] gnunn1 commented on #187
I'm closing this for now, I went through and updated the defaults in the commit referenced earlier and I'm happy with them. As noted here, the new default sidebar shortcut is F12.

[2016-04-03 00:59] #187 closed

[2016-04-03 08:58] alexwhitman commented on #161
Just tried this, the alignment is about the same as the screenshot above.  Debug output is
[code]
In what order are the terminals resized?  I'm going to guess in the order of the 'stack' without looking at the code.  Maybe ordering by position, top to bottom (or left to right for horizontal) would even it out.

[2016-04-03 12:56] zeronote opened #202 "user password is not recognized"
Just compiled and installed terminix on a clean Debian testing machine.
I have a very strange issue: my user password is not recognized, and it appens ONLY in terminix,
other terminals like gnome-terminal, xterm, terminator (as well as other system apps) doesn't have this issue.

Could be something related to user groups settings?

[2016-04-03 13:27] alex285 commented on #196
@gnunn1 Great work! There is a missing way for de-attaching the shell though. Could be a DnD area somewhere? As a workaround we can open Search and DnD it.

[2016-04-03 15:33] gnunn1 commented on #202
I have no idea what the issue could be, under the hood terminix is using the exact same VTE component as gnome-terminal so in general the behavior should be the same. When you say the password is not recognized do you mean you can't type the password in or you type it in but the application requesting it doesn't accept it?

[2016-04-03 15:36] gnunn1 commented on #196
@alex285 Unfortunately that's the price you pay for no title and why I was semi-reluctant about doing it. The act of selecting text is the same as dragging so I don't see a way to have users drag the terminal directly. No plans to add an extra space somewhere as a DND area, that's what the title is meant to be :)

[2016-04-03 15:40] gnunn1 commented on #161
@alexwhitman It's ordered from the outer most GTKPaned to the inner most one. If multiple panes are located at the same branch level in the tree the order would be determined by the order the tree was built. I'll keep this in mind and see if I can think of something to even it out but I suspect these sort of out by 1 or 2 pixel type issues would be hard to eradicate completely given the nature of

[2016-04-03 15:45] alex285 commented on #196
@gnunn1 It's fine! But what if you redesign the menu a bit, like putting {Copy, Paste, Select All} in the same line with icons, save some space, add a "Show Titlebars" item, and have "Hide" only on titlebars menu? Perhaps it will work better than having this option on preferences

[2016-04-03 15:53] gnunn1 commented on #196
@alex285 The issue for me is that the context menu should really only provide actions related to the current terminal. While I could create a local override for individual terminals to show/hide titles it adds to the complexity and I'd prefer to keep it simple for now.

I'm not adverse to making the copy, paste and select all a row of horizontal buttons but would need to see how it looks as I thin

[2016-04-03 16:04] gnunn1 commented on #25
@davidgai I'm not even building an openSUSE rpm in OBS as far as I can tell? Anyway, I desperately want to get out of the business of managing and building packages as it takes time away from development, hence why I want to deprecate the OBS version. If you want to take it over and keep it up to date let me know :)

[2016-04-03 16:09] alex285 commented on #196
@gnunn1

Good point, but also the title bar it is applied (and) to current terminal. What if a submenu in the very end for such options?

Yeap that comes with the use. FWIW Firefox menu does that, also Alt+E menu in Chrome does that, and of course Terminix already does that with Split Views. Which btw I think they have to move somewhere in the top perhaps. When you hide titlebars and menu gets exp

[2016-04-03 16:45] zeronote commented on #202
the last case: I can type the password in the terminal window but it tells me that the password is wrong.

ASAP I'll reproduce the terminix installation on another debian testing machine and come back with some comparison infos.

[2016-04-03 17:12] zeronote commented on #202
In case anyone wants to try to compile and install terminix on a debian machine:
(obviously clone the repo or obtain the .zip before the next steps)

[code]

[2016-04-03 18:15] alex285 commented on #202
@zeronote Tried copy paste password instead of typing it?

[2016-04-03 18:39] zeronote commented on #202
@alex285  paste the password instead of typing it **worked**, so....wth??
Never seen an issue like this before.

[2016-04-03 18:55] gnunn1 commented on #202
Try typing this to enter a password at the command prompt:

''
'read -s -p "Enter Password: " mypassword
'''

And then this to view the password, does it match what you typed?

'''
echo $mypassword
'''

[2016-04-03 19:35] zeronote commented on #202
There is a mismatch between what I type and what the var contains, the funny fact is that
only the first char is missed and, to be more detailed (and to add more fun):

my password starts with the char **4**, which is the one missed, but I have tried with other chars like
[0,9] and [a,z], and none of them is missed.

[code]

it would be really helpful if someone could try the same on another debia

[2016-04-03 19:38] davidgao commented on #25
True, I went through your OBS and found no openSUSE build. I'm currently
working on that thing offline. I'll inform you when my building scripts are
good enough.

Gerald Nunn <notifications@github.com>于2016年4月4日周一 上午12:05写道：

[2016-04-03 19:51] zeronote commented on #202
Indeed is my fault, I should stay away from my pc when I am really tired.

I was re-configuring some terminix shortcuts to change session, and by mistake I've assigned **4** instead of **ctrl + 4** for switching to session-4 (all other sessions are switched by a ctrl+n shortcut).

Thanks for your time and sorry for the fake-bug.
Keep up the good work :+1:

[2016-04-03 19:51] #202 closed

[2016-04-03 20:23] gnunn1 commented on #202
No worries, glad you figured it out.

[2016-04-03 20:43] bil-elmoussaoui opened #204 "Use Transifex"
Hello,
I think the best way to translate the application is using Transifex! this will allow the translators to see the untranslated strings, languages..
Btw, i can manage the transifex account if you want to , and create a new PR whenever a new language is translated.

[2016-04-03 21:54] MingcongBai commented on #204
https://github.com/gnunn1/terminix/pull/203

[2016-04-04 07:45] paolostivanin commented on #25
Hi, all, I'm working on the ppa right now!
cheers

[2016-04-04 09:22] phw commented on #204
I second that in general, this was also shortly discussed at https://github.com/gnunn1/terminix/pull/92

I actually looked into setting it up back when I did the translation extraction. One reason I stopped was because I do not find the integration between Transifex and Git that convincing. The way I know how to get a more or less decent synchronization is:

1. In your Transifex project import the

[2016-04-04 10:09] sferich888 commented on #10
It would be great if the look / feel of how this feature followed what was done with https://github.com/zzrough/gs-extensions-drop-down-terminal

IMO guakes ui while functional is ugly with the gnome-3 changes.

[2016-04-04 10:50] nikolay-n opened #206 "Loading from multiple sessions at once breaks the "child design""
Hi all,

if I execute the following command:
`terminix -s Default.json -s Default.json`

the design is broken in the second session (see attachments)

First session is OK:
![firstok](https://cloud.githubusercontent.com/assets/3336734/14245717/6421626e-fa63-11e5-99f8-b109b71b50c6.png)
Second session is broken:
![secondbroken](https://cloud.githubusercontent.com/assets/3336734/14245749/9a0868dc-fa63

[2016-04-04 13:25] gnunn1 commented on #204
From my point, ideally I'd like the solution to inter-operate seamlessly with github in the sense of that it automatically pulls from github when the .pot file has changed pushes localization updates via pull requests back to github The less I have to fiddle with things the better.

I had a brief look at Transifex and it doesn't look like it has that capability, as @phw noted above someone, presum

[2016-04-04 14:45] egmontkob commented on #206
I guess the same rule of thumb applies as in #161: For the duration of setting up the layout, "resize" should be disabled for child1 and enabled for child2 of every paned, otherwise Gtk+ messes it up when many paneds are nested.

[2016-04-04 14:51] gnunn1 commented on #206
@egmontkob Thanks for the thought but I'm not sure that's the issue here as I'd expect to see similar behavior for session 1 as 2. I wonder if it's related to whether session 2 has been mapped, realized and allocated by GTK since it is a page in a GTKNotebook that may not be visible yet, I may need to defer creating the session.

Anyway, I can reproduce it so I'll have a look at this in more detai

[2016-04-04 17:56] teresaejunior commented on #10
Besides adding a keyboard shortcut to hide/unhide the window, which should be trivial, it would also require the following GTK+ hints (all shoud be easy to implement too): skip the taskbar, hide window decorations, show in all desktops.

[2016-04-04 21:08] cuatro commented on #162
First of all I want to thank you, gnunn1 and all contributors, for all your hard work and efforts in the development of Terminix and your quick responses and solutions in regard to reported issues!

Unfortunately, the issue not completely solved yet. If an instance of Terminix is already open, then every new instance that is opened via the "Open in Terminal" function is set to the CWD of the old i

[2016-04-04 21:11] gnunn1 commented on #162
I can reproduce outside of Nero, thanks for reporting it and I'll take care of it.

[2016-04-04 23:03] edubxb opened #208 "Change split shortcuts"
IMHO, the split shortcuts are counterintuitive, currently, Crtl+Alt+V split the current terminal adding a new one at bottom, and Crtl+Alt+H, split the current terminal adding a new one at right, I think that these shortcuts need to be interchanged.

For me, split vertically means adding a new terminal vertically positioned (at right), and split Horizontally means adding a new terminal horizontally

[2016-04-04 23:13] edubxb commented on #204
Travis can be used to automate things, like to add new literals to translate to the "translation service" finally chosen, through and API or something similar.

As Weblate is FLOSS, I prefer it :yum:

[2016-04-04 23:42] #162 closed

[2016-04-04 23:57] #206 closed

[2016-04-05 00:27] gnunn1 commented on #208
I tend to think the opposite personally so I'm fine with the current arrangement, I'm happy to hear opinions about it.

[2016-04-05 01:07] gnunn1 commented on #10
I'm not sure this is feasible on Wayland, primarily because there doesn't seem to be anyway to register a global hotkey. Looking at Guake, Tilda, etc they all seem to rely on XGrabKeys or the keybinder library which in turn is relying on XGrabKeys. You can see this bug report here for tilda:

https://github.com/lanoxx/tilda/issues/150

[2016-04-05 03:52] phw commented on #208
I agree with @edubxb. I always interpreted a horizontal split with the direction of the separator. Like if you told me to cut a piece of paper horizontally I would make a horizontal cut, which would result in an upper and lower part.

[2016-04-05 06:47] paolostivanin commented on #25
update: I have a problem with Launchpad, I have dput'ted the package correctly but I'm not getting the email notification that it has been accepted/rejected -.-

[2016-04-05 08:10] egmontkob commented on #208
http://english.stackexchange.com/questions/293520/split-horizontally-or-vertically-which-one-is-which

[2016-04-05 12:36] phw commented on #208
Funny, that's probably something everybody thought is crystal clear (no matter how you thought it should be) :) Possible that we won't agree on one way or the other, language is a messy thing.

But at least I noticed that I had the German translation of the split button labels inconsistent with the shortcut key description.

[2016-04-05 13:11] alcir opened #209 "Failed to execute child process """
I'm using Ubuntu Gnome 15.10

(terminix:5787): Gtk-WARNING **: /build/gtk+3.0-pIzeMy/gtk+3.0-3.16.7/./gtk/gtkwidget.c:8554: widget not within a GtkWindow
2016-04-05T15:10:38.804:terminal.d:spawnTerminalProcess:1227 Unexpected error occurred: Failed to execute child process "" (No such file or directory)

[2016-04-05 13:12] gnunn1 commented on #208
Thanks @egmontkob, interesting how inconsistent it is across different applications. I don't feel so bad about my choice now!

[2016-04-05 13:16] gnunn1 commented on #209
I'm going to need some more information:

I assume gnome terminal is working fine for you?

What shell are you using? (bash, zsh, fish)

What directory did you execute terminix within, your home directory?

[2016-04-05 15:43] egmontkob commented on #208
Ctrl+Shift+V for Vertical split (no matter which one it means) is also misleading since this shortcut is typically used for Paste. How about instead of using the word "Split", use the term "New to the Right" (Ctrl+Shift+R) and Down or Bottom (D or B). Maybe correspondingly add the options to open a new one to the Left and Up/Top.

[2016-04-05 16:03] brittyazel opened #210 "Hide terminal title, not clear how to close/maximize a session"
I love the new change to completely hide the terminal title bar, and the moving of those options into the right click popover. There is one usability concern however, which is that it is not clear how to close or maximize a session when the terminal title bar is hidden, as those options are not carried over to the popover.

Thus, while I would love to hide the bar and use the right click popover f

[2016-04-05 16:40] showcheap opened #211 "Feature Request : Add Link handler"
On gnome-terminal have menu 'Open Link' and 'Copy Link Address' maybe it can be added on terminix.

[2016-04-05 17:05] gnunn1 commented on #211
It already has this feature, see screenshot below, is there some aspect of it that isn't working for you?

![screenshot from 2016-04-05 11-03-41](https://cloud.githubusercontent.com/assets/9358238/14290900/2b84f518-fb1e-11e5-9713-acbb5ef47a4e.png)

[2016-04-05 17:08] gnunn1 commented on #210
The maximize option is already in the context menu however I did indeed miss the close item. I'll fix it for the next release, however in the interim you can use the shortcut to close a terminal. The context menu in general could use some optimization and design though so if someone has some thoughts on how best to organize it I'm more then happy to take it into consideration.

The idea about show

[2016-04-05 18:16] gnunn1 commented on #208
@egmontkob I like your idea of using cardinal directions (Right, Down) instead of the current horizontal/vertical, it completely removes the ambiguity which is great. In terms of a verb, I'm not a fan of "New to the ..." as "New to the Down" or "New to the Below" sounds a bit odd to me. It could be shortened to just the verb New though I have mixed feelings between New and Split:

Split Right/Spli

[2016-04-05 18:48] edubxb commented on #208
I agree with @egmontkob, Ctrl+Shift+V is used for Paste (Gnome Terminal uses it), so better if is changed.

How about using scheme or something like this:

Ctrl+Shift+Left → Split at Left
Ctrl+Shift+Up → Split at Top
Ctrl+Shift+Down → Split at Bottom
Ctrl+Shift+Right → Split at Right

[2016-04-05 19:01] gnunn1 commented on #208
@edubxb It's actually using Ctrl-Alt-v and Ctrl-Alt-h for the split vertical/horizontal, not Ctrl-Shift-v/Ctrl-Shift-h though I agree the closeness in shortcuts is confusing.

I'm OK with using Ctrl+Shift+Direction for the splits.

[2016-04-05 19:02] edubxb commented on #208
@gnunn1, you're right :tongue:

[2016-04-05 21:32] egmontkob commented on #208
Oh, I totally missed that the modifiers are different. Also, I'm not a native English speaker. I'm just throwing in random ideas and you decide on the best shortcuts/wording/etc.

[2016-04-06 02:33] showcheap commented on #211
@gnunn1 Sorry, I was install from OpenSUSE build service repo, so i get 0.54.0 version. Thanks for your reply, i'll update my terminix.

[2016-04-06 02:33] #211 closed

[2016-04-06 08:17] davidgao commented on #25
update: packaged gtkd-3 for openSUSE on OBS, think I've done it properly. If things don't break, terminix should be there tomorrow.

[2016-04-06 09:32] egmontkob commented on #208
Ctrl+Shift+Up/Down is VTE's built-in hardcoded shortcut to scroll the scrollback buffer by a single line. (One might easily live without this feature though.)

[2016-04-06 12:56] dsboger opened #212 "Improve Find shortcut behavior"
Is it possible to make the find shortcut (Ctrl+Shift+F, by default) work in a slightly different way: if the search entry is visible, but not focused, pressing the shortcut gives it focus instead of hiding it (like e.g. Firefox's Ctrl+F)? Thanks!

[2016-04-06 13:12] dsboger opened #213 "Relax dependency on gtk-d version a bit"
Is it possible to change `dub.json` so that `terminix` will depend on `"gtk-d" : "~>3.3.0"` or `"gtk-d" : ">=3.3.0"`? That will make easier to build `terminix-git` with latest `gtkd` from git master. Thanks!

[2016-04-06 13:20] gnunn1 commented on #213
I'll do that, but I'm not sure it will have any practical effect since up to now I've been pretty aggressive about upgrading to the latest version of gtk-d, either to fix critical bugs or to leverage new GTK features.  But who knows, maybe things will settle down a bit now :)

[2016-04-06 13:24] gnunn1 commented on #212
I'll have a look at it, the behavior in gnome apps is a bit inconsistent in this regard. In Nautilus Ctrl+F acts as a toggle whereas in gedit it does not.

[2016-04-06 13:38] dsboger commented on #213
In my case, the problem is when I'm trying to build terminix with gtkd newer then what is accepted. Dub ends up fetching the older version unless I "fool" it by setting the exact version from `dub.json` to the newer gtkd.

[2016-04-06 13:43] gnunn1 commented on #213
Oh ok, that makes sense. I was thinking in the context of dynamic linking and not having to rebuild the gtkd shared libraries for every change.

[2016-04-06 20:20] edubxb commented on #208
You're right @egmontkob, I don't usually use this shortcut, normally I use Shift+PgUp/PgDown...

What about this:

Alt+Shift+Left → Split at Left
Alt+Shift+Up → Split at Top
Alt+Shift+Down → Split at Bottom
Alt+Shift+Right → Split at Right

[2016-04-06 20:30] gnunn1 commented on #208
@edubxb It's already being used for resizing the terminal, you can see the list of default shortcuts already assigned in this file starting at line 460:

https://github.com/gnunn1/terminix/blob/master/data/gsettings/com.gexperts.Terminix.gschema.xml

[2016-04-06 20:31] gnunn1 commented on #208
And note I'm only supporting splitting to the right and bottom, no plans to add split to top or left.

[2016-04-06 20:47] edubxb commented on #208
Thanks for the point @gnunn1!

[2016-04-07 00:29] #213 closed

[2016-04-07 00:37] #212 closed

[2016-04-07 01:19] gnunn1 commented on #210
So I fiddled a bit with the context menu, here's a screen shot showing how it looks with the title active and the next one with the title hidden. Any thoughts/opinions from folks?

![screenshot from 2016-04-06 19-17-29](https://cloud.githubusercontent.com/assets/9358238/14337570/66ecb492-fc2c-11e5-9517-4af7e48edde4.png)

![screenshot from 2016-04-06 19-17-41](https://cloud.githubusercontent.com/as

[2016-04-07 02:19] brittyazel commented on #210
Looks great to me! Cut/copy/paste aren't terribly clear from the icons though unfortunately

[2016-04-07 03:41] hongquan opened #214 "Terminix starts in root directory!!!"
When I launch Terminix, it starts in root directory, instead of my home directory. It is weird. Please fix.

![terminix default_054](https://cloud.githubusercontent.com/assets/314607/14340003/419754e6-fcad-11e5-9705-7eaae76a38e6.png)
It happens with Terminix 0.56.0, built from git source.

[2016-04-07 03:42] arshavindn commented on #210
how about Synchronize Input in the menu? I think we need to turn it on/off sometimes when the title's hidden

[2016-04-07 04:14] arshavindn opened #215 "Double click behaviors"
1. When the left menu button on title bar is checked, double click on it causes maximize the pane and vice versa.
2. When find box is active (Ctrl + Shift + F), double click on search text field or next, previous button equalizes panes

bonus: Need to correct the tooltip of synchonize input button on title bar, if button is unchecked, set it to "Enable input..."

[2016-04-07 04:17] gnunn1 commented on #214
I can reproduce using the Unity launcher. For some background, Terminix used to automatically default to the users home directory if no directory was explicitly passed to it. However there are a number of bugs and behavior issues with that so now it defaults to the working directory that is set when it is run.

Based on my quick testing, it looks like Unity doesn't set the current working director

[2016-04-07 04:34] #214 closed

[2016-04-07 04:35] gnunn1 commented on #214
Get the latest from git and rebuild, hopefully this commit will fix it for you like it does on my Ubuntu VM.

[2016-04-07 04:40] gnunn1 commented on #215
1. Can't reproduce

2. I can reproduce this one and I'll take care of it

bonus: Not planning on changing as it seems kind of pointless to me, the associated checkbox shows the state. Other Gnome apps don't have this behavior either as far as I can tell.

[2016-04-07 04:59] gnunn1 commented on #210
@arshavindn I forgot about that button for toggling the terminal synchronize input state, thanks for reminding me

[2016-04-07 05:01] gnunn1 commented on #215
As for the bonus, me bad, I had in my brain the session synchronize input menu option, forgot about the toggle on the titlebar. I'll have a look at it, my apologies for the confusion.

[2016-04-07 05:02] gnunn1 commented on #209
Fixing #214 may have corrected this as well

[2016-04-07 06:44] arshavindn commented on #215
@gnunn1 sorrry, do you mean you can reproduce the first issue?

[2016-04-07 13:33] gnunn1 commented on #215
@arshavindn Yes, I can reproduce the first issue as well. I'm really starting to dislike GTK's mouse handling event model.

[2016-04-07 13:42] gnunn1 commented on #25
@paolostivanin Any luck resolving the issue with launchpad? If there is anything I can do to help just let me know.

[2016-04-07 13:48] arshavindn commented on #215
@gnunn1 many thanks for your hard working and great app :D

[2016-04-07 14:40] gnunn1 commented on #210
@brittyazel That's a function of the icon theme you have configured for your desktop, the one I'm using (Moka) isn't very distinctive for these specific icons. The other issue is that the buttons on the popover don't have tooltips and I'm not seeing any way to enable them.

[2016-04-07 17:11] dbasinge opened #216 "New terminal open in / dir directory and not ~/"
in terminix 0.56, my new terminal windows are opening in the / directory and not in my home directory any more. Is that a bug or is there a way to change this behaviour.

[2016-04-07 17:29] gnunn1 commented on #216
Duplicate of #214, fixed in git.

[2016-04-07 17:29] #216 closed

[2016-04-07 17:29] alexwhitman opened #217 "Popover section title text looks odd on Ubuntu"
Just compiled the latest master branch on Ubuntu 16.04 and the section title text in the popover looks a bit odd:

![selection_001](https://cloud.githubusercontent.com/assets/422013/14360448/5d2d210e-fcee-11e5-9295-450eb1e530e8.png)

[2016-04-07 18:21] gnunn1 commented on #217
To parody Sheldon from Big Bang Theory "Oh, Ubuntu, you are my least favorite Linux-based operating system!"

I don't think this is a bug with Terminix but rather Ubuntu's Ambiance theme. I'll see if I can workaround it with some CSS though.

[2016-04-07 18:58] #217 closed

[2016-04-08 12:10] dsboger commented on #210
@gnunn1 by seeing the popover appearance, I'm guessing you are using a menu model to generate it? If that is the case, I think if you define a custom popover (i.e. add widgets to it manually) you can add tooltips like anywhere else.

[2016-04-08 13:52] GuillaumeAmat opened #218 "To be able to deactivate the _open in the browser_ behavior"
When Terminix displays a _sort of_ link, a click on it opens launch the url in the browser.
It is so annoying to me!... I read a lot of logs everyday and copy and paste a lot of things. That behavior always redirect me on my browser and it turns me mad ;)

Is it possible to:
* Be able to deactivate it?
* Or be able to replace the _click_ by a _ctrl+click_?

Thanks for the good work anyway!

[2016-04-08 15:10] khurshid-alam commented on #25
@paolostivanin Your ppa is empty. How are you uploding? Did you use `debuild -S -sa`? Can you show your code?....may be uploading it to a bazaar branch first?

[2016-04-08 16:33] gnunn1 commented on #218
I just tried this out in gnome terminal, never realized that it worked off of ctrl-click and not just click. I'll modify terminix to use the ctrl+click combo.

[2016-04-08 16:35] gnunn1 commented on #210
@dsboger Yes I'm using a menu model to generate it, you have a good idea but I'd really prefer not building the popover from scratch just to get the tooltip going.

[2016-04-08 18:21] gnunn1 commented on #209
No response from OP, closing.

[2016-04-08 18:27] #218 closed

[2016-04-08 18:29] GuillaumeAmat commented on #218
Great, thanks!

[2016-04-08 19:12] #215 closed

[2016-04-08 19:39] dsboger commented on #210
It could also be nice to have the terminal title in the context menu. Maybe it could start with a line very similar to the hidden titlebar:

[code]

[2016-04-08 20:10] gnunn1 commented on #210
@dsboger To add the title that way I'd definitely be looking at building the popover manually instead of a menu model and style it in a different manner so it's obviously non-interactive. I'd like to see someone come up with a mock-up though before I start going down this route.

[2016-04-08 20:13] gnunn1 commented on #210
The last commit added support for replacing the sync input button from the titlebar, so from my perspective this enhancement is complete.

[2016-04-08 20:13] #210 closed

[2016-04-08 20:32] gnumdk opened #219 "Issue setting some shorcuts"
Here, setting "Shift+Left" and "Shift+Right" as next/prev terminal shorcut doesn't work.

[2016-04-08 20:38] gnunn1 commented on #219
I tried here and it's working OK for me on git master, I assume it has not been assigned to another shortcut in your case? If you close and re-open terminix does it make any difference?

[2016-04-08 22:53] ivoarch opened #220 "current working directory is always "/""
I have to start terminix with `-w ~/`option to fix ?

[2016-04-08 23:02] gnunn1 commented on #220
It's been fixed, see #214. I'll be putting out a new version tomorrow

[2016-04-08 23:02] #220 closed

[2016-04-09 12:56] alexwhitman commented on #102
I can reproduce with the nouveau open source driver.  Gnome Terminal resizes quickly but Terminix resizes in "jumps".  Not an issue for me as I tend to run maximised, but thought I'd mention it.

[2016-04-09 14:28] gnumdk commented on #219
Restarting make difference. And using next/prev session and not terminal... What's the difference?

[2016-04-09 14:28] #219 closed

[2016-04-09 14:30] gnumdk commented on #219
Terminix adopted ;)

[2016-04-09 14:33] gnumdk commented on #219
Ok, I know the diff ;)

[2016-04-09 14:42] gnumdk opened #221 "Enabling login shell not working"
On archlinux, I follow this page:
https://github.com/gnunn1/terminix/wiki/VTE-Configuration-Issue

But here the result
![capture du 2016-04-09 16-39-42](https://cloud.githubusercontent.com/assets/3918824/14404270/fa310f40-fe71-11e5-8549-48d7a2260f43.png)

[2016-04-09 15:00] gnunn1 commented on #221
Can you confirm you have the following packages installed:

[code]

[2016-04-09 15:04] gnunn1 commented on #219
So what was the issue?

[2016-04-09 17:18] #208 closed

[2016-04-09 17:46] gnunn1 commented on #204
I've sent a request to Weblate for free hosting.

[2016-04-10 11:07] gnumdk commented on #221
Ah ok, no, archlinux with default vte...

[2016-04-10 11:19] gnunn1 commented on #221
It works fine with the regular VTE as well, but it looks like you have the /etc/profile.d/vte.sh from the fedora patched VTE that emits notifications?

[2016-04-10 11:24] #221 closed

[2016-04-10 11:24] gnumdk commented on #221
You are right, just the common package... Thanks ;)

[2016-04-10 12:18] alex285 opened #223 "Disable Shortcuts Temporarily"
I'm actually gonna leave four bugs here.
I changed "View Sidebar" shortcut to previous key binding (Ctrl+S) that is now used on "Save"

1. It didn't warn me that the shortcut was already in use
2. The shortcut (Ctrl+S) is still set on Save, even if it isn't working anymore
3. The changes applied after I had to restart Terminix and not instantly (a notification maybe?)
4. The Overlay Help hasn't up

[2016-04-10 12:20] alex285 commented on #223
Also, I don't think that F12 is a good default keybinding for sidebar. It is a very useful shortcut, but hard to use on F12.

[2016-04-10 16:07] gnunn1 commented on #223
@alex285 I'm open to suggestions for default shortcuts, see #187 for some discussion about it.

[2016-04-11 14:15] lucazade opened #228 "issues if DBusActivatable is enabled"
open new instance with V/HSplit and maximize option are not working if DBusActivatable=true in .desktop launcher.

Also 'open in terminix' contextual entry in Nautilus doesn't open with the correct path but only with default one.

These issues are present with latest commit from git usign gnome 3.20 and archlinux

[2016-04-11 14:53] giray opened #229 "Building fails on Ubuntu 16.04"
I get the following when trying to build terminix on ubuntu 16.04..

any hints?

[code]

[2016-04-11 17:59] gnunn1 commented on #229
Hmm, The package is part of the standard phobos which should be installed with dmd. How did you install the D tools on ubuntu, via a package?

If you run ```dub build``` I assume you get the same error?

Also, what do you see if you run this command:

[code]

[2016-04-11 18:07] gnunn1 opened #230 "Find bar is overly large on GTK 3.20"
I'm finding the find bar ridiculously large on GTK 3.20, presumably because on GTK 3.18 I had added some extra padding to it to make the buttons and text entry align. Probably need to make that padding version dependent.

![screenshot from 2016-04-11 12-07-11](https://cloud.githubusercontent.com/assets/9358238/14437339/fe544f2a-ffdd-11e5-9f81-7a0767368971.png)

[2016-04-11 21:51] gnunn1 opened #232 "Output terminix binary in bin directory"
Modify dub.json so that the terminix binary is output into a bin directory instead of the root project directory. This has a couple of benefits as follows:

* Makes it easy to add to .gitignore since everything under bin can be ignored
* Easy to clean output if necessary

[2016-04-11 21:52] gnunn1 commented on #232
Note this would presumably break any git packages/builds that depend on the current location of terminix.

[2016-04-11 21:55] #232 closed

[2016-04-12 00:45] #230 closed

[2016-04-12 02:37] gnunn1 commented on #223
@alex285 I have added some new code that checks if a shortcut is assigned elsewhere and gives you the option to disable the other shortcut and assign it to the action or do nothing. That should take care of 1 and 2, however I could not reproduce 3 and 4 after the fix. Please test and re-open this issue if you are still having issues.

[2016-04-12 03:03] gnunn1 commented on #228
The desktop file has DBusActivatable=true by default in terminix and it is working fine for me in the sense that the command line option to maximize works.

As to the V/HSpit, I just changed the action names to terminal-split-right and terminal-split-down so try those instead, I have updated the Command Line Actions of the wiki to reflect that.

Finally, the Nautilus Open in Terminix is also worki

[2016-04-12 05:12] nexfwall opened #234 "Move Fedora builds to Copr"
OBS is useful only when building for openSUSE, but then it comes to Fedora, it should not be used.

And there is only one big reason: OBS does not [include Fedora "updates" repo in their Fedora chroots](https://build.opensuse.org/project/repositories/Fedora:23).

So, your package is always built using release repo, which is (almost) always outdated.

Also, using Copr you can provide Fedora 24 buil

[2016-04-12 06:34] lucazade commented on #228
ok.. I try to be more clear :)
The option "On new istance" is not working for me.. it always open a new window instead of a new session or splitting the existing window.

attached there is a screencast of the issue
[Screencast_12-04-2016_08:28:27.webm.zip](https://github.com/gnunn1/terminix/files/214452/Screencast_12-04-2016_08.28.27.webm.zip)

[2016-04-12 07:12] alex285 commented on #223
@gnunn1 Awesome! You fixed all 4! So two more!

1. On S/C Overlay Help, when you search the shortcuts are invisible
2. A way to just disable a shortcut?

Basically on second you need to relayout the whole shortcut section (thus the preferences window) to provide an option to disable a shortcut but without losing its keybind, so I open another issue with it. Another smaller issue is that Terminix l

[2016-04-12 07:58] gnunn1 commented on #228
Now I understand, I'll take care of it. Thanks for reporting this.

[2016-04-12 08:03] almson commented on #10
All I want is a command-line switch `--switch-to-existing-window` that lets me write a command to launch terminix that switch to the terminal without cluttering my desktop, and which I could use when wiring up keyboard shortcuts, xfce's preferred applications, etc.

Full quake-style terminal is tricky. I haven't used many, just xfce's drop-down mode. I hate that alt+tab works differently, I can't

[2016-04-12 08:03] gnunn1 commented on #234
See #25, I'm not interested in maintaining packages and am looking for volunteers to do so. A few people have created COPR packages for Terminix but they don't keep them up to date so I don't include a link to them. If you are willing to do so, reply in #25.

[2016-04-12 08:03] #234 closed

[2016-04-12 08:05] gnunn1 commented on #10
@almson Please open a new issue for that and I'd be happy to look at it.

[2016-04-12 08:08] almson commented on #10
@gnunn1 Ok. But my comment follows the flow of the current discussion. I edited it a little for clarity.

[2016-04-12 08:11] almson opened #236 "Command-line switch `--switch-to-existing-window`"
This switch would be used in launchers, keyboard shortcuts, and any other places in the desktop environment that take a command as an argument. User would use this switch if he doesn't want to clutter his desktop with multiple terminal windows. It would be used to implement global hotkey functionality.

[2016-04-12 08:14] gnunn1 commented on #10
@almson I might be confused, but what you are asking for doesn't seem related to the Quake mode in the sense it can be implemented outside that scope right?

[2016-04-12 08:14] almson commented on #236
Note that the switch's name is a placeholder. Consider that xfce4-terminal provides the following command-line switches:

    Window or Tab Separators
        --tab
           Open a new tab in the last-specified window; more than one of these options can be provided.

           If you use this as the first option, without --window separators, the last window will be re-used.

        --window

[2016-04-12 08:18] gnunn1 commented on #236
Terminix has a preference for what to do when opening a new instance (New Window, New Session, Split Right, Split Down). I think it would make sense to add this as an option there as well as adding a new command line switch

[2016-04-12 08:33] giray commented on #229
I just did an  ` apt install dub`

[code]

and I do get the same error with `dub build`

[2016-04-12 08:37] giray opened #237 "keyboard shortcuts"
It would be nice to be able to assign keyboard shortcuts for actions such as

1) Show session sidebar
1.a) select session (1,2,3,4,...)
2) Jump to session [Alt - 1, Alt - 2]
3) Start new Session

also would be nice if these shortcuts are customizable.

[2016-04-12 08:42] phw commented on #237
All those are available and configurable, see the keyboard shortcuts in settings. E.g. showing session sidebar is currently `F12` by default, switching session is `Ctrl + Alt + 1` to `Ctrl + Alt + 0`

[2016-04-12 13:18] gnunn1 commented on #237
I think @phw answered this satisfactorily, closing issue.

[2016-04-12 13:18] #237 closed

[2016-04-12 13:35] giray commented on #237
is settings the same as "Profile", have not been able to find a settings section...

[2016-04-12 14:09] gnunn1 commented on #237
It's the preferences dialog, see the screen shot below:

![screenshot from 2016-04-12 08-07-54](https://cloud.githubusercontent.com/assets/9358238/14462763/ccc96a96-0085-11e6-88a5-37151667edf2.png)

[2016-04-12 14:42] noctuid commented on #10
@almson Is the functionality you suggesting just activating terminix as in `xdotool search --class terminix windowactivate` or `xdotool search --class terminix windowraise`. Alternatively, moving a window to the current desktop (instead of moving to the desktop where that window is) is pretty simple as well if you don't mind using xdotool.

[2016-04-12 16:10] giray commented on #237
I'm using Beta 0.57.0 I cannot find "Preferences"

I have "Save, Find ..., Layout Options..., Read Only,  Profiles, Encoding" on the drop down for the session ...

And "Open.., Save, Save As, etc" on the right hand corner

[2016-04-12 16:13] phw commented on #237
What desktop environment are you using? On Gnome you should see the Preferences in the Gnome app menu (click on the application name in the upper left corner of the screen), on other DEs you should have a fallback menu placed in the header bar of Terminix (I think it is on the left, but I am not sure).

[2016-04-12 16:40] gnunn1 commented on #223
1. Looks like a bug with Terminix but not sure what I'm doing wrong, I'll have to investigate

2. Are you just looking for the checkbox ike gnome terminal has that allows you to disable all shortcuts?

In terms of preventing shortcuts like the Enter key, no plans to do that because with all the different types of keyboards out there plus accessibility requirements (i.e. someone with Parkinson's re

[2016-04-12 19:51] arshavindn opened #238 "open new instance in new session, horizontal, virtical split always in home directory"
From nemo, "open in terminal" from right-click menu context that opens new instance in new session always in home directory and in horizontal, virtical split does not work. Btw, new window seems work fine.

[2016-04-12 20:13] alexwhitman opened #239 "Ubuntu overlay scrollbars"
In Gnome terminal the overlay scrollbar is minimal until mouse over.  The overlay scrollbar in Terminix is always expanded.  For consistency it would be good if the Terminix scroll bar was the same.

![selection_001](https://cloud.githubusercontent.com/assets/422013/14474054/f6ca86fa-00f2-11e6-889c-6f20c36711f5.png)

[2016-04-12 20:50] gnunn1 commented on #238
Did Nemo used to work for you until the last release? This might be related to the change I had to make to fix a bug for the Ubuntu launcher that wasn't setting a working directory and instead relying on PWD, I probably need to to look at this more holistically or just copy what gnome-terminal does with the assumption that is the expected behavior.

As to the spit, I got over-exuberant last releas

[2016-04-12 20:53] gnunn1 commented on #239
I'll have a look, I know Ubuntu has some custom patches for various Gnome applications, I wonder if this is one of them?

[2016-04-13 01:20] #228 closed

[2016-04-13 02:02] gnunn1 commented on #223
Looks like 1 is a bug with GTK, opened a bug report here:

https://bugzilla.gnome.org/show_bug.cgi?id=764975

[2016-04-13 02:34] #236 closed

[2016-04-13 02:35] gnunn1 commented on #236
Added a preference called "Focus Window" to the new instance option and added a command line parameter called ```--focus-window```

[2016-04-13 05:43] arshavindn commented on #238
Sorry, I did not remember about that, maybe I have not checked these cases. Hope you make it.

[2016-04-13 07:27] giray commented on #237
Using Ubuntu 16.04 with default unity

This is the "alt-space" menu
![image](https://cloud.githubusercontent.com/assets/316284/14485784/80555452-0159-11e6-9c84-465a5070254b.png)

This is the sessions options menu

![image](https://cloud.githubusercontent.com/assets/316284/14485791/8bf53124-0159-11e6-99a5-c3d4fed92c6e.png)

This is what I think of as the options menu

![image](https://cloud.githubu

[2016-04-13 07:43] phw commented on #237
Unity places the preferences in the app menu. Unity places the menu in the top bar and hides it unless you move you mouse there, see this screen:

![terminix](https://cloud.githubusercontent.com/assets/29852/14486200/f797252a-015b-11e6-8440-57848c51f1f6.png)

Actually this behaves the same for all other applications in Unity ;)

[2016-04-13 07:48] giray commented on #237
Not if you have changed to menu behavior to move the menu's back to the windows title bar
"Settings -> Appearance -> Behavior"
![image](https://cloud.githubusercontent.com/assets/316284/14486405/e037c370-015c-11e6-8495-c53da7b50b03.png)

[2016-04-13 09:31] alex285 commented on #223
No. I'm looking for disabling keys separately but without losing their values. Like a simple checkbox/switch or a link (enable/disable) next to a key. It is a common concept in games for easily re-programming your shortcuts, where you can also get alternative keybindings. Something that KDE also does for example.

The benefit is that when you re-programming your keys, and you want to change them,

[2016-04-13 09:36] lucazade commented on #228
thanks.. now it is working correctly!

[2016-04-13 10:20] Tigro opened #240 "Terminix does not read .bash_profile"
I saw that Terminix during start read .bashrc, but does not read .bash_profile with redefined PATH variable. So ~/bin path not available.

[2016-04-13 11:00] phw commented on #240
That's actually expected behavior, unless you configure Terminix to run as a login shell. You can set the option "Run command as a login shell" in Terminix' profile settings.

See http://unix.stackexchange.com/questions/38175/difference-between-login-shell-and-non-login-shell for an explanation of the differences between a login shell and a non-login shell and how this affects the files being sour

[2016-04-13 11:11] phw opened #241 "Configuring Unity with menus in app titlebar makes app menu unavailable"
If one configures Unity to place menus in the apps titlebar, the app menu is no longer available. See https://github.com/gnunn1/terminix/issues/237#issuecomment-209287425 . I assume Ubuntu does some special patching to the apps they ship to deal with this.

This makes some functionality unreachable, most notably the preferences dialog. One way to handle this would be to place the relevant menu opt

[2016-04-13 11:12] phw commented on #237
Yep, I can confirm this, see https://github.com/gnunn1/terminix/issues/241

[2016-04-13 11:36] giray commented on #241
+1

[2016-04-13 12:26] Tigro commented on #240
Ok. Not a problem. Closing.

[2016-04-13 12:26] #240 closed

[2016-04-13 13:12] gnunn1 commented on #241
Thanks @phw for your efforts in tracking this down, I'll have a look.

[2016-04-13 13:31] gnunn1 commented on #237
Just out of curiousity, if you enable the terminix disable-csd option in dconf-editor does the menu then appear?

[2016-04-13 13:38] gnunn1 commented on #241
Actually I just tried this in 16.04, if you hold the mouse over the ```Terminix: Default``` title for a second it changes to ```Terminix``` in the titlebar and is a clickable menu which has all of the Gnome appmenu options including Preferences. Holding down the left Alt key also triggers this behavior, does this work for you guys?

[2016-04-13 13:41] gnunn1 commented on #229
Did you get dub from a PPA because when I try to install it I get an error that it cannot locate the package,

[2016-04-13 13:43] phw commented on #241
No, I can't get this to work. Using a Ubuntu 15.10 VM here. But @giray also is on Ubuntu 16.04, so his feedback is probably more interesting.

[2016-04-13 14:01] almson commented on #229
dub is in the repos. Same issue with `std.experimental.logger`

[2016-04-13 14:03] almson commented on #229
`apt show dub`:

Pa```
ckage: dub
State: installed
Automatically installed: no
Version: 0.9.24-1ubuntu1
Priority: optional
Section: universe/devel
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Architecture: amd64
Uncompressed Size: 4,597 k
Depends: gdc | ldc, libc6 (>= 2.14), libcurl3-gnutls (>= 7.18.0), libgcc1 (>= 1:4.2), zlib1g (>= 1:1.2.0)
Conflicts: dub:i386
Descriptio

[2016-04-13 14:05] giray commented on #241
I can't get anything to trigger via the title menu ... but if I press `Alt` I get the unity "search menu items" option, where I can get to `Preferences`, though its not really intuitive :)

![image](https://cloud.githubusercontent.com/assets/316284/14495869/901d14fa-0191-11e6-87dc-43c93511383f.png)

[2016-04-13 14:14] phw commented on #241
I get the same behavior as @giray regarding the alt key. If I set the terminix option `disable-csd` with dconf-editor clicking the title in the terminix titlebar shows the menu, similar to how @gnunn1 described it.

[2016-04-13 14:15] almson commented on #236
Thank you. I didn't notice the option in preferences. Could you add the option to merely switch focus there as well? Since I'd like it to be the default, it would make it even easier for me to configure.

[2016-04-13 14:17] giray commented on #229
dub was available via standard ubuntu xenial/universe amd64 Packages

[code]

[2016-04-13 14:27] gnunn1 commented on #229
Thanks for the info, I am at a client so a firewall may be causing me issues with apt. It doesn't help I'm not an Ubuntu user so apt isn't something I deal with often.

Anyway, one thing interesting with that package is that it looks like maybe it is using the gdc compiler instead of dmd. One of the weird thing about D is that there are three different compilers available, DMD, GDC and LDC as per

[2016-04-13 14:29] almson commented on #229
[code]

[2016-04-13 14:31] gnunn1 commented on #229
OK thanks, I just tried it with GDC and I can reproduce the error on Arch:

[code]

[2016-04-13 14:32] almson opened #242 "Option to pin the session sidebar or show a tab bar"
I'm not a fan of having any kind of tab/session switcher be hidden. Makes me disoriented. I think a pin icon would work nicely.

[2016-04-13 14:39] gnunn1 commented on #229
OK, looks ike GDC doesn't include the Phobos experimental packages hence the issue:

[code]
To get this to work would require some reworking of code to move the logger into a separate module so it can be easily removed with a static if in one spot. Does Ubuntu have a package for dmd?

[2016-04-13 14:43] alexwhitman commented on #229
Not in the core repos but you can download a deb from http://dlang.org/download.html - That's how I've been building Terminix on 16.04.

[2016-04-13 14:49] gnunn1 commented on #242
The sidebar can't be permanently pinned open due to limitations with GTK, the only way it might be feasible is by writing a custom GTK container which is a pain to do in D and I have no plans to undertake it on a might work basis.

Similarly tabs have been asked for before and I have no plans to introduce those as well, I like the sidebar personally though I can understand it's not for everyone.

[2016-04-13 14:49] #242 closed

[2016-04-13 14:50] gnunn1 commented on #229
Thanks @alexwhitman, I'll look into centralizing the logger functionality into a single module and controlling it with a static if.

[2016-04-13 15:24] gnunn1 commented on #241
@phw, I didn't realize it but I had the CSD disabled as well from when I was testing it last. I'm not sure what the best solution is here, I'll need to think about it a bit.

[2016-04-13 22:30] vendforce opened #243 "Cursor shape"
this._terminal.match_set_cursor_type(tag, Gdk.CursorType.HAND2);

How can I Change the shape to undeline

[2016-04-13 22:30] #243 closed

[2016-04-14 01:06] gnunn1 commented on #241
So I checked a few apps that use CSDs when this option is turned on and here is what I found:

* Nautilus - No way to access the app menu as far as I can tell
* Gedit - Same as Nautilus
* Lollypop - Disables the CSD on Unity, menu accessible the same way Terminix menu is accessible when CSD is disabled

Unless I'm missing something here, I'm inclined to mark this as a Won't Fix as IMHO it's really

[2016-04-14 01:18] gnunn1 commented on #239
Yep, looks like an Ubuntu specific patch:

https://bugs.launchpad.net/ubuntu/+source/gnome-terminal/+bug/1493964
https://bugzilla.gnome.org/show_bug.cgi?id=754796

[2016-04-14 01:40] matthiasclasen opened #245 "Terminix needs its own icon"
Sharing the same icon with gnome-terminal is confusing at best, and terminix really deserves a nice icon of its own. Asking for help in #gnome-design is likely to yield results.

[2016-04-14 02:15] gnunn1 commented on #239
@alexwhitman I added some commented out code just to play with this a bit and see what sort of results I could get with a quick and dirty change to the scrollbar background color. On Adwaita it actually looks great when not using the theme background color, on Unity/Ambiance it's only a slight improvement, I suspect that it would need quite a lot of CSS tweaking to get it looking good.

If you hav

[2016-04-14 03:03] gnunn1 commented on #229
So I had a look at this, because GDC is behind DMD there are other issues as well, for example format changed packages. As a result, I'm not going to fix this so Terminix can build under GDC and DMD, it would be a constant game of adding conditionals to workaround things that DMD adds but GDC has not yet caught up to.

My suggestion is to ask the maintainer of that dub package in Ubuntu to add dmd

[2016-04-14 03:03] #229 closed

[2016-04-14 03:29] gnunn1 commented on #239
Actually one thing I forgot to check is how does it look if the user changes the theme to Adwaita/Numix/etc. If it looks fine,  any specific tweaks to make this look better can't just check that it is running Unity but also check the active theme is Adwaita/Radiance.

If it can be fixed purely with CSS, the solution might be to create an ambiance version of the existing Terminix Adwaita CSS file a

[2016-04-14 08:11] giray commented on #229
I can confirm installing http://downloads.dlang.org/releases/2.x/2.071.0/dmd_2.071.0-0_amd64.deb
resolves the issue on Ubuntu 16.04 ...

pls append information in README or Build instructions

[2016-04-14 08:17] giray opened #246 "new session should open in current working directory"
When I split the session, or open a new tab I expect that the new session starts in the
current working directory.

[2016-04-14 10:20] gnunn1 commented on #246
You should have received a dialog that warned you about a VTE configuration issue, did it not appear for you?

https://github.com/gnunn1/terminix/wiki/VTE-Configuration-Issue

[2016-04-14 10:39] mehcode opened #247 "Feature: Command completion (when not focused) should have desktop notifications"
The idea is that if the session does not have focus and a command completes, a success or error desktop notification would pop-up (and be click-able to bring focus back to the terminal that passed / failed).

[2016-04-14 13:20] gnunn1 commented on #247
This is already mostly supported via the patched Fedora VTE widget, see the Notifications are of the FAQ towards the bottom:

https://github.com/gnunn1/terminix/wiki/FAQ

The notifications don't include success/error, I don't think that's likely to be very feasible since there isn't an easy way for terminix or vte to see the exit code of the process.

[2016-04-14 13:20] #247 closed

[2016-04-14 14:14] jimmac commented on #245
I'll give it a shot.

[2016-04-14 15:54] jimmac commented on #245
How about http://jimmac.musichall.cz/stuff/terminix.zip ?

[2016-04-14 15:58] gnunn1 commented on #245
Impressive, thanks for taking care of this!

I'm flying tonite so I'll incorporate it tomorrow.

[2016-04-14 17:27] edubxb commented on #245
Awesome, thanks @jimmac!

[2016-04-14 20:12] mehcode opened #248 "Hide Window Borders"
Is there a way to hide the window borders without maximizing?

[2016-04-14 21:01] gnunn1 commented on #248
No and in general no plans to do this. However if you find the window borders are larger then they are for other apps, particularly Gnome terminal, post some screenshots along with info about which distribution and theme you are using and I'm to happy to have a look.

[2016-04-14 21:01] #248 closed

[2016-04-14 21:51] mehcode commented on #248
@gnunn1 As this project seems to take a lot of ideas from terminator and terminator does have a `Hide Window Borders` toggle, it'd be nice if we could have that here. It's the one thing I miss coming from there. Everything else is far better.

Would you accept a PR for this?

[2016-04-14 21:56] Pholey commented on #248
An example of the desired behaviour (terminix/gnome-terminal):

On `arch` + `awesome wm` with a basic config

Would love to see this as its basically the only thing that's stopping me from switching from `gnome-terminal` + `dvtm`

![terminix-vs-gnome-term](https://cloud.githubusercontent.com/assets/3182159/14544964/8e16baca-0250-11e6-8c82-ad29bc2f50b0.jpg)

[2016-04-14 22:03] gnunn1 commented on #248
@mehcode Yep, I would accept a PR for this. Obviously it needs to be optional and off by default, the option should be presented in the Appearance section of the General tab in preferences.

[2016-04-14 22:08] Pholey commented on #248
I might recommend also putting all the options you can access via the window bar on the right-click menu too... Wouldn't want to disable it and all of a sudden be unable to access the preferences panel for example

[2016-04-14 22:11] gnunn1 commented on #248
@Pholey, why wouldn't you be able to access it, accessing preferences is via the gnome App menu and shouldn't be affected I would think? If it is, i would need to re-think accepting a PR for this.

[2016-04-14 22:20] Pholey commented on #248
Im a bit confused as to what you mean exactly by the Gnome App menu.. From what i can see, the only way to modify your preferences is by actually hitting the terminal icon on the left side of the actual terminix window border:

![terminix-header](https://cloud.githubusercontent.com/assets/3182159/14545443/f5322124-0253-11e6-91f1-703d1a307a2c.jpg)

Since we are talking about removing this entirely

[2016-04-14 22:24] gnunn1 commented on #248
Sorry, I'm in an airport and should be paying more attention. I'm OK with a PR to make the window borderless, however the headerbar cannot be removed and I won't accept a PR that removes it even optionally.

[2016-04-14 22:33] Pholey commented on #248
@gnunn1 That is rather unfortunate, as many other terminals have this option (Actually, any terminal/gtk app i've can think of at the moment has the option to disable the toolbar or _at least_ left it up to the actual window manager to decide).. Self managing windows without paying any mind to the actual window manager is rather annoying and even considered bad practice by some

[2016-04-14 22:49] dsboger commented on #248
@Pholey you could use fullscreen view?

[2016-04-14 22:54] gnunn1 commented on #248
Terminix is targeted at the Gnome environment, while I'm willing to make some accommodation for other environments (looking at you Unity) I have certain boundaries one of which is the headerbar/toolbar. Terminator has the goal of covering a wide range of platforms and environments, frankly I don't and that's OK, there's lots of options out there.

The nice thing though is that if someone wants to

[2016-04-14 23:00] Pholey commented on #248
@gnunn1 Gnome doesn't really have anything to do with the window manager however. Depending on your distro, usually gnome will be shipped with openboxwm or something similar. Windows should act the same on xfce, as it does on gnome, kde or even unity providing the same window manager is used. This is why its considered bad to manage/style windows based off of the Desktop environment (i.e gnome in

[2016-04-14 23:10] matthiasclasen opened #249 "depends on gettext 0.19.7"
You don't really have a configure script, so there is no great place to check for a new-enough gettext, but the --xml option of msgfmt and the appdata support in xgettext require gettext >= 0.19.7.

[2016-04-15 02:23] Kami-no commented on #10
Quake mode suppose you have only 1 window, so enabling it should clearly block multiple windows feature.

[2016-04-15 07:21] phw commented on #248
@Pholey Have you tried setting the hidden disable-csd option for Terminix with dconf? That will enable your WMs native Window decorations. It will still show a toolbar at the top with the important buttons, but the Window management buttons (minify, close etc.) will be gone and maybe this makes it fitting for your use case.

Actually Gnome uses Mutter, and AFAIK it is rather hard to replace it wit

[2016-04-15 09:26] curaloucura commented on #209
I'm having the same problem on my Ubuntu 15.10 and release Beta 0.57.0 (also tried with 0.50.0 just to be sure and it was raising the same error). Trying to build from source didn't work out as following the steps on README, but either way the main issue stays:

[code]

[2016-04-15 09:27] curaloucura commented on #209
One interesting info is that when running the uninstaller I get the following error:

[code]

[2016-04-15 10:37] doubleloop opened #250 "Search previous occurence does not work"
Just installed (0.57.0), and noticed that search works only one way, you can search forward but I could not search backward (both shortcut and icon with up arrow).

Also It would be nice to be able to highlight all occurrences.

[2016-04-15 11:02] arshavindn commented on #250
The lastest build from git works for me but it does not find all match words

[2016-04-15 11:14] Kami-no commented on #25
[Gentoo Overlay](https://github.com/Kami-no/overlay)

[2016-04-15 11:55] doubleloop commented on #250
Yes, after testing little more, I found out that even forward search does not find all occurences

for example I can not find all occurrences of  `master` in console state:
[code]

[2016-04-15 13:07] gnunn1 commented on #209
@curaloucura The last message about appdata.xml is no big deal, the next release adds a new file.

Do you have time to help me debug this? What I can do is compile a version with some extra tracing enabled to track down where the problem is occurring. I can do that later today.

[2016-04-15 13:10] gnunn1 commented on #250
@doubleloop Does your example work as expected on gnome-terminal, there is an open bug for the VTE with regards to not finding all matches but the circumstances of that bug don't quite match this case.

https://bugzilla.gnome.org/show_bug.cgi?id=694128

[2016-04-15 13:18] curaloucura commented on #209
sure thing, I have Ubuntu only on my work machine, so latest on Monday I will check the debug version

[2016-04-15 16:00] dotws opened #251 "OpenSUSE Build Service not work"
No information home: gunun / terminix

[2016-04-15 23:02] #245 closed

[2016-04-15 23:19] #249 closed

[2016-04-15 23:22] gnunn1 commented on #251
I'm not sure what is going on with OBS, however you can find the RPMs here:

http://download.opensuse.org/repositories/home:/gnunn/Fedora_23/x86_64/

http://download.opensuse.org/repositories/home:/gnunn/CentOS_7/x86_64/

[2016-04-15 23:26] gnunn1 commented on #25
Just an FYI, I'm shutting down the OBS build service I maintain at the end of April and getting out of the packaging business completely. It will be up to the community to create and maintain packages from that point forward. @dsboger does a great job with maintaining the Arch package, hopefully others will step up over time for the other distributions but I'm done spending time on packaging inste

[2016-04-15 23:45] gnunn1 commented on #246
No response from OP, closing issue.

[2016-04-16 01:08] gnunn1 commented on #248
@Pholey As @phw pointed out, Gnome uses Mutter and it's not common running the Gnome DE on a different window manager. GTK the toolkit obviously runs on a variety of window managers though.

With that out of the way, let me try to answer your question. The first thing to understand, as I mentioned previously, is my primary target audience are people who are using the Gnome DE (i.e. gnome shell). A

[2016-04-16 01:09] gnunn1 commented on #241
OK, I'm closing this and marking it as Won't Fix.

[2016-04-16 01:09] #241 closed

[2016-04-16 08:13] HeikoAdams commented on #25
@gnunn1 my COPR is back on the road and up2date again. :+1:

@all If somebody want's to help maintaining the COPR requests are welcome :smile:

[2016-04-16 09:56] alexwhitman commented on #239
@gnunn1 Could you upload a screenshot of what you see with this change?  I've changed the compile flag and recompiled but I don't see any difference.

[2016-04-16 13:17] gnunn1 commented on #239
@alexwhitman This is on Ubuntu 16.04, with the flag set to false:

![screenshot from 2016-04-16 09-12-45](https://cloud.githubusercontent.com/assets/9358238/14581182/d622fe5a-03b3-11e6-943c-b6601be78322.png)

With the flag set to true:

![screenshot from 2016-04-16 09-13-41](https://cloud.githubusercontent.com/assets/9358238/14581184/e00a1480-03b3-11e6-9a0a-320cab7a0a71.png)

Obviously, this is no

[2016-04-16 14:08] gnunn1 commented on #25
@HeikoAdams That's great, but to put it on the front page as the official COPR it really needs to get updated a day or two after each release. If you can commit to that let me know.

[2016-04-16 14:18] gnunn1 commented on #204
So Terminix is now on Weblate at the following URL:

https://hosted.weblate.org/projects/terminix/translations/

@phw I have added weblate to the repo to receive notifications of changes as well as added the weblate push user to allow pushes to automatically happen. Is there anything else you would recommend I do before I go live with this?

[2016-04-16 15:20] HeikoAdams commented on #25
@gnunn1 I've subscribed the releases feed so the COPR should be up2date in time

[2016-04-16 16:31] frnogueira commented on #204
pt_BR 100% ;)
Congrats, @gnunn1 !

[2016-04-16 16:36] gnunn1 commented on #204
@frnnoguiera I don't think the automatic push back to github is configured yet though, I'm going to need to sync changes manually in the meantime.

[2016-04-16 16:41] gnunn1 commented on #25
@HeikoAdams Thanks, I'll update the front page to point to your COPR and deprecate my OBS.

[2016-04-16 16:52] gnunn1 commented on #251
Deprecated OBS in favor of COPR, see new links on front page.

[2016-04-16 16:52] #251 closed

[2016-04-16 20:10] brittyazel opened #256 "Not remembering window last location on Gnome3.20 with X server"
Since 3.20 hit stable, under an X environment none of the gtk3 windows would remember their last locations and instead open up in the upper left hand corner of the screen. This was mostly fixed with 3.20.1 as far as I can tell from other gtk3 windows (nautilus, calendar, etc), but Terminix still opens in the upper left hand corner.

From my testing, under Wayland Terminix does remember the last lo

[2016-04-16 20:49] frnogueira commented on #204
Great!
I don't know about this process...

[2016-04-16 21:43] gnunn1 commented on #256
As you surmise, I don't think there is anything I can do as I'm not set the window position explicitly anywhere. Do you have a link to the gnome bug for this?

[2016-04-16 21:56] #238 closed

[2016-04-16 21:56] brittyazel commented on #256
Nope I don't. I just remember it was extremely annoying with Gnome 3.20.0, most notably with Nautilus. However, with 3.20.1 nautilus and a slew of other gtk3 apps now retain their last opened position. There are still some that don't though, and Terminix is not the only one by any means. Gnome-software also doesn't remember. And other like Gnome-Calculator still open in the upper right, but that c

[2016-04-16 21:58] gnunn1 commented on #204
@frnogueira No worries, I should have mentioned to hold off but it's all good.

[2016-04-16 22:17] gnunn1 commented on #256
It shouldn't matter what version I compile against as the window position logic should be in the window manager not the application AFAIK, plus GTK is a shared library and I'm not statically linking to it, only the D interface (GtkD) is statically linked.

As an FYI though, I run Arch so my version is usually pretty up to date, currently that is 3.20.3-1.

[2016-04-17 01:46] dsboger commented on #245
The icon shown for the in-window AppMenu button (i.e. when the AppMenu is disabled/unsupported) is still the old icon.

[2016-04-17 02:10] gnunn1 commented on #209
@curaloucura Try the newest release first on Monday, I added some additional error messages so hopefully that will be enough to shed light on the issue. If not, I'll compile a debug version for you to try out.

[2016-04-17 02:40] dsboger commented on #245
A small issue is that the smaller icons (48x48 and smaller) are not vertically centered.

[2016-04-17 13:20] arshavindn opened #258 "terminix still opens in HOME directory"
when no terminix is running, Open in Terminal on Nemo opens terminix in home directory

[2016-04-17 15:45] gnunn1 commented on #258
Thanks, I had to install Nemo to actually reproduce it. I suspect there is something going on between CWD and the PWD environment variable. I'll look into it some more tomorrow, thanks for your patience.

[2016-04-17 23:30] Kami-no opened #259 "appdata problem"
/usr/share/appdata -> /usr/share/appdata/terminix.appdata.xml

It might be a Gentoo-specific problem.

[2016-04-17 23:46] doubleloop commented on #250
In Gnome Terminal on this example all occurrences are found although search backward does not work (still after last occurrence it starts from the top)

[2016-04-18 00:09] dsboger commented on #259
There was an issue with install.sh that was fixed (https://github.com/gnunn1/terminix/commit/e1115fee734c7af26ee92adf3654abd94b41fec7), but the official binary package was created before the fix.

[2016-04-18 02:06] Kami-no commented on #259
May be release 0.58.1 required? =)

[2016-04-18 02:12] dsboger commented on #259
For Arch, I solved that with a simple hack [1]. I guess the same could be done for gentoo?
[1] https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=terminix

[2016-04-18 02:17] gnunn1 commented on #259
My plane just landed, I'll push a fix when I get to my hotel in a couple of hours.

[2016-04-18 02:19] Kami-no commented on #259
Gentoo is also [flexible](https://github.com/Kami-no/overlay/blob/master/x11-terms/terminix-bin/terminix-bin-0.58.0.ebuild#L20) enough.

[2016-04-18 03:19] #258 closed

[2016-04-18 03:23] gnunn1 commented on #259
Pushed new release, any issues let me know.

[2016-04-18 03:23] #259 closed

[2016-04-18 09:39] curaloucura commented on #209
After downloading the latest and running, this is what I've got:
[code]

[2016-04-18 09:51] nikolay-n opened #260 "Session loading doesn't work correctly with version 0.58.0"
When I try to load a previously saved session and the session has a directory key ("directory" : "path_to_directory"), the directory isn't  recognized correctly and terminix starts with the "current" directory (when I start terminix from command line) or per default with the HOME directory

[2016-04-18 13:42] gnunn1 commented on #209
Thanks, that's really interesting. If I had to guess, I'd say that Terminix isn't finding your shell for some reason, it does this using the VTE method here:

https://developer.gnome.org/vte/0.40/VteTerminal.html#vte-get-user-shell

I suspect my issue is that I'm not reacting to the NULL by using the system default. I'll investigate this tonite after work.

Also, can you confirm for the profile yo

[2016-04-18 14:01] gnunn1 commented on #209
Can you try this and report what you get back:

```echo $SHELL```

[2016-04-18 14:41] gnunn1 commented on #204
Just an FYI, I need to sort out a git conflict in weblate tonight, so please hold off updating translations until after that.

[2016-04-18 15:32] gnunn1 commented on #209
Just as an FYI, looking at gnome-terminal code for this it is obvious that it is using a much more sophisticated approach then I am to determining the shell. I'll work on emulating it, see here for g-t approach:

https://github.com/GNOME/gnome-terminal/blob/master/src/eggshell.c

[2016-04-18 18:22] edubxb commented on #204
I'm working in the Spanish translation.

[2016-04-18 20:38] #209 closed

[2016-04-18 21:23] #256 closed

[2016-04-18 21:26] brittyazel opened #261 "Feature request: option to close session directly from session sidebar"
Hi, a simple request that would improve my workflow with terminix is if directly from the Session Sidebar we had an option to close the sessions. Perhaps this could be done with a "X" in the upper right hand corner of each mini-window, or an option to right click on a mini-window and select close.

[2016-04-18 21:32] doubleloop opened #262 "Disable sound when switching sessions in sidebar (sessions preview)"
When I go to sessions preview and switch session with arrows, there is sound when I press up(down) arrow while on first(last) session.
I think good idea would be to disable this sound or make cycle (from last session you go to first) or make those configurable.

[2016-04-18 21:33] edubxb opened #263 "Change fg and/or bg color for unfocused terminals"
As Terminator and iTerm2 does, could be a nice feautre that Terminix changes the fg and/or bg color of the unfocused terminals.

Currently only title in the terminal header changes it color.

[2016-04-18 21:35] gnunn1 commented on #263
I fooled around a bit with this but my current implementation has many issues that would need to be addressed. If you are building from source, set the DIM_TERMINAL_NO_FOCUS to true in constants.d to try it out.

[2016-04-18 21:36] doubleloop opened #264 "Make it possible to reorder sessions by dragging with mouse in sidebar (sessions preview)"
It would be good feature to be able to reorder sessions with your mouse in sidebar (sessions preview).

[2016-04-18 21:39] gnunn1 commented on #262
That's standard GTK Listbox behavior and I'm not sure I can change it, I'll do some research though.

[2016-04-18 21:39] gnunn1 commented on #261
Makes sense, I'll see what I can come up with.

[2016-04-18 21:46] brittyazel commented on #261
Awesome thanks! Love the work you do

[2016-04-18 22:05] brittyazel opened #265 "Current session loses number in session sidebar overview"
![screenshot from 2016-04-18 15-01-44](https://cloud.githubusercontent.com/assets/3747347/14621305/a21fcdee-0576-11e6-82c9-83be1e844971.png)

I'm not sure if this is a bug or design, but the current session loses its number when viewing the session sidebar overview. The little white circle containing the number just becomes pure white. If this was a design choice to signify the current session, I

[2016-04-18 22:07] brittyazel commented on #265
This does not happen in the light theme variant, only the dark theme, so this makes me think it is a bug. I'm guessing the current window has the number text color set to white, which doesn't really work well with the white background of the circle.

[2016-04-18 22:16] edubxb commented on #263
I made the change you suggested, but only works with the Light theme.

[2016-04-18 22:33] gnunn1 commented on #263
Like I said it has issues :)

I'm not sure my current poc approach is the way to go either, I believe
Terminator does it by actually changing the font colors.
On 18 Apr 2016 4:16 p.m., "Eduardo Bellido Bellido" <
notifications@github.com> wrote:

[2016-04-18 22:53] jimmac commented on #245
We don't vertically center app icons, we baseline align them.

[2016-04-18 23:00] edubxb commented on #263
Yeah, you said it!

The Terminator way to do this seems a good way ;)

I think that your guess is correct... http://bazaar.launchpad.net/~gnome-terminator/terminator/trunk/view/head:/terminatorlib/terminal.py#L1190

[2016-04-18 23:34] doubleloop opened #266 "Change the terminal that is focused after closing terminal"
IMO it would be more intuitive when after you close the terminal, the terminal that is focused is the last used.

Fore example when you have 2 terminals (1, 2), and being in terminal 1 you open new one and then close it, you end up in terminal 2 not in terminal 1.

[2016-04-19 00:02] dsboger commented on #245
I'm definitely out of my AoE, so I said bs. Even though, I feel the alignment is a bit high when the icon is put in the headerbar:
![terminix_icon_headerbar](https://cloud.githubusercontent.com/assets/2356842/14623419/6e2a7b88-05a8-11e6-8cfd-18664b816f6a.png)

[2016-04-19 01:18] gnunn1 commented on #209
Can you download the version from here and confirm that it is working for you:

http://gexperts.com/files/terminix.zip

[2016-04-19 01:20] gnunn1 commented on #204
@frnogueira There were some problems with the pt_BR file as it had numerous duplicates and wouldn't compile, I suspect something happened in the exchange between git repos. I cleaned it up, can you have a look and confirm it looks good.

[2016-04-19 01:25] gnunn1 commented on #204
Updated home page to reference Weblate for translations, closing this issue.

[2016-04-19 01:25] #204 closed

[2016-04-19 01:47] frnogueira commented on #204
I'll looking for...

[2016-04-19 02:04] #260 closed

[2016-04-19 02:34] gnunn1 commented on #250
So after looking at this it appears the issue is that Terminix sets the search wrap-around to false by default while gnome-terminal sets to true by default. If I set wrap-around to true I get identical behavior between the two as far as I can tell. Same if I set both to false, I again get the same behavior, albeit buggy. Since both are based on VTE no surprises there.

I have updated Terminix to u

[2016-04-19 02:36] #250 closed

[2016-04-19 03:40] #265 closed

[2016-04-19 07:10] curaloucura commented on #209
yep, that did the trick! thanks a lot for looking at it, gonna use Terminix today to see how it performs  :)

[2016-04-19 07:17] kmf commented on #25
@paolostivanin how's the Ubuntu Packages coming along .... do you need assistance of some sort?

[2016-04-19 08:16] paolostivanin commented on #25
Hi, all,
sorry for the long delay but I was busy with my master's thesis defense.
I tried to setup a new ppa, I dput'ted the package, everything went fine but I never received any confirmation email -.-
Honestly, I don't know what to do, it never happened to me before :-/

[2016-04-19 10:51] michaudg opened #267 "Segfault when splitter is double-clicked"
ArchLinux
Terminix 0.58.1

App crash when splitter is double-clicked.

Thanks.

[2016-04-19 11:36] egmontkob commented on #263
See https://bugs.launchpad.net/terminator/+bug/1518111
and https://bugzilla.gnome.org/show_bug.cgi?id=758368

[2016-04-19 11:52] giray commented on #246
Hi ...

  At this point including the "fixes" in works as expected when splitting the terminal, but not when you start a new session

[2016-04-19 13:14] gnunn1 commented on #246
I just tested it and it's working fine for me, I think I fixed this last night as part of #260.

[2016-04-19 13:21] gnunn1 commented on #267
Thanks, I can reproduce, looks like an infinite loop or recursion.

[2016-04-19 14:08] #267 closed

[2016-04-19 19:44] jimmac commented on #245
I thought we were talking about the highres. Should have looked at the low res as well. You are indeed right, everything was shifted a few pixels upwards, the smaller ones being even clipped. My apologies. I re-uploaded the icon to the same URL -- http://jimmac.musichall.cz/stuff/terminix.zip It should have the small sizes corrected now.

[2016-04-19 21:46] gnunn1 commented on #262
Just to confirm, that's standard GTK behavior and I'm not going to override it. Marking it as Won't Fix.

[2016-04-19 21:46] #262 closed

[2016-04-20 07:44] alexanderad commented on #25
For those who is interested in getting terminix installed right away on Ubuntu 16.04:
[code]
You are there! :dancer:

[2016-04-20 07:46] alcir opened #268 "Feature request: visible tabs"
There is a way to have all the open tabs visible in the top bar?

[2016-04-20 07:52] graingert commented on #25
Don't really fancy running sudo ./install.sh
On 20 Apr 2016 08:44, "Alexander Shchapov" <notifications@github.com> wrote:

[2016-04-20 08:02] alexanderad commented on #25
Well, this is the way you install any package, @graingert, isn't it? If it is `deb`, you'll run apt against it with `sudo`. You may want to supply prefix other than `/usr` it defaults to, but this is a different story then.

[2016-04-20 08:21] giray commented on #246
just did a pull and on master its not fixed.  Terminix About says 0.581.

Splitting works .. current is inherited.  While new session/tab starts at $HOME

[2016-04-20 12:19] vendforce opened #269 "Terminx Tabs/windows"
Terminx was great unitl now , YES the new dock looks lovely but Now instead of having mulitple split terminals THAT I CAN SEE and very easliy interact with, I spend my days clicking the view tabs button to see what terminals are open and its confusing and so annoying

WtF ? the reason terminx was so popular was becuase you could split the terminal vertical/horizontal and resize the width and heigh

[2016-04-20 13:11] gnunn1 commented on #268
No there is not and no plans to add it, sorry.

[2016-04-20 13:11] #268 closed

[2016-04-20 13:20] gnunn1 commented on #269
I'm really confused by this rant, I can't think of anything significant that has changed in Terminix in the last few months. Before the sidebar was introduced there was a drop-down menu attached to the button for switching between sessions so conceptually it's the same flow?

Then you start ranting about splitting terminals, nothing has changed here as well. You still split terminals using the but

[2016-04-20 13:22] vendforce commented on #269
![screenshot from 2016-04-20 14-22-07](https://cloud.githubusercontent.com/assets/15267883/14675958/55bbf1a6-0703-11e6-9e0d-c2a9347a3ca5.png)

[2016-04-20 13:25] gnunn1 commented on #246
I think I've been completely mis-understanding the issue. I've been so focused on the directory issues when launching Terminix I've been thinking this issue is referring to the New Instance option. I think what you are actually getting at is that you expect when you click the New Session button it should inherit the directory of the currently focused terminal, is that correct?

I'm re-opening this

[2016-04-20 13:28] #269 closed

[2016-04-20 13:36] dsboger commented on #269
@vendforce There is an option in the settings to show/hide the terminal title bar.

![terminix_change_title_bar](https://cloud.githubusercontent.com/assets/2356842/14676413/b63624fe-06e3-11e6-8519-2060fa2ba261.png)

[2016-04-20 13:37] gnunn1 commented on #269
Mature means learning to deal with your frustration and not acting like a five year old in a candy store when there Mommy refuses to buy them a chocolate bar. I work on this on as a hobby, I get enough crap to deal with in my job that I'm not interested in putting up with it here.

You have the terminal titles hidden which is a new option in Preferences (off by default). As a result, you can split

[2016-04-20 13:46] vendforce commented on #269
Oh fuck off you dickhead ,I didnt insult you till now ,

[2016-04-20 14:40] alcir opened #270 "Feature request: clear terminal shortcut"
There is a shortcut to clear the current window?

[2016-04-20 14:44] gnunn1 commented on #270
I don't think so, however if you can define a bit more what you mean by clear I could consider it as a feature request. For example, do you mean a shortcut for the equivalent of the Linux ```clear``` command, the ```reset``` or ```reset and clear``` feature in gnome-terminal, etc?

[2016-04-20 14:53] alcir commented on #270
Yes, sorry. I mean reset.

[2016-04-20 14:54] alcir commented on #268
Thank you for your answer, but there is a reason for that? Do you think that it is not useful?

[2016-04-20 15:09] giray commented on #246
no worries! :)

love the end product!

[2016-04-20 15:16] gnunn1 commented on #268
It's the latter, I tend to think it's not useful because the tab doesn't convey enough information about what it contains. When I used to use gnome-terminal, I was constantly clicking through tabs trying to find the right one. In Terminix with the ability to split terminals it gets even more complicated.

There was a long discussion about this way back in issue #12 , you can review that for more b

[2016-04-20 17:49] edubxb commented on #270
There's no reason for that, IMHO, Control+L does this, is a shell shorcut.

From Bash man:

**clear-screen (C-l)**
    Clear the screen leaving the current line at the top of the screen. With an argument, refresh the current line without clearing the screen.

[2016-04-20 18:16] gnunn1 commented on #270
@edubxb Thanks for that, however I think the VTE reset is a bit different then clear, from the VTE [documentation](https://developer.gnome.org/vte/0.40/VteTerminal.html#vte-terminal-reset):

_Resets as much of the terminal's internal state as possible, discarding any unprocessed input data, resetting character attributes, cursor state, national character set state, status line, terminal modes (ins

[2016-04-20 18:18] edubxb commented on #270
Mmm, the VTE reset does the same that the [reset](http://linux.die.net/man/1/reset) command?

[2016-04-20 22:17] gnunn1 commented on #270
@edubxb I didn't even know there was a reset command. I just tried it, looks pretty much the same at first glance.

@alcir What do you think, do still need this as I'm not sure it's worthwhile adding a shortcut for this?

[2016-04-21 01:04] #246 closed

[2016-04-21 01:08] gnunn1 commented on #25
@graingert Completely understandable, hopefully at some point someone steps up and puts together a working deb file.

[2016-04-21 01:42] gnunn1 commented on #263
Thanks @egmontkob that is very helpful, I think I've found a good way to do this. My original attempt used Cairo to draw an Alpha rectangle, after doing some research I saw that using a Cairo compositing operator would likely produce better results. I've put in a new implementation and it seems to work pretty well with both light and dark themes.

Since it is a post-processor at the draw level it

[2016-04-21 01:43] gnunn1 commented on #263
I suppose I should mention that the scaling factor is a value from 0 to 1 where 0 is completely transparent and 1 is completely opaque. So .5 would be 50% alpha.

[2016-04-21 03:56] freongrr commented on #25
@alexanderad, your instructions don't work for me. `dud` is not included in the package you linked to.

But installing `dub` and `dmd` from the official PPA works: http://d-apt.sourceforge.net/

[2016-04-21 06:14] khurshid-alam commented on #25
@gnunn1 It is difficult to **compile and create** a deb (packaging binary into deb is different) under Ubuntu as `dub` and `dmd` are not available in Debian unstable. That means, you first need to get those binaries into ppa......then you can upload the source into the same ppa and let launchpad to compile....

May be we could send a mail to Debian mailing list or dub/dmd maintainer to upload it i

[2016-04-21 06:46] paolostivanin commented on #25
@khurshid-alam that's what I tried to do. I have created packages for D, GtkD and Terminix but after I dput'ted D I've never received a confirmation/rejection e-mail from Launchpad -.-
Launchpad is the worst build system I have ever used...

[2016-04-21 06:53] khurshid-alam commented on #25
@paolostivanin Could you please upload your source to a bazaar branch or in Github....even a shared dropbox folder will do.....I will take a look. Thanks.

[2016-04-21 07:32] giray commented on #246
confirmed fixed!  thx

[2016-04-21 13:26] gnunn1 commented on #25
@khurshid-alam While not a PPA, is something like d-apt feasible?

http://d-apt.sourceforge.net/

[2016-04-21 15:22] khurshid-alam commented on #25
@gnunn1 Sourceforge contains the binary.Launchpad does not allow uploading of binary packages directly. It needs you to upload the dsc file along changes and original tarball. Then the build system builds it in a clean chrooted environment. And you can add  another ppa as a dependency.

That is why we need the source (along with debian folder) of dub and dmd. I tried with `apt-get --allow-unauthen

[2016-04-21 16:52] gnunn1 commented on #25
@khurshid-alam Thanks for the detailed explanation, for those interested there is some discussion happening around getting D packaged for debian on the D forums, here is a link:

http://forum.dlang.org/thread/ivbnsgqoyjrxkkhvzhcg@forum.dlang.org

[2016-04-21 21:34] edubxb commented on #263
Just compiled the master branch and changed the value to 0.5, but nothing happens, not sure if I'm doing something wrong...

[2016-04-21 21:37] gnunn1 commented on #263
If you did a checkout, did you remember to change that DIM_TERMINAL... in constants.d back to true?

[2016-04-21 21:46] edubxb commented on #263
Now I'm sure that I did something wrong, thanks!

[2016-04-21 21:51] edubxb commented on #263
Look's good, now the only missing thing is to add the slider to change the alpha value as you suggested.

[2016-04-21 21:56] egmontkob commented on #263
Looks nice indeed!
It seems to me that it shifts colors towards white in inactive panes. I'm wondering if it'd be better to shift them towards black, or mid-gray, or the terminal's background color, or even have a config option to choose among these. Could be worth experimenting a bit...

[2016-04-21 21:58] phw commented on #263
Is this setting something that will be part of a color scheme?

[2016-04-21 22:15] gnunn1 commented on #263
@phw @egmontkob Right now it uses the theme color for INSENSITIVE which for the VTE might be the same as the theme background. I tried it with the VTE background as well but it didn't seem to look as good.

I'm debating about allowing to set the color used with the profile color scheme and putting the factor slider there as well. This would allow people to really tune it well. The con of course is

[2016-04-22 01:59] doubleloop commented on #266
Also for example in situation of split:

1 | 2
--- | ---
  **1**  | **3**

(1's are one terminal) when you are in terminal 3 and do alt+left (goto terminal 1) then alt+right you end up in terminal 2 not in 3 as could be expected.

[2016-04-22 12:23] doubleloop opened #271 "Option to disable highlighting of pasted text"
When you paste some text to terminix it is highlighted (which for example works bad when you have some coloring enabled like https://github.com/zsh-users/zsh-syntax-highlighting). Could it be optional?

[2016-04-22 14:37] Tadly opened #272 "Max width/height"
**For reference**
Resolution 1920x1080
Version: 0.58.1

I prefer my terminals to open on the very top stretching from the very left to the very right (fill the screens width)

So, the problem than.
Terminix allows 256 as max columns and 256 max rows.
Even if I set the columns to 256 it doesn't fill the whole screen.
I tried fine-tuning the columns which had no effect
![terminix_1](https://cloud.gi

[2016-04-22 14:43] Tadly opened #273 "New instance positioning (pos_x, pos_y)"
Very simple to explain...

It'd be nice if new instances could be opened at a specific position.
Having a *Position X* and *Position Y* within each profile would be super nice :)

Currently it feels kinda random (to me at least) and depends on other windows on the same workspace (I think).

Not sure if that's a limitation of GTK as gnome-terminal removed the geometry argument with 3.20 (however th

[2016-04-22 16:03] gnunn1 commented on #272
Absolutely, I went with what gnome-terminal was using and I noticed they've changed this as well.

https://bugzilla.gnome.org/show_bug.cgi?id=761395

I'll bump the maximum for both to 512.

[2016-04-22 16:04] gnunn1 commented on #271
I'm not adverse to adding an option for this, would you mind posting a screenshot to illustrate the issue?

[2016-04-22 16:05] gnunn1 commented on #273
I have mixed feelings about this as I generally think it should be the window manager's job to position the window. I'd be interested in hearing what other folks think about this.

[2016-04-22 16:10] Tadly commented on #272
As another side-note, on gnome-terminal I set the columns to 220 which is enough for it to reach all the way.
Same font, same font-size

So I'm not sure if bumping the maximum to 512 will be enough, but we'll see I guess :)

Oh and thanks btw. :)

[2016-04-22 16:14] Tadly commented on #273
Fair point (and might be the reason for gnome removing it from gnome-terminal, who knows)
Interestingly enough, gnome-terminal ALWAYS opens on the very top for me while terminix doesn't.

So the might still be doing *something*

[2016-04-22 17:26] gnunn1 commented on #272
@Tadly I'm not sure what's going on with that, on my system setting the columns and rows to the same values (180x40) for both terminix and gnome-terminal results in the same size.

[2016-04-22 17:29] doubleloop commented on #271
the simplest example (using https://github.com/zsh-users/zsh-syntax-highlighting):
after I paste:
![screenshot from 2016-04-22 19-25-03](https://cloud.githubusercontent.com/assets/2602750/14749520/2753e238-08c0-11e6-84a0-dcecf082205c.png)

then after I press right arrow:
![screenshot from 2016-04-22 19-25-20](https://cloud.githubusercontent.com/assets/2602750/14749519/2751383a-08c0-11e6-8ece-6c4a7

[2016-04-22 17:34] #272 closed

[2016-04-22 17:36] gnunn1 commented on #270
No response from OP, I'm fine relying on clear/reset commands

[2016-04-22 17:36] #270 closed

[2016-04-22 17:46] N3mesis98 commented on #10
It would indeed be a really nice feature to have.
At the moment it's the only thing stopping me from using terminix as my main terminal emulator.

[2016-04-22 18:30] gnunn1 commented on #271
OK this is weird, I just tried on my local instance of terminix and this isn't happening for me, the behavior is the same as g-t which is the pasted text is not highlighted. How does gnome-terminal behave on your system?

[2016-04-22 18:31] gnunn1 commented on #271
Also, any chance to this could be related to your shell (zsh)?

[2016-04-22 18:34] gnunn1 commented on #10
@N3mesis98 I do not have any plans to spend time on implementing this myself but I would be happy to accept a PR if someone else wants to make the effort and does a really good job of it. My main issues with spending time on this are as follows:

* It won't work in Wayland as far as I can tell since there is no way in Wayland to capture keys globally
* From a design perspective there are lot's of

[2016-04-22 19:03] doubleloop commented on #271
In bash there is no highlighting. It is in zsh even without any configuration (`zsh --no-rcs`).
On gnome-terminal there is no highlighting in both bash and zsh

[2016-04-23 01:45] #266 closed

[2016-04-23 06:37] N3mesis98 commented on #10
Guake seems to work pretty well on Gnome 3.20 + Wayland, at least for the global shortcut part.
Maybe it's linked to the fact that guake uses the keybinder library ?

[2016-04-23 09:54] phw commented on #271
Yes, that is default behavior for zsh, see http://zsh.sourceforge.net/Doc/Release/Zsh-Line-Editor.html

[2016-04-23 11:11] Kami-no commented on #10
Wayland + Gnome Extension Drop Down Termial = no problem

[2016-04-23 12:03] gnunn1 commented on #10
@N3mesis98 Judging by this bug report it only works under xwayland, otherwise you have to manually register a hot key with Gnome.

https://github.com/Guake/guake/issues/492

[2016-04-23 12:05] gnunn1 commented on #10
@Kami-no The extension works because it runs within the gnome desktop, Terminix does not.

[2016-04-23 12:07] egmontkob commented on #273
gnome-terminal did not intentionally remove geometry support. Gtk+ changed something internally, and adjusting g-t is in progress: https://bugzilla.gnome.org/show_bug.cgi?id=760944

[2016-04-23 16:50] valmar opened #275 "Wrong font color in context popover with Ambiance theme in Ubuntu"
Dear gnunn1, first of all thank you for this fabulous terminal emulator.

I would like to report that in Ubuntu 16.04, using the default Ambiance theme, the font color in the context popover is wrong and the text is very hard to read. I attach a cropped screenshot.

Thank you for looking into this

![screenshot from 2016-04-23 18-40-23](https://cloud.githubusercontent.com/assets/558469/14762780/27

[2016-04-23 19:02] gnunn1 commented on #275
I'll have a look but I suspect this is a bug in Ambiance and not Terminix

[2016-04-23 20:03] dsboger commented on #266
Would it be desirable to have a full most-recently-used terminal list per session? I would like to exercise some D coding for the first time and that seems a good opportunity, if there is interest. This list could be useful beyond this issue, like opening way for a possible MRU order ctrl+tab feature (similar to alt+tab in window managers).

[2016-04-23 22:37] gnunn1 commented on #266
@dsboger Absolutely, before @alexwhitman did this work I was thinking about using an ordered linked list to track the focus order of terminals as a chain. So if you want to enhance the work that Alex did please feel free.

[2016-04-25 10:15] stuaxo commented on #275
I have the same bug using Flatabulous Gtk theme in Ubuntu.

The dropdown colours don't seem correct as well:

![similar bug?](http://imgur.com/jGauEh7.png)

Menus in Nautilus, Gnome Terminal look OK, as does the right-click window menu.   Will keep using this as you've made something too useful :)

Not quite sure how to debug this, and suspect the themes themselves more (+Gtk changes around CSS th

[2016-04-25 10:16] stuaxo commented on #275
Ah, confirmed the same bug in Gedit, so it is the theme - ignore this.

[2016-04-25 10:27] valmar commented on #275
Indeed, you made something too useful!

I have to say that the menu that @stuaxo has shown in the picture looks fine with ambiance. It is only the right-click popover giving trouble

[2016-04-25 13:32] #271 closed

[2016-04-25 14:58] gnunn1 commented on #275
This is a bug in Ubuntu IMHO, see #217 for another one that I fixed. Fixing the color is trickier though because a simple override in the terminix CSS will affect all themes which I'm not willing to do. I tried setting it to the named theme color, insensitive_fg_color, but doesn't look like Ambiance supports that correctly as well.

I really think I'm going to need an Ubuntu Ambiance specific CSS

[2016-04-25 15:54] stuaxo commented on #275
It's worth opening a launchpad bug ... I don't expect that to make them fix it, but at least if you work out a fix, they might take it.

[2016-04-25 16:10] valmar commented on #275
I would like to report it as a general popover bug as opposed to a terminix
bug, but I cannot find another app that uses popovers in Ubuntu to test if
I can reproduce the bug. Anyone has any idea?

Valerio
On Apr 25, 2016 5:54 PM, "Stuart Axon" <notifications@github.com> wrote:

[2016-04-25 16:55] stuaxo commented on #275
It looks like gedit, does, but I can't seem to repro the bug in it.   Will have a try with GtkParasite later.

[2016-04-25 16:56] stuaxo commented on #275
A lot of the programmes listed in here are popover enabled in Ubuntu (a few not, like Nautilus).
https://blogs.gnome.org/mclasen/2014/03/18/new-in-gtk-3-12-popovers/

[2016-04-25 18:05] gnunn1 commented on #275
Builder would be a good one to test since I based my UI on that.

[2016-04-26 02:12] gnunn1 commented on #263
So I'm making progress on this, anyone have any thoughts on how to make this UI suck less?

![screenshot from 2016-04-25 20-11-42](https://cloud.githubusercontent.com/assets/9358238/14804592/167f064a-0b22-11e6-8d81-0da7f121af17.png)

[2016-04-26 08:14] Boiethios opened #277 "How to rebuild to have the languages changes ?"
There is not an issue about the terminix features : there are some new changes in my language (French) and I would have them in terminix. I did :

[code]

But there are no changes in the application, while the changes are in the `po/fr.po`. Why ?

[2016-04-26 08:26] phw commented on #277
dub build just compiles the source code and builds the binary. You need to run install.sh to compile the po files to mo files and install them to the appropriate system folder.

[2016-04-26 08:29] gnunn1 commented on #263
I think I'm going to revert the UI and simply add an Advanced menu button with a popover that has the highlight, cursor and dim color options. The button would be positioned next to the Use theme colors... checkbox and tied to it for sensitivity.

This should look much less busy and tuck these lesser used options away.

[2016-04-26 08:32] phw commented on #263
Yes, sounds cleaner to me, too

[2016-04-26 08:33] Boiethios commented on #277
I never installed the application using `install.sh`. The depo is in my `/opt` and I lauch terminix using `cd /opt/terminix_depo && ./terminix`, and I have still the old translation. How is it possible ?

[2016-04-26 09:38] phw commented on #277
AFAIK Terminix does not try to load the locale files from any other location then the system wide default. So when you run Terminix from an arbitrary directory it will usually just display the English default strings. Is it possible you had Terminix installed before (either via install.sh or via some package?) and had older translation files in `/usr/share/locale/fr/LC_MESSAGES/terminix.mo`?

It w

[2016-04-26 09:41] Boiethios commented on #277
Thanks for your complete answer : perhaps I ran `install.sh` and forgot it.

And thank you for terminix, it is a really good job. I waited for this since long time.

[2016-04-26 09:41] #277 closed

[2016-04-26 09:43] phw commented on #277
@Boiethios: All thanks goes to @gnunn1 , I am completely unaffiliated and just trying to answer your question :D

[2016-04-26 09:46] Boiethios commented on #277
https://github.com/gnunn1/terminix/graphs/contributors : phw : 50 commits. You contributed too. But yes, I am grateful to @gnunn1 primarily :)

[2016-04-26 13:17] gnunn1 commented on #277
@phw is too modest, the localization in Terminix wouldn't exist without the work he put in, much appreciated,

[2016-04-26 14:50] Boiethios commented on #273
A command line argument to do this may be a good solution, is not it ?

[2016-04-26 14:57] alexwhitman opened #279 "Synchronised input groups"
Synchronised input is currently done at the session level but it would be useful if terminals could be grouped within a single session and input synchronisation done at the group level.

[2016-04-26 17:32] gnunn1 commented on #273
@Boiethios For me it's not so much where it's done but whether it should be done at all. As I mentioned previously, I tend to think that window positioning is the responsibility of the window manager and not the application.

Are there any other well known Gnome applications that have this feature?

[2016-04-26 17:37] gnunn1 commented on #279
@alexwhitman I added the feature some time ago that allows you to decide what terminals in a session participate in synchronization. When the titlebar is visible and session input synchronization is on, there is a little keyboard icon that appears that you can toggle on/off to include/exclude specific terminals. This feature is also available in the terminal context menu when the titlebar is off.

[2016-04-26 20:04] alexwhitman commented on #279
It's a feature I've used quite a bit in terminator as I tend to have it maximised on a single large monitor which then allows for comfortably fitting quite a few terminals.

The screenshot below shows how it's done in terminator to distinguish/manage each group but I can understand why it might be something you wouldn't want to add.

![selection_001](https://cloud.githubusercontent.com/assets/4220

[2016-04-26 20:52] gnunn1 commented on #279
Thanks, I still tend to think it's confusing and not something to many folks would use, but I'll leave this open as a means to judge interest.

[2016-04-26 21:01] gnunn1 commented on #275
As far as I can tell, Builder has the same issues.

![screenshot from 2016-04-26 15-00-02](https://cloud.githubusercontent.com/assets/9358238/14834083/ca8dde20-0bbf-11e6-9e92-c33875910a77.png)

[2016-04-27 03:27] gnunn1 commented on #263
I've checked in an initial implementation of this, I definitely need to do more testing though before closing this issue, particularly around the color tab of the profile editor as I'm not sure it's completely solid at this point.

As a bonus, added support for setting the cursor and highlight color with a new Advanced button.

[2016-04-27 03:28] gnunn1 commented on #263
Here's the new dialog, much cleaner.

![screenshot from 2016-04-26 21-27-59](https://cloud.githubusercontent.com/assets/9358238/14840890/d414e87c-0bf5-11e6-9047-f8b2279e1d9e.png)

[2016-04-27 11:33] stuaxo opened #281 "Feature Request: Drag terminal to different session"
It would be great if dragging the terminal onto the session sidebar button on the top left would pop it open and let you drop it into a different (or new) session.

[2016-04-27 14:20] gnunn1 commented on #275
I've opened a launchpad issue for it here:

https://bugs.launchpad.net/ubuntu/+source/ubuntu-themes/+bug/1575701

I'm closing this and marking it as Won't Fix since in my opinion this is an issue with Ambiance. I debated about fixing it myself locally but after consideration it doesn't make sense for me to do it otherwise it puts me in the business of fixing every theme that has issues.

[2016-04-27 14:20] #275 closed

[2016-04-27 17:11] stuaxo commented on #275
Definitely makes sense, I expect Ubuntu Aerobic Asp to have it fixed in 2019 ;)

[2016-04-28 04:17] gnunn1 commented on #239
@alexwhitman I think I'm pretty much there on Ubuntu 16.04, you can try it out yourself by setting the compile flag STYLE_TERMINAL_SCROLLBAR in constants.d to true. Here is what it looks like on my VM:

![screenshot from 2016-04-27 22-06-24](https://cloud.githubusercontent.com/assets/9358238/14875186/43b149b2-0cc5-11e6-8ef2-12f30c636246.png)

The terminal on the left I'm holding the mouse over it

[2016-04-28 07:15] Tadly commented on #273
Sorry, been super busy lately.

@gnunn1 Apart from gnome-terminal I can't think of any other app that can (or well.. could) do that.

So even though I really would like such a feature I do understand that within the application itself it's not the right place to implement it.

[2016-04-28 08:45] Boiethios opened #283 "Nautilus extension does not work"
[code]

All seems ok, but there is no "Open Terminix here..." in my nautilus.

[2016-04-28 12:22] alexwhitman commented on #239
I haven't had a chance to test this yet but the screenshots look good, thanks.

[2016-04-28 12:54] Boiethios commented on #273
http://linux.die.net/man/1/wmctrl can do the job. No need to implement it in the application.

[2016-04-28 14:30] dsboger commented on #283
Please, can you verify if you have the `python-nautilus` package installed?

[2016-04-28 15:13] Boiethios commented on #283
Ok, I did not know. Can I propose a pull to the wiki, to add this info ?

[2016-04-28 15:30] dsboger commented on #283
Maybe also add an item to the dependencies section in the readme.

[2016-04-28 16:18] gnunn1 commented on #283
I've included it as a dependency in readme, thanks for the suggestion @dsboger.

[2016-04-28 16:18] #283 closed

[2016-04-29 10:53] Tadly commented on #273
yeah I know about wmctrl.
Would have liked to not use a separat tool for positioning but that's fine.

This issue was more for discussion anyway which has been done :)

So I'm fine if we close that issue unless there are objections.

[2016-04-29 11:01] Tadly opened #284 "Session sidebar not highlighting session when switching via keyboard shortcut"
Most of the time I use sessions (instead of tiles) and mapped all "switch to session *n*" to alt+*n* in old gnome-terminal fashion.

I noticed, when switching to a different session with alt+*n* **while** the session sidebar is open, the new session does not get highlighted.
After closing/reopening the session sidebar the new session is highlighted properly.

This is (obviously) just a minor bug :

[2016-04-30 01:06] #239 closed

[2016-04-30 01:12] gnunn1 commented on #239
This is feature complete now and seems to be working fine so I've mainlined it and removed the compile flag to activate it. In addition to fixing this, I also added support for theme specific CSS to give opportunities to adjust issues in theme specific cases. I've tested with different themes and because it requires a theme specific CSS file to activate it doesn't affect themes like Adapta or Vert

[2016-04-30 02:16] jaromero opened #285 "Unsure how startup works"
I can't seem to figure out exactly how the starting directory is determined when opening a new terminal. I'd like to be able to start in my home dir, as (xfce4|gnome|pantheon)-terminal do. Sometimes terminix starts in a directory I've used recently, but I have no idea what exactly makes it do so, instead of starting at home.

I've tried these things to attempt to control the starting directory:

*

[2016-04-30 03:44] gnunn1 commented on #285
Sometimes I wonder that myself, I'll spend some time tomorrow documenting this.

However, one thing to make sure is that the VTE is configured correctly so it returns the CWD of the shell to terminix. You can tell if it's not configured correctly if you ```cd``` to a new directory, split a terminal and the new terminal doesn't use the directory of the terminal it was split from.

[2016-04-30 09:08] githano opened #286 "Unable to display icon with Ubuntu 16.04"
Hello,
I've manually installed terminix using the zip with the two following commands:
sudo unzip terminix.zip -d /
sudo glib-compile-schemas /usr/share/glib-2.0/schemas/
The application is working, anyway I'm unable to load the icons for the launcher.
What am I doing wrong?
Thanks for the support.

[2016-04-30 09:55] alexwhitman commented on #239
Just tested this, looks great.  Thanks :+1:

[2016-04-30 14:51] jak645 opened #287 "Elementary port"
I try to install it on elementary os Freya and is not very well done
is do sudo ./install.sh

resulte:
mederic@mederic-oldlaptop:~/Téléchargements/terminix-master$ sudo ./install.sh
Installing to prefix /usr
Copying and compiling schema...
Building and copy resources...
Copying color schemes...
Copying and installing localization files
Processing po/de.po
Processing po/en.po
Processing po/es.po
Pr

[2016-04-30 15:14] mannol commented on #25
Shooting a blank here but, [AppImage](http://appimage.org/) seems like a nice solution to a packaging problem.

[2016-04-30 15:56] gnunn1 commented on #287
I think the issue is the version of xgettext on Freya is too old, can you confirm what version you have by running:

[code]

It might be possible to adjust the script to simply skip localizing the desktop and appdata file when xgettext is too old and copy it directly instead.

[2016-04-30 15:58] gnunn1 commented on #287
BTW, if you download the binary release instead it should hopefully work fine on Freya.

[2016-04-30 16:03] gnunn1 commented on #286
You probably need to re-build your icon cache:

[code]
You may also need to stop nautilus, from a command line:

[code]

[2016-04-30 16:19] phw commented on #287
In addition to the gettext isdue this is a sign that you did not run dub build before running install.sh.

[2016-04-30 16:24] gnunn1 commented on #287
@phw Missed that, thanks. I'll update the install.sh to check if the terminix executable is present and emit an error if it is not, there have been a few people who missed running dub build first.

[2016-04-30 16:27] grigio commented on #270
+1 It's one of the most useful features in Gnome Terminal.

- `CTRL+L` is *clear* (it isn't very useful, because just the cursor is moved, the buffer still has the old data)
- `CTRL+K` is *clear and reset* (in my terminal) it means the buffer is empty again

[2016-04-30 16:29] gnunn1 commented on #270
It's been added in the newest release thanks to a PR from @Boiethios

[2016-04-30 16:48] gnunn1 commented on #285
So I reviewed my code and in a nutshell it's a bit confusing. There are actually different scenarios in play with subtle differences between them as follows:

1. Pass the workingDir explicitly. If you pass the working directory explicitly, it always uses this

2. First time running app, no command line parameters. Uses the PWD envrionment variable

3. First time running app, command line parameter

[2016-04-30 17:00] #287 closed

[2016-04-30 17:02] gnunn1 commented on #263
Included in today's release, closing.

[2016-04-30 17:02] #263 closed

[2016-04-30 17:02] probonopd commented on #25
@mannol I have [put togethe](https://github.com/probonopd/AppImages/blob/master/recipes/terminix/Recipe)r a quick AppImage which can be downloaded [here](https://bintray.com/probono/AppImages/Terminix/_latestVersion#files). To use it download, `chmod a+x`, and run.

Works for me on Ubuntu 16.04, I did not test it on other distributions yet. Due to Terminix' dependencies on very new libraries which

[2016-04-30 17:06] gnunn1 commented on #25
@probonopd That's very cool, works well on my Arch system. If you (or someone else) is willing to keep this up to date I'd be happy to put a link to it with the other distributions on the front page.

[2016-04-30 17:09] probonopd commented on #25
@gnunn1 Some more testing is required on different distros. What is the oldest distribution you are supporting?

[2016-04-30 17:12] gnunn1 commented on #25
@probonopd I see this more as an option for distributions where a package isn't available, in the case Ubuntu based ones are the biggest hole right now. Ubuntu 15.04 and Elementary Freya would probably be the oldest in that category. I also support RHEL 7.2 but it has an rpm package in COPR already so this would be less needed for that.

[2016-04-30 17:16] probonopd commented on #25
@gnunn1 on elementary OS Freya it does not work due to the missing `libvte-2.91.so.0` at the moment. I am not sure if bundling that library inside the AppImage is a good idea because it draws in a huge load of dependencies...

[2016-04-30 17:54] gnunn1 commented on #25
@probonopd Possibly, right now the vte library version is statically specified in GtkD in [paths.d](https://github.com/gtkd-developers/GtkD/blob/master/src/gtkc/paths.d) but there might be some options here. Give me some time to look into it.

[2016-05-01 13:14] probonopd commented on #25
On CentOS 7 I get

[code]

Any idea what I could do about it?

[2016-05-01 13:22] gnunn1 commented on #25
@probonopd You can ignore it, it has no impact on functionality. It's a result of adding per theme CSS support, I need to tweak things so theme CSS which isn't present isn't reported as an error.

[2016-05-02 09:50] Boiethios opened #288 "Graphical issues when using the dim option on unfocused terminals"
When I split the terminal :
![capture d ecran de 2016-05-02 11-44-46](https://cloud.githubusercontent.com/assets/18555389/14951762/af4737ec-105b-11e6-8bd7-02a875e2dd01.png)

When I open the menu at once, and close it :
![capture d ecran de 2016-05-02 11-44-59](https://cloud.githubusercontent.com/assets/18555389/14951771/c1f05fae-105b-11e6-833a-2785613dcb1e.png)

After switching terminal : this is

[2016-05-02 13:18] gnunn1 commented on #288
Thanks for reporting this. Can you provide the GTK version and distro you are using as I'm not experiencing any of these issues myself in 3.20. I'll try in my Fedora 23 VM when I get home from work, but more info about your environment would be helpful to track this down.

[2016-05-02 13:27] Boiethios commented on #288
- Debian testing
- libgtk 3.18.9-1
- Under X.org (not wayland)

Perhaps there is just a X.org bug, or it is due to 3.18 version.

[2016-05-02 13:32] gnunn1 commented on #288
Thanks for the quick reply. I'm using Xorg as well, personally I'd suspect GTK. If it's due to the older version, I may have to disable this feature in versions older then 3.20 as I'm not sure things like the painting around the drop down menu are correctable by me.

[2016-05-02 13:35] Boiethios commented on #288
Oh you can just do nothing, there is not a troublesome bug. I thought it could be fixed, that is just why I reported it.

[2016-05-02 13:47] arshavindn commented on #288
I can confirm this. It happens on the unfocused pane, then focus back on them the shadows were gone.

[2016-05-02 13:54] gnunn1 commented on #288
@arshavindn Are you also on GTK 3.18?

[2016-05-02 14:01] egmontkob commented on #288
Same here. Ubuntu Xenial (X11, GTK 3.18.9, etc.)

[2016-05-02 14:07] gnunn1 commented on #288
@Boiethios One other un-related question, are you using Adwaita as the theme as you don't seem to be getting the new style scrollbar I added and that one I did test under 3.18 but maybe I need to re-visit it.

[2016-05-02 14:46] Boiethios commented on #288
@gnunn1 Yes, I use Adwaita theme.

[2016-05-02 15:24] arshavindn commented on #288
@gnunn1 yes, Ubuntu Gnome 16.04, gtk 3.18

[2016-05-02 20:16] gnunn1 commented on #286
No response from OP, closing.

[2016-05-02 20:16] #286 closed

[2016-05-02 21:33] almson opened #289 "Can't upgrade to 0.59"
trying to start from command line, receive error:

[code]

[2016-05-02 21:34] gnunn1 commented on #289
Are using Antergos?

[2016-05-02 21:45] almson commented on #289
Sorry, forgot to mention I'm on Xubuntu 16.04

[2016-05-02 21:46] gnunn1 commented on #289
After you upgrade, you need to recompile the settings schema:

[code]

[2016-05-02 21:47] almson commented on #289
Thank you, that worked

[2016-05-02 21:47] almson commented on #289
Quick question, where did the application menu (ie, the place to access settings), go?

[2016-05-02 21:56] gnunn1 commented on #289
I haven't changed anything with the application menu as far as I can recall, unfortunately I'm not very familiar with Xfce. In Gnome, the Preferences (along with New Window, New Session, About and others) are accessed via the Gnome application menu. This menu either appears in the top bar at the top of the screen or there is a gnome option to add it to the application itself.

Do you know what Xfc

[2016-05-02 21:58] almson commented on #289
Looks like the app menu disappeared from Gnome Disks as well. Ugh... Thank you for your help! I'll try to figure this out on my own.

[2016-05-02 22:05] almson commented on #289
Got it. In `Window Manager` settings, the Menu button needs to be added to the title bar.

[2016-05-02 22:50] #289 closed

[2016-05-03 03:07] gnunn1 commented on #288
So I played around with it a bit tonight, seems to be an issue with GTK restricting the drawing to a region rather then drawing the whole widget as per the documentation for queue_draw. This is why the area around the context menu is drawn un-dimmed, it's actually part of the draw region so gets drawn correctly.

I've tried a few different things to force a draw of the whole region but not much lu

[2016-05-03 04:41] egmontkob commented on #288
Should invoking the menu of a non-focused widget give the focus to that widget?

So far I believed the buggy part was the immediate area around the menubar. Now it seems to me it's the other way around: that one is the correct, the bug is that the rest is not repainted. Am I right?

You might trigger a repaint of the entire vte widget by re-installing the bg/fg color or the entire palette, or togg

[2016-05-03 04:58] egmontkob commented on #288
Note: vte does a full repaint on focus in/out. No clue why (maybe to get rid of display glitches, should there be any), and no clue if it's explicitly done by vte or is standard gtk behavior.

When opening the menu, the bug I believe occurs due to the lack of this full repaint, since gtk's notion of the focused widget diverges from terminix's notion of the focused (active) terminal (and that's fin

[2016-05-03 13:16] gnunn1 commented on #288
@egmontkob Thanks for the suggestions, I tried toggling the allow bold flag with no effect. I really think the problem has to do with the popover and the way GTK is managing the drawing of it. Based on what I'm seeing, the issue is that when GTK 3.18 redraws the VTE widget it's restricting the draw region to just the popover rather then the whole widget like in 3.20. I've searched the GTK bug list

[2016-05-03 13:44] gnunn1 commented on #288
I asked on the gtk+ IRC about this, basically it sounds like they removed clipping when drawing from 3.20 hence why it works there and not on 3.18. As far as I can see, here are the options:

* Status quo and do nothing. Not really an option, not into shipping features that sort of work
* Soft disable the feature for GTK 3.18. This would remove the dim options from the preferences and profiles dia

[2016-05-04 10:28] egmontkob commented on #288
I'd give it another try to see if re-installing the palette at the right moment (after terminator's notion of the focused terminal changes, but before the menu is presented) fixes it... I really think it should fix it... ;)

[2016-05-04 10:34] egmontkob opened #290 "Global dim preference"
Sorry, it's a 2-in-1 bugreport :)

First, I got confused because altering the Unfocused Dim settings under Profile Prefs didn't make any difference... until I recalled there was a global pref to enable dimming. Just above the Dim profile pref there's the Transparency which doesn't have a global counterpart. So I'm wondering if maybe Dim shouldn't have one either. If someone wishes not to dim, they

[2016-05-04 10:38] egmontkob opened #291 "Inconsistent capitalization in pref labels"
It's inconsistent whether labels in the preference dialogs start the second and further words with upper- or lowercase. E.g.:

Terminal **t**itle **s**tyle
Theme **V**ariant
Dim **u**nfocused **t**erminals

Rewrap **o**n **r**esize
Custom **F**ont

Unfocused **D**im

etc.

[2016-05-04 10:40] egmontkob commented on #290
(Note the infamous focus bug that got fixed in Gtk 3.18.9: https://bugzilla.gnome.org/show_bug.cgi?id=677329)

[2016-05-04 11:47] phw commented on #291
One way to fix this would be by fixing the English "translation" at https://hosted.weblate.org/projects/terminix/translations/en/ instead of changing the actual source strings.

Having somebody look over this and making sure the wording is consistent and inline with GNOME standards would be great.

[2016-05-04 13:08] gnunn1 commented on #288
@egmontkob Changing the VTE colors, including the palette, doesn't seem to trigger a redraw presumably because VTE knows the colors haven't changed? If you want to play around with it I'd appreciate it, maybe a second pair of eyes would see something I am missing.

The queueDraw for focus changes happens in the methods ```onTerminalWidgetFocusIn``` and ```onTerminalWidgetFocusOut```. To trigger th

[2016-05-04 13:10] gnunn1 commented on #288
Hang on a second, I think I'm an idiot and missed something obvious...

[2016-05-04 13:23] yuryrodrigues opened #292 "Terminix does not start - bug"
_OS:_ Antergos/Arch Linux
_Kernel:_ 4.5.1
_DE:_ Gnome-Shell 3.20.1
**Terminix: 0.59.0-1**

Terminix does not start. I am getting the following errors:

[code]

[2016-05-04 13:26] gnunn1 commented on #288
This should be fixed now, I was having a mental block and was focused on the terminal focus in and out and somehow thinking the menu was triggering them, mostly because I tied in the search field to them as well and mentally I expanded that to all widgets.

It was easily fixed by adding map/unmap event handlers to the popover to redraw vte if dimUnfocused is active.

[2016-05-04 13:31] gnunn1 commented on #292
See the first pinned comment here https://aur.archlinux.org/packages/terminix/

[2016-05-04 13:31] #292 closed

[2016-05-04 13:38] gnunn1 commented on #290
Let me start by saying that I fully agree that the option isn't very intuitive.

The intent of the global option is to turn it on or off, the intent of the profile options is to tweak it's appearance. The appearance tweak options have to be in the profile since all of the other colors are there as well. The checkbox in the profile is to indicate whether to use the system color or a customized colo

[2016-05-04 13:43] Boiethios commented on #288
Have you push something ? It is worse now.

[2016-05-04 13:48] gnunn1 commented on #288
Yes, I pushed a change to terminal.d that redraws the VTE when the popover is shown/hidden. It's working fine for me here on Ubuntu 16.04 whereas before it was not. I just double-checked my commit to make sure I didn't check in something inadvertently but didn't notice anything.

@egmontkob Can you let me know if this fix is working for you or not just as another data point.

[2016-05-04 14:31] gnunn1 commented on #288
I just tested it on Fedora 23 as well, seems to fix the problem there as well as far as I can tell.

[2016-05-04 14:35] gnunn1 commented on #291
@phw Since you are more familiar with localization then I am, if I change the case of the source strings in the application I assume that creates it as a new string triggering a re-localization requirement?

Gnome standards on capitalization are here:

https://developer.gnome.org/hig/stable/writing-style.html.en

I'll fix up the obvious candidates that @egmontkob pointed out.

[2016-05-04 14:53] egmontkob commented on #290
That's what I'm thinking about... It might be more logical, although perhaps less user-friendly, who knows. Or maybe if dimming is globally off then disable the per-profile slider and color chooser?

Just throwing in random ideas, the final choice is yours :)

[2016-05-04 14:54] Boiethios commented on #288
I checked again, I have more visual issues with the last version.

[2016-05-04 14:57] egmontkob commented on #291
This doesn't sound like a good idea to me. Instead of a one-off fix it has a fixed amount of burden to carry, the English translations need to be maintained, it becomes harder to grep for a UI string in the source (as there's one more non-trivial indirection), and also translators to other languages are misguided wrt. how to capitalize.

I think the strings should be fixed in the source, and yes,

[2016-05-04 14:58] egmontkob commented on #291
Please go through all the prefs tabs, I just highlighted a small random selection :)

[2016-05-04 15:18] egmontkob commented on #288
Works fine for me :)

A really minor nit: When closing the menu, there's a short but noticeable time (maybe a quarter of a second) when two terminals are non-dimmed (both the active and whose menu was opened). Probably not worth it trying to address.

Just wondering: How much would it make your life easier if vte implemented https://bugzilla.gnome.org/show_bug.cgi?id=758368 ?

[2016-05-04 15:47] gnunn1 commented on #288
@egmontkob Thanks for testing, the delay might be because I connected the map/unmap signal using the AFTER flag, looking at the docs this probably isn't necessary. I'll test it out tonite and remove it if not needed.

I'm not sure that implementing this in VTE is a good idea, at least for Terminix, because a terminal is considered focused in a variety of use cases outside of just the vte widget be

[2016-05-04 15:47] gnunn1 commented on #288
@Boiethios Dumb question, any chance the app is not being built correctly when you are trying this?

[2016-05-04 16:01] gnunn1 commented on #284
Just a note to say I'm fixing this in parallel with #261

[2016-05-04 16:08] egmontkob commented on #288
@gnunn1 I definitely wouldn't auto-connect it to the focused state. I'd let the caller app decide when to install a color mapper that dims the colors, and when to remove the mapper. From your point of view, this would result in pretty much the same design as Terminator's when it installs a new color palette, except that it'd also work for RGB colors.

[2016-05-04 16:19] gnunn1 commented on #288
@egmontkob Thanks for the clarification, that makes sense. It would make my life easier and from an architecture perspective is the right direction to go IMHO. If you look at what Terminix needs to make this work:

a. Add a draw handler to apply the effect as a post-processing step
b. Litter the code with queue_draw calls to make sure the post-processing kicks-in at the right times

From my perspe

[2016-05-04 19:34] phw commented on #291
It will require a re-localization, but it shouldn't be too much trouble for the translators. Gettext is clever enough to keep the existing translations and just marks them as fuzzy (so they are still in the PO files, but won't be compiled into the mo). In Weblate this will cause the "needs review" checkbox to be active and a translator should check it.

I agree here (except the last part, English

[2016-05-05 00:44] gnunn1 commented on #288
@egmontkob I removed the AFTER from the map/unmap signals, give it a try and see if it helps the delay at all though I'm not overly optimistic.

[2016-05-05 01:58] #284 closed

[2016-05-05 01:59] gnunn1 commented on #261
Added feature with referenced commit

[2016-05-05 01:59] #261 closed

[2016-05-05 02:33] #291 closed

[2016-05-05 03:53] #273 closed

[2016-05-05 03:57] gnunn1 commented on #273
I've implemented the command line --geometry switch to support this. This initial version seems to work pretty well, but be aware that the parsing of the geometry string is custom (via regex) and thus doesn't support things like just setting the width or just the height. Right now it only supports two strings:

a. (width)x(height)
b. (width)x(height)+(x)+(y)

So rarer use cases like setting just t

[2016-05-05 04:26] gnunn1 opened #293 "Release Stable Version 1.0"
This is more of a request for input then an issue. I'm thinking of pushing out a stable 1.0 version in the next couple of weeks.  Looking at the issue list, once #290, #288 and #285 are fixed I'm thinking the app would be in pretty good shape at that point for a stable non-beta release.

Once 1.0 is out, I would probably slow down the releases and look at tackling some of the features that require

[2016-05-05 04:43] gnunn1 commented on #25
@probonopd At the moment there is no way to downgrade the VTE as it is hard coded in GtkD. Thus I would only worry about distros with the supported VTE version for AppImage.

[2016-05-05 05:08] egmontkob commented on #288
@gnunn1 No change; nevermind! ;)

[2016-05-05 05:20] egmontkob commented on #285
I think 2 & 3 (or b & c) should be swapped. Typically apps don't change their directory, they just go along with whatever they receive, in the sense of the OS's current directory (e.g. getcwd()). This directory is actually a location in the file system, not a pathname leading there.

PWD is used by apps (e.g. shells) that display the pathname of this directory. It allows to display paths containin

[2016-05-05 05:34] gnunn1 commented on #285
If you swap 2 and 3 you would never use PWD because the app always has a CWD AFAIK. I have it in this order because as I recall when Terminix is launched in Unity the CWD is set to root but the PWD is set to the users home directory. I do want to go back and double check this though.

Having said that, I completely understand your point. I really need to figure out what g-t is doing and emulate it

[2016-05-05 05:41] egmontkob commented on #285
I cannot confirm this.

If it was so, pretty much all apps would work with their cwd being the root dir.

I think the defacto standard is get_current_dir_name(3)'s behavior (as I described above), and both g-t amd terminix should follow that. (If g-t doesn't then that's a bug in g-t.)

I admit my wording was incorrect: you shouldn't _swap_ 2 & 3, but go with CWD as the actual directory object, and

[2016-05-05 05:46] gnunn1 commented on #285
The unity thing is based on #214. It's possible this was caused by something else, your point about other apps is a good one.

[2016-05-05 06:45] phw opened #294 "Added a new profile, existing profile dissapeared"
This is a bit strange, because I cannot reproduce it, but it definitely happened. I had only one default profile and all my terminals and saved sessions were configured to use it. I went in settings, added a second profile and then wanted to switch some open terminals to use this profile. I then realized that the old profile was missing in the list, the existing terminals had no profile selected.

[2016-05-05 07:57] probonopd commented on #25
OK, that's pretty much what https://bintray.com/probono/AppImages/Terminix/_latestVersion#files is doing right now.

[2016-05-05 10:10] mehcode opened #295 "Feature Request: Profile configuration for a default directory when opening the terminal"

[2016-05-05 13:16] gnunn1 commented on #294
If you open dconf-editor and go to com/gexperts/Terminix/profiles do you see the profile there? There is a list key which is how Terminix finds the profile and then folders for each folder. Just wondering if something happened to the list key because it needs to be updated when you add a new profile.

[2016-05-05 13:40] gnunn1 commented on #285
@egmontkob So I added some logging to Terminix and it does look like the CWD is being set to the root directory. I need to investigate some more, maybe there is a bug in the D getcwd function or something else is going on.

[code]

[2016-05-05 13:43] egmontkob commented on #285
@gnunn1 How do you _exactly_ start up terminix? What happens if you start xterm the same way? Where does /proc/(terminix's PID)/cwd point to?

[2016-05-05 14:05] gnunn1 commented on #285
@egmontkob I start it my clicking on the pinned button in the Unity Launcher or by searching for it through the Dash. If I check the cwd in proc, it is pointing to the root directory. xterm starts in the user directory.

One thing I noticed is that Unity is launching terminix as a dbus service, a ```ps -ef``` shows the following:

[code]

If I modify the desktop file to set DbusActivatable to fals

[2016-05-05 14:06] gnunn1 commented on #285
Also, Gnome Shell doesn't start Terminix as a dbus service as far as I can tell.

[2016-05-05 14:12] gnunn1 commented on #285
Finally, an interesting factoid. In Ubuntu gedit has two desktop files in /usr/share/applications, one of which, gedit.desktop, doesn't have the DBusActivatable line while the other, org.gnome.gedit.desktop, does.

[2016-05-05 14:17] egmontkob commented on #285
Interestingly, for me terminix's /proc/xx/cwd points to my home if I start it via Unity's Alt+F2.

gnome-terminal-server's cwd is also my home, even if I start the first gnome-terminal instance from another directory. No clue whether g-t does anything for this, or it just activates the server via dbus which defaults to my home.

Alas, I don't know anything about dbus.

Since terminix (similarly to

[2016-05-05 14:26] gnunn1 commented on #285
gnome-terminal starts in my home directory as expected, however note if you cat gnome-terminal.desktop it does not have DbusActivatable either. I don't really understand the relationship between gnome-terminal and gnome-terminal-server though.

Like you I find it very interesting that you have the right cwd and I don't. I wonder if my install of terminix is somehow borked because I also don't get

[2016-05-05 14:35] egmontkob commented on #285
I don't either :) g-t is never persistent, it's always g-t-s that's running and showing UI and stuff. g-t is the one that fires up g-t-s and/or connects to the existing instance to open a new terminal. I guess.

Me too:
dub build --build=release --force
sudo ./install.sh

[2016-05-05 14:41] Boiethios commented on #288
@gnunn1 I do not think so, but since the last update, everything works fine for me.

[2016-05-05 14:49] gnunn1 commented on #288
@Boiethios Thanks for the update, weird but glad it's working now.

[2016-05-05 14:49] #288 closed

[2016-05-05 15:27] egmontkob opened #296 "Prefs Terminal size reset doesn't work"
Edit profile prefs -> Terminal size has a Reset button that does nothing. (In g-t it sets 80x24.)

[2016-05-05 15:33] egmontkob opened #297 "Shortcut label ugliness"
Prefs -> Shortcuts:

"reset" and "reset-and-clear" look like internal technical representations that forgot to have nice UI strings.

"Resize Terminal left" is lowercase "L" whereas the other directions are uppercase.

[2016-05-05 15:56] egmontkob opened #298 "Background image"
One of the often criticized change in vte-0.38/g-t-3.14 was the removal of background image support. All other vte-based apps followed and had to remove this feature.

However, you know the Gtk+ trick to paint behind a translucent vte, so you could bring it back.

A single background image stretching behind all adjacent panes could probably look awesome, although it's nontrivial to figure out how

[2016-05-05 15:58] egmontkob opened #299 "Badge"
Similarly to background image support (#298), you could implement something like iterm2's badge (large pale text in the corner).

At this moment you couldn't alter it via escape sequences yet, but it could be quickly settable via a menu entry.

[2016-05-05 16:01] phw commented on #297
reset and reset-and-clear are indeed internal representations. Those labels for keyboard shortcuts are special and need to be translated in the PO file (best done using Weblate).

[2016-05-05 16:13] gnunn1 commented on #297
As @phw pointed out, it's just updating the localization file. I'll take care of it tomorrow unless someone beats me to it.

[2016-05-05 16:16] gnunn1 commented on #298
Like you I would never use this feature myself so it's not a high priority for me. I'll leave this open though as a means to judge how important it is to others though.

[2016-05-05 16:17] gnunn1 commented on #299
I've thought about this one as well, unlike the background image it's actually a useful feature IMHO :)

[2016-05-05 16:18] gnunn1 commented on #299
This is also covered in #86

[2016-05-05 16:28] seniorihor opened #300 "Expanded terminal (dual-monitor)"
I try to adjust terminal configuration to my needs.
Due to I perform most of my job within terminal (`tmux`, `neovim`, etc.) and I've got dual-monitor configuration, there's curiosity to expand `terminix` for the whole dual-monitor workspace.

Is there an option which would help me to achieve such a result?
Otherwise, IMO it might be decent feature request, huh? :smile:

[2016-05-05 16:34] gnunn1 commented on #300
It sounds like what you are asking for is to treat two monitors as one, so that Terminix spans across both monitors, is that correct? I might be missing something but I don't see how it's the applications job to worry about this, isn't this the job of whatever DE you are using?

[2016-05-05 16:46] seniorihor commented on #300
Yes, it's correct.
Anyway, from my point of view, if there's an option --monitor which
supposed to set specific monitor to be launch on, it might be fine to allow
pass option "dual" to spans terminal across both monitors.
It would be super useful for people who use terminix as drop-down terminal,
like myself.

czw., 5 maj 2016, 18:34 użytkownik Gerald Nunn <notifications@github.com>
napisał:

--
S

[2016-05-05 16:51] gnunn1 commented on #300
I think the feature you want has already been added, albeit indirectly. I just added support for the geometry switch, you could use that to control which screen(s) terminix appears on and what the dimensions of it are (albeit in chars, not pixels). See this stackoverflow answer for a more detailed description.

http://stackoverflow.com/questions/18360569/how-do-you-run-an-application-in-bash-and-s

[2016-05-05 16:57] jaromero commented on #285
Here's some more data points (from Arch, gnome-shell 3.20, terminix from the [AUR](https://aur.archlinux.org/packages/terminix/)):

* Running terminix from the gnome-shell dock, the overview (both of which show as `/usr/bin/terminix --gapplication-service` in the process list), or the alt+f2 dialog (which shows as just `terminix` in the process list), CWD for me is $HOME
* Running terminix from xf

[2016-05-05 17:02] seniorihor commented on #300
Thanks! I think, that's the answer I was looking for.
I'll check out this solution tomorrow and let you know whether it fit my
needs.

czw., 5 maj 2016, 18:51 użytkownik Gerald Nunn <notifications@github.com>
napisał:

--
Sincerely yours,
Ihor Breza

[2016-05-05 17:41] gnunn1 commented on #300
Sounds good, just keep in mind that this new geometry switch is only available in git, it will be included in the next release.

[2016-05-05 17:48] gnunn1 commented on #285
@jaromero Thanks for taking the time to do that, interesting how you see it with the --gapplication-service when running from gnome dock but I don't here, I'm on Arch and 3.20 as well.

Note that there is a difference between the CWD of terminix the application and the CWD of the shell hosted in terminix. The terminix application CWD is constant and generally will not change, the CWD of the shell

[2016-05-05 21:06] egmontkob opened #301 "Gettext used fundamentally incorrectly for shortcuts"
At certain places, Terminix uses internal technical identifiers as the string to be translated (msgid), and translates it even to English. E.g. en.po contains:

msgid "switch-to-terminal-1"
msgstr "Switch To Terminal 1"

This approach is wrong for a couple of reasons.

Sure there are some internationalization frameworks out in the wild that work this way, but gettext is not one. It expects the sou

[2016-05-05 21:29] gnunn1 commented on #301
Well I am Canadian...

Seriously though, I'm not adverse to a better way of doing it but I'm not seeing an obvious solution that wouldn't have its own set of problems. For example, I could create a source file that has a static hash map that maps shortcuts to English names and localize that. On the downside though it's yet another file that needs to be updated and maintained when shortcuts are add

[2016-05-05 21:32] gnunn1 commented on #301
@phw Thoughts?

[2016-05-06 08:27] phw commented on #301
No good idea right now. In general I completely agree with @egmontkob's argumentation. The current technical strings are problematic not only for unknown locales, but also for the translators. I myself was confused on how to translate them and had to dig into the code to find out, and I have seen in other translations people tried to keep the structure with the hyphens in the translations themselv

[2016-05-06 08:37] egmontkob commented on #301
I don't think it needs a new source file, nor needs to be overengineered and automatically generated. I think a manually maintained hashmap is good enough.

I don't know anything about D, so just some Java-ish pseudo code that could go to an already existing file:

hashmap foo = new hashmap();
foo.add("switch-to-0", _("Switch to 10"));
foo.add("switch-to-1", _("Switch to 1"));
foo.add("switch-to-2

[2016-05-06 08:45] phw commented on #301
Well, yes. I think that is the solution that was meant with "new source file" (the code has to go somewhere ;) ). The main concern is that in order to add a new keyboard shortcut aside from actually using the shortcut somehwere it has to be added to:

* The gsettings schema file
* The help overlay UI template
* The new mapping hashmap
* The strings between the hashmap and the UI template need to b

[2016-05-06 09:14] egmontkob commented on #301
I still haven't checked terminix's source, but generally the UI template should allow a text to be marked for translation, so there's no need for the hashmap. The msg* utilities take care of extracting from there into the .pot/.po files, and the UI template engine (e.g. glade) takes care of translating it runtime.

See e.g. https://bugzilla.gnome.org/show_bug.cgi?id=763911

[2016-05-06 09:18] phw opened #302 "Crash when closing terminals"
When I load a session from file and start closing terminals in this session Terminix will eventuall crash with:

[code]

This does only happen if loaded from file. If I recreate the session within terminal by splitting closing the terminals works as expected. To reproduce try to load e.g. [Standard.json](https://github.com/gnunn1/terminix/files/251842/Standard.json.txt) and start closing terminals

[2016-05-06 09:26] egmontkob opened #303 "Search bar is transparent with Ambiance"
Pretty much like #146, this time the Search bar is transparent.

(Please see the comments over there, I still reckon that an ultimate fix is possible, and might be worth it, rather than one-offs for each widget.)

[2016-05-06 09:29] phw commented on #301
I think you should look at the source ;) The [UI template](https://github.com/gnunn1/terminix/blob/master/data/resources/ui/shortcuts.ui) is for the help overlay. That one gets translated as you described. The other part is the settings dialog for the shortcuts. This is [automatically constructed](https://github.com/gnunn1/terminix/blob/master/source/gx/terminix/prefwindow.d#L209) from the [keys i

[2016-05-06 09:36] phw commented on #294
Indeed the old profile is still in dconf, but does not show up in Terminix. No idea why, Terminix does not show any error on startup. I have attached a screenshot of the profile in dconf:

![bildschirmfoto vom 2016-05-06 11-31-59](https://cloud.githubusercontent.com/assets/29852/15069525/76b29ebe-137e-11e6-900c-2572e882a080.png)

Is it possible that this lost profile also causes #302 somehow or is

[2016-05-06 09:37] phw commented on #294
Ok, now I understood the list key thing :) No, that profile is not in the list key, that shows just `com.gexperts.Terminix.ProfilesList list ['2e3874bf-72ac-4e48-8016-54c94fdfc22f', '898e686d-6cf3-4809-a172-8dc569948a5a']`

[2016-05-06 09:40] phw commented on #293
Just one wish from my side: It would be great if you could update the UI strings some time before doing the release and so translators have a chance to update the translations :)

[2016-05-06 11:49] seniorihor commented on #300
I just pulled latest `master` from git and reinstalled `terminix`, but can't find out how to use the new geometry switch:
[code]
Could you provide some example of usage, please?

[2016-05-06 12:57] Mailaender opened #304 "Root package terminix contains reference to invalid package gtk-d >=3.3.0 <3.4.0"
I packaged gtk-d https://build.opensuse.org/request/show/394029 and it doesn't seem to matter. Neither version 3.3.0 nor 3.3.1 are accepted by Terminix:

[code]

You can look at the complete build logs by clicking on failed at https://build.opensuse.org/package/show/home:Mailaender:branches:devel:languages:D/terminix

[2016-05-06 13:07] Mailaender commented on #25
Has anyone actually succeeded in getting a source build done? So far I have only seen repacks of pre-compiled binaries. See https://github.com/gnunn1/terminix/issues/304 for my failed attempts on creating a proper package for @openSUSE.

[2016-05-06 13:26] gnunn1 commented on #300
If you use the help command it should give you an example, i.e.

[code]

[2016-05-06 13:33] gnunn1 commented on #301
@phw Reading the text from the UI file is a good idea. The easiest solution would just be to use GTKBuilder, load the UI and get the text from Shortcut widgets unfortunately that would only work in GTK 3.20. The most compatible option would be to load the UI file as an XML document and parse it. I'll look at doing that, one wrinkle is D's XML support is pretty weak but it should be good enough for

[2016-05-06 13:35] phw commented on #301
Or do that in the build phase, e.g. using a Python script or something alike.

[2016-05-06 13:35] seniorihor commented on #300
[code]

[2016-05-06 13:36] phw commented on #300
You have to rebuild it using `dub build --build=release` before running install.sh

[2016-05-06 13:40] gnunn1 commented on #304
Unfortunately that error message isn't very descriptive, I'm not having any issues on my local machine with it and lot's of other people build from source without issue. The current version of GtkD in DUb is [3.3.1](https://code.dlang.org/packages/gtk-d%3Agtkd) so it should not being having an issue finding it.

Can you try running dub in verbose mode?

[code]

[2016-05-06 13:45] seniorihor commented on #300
Alright! Now I got `--geometry` option, but unfortunately I can't expand `terminix` for width bigger than width of one monitor.
It means, both commands create equal windows:
[code]

[2016-05-06 13:52] gnunn1 commented on #300
I don't have access to dual monitors during the week, only weekends when I'm home from work so I couldn't actually try this earlier. Let me play it around with it this weekend and I'll see what I can do.

[2016-05-06 13:54] seniorihor commented on #300
Sure, thank you! :smile:
Looking forward for news from you.

[2016-05-06 14:23] gnunn1 commented on #303
I agree with you about the one-offs, however a problem I have is that as soon as I start drawing the window background any widgets besides VTE that you want to be transparent start picking up that color, in this case the scrollbar. Looking at that Ubuntu patch it's not obvious how it's getting the scrollbar transparency to work, I'll do some more digging.

[2016-05-06 14:35] egmontkob commented on #303
Thanks for your work on this (as well as all others, of course)!

I'm really not experienced with Gtk+ so unfortunately I cannot help with the details, apart from pointing you to that patch.

[2016-05-06 14:36] gnunn1 commented on #303
No worries, a lot of time the comments I post are more for me, since I'm juggling this with my day job I need the reminders :)

[2016-05-06 15:32] ximion commented on #304
@Mailaender: This might be due to dub not reading any packages from distro paths, see https://github.com/dlang/dub/issues/811

[2016-05-06 17:01] Mailaender commented on #304
I see. Closing here then.

[2016-05-06 17:01] #304 closed

[2016-05-06 17:43] dsboger commented on #25
@Mailaender `terminix-git` on AUR (https://aur.archlinux.org/packages/terminix-git/) compiles from source and works fine (I use it daily). Have a look at the `build()` function in the PKGBUILD (https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=terminix-git, lines 25 to 36 plus 43 are only needed to avoid dub from pulling and building GtkD in the `~/.dub` directory).

[2016-05-06 17:50] stoatally opened #305 "Copy paste shortcut does not work until the copy button is clicked"
When I first launch Terminix the copy shortcut (I have it bound to `Shift+Ctrl+C`) does not work until I right click and then click on the copy button under 'Clipboard'. After doing that it works fine.

[2016-05-06 18:00] mannol commented on #99
So, how would one go and load a multiple sessions from a session file?

[2016-05-06 18:41] gnunn1 commented on #303
So I got this all working... on GTK 3.20 only :(

Here's how popovers look in GTK 3.18 and early

![screenshot from 2016-05-06 14-37-38](https://cloud.githubusercontent.com/assets/9358238/15082940/8a6920f8-1398-11e6-92d7-d69abeecd9ae.png)

[2016-05-06 18:44] egmontkob commented on #303
Not sure I'm following you... or did the fix for the search bar break the popover?

The popover works fine for me (gtk 3.18). It's the search bar (Ctrl+Shift+F) that's transparent (I should've attached a screenshot).

[2016-05-06 18:48] gnunn1 commented on #303
Sorry, I mean as you soon as you add the Window onDraw to draw the background instead of adding a CSS class everywhere the popover starts getting drawn as shown as above with that extra frame around it. I actually ran into this when I first started Terminix and then completely forgot about this issue when I abandoned painting the background manually in onDraw. Now that you've prompted me to re-vis

[2016-05-06 19:03] dsboger commented on #304
I've taken a look at your script and logs and I see one possible problem: Using the system installed gtkd with dub is not possible, at least not like a dub package. The descriptor `package.json` is required by dub and not installed. Also dub tries to build the package inside the same directory (it seems dub is a development tool, not a packaging one, something like make without make install). I'm

[2016-05-06 19:24] egmontkob commented on #303
Oh, I see. Thanks for experimenting with it, and also it's great to have your findings documented :)

[2016-05-06 23:53] #303 closed

[2016-05-06 23:56] gnunn1 commented on #302
I can't reproduce, can you post your session json file please. Also, are you loading the file from the command line or via the open menu?

[2016-05-06 23:57] gnunn1 commented on #305
I cannot reproduce, it's working fine for me. What distro and GTK version are you using?

[2016-05-07 00:02] gnunn1 commented on #298
This is a note to my future self. After thinking about it, I'm not how feasible this is. The stuff I'm doing with dim is a post-process that occurs after VTE has drawn it's content. For an image background, I'd have to draw the image first and then have VTE draw on top of it.

The only way I can think this might work is draw the image first and have the VTE background color be completely transpare

[2016-05-07 00:07] #296 closed

[2016-05-07 00:11] gnunn1 commented on #293
Absolutely

[2016-05-07 00:30] gnunn1 commented on #300
So I can confirm, it seems like the maximum size it lets me set in geometry is the size of the largest monitor, I can get it to still span the two monitors by setting the x and y coordinates but the actual size won't go any bigger. For example:

[code]

I don't think this is a VTE limitation, I suspect the window manager itself is preventing it but I need to look into it more.

[2016-05-07 07:11] Mailaender commented on #304
What I did in my gtkd package is:

[code]

until I realized that it doesn't work as well. Now you tell me that even the different compilers are incompatible. Quite a nightmare for downstream packagers. :(

[2016-05-07 08:46] Mailaender commented on #25
Thanks. That helped a lot. Finally: the first package that really compiles from source https://build.opensuse.org/request/show/394122

[2016-05-07 09:21] egmontkob commented on #298
Yup this should be the concept.

[2016-05-07 09:28] alexwhitman opened #307 "Splitter size"
A question and a feature request:

What is the "Use a wide handle for splitters" actually meant to do?  In both the enabled and disabled states on Ubuntu 16.04 the splitters visually look the same and I can't find any functional difference.

This is a personal preference, it would be nice if we could customise the width of the splitters to be thinner than they currently are.

[2016-05-07 09:31] egmontkob commented on #307
I think the Ambiance theme doesn't define a wide width for separators, other themes might do. (It's a property of GtkPaned: https://developer.gnome.org/gtk3/stable/GtkPaned.html#gtk-paned-set-wide-handle)

[2016-05-07 09:36] egmontkob commented on #307
Terminator allows you to set a custom width; it does so by overriding the theme's CSS. For a starting pointer you might want to look at the patch at https://bugs.launchpad.net/terminator/+bug/1522575.

[2016-05-07 09:40] gnunn1 commented on #307
As @egmontkob points out, more modern themes like Adwaita allow an application to set the width of the paned handle. I added this option in response to #127 originally.

Now that I'm supporting theme specific CSS, there might be an opportunity to patch in support for this on Ambiance.

[2016-05-07 09:46] gnunn1 commented on #302
Oops, I missed the bit about shortcuts, let me try again. Judging my the line number looks related to the mru focus tracking that was recently added.

[2016-05-07 09:47] egmontkob commented on #307
Filed upstream bug for Ambiance: https://bugs.launchpad.net/ubuntu-themes/+bug/1579342

[2016-05-07 10:19] gnunn1 commented on #25
@Mailaender That's awesome, thanks for all of your work on this. If you are committed to keeping this up to date I would love to add a link to the project page to it, just let me know.

[2016-05-07 10:26] Mailaender commented on #25
You can link https://software.opensuse.org/package/terminix which will pick up official packages as well as community packages of various quality. I could try to submit this to openSUSE:Factory, but the lacking dependency management of `dub` might cause the review to fail.

[2016-05-07 13:58] whitebyte commented on #293
Huge + for 1.0

[2016-05-07 14:48] ximion commented on #304
@Mailaender: I blogged about it this a few days ago ^^ - for distro packagers, D is still a bit of a pain.
I was able to build the appstream-generator properly for Debian by doing some symlink-tricks to make the build process find the dependencies, and patching `dub.json` as part of the packaging process to not search for those packages (see http://sources.debian.net/src/appstream-generator/0.2.0-

[2016-05-07 17:18] frnogueira commented on #293
Nice!
I will finish the pt_BR translations.

[2016-05-07 19:17] #302 closed

[2016-05-07 19:42] #307 closed

[2016-05-07 20:07] probonopd commented on #25
Is anyone interested in adopting the AppImage?

[2016-05-07 23:17] gnunn1 commented on #285
I've spent some time tonight looking into the Unity issue and I'm still stumped as to why Unity has the CWD set to the root directory. I was thinking maybe I was missing something in the sense that the DBus message used to activate Terminix contained the directory to start, i.e. maybe via an open files message. I tried adding a handler for it but no luck. I also used the dbus-monitor to see the me

[2016-05-08 01:16] #297 closed

[2016-05-08 01:17] gnunn1 commented on #301
Now reads localization from shortcuts.ui

[2016-05-08 10:39] doubleloop opened #308 "unable to navigate to some windows with alt+arrows"
Just updated to master. When split with `ctrl+shift+r` then `ctrl+shift+d` so that you get:

![screenshot from 2016-05-08 12-35-53](https://cloud.githubusercontent.com/assets/2602750/15097381/9bf697ce-1519-11e6-9c84-e9d94be6400e.png)

I am unable to navigate to window 3 using `alt+`arrows.
When in window 2, `alt+down` moves to window 1.

[2016-05-08 13:54] #308 closed

[2016-05-08 19:37] egmontkob commented on #301
Thanks for the fix...

Note, however, that a few strings still show up the old-fashioned way, using a lowercase identifier. This happens both with English locale settings as well as with a locale that Terminix is not translated to.

Application > new-window
Session > close, name, synchronize-input
Terminal > split-right (whereas "Split down" is correct)

[2016-05-08 20:21] egmontkob commented on #301
I can't find any place in the source where split-right and split-down are handled differently.

In data/resources/ui/shortcuts.ui, theshortcuts are divided into sections which are further divided into groups, the latter is not reflected on the UI, so I don't know what its purpose is.

If I swap the two 6-line blocks of split-right and split-down, it's "Split right" that gets shown correctly and "s

[2016-05-08 21:11] gnunn1 commented on #301
No worries, I'll look into it tomorrow, should have tested it more.

[2016-05-09 13:33] alexwhitman opened #310 "Unable to build current master"
I've got the latest master branch checked out and building results in the following:
[code]
No idea why calling `.clear()` on a `string[string]` would fail.

I'm attempting to build with v2.071.0 of dmd on Ubuntu 16.04.

[2016-05-09 13:57] phw commented on #302
Confirm fixed, thanks

[2016-05-09 14:03] phw opened #311 "Strings before app.run() not translated"
I just noticed that every localized string that is passed to `_()` before `terminixApp.run(args)` is called (but after textdomain has been set of course) does not get translated. This affects the descriptions of the command line arguments.

I could workaround this issue by calling `Main.init(args);` in app.d early. But I don't know enough about the Gtk lifecycle to tell whether this workaround is

[2016-05-09 14:04] gnunn1 commented on #310
Hmm, that's weird because I am using the same version and the clear method is is supported:

https://dlang.org/spec/hash-map.html#removing_keys

For now, I think you can actually remove that line with no negative consequence as it's just a safety thing in case in the future it's called multiple times.

[2016-05-09 14:08] alexwhitman commented on #310
Scratch that.  After purging dmd, gdc etc and reinstalling, it now compiles.  Not sure what happened as I hadn't installed any updates recently.

[2016-05-09 14:08] #310 closed

[2016-05-09 14:20] gnunn1 commented on #311
Looking at the documentation [here](https://wiki.gnome.org/HowDoI/GtkApplication/CommandLine)

Right now I think I'm adhering to that since it happens after the super() call in the constructor. Based on your description of the issue and the requirement for Main.init though I'm not sure there is a good pace to hook it in.

Looking at the docs for glib [Internalization](https://developer.gnome.org/g

[2016-05-09 14:20] gnunn1 commented on #305
Anyone else having this issue?

[2016-05-09 14:23] stoatally commented on #305
Sorry, forgot about this, using Arch Linux and Gtk 3.20.3.

[2016-05-09 14:27] gnunn1 commented on #305
@stoatally I'm on the same environment (Arch, Gtk 3.20.3) and it works fine for me. What package are you using in Arch, terminix or terminix-git?

[2016-05-09 14:30] phw commented on #311
From my own limited experience the whole four lines in the example given in that documentation are needed for proper localization support in Gtk:

[code]

At least bindtextdomain should be called, and it should happen before initializing Gtk. But as far as I could see the D bindings did not support this, is this correct?

And yes, gnome-terminal is properly localized descriptions in `gnome-termina

[2016-05-09 14:34] phw commented on #305
I can't reproduce it either, again same environment. Tested both with the release 0.59.0 and latest master.

[2016-05-09 14:34] stoatally commented on #305
[code]

[2016-05-09 14:37] gnunn1 commented on #311
Looked at the gedit source code, they are overriding init and adding the main options there.

[2016-05-09 15:09] phw commented on #294
I think I found the issue. The ID of my profile above (the one that got removed) is `2b7c4080-0ddd-46c5-8f23-563fd3ba789d`, that is the hard coded default ID of the first profile created by terminix.

When adding a new profile this gets removed, see https://github.com/gnunn1/terminix/blob/82ea3a78cc2f449112158a250a2d675f1a6110bd/source/gx/terminix/preferences.d#L206

What exactly was the idea behi

[2016-05-09 15:24] phw commented on #294
Added a pull request to deal with it, tested with a clean configuration.

[2016-05-09 18:51] #311 closed

[2016-05-09 18:51] gnunn1 commented on #311
@phw, I actually I think that workaround should be fine except I wouldn't pass any arguments to it. The documentation for gtk_application_new says it's OK to call gtk_init early if you need to:

https://developer.gnome.org/gtk3/stable/GtkApplication.html#gtk-application-new

[2016-05-09 19:13] #301 closed

[2016-05-09 19:15] gnunn1 commented on #301
Problem was my parsing, removed the code that was trying to parse out prefix names. I don't think getting the prefix localization from shortcuts.ui was a great idea anyway, I had to work around the missing Window prefix plus where the prefix names are located isn't intuitive.

I also updated the shortcuts.ui to add two missing shortcuts.

[2016-05-09 19:26] egmontkob commented on #301
Awesome, thanks! :)

[2016-05-09 21:06] gnunn1 commented on #295
So I'm struggling a bit with whether this is worth the effort of implementing and supporting it. As far as I can see, the only time this setting would get used is when launching a terminal from the command line with the --profile switch. If you switch profiles for an existing terminal I wouldn't expect it to switch directories.

So if it's only used when launching the terminal with --profile, is i

[2016-05-09 21:28] gnunn1 commented on #99
@mannol Sorry for the delay in repy, I missed this. Basically you just repeat the session command:

[code]

[2016-05-09 22:55] mehcode commented on #25
@probonopd For the app image -- can you add `-w $HOME` to the execute command? I get dumped in some weird directory.

[2016-05-09 22:55] mehcode commented on #295
@gnunn1 I wanted a way to overcome https://github.com/gnunn1/terminix/issues/25#issuecomment-218013837 -- and thought this might be a neat thing to do regardless.

[2016-05-10 01:13] #294 closed

[2016-05-10 01:30] #290 closed

[2016-05-10 01:32] gnunn1 commented on #295
OK thanks, I'm going to mark this as Won't Fix, I think using the --working-directory is an acceptable solution for this/

[2016-05-10 01:32] #295 closed

[2016-05-10 01:54] dsboger commented on #25
Hello folks, I'm doing an experiment of implementing autotools support for building terminix dynamically linked against system-wide gtkd/vted, without dub. Most of the process is working, but the gtkd-3 and vted-3 shared libraries must also have been compiled with dmd. What is not ironed out yet is the i18n/l10n support with gettext, especially updating the pot/po files with new strings (I'll use

[2016-05-10 04:00] gnunn1 commented on #25
@dsboger Sounds great, I would be quite happy to accept an autotools based build as an alternative to dub. Thanks for taking this on!

[2016-05-10 06:21] khurshid-alam commented on #25
@probonopd It would be nice if you can set `ARCH="all"` in the appimage recipe....may be as a separate recipe just to check whether it can compile for i386/i686 (32 bit) as well. The thing is I want to run terminix everywhere including older computers (at my office). :)

[2016-05-10 09:04] sainf commented on #305
I have the same problem in:
Arch - GTK 3.20.3 and terminix 0.59.0-1

[2016-05-10 11:04] arshavindn opened #314 "dub build fail"
[code]

On Ubuntu Gnome 16.04, gtk 3.18, from lastest version pull from git

[2016-05-10 12:26] phw commented on #314
Have you looked at #310 ?

[2016-05-10 12:55] phw commented on #305
Maybe a) some misunderstanding on what is happening or b) related to something else. Regarding a) that is what I tried to reproduce it:

1. Make sure terminix is not running
2. Launch terminix
3. Select some text in the terminal
4. Hit Ctrl-Shift-C
5. Verify the content is in the clipboard by pasting it again with Ctrl-Shift-V

Regarding b): Can you give some more details about your environment, e

[2016-05-10 13:06] gnunn1 commented on #305
I used the same steps as @phw to attempt to replicate. The only other thing I'm thinking of is maybe the copy action is not getting enabled on text selection in VTE for some reason.

[2016-05-10 13:18] stoatally commented on #305
I cannot seem to replicate it at the moment either, I think there's an additional variable I'm unaware of. However here's what happens:

1. Make sure terminix is not running
2. Launch terminix
3. Launch a program that responds to Ctrl-C (`pacman -Syu` for example)
3. Select some text in the terminal
4. Hit Ctrl-Shift-C
5. Watch the running program exit after receiving Ctrl-C

This usually happens

[2016-05-10 13:46] arshavindn commented on #314
@phw I've just tried what #310 done but still have this issue

[2016-05-10 13:51] gnunn1 commented on #305
Had a quick look at the code and I see the problem. When the context menu is displayed, the copy and paste actions may be disabled and I never re-enable them. Steps to reproduce:

a. Launch Terminix
b. Right click without text selected to open context menu, copy action disabled
c. Close context menu
d. Select some text in the terminal
e. Hit Ctrl-Shift-C, behaves a Ctrl-C instead of selecting text

[2016-05-10 13:52] gnunn1 commented on #305
I'm kind of surprised this bug made it this far without anyone noticing so thanks @stoatally for reporting it!

[2016-05-10 13:57] phw opened #316 "Paths configured in session JSON not used"
When you save a session to disk the working directory is saved to the JSON (the directory key). When loading such a session file with the `--session` command line parameter the directories are only set if Terminix is not running. If there is already a Terminix instance the session is opened in a new window, but all terminals in that session open in `$HOME`.

When loading the session via the "Open

[2016-05-10 14:12] gnunn1 commented on #314
It's kind of weird to me how people are having an issue with this clear method, I don't think it's actually needed since this method is just called once but I put in for defensive programming. I'm curious now if the clear method is a recent addition to dmd/phobos, I'll look into it.

[2016-05-10 14:21] phw opened #317 ""Save terminal output" not working"
Not sure why, but the keyboard shortcut of "Save terminal output" just does nothing for me. I just see the terminal loose focus when I press that keyboard combination, and regain focus once I stop pressing the buttons.

[2016-05-10 14:35] stoatally commented on #305
Awesome, glad I'm not going crazy. Keep up the good work, Terminix is already the best terminal for Gnome and it's not even been half a year.

[2016-05-10 14:46] gnunn1 commented on #305
Just a note to my future self, there may be an opportunity here to introduce the "smart copy/paste" feature that Pantheon terminal has where the copy shortcut is only used when text is activated. This allows the user to use Ctrl-C both to select text and stop processes at the same time.

This would basically involve enabling/disabling the saCopy and saPaste actions based on selection changes in VT

[2016-05-10 18:19] #305 closed

[2016-05-10 20:40] phw commented on #317
Found the issue. I had assigned the shortcut "Ctrl+Alt+S" to it, that didn't work. But I also use GPaste and I have this key combination set as a global shortcut there. Assigning a different shortcut works as expected.

That's unfortunate, but I don't think you can do much about app shortcuts colliding with global shortcuts :(

[2016-05-10 20:40] #317 closed

[2016-05-10 20:43] gnunn1 commented on #316
Thanks, there are also issues if the _New Instance_ option is set to something other then New Window, I'll look into both issues tonite.

[2016-05-10 23:48] golimpio commented on #314
@arshavindn have you installed the latest one from dlang.org ? (as per #310)

I had this same issue and it was because I had an old compiler installed (I'm also running Ubuntu 16.04 / gtk 3.18)

[2016-05-10 23:55] golimpio opened #319 "Splitters are transparent depending on the gtk theme"
I've noticed that the splitters became transparent, depending on the gtk theme we use:
![transparent-splitters](https://cloud.githubusercontent.com/assets/138681/15166017/fcf0c720-175d-11e6-9b19-6819bea87f08.png)

Ambiance theme doesn't seem to have this issue, but others gtk themes have the same issue (e.g. Paper).

**Edit:** I have the same issue with Adwaita theme

Environment:
- Adapta gtk the

[2016-05-10 23:58] #316 closed

[2016-05-10 23:59] gnunn1 commented on #319
Thanks, what version of Terminix are you using, is it the one from git?

[2016-05-11 00:02] golimpio commented on #319
@gnunn1 Yes it is...I just pulled the latest one from git today.

[2016-05-11 00:08] gnunn1 commented on #319
Hmm, that's weird because I just tried it on 16.04 with Adapta and it looks fine to me as per the screenshot below. When you say you get the latest one from git today, you mean you did a ```git checkout``` and built it manually using ``dub build --build=release``` or do you mean you got the archive from the Releases section in git?

[2016-05-11 00:09] gnunn1 commented on #319
Here's what it looks like for me (with wide handle enabled in Preferences | Appearance):

![screenshot from 2016-05-10 18-05-49](https://cloud.githubusercontent.com/assets/9358238/15166259/54203e88-16da-11e6-89bb-77f3111fc183.png)

[2016-05-11 00:13] golimpio commented on #319
Sorry, I should have been more specific:
[code]

Running a `git status` I get:
[code]

Then I ran:
[code]

[2016-05-11 00:15] golimpio commented on #319
It might be something specific to my setup then (I'm running Ubuntu 16.04/Unity).

[2016-05-11 00:20] gnunn1 commented on #319
I'm using Ubuntu 16.04 and Unity in my VM and I installed the latest Adapta theme from their PPA. In the Terminix Preference | Appearance tab, does not toggling the option to use Wide Handles make any difference? You should see the splitter grow in size when enabled and shrink when it is not.

[2016-05-11 00:27] gnunn1 commented on #319
OK I can replicate in Fedora 23 with Adwaita and enabling the wide handle option. Still works fine in Ubuntu though under Adapta but hopefully fix will cover both cases.

[2016-05-11 00:27] golimpio commented on #319
Toggling the option to use Wide Handles work as expected, but even the normal handlers are transparent in my case.

I'm using the latest Adapta from git, this might be the problem then.

Also, I can see the same issue in Adwaita actually (my first report is wrong).

Ambience works fine.

[2016-05-11 00:30] gnunn1 commented on #319
I just checked in an update to the CSS which fixes it in Fedora 23, can you get the latest from git and run ```sudo install.sh``` again to update the CSS in the resource file and let me know how it goes.

[2016-05-11 00:37] golimpio commented on #319
Now with the wide splitter I have:
![split-issue-wide](https://cloud.githubusercontent.com/assets/138681/15166641/54a34708-1764-11e6-97f8-eaf41a944711.png)

And with the normal one:
![split-issue-thin](https://cloud.githubusercontent.com/assets/138681/15166648/5ee2a100-1764-11e6-99dc-1707e21d9750.png)

[2016-05-11 00:41] golimpio commented on #319
Adwaita seems to work fine now (I don't know how it looked before):
![split-adwaita](https://cloud.githubusercontent.com/assets/138681/15166711/d860f996-1764-11e6-9ea5-5138ed2d3618.png)

[2016-05-11 00:41] gnunn1 commented on #319
So transparency is fixed but the wide one on Adapta looks ugly, I can live with that for now. Are you OK with this?

BTW, this is a side effect of supporting transparent scrollbars, for the scrollbar to be transparent the whole background needs to be transparent which can cause problems with the panes on some themes.
I could make the transparent scrollbars an option but I much prefer the "just mak

[2016-05-11 00:44] golimpio commented on #319
Sorry, transparency issue is still there (I'm using the dark variant and the window behind Terminix is white).

But anyway, It's not really a big deal, I usually use the thin splitter and the thin splitter looks alright!

Thank you for your support!

[2016-05-11 00:48] gnunn1 commented on #319
OK thanks for the feedback, I'm going to leave this open and look into if there is an optimum way to address this, I have some thoughts but need some time to try some things. Wish I could duplicate your Adapta experience though, would make tweaking things much easier. If I make some changes for this, I'll update the bug report so you can test it.

[2016-05-11 00:52] golimpio commented on #319
Sounds good to me...I think I have a different experience because I'm using the Adapta from GIT/master, it might be slightly different from the PPA.

[2016-05-11 03:34] gnunn1 commented on #319
Just a reminder note to myself, suspect the best solution is to add a CSS class that I used to have for any theme that the transparent scrollbar is not supported, otherwise I suspect trying to style the GTKPaned separator itself is going to lead to less then optimal results. For example, in Adapta with the wide handle there are two thin transparent strips even though the background is properly sty

[2016-05-11 03:46] dsboger commented on #25
I've pushed autotools support to my tree (https://github.com/dsboger/terminix). Updated `terminix-git` on AUR to latest release and changed it to build using autotools. `terminix-git` depends on `gtkd-dmd` (also on AUR) and links dinamically against it. I created `gtkd-dmd` because `gtkd` is compiled with `ldc`, but latest release of `ldc` cannot build terminix and we cannot link binaries from dif

[2016-05-11 06:15] arshavindn commented on #314
@golimpio thank you, latest dmd from dlang.org solves the problem.

[2016-05-11 06:15] #314 closed

[2016-05-11 16:00] gnunn1 commented on #285
I have opened a bug with Ubuntu Unity for this:

https://bugs.launchpad.net/ubuntu/+source/unity/+bug/1580673

[2016-05-11 19:46] probonopd commented on #25
Done @mehcode.

I currently only do 64-bit builds but it would be trivial to also do 32-bit builds. I hope that someone from the terminix project (upstream) will take over the AppImage recipe and do "official" builds that are provided directly by the project, similar to https://musescore.org/en/download#AppImage

[2016-05-11 20:13] gnunn1 commented on #25
@probonopd Just to be clear, hopefully someone will volunteer to take over the AppImage but it won't be upstream in the sense of me (i.e. primary Terminix developer/maintainer) taking it over. I don't want to be in the packaging business, it takes too much time away from development and too much distro specific knowledge, hence this topic looking for volunteers.

I'm happy to support package maint

[2016-05-11 22:52] mannol commented on #99
Thanks.

[2016-05-12 00:37] #319 closed

[2016-05-12 00:48] gnunn1 commented on #303
@egmontkob So I've checked in a change that simplifies this quite a bit and on the whole it seems to be working better, even though the methodology is a bit counter-intuitive. Instead of painting the window background, which causes the popover painting issue in 3.18, I simply added a CSS class to the session (i.e. page in GTKNotebook) to add a background coor equal to theme_bg_color.

Now the unin

[2016-05-12 00:49] gnunn1 commented on #319
See #303 for more info on this change

[2016-05-12 03:56] gnunn1 commented on #15
This one has been bugging me for a long time and as part of the drive towards 1.0 I took another look at this. The good news is that I finally managed to track down what is causing it.

The GTKPopover calls the get and set default widget methods in map/unmap events. Normally this is not an issue, however because when you split the terminal the session unparents and then parents the terminal it cau

[2016-05-12 09:58] Boiethios opened #321 "Questions about translations"
I have a little questions about translations : why some strings are marked as translatable (like "DIRECTORY", "PROFILE_NAME", or the hidden parameters) since there are just used internally and never displayed in the UI ?

And another question about weblate.org : I do the French translations, and some strings are marked with failing checks because "source and translated strings are same". For examp

[2016-05-12 10:05] phw commented on #321
DIRECTORY and PROFILE_NAME are actually translatable strings, they are part of the output of `terinix --help`. See this:

[code]

And the German translation:

[code]

For the Weblate checks there are two ways. One is for you as a translator you should be able to remove that check by clicking on the small cross at the left side of the check warning. But Weblate will redo the check and add the warni

[2016-05-12 10:45] Boiethios commented on #321
Oh thank you, I did not know that there were displayed ! And about the string "Hidden argument to pass terminal UUID" ? Is it actually displayed ?

And thank you for the help about the warning, I did not see the small cross in it. Now I solved the issue.

[2016-05-12 10:54] phw commented on #321
It is the help text for the command line argument, just like the others, but. But since that argument is marked as hidden it is not displayed in `--help`. But it is the help text for that argument nevertheless, so it is marked as translatable. I wouldn't change that for now.

[2016-05-12 10:59] alex285 opened #322 "BUILD: Error: no property 'clear' for type 'string[string]'"
dub build --build=release --force
Performing "release" build using dmd for x86_64.
gtk-d:gtkd 3.3.1: building configuration "library"...
gtk-d:gstreamer 3.3.1: building configuration "library"...
gtk-d:gtkdgl 3.3.1: building configuration "library"...
gtk-d:sv 3.3.1: building configuration "library"...
gtk-d:vte 3.3.1: building configuration "library"...
terminix ~master: building configuration "d

[2016-05-12 11:06] phw commented on #322
See #310 and #314

[2016-05-12 11:08] alex285 commented on #322
Oops! I missed 310. I will update DMD and try again. Thanks!

[2016-05-12 11:55] alex285 commented on #322
Updating from `DMD64 D Compiler v2.070.0` to `DMD64 D Compiler v2.071.0` solved it. Thanks!

[2016-05-12 11:55] #322 closed

[2016-05-12 11:56] alex285 commented on #314
To confirm from #322, updating from `DMD64 D Compiler v2.070.0` to `DMD64 D Compiler v2.071.0` solved it. Thanks!

[2016-05-12 12:55] gnunn1 commented on #321
@phw I have added you as an owner in weblate, if you need anything else just let me know.

[2016-05-12 12:57] gnunn1 commented on #285
@jaromero Are you finding things better with the new release, can I close this?

[2016-05-12 13:16] gnunn1 commented on #15
Opened GTK+ bug for this:

https://bugzilla.gnome.org/show_bug.cgi?id=766323

[2016-05-12 14:04] gnunn1 commented on #293
I think everything is good shape for a 1.0 release, as per the comment in the last release I'm targeting a date of around May 23rd for a 1.0 release. I checked in some fixes last night to address remaining transparency issues and other then hopefully fixing #15 I don't have anything in my queue until the release. All the other bugs identified in the first post of this issue have been addressed.

[2016-05-12 15:59] alexwhitman opened #323 "vte.addOnResizeWindow doesn't fire"
Not sure where I'm going wrong with this.  I've added a couple of extra title variables for displaying columns and rows which work as intended except for on window resize.  The changes are
[code]
I've added but commented out `updateTitle` in `vte.addOnContentsChanged` as while this works, `updateTitle` ends up being called twice due to also being called from another event when entering commands.
F

[2016-05-12 17:54] gnunn1 commented on #323
Oh and this would be a cool addition, so yes pease! :)

[2016-05-13 05:40] mnowaksuse opened #325 "UnicodeDecodeError: 'ascii' codec can't decode byte 0xc3"
[code]
While entering folder `Kubík` in Nautilus. Terminix v 0.60.0 from Fedora's copr repo.

[2016-05-13 07:34] phw commented on #293
I just ran `pacman -Rns terminator` :) It's really amazing how fast Terminix became such a feature rich and mature product.

[2016-05-13 07:51] phw commented on #325
I wonder whether it is the file name or the translation strings that causes the issue. What is the full path of the affected folder could help, maybe there is some special character in there. What file system is it?

In case it is translation related, what is your language setting? Can you give the output of the `locale` command?

[2016-05-13 08:00] alexwhitman commented on #323
Thanks, `addOnSizeAllocate` works fine.  Pull request submitted: #326

[2016-05-13 08:00] #323 closed

[2016-05-13 08:08] phw commented on #325
From what I can tell it must be in the filename. The full path and the encoding of the underlying file system would help.

[2016-05-13 10:44] bil-elmoussaoui opened #327 "Multipages shorctuts window"
Hello,
In small screens(13,3") it's impossible to see all the shortcuts
![capture d ecran de 2016-05-13 12-41-57](https://cloud.githubusercontent.com/assets/7660997/15245648/281e239c-1908-11e6-9c51-e3e62855bd9c.png)
Using Builder
![capture d ecran de 2016-05-13 12-43-05](https://cloud.githubusercontent.com/assets/7660997/15245673/41d19b0c-1908-11e6-8664-c9729f0bee46.png)
Also, the shorctuts window