[2016-08-19 12:15] gnunn1 commented on #450
As @phw pointed out, you need a patched VTE to make this work which Ubuntu does not include and without the patched VTE notifications will not work. It would be nice if the Fedora patch would get upstreamed at some point unfortunately it seems stuck at the moment.

[2016-08-19 14:08] fastrizwaan opened #451 "terminix - how to execute command using session / json file?"
cat ~/ssh.json
[code]
The above "execute":"ls" does not execute; I want to launch split views with ssh. Please guide. Thanks.

[2016-08-19 14:15] #450 closed

[2016-08-19 14:18] gnunn1 commented on #451
In the terminal menu, go to *Layout Options* and specify the override command. This override command is what is used to execute a command. In the json file it appears as follows:

[code]

[2016-08-19 14:18] #451 closed

[2016-08-19 14:52] fastrizwaan commented on #451
OK, the Layout menu is accessible from "Right-Clicking" in the window. I was looking at 3-dots menu. Thank you!

[2016-08-19 16:28] itoshkov commented on #450
OK, thank you. I thought that I just need to add the things described in the FAQ page.

[2016-08-19 21:22] gargullia commented on #25
@hotice The fact that locally generated. in the catalog **usr/share/locale/ru}/LC_MESSAGES/terminix.mo** file does not exist
Add `# Compile po files
echo "Copying and installing localization files"
for f in po/*.po; do
    echo "Processing $f"
    LOCALE=$(basename "$f" .po)
    mkdir -p ${PREFIX}/share/locale/${LOCALE}/LC_MESSAGES
    msgfmt $f -o ${PREFIX}/share/locale/${LOCALE}/LC_MESSAGES/term

[2016-08-20 11:43] iacopodeenosee opened #452 "problem with custom command profile"
hi, i have a problem when i customize a profile, i want to set the initial command with
`cd ~/.local/share/gnome-shell/extensions/ && ls -la`
when i try to launch terminix with my custom profile i get this error:
[code]
is the problem that parse of the char "~"? thx

[2016-08-20 11:53] gnunn1 commented on #452
When you execute a command, it's not running a shell it's just running your command. So things like chaining commands, which come from the shell, dont work. You can put your commands in a script and execute that instead.

If you google for "Gnome terminal multiple commands" you'll find some other workarounds that may work in Terminix.

[2016-08-20 12:40] iacopodeenosee commented on #452
i'll create a script, thx

[2016-08-20 12:40] #452 closed

[2016-08-20 19:10] gnunn1 commented on #404
So I've brought trigger support back again but it requires a patch to the VTE which I've placed in experimental/vte, without this it will appear disabled to users. Applying this patch to the VTE results in a new signal being available which enables terminix to detect the change from normal to alternate screen and back again.

I've re-factored the terminix code a bit to support detectinc these opti

[2016-08-21 00:42] dsboger commented on #25
AUR package [terminix-git](https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=terminix-git) builds all locales. Are you building from master or latest stable? Do you have a LINGUAS file inside po directory? If not, you may try generating it like [autogen.sh](https://github.com/gnunn1/terminix/blob/master/autogen.sh) from master and building again.

[2016-08-22 08:50] Udara-U3 opened #453 "Missing window controls in Ubuntu (Yakkety Yak)"
Missing window controls such as **Minimize and Maximize** in Ubuntu (Yakkety Yak) with Latest **Terminix** Stable 1.2.0 release.

![terminix_issue](https://cloud.githubusercontent.com/assets/12265797/17848778/71d8a9b4-6866-11e6-8cd3-1f3aab6b33e7.png)

[2016-08-22 11:24] gnunn1 commented on #453
I think this is expected behavior, Terminix uses CSD so it behaves like gnome applications which haven't been patched by Ubuntu. You can disable the CSD by using dcong-editor and setting the disable-csd to true in com/gexperts/Terminix

[2016-08-22 11:48] Udara-U3 commented on #453
After disabling CSD, Tereminix is fully weird :confused: Any idea ?

  ![screenshot from 2016-08-22 15-46-56](https://cloud.githubusercontent.com/assets/12265797/17853793/d0d94a54-687f-11e6-866a-92247a65180f.png)

[2016-08-22 11:55] gnunn1 commented on #453
Yeah, I screwed up. I probably didn't do enough testing with the CSD disabled when I did the re-design. I'll get my Ubuntu VM fired up and have a look in the next couple of days.

One other thought, if you turn the CSD back on again, can you use the gnome tweak tool to add the missing window controls by enabling the Maximize and Minimize buttons?

![screenshot from 2016-08-22 07-54-30](https://clo

[2016-08-22 11:58] Udara-U3 commented on #453
@gnunn1 I have already enabled those window controls, former Screenshot with enabled window controls. Btw Thank you for your support, :+1:  Hopefully this Bug will fix in the future :smile:

[2016-08-22 15:46] alexwhitman opened #454 "Quick session opener/switcher"
Incoming feature suggestion...

Sublime Text has a [quick open panel](http://docs.sublimetext.info/en/latest/file_management/file_management.html#goto-anything) which performs a fuzzy search on files.

I think something similar for Terminix which searches for saved session files could be useful so that I could hit a hotkey, type something like 'web prod' (which would be in the name of a previously

[2016-08-22 15:50] gnunn1 commented on #454
Interesting but might be tricky to implement. For one, you'd likely one to have a preference of where to search for these files so you are not searching the entire home directory. The other issue wouldn't you'd have to actually read the file to determine if it's a terminix json file or some other json file?

[2016-08-22 16:48] alexwhitman commented on #454
The way Sublime Text does it is to store a list of paths to project files that it knows about. This list could be updated when a session file is opened or saved. Essentially it would be like a recent files list, but one which is fuzzy searchable.

[2016-08-22 23:21] lots0logs commented on #25
@gnunn1 We're still packaging Terminix in [our repo](http://build.antergos.com/package/terminix). The problems that we had initially with the automated builds have been resolved.

[2016-08-23 05:05] lucascosti opened #455 "Middle click on terminal title to close"
One enhancement that I would love to have is to be able to middle-click on the terminal title bar to close.

IMO, this is a fairly common use case, and is much easier than remembering the shortcut or finding my way to the close button.

Is it possible to get this added, at least as an option?

[2016-08-23 11:59] gnunn1 commented on #455
Sure, this should be pretty easy to do and it's somewhat consistent with the browsers that typically let you close tabs by middle clicking them.

[2016-08-23 12:06] hotice commented on #25
@dsboger Thanks. The issue was autogen.sh not being run.

@gargullia I updated the PPA, install the update and the localization files should be available.

[2016-08-23 13:22] alexwhitman commented on #454
This is something along the lines of how I think it could work:
[code]

Obviously this is missing saving to/loading from a setting, doing it in such a way that it would work across multiple windows.

[2016-08-23 13:32] edubxb commented on #455
I personally dislike this behavior (Firefox has it), so I prefer to have an option to disable it.

[2016-08-23 15:19] gnunn1 commented on #454
Thanks @alexwhitman ,you are almost there so feel free to finish it off and submit a PR :)

[2016-08-23 19:51] alexwhitman commented on #454
I can handle the behind the scenes bit but I've not really done anything with GTK.  Any suggestions on where to start with that?

[2016-08-23 23:02] gnunn1 commented on #454
Well the first step is deciding what UI you want to use for this, should it be a pop-up dialog or a drop down? If you think a drop-down is best like Sublime, then you probably need to use an Overlay with the searching controls. There is already an Overlay in the AppWindow to support the SideBar, while I haven't tried it hopefully you could add a second overlay widget but aligned to the top without

[2016-08-24 00:53] gnunn1 commented on #453
BTW, what theme are you using?

[2016-08-24 01:27] gnunn1 commented on #453
Answering my own question, that theme is Adapta and it looks like it has some issues as other themes render it fine. Having said that, I'll freely I haven't spent much time optimizing the look of terminix when the CSD is disabled so I'll need to look into it.

[2016-08-24 04:18] Udara-U3 commented on #453
Yeah It's **Adapta theme** I'll check that out. Thank you.

[2016-08-24 12:15] gnunn1 commented on #453
I've checked in a change that greatly improves the look when disable-csd is enabled:

![screenshot from 2016-08-24 08-14-05](https://cloud.githubusercontent.com/assets/9358238/17930185/f02ec222-69d2-11e6-9c96-1c85a7519b35.png)

[2016-08-24 12:53] Udara-U3 commented on #453
Ohh why is that, :confused: I don't know maybe it's Adapta issue.

[2016-08-24 13:33] gnunn1 commented on #453
It's just the way Adapta styles buttons, it behaves differently when the button is on a headerbar versus other GTK widgets. I re-worked the code to always use a headerbar, probably for the best to maintain theme compatibility.

I'll have a look at the minimize, maximize button issue when I get a chance.

[2016-08-25 08:09] Udara-U3 commented on #453
Ok thanks :smile:

[2016-08-25 14:44] gnunn1 opened #457 "Changing profile settings for switched profile doesn't work"
If you use automatic profile switching and try to adjust the settings of the profile in profile settings, the settings are not reflected in real time like they are for the default profile for that terminal.

[2016-08-26 00:01] #457 closed

[2016-08-26 18:41] #455 closed

[2016-08-28 10:28] alexwhitman opened #459 "Title bar not updated after closing sessions"
On the latest master branch the title bar isn't updated when sessions are closed:

- Open 4 sessions, session button says 4/4, title says Terminix 4
- Open sidebar and close sessions 2 and 3 by clicking on the X button
- Close sidebar
- Session button still says 4/4, title still says Terminix 4
- Switch to session 1, title bar updates.

[2016-08-28 11:54] Tadly opened #460 "Feature Request: New Window if none on same workspace"
So, Terminix has this great feature **On new instance** which currently allows to be set to:
 * New window
 * New Session
 * Split Right|Down
 * Focus Window

Not knowing whether this is possible or not, I think it would be awesome to focus an active instances on the same workspace (if there is one) or create a new instance if there isn't.

Just an idea that popped to mind as I often end up with 3

[2016-08-29 15:27] dsboger commented on #460
For GNOME Shell, there is an [extension](https://extensions.gnome.org/extension/887/workspace-isolated-dash/) that does that irrespective of the application.

[2016-08-29 22:27] dsboger commented on #25
I'd be happy to hand terminix over so it could move to [community]. But please, notice that currently terminix in AUR just repackages the binaries provided by @gnunn1.

@gnunn1 Would you agree with moving the terminix package to be compiled with LDC, once no workarounds are needed?

@Dicebot I such case, you would also need to move [gtkd](https://aur.archlinux.org/packages/gtkd/) to [community], I

[2016-08-30 01:38] gnunn1 commented on #25
@dsboger Absolutely, no issue from me

[2016-08-30 10:55] Tadly commented on #460
@dsboger now that you've mentioned it. I think I've seen that somewhere before :)

This kinda solves the issue...
...On the other hand I'd prefer this to be handled by terminix itself if possible as not every DE supports GNOME Shell extensions.

[2016-08-30 12:30] gnunn1 commented on #460
While a nice idea I don't believe it is very feasible. At this time, the only library I'm aware of for handling workspaces cross platform is libwnck and I think it's pretty tied to X11 and likely won't work under Wayland. I also don't want to add it as a dependency, while I can work around that by checking if it was optionally available the effort to do so is just not worth the payback IMHO.

[2016-08-30 12:30] #460 closed

[2016-08-30 23:32] #459 closed

[2016-09-01 11:03] alexwhitman commented on #459
This isn't quite fixed.  The n/n button which opens the sidebar doesn't update until there are no more sessions under the mouse cursor.  Kind of hard to explain, so here's a video http://sendvid.com/61pyxgh1

[2016-09-01 14:18] MingcongBai opened #461 "Key combination conflict with nano"
With Terminix 1.20, I was unable to "save file" with GNU nano, as it uses `^O` (Ctrl-O) for this action, which conflicts with Terminix's session loading function.

[2016-09-01 15:00] gnunn1 commented on #461
Fixed previously as part of #330.

[2016-09-01 15:00] #461 closed

[2016-09-01 23:44] gnunn1 commented on #459
Good catch @alexwhitman, hopefully this commit does the trick.

[2016-09-03 19:13] Calrama opened #462 "Feature request: --execute short option compatibility -e"
The conventional (AFAIK) short command line option in terminal emulators for `--execute` is `-e`;
at least it is provided as such by (non-exhaustive)

- (u)rxvt
- xterm
- gnome-terminal
- qterminal
- termit
- terminator
- st

This may seem trivial, but there are programs (such as [i3](https://i3wm.org/)'s i3-nagbar) that assume the user's terminal emulator can be used to execute a command by calli

[2016-09-03 23:33] gnunn1 commented on #462
Agreed, I must have had a brain-fart when I picked x as the shortcut.

[2016-09-04 01:08] gnunn1 commented on #462
Looking into this more, it appears I didn't have as much of a brain fart as I thought. Gnome Terminal supports both -e and -x with the difference being -x executes everything that follows it as the command whereas -e only executes the parameter string. Terminix should be compatible where possible with gnome terminal so I'll attempt to adjust this.

http://manpages.ubuntu.com/manpages/wily/man1/gno

[2016-09-04 02:47] #462 closed

[2016-09-04 11:42] Calrama commented on #462
Thank you for the quick fix.

[2016-09-05 03:05] gnunn1 commented on #443
So I'm getting close to having this working, hopefully will have a functional version ready tomorrow night. However one question, besides the name are there any useful attributes to describe the password I should include?

AFAIK iterm2 is just a simple Name field to describe the password and I'll probably just do the same unless there is a compelling reason not to.

[2016-09-06 00:24] #443 closed

[2016-09-06 00:28] gnunn1 commented on #443
I've checked in a first iteration of this feature, to access it use the new insert-password shortcut. The password manager interfaces with gnome-keyring via libsecret, if libsecret is not available an error message should display when activating the feature so I would consider libsecret an optional dependency at this point.

Note that implementing this code involved more interfacing with C then I

[2016-09-06 00:41] gnunn1 commented on #25
For package maintainers, please note that the addition of a password manager from #443 adds optional dependencies on gnome-keyring and libsecret. I say optional dependencies since terminix should run fine without them however an error dialog will be displayed if the password manager is accessed without them present.

[2016-09-06 07:36] LionelR opened #463 "Command not executed when switching profiles"
If a profile is set with a personalised command, the command is not called when inside a session we want to switch to this profile. All others parameters (colors, background, ...) are set, but not the command.

[2016-09-06 11:24] gnunn1 commented on #463
Are you referring to switching to a profile when Terminix is already running and expecting that profiles command to run, or loading a session from a file where one of the terminals as a profile with a custom command to it and is not executing?

If the former, that's by design and isn't going to change. The reason being is to make it work whatever is running in the terminal (shell, other command, e

[2016-09-06 11:34] LionelR commented on #463
No, it's the former.
So, how do you tell Terminix to open a new session with the desired profile?

[2016-09-06 11:37] gnunn1 commented on #463
Command line parameters, use the -p or --profile switch. See ```terminix --help``` for more information.

[2016-09-06 11:51] LionelR commented on #463
In Terminal, you have the possibility to go to File>Open a Terminal, and to choose the desired profile to use, without using the command line parameter

[2016-09-06 11:55] gnunn1 commented on #463
Try this in terminix, Go to preferences and choose the option "Prompt on new session". It's the first option on the first tab. Now when you open a new session it will prompt you to enter a name and choose a profile.

[2016-09-06 11:57] LionelR commented on #463
Perfect!

[2016-09-06 11:57] #463 closed

[2016-09-06 16:45] gnunn1 opened #464 "Trigger activating twice"
The new trigger for activating the Insert Password is activating twice thereby creating two dialog boxes which is annoying.

[2016-09-06 19:37] #464 closed

[2016-09-07 13:27] zatan opened #465 "Add new terminal down/right working directory"
By adding new terminal down/right from the current window should set new terminal current working directory path to the original working path where it got called from.

[2016-09-07 13:33] arcticicestudio commented on #465
This is a known issue related to VTE.
There's a information popup for this which links to the [related wiki entry](https://github.com/gnunn1/terminix/wiki/VTE-Configuration-Issue).

[2016-09-07 13:51] zatan commented on #465
@arcticicestudio  thanks, this solved my problem!

[2016-09-07 13:51] #465 closed

[2016-09-07 16:38] dsboger commented on #25
@gnunn1 Does it depend on gnome-keyring itself (the binaries) or libgnome-keyring.so or both? Oddly we have separate packages for those on Arch.

[2016-09-07 16:52] gnunn1 commented on #25
@dsboger It actually does not depend on gnome-keyring directly, it should depend on libsecret, I should be more careful how I phrase things. Here is the libsecret package I have on my system:

https://www.archlinux.org/packages/extra/x86_64/libsecret/

[2016-09-07 17:01] dsboger commented on #25
@gnunn1 Understood. It seems libsecret optionally depends on gnome-keyring itself. I don't know much about these packages, but it seems gnome-keyring provides a DBus service that libsecret uses?

terminix-git updated.

[2016-09-08 18:03] escobera opened #467 "VTE Configuration Issue alert still showing"
Hello there.

I'm using terminix on linux mint 18 MATE. Latest version from webupd8 ppa.

I did the following steps.

* Added `source /etc/profile.d/vte.sh` to teh end of my .zshrc
* Symlinked vte.sh -> /etc/profile.d/vte-2.91.sh

But I'm still getting the warning. Is there a way to debug this?

[2016-09-09 14:32] gnunn1 commented on #448
Closed via PR from @alexwhitman which implements this.

[2016-09-09 14:32] #448 closed

[2016-09-09 14:52] gnunn1 commented on #467
This might be a bug in terminix as I vagualy remember fixing some issues with this dialog after the last stable release. Can you check if the prompt_command is sourced in terminix after you made those changes, just run the following from the terminix:

[code]

You should see ```__vte_osc7``` included in it.

[2016-09-09 16:25] escobera commented on #467
It prints nothing.

even after manually calling `source /etc/profile.d/vte.sh` it remains empty.

[2016-09-09 16:34] phw commented on #467
It might be related, but occasionally when splitting terminals the VTE warning shows up for me, too, but usually it does not. I have not yet found out why and how to reproduce this reliable. And it is very seldom.

[2016-09-09 16:40] gnunn1 commented on #467
@escobera I use bash myself, I'll have a look tonite with zsh just to re-confirm it works for me with master and that PROMPT_COMMAND is set as expected.

You could also try enabling the login shell option under the Command tab in the profile settings and see if that helps.

[2016-09-09 16:41] gnunn1 commented on #467
@phw thanks, I'll keep that in mind when I'm looking at it. That warning dialog is a bit of a nuisance to get working perfectly with all of the permutations and combinations.

[2016-09-09 17:07] escobera commented on #467
http://superuser.com/questions/735660/whats-the-zsh-equivalent-of-bashs-prompt-command

Looks like PROMPT_COMMAND is bash-only.

[2016-09-10 13:55] #329 closed

[2016-09-10 23:06] #10 closed

[2016-09-10 23:10] gnunn1 commented on #10
It's been a long time but I finally added support for a quake mode. To use this, you need to configure a hotkey in gnome shell (or the DE of your choice) to run terminix with the --quake switch, i.e.

[code]
If a quake window is already running this will toggle the visibility of the window, if not it will create a new window.

Under Wayland there is a limitation that there is no option to have the

[2016-09-10 23:12] michaudg commented on #10
Great work! Thank you very much.

[2016-09-10 23:41] gnunn1 commented on #10
Wiki page added here: https://github.com/gnunn1/terminix/wiki/Quake-Mode

[2016-09-11 09:32] alexwhitman commented on #10
Awesome, I can ditch Guake now.

One minor thing, in Ubuntu I have a Terminix icon in the sidebar.  I've configured a hotkey to run `terminix --quake` and pressing that causes the icon to do the attention wiggle/wake up dance.  I don't know if it's possible to mark the window while in Quake mode as something that shouldn't be marked as running.

[2016-09-11 09:55] alexwhitman commented on #10
Actually, to expand on the previous comment.  The wiggle only happens when another window was previously focused (Firefox for example).  The worse problem is that when Terminix opens, it doesn't have focus.  So, steps to reproduce (at least on Ubuntu):

- Open Firefox
- Hit the hotkey running `terminix --quake`
- Notice Terminix doesn't have focus

However, if you give focus to Terminix once it is

[2016-09-11 11:46] gnunn1 commented on #10
If you look at line 995 in app window.d, you can change the GdkWindowTypeHint from NORMAL to UTILITY and that may solve the wiggle issue. However the issue I had with it is that I can't get it to focus the window programmatically other then by clicking it manually.

It's a shame because UTILITY has a number of advantages on Gnome Shell such as not appearing in the overview or alt-tab screens.

[2016-09-11 14:03] teresaejunior commented on #10
Awesome, thanks! I'll test it as soon as I have the opportunity!

[2016-09-11 17:26] vaijab opened #470 "Session switcher slide-out from the right"
At the moment, the session switcher slides out from the left. It would be great if that was configurable. Having the switcher on the right, wouldn't cover terminal text which for the most part is always on the left.

Just a suggestion. Thanks.

[2016-09-11 18:22] anassahmed opened #471 "Quake mode switch disables app menu/icon under GNOME 3.20"
I'm using Fedora 24 + GNOME 3.20 + Wayland. I assigned a hotkey for `terminx --quake` and it worked for the first time amazingly.

Then when I switched back to it (toggled the window visibility using the hotkey), the app menu (in GNOME Shell top bar) has become one option (Quit) and the app name became "terminix" (starting with small letter) with a generic app icon!

Before switching the visibilit

[2016-09-11 18:31] gnunn1 commented on #471
I checked in some new code about an hour ago, can you check that out and see if it fixes the issue as it seems fine to me. Still have a focus issue to work on though.

[2016-09-11 22:43] gnunn1 commented on #471
I spoke too soon, I can replicated this under Wayland. No clue as to what the solution is though, It will need more investigation. Might also be a bug with gnome-shell.

[2016-09-11 23:03] gnunn1 commented on #467
I tested this in the current version in github and it works as expected, as I said I'm pretty sure I fixed this since the last stable.

You can test if the warning is just spurious pretty easily, just start terminix and in the shell change to some directory. Next split the terminal and check the directory in the new terminal. If it's the same as the directory you switched too then the warning is s

[2016-09-12 08:16] alexwhitman commented on #10
Unfortunately switching it to `UTILITY` didn't solve it.

[2016-09-12 11:59] #470 closed

[2016-09-12 12:00] gnunn1 commented on #10
That's too bad, I'm not sure what else I can do about it. I'll give it some thought over the next few days.

[2016-09-12 12:02] vaijab commented on #470
Wow. That's awesome!

[2016-09-12 12:39] alexwhitman commented on #10
I had a quick look at the Guake source and they're doing something odd with window type hints at https://github.com/Guake/guake/blob/master/src/guake/guake_app.py#L348 - Admittedly that's gtk2 rather than gtk3 but it might provide some inspiration.

[2016-09-12 12:49] alexwhitman commented on #10
Similarly there's some more focus related things going on in the `on_show` handler: https://github.com/Guake/guake/blob/master/src/guake/guake_app.py#L879

[2016-09-12 12:53] gnunn1 commented on #10
Thanks @alexwhitman, I'll have a look. I'm curious if the deiconify() call would fix my Wayland issue from #471.

[2016-09-12 16:31] Gert-dev opened #473 "Open remote shell on SFTP connections"
Hello

Recently whilst trying out Terminix, it felt pretty much like an improved version of gnome-terminal (perhaps it would even be interesting if it became the default GNOME terminal). A minor feature I'm missing is opening a terminal on a remote location whilst automatically signing into the SSH session.

GNOME terminal supports this via Nautilus by right-clicking; two options will show up in r

[2016-09-12 18:02] varemenos commented on #10
There should be a gtk3 branch which could give you a hint

[2016-09-12 22:41] gnunn1 commented on #471
Filed an upstream bug for this:

 https://bugzilla.gnome.org/show_bug.cgi?id=771329

[2016-09-12 22:43] gnunn1 commented on #473
Might take me some time to get to this, the Nautilus integration is in Python which I'm not that great at. If someone wants to take a crack at this feel free, the python code is a single file and can be found here:

https://github.com/gnunn1/terminix/blob/master/data/nautilus/open-terminix.py

[2016-09-13 03:46] PombaM opened #474 "Add option to start the app minimized"
**Motivation** :
I have set terminix to autostart on boot but since it lacks option to start minimized, it starts in the foreground, which is annoying :smile_cat:

**Solution** :
Option to start this wonderful piece of software minimized, like the `--maximize` maybe a `--minimize` option

**Further info**:
Ubuntu 16.04.1 LTS (amd64)

[2016-09-13 12:09] vltr commented on #25
Hello! I bumped into a "problem" many users (perhaps one reported and at least I'm the second one) have been complaining about building [GtkD from AUR](https://aur.archlinux.org/packages/gtkd/). I know its the only dependency for building terminix (from AUR), so I'll share what I found here to -- it may help packaging or troubleshooting.

I'm sorry I can't do anything _for now_ (I'm really out of

[2016-09-13 15:08] zeten30 opened #476 "Cannot select text with mouse near splitter"
Hello,

mouse cursor is changing to 'resize' when close to splitter. First character on left side cannot be selected via mouse (workaround, select from  right to left). Image [https://goo.gl/photos/EmsoYXSNNJQbaF6T9](https://goo.gl/photos/EmsoYXSNNJQbaF6T9). This happens in all terminals added to right.

[2016-09-13 15:13] zeten30 opened #477 "Feature request: Insert/paste terminal number/id function"
Insert/paste terminal number/id function (menu/button/shortcut) will be very useful when doing ssh server-${NUM} from tiled terminals for example.

[2016-09-13 15:15] repsac-by opened #478 "Quake mode in X11 with HiDPI Window scaling"
if window scaling is 2, then terminix uses only half of the screen

But it would be nice if it were possible to set manual the window size in width and position horizontally.

* HiDPI Window scaling settings in gnome-tweak-tool

[2016-09-13 15:38] gnunn1 commented on #477
It's already there in the git version, if you look in the shortcuts tab in the preferences dialog under the Terminal section there should be a shortcut for" Insert terminal number".

[2016-09-13 15:38] #477 closed

[2016-09-13 15:40] zeten30 commented on #477
Great. I was looking in latest commits, but didn't find it.

[2016-09-13 15:54] gnunn1 commented on #476
This is an issue with GTK and thin splitters, gedit has the same issue when you enable it's sidebar. The easiest way to work-around this is to enable wide handle in Preferences | Appearance.

See #307 for more information.

[2016-09-13 15:54] #476 closed

[2016-09-13 15:57] #478 closed

[2016-09-13 16:06] gnunn1 opened #479 "Release Version 1.30"
I think things are at the point where I should I look at releasing a stable 1.30 version in a couple of weeks towards the end of September, there are enough new features and bugs squashed to warrant it.

Some of the remaining items left on my plate that I would want to do before this include:

* Fix any remaining quake issues that are in my purview to fix (I suspect #471 is not fixable by me and i

[2016-09-13 16:38] gnunn1 commented on #471
So upstream responded, doesn't look the two methods I'm using in x11 to hide from the pager and taskbar work in Wayland. The other issue is there may be a bug in Wayland with the appmenu when a window is hidden and shown, if the hide from taskbar worked you would never see the appmenu in Wayland so it would be a non-issue.

I'll build a simple reproducer for the hide/show and open a new bug agains

[2016-09-13 19:44] alexwhitman commented on #479
I wouldn't necessarily mark the switcher as a blocker to release unless anyone wants to volunteer to take a look at the visual side of it.  I'm probably not going to have time to add the fuzzy string search but I do want to make the simple string search case insensitive which I should be able to do tomorrow.

[2016-09-14 01:07] gnunn1 commented on #479
This was intended more as a list of things I'd like to do brfore release rather then a list of blockers, I should have been clearer.

Once the switcher is fully functional just let me know and I'll merge it in, I'm happy to work on cleaning up the UI to make it purdy :)

[2016-09-14 02:03] CodeMonk opened #480 "Are you planning on supporting tmux control mode?"
I love it with iTerm2 on mac, and I'd also love to try it out on Terminix:  http://man7.org/linux/man-pages/man1/tmux.1.html#CONTROL_MODE

Has anyone started working on anything like that?

-Dave

[2016-09-14 02:15] gnunn1 commented on #480
Terminix uses the GTK VTE widget which performs the actual terminal emulation. Supporting this would require changes in VTE, the good news is that an issue is open for it but I don't know if anyone is actually working on it:

https://bugzilla.gnome.org/show_bug.cgi?id=745640

I'd like to get more involved with VTE development unfortunately due to a recent job change I don't currently have the time

[2016-09-14 02:23] CodeMonk commented on #480
Cool!

I'll start looking at how iterm did it, and how VTE did it . . . . not sure
if I'll have time to help, but, I might :)

-Dave

On Tue, Sep 13, 2016 at 8:15 PM, Gerald Nunn <notifications@github.com>
wrote:

[2016-09-14 06:09] CrashyBang opened #481 "Supporting VTE configuration with FISH shell"
I am trying to set up VTE based off these [instuctions](https://github.com/gnunn1/terminix/wiki/VTE-Configuration-Issue) with [fish shell](https://fishshell.com/) however it is unsupported.

Has anyone managed this? I have tried using this [VTE rewrite for fish](https://github.com/fisherman/fish-vte).

I thought a potential solution may be to default to `bash` then after I am done `source`ing `vte

[2016-09-14 11:05] gnunn1 commented on #481
I think this should already be working according to this fish bug report:

https://github.com/fish-shell/fish-shell/pull/973

When you split the terminal us it using the directory from the previous terminal or $HOME?

[2016-09-14 14:54] gnunn1 commented on #474
So just to be clear, if I were to support this it would simply iconify (i.e. minimize) the application. It would not be running in the system tray. I'm asking because Gnome Shell doesn't really support minimizing effectively and I'm not sure about Unity, just want to make sure expectations are correct.

[2016-09-14 14:55] gnunn1 commented on #467
I'm closing this, as stated this is fixed in master and will be in the forthcoming 1.3.0 release in the next couple of weeks.

[2016-09-14 14:55] #467 closed

[2016-09-14 15:26] PombaM commented on #474
That is would be lovely! Thanks.

[2016-09-14 15:43] gnunn1 commented on #480
Closing since this depends on upstream.

[2016-09-14 16:09] #474 closed

[2016-09-14 17:53] gnunn1 commented on #481
So I just tested fish and it works as expected for me. Are you using the stable version or the current master from git? I cleaned up some issues with the warning between stable and the current version so it's possible I've already fixed this.

[2016-09-14 21:21] CrashyBang commented on #481
Ahh possibly not I will test as soon as I get Home.

Just out of curiosity will it still show this error even if fish is working? (Or will it detect fish and not show this?)

![onpaste 20160915-091956](https://cloud.githubusercontent.com/assets/2978850/18530461/b583ba92-7b25-11e6-9cba-10020fdb881f.png)

Cheers.

[2016-09-14 21:24] gnunn1 commented on #481
On my system running master with fish I do not see the error and things
work as expected. Hopefully in your case things are actually working and
you are only seeing the dialog due too a bug in my case. In this case you
can simply disable by selecting the do not show me this again checkbox on
the dialog.

Gerald

On 14 Sep 2016 17:21, "Otis Wright" <notifications@github.com> wrote:

[2016-09-14 22:16] CrashyBang commented on #481
Hey @gnunn1,

Will test with latest fish tonight, that is cool if it is a bug in terminix it was just a little confusing trying to figure out what I was doing wrong :L if there is anything I can do to help track it down let me :).

Cheers.

[2016-09-14 23:13] gnunn1 commented on #376
There is a new D library for wrapping libssh that would make the SCP portion much easier:

https://github.com/zebraxxl/libssh-d

[2016-09-15 00:00] gnunn1 commented on #471
I notice lollypop has issues as well with the appmenu under Wayland when you set the option for continuous playback where the app keeps running.

[2016-09-15 01:29] gnunn1 opened #483 "Window border in quake mode"
I've added a new option to control the width of the quake mode window and now it looks a little off due to not having a border with decorations turned off.

One option is too place a content in a frame. Unfortunately the window frame border colors may not be widely supported in custom themes. Adwaita has a warning about using that color reference and the control border color looks out of place.

A

[2016-09-15 13:37] #483 closed

[2016-09-15 13:53] gnunn1 commented on #471
One more upstream bug filed:

https://bugzilla.gnome.org/show_bug.cgi?id=771492

[2016-09-15 13:54] gnunn1 commented on #453
I'm having issues getting 16.10 working in a VM, @alexwhitman any chance you are using Ubuntu 16.10 and can test to see if this is still an issue?

[2016-09-15 14:12] alexwhitman commented on #453
Sorry, running 16.04 both at home and at work.  I might have a bit of time to try and get in running in a VM over the weekend if you're still having issues by then.

[2016-09-15 14:14] gnunn1 commented on #453
@alexwhitman Thanks, I'll give it another go tonite just feeling lazy and hoping you might already be there :)

[2016-09-15 15:05] alexwhitman opened #484 "Quake mode resizing strangeness"
I was testing the new Quake mode size scales in the preferences and noticed that the window width wasn't changing when the scale was changed.  That was because of a missing "watch" on `SETTINGS_QUAKE_WIDTH_PERCENT_KEY` which I was going to fix with:
[code]
This fixed the problem of the scale changes not modifying the window, but I don't think the scales are quite working as intended, best expresse

[2016-09-15 16:04] #484 closed

[2016-09-15 16:04] gnunn1 commented on #484
Thanks, should be fixed now.

[2016-09-15 20:06] gnunn1 commented on #442
Here's what I have so far, I need to spend some time reviewing @egmontkob's link to understand the escape options that iterm2 has.

![screenshot from 2016-09-15 16-03-06](https://cloud.githubusercontent.com/assets/9358238/18565548/255c45cc-7b5e-11e6-8fdf-0bb522f7e3aa.png)

This is implemented as a different shortcut, I opted against doing the tri-state thing because I can see lot's of situations w

[2016-09-15 21:19] CrashyBang commented on #481
Hey @gnunn1,

With stable master build and new FISH everything seems to be working :).

Cheers.

[2016-09-15 21:19] #481 closed

[2016-09-15 21:20] gnunn1 commented on #481
Awesome, thanks for testing!

[2016-09-15 22:03] gnunn1 commented on #442
I added the option to remove control codes (i.e. codes in the 0-31 ASCII range except tab, lf, ff and cr).

[2016-09-15 22:20] egmontkob commented on #442
Oops, I forgot to link: https://bugzilla.gnome.org/show_bug.cgi?id=753197. No need to add such an option, vte removes them anyway.

[2016-09-15 22:23] gnunn1 commented on #442
@egmontkob Thanks for the info, I'll remove it.

[2016-09-15 22:59] gnunn1 commented on #442
Commit reverted, I'm going to close this as I'm not sure how useful some of the other iterm2 transform options really are. Folks can open new issues as required.

[2016-09-15 22:59] #442 closed

[2016-09-16 02:13] porjo commented on #114
I know this has been raised many times, and the answer is 'no'...but for what it's worth, here's my take:

Tabs allows me to do a visual scan across my 'sessions' and switch to the one I want based on the tab's title (which on, e.g. gnome-terminal, defaults to user@host). I typically have half a dozen sessions to different hosts at any time, so seeing which host I can switch to is critical. With T

[2016-09-16 02:43] gnunn1 commented on #114
@porjo I appreciate your comments, but sorry my position remains the same with no plans to support a tabbed UI.

[2016-09-16 08:00] alexwhitman commented on #114
@porjo Once #456 is implemented you'll be able to quick switch to a session by its name.  It will mean that you'll have to name your sessions.  There's the potential to also search/filter based on terminal users/hosts within a session if the demand is there for it.

[2016-09-16 08:06] alexwhitman commented on #484
The resizing is now fixed, thanks.  There is also another small related issue in the video where the window position jumps down slightly which still occurs.  It looks like, but I'm not entirely sure, that the window drops down so that it's below the shadow of the top Unity bar.  Reopening the quake window repositions it correctly so it's only a minor bug.

[2016-09-16 12:42] gnunn1 commented on #484
@alexwhitman I'm not sure what is causing that drop down in position, the position is determined by the getQuakePosition method in appwindow.d which simply fetches the screen rect from the monitor and adjusts it based on the size settings. It doesn't actually touch the rect.y position at all.

The method does output the coordinates it's using in a trace, can you test it again when you get a chance

[2016-09-16 12:51] gnunn1 commented on #114
@alexwhitman @porjo That merge will be happening this weekend as I'm committed to getting it in before pushing a 1.30 release out the door.

One other thing I was thinking about last night, maybe there should be an option to auto-name sessions based on the currently active terminal in the session similar to what we support for terminal titles with variables. I get the sense that session naming is

[2016-09-16 13:22] vaijab commented on #114
That would certainly help. What I find useful in gnome-terminal for example, is tabs are named after a running command. Personally I'd never name my sessions manually, too much effort.

[2016-09-16 13:39] alexwhitman commented on #484
Ran a debug build, the y co-ordinate does stay as 0.

[2016-09-16 13:39] gnunn1 opened #485 "Allow variables in session name"
Add the ability to use the terminal variables like ${title}, ${directory}, etc in the session name so that it convey more context aware information. There would be a new string option for the default session name where this can be added similar to the ```Terminal title``` option in profiles.  Since the sessions cut across all profiles, I'm thinking of putting this in preferences under Global.

See

[2016-09-16 13:40] gnunn1 commented on #484
Thanks, let's chalk this up to Ubuntu weirdness :)

[2016-09-16 13:44] alexwhitman commented on #484
That's fine, it sorts itself out when reopening the window so someone would only see it when they change the preference which I can't imagine would happen often.

[2016-09-16 17:06] leoheck opened #486 "Shortcut to change font size"
Please, add ``ctrl+(scroll)`` to change font size.

[2016-09-16 17:14] gnunn1 commented on #486
I'm not keen on this, there are shortcuts already for zoom-in/zoom-out which is intended to be the mechanism to make things temporarily bigger/smaller. I'm not sure I want to add additional increases for the same purpose.

Thoughts?

[2016-09-16 17:39] leoheck commented on #486
What are shortcuts for zoom-in/out? I have asked for ``Ctrl+(scrol)`` because many applications behave like that.

[2016-09-16 17:51] gnunn1 commented on #486
ctrl+ and ctrl-, see the Preferences dialog and the Shortcuts tab.

[2016-09-16 17:53] leoheck commented on #486
Ok, ``crtl+`` should be used with shift in my keyboard, thanks.

[2016-09-16 17:53] #486 closed

[2016-09-16 17:54] gnunn1 commented on #486
Keep in mind you can change the shortcuts if you want to.

[2016-09-16 18:47] leoheck commented on #486
Yeah, sure this is definitely a good behavior. I keep one thing in my mind: it's always better to not change because we always have to use computers from others AND if the application mimics other applications we can be productive in any system. But thanks, @gnunn1  :)

[2016-09-16 23:47] #485 closed

[2016-09-16 23:50] gnunn1 commented on #485
This commit adds support for setting a string to use as the default name for sessions. Also, the string can contain the same tokens as the terminal title and it will use the current terminal to resolve the tokens.

One nice aspect of this change is that people who are running Terminix with the no terminal title bar style can have the terminal title displayed as the application title using ${title}

[2016-09-17 00:31] gnunn1 commented on #454
I've done a merge your PR and done some initial UI changes to improve the aesthics of it (hopefully!). I'll sleep on it tonite and take a crack at some more changes tomorrow.

[2016-09-17 04:31] danielkza opened #488 "Make fade-in/out animation of Quake mode optional"
It would be really nice if I could disable the Quake animations, as I find them a bit annoying and they slow me down from getting quickly to a terminal then closing it.

[2016-09-17 09:41] alexwhitman commented on #488
The fade in/out of the whole window is controlled by you desktop environment.  If you're running Ubuntu/Unity you can install `compizconfig-settings-manager` and use the Animations settings to stop the animations for Terminix.

To do this, add `!(class=Terminix) & ` to the start of the the Window Match for the "Glide 2" Close Effect for both the Open Animation and Close Animation.
![selection_001]

[2016-09-17 09:50] alexwhitman commented on #454
Definitely looks better and I'm finding it works quite well when setting the default session name to `${title}`. :+1:

[2016-09-17 14:38] gnunn1 commented on #488
@danielkza Unfortunately I don't think there is anything I can do about this since as @alexwhitman points out it's really the window manager that manages this.

[2016-09-17 16:56] danielkza commented on #488
The WM does manage it, but it's possible to tell it to prefer not to:

[code]

[2016-09-17 17:32] gnunn1 commented on #488
Thanks for the tip, I'll test it out and add an option for it.

[2016-09-17 18:50] danielkza opened #489 "Create a Gitter/IRC/etc channel (suggestion)"
I think it would be nice to have a chat channel of some kind that could be used to talk about Terminix, either for questions or development, to avoid needing to create issues. I'm working on updating translations, and it would be much easier to be able to ask the feature creators about what each string should mean, specially if I cannot test the feature myself (e.g. the new triggers feature).

Man

[2016-09-17 18:57] gnunn1 commented on #489
I'd prefer IRC since I'm on IRC fairly regularly. On freenode my nick is gnunn though sometimes it changes to gnunn_ when I don't bother identifying with nickserv. On Gnome IRC channels I also go my gnunn.

If someone wants to start a #terminix channel I'm happy to add it to my IRC client.

[2016-09-17 19:03] danielkza commented on #489
I created #terminix @ Freenode an +op'd you.

[2016-09-17 19:09] gnunn1 commented on #489
Thanks, I've added it to my room list for freenode.

I'll add a note about this on the front page.

[2016-09-17 19:12] #488 closed

[2016-09-17 19:15] #489 closed

[2016-09-17 22:12] gnunn1 opened #490 "Create a Terminix website"
I'd like to get a simple one-page website for Terminix setup in order to be a little more pro-active with the marketing. The idea would be to simply host the website in a seperate repository in github so it could be worked on collaboratively. A good example of this is what Lollypop has done in this regard where the website (https://gnumdk.github.io/lollypop-web) is simply served from a repository

[2016-09-18 02:02] bil-elmoussaoui commented on #490
Would love to help! Worked on both lollypop & FeedReader website, if any designer could do the design part on photoshop or any other software and i can do the HTML/CSS part :+1:

[2016-09-18 02:12] gnunn1 commented on #490
Thanks @bil-elmoussaoui, that would be great! Hopefully we can attract some design help.

[2016-09-18 06:46] alexwhitman opened #491 "New install script doesn't work correctly on Ubuntu"
The new installer script added in #487 doesn't work correctly on Ubuntu.

Ubuntu uses `dash` for `sh`.  `dash` doesn't support `pushd` and `popd` so the script should either use a POSIX compatible method or use `bash` explicitly.

The script leaves a bunch of `.mo` files in the root of the repository directory which are marked as untracked by git.  They should either be cleaned up at the end of th

[2016-09-18 06:48] danielkza commented on #491
My bad for not testing properly on Ubuntu, I'll fix it up tomorrow.

Em dom, 18 de set de 2016 03:46, Alex Whitman <notifications@github.com>
escreveu:

[2016-09-18 14:17] danielkza commented on #491
@alexwhitman Can you please try e7f3f042b6b?

I noticed that Terminix won't run unless I have `libsecret-1-dev` installed, due to the executable linking to `libsecret-1.so` instead of the fully versioned library, but I don't believe this is caused by the installation script. Do you notice the same issue?

[2016-09-18 14:23] gnunn1 commented on #491
Btw libsecret should be an optional dependency, if terminix is not running without it being present open an issue for it and I'll have a look at it. Also if Ubuntu is using a different name then arch that would be good to fix as well.

[2016-09-18 14:28] danielkza commented on #491
This is what I get after compiling and installing (with the new script) in Ubuntu 16.04:

[code]

I just checked and Fedora does the same thing as Ubuntu: the devel package is the one that provides `libsecret-1.so`. The regular package only provides `libsecret-1.so.0` and `libsecret-1.so.0.0` , so it seems to me GtkD is doing the wrong thing.

[2016-09-18 14:31] gnunn1 commented on #491
This is me not GtkD since I created the wrapper API for it. It's referenced
in one of the files in source/secretc.

On 18 Sep 2016 10:28, "Daniel Miranda" <notifications@github.com> wrote:

[2016-09-18 14:31] danielkza commented on #491
Should be easier to fix then :smile:

[2016-09-18 16:02] #491 closed

[2016-09-18 19:22] gnunn1 commented on #491
I've fixed the issues with libsecret so hopefully all is good now, if not add an issue and I'll look at it further.

[2016-09-18 22:11] anassahmed commented on #471
I've switched to X11 with the latest code (1.3.0) and tested it again but I noticed that there's no app menu at all!

![screenshot from 2016-09-18 23-53-09](https://cloud.githubusercontent.com/assets/928614/18619464/d46265e8-7e05-11e6-8263-101135b6a275.png)

[2016-09-18 22:22] gnunn1 commented on #471
Yes, that's always been the intent as nothing in the application menu is very useful since the quake window is an always-on-top window. Opening things like Preferences and Shortcuts makes them appear under the quake'ed terminix window. I'm open to having a discussion about it though.

Unfortunately Wayland doesn't respect the taskbar and pager hints which is the only reason it shows up there.

[2016-09-18 23:08] anassahmed commented on #471
Oh, I didn't know that because I used it for the first time under Wayland. :smile:

I don't have issue with that really, but it was only an observation.

[2016-09-18 23:10] gnunn1 commented on #471
No worries, I'll freely admit I'm not a user of drop down terminals so the way features are presented may not be aligned with users expectations, hence why I'm happy to have a discussion about it.

Anyway, I'm going to close this issue since under Wayland it appears to be an upstream issue since I can reproduce it with three different applications (Terminix, Geary and Lollypop).

[2016-09-18 23:10] #471 closed

[2016-09-19 00:48] gnunn1 opened #494 "Quake mode window positioning under Wayland"
The window positioning for quake mode under Wayland seems to be broken at the moment though I could have sworn I had it working at one point. I need to review my past commits to see where I may have broken it, in particular the fixes I did for Ubuntu and quake mode positioning.

Also, reading more about this it's unclear that Wayland actually supports global positioning which is what quake mode re

[2016-09-19 06:17] 9il opened #495 "brew package"

[2016-09-19 06:52] ayoisaiah commented on #490
I'd like to work on this @gnunn1. I'm no designer but I can make pretty decent wireframes with Balsamiq. I'm also down for coding help if needed.

We can work on this together if you wish @bil-elmoussaoui.

[2016-09-19 07:43] xhorak opened #496 "Feature Request: Highlight all search results"
Make possible to highlight all occurrences of search term. See: https://ibin.co/2vabhkule3ks.png for demonstration.

The Konsole has it for ages and it's really useful at least for me.

[2016-09-19 08:03] alexwhitman commented on #491
The installer script now works (i.e. doesn't error) but the root menu item still says "Unknown Application Name".
![workspace 1_002](https://cloud.githubusercontent.com/assets/422013/18625656/e550c9a2-7e47-11e6-9562-102a950b7358.png)

[2016-09-19 09:34] alexwhitman opened #497 "Quake mode focus"
See http://sendvid.com/s4vcwvaw

In the video, first I'm clicking on the desktop and then hitting the hotkey to show Terminix in quake mode.  Terminix focuses without issue.  After closing Terminix by hitting the hotkey again I click in the Firefox window and again hit the hotkey.  This time the Terminix window isn't focused.

[2016-09-19 11:35] gnunn1 commented on #496
Unfortunately, this requires changes in the underlying GTK VTE widget to support this, see this upstream issue:

https://bugzilla.gnome.org/show_bug.cgi?id=627886

[2016-09-19 11:35] #496 closed

[2016-09-19 11:36] gnunn1 commented on #495
I'm assuming you mean the Homebrew thing for OSX? If so, there are no plans to support OSX with Terminix. I highly recommend iterm2 on OSX if you are looking for an alternative.

[2016-09-19 11:36] #495 closed

[2016-09-19 11:38] gnunn1 commented on #497
@alexwhitman I had that issue in Gnome Shell at one point and it seemed to get sorted out with some tweaks to the present/show/focus order of things. I'll have a look in more detail on Ubuntu in the next day or two.

[2016-09-19 13:59] danielkza commented on #491
That's weird, it doesn't do that for me on 16.04. The installer should be
placing the exact same files it was before. Do you have any error messages
in the session logs?

Em seg, 19 de set de 2016 05:03, Alex Whitman <notifications@github.com>
escreveu:

[2016-09-20 01:28] gnunn1 commented on #494
So apparently this worked previously when I tested it because I didn't have the width option available. I suspect that when the width of the window equals the screen width the Mutter/Wayland default positioning for the window is 0,0 which is why it appears to work. Once the width is less then 100% of the screen Mutter/Wayland positions the window itself and ignores my move request.

I've kludged f

[2016-09-20 06:21] freongrr commented on #454
I've started using it and I like it. However, clicking in the list of sessions does not seem to work (using the keys and return works).

[2016-09-20 09:46] alexwhitman commented on #454
@freongrr Thanks.  #499 is up to fix it.

[2016-09-20 22:08] gnunn1 commented on #453
OK finally got my VM sorted out and tested it, I cannot reproduce as I get all the window buttons (min, max, close) as expected. See picture:

![screenshot from 2016-09-20 18-05-25](https://cloud.githubusercontent.com/assets/9358238/18690657/37d439aa-7f5d-11e6-81c4-53a1f162cd17.png)

[2016-09-20 22:08] #453 closed

[2016-09-20 22:14] gnunn1 commented on #497
I can reproduce in my Ubuntu 16.10 VM but it seems strangely tied to firefox. If I click on a different window say Nautilus or gedit instead of firefox there is no issue.

[2016-09-20 22:37] #497 closed

[2016-09-20 22:40] gnunn1 commented on #497
I've created a fix for this based on some similar code I see in xfce4-terminal. @alexwhitman can you test this and let me know if it fixes the issue for you please.

If this fixes the issue, I'll drop a line asking the xfce guys for permission to re-license it under Mozilla instead of GPL.

[2016-09-20 22:41] gnunn1 commented on #454
I'm closing this as feature is present and working. I might still do some UI adjustments if I get a great idea between now and release but no sense holding this issue open any longer.

[2016-09-20 22:41] #454 closed

[2016-09-20 23:32] gnunn1 commented on #25
Just an FYI that I may have broken autotools, I needed to add a dependency in dub.json for an X11 library in order to see if it resolves a focus issue with quake mode on Ubuntu. If it does resolve the issue, I may need some help figuring out the best to handle this dependency while maintaining while ensuring terminix can still be built by packagers.

[2016-09-20 23:48] ximion commented on #25
@gnunn1 Try Meson ;-) It works quite well for D projects, with the only exception of not rebuilding dependencies properly sometimes, due to LDC/GDC/DMD not providing GCC-conformant depfiles or not providing depfiles at all or having broken depfile generation.

At least for me, using Meson would mean I could drop some (minor) hacks from the Debian packaging.

[2016-09-20 23:52] gnunn1 commented on #25
@ximion Thanks for the reminder, how does meson handle dependencies which need to be downloaded from the dub repository like this X11 library I'm trying out here?

[2016-09-21 00:07] ximion commented on #25
@gnunn1 Hah, that's a tricky thing - until someone writes a native dub interface, Meson will only handle this dependency properly if it also has a Meson build definition.
If that is the case, adding it is easy: https://github.com/mesonbuild/meson/wiki/Wrap-dependency-system-manual

If this is not the case, you can still use the library, but only with some hacks in Meson itself, making it call dub

[2016-09-21 00:09] gnunn1 commented on #25
@ximion Thanks, I'll check that out.

[2016-09-21 00:19] ximion commented on #25
@gnunn1 In general, pure D dependencies make a very sad story on distributions at time, due to the ABI incompatibilities between the different D compilers, no real standard to find D headers or D source code (in case the dependency is source-only) and dub not being suitable for use with the way Linux distros work at time.
Meson helps a bit here though, by eliminating the dub issues :P

[2016-09-21 04:13] Udara-U3 commented on #453
@gnunn1 Please update Ubuntu packages (Yakkety) including this fix 😄

[2016-09-21 05:17] lucascosti opened #500 "Feature Request: Confirmation when closing window with multiple terminals/sessions"
It's sometimes hard to remember that I have multiple sessions open in a window, and I often hit the close window button and lose all my sessions, when I should have closed the session instead.

Is it possible to get an option, so that when closing a window that contains multiple terminals or sessions, the user gets prompted for confirmation?

e.g. similar to a browser's "You are about to close X t

[2016-09-21 15:27] alexwhitman commented on #497
Seems to be working fine at the moment.

It does seem to have introduced an odd issue, but I'm not sure how as none of the related code was touched as far as I can tell.  If you uncheck the "Close window when last session is closed" option and then open a new Terminix window, hit Ctrl+D and see a new session is opened.  On my machine the caret is an outlined black box rather than a solid white box

[2016-09-21 18:51] gnunn1 commented on #494
So hopefully my fix of removing the width configuration is working since no one is complaining about this, closing issue.

[2016-09-21 18:51] #494 closed

[2016-09-21 18:53] gnunn1 commented on #500
Sure make sense, I probably won't have an obvious option for it, maybe a dialog that pops up by default when there is more then one session to remind you and has a "Do not show this to me again" checkbox to turn it off.

[2016-09-21 22:21] gnunn1 commented on #497
I can reproduce it, I tried one workaround of spawning the createSession later when idle in case it was related to being in the close event but still get the same behavior. One unrelated thing I noticed about this setting, when it's active shouldn't we allow the session close action to be enabled when there is only one session?

Getting back to the issue, I don't think it's related to the fix for

[2016-09-21 23:10] gnunn1 commented on #497
I see that focus issue has been reported in Ubuntu however it is reported as being fixed in 3.18:

https://bugs.launchpad.net/ubuntu/+source/gtk+3.0/+bug/890784

[2016-09-21 23:22] gnunn1 commented on #25
Looks like this fixes the bug so I'll need to include this library, I'll try to figure out a way to do it that is packaging friendly but not sure how likely that is. I'm not keen on spending a ton of time on sorting this out.

[2016-09-21 23:26] ximion commented on #25
Which library are we talking about exactly?

[2016-09-21 23:29] gnunn1 commented on #25
It is this one https://github.com/nomad-software/x11 which is a fork of https://github.com/D-Programming-Deimos/libX11. The original one can be built as a static lib whereas the fork is focused on dub.

Would a git submodule be an option for the fork, essentially allow it's code to be fetched as part of the clone and built with in-line with terminix?

[2016-09-22 03:48] lucascosti commented on #500
Sounds great, thanks! :)

[2016-09-22 08:14] alexwhitman commented on #497
I did a quick roll back to an earlier commit and the issue is still present so not related to this.  Maybe something changed in an Ubuntu update.

[2016-09-22 12:34] gnunn1 commented on #497
It happens on my Arch Linux as well so not just Ubuntu related. I've tried a few things to fix it but no luck so far. I may need to revert this feature if I can't resolve the issue.

[2016-09-22 13:36] khurshid-alam commented on #25
Just to let you people know that i386/armhf builds for `ldc` are failing in Yakkety.

ldc source: https://launchpad.net/ubuntu/+source/ldc/1:1.1.0git216c112-1ubuntu2
Build log: https://launchpadlibrarian.net/284680317/buildlog_ubuntu-yakkety-i386.ldc_1%3A1.1.0git216c112-1ubuntu2_BUILDING.txt.gz

So can't compile on yakkety.

[2016-09-22 14:34] gnunn1 commented on #25
@khurshid-alam That's building with the 32 bit compiler isn't it, generally I don't actively support 32 bit architectures. Having said that, if someone wants to submit PRs to fix 32 bit issues I'm happy to accept them as I have in the past.

[2016-09-22 14:40] ximion commented on #25
@gnunn1 Nah, that's looking like an LDC bug. Please help resolving https://github.com/ldc-developers/ldc/issues/1774 to get this working again.

[2016-09-22 15:27] alexwhitman commented on #497
I wouldn't see it as a reason to revert the change.  It's cosmetic more than anything and fixes itself when switching to another session and then back again.

[2016-09-22 15:51] gnunn1 commented on #497
Yeah that might be a bit extreme, I'm just trying to short circuit the inevitable bug reports from users. As well, I didn't realize this would only be useful when hitting ctrl-d, I thought the session close option would be active as well. Thus this option seems to cover a very narrow use case, is it worth keeping when it's not a 100%?

[2016-09-22 15:54] mjeanson opened #501 "Feature Request: Zoom terminal like maximize but with font scaling"
I've recently moved from terminator to terminix and this is the only feature I'm missing. In terminator it's called 'Zoom terminal' and is associated to ctrl+shift+z

Same behavior as 'Maximize terminal' ctrl+shift+x but scale up the font size to best match the row/column size of the initial terminal.

[2016-09-22 18:59] vaijab commented on #479
I cannot wait. :-)

[2016-09-22 20:16] ximion commented on #25
@gnunn1 As for the dependency-issue: Embedding is normally frowned upon at Debian, but it would be okay in this case, I think - especially since you will be the only project using this piece of code.
A submodule will be pain for you though, since Git doesn't include submodules in automatically generated release tarballs, you would need to manually make one.
Maybe just adding the files / importing

[2016-09-22 21:59] gnunn1 commented on #25
@ximion I'm trying out embedding, it works fine and I only need two files from that repository but it's not sustainable. I really need a longer term way to use arbitrarily use DUB libraries as needed.

I'd be interested in seeing the Meson approach if you are willing to do it and it's easy to do, I'm really out of my depth here in terms of C build tools as I'm a Java guy in my day job.

@dsboger D

[2016-09-23 00:21] gnunn1 commented on #501
Note you can do this in Terminix but it is more laborious by maximizing the terminal and then zooming in to the desired size. I don't have any plans to work on this myself, but if someone wants to submit a PR I'd consider it. One caveat, it has to be clearly differentiated from the existing zoom in/out functionality in terms of terminology.

[2016-09-23 13:19] alexwhitman opened #502 "Segfault when closing last session in sidebar"
From some discussion in #497 it looked like when the "Close window when last session is closed" is unset (i.e. always keep at least one session), it didn't work when closing the last session from the sidebar.

I've done some debugging on this and closing the last terminal in a session and closing the last session from the sidebar do both end up in `removeSession` in `appwindow.d`.  The reason the

[2016-09-23 14:49] gnunn1 commented on #502
Thanks, I'll have a look tonight.

[2016-09-23 23:52] #502 closed

[2016-09-23 23:55] gnunn1 commented on #502
OK this should be fixed now, problem is some of the code in appwindow.d doesn't check that there is a session since without this option there was always at least one. Added a couple of null checks and it seems to work fine.

BTW, if you are not using gdb works really well for D code code and is great for finding these things. Just go ```gdb ./terminix``` and type ```run``` in the gdb console and t

[2016-09-24 00:33] gnunn1 commented on #25
I've embedded the two X11 files I'm using from that package instead of using the dub dependencies for now. @dsboger could you update the autotools to include x11 as a library dependency, I'm struggling to get  it working.

[2016-09-24 02:34] dsboger commented on #25
@gnunn1 I'm working on it now. I'll post a PR as soon as I can make it build.

[2016-09-24 10:40] deriherdianto commented on #490
Count me too

[2016-09-26 22:17] gnunn1 opened #506 "Scrollbars in yakkety yak have transparent bar"
See screenshot below, looks like something changed in Ubuntu theme.

![screenshot from 2016-09-26 18-15-25](https://cloud.githubusercontent.com/assets/9358238/18853868/7a4d5494-8415-11e6-800b-cd8b45552873.png)

[2016-09-27 00:23] gnunn1 commented on #506
I've made an improvement so it looks better now. However there is something weird going on with the window background on the left and right edges where a solid strip of about 5-10 pixels is being drawn for some unknown reason. Because of this, the scrollbar when at the right edge of the window doesn't quite color match the terminal. If you split the terminal vertically, you can see the scrollbar i

[2016-09-27 00:45] gnunn1 commented on #506
Here's a screenshot with the top-level overlay hidden that shows the problem:

![screenshot from 2016-09-26 20-28-38](https://cloud.githubusercontent.com/assets/9358238/18856595/1d0d4d9c-842a-11e6-86d2-ca016f9ae0de.png)

[2016-09-27 12:35] egmontkob opened #507 "Cannot compile on Yakkety beta"
$ cat /etc/apt/sources.list.d/d-apt.list
    deb http://netcologne.dl.sourceforge.net/project/d-apt/ d-apt main
    $ sudo apt update
    [...]
    All packages are up to date.

Clean checkout at current master (3fead8c).

    $ dub build
    Performing "debug" build using dmd for x86_64.
    gtk-d:gtkd 3.3.1: target for configuration "library" is up to date.
    gtk-d:gstreamer 3.3.1: target for

[2016-09-27 13:04] gnunn1 commented on #507
I think this is related to compiling with PIE as there was an Ubuntu 16.10 bug open for this (https://github.com/ldc-developers/ldc/issues/1618). It's also been [fixed](https://github.com/ldc-developers/ldc/pull/1664) but I'm not sure if it's made it to yaketty/debian repos yet.

Does it work if add the fPIC flag, ```"dflags" : [ "-fPIC" ],``` at line 7 after the mainSourceFile line, i.e.:

[code]

[2016-09-27 19:54] egmontkob commented on #507
Nope, I get the same errors.

[2016-09-27 20:52] johannagnarsson opened #508 "dconf update crashes Terminix on CentOS 7.2.1511"
I apologize if this has been posted already but I could not find any report that matched it.

I'm running a fully updated CentOS 7.2 system as of 27 Sep 2016

if I change the system dconf configuration in /etc/dconf/db/site.d/ and run 'dconf update' while I have terminix running with at least 1 split (add down/right) terminix crashes.

Steps to reproduce:

1. create file /etc/dconf/db/site.d/01-te

[2016-09-27 22:22] #508 closed

[2016-09-27 22:22] gnunn1 commented on #508
Thanks, there were a couple of spots where I wasn't checking to make sure the GTK version was greater then 3.16 when using the wide handle option for Paned.

[2016-09-28 01:13] gnunn1 commented on #506
This is related to CSD, if I disable CSD then these ugly borders are not drawn. Looks like an upstream bug with Ambiance/Radiance, filed bug report here:

https://bugs.launchpad.net/ubuntu-themes/+bug/1628334

[2016-09-28 01:13] #506 closed

[2016-09-28 18:19] gabrielmagno opened #509 "Feature Request: Shortcut for showing/hiding terminal title"
Currently, it is possible to set the "Terminal Tittle Style" choosing between 3 options: "Normal", "Small" and "None". Particularly, I prefer the "None" option, since it gives me more screen area.

The problem is that, by hiding the terminal title bar, I cannot move and de-attach the terminals. Maybe there's another solution for allowing that, but I thought that providing a shortcut for showing/hi

[2016-09-29 00:10] gnunn1 commented on #507
I'm wondering if the problem is the opposite of getting dmd to use fPIC, I suspect that the d-apt packages need to be rebuilt with -fPIC for yakkety, specifically libphobos. Since dmd uses gcc to do the linking, wouldn't it pick up Ubuntu changing to use PIE automatically?

I also tried the proposed version of LDC in the Ubuntu repositories and it has the same problem.

Not sure there's much I can

[2016-09-29 07:29] egmontkob commented on #507
Could easily be that the repo is not yet Yakkety-friendly.

[2016-09-29 09:24] Vistaus opened #510 "Fatal Error from libphobos2"
I'm using the latest master version from Git on Arch Linux and I'm getting this error when trying to start Terminix:

[code]

I've read somewhere that I should use the Git version of libphobos2 so I installed that and re-compiled Terminix but the error's still there.

How to solve this?

[2016-09-29 10:29] gnunn1 commented on #510
Are you using the terminix-git package in Arch?

[2016-09-29 10:37] gnunn1 commented on #510
I see @dsboger was already looking at this here, looks like it could be worked around by including the flag
-disable-linker-strip-dead

https://github.com/ldc-developers/ldc/issues/1534

[2016-09-29 14:27] gnunn1 commented on #509
Note that in master and the forthcoming 1.30 version there is a new option that hides the titlebar if there is only one terminal in the session, would that be sufficient for your needs?

[2016-09-29 14:43] gabrielmagno commented on #509
Thanks for the fast reply and the kindness. Didn't know about that new feature, it will be great.

Maybe I'm being too boring and strict, but the problem is that in smaller screens, even 25 pixels could make a difference. Having the ability to show and hide the title bar when desired would be awesome (be it through a menu option or through a shortcut).

[2016-09-29 17:25] Vistaus commented on #510
I'm not using that package, I'm building it directly from Git after cloning the repo.

Regarding that flag: do you mean I need to include that while building ldc or Terminix?

[2016-09-29 17:28] gnunn1 commented on #510
When building terminix. Alternatively you could use dmd which is what I'm using and works fine however LDC should work, I'll have a look at it when I get home tonite.

[2016-09-29 18:14] gnunn1 commented on #510
Just to confirm, adding the line:

```"dflags": ["-disable-linker-strip-dead"],```

After the mainSourceFile fixes the problem for me with ldc.

[2016-09-29 18:14] #510 closed

[2016-09-29 18:16] dsboger commented on #510
You could aso have a look at how the package terminix-git does. Using the supplied PKGBUILD with makepkg it is the same as you are doing, except it is automatic. If you do the same commands, the results should be similar.

[2016-09-29 22:08] gnunn1 commented on #479
I'll be pushing out the new version tomorrow unless anyone has any show-stoppers to report?

[2016-09-30 08:59] Vistaus commented on #510
@gnunn1 Where is that mainSourceFile located?

@dsboger Thanks, that package does apply the dflag fix. But I'd much rather build it from Git myself.

[2016-09-30 12:12] gnunn1 commented on #510
@Vistaus It's in dub.json:

https://github.com/gnunn1/terminix/blob/master/dub.json#L6

[2016-09-30 18:07] gnunn1 commented on #479
Pushed out release.

[2016-09-30 18:07] #479 closed

[2016-09-30 18:07] dsboger commented on #353
Would it be possible to save and restore the full session, including the buffers and histories of every terminal? It would be nice to be able resume work exactly where I stopped. Just a random idea, though. Not sure it even makes sense.

[2016-09-30 18:11] gnunn1 commented on #353
@dsboger I'd love to be able to do it, but unfortunately I do not think this is at all possible. The VTE doesn't support any way to set the buffer, and the underlying shells all manage their histories differently with as far as I can tell no easy to set them in advance.

[2016-09-30 18:22] gnunn1 commented on #25
I've pushed 1.30 as a stable release.

[2016-09-30 18:32] ximion commented on #25
@Dicebot That would already be very helpful!

[2016-09-30 20:34] jpf91 commented on #507
The error message complains about symbols in phobos, so the solution is indeed to recompile phobos with `-fPIC` and therefore debian packages wont work out of the box. Additionally it's probably also necessary to compile gtkD and all other D dependencies with -fPIC. (This is indeed caused by DMD using GCC for linking which will generate pie executables. For these executables, all static libraries

[2016-09-30 23:26] gnunn1 commented on #507
Thanks @jpf91, I'm going to close this issue as it's outside the scope of Terminix.

[2016-09-30 23:26] #507 closed

[2016-10-02 01:29] gnunn1 commented on #473
I've checked in an initial attempt at this, please test it out and let me know how it goes.

You can test it by getting the nautilus extension here https://github.com/gnunn1/terminix/blob/master/data/nautilus/open-terminix.py and replacing the version in /usr/share/nautilus-python/extensions/

[2016-10-02 09:35] blonchkman commented on #467
Hello,
FYI: using terminix 1.2.0-1 webupd8 package on xenial, the  vte warning shows only when launching terminix with session option `-s´. It doesn't show by launching terminix without `-s´ option.
Kind regards

[2016-10-02 12:24] gnunn1 commented on #467
@blonchkman I think this has been fixed in 1.3.0 which I released on Friday. Please test that and if it is still a problem open a new issue for it.

[2016-10-02 16:08] Salamandar opened #512 "Crash on insert password"
Just installed Terminix 1.3.0 on Archlinux !
I configured the insert passwd shortcut, but when doing the shortcut I get (GDB backtrace) :
[code]

[2016-10-02 16:38] gnunn1 commented on #512
Unfortunately I'm not able to reproduce, are you using GTK 3.20?

[2016-10-02 18:39] #509 closed

[2016-10-02 19:03] #500 closed

[2016-10-03 15:31] Gert-dev commented on #473
I had a chance to test this today. Thanks for adding this, it works mostly as expected; two minor things I noticed:
* When you right-click inside the empty part of a directory, the option doesn't show up. Only `Open Terminix here` shows up. It does show up when you right-click a folder or file, however.
* When you right-click a file or folder and open a remote Terminix instance, the instance start

[2016-10-03 15:51] gnunn1 commented on #473
Thanks for testing this. I can reproduce the first point and will look into it, however for the second one this is working fine for me. You can see the code I'm using for this here (which was actually based on that  same stackoverflow article):

https://github.com/gnunn1/terminix/blob/master/data/nautilus/open-terminix.py#L43

Note it does require that you right click a folder in order to do this.

[2016-10-03 17:20] Salamandar commented on #512
Yes, Gtk+3.20.9.

[2016-10-03 17:33] gnunn1 commented on #512
Thanks, I have a suspicion. If I compile a special version for you would you be willing to test it out?

[2016-10-03 19:44] Gert-dev commented on #473
Thanks for your response. That it's working for you is very well possible; I'm using the fish shell (`/bin/fish`) as shell command in my Terminix profile, which may be interfering with it somehow. I had similar problems getting it to work with gnome-terminal's "Open terminal here" functionality but got it to work somehow (though I can't for the life of me remember how).

[2016-10-03 21:37] #473 closed

[2016-10-04 17:41] nean-and-i opened #513 "-e switch missing"
please implement -e switch to make terminix compatible to the rest of apps which usually triggers terminals with -e.

eg. in case using terminix as default terminal some apps like synapse stop working using ssh plugin:  because triggering ssh session use -e

[code]

[2016-10-04 17:43] gnunn1 commented on #513
It's in the 1.30 version that was just released:

[code]

[2016-10-04 17:43] #513 closed

[2016-10-05 07:17] arrufat opened #514 "Add support for environment variables (proxy)"
I've just noticed that terminix does not follow the proxy server I've set in gnome-control-center, but gnome-terminal does.
Would it be possible to add support for this?

Thank you for this awesome terminal!

[2016-10-05 11:58] gnunn1 commented on #514
I think this is is because the Terminix desktop file is using dbusactivatable, try setting it to false and let me know if that fixes the problem.

So edit /usr/share/applications/com.gexperts.Terminix.desktop and change the line:

[code]
to:
[code]

[2016-10-05 12:03] arrufat commented on #514
Thanks for the quick response, unfortunately, that did not work :(

[2016-10-05 12:04] gnunn1 commented on #514
You may need to restart gnome shell for it to take effect since the desktop files are cached.

[2016-10-05 12:05] arrufat commented on #514
Yes, I had already restarted the shell. Does it work for you?

[2016-10-05 12:10] gnunn1 commented on #514
I'm in the middle of something right now, I'll test in an hour or so. Thanks for trying it out though.

[2016-10-05 12:51] gnunn1 commented on #514
So I had a look and setting the DbusActivatable to false as no effect.

Looks like gnome-terminal has code that sets these environment variables explicitly, I'll need to do something similar:

https://github.com/GNOME/gnome-terminal/blob/bd9cb2797d15c8f19f2f24db90ec0d7d8c8ac03c/src/terminal-util.c#L648

[2016-10-05 12:53] arrufat commented on #514
Ok, I'll add the http_proxy variables to my .bashrc as a workaround. Thanks for the detailed response :)

[2016-10-05 21:58] egmontkob commented on #514
Haha, g-t received the opposite request once: https://bugzilla.gnome.org/show_bug.cgi?id=747800

[2016-10-06 01:08] gnunn1 commented on #514
@egmontkob damned if you do, damned if you don't :)

[2016-10-06 10:44] nean-and-i opened #515 "scrollbar issue, if sidebar is on right side"
the scrollbar is not moveable via mouse, if sidebar is on the right side.
I'm able to scroll eg. via scroll wheel,  but I'm not able to grab scrollbar with mouse.
If sidebar is on left side (default) issue is gone.

terminix 1.3.0 (but packagename is still 1.2?)

installed from:
ppa:terminix/daily

that requires for some reason:
ppa:webupd8team/terminix

[2016-10-06 11:10] gnunn1 commented on #515
Which Ubuntu version are you using 16.04 or 16.10? I had to adjust the scrollbar CSS in 16.10 to make it look right and it's possible I broke this.

[2016-10-06 11:22] nean-and-i commented on #515
I'm using Ubuntu Gnome 16.04 LTS.

[2016-10-06 19:53] axg-vivo opened #516 "Add profile switching option based on time of day"
Please add the functionality to have automatic profile switching triggered based on the specific time of day that it is. I don't know the mass demand of this feature, but it would be immensely useful at least for me with my global configuration.

[2016-10-07 19:35] #514 closed

[2016-10-07 19:39] arrufat commented on #514
Thanks you so much!

[2016-10-07 20:00] gnunn1 commented on #515
I can reproduce, interestingly once I open and close the sidebar at least once it works fine for me thereafter.

[2016-10-07 20:27] gnunn1 commented on #515
This works fine in 16.10, O'm thinking this is a bug in Ubuntu and their theme, as a result closing and marking as won't fix.

[2016-10-09 00:32] gnunn1 commented on #299
I made some good progress on this tonite. I patched the VTE to add a new property to disable the background draw rather then an event. After thinking about it a bit more, I realized that all that was needed was to tell VTE not to paint the background, the application can then handle drawing the background in the normal draw signal. This eliminates the complexity of introducing a new signal which i

[2016-10-09 02:47] gnunn1 commented on #411
Note I've taken care of the background-signal, see /experimental/vte folder and issue #299.

[2016-10-09 10:51] blonchkman commented on #467
@gnunn1

Yes, the behavior mentioned disappeared with the new version.

It's a fantastic work!!
Thank you very much for this essential tool.

Kind regards

2016-10-02 14:24 GMT+02:00 Gerald Nunn <notifications@github.com>:

[2016-10-10 09:38] Vistaus opened #517 "libphobos error"
Since the latest commits, libphobos starts to throw an error and prevents Terminix from running:

[code]

I'm running Arch Linux.

How to solve this?

[2016-10-10 09:40] Vistaus commented on #517
Oh wait, I already opened this issue. I totally forgot about that. I'm very, very sorry :-(

[2016-10-10 09:40] #517 closed

[2016-10-10 11:18] ayoisaiah commented on #490
@gnunn1 I see nothing much has happened here. I have created a wireframe for how the website could be laid out. You can view it here https://www.dropbox.com/s/ug4n470ehml1193/terminix.pdf?dl=0

I suggest you create the repo right away so myself and others can start contributing our ideas and code to the project.

[2016-10-10 14:42] alexwhitman opened #518 "Focusing Quake window can also bring other windows to front"
Sometimes, but not always, opening a Quake mode window also brings other Terminix windows to the front, above any other windows (Chrome/Firefox/Sublime Text etc).

Currently running the latest master branch on Ubuntu 16.04.  This could have been happening for a while but I've not noticed due to usually having a single Terminix window on a dedicated monitor with no other applications.

Unfortunatel

[2016-10-10 18:24] gnunn1 commented on #518
I haven't noticed this myself in Gnome Shell but I'll freely admit I'm not a big user of quake mode myself.  I'd love to hear if others are having this issue to know if it's confined to Ubuntu/Unity or is something that occurs in other environments as well.

I'll review my code later this week to see if I can notice anything.

[2016-10-11 09:57] lucazade opened #519 "scrolling not working"
I'm using terminix 1.3.0 in Manjaro 16.08 with Plasma 5.7.0,
sometimes the mouse scrolling is not working, it comes back working
switching the focus to another window then back to termininx.

[2016-10-11 12:35] gnunn1 commented on #519
I don't officially support Plasma since I would expect most folks to use a Qt based console on KDE like konsole. Having said that, what GTK theme are you using with Plasma? Also, any chance you have gnome-terminal installed and could see if you could reproduce with that.

[2016-10-11 16:01] sdouche commented on #439
Hi,
I've the same issue on Ubuntu 16.04. The `Paste anyway` doesn't work and clean the buffer. I need to do the same action twice to paste my commamd.
![selection_099](https://cloud.githubusercontent.com/assets/170176/19278213/bce24f94-8fdc-11e6-91ca-fcc8af60e047.png)

[2016-10-11 16:04] alexwhitman commented on #518
I've found a way to consistently reproduce.  Simply opening a new window (I've tried with nautlius and gedit) and positioning it over existing terminal windows, then opening the Quake mode window exposes the issue.  Video for example: http://sendvid.com/ela6ak1n

[2016-10-11 17:02] bagage opened #520 "Search bar does not support Paste command (under Wayland?)"
Using debian unstable, gnome-shell 3.22 and terminix master 1.3.0 (but also released version 1.2.0), I cannot paste anything in the search bar:

1. Open search bar with `<Ctrl>+F`
2. Paste clipboard content with `<Ctrl>+V`
3. Instead of being pasted in search bar, the content is pasted on the prompt.

However using right click menu copy/paste, it works as expected.

[2016-10-12 22:01] gnunn1 commented on #520
So Arch Linux just upgraded to 3.22.1 and I cannot reproduce this. Can you try on 322.1 and see if it is fixed for you?

[2016-10-13 00:00] gnunn1 commented on #518
So I've tried on my 16.04 VM and still cannot reproduce the issue locally unfortunately.

[2016-10-13 07:58] alexwhitman commented on #518
After further testing, it only happens when the "Set hint for window manager to disable animation" setting is enabled.  If I disable that then windows no longer get moved to the front.

I don't particularly use that setting (must have left it enabled after testing it) so from my perspective I no longer have the issue.  Feel free to close unless you want to investigate it further.

[2016-10-13 09:18] bagage commented on #520
OK, actually found the reason. I remapped paste to `Ctrl+V` instead of `Ctrl+Shift+V` but it seems that somehow my shortcut is getting overridden by someone else, pasting to the terminal instead of the search bar.
That's actually not specific to Wayland as it also happens on X11.

[2016-10-13 11:32] hotice opened #522 "Fails to build in Ubuntu 16.04 on 32bit"
I maintain an Ubuntu 16.04 / Linux Mint 18 PPA for Terminix and the latest 1.3.0 version fails to build on 32bit. It does build on 64bit though. Here's the error:
[code]
The complete log: https://launchpadlibrarian.net/289404610/buildlog_ubuntu-xenial-i386.terminix_1.3.0-1~webupd8~xenial2_BUILDING.txt.gz and my test PPA: https://launchpad.net/~nilarimogard/+archive/ubuntu/test4/+packages

[2016-10-13 12:21] gnunn1 commented on #522
Thanks, while I don't support 32 bit it's not my intention to break it either. I'll have a look at it tonight and fix the issues.

Also, are you building the stable130 branch or master?

[2016-10-13 12:49] hotice commented on #522
Stable (latest release from the downloads page).

[2016-10-13 13:59] nean-and-i commented on #515
Hi,
I've tested this with various gtk themes on Ubuntu Gnome 16.04 LTS such as like ARC, Numix and default Adwaita.
The issue is present on all themes.

also I get following message in stdout whe trying to move the scrollbar:

2016-10-13T15:56:15.689:sidebar.d:onButtonPress:83 ** Sidebar button press
2016-10-13T15:56:16.903:sidebar.d:onButtonPress:83 ** Sidebar button press

Can you debug and prov

[2016-10-13 14:13] nean-and-i opened #523 "disable debug messages stdout"
Is it possible to disable debug messages per default?
its filling up my /var/log/syslog

[code]

[2016-10-13 14:36] alexwhitman commented on #523
The messages shouldn't be there in a release build.  How did you install?  If you're building from source use `dub build --build=release` to generate a release build.

[2016-10-13 14:57] nean-and-i commented on #523
i'm using Terminix PPA
deb http://ppa.launchpad.net/terminix/daily/ubuntu xenial main

dependencies comming from webupd8team Terminix PPA:
deb http://ppa.launchpad.net/webupd8team/terminix/ubuntu xenial main

would be nice if everything is coming from one terminix ppa.

[2016-10-13 15:26] gnunn1 commented on #523
@alexwhitman I wonder if we should change things to having the logging off by default and only enable it with a debug switch? This would probably be more consistent with how builds for other projects work.

Just looking for a second opinion.

[2016-10-13 15:32] alexwhitman commented on #523
@gnunn1 Sounds good to me.

[2016-10-13 22:35] #522 closed

[2016-10-13 22:50] #523 closed

[2016-10-13 22:50] gnunn1 commented on #523
Changed the default, to compile with trace use:

[code]

[2016-10-13 22:51] gnunn1 commented on #522
Fixed this in master, I'll need to create a new stable version branch this weekend.

[2016-10-13 23:00] #520 closed

[2016-10-13 23:22] gnunn1 commented on #518
So this only seems to happen when you create the quake window for the first time. If you edit, place the other window on top of the terminals again, and re-activate the quake window  things work as expected.

I also can not duplicate this in gnome-shell or ubuntu 16.10 so I think I'm just going to chalk it up as a quirk.

[2016-10-13 23:22] #518 closed

[2016-10-13 23:37] gnunn1 commented on #490
I've created a repo here:

https://github.com/gnunn1/terminix-web

I've never worked with github pages before so if I've done something wrong just let me know.

[2016-10-13 23:44] ayoisaiah commented on #490
Looks good @gnunn1 I'll complete the setup and send a pull request before the end of today (Friday)

[2016-10-13 23:44] gnunn1 commented on #515
Actually I can't reproduce this anymore on the Master branch, it works as expected now on 16.04.

I see you were compiling terminix, can you try building from master and see if you still have this problem.

[2016-10-13 23:45] gnunn1 commented on #512
No response from OP, I've modified the code to address this. Is there anyone with this issue that is willing to try a test build, if not I'm going to close this.

[2016-10-13 23:46] gnunn1 commented on #519
@lucazade Any update on this with regards to my questions?

[2016-10-14 07:41] nean-and-i commented on #515
Alright, I've downloaded terminix from https://github.com/gnunn1/terminix/releases/tag/1.3.0 and replaced the binary from the current PPA installation with your version from the zip.

so, I'm using now your original binary and can confirm that it is working as expected, no scrollbar issue anymore!

It seems that the PPA maintainer of ppa:terminix/daily and ppa:webupd8team/terminix use a different

[2016-10-14 07:41] #515 closed

[2016-10-14 08:06] Salamandar commented on #512
Thats strange, I responded that I could test it but thats not been saved by github. So yes, I can test it.

[2016-10-14 12:50] bagage commented on #520
Thanks a lot @gnunn1, you rock!

[2016-10-14 17:12] hotice commented on #522
It works, thank you!

[2016-10-15 08:56] marksev1 opened #524 "Question regarding width of terminix in quake mode"
Hello,

awesome terminal app, thanks for it!

Is it possible to change the width in the quake mode, I wouldn't like it to be covering the whole width of the screen.

Thanks!

[2016-10-15 09:07] repsac-by commented on #524
At the moment only in X11, but not in wayland

[2016-10-15 10:58] marksev1 commented on #524
I'm ok with that, but how do i do it?

[2016-10-15 12:06] gnunn1 commented on #524
Just to elaborate, changing the width in Wayland isn't possible because once the width isn't 100% it refuses to allow the window to be positioned at the top of the screen.

If you absolutely want to change the width, login using an x11 session. You can do that by clicking the gear icon on the login screen where you enter your password and select 'Gnome on X11'.

[2016-10-15 12:06] #524 closed

[2016-10-15 14:03] marksev1 commented on #524
I am running X11, I am not running Wayland. So how do i do it via the user interface what do i need to press? :)

[2016-10-15 14:06] gnunn1 commented on #524
It's in the Preferences dialog (which is accessed via the Gnome app menu) under the Quake tab.

[2016-10-15 15:08] ximion commented on #25
@debian derivatives: LDC is now fully working in Debian (testing/unstable), so you can grab version `1:1.1.0+b3-1` or any later version (check https://tracker.debian.org/pkg/ldc ) and build Terminix with it. The packages in Debian are a bit out of date at time though.

[2016-10-15 18:07] gnunn1 commented on #299
This has been completed, note that it requires the vte patch /experimental/vte/disable-bg-draw.patch to be applied to work.

@egmontkob if you have time, feel free to test and let me know how it goes. The patch has been tested against both 0.44 and 0.46 versions of the VTE. I'll add the patch to

[2016-10-15 18:07] #299 closed

[2016-10-15 18:10] gnunn1 commented on #519
No response from OP, closing.

[2016-10-15 18:10] #519 closed

[2016-10-15 18:23] #512 closed

[2016-10-15 18:23] gnunn1 commented on #512
I was able to reproduce it in a VM, should be fixed now.

[2016-10-15 18:28] gnunn1 commented on #299
Also, here's an updated screenshot with the badge using the ```${title}``` variable:

![screenshot from 2016-10-15 14-27-24](https://cloud.githubusercontent.com/assets/9358238/19412414/ac161a6a-92e3-11e6-9436-137de49b1740.png)

[2016-10-15 19:29] marksev1 commented on #524
Ah I see, very nice :). Thanks!

[2016-10-16 08:33] bagage opened #525 "When opening a new adjacent terminal, focus is not always given to it"
When opening a new terminal with `ctrl+alt+d` or `ctrl+alt+r`, the mouse focus is given to the newly created terminal.

However, when the *current* terminal is firing some output (eg. executing `make`, or `aptitude update`) the focus *may* be left in the current terminal. The more output, the more the bug has chance to happen.
It seems that's not the only way to reproduce the issue (I run into it

[2016-10-16 13:20] gnunn1 commented on #525
I just tried it while building gtk+ and the new terminal always got the focus for me. I'm running Arch Linux with Wayland and gnome 3.22.1 as well so pretty similar stack. Now gtk+ chugs a bit when building so it isn't exactly flying up the screen, I'll play around some more and see if I can find a reproducer.

[2016-10-16 15:11] gnunn1 commented on #351
I've had a look at this in mire detail, it's definitely something the VTE would have to expose since it handles the input method itself internally. I've opened an issue for this against VTE:

https://bugzilla.gnome.org/show_bug.cgi?id=773034

[2016-10-17 04:12] bvqbao opened #526 ""Open Terminix Here..." on the desktop causes terminix to crash"
Hello,

I'm using Ubuntu 16.04 64-bit, Terminix 1.3.0. When I right-click on the desktop screen and select "Open Terminix Here...", terminix crashes!

The syslog shows the following messages:

[code]

However, when I go to desktop directory (~/Desktop) using "Files" program, "Open Terminix Here..." works as expected.

Thanks.
Bao Bui

[2016-10-17 11:25] Salamandar commented on #512
Fix confirmed in the last Git rev :) Thanks !

[2016-10-17 13:40] #526 closed

[2016-10-17 16:13] bestouff opened #527 "Easy way to save/load JSON color theme"
I found no way to easily save or load a color theme. The proposed themes are to be installed manually in `/usr/share` ... not that good.
I would prefer if there was a way to load and save a JSON file for the color theme.

[2016-10-17 16:34] gnunn1 commented on #527
Note that themes are also loaded from ```~/.config/terminix/schemes```.

[2016-10-17 18:57] iax7 opened #528 "STDOUT eye candy"
Not sure if this is actually possible to achieve, but here it goes:

Currently when using my pc I have a wonderful program that analyzes the command stdout and colorizes it using regex. ([grc](https://github.com/garabik/grc)) The result is something like this:
![image](https://cloud.githubusercontent.com/assets/6983510/19450891/d611e4dc-9470-11e6-8bf1-eaf9070d775b.png)

The problem is when I'm con

[2016-10-17 19:17] iax7 opened #529 "Custom Scripts"
When having lots of customization scripts, aliases and common tasks, a feature to assign a **script** to a keyboard shortcut or event (like using ssh) to be executed through the stdin in the remote machine (pretty much like a paste) would be excellent when using a lot of remote hosts.

[2016-10-17 19:24] lpinner opened #530 "[Enhancement] Add option to hide on lost focus"
The new quake mode is great, thanks.  Would you consider enhancing and adding a preference to hide the quake mode Terminix window when it loses focus (ala guake and qterminal)?

[2016-10-17 19:59] gnunn1 commented on #528
I don't see any way to do this, sorry.

[2016-10-17 19:59] #528 closed

[2016-10-17 20:00] gnunn1 commented on #529
Isn't this essentially the same as #88?

[2016-10-17 20:11] iax7 commented on #529
Yes, I think it is.
![image](https://cloud.githubusercontent.com/assets/6983510/19453642/bd189af6-947b-11e6-8156-e6c973f464f4.png)

I'm closing it.

[2016-10-17 20:11] #529 closed

[2016-10-17 20:16] gnunn1 commented on #530
I had a look at this, the issue is when you open a dialog or other window like Preferences the quake loses focus and disappears which is probably not desirable. It would need to be tweaked when the focus is switching to other terminix windows and not hide in those cases.

[2016-10-17 20:21] iax7 opened #531 "Assign keyboard shortcut to accept popup dialog"
When pasting from clipboard or inserting a password I need to grab my mouse and click in the default button.
![image](https://cloud.githubusercontent.com/assets/6983510/19453978/11f3ddb4-947d-11e6-9d1f-1d23e57ad183.png)
or
![image](https://cloud.githubusercontent.com/assets/6983510/19454029/41085ef4-947d-11e6-8d19-6f7e934d28f3.png)

a CTRL + ENTER would be fine to accept after a quick change/selec

[2016-10-17 22:36] #351 closed

[2016-10-18 00:34] #531 closed

[2016-10-18 00:35] gnunn1 commented on #531
Modified the dialog so that if the textview has focus you can use ctrl-enter to accept the default for the dialog.

[2016-10-18 07:48] bestouff commented on #527
OK fine, but:
- this is totally not discoverable (how could I guess, the `~/.config/terminix/` directory doesn't even exist)
- there's still no way to export a nice hand-made color theme to another machine

[2016-10-18 15:01] tagplus5 opened #532 "terminix --quake windows height"
How can i change window default height in quake mode?

[2016-10-18 15:04] gnunn1 commented on #532
Open a normal Terminix window and use the preferences dialog.

[2016-10-18 15:04] #532 closed

[2016-10-18 16:14] tagplus5 commented on #532
I set 40 rows but i get this
![screenshot from 2016-10-18 19-10-24](https://cloud.githubusercontent.com/assets/2699260/19486404/ee4938ba-9566-11e6-95bb-215b06db27ad.png)
Normal window show 40 rows normally
![screenshot from 2016-10-18 19-05-21](https://cloud.githubusercontent.com/assets/2699260/19486431/07996d30-9567-11e6-954a-3ca9f146423a.png)

[2016-10-18 16:17] gnunn1 commented on #532
That's the Profile dialog, use the Preferences dialog adn adjust the height in the quake tab.

![screenshot from 2016-10-18 12-16-50](https://cloud.githubusercontent.com/assets/9358238/19486536/ca5f6c2e-952c-11e6-8b43-871ea5c9ed3b.png)

[2016-10-18 16:22] tagplus5 commented on #532
Thanks. Its about Unity. I see app menu only for maximize windows when i set "Show menus for a window" "In the window's title bar"

[2016-10-18 18:51] arcticicestudio commented on #527
This is a default path based on the [XDG Base Directory Specification](https://specifications.freedesktop.org/basedir-spec/basedir-spec-0.6.html).
Anyway, for the second point there should be an *Export* button in the *Colors* and a field to set the theme description.
Maybe you can go ahead and try to do a PR for it.

[2016-10-18 21:41] egmontkob commented on #530
See also https://bugs.launchpad.net/gnome-settings-daemon/+bug/1244090.

[2016-10-18 22:43] protist opened #533 "Configuration issue detected, even after fix"
I got the "Configuration issue detected" popup, then followed the [instructions](https://github.com/gnunn1/terminix/wiki/VTE-Configuration-Issue), adding the following lines to the end of `~/.zshrc`.
[code]
I then restarted, but still saw the same popup. I tested more:

* I made sure `/etc/profile.d/vte.sh` was being sourced, by editing in a logging step, which showed it was running fine.
* I test

[2016-10-18 23:55] lpinner commented on #530
Guake also gets hidden when its preferences dialog is opened. It's never been an issue for me personally.   Nor has the GSD/USD global shortcut key focus issue caused me any problems with Guake (because when I'm using a global shortcut I'm doing something else so I want Guake hidden).

If you think that's too much of an issue, even as a non-default preference, no problem, I'm sure I can cope :).

[2016-10-19 00:05] egmontkob commented on #299
I'm blocked by #507 (in addition to lack of time :P)

[2016-10-19 01:03] protist commented on #268
FWIW this is the major issue keeping me from switching from terminator to terminix. From my perspective, I think the *thumbnails* don't convey enough information. I'd much prefer tab/window titles. Further, in terminator, you can easily rename these by double-clicking on them.

[2016-10-19 01:52] gnunn1 commented on #530
No worries, I will have a look at this but I really want at least dialog parented to the window to work at a minimum. I think it's doable anyway.

[2016-10-19 01:58] gnunn1 commented on #268
I understand your view and I know the sidebar isn't for everyone but my opinion hasn't changed, sorry.

[2016-10-19 02:06] protist commented on #268
Fair enough. I understand. Thank you for the reply.

[2016-10-19 07:29] bestouff commented on #527
The problem with XDG dirs is that you don't know their name before they exist. Case in point, do an `ls ~/.config` and watch the variety of case, spaces or caret, etc. So you can't guess if it's `~/.config/terminix` or `~/.config/Terminix`.
As for the PR, sorry I won't learn D just for that. Otherwise of course I would.

[2016-10-19 10:06] arcticicestudio commented on #527
Well, the naming is indedd a problem I noticed with JetBrain products e.g. `~/.local/share/JetBrains`.
This is definitely a improveable point in the spec.
For this project there should be a note in the README for paths the application checks.
Even better: A man page which includes a *Files* section

[2016-10-19 12:48] alexwhitman commented on #530
So the way guake does it is by having variables recording whether dialogs/windows are being shown: https://github.com/Guake/guake/blob/master/src/guake/guake_app.py#L619

Possibly not as straight forward to do here as dialogs/menus etc are split across appwindow.d and application.d but doable.

[2016-10-19 14:41] zatan opened #534 "Issue with loading the session on startup"
Terminix version `1.3.0`

I am running this command to load the session below `/usr/bin/terminix --geometry=890x970+1600+20 --maximize -s /var/default.json` it opens with 3 splits instead of 4.
[code]

[2016-10-19 20:01] gnunn1 commented on #534
I always get four terminals in a grid when I use your command line parameters against the version in master?

[2016-10-20 09:17] zatan commented on #534
I though it's related to the new `1.3.0` after last night upgrade but seems working fine today as expected, thanks.

[2016-10-20 09:17] #534 closed

[2016-10-20 14:31] edubxb opened #535 "In quake mode, show terminix in the focused monitor"
Could be nice to have an option to show terminix in quake mode in the focused monitor.

[2016-10-20 21:46] gnunn1 commented on #533
So I tried your block above and it is working fine for me in master on Arch, however I'm using vte 0.44 since I have vte3-notifications installed rather then the basic vte. That's the only difference I see other then I'm on master.

You could try downgrading to vte 0.44 and using the terminix-git package instead of terminix to see if either makes a difference.

[2016-10-20 22:58] gnunn1 commented on #535
Feature added and made it so that the window will not hide when a dialog is shown like Advanced Paste or Layout.

[2016-10-20 22:59] gnunn1 commented on #535
Sorry, closed the wrong one, I haven't looked at this yet.

[2016-10-20 22:59] gnunn1 commented on #530
Feature added and made it so that the window will not hide when a dialog is shown like Advanced Paste or Layout.

[2016-10-20 22:59] #530 closed

[2016-10-21 00:37] protist commented on #533
To be honest, I'm not planning on using Terminix because of issue #268. However, I did briefly try to troubleshoot for you anyway. Unfortunately I can't install `terminix-git` because the dependency `gtkd` fails to build for me. Sorry! I'll just close this issue then, since you can't replicate. Cheers.

[2016-10-21 00:37] #533 closed

[2016-10-21 04:28] mifas opened #536 "In Quake mode, It's always on top."
Is there any way to make this as optional ?

[2016-10-21 06:48] phw commented on #536
Isn't that kind of the idea of quake mode, having a window that overlays the rest which I can quickly show with a keystroke?

[2016-10-21 08:02] mifas commented on #536
Of course, But it would be nice, If we have that as optional. Tilda and Guake has this functionally.

[2016-10-21 15:54] gnunn1 commented on #535
This isn't feasible in Wayland and I'm not sure this is feasible in X11, do any other applications have this functionality (Guake, Tilda, etc)?

[2016-10-21 20:11] leoheck opened #537 "Minor bug :)"
Profile name with ``_`` (undeline characters) does not show them in the list to select profiles.

[2016-10-21 23:52] edubxb commented on #535
I've no idea if other apps has this functionality, sorry.

[2016-10-22 05:56] DebianUser2003 commented on #536
I'd like to have this option, too. When in quake mode and you switch to another window (Alt-Tab or in Overview), now you get back to the quake window. Optionally hide it, when it loses focus.

[2016-10-22 14:37] gnunn1 commented on #536
I played with this, unfortunately there appears to be a number of problems with it. The first is if you select an application that occupies the whole screen and covers the quake window, there is no way to get it back in gnome-shell. This is because gnome-shell doesn't display the quake window in it's overlay since it isn't decorated and doesn't have a titlebar. To gett he window back, you have to

[2016-10-22 14:37] #536 closed

[2016-10-22 15:22] #537 closed

[2016-10-22 20:20] blonchkman opened #538 "App menu unavailable on ubuntu-mate desktop"
Hello,

there is apparently no terminix app menu available on ubuntu-mate 16.04 using mate-desktop 1.14.1-1~xenial1.01. Sure, i can live with this ;)

Might someone be nice enough to confirm ?

Kindest regards

[2016-10-22 20:36] gnunn1 commented on #538
Geary has been doing some work on this lately, might be able to apply the same workaround once they get it fully sorted.

https://bugzilla.gnome.org/show_bug.cgi?id=770617

[2016-10-22 23:30] #527 closed

[2016-10-22 23:32] gnunn1 commented on #527
I've added a new Export button to the color page that allows you to save a custom theme to a file, otherwise the button is disabled. The file dialog opens to the ```~/.config/terminix/schemes``` directory making it more discoverable.

Note that the filename is used as the theme name.

[2016-10-22 23:33] gnunn1 commented on #516
I'm not going to implement this directly, however I'll look at adding a way to switch profiles from a script that could be added to a cron job or something similar.

[2016-10-23 13:13] gnunn1 opened #539 "Versioning scheme"
I'd like to come up with a consistent versioning scheme for Terminix that addresses the following:

a. Differentiate between release versions and code in the master branch
b. Differentiate between beta and release versions
c. Update version numbers to reflect major changes in git for those using git based packages  like terminix-git in Arch and provide a hint to packagers when to update version nu

[2016-10-23 16:51] AnDroidEL opened #540 "w3m-img can't display image"
I've tested it in other terminals as XTerm and Gnome-terminal, and simply it works. Only in my Terminix terminal doesn't.

You can check the discussion in this issue: [https://github.com/dylanaraps/neofetch/issues/392](https://github.com/dylanaraps/neofetch/issues/392).

What could it be?

---

I'm using Terminix 1.3.0 (stable version) and the OS is Arch Linux.

[2016-10-23 16:59] #538 closed

[2016-10-23 17:03] alex285 commented on #539
I vote for semver.
Stable 1.4.0
Release Candidate 1.4.0-rc.2
Beta / Alphas 1.4.0-beta.3

Dont do even / odd for stable / unstable. It is just confusing.

[2016-10-23 17:11] gnunn1 commented on #540
Do you have the same issues in gnome-terminal?

Also, I don't use this program, if you want me to look at it your going to have to spell out how to reproduce the issue.

[2016-10-23 18:55] AnDroidEL commented on #540
No, I don't. Gnome-terminal works well.

The first thing was running directly the command `neofetch` in Terminix. I had configured the configs file of neofetch before, just setting the image path and size. The result is no image appeared.

The second thing was running the Terminix indirectly as a process from other terminal, as XTerm and also Gnome-terminal, by the command `terminix --profile none

[2016-10-23 18:59] gnunn1 commented on #540
I just need to know what do I need to do to replicate this in terms of step by step instructions, I'm not really too interested in learning how neofetch works.

Also, terminix uses DBus activation, you could try turning this off in the desktop file by setting DBusActivatable to false (note you need to restart gnome-shell after changing this)

[2016-10-23 19:09] egmontkob commented on #540
IMO this whole concept of how w3m-img works is inherently brain-damaged :)

It relies on $WINDOWID (and I guess this is what's missing from Terminix) to figure out the location of the window (so it depends on X, there goes Wayland/Mir) and draws there.

The header/tab bar of gnome-terminal probably breaks the way the location is calculated. Becomes broken as soon as you drag-n-drop a gnome-termina

[2016-10-23 19:32] AnDroidEL commented on #540
OK. I'm sorry. Just:

1. Install `neofetch` through the AUR.
2. Run `neofetch --image wall` and check if shows the image of your current desktop wallpaper.

Nothing happen.

[2016-10-23 19:32] gnunn1 commented on #540
Thanks @egmontkob for the input, that's really helpful. I'll add the WINDOWID environment variable. If fixing this takes more then that then I'll probably punt on it.

[2016-10-23 19:58] gnunn1 commented on #540
So I'm having a quick look at this, I'm not sure how fixable this is as there is a bit of a chken and egg going on here. When I spawn the terminal and set the environment variables, the VTE window hasn't been realized yet so the XID isn't available. I'll have to think about this some more.

[2016-10-23 23:48] gnunn1 commented on #540
I've attempted to do this, but I'm stuck on getting the XID for the first terminal. As per my previous comment, since nothing is realized at this point no GdkWindow has been created. I've tried a few different things with no success.

However, when splitting a terminal I could get that XID at that point, however neofetch still doesn't work. I may end up closing this as ```won't fix``` as I'm not p

[2016-10-23 23:53] dylanaraps commented on #540
This isn't necessarily a neofetch issue, it affects any program that uses `w3m-img` to display images in the terminal. (`w3m`, `ranger` and etc)

It might be worth changing the title to reflect this.

[2016-10-24 04:26] arcticicestudio commented on #539
Definitely [SemVer 2.0.0](http://semver.org/spec/v2.0.0).
For list point *a.* you should consider to change the repository branching model to [gitflow](http://nvie.com/posts/a-successful-git-branching-model). The `master` branch should then only be used for releases and represents the stable branch of the project. The `develop` branch is the branch the latest code lives in and every `feature/*`/`b

[2016-10-24 07:03] egmontkob commented on #540
You could take a look at gnome-terminal. I have no clue how it does this. My wild guess (not knowing much about X programming) is create toplevel window (unmapped) -> get WINDOWID -> add vte -> map the whole thing.

I can totally understand you :)

[2016-10-24 07:29] bestouff commented on #527
Sounds really good !
Thanks,
        Xav

[2016-10-24 08:36] gnunn1 commented on #540
I figured out the issue with the xid, I need to explicitly call window.realize(). I also need to refactor the session object to split creation and initialisation so the session can be added to the widget hierarchy before the terminal is initialised.

[2016-10-24 18:16] dsboger opened #541 ""Unfocused dim" not working (from master)"
As can be seen in the screenshot below. The left tile should be darkened, but they are the same. I'm using Arch, terminix-git compiled from master with LDC. The Gtk theme is Arc. Thanks!

![unfocused_dim](https://cloud.githubusercontent.com/assets/2356842/19657978/f4bb541a-9a04-11e6-84a4-1e78693645ab.png)

[2016-10-24 21:23] DeepDlueIV opened #542 "Borders in quake mod"
Can you please remove 1px borders in quake mod? It looks awful ^)
Tested in ubuntu 16.10 and ubuntu-GNOME 16.04 with Arc and Adapta dark variant themes.
Btw i track your git whole year and with quake update i have finally moved to terminix.
bb guake and gnome-terminal ;)
TX

[2016-10-24 22:11] #541 closed

[2016-10-24 22:14] gnunn1 commented on #542
No plans to do so as the other option of having it un-bordered when the width is less then 100% looks worse in my opinion.

I'm open to adjusting the border color though, I'll have a look at how it looks with Arc.

[2016-10-24 22:19] dsboger commented on #541
That was fast! Thanks!

[2016-10-24 22:35] #542 closed

[2016-10-24 22:36] gnunn1 commented on #542
I've changed this to shaded black which seems to work reasonably well across most themes, give it a try and let me know what you think.

[2016-10-24 22:37] gnunn1 commented on #541
It was a simple fix, I have to draw handlers on the VTE now that I added support for badges, looks like having the first handler use the Scoped context is causing issues.

[2016-10-24 23:05] gnunn1 commented on #540
So I've added the WINDOWID environment variable to terminix setting it to the XID of the top level window, however w3m-img still doesn't work so I'm kind of stumped at this point.

[2016-10-25 00:04] gnunn1 commented on #540
I think the WINDOWID needs to the parent window (i.e. the Terminal EventBox) rather then the top level window. However, doing this leads to some visual artifacts and the image is only drawn momentarily before disappearing again.

At this point I've burned enough time on this and I'm closing it as a Won't Fix.

[2016-10-25 00:04] #540 closed

[2016-10-25 12:35] alexwhitman opened #543 "Empty window with no terminal after closing last terminal"
To reproduce:
1) In the preferences, ensure "Close window when last session is closed" is unticked.
2) Open a new terminix instance
3) Hit Ctrl+D to close the terminal

Expected: A new terminal opens
Actual: No new terminal opens, just the application background colour is visible.  In Quake mode the window horizontally shrinks down to the minimum it can while still fitting in the title bar buttons

[2016-10-25 12:45] gnunn1 commented on #543
If this is on master it might be caused by the refactoring I did on the session object where it is now a two step process of creating it and then initialising it. I'll have a look later tonite.

[2016-10-25 12:50] alexwhitman commented on #543
Yes, sorry, this is on master.

[2016-10-25 15:58] dbrodie opened #544 "(re)Name a whole window"
Unless I missed something, it is currently possible to rename a session and a terminal/layout. I didn't see any way to rename a window.

My use case involves having multiple windows with very similar sessions between them. and I would like to name them something that would make it obvious in the gnome-shell overview on which window I am working on (for example, Production / Staging).

Another exam

[2016-10-25 16:15] DeepDlueIV commented on #542
No updates in ppa. I have tried to build itself with dmd and phobos. Got an error. Switch terminix to bright theme variant and dont give a damn now :-)

[2016-10-25 18:27] blonchkman commented on #538
thank you for your hint, @gnunn1
i'll keep an eye on it.

[2016-10-25 18:56] loops opened #545 "Preferences window crashes Terminix"
Had to revert recent change to stop Terminix from crashing when attempting to open the preferences window.

Revert "Fix #541"

This reverts commit 79cfcc6dfbee681d00610b9e2eaf77d0bfe55527.

The backtrace is huge, but the error starts out with:

 *** Error in `/home/sean/devel/connect/terminix/terminix': corrupted double-linked list: 0x000000000
4cb9100 ***

[2016-10-25 20:20] egmontkob opened #546 "Black thumbnail at rapidly changing content"
Execute a command that rapidly produces tons of output and runs for a couple of seconds. E.g. `cat somegiantfile` which has like a million lines or so.

While this is running, click on "1/1" to open the session sidebar.

Notice that about half the time a pitch black thumbnail is shown instead of a correct one. Whenever this happens, this is printed to stderr:

    (terminix:12345): Gtk-CRITICAL **

[2016-10-26 00:12] #543 closed

[2016-10-26 00:12] gnunn1 commented on #543
Thanks for reporting this, it was actually a bigger issue as creating new sessions had issues as well.

[2016-10-26 00:20] gnunn1 commented on #545
I don't get the same issue, but I've noticed some other issues related to having multiple draw handlers in GtkD. For now, I've disabled the badge draw handler so it only kicks in if the VTE patch is in place, since I'm the only one using that patch this should resolve it as a temporary measure.

I'll bug the GtkD maintainer for thoughts on how best to handle this.

[2016-10-26 00:25] gnunn1 commented on #546
I can reproduce it, no good idea on how to fix it though.

[2016-10-26 07:15] egmontkob commented on #546
Do you have an idea what causes the problem?

I'm just making a wild guess now, I don't even know how that thumbnail "screenshot" is taken :)

VTE does not always paint its screen when the contents change, that'd be way too expensive/slow. It marks regions as invalid as the visible content should change (i.e. needs to be repainted) and then paints them at an approx 20-30 FPS rate. Between these tw

[2016-10-26 08:03] phw commented on #538
Does this also help with #241 ? Or if not could this be adapted to that use case?

[2016-10-26 09:47] phw commented on #241
This was fixed by #538 :)

[2016-10-26 09:48] phw commented on #538
Just tested myself, the second part of the patch really fixes the Unity issue from #241 :D Great

[2016-10-26 13:13] gnunn1 commented on #546
No I don't have any idea what the issue is at this time, I'll need to do some investigation when I have time. The code I'm using to get draw the active session is pretty simple and I don't see any obvious issue with it.

If you have time, try doing the same thing but with the session where the output is being generated not active (i.e. have two sessions, and the session generating output not the c

[2016-10-26 13:30] igor-dyatlov opened #547 "Quit bash shell without saving bash history"
Disabling HISTFILE leads to the fact that as long as you do not leave the current session, any commands that you will perform will not be saved in a file bash_history history: `unset HISTFILE`

It would be useful to have a checkbox with the function.

[2016-10-26 13:33] gnunn1 commented on #547
Do you mean a checkbox to enable/disable the history file? I don't have any plans to add shell specific options in Terminix since people tend to use a variety of shells such as zsh, bash and fish. If I'm misunderstanding feel free to elaborate.

[2016-10-26 20:18] loops opened #548 "Grey screen displayed instead of a terminal for new sessions"
Not much more to say than the title.  This didn't seem worthy of a pull request,
but trying to paste a patch in this text box was horrendous.  Here's a gist instead:

https://gist.github.com/loops/8e95a133a07b729b1761016732b5fb3a

If you prefer a pull request, can do that.

[2016-10-26 21:09] gnunn1 commented on #548
I think I fixed this already in master but I'll double check later tonite.

[2016-10-26 23:28] gnunn1 commented on #548
Checked, this was fixed yesterday as part of #543 with this commit:

https://github.com/gnunn1/terminix/commit/80985d663b1d451c8d15b1299127bfdac218eaa3

If you are not finding this to be the case after getting the latest from master, re-open the bug and I'll have another look.

[2016-10-26 23:28] #548 closed

[2016-10-27 08:47] egmontkob commented on #547
I agree with gnunn1, configuring the shell shouldn't be the terminal emulator's job. Or if it is, why pick this single option rather than any other / all of the other hundreds?

[2016-10-27 12:46] #547 closed

[2016-10-28 16:03] bagage commented on #525
I am now even reproducing a similar bug when creating a new tab (`ctrl+t`): even if the cursor is moved to the new tab, it is not displayed. See [this webm](http://www.webm.land/w/FZyd/) which illustrates the bug.

[2016-10-28 17:29] dsboger opened #550 "Crashing when launching with "-s session-file.json" (master)"
When I try to launch terminix with the command `terminix -s session-file.json` it segfaults. The output/backtrace taken with gdb is below. As usual, I'm running terminix-git from AUR, i.e. compiled from master with LDC. Let me know if I can provide more info. Thanks!

[code]

[2016-10-28 18:44] gnunn1 commented on #550
Can you test if this commit corrects the issue please, thanks.

[2016-10-28 20:04] egmontkob commented on #546
I couldn't reproduce the issue with non-active sessions.

Might be a crazy idea, but just wondering... what if the same complicated screenshot logic was executed even for the active session? :)

[2016-10-28 22:14] dsboger commented on #550
Unfortunately nothing changed. Please, note that the file actually exists. I've tried with an absolute path also, same crash. Maybe it is something about the content of the file?

[code]

[2016-10-28 23:23] #550 closed

[2016-10-28 23:23] gnunn1 commented on #550
Reproduced it, I'm on Wayland and this only happens under X11.

[2016-10-29 13:53] #545 closed

[2016-10-29 14:08] gnunn1 commented on #525
I can reproduce in Wayland as well, I think this is a visual VTE bug. The terminal has focus and if you type it appears in the terminal just fine, however the cursor in the VTE remains an outlined block rather then the solid block you expect to see.

There was an upstream report here which marked this as fixed, however you can see folks still reporting it:

https://bugzilla.gnome.org/show_bug.cgi?

[2016-10-29 16:03] #525 closed

[2016-10-29 16:06] gnunn1 commented on #525
@bagage I've fixed the reproducer you posted. This was caused by my attempt to make #540 work. For that issue, the terminal needed to be added to the widget hierarchy before spawning the terminal. This resulted in multiple show calls and changes in the order of activities which I think is triggering this bug in the VTE. Re-working the sequence to follow what I had originally seems to have sorted t

[2016-10-29 16:22] gnunn1 commented on #546
Unfortunately the complicated logic involves re-parenting the widget to an offscreen widget, doing this with the active window creates a nasty flash effect. I'll need to think about this some more, I may need to do something so it calls the widget draw during the paint phase of GTK's draw cycle (https://developer.gnome.org/gtk3/stable/chap-drawing-model.html).

[2016-10-29 22:05] gnunn1 commented on #546
I've made a change to queue a draw operation and process events before taking the thumbshot to emulate the more complex event. I'm not having any luck reproducing the issue with this change, can you test it out when you get a chance please.

[2016-10-29 22:39] egmontkob commented on #546
I still cannot compile Terminix on Yakkety :P (and I really don't feel like debugging it for hours, nor bringing up a Xenial VM), sorry...

[2016-10-30 06:46] egmontkob commented on #546
Awesome, thanks! :)

[2016-11-02 06:19] mifas commented on #535
Guake and Tilda has. And working perfectly

[2016-11-02 09:11] alexwhitman opened #551 "Terminal title truncation on maximise/fullscreen"
I've set my terminal title to `[${columns}x${rows}] ${title}`.  If I open a terminix window and then maximise the title is truncated at the start and appears as `...x76] alex@machine: ~`.  Triggering a title redraw, such as entering a line in the terminal, fixes the title.

I can also reproduce with just `${columns}` as the title.

[2016-11-02 23:53] gnunn1 commented on #551
I can't reproduce this behavior in either Arch or Ubuntu 16.04. I tried reproducing it by splitting the terminal and switching to a long directory so the '...' ellipsis appears at the beginning. I then maximize the terminal and the title adjusts fine for the extra space and the ellipsis disappears. I also tried fullscreen and that worked fine as well.

Are there any non-default options you might h

[2016-11-03 12:23] gnunn1 commented on #25
@dsboger I noticed that the vte3-notification and vte-common-notification packages in AUR has been orphaned. I've been personally using these packages as a way to get notification support in Terminix. I'm wondering if the time has come to create a vte3-terminix package that would contain the notification patch as well as the two other VTE patches I have that are required to support badges and trig

[2016-11-03 12:35] alexwhitman commented on #551
I've got some settings as non-default but I've played around with them and so far nothing has changed.  I've also changed system fonts and sizes but that doesn't fix it either.

[2016-11-03 14:32] dsboger commented on #25
@gnunn1 I've adopted vte3-notification in AUR, so that the "orphaned" status does not scare people away, but I'm not sure how well I'll be able to maintain it. I'm starting the vte3-terminix-git (stable vte3 + stable Fedora patches + terminix patches from git) PKGBUILD. I'm following the instructions in the [README](https://github.com/gnunn1/terminix/blob/master/experimental/vte/README.md). I'll p

[2016-11-03 14:44] gnunn1 commented on #25
@dsboger Thanks, I'm happy to help as necessary,

Note that for the alternate-screen.patch to work with the fedora notification patch you need to make one change to the patch. There is a padding variable that is used to fill out the memory of a structure, as events get added the padding needs to be decremented. The current VTE source code has the padding set to 16. To apply both the fedora notific

[2016-11-03 15:27] sametmax opened #552 "Cannot put quotes in command field"
In the regex => command matching configuration windows, if you put quotes (") in the 'command' field, it will make terminix crash. It will also be unable to restart again:

[code]

I'm guessing the input is not escaped properly. Also, since I don't know where is terminix configuration stored, I can't manually fix my setup. Can you help me with this ?

[2016-11-03 16:10] gnunn1 commented on #552
Terminix configuration is in dconf so you can use dconf-editor to change it manually. The configuration is stored in com/gexperts./Terminix, this item would be in one of the profiles.

Thanks for reporting this, I'll have a look at the issue tonit

e.

[2016-11-03 16:51] dsboger commented on #25
I've assembled a PKGBUILD with a quick and dirty sed command to make those changes to the patch. It seems to be good. I've tested a simple trigger and it seems to be working. It seems these patches also enable the badges feature, but I could not find documentation on what is that feature, so I don't know how to test it. Also, is there any other thing to test from the patches in order to see if the

[2016-11-03 17:48] gnunn1 commented on #25
The badges feature can be set on the Profile preferences page on the General tab right under the terminal title as per the screenshot below.

![screenshot from 2016-11-03 13-46-51](https://cloud.githubusercontent.com/assets/9358238/19978063/0c76eac8-a1cc-11e6-9c4e-28c61b241498.png)

You can also run ```terminix --version``` which will indicate which special features are active or not, for example:

[2016-11-03 17:51] gnunn1 commented on #25
And I guess I should explain what a badge is. This is is a block of text that appears in one of the corners of the terminal and can be used to display additional information. It is cribbed from the identically named iterm2 feature here https://www.iterm2.com/documentation-badges.html.

I'll write up a wiki entry for it this weekend.

[2016-11-03 18:51] dsboger opened #553 ""terminix --version" shows nothing when Terminix is already running"
But it works when I first close Terminix and call from e.g. gnome-terminal. As a consequence, I cannot run `terminix --version` from Terminix itself.

[2016-11-03 18:56] gnunn1 commented on #553
Just as an FYI, this is because in GTK the Application is a singleton. When you run Terminix it simply sends the request to the existing running instance and then shuts down, there is not opportunity to write to the console in the remote instance. The only way I can fix this is to process the command line before the GTK Application is instantiated.

I've considered this in the past and deemed not

[2016-11-03 19:49] dsboger commented on #25
I just created AUR packages for [vte3-terminix-git/vte3-terminix-common-git](https://aur.archlinux.org/pkgbase/vte3-terminix-git/). I'm using them right now, so they Work For Me® (but notice that I'm using `terminix-git`, not the stable release). Also, `terminix --version` output is:

[code]

I've quickly tested notifications, badges and triggers and all seems to be fine. GNOME Terminal also Works

[2016-11-03 21:43] gnunn1 commented on #25
@dsboger I just tried the package, works very well for me as well. I like how you are getting the patches from git and fixing the alternate-screen patch with sed, I likely would have taken the easy way and just bundled a fixed version. Great job and really appreciate you taking care of this. I'll post about it on my google+ account to try to get the word out.

I think a stable version would be des

[2016-11-03 22:48] #552 closed

[2016-11-03 23:06] #553 closed

[2016-11-03 23:20] gnunn1 commented on #551
If you want to try something, you can add the following lines to terminal.d:370

[code]

[2016-11-04 08:58] alexwhitman commented on #551
That just centered the button in the terminal title bar, but the truncation still occurs.

[2016-11-05 11:24] alex285 opened #554 "[Appearance] Quick Access to Terminal Title Style"
On Appearance Preference, there is "Terminal title style" option with 3 items
1. Normal
2. Small
3. None

This is something I want to regularly switch (and affects Terminix UI a lot!), so I want to ask if it is possible to add this option on title bar, on a separate 3-state button, or inside the "Three Lines" menu popover, because going on preferences window is really inconvenient.

I know we can

[2016-11-05 15:06] sametmax opened #555 "Get current directory in custom link commands"
I created a custom link to match those file paths:

[code]
The regex `((?:^|\s)([^¤]+?\.py(?:\:\d+)?))` extract `src/ww/wrappers/strings.py:725` and runs `subl '$1'`.

In that case it will run `subl src/ww/wrappers/strings.py:725`.

The problem is that `src/ww/wrappers/strings.py` is a relative path, and the command is executed in a new shell, which current directory is set to `$HOME`. Bottom line

[2016-11-05 15:09] gnunn1 commented on #555
I'm confused, the only python in Terminix is the Nautilus extension. Is this what you are filing a bug against?

[2016-11-05 15:11] gnunn1 commented on #555
Oh now I get it, sorry. I'll have a look at that, I'm  thinking when it executes the custom program it should set the current working directory so that relative paths can be resolved.

[2016-11-05 15:20] sametmax commented on #555
Yes. I think the related code is : https://github.com/gnunn1/terminix/blob/master/source/gx/terminix/terminal/terminal.d#L1495

There is a workDir parameter do solve the problem: https://dlang.org/library/std/process/spawn_process.html

[2016-11-05 15:35] sametmax opened #556 "--working-directory is ignored for new session"
`terminix --action=app-new-session --working-directory=/opt` will open a new session, but the directory will be the one from the last active shell, not the one passed.

[2016-11-05 15:38] sametmax opened #557 ""terminal-split-right" is ignored"
`terminix --action=terminal-split-right` does not bring the current instance windows on top, nor does it add a new terminal to the current session.

`terminix --action=app-new-session` work exactly as advertised, suggesting it's a bug in the first command, or I'm missusing it and documentation should be updated.

[2016-11-05 15:51] gnunn1 commented on #554
No plans to add this as I think the shortcut is sufficient. I can't add everything to menus as it would make the UI unwieldy, I just don't feel this is used enough to warrant it being a menu item.

[2016-11-05 15:51] #554 closed

[2016-11-05 16:33] #555 closed

[2016-11-05 16:40] gnunn1 commented on #557
The actions got re-factored some time ago but I forgot to update the wiki. The correct action is ```session-add-right``` and I tested it to make sure it works. The wiki has been updated as well, thanks for reporting this.

[2016-11-05 16:40] #557 closed

[2016-11-05 16:59] #556 closed

[2016-11-05 17:20] #535 closed

[2016-11-05 17:27] gnunn1 commented on #539
Semantic versioning it is. No plans to change to gitflow, but I'll keep in mind if my needs change.

[2016-11-05 17:27] #539 closed

[2016-11-05 18:46] gnunn1 commented on #490
So is anyone interested in picking this up? I think it's just a matter of selecting a jeckyll theme and start moving forward?

[2016-11-05 18:57] ayoisaiah commented on #490
I've been a little busy recently but I'm free to work on it some more this weekend. I reckon it would be finished within the next week.

[2016-11-05 19:20] bil-elmoussaoui commented on #490
I'm free to work on this, do you have any idea of a jekyll theme?

[2016-11-05 19:21] bil-elmoussaoui commented on #490
Btw, the branch should be gh-pages and not Terminix

[2016-11-05 22:15] gnunn1 commented on #490
I've created the gh-pages branch. As to the jekyll theme, I don't really have much preference here. I'd suggest a relatively simple theme though.

[2016-11-06 01:26] danielkza commented on #536
@gnunn1 It seems there was some mistake, since right now it seems Terminix *does not* stay on top anymore at all. I bisected the issue to commit 6db4adc14d3c1dc04054c01be2f40779309c410a.

[2016-11-06 02:12] gnunn1 commented on #536
@danielkza Thanks for catching that, I made a mistake when I tried to just comment the option out instead of reverting it completely. Should be fixed now.

[2016-11-06 02:25] danielkza commented on #536
@gnunn1 Working fine now, thanks!

[2016-11-06 20:49] fb87 opened #558 "Blinking shell when focused and fn keys are pressed"
Is this a bug or a feature? This may be helpful at control commands, but should maybe not be done when pressing louder/quieter/brighter/darker/etc. Distinction of cases would be nice!

[2016-11-06 21:44] gnunn1 commented on #558
I think this is a bug(?) with VTE, I can replicate it with gnome-terminal. If you have gnome-terminal installed, can you try it out there as well to confirm.

[2016-11-06 21:46] fb87 commented on #558
In gnome-terminal, just the cursor is blinking – in Terminix the cursor, the background and the title of the current terminal-window.

[2016-11-06 21:51] gnunn1 commented on #558
OK that's really weird, I can't reproduce that. I was thinking you were talking about the cursor which blinks rapidly when use the FN key with something like darken/brighten the screen. On my system only the cursor blinks, nothing else does.

What distro and desktop environment are you using?

[2016-11-06 21:55] fb87 commented on #558
Fedora 24 with GTK 3.22.

![terminal](https://cloud.githubusercontent.com/assets/10520767/20042083/0c40d5aa-a474-11e6-9bac-9637ae6a8c3b.gif)
![terminix](https://cloud.githubusercontent.com/assets/10520767/20042084/0c467b86-a474-11e6-956e-cbb2a52769ba.gif)

[2016-11-06 21:59] gnunn1 commented on #558
Thanks, that is very helpful. I'm using Arch with GTK 3.22 and I don't get that behavior other then the cursor blinking rapidly just like in gnome-terminal. I don't see how anything I'm doing in Terminix would cause that behavior but you never know.

Which version of Terminix are you using 1.3.0 or are you building it form git?

[2016-11-06 22:01] fb87 commented on #558
I'm using 1.3.0 from the heikoada repo. Maybe you can test this in a VM or we see what happens with F25 in 11 days?

[2016-11-06 22:02] gnunn1 commented on #558
Yeah, I'll try that but I'm not overly optimistic about replicating it in a VM.

BTW, if other users of Fedora 24 are seeing this same behavior I'd be interesting in knowing it.

[2016-11-06 22:04] fb87 commented on #558
I can test it on my TV this week.

[2016-11-06 22:06] gnunn1 commented on #558
Oh one last question, is this Wayland or X11?

[2016-11-06 22:06] fb87 commented on #558
X

[2016-11-06 22:12] gnunn1 commented on #558
I almost wonder if what is happening is the terminal is losing focus very briefly. Do you have the the option to dim the terminal when not focused enabled?

[2016-11-06 22:16] gnunn1 commented on #558
This is more just a note to me, I have a suspicion that the OSD is stealing focus very briefly which results in this behavior. Some related links to this:

https://bugs.launchpad.net/ubuntu/+source/notify-osd/+bug/694224
http://infra.in.zekjur.net/archives/i3-discuss/2011-November/000348.html

More investigation required.

[2016-11-06 22:20] fb87 commented on #558
When the window isn't focused and I press those keys, there is no blinking. But I don't know where more dim options should be available?

[2016-11-06 22:28] gnunn1 commented on #558
In the Profile dialog under Colors there is a slider to set the Dim percentage and in the Advanced pop-up you can select a Dim color. If the Dim slider is bigger then zero Terminix will dim the terminal when it is not focused.

I think the issue is that when terminix is focused and use those keys, an OSD (On Screen Display) appears for example showing the volume going up or down. I think every tim

[2016-11-06 23:36] fb87 commented on #558
Yes, when I place the slider on the left end, the backgrund blinking doesn't occur anymore, cursor and title still blink.

So this is a Gnome bug… would you open a bug report, since you know the details better than me?

[2016-11-07 01:20] gnunn1 commented on #558
Thanks, that pretty much confirms it's a focus issue with OSD and I think it's a bug in notify-osd, I'll do some further investigation and then report it accordingly.

[2016-11-07 03:08] gnunn1 commented on #558
I did some searching and there is a bug open for it here:

https://bugzilla.gnome.org/show_bug.cgi?id=687862

[2016-11-07 03:08] #558 closed

[2016-11-07 09:39] phw opened #559 "Badge color option should probably be separated from advanced colors"
Currently the badge color is configured in the advanced dialog in colors. I see different issues with this:

1. The advanced dialog is used to configure colors you want to have different from defaults, and it is only active when using theme colors is disabled
2. Once configured the badge color is applied whether use theme colors is enabled or not
3. There is also a checkbox beside the theme color,

[2016-11-07 10:53] edivad7 opened #561 "Double icons after update"
After updating Terminix to new version I have faced this issue, there's a second fuzzy icon on the dock, even if I start it using the menu application, even if I start it using the shortcut.

![image](https://cloud.githubusercontent.com/assets/19225432/20055379/05d98e06-a4e1-11e6-89db-b1b73b0657dd.png)

[2016-11-07 12:40] gnunn1 commented on #561
How are you installing Terminix, from a package or manually? Is that the gnome-shell dock or something else?

[2016-11-07 13:22] edivad7 commented on #561
I installed terminix through Pacman (I'm actually using Antergos). That's Plank. It was ok until yesterday.

[2016-11-07 13:25] gnunn1 commented on #561
Please open an issue with Antergos as they do their own packaging of Terminix and this to me looks like a packaging issue.

[2016-11-07 13:25] #561 closed

[2016-11-07 13:32] phw commented on #561
Could it be, that after the upgrade there was just another instance of Terminix running? Or does this behavior persist a restart?

I just tested with Plank on my Gnome 3 Arch installation, but this is not reproducable.

[2016-11-07 23:05] dsboger commented on #561
The same happens to me with GNOME Shell if I update Terminix when Terminix is running. It fixes itself when I close Terminix and open it again, though. Maybe Plank is not refreshing the .desktop database after the installation? I think you could try updating other apps and see if the same happens?

[2016-11-07 23:15] #559 closed

[2016-11-07 23:19] gnunn1 commented on #559
Thanks for testing this, quite pleased to get a bug report for this functionality.

Anyway, I've made some changes so it works the same as the other advanced colors. The intent is that the badge color would default to the foreground color unless it is specifically set (i.e. use theme colors and use badge color is checked).

Feel free to re-open if it is still problematic.

[2016-11-08 07:18] phw commented on #559
Yes, the new behaviour makes sense. Just tested it, feels good and consistent.

Actually I have personally not much use for this, but since the VTE patches are now easily available on Arch I finally can give the advanced functionality a try :D Notifications and triggers are awesome to have.

[2016-11-08 07:46] phw commented on #561
@dsboger Yes, that's exactly my suspicion on what probably happened, @dgavio can you test this again?

[2016-11-08 07:55] dgavio commented on #561
I've tested it, for me closing terminix isn't enough, but rebooting the pc solved the problem. Now the icon is perfect.

[2016-11-08 09:41] phw opened #563 "Clicking on trigger notification should activate terminal where notification originated from"
If you setup a trigger which shows a notification, clicking this notification will open a new terminix window.

Ideally clicking on this notification would focus the terminal where this notification was created and bring the corresponding window to the foreground.

[2016-11-08 15:13] #563 closed

[2016-11-08 17:22] pavelxdd opened #564 "An option to hide quake window on losing focus"
Can such an option be added please? Could be useful when launching fullscreen application from the quake terminal.

[2016-11-08 17:42] pavelxdd commented on #564
Oops, this feature already exists in the latest version.

[2016-11-08 17:42] #564 closed

[2016-11-09 15:33] Anton-Latukha opened #567 "Add position/alignment option"
As new quake drop-down feature appeared, I want to use Terminix.

I encountered a lack of a function.
I have configured Yakuake to take left half of screen and Guake - take right side. Terminix have _no such option_.
![preferences](https://cloud.githubusercontent.com/assets/20933385/20143060/13245102-a6a0-11e6-9989-60b066fab19e.png)

This option is crucial for my workflow. I can have terminal tabs

[2016-11-09 15:53] gnunn1 commented on #567
That makes perfect sense and I'll add within the next few days. One question, is all that is needed is a simple Alignment option (Left, Center, Right) like in Guake or does this need to be more fine-grained like Yuake is doing in your screenshot. I would really prefer the simple option but would consider the more complicated one if absolutely necessary.

[2016-11-09 16:44] Anton-Latukha commented on #567
For me Alignment option is everything I need, and also for what I can imagine.
+ it sort-of continue embracing Terminix tiling philosophy, aligning Term in regular DE.

[2016-11-09 20:14] #567 closed

[2016-11-10 21:41] dyrnade opened #568 "Cant start terminix"
Running from source, i am getting this errors.What i am missing here ?
2016-11-10T16:55:00.280:resource.d:findResource:53 Resource terminix/resources/terminix.gresource could not be found
(terminix:12363): GLib-GIO-ERROR **: Settings schema 'com.gexperts.Terminix.Keybindings' is not installed Trace/breakpoint trap

[2016-11-10 21:47] gnunn1 commented on #568
If you are installing it from the archive in releases you need to compile the resources file:

[code]

[2016-11-10 21:50] dyrnade commented on #568
If you dont look at nix things, this is what i did to run it
https://gist.github.com/dyrnade/70702f188603c668933d698cca6c6869#file-terminix-nix-L36-L59

[2016-11-10 22:39] gnunn1 commented on #568
Unfortunately I have no idea what a nix file is, is it some sort of package file?

However looking at the output things are not ending up in the directories where terminix is expecting to find things in a traditional linux setup. This could be because of a bug on my end where I'm not using the right API for sourcing files but looking at my code everything seems in order.

On my Arch system, the te

[2016-11-11 05:54] lpinner opened #569 "Quake mode window no longer hides using shortcut key when hide when focus is lost is enabled"
Quake mode Terminix window no longer hides using shortcut key when hide when focus is lost is enabled.

Ubuntu Gnome 16.04
Terminix 1.3.5 from WebUpd8 PPA

To reproduce:

- Bind a keyboard shortcut to `terminix --quake`
- Enable hide when focus is lost in Terminix preferences
- Press shortcut key to show quake mode Terminix window
- Press shortcut key to hide Terminix

Result:

- Terminix hides th

[2016-11-11 13:35] dyrnade commented on #568
Yeap, Nix is a package manager. I was packaging Terminix for it and it builds without an issue but crushes at run.

There is no /usr/share in nix globally. You are kinda hacking it and all system structures are in the packages own folder itself.So, now i thought i am using compiled version so the path of glib is hardcoded in there ? i am maybe wrong, i dont know how things work under the hood of g

[2016-11-11 13:41] dsboger commented on #568
I think you are setting XDG_DATA_DIRS wrong. You should set it to `$out/share/`. The subdir `glib-2.0/schemas` is added by GSettings, according to [1]. It's worth a try, anyway.

[1] https://developer.gnome.org/gio/stable/glib-compile-schemas.html

[2016-11-11 13:47] dsboger commented on #568
You could also have a look at this: http://stackoverflow.com/questions/35784566/meld-glib-gio-error-no-gsettings-schemas-are-installed-on-the-system

[2016-11-11 14:36] dyrnade commented on #568
@dsboger thank you. Your suggestion `$out/share/` worked.
@gnunn1 thank you too.

[2016-11-11 15:03] gnunn1 commented on #569
Thanks for reporting this. The issue is that the quake window loses focus when you hit the hotkey, so with the "Hide on when focus is lost" option is active it hides the window. Then the hotkey kicks in from the desktop environment and since the window was just hidden it re-shows it again.

I'll need some time to think about how to solve this one, since the hot key is managed by the desktop enviro

[2016-11-11 15:41] alexwhitman opened #570 "Synchronised scolling with Ctrl + Page Up/Down"
When terminals are synchronised, scrolling up and down with Ctrl + Page Up/Down only scrolls the active terminal.  The actions are not propagated to the other terminals.

[2016-11-11 17:05] arcadian09 opened #571 "[Feature Request] Backup and Restore Current configuration"
At this moment, unable to find the location where terminix pulls the store data for my profiles and settings. For new setups, would like to avoid manually restore terminix and simply restore my settings and preferences.

Thanks,

[2016-11-11 17:27] gnunn1 commented on #571
Terminix stores it's configuration in dconf and you should be able to use the dconf tool to migrate settings. To dump the setting:

[code]

To load this file back into dconf on a different machine:

[code]

[2016-11-11 17:27] #571 closed

[2016-11-11 17:30] gnunn1 commented on #568
Closing issue, thanks @dsboger for the help.

[2016-11-11 17:30] #568 closed

[2016-11-11 17:38] gnunn1 commented on #570
This is a result of changes for #351, I'm aware of this issue and it's been on my mind to correct so now I have an excuse not to put it off any longer.

[2016-11-11 17:42] etm opened #572 "hideable scrollbar"
Please add an option to hide the scrollbar as in gnome-terminal (profile > scrolling).

[2016-11-11 17:54] #569 closed

[2016-11-11 17:55] gnunn1 commented on #569
I've fixed this (hopefully!) by delaying the hiding of the window on losing focus by 100 ms. I hate using these sort of timing hacks but in this case I can't think of a better solution for the problem.

[2016-11-11 18:07] gnunn1 commented on #572
It's already there in the Profile preferences page under the Scrolling tab, just uncheck the "Show scrollbar" option.

![screenshot from 2016-11-11 13-06-23](https://cloud.githubusercontent.com/assets/9358238/20225138/c55aa446-a80f-11e6-8463-303cc12d16a1.png)

[2016-11-11 18:07] #572 closed

[2016-11-11 18:20] etm commented on #572
Oh my. No idea how i missed it. Thanks. Terminix is great.

[2016-11-11 18:30] gnunn1 commented on #570
This should hopefully fix it, however I would really appreciate it if you could test it out. In particular, can you test that these keys work both in normal terminal and when using alternate screen (i.e. nano, vi, emacs, etc) as @egmontkob indicated there may be some differences between these two modes in how VTE handles things. It seems OK in my testing but a second look would be greatly apprecia

[2016-11-11 19:11] gnunn1 commented on #544
Thinking how about this, currently the window name is based on the current session, i.e. ```Terminix: ${session_name}```. Maybe a solution is to simply support variables here like elsewhere and let users specify it however they wish in Preferences.

[2016-11-12 01:52] Anton-Latukha opened #573 "If app started in Quake mode with height at 100% - window doesn't react to height option change."
At first. Thank you for the alignment. Now it is perfect for me.

Discovered a bug.
Must be simple to reproduce.

Using current GIT version (on Arch, KDE Plasma)

_Conditions:_
Using Quake mode, using any alignment, for exemple:
![1](https://cloud.githubusercontent.com/assets/20933385/20234619/2d07acca-a887-11e6-8c23-8d42ff1ba1ae.png)

_Syndrome:_

But trying to change height:
![2](https://cloud.g

[2016-11-12 10:27] alexwhitman commented on #570
So I got the details wrong and it should have been Shift rather than Ctrl.  That said it looks like the code takes Shift into account too, but it doesn't appear to work for me and still only occurs in the active terminal.

[2016-11-12 14:28] gnunn1 commented on #570
@alexwhitman It's definitely working for me here and I tested it with Ubuntu 16.04 in a VM as well. To test it, I split the terminal and syncrhonized input. I then ran ```ls -l``` a few times to generate some buffer. Finally hitting Shift-PageUp and Shift-PageDown to scroll the window up and down.

I added a trace statement so you should see something like ```Synchronizing key xxx```, can you conf

[2016-11-12 14:36] gnunn1 commented on #573
I can't reproduce this using Gnome, might be be an issue specific to KDE. Do you have a different DE on your system that you could try it with to confirm it's KDE and not something else specific to your system?

[2016-11-12 16:09] alexwhitman commented on #570
*Sigh*, I know why it wasn't working.  I updated the git remote and then built, completely forgetting to actually update the master branch.  Today is not my day.

I'm away from the computer now until Monday so I'll test it then.  Sorry for the noise. 😄

[2016-11-12 16:09] #570 closed

[2016-11-12 18:44] ermolaev opened #574 "How to hide application menu in quake mode?"
Ubuntu 16.10

![screenshot from 2016-11-12 21-41-12](https://cloud.githubusercontent.com/assets/938305/20240094/02452e8c-a921-11e6-864f-cf8be71d05d5.png)

[2016-11-13 00:27] gnunn1 commented on #574
I'm not able to reproduce in my Ubuntu 16.10 VM. Can you help me by answering the following questions:

- What version of terminix are you using?
- In the Ubuntu System Settings, under Appearances/Behavior, what do you have set for the option "Show the menus for a window"?
- Do you have the Disable CSD option in terminix enabled (requires using dconf-editor to modify this)?

[2016-11-13 00:30] gnunn1 commented on #574
Also, this might be caused by the forcing of the app menu in Unity that I added for 1.3.5 of terminix. I should probably exclude this when running in quake mode but I'd like to be able to reproduce it if possible.

[2016-11-13 01:08] ermolaev commented on #574
version 1.3.5
Show the menus for a window = In the window's title bar, (if set In the menu bar application menu not showed)

if Disable CSD set to true application menu also not showed
![screenshot from 2016-11-13 04-02-16](https://cloud.githubusercontent.com/assets/938305/20243019/40337a52-a956-11e6-830d-f514049df17c.png)

also I using `numix-gtk-theme`

[2016-11-13 14:06] #574 closed

[2016-11-13 14:06] gnunn1 commented on #574
Thanks, I was able to reproduce and fix it in my local VM.

[2016-11-13 14:43] ermolaev commented on #574
Thanks!

[2016-11-13 15:17] bil-elmoussaoui commented on #490
I can start working on a simple layout using http://semantic-ui.com instead of Bootstrap! It's used to create jekyll website. I will pull a first PR by this evening if everything goes as expected :+1:

[2016-11-13 15:24] gnunn1 commented on #490
Thanks @bil-elmoussaoui, that sounds great

[2016-11-14 13:29] alexwhitman commented on #570
I've now tested the changes and can confirm that they work. :+1:

[2016-11-14 14:56] egmontkob commented on #507
I'm on a brand new computer now (my old one died) and I deliberately did not migrate my old setting, packages, home dir etc. So I did a clean start with Yakkety, "apt-get install dub", Terminix from git, but (as opposed to last time) no sign of "gtkd" installed or "d-apt" in my apt config, and no ~/.dub directory. As far as I understand your homepage and the output of "dub build", it should fetch

[2016-11-14 15:17] egmontkob commented on #507
If I "apt-get install ldc" as well, the error becomes this:

[code]

[2016-11-14 17:48] egmontkob commented on #25
Hey guys,

Does anyone here know how to compile Terminix on 16.10 (yakkety) (or get a precompiled version somewhere)? I totally failed so far (see #507). Thanks in advance!

[2016-11-14 17:56] gnunn1 commented on #507
I'm not an expert on the alternative compilers however the first stack trace is because you are using GDC which is unfortunately based on an older version of DMD and won't compile Terminix. The second track trace still seems to be using GDC, what happens if you explicitly specify LDC, it should be something like:

[code]

[2016-11-14 18:04] egmontkob commented on #25
Oh, nevermind. I figured out 17.04 (zesty) beta already contains a terminix package, and it (along with its few dependencies: libphobos2-ldc71, libgtkd-3-0 and libvted-3-0) installs and works fine on yakkety. This is good enough for me right now :)

[2016-11-14 18:10] ximion commented on #507
@egmontkob If you can, just use the .deb package from Debian (you can also recompile it for Ubuntu), which uses Automake and LDC (although I would rather like to see Meson instead of Automake, or a better maintained and heavily improved Automake setup, because the current thing has several issues)

[2016-11-14 18:18] egmontkob commented on #507
@ximion Thanks, I just installed zesty's packages (which are probably exactly the same as Debian's). This is good enough for me right now, I probably won't go into the troubles of recompiling for a while.

[2016-11-16 11:47] pakro opened #575 "Issues with setting an environmental variable and executing a command right after it"
using a script:

terminix -w "/some/directory/" -x "ENV_VAR=someValue mvn spring-boot:run" throws an error.
Am I doing something wrong or is this simply not possible?

[2016-11-16 13:12] gnunn1 commented on #575
When you execute a command, terminix doesn't run a shell but instead just executes the command. Thus you can't chain multiple commands directly, however you can try something like this:

[code]
And see if that works. Most terminal emulators behave the same way. If you google ```gnome terminal execute multiple commands``` you'll find lot's of discussion about it.

[2016-11-16 15:52] pakro commented on #575
Thank you very much!

[2016-11-16 17:49] #575 closed

[2016-11-16 17:49] gnunn1 commented on #573
No reply for OP and KDE isn't a DE that is officially supported, closing issue.

[2016-11-16 17:49] #573 closed

[2016-11-17 05:01] laconbass opened #576 "Questions about background image"
First of all - and not regarding the topic presented here - let me congrat @gnunn1 , terminix is really awesome and It ended up within my everyday-use toolset.
- - -

**kind-of use case scenario**

Both questions I'm presenting here bumped my head while testing the "background image feature", wondering if I can use that feature to let me distingish between tty environments quickly, a kind of "visu

[2016-11-17 05:31] f2404 commented on #576
For question 1 - it's possible, I've support for that in xfce4-terminal recently: https://git.xfce.org/apps/xfce4-terminal/commit/?id=f784f668abe9dc8a35fa53a2032eddb52ac526a9

[2016-11-17 09:24] egmontkob commented on #576
For question 2 - in Terminix you can have multiple panes (splits), and a single background image spans across them. This was a design decision made by gnunn1. As such, the concept wouldn't quite make sense - what should the background image be if there are multiple splits with different profiles?

In order to allow a per-profile background, we'd need to either redesign so that each split has its o

[2016-11-17 10:13] gnunn1 commented on #576
@egmontkob summarized point 2 well and is in alignment with my own thoughts. The other issue with per profile images is that managing performance and memory may be challenging if we apply the current method of caching the scaled image to each terminal rather then just st the window level.

If you are asking about this in the context of triggers, note that I just added the ability for a trigger to

[2016-11-17 10:27] egmontkob commented on #576
I don't think there'd be a problem here. Sure you'd need to cache it for each terminal, but the overall size of these cached images would the same as the big one now.

From a technical point of view, I think this feature could be implemented without any problems. You _could_ even implement a global _and_ a per-terminal background applied at the same time, one being visible through the other if the

[2016-11-17 12:14] egmontkob commented on #576
That's a valid point!

Sure, it's your call :)

[2016-11-17 12:25] egmontkob commented on #576
The history of this conversation is really messed up :D gnunn1 you accidentally _edited_ my comment and replied there, which makes it look like you said what I said and vice versa :D

[2016-11-17 14:58] luigimolinaro opened #577 "Rename terminal session on remote ssh"
It is possibile to rename automatically when I connect in ssh on a remote host ?
Thank you

[2016-11-17 15:07] f2404 commented on #577
I'm using the following function as part of `~/.bashrc` file; it's changing the title for all vte-based terminals, including terminix.
[code]

[2016-11-17 20:35] gnunn1 commented on #577
I'm in an airport so I'm answering with some brevity, I'll post a longer response tomorrow.

The easiest way to do this other then what @f2404 posted, is to use a trigger along with automatic profile switching. Unfortunately trigger support requires a patched VTE to work and only Arch has an available package for it, otherwise you would have to build VTE manually including the Terminix patches.

S

[2016-11-18 05:21] gnunn1 commented on #544
One other thought, clicking the title in the header bar should directly edit the session name.

[2016-11-18 21:37] #576 closed

[2016-11-19 15:47] #544 closed

[2016-11-19 15:51] gnunn1 commented on #544
I've completed this feature and checked it into master. There are really two parts to this feature as follows:

* You can set a new preference in the Appearance tab to determine what the default title for an application window is. This can use variables ```${appName}```, ```${sessionName}``` and ```${sessionNumber}``` and Terminix will substitute them accordingly.

* You can override the title for

[2016-11-19 16:59] gnunn1 commented on #577
So a more in-depth comment, one of the nicest features of triggers in Terminix is to use them to match content in the terminal output and update the terminal state (hostname, username or directory). You can this user state to drive the Automatic Profile Switching feature in terminix to switch profiles when one of these states have changed.

So let's look at a concrete example. On my system, I have

[2016-11-19 16:59] #577 closed

[2016-11-21 13:26] dbrodie commented on #544
Very cool, thank you!

[2016-11-21 15:04] horosgrisa opened #578 "CTRL + ↓ and CTRL + ↑ error"
CTRL + ↓ and CTRL + ↑ generate ^[[1;5B and ^[[1;5A, but tmux generate ^[OB and ^[OA. This breaks history-substring-search from oh-my-zsh.

[2016-11-21 15:47] gnunn1 commented on #578
This is probably an issue with the VTE rather then terminix, VTE is the underlying GTK widget that actually does the terminal emulation and is also used by gnome-terminal.

Can you try this in gnome-terminal and see if the issue is reproducible there?

[2016-11-21 17:30] horosgrisa commented on #578
In Gnome Terminal also ^[[1;5B and ^[[1;5A.

[2016-11-21 17:31] horosgrisa commented on #578
It's problem with vte

[2016-11-21 17:31] #578 closed

[2016-11-21 17:46] gnunn1 commented on #578
Thanks for the update.

[2016-11-22 09:48] kunamashina commented on #372
is that bash with the nice purple color for the layout?

or you are using something else?

[2016-11-22 23:32] gnunn1 commented on #372
@kunamashina That nice looking prompt is generated by powerline, not terminix.

https://github.com/powerline/powerline

[2016-11-23 13:29] YerisAntonio opened #579 "Quake windows do not spawn on the right monitor"
Currently using the quake mode in 3 monitors on my ubuntu gnome-shell 16.04, I tried the option to make terminix to always show terminal on an specific screen by declaring the number of the screen, but instead it shows up, wherever the mouse pointer is.

Kind regards

[2016-11-23 13:52] tobru opened #580 "Ctrl-Scroll to zoom terminal"
Is it possible to zoom the terminal using Ctrl-Scroll like f.e. in Terminator and many browsers? Would be great as I use this very often.

[2016-11-23 14:58] gnunn1 commented on #580
Not right now but sounds like a good idea to me, I'll have a look at adding it.

[2016-11-23 15:25] gnunn1 commented on #579
So I've tried duplicating this but it is working fine for me on Arch with Gnome 3.22. I run Ubuntu in Virtualbox to debug Ubuntu specific issues and I think Virtualbox supports multiple monitors so let me have a look at that tonite and see what I can find.

[2016-11-23 15:37] gnunn1 opened #581 "Merge Preferences and Profile Dialogs"
I was trolling through gnome-terminal bugs and noticed this nice mockup by Allan Day for merging the Preferences and Profile Preferences together. This would actually be pretty easy to do in Terminix given the current code style.

Mockup:
https://bugzilla.gnome.org/attachment.cgi?id=266172&action=edit

Bug Report:
https://bugzilla.gnome.org/show_bug.cgi?id=722114

[2016-11-23 15:44] edubxb commented on #581
Looks great!

[2016-11-23 21:36] egmontkob commented on #580
Hahaha, see https://bugs.launchpad.net/terminator/+bug/1638607 :D

(Of course it's okay if it's configurable.)

[2016-11-23 22:31] gnunn1 commented on #580
@egmontkob Wouldn't the easy solution to that one be too simply do it if ONLY the control key is pressed and no other modifiers (alt or shift)?

[2016-11-23 22:35] gnunn1 opened #582 "Use flatpak's HostCommand to avoid sandboxing"
When terminix is run within a flatpak, it is sandboxed and does not have the necessary permissions to run as a full terminal application. Christian Hegert was kind enough to point out how the embedded terminal in gnome-builder deals with it by using the flatpak HostCommand DBus message.

This issue is to do the same in terminix so that it can be packaged as a flatpak.

Links that Christian provide

[2016-11-23 22:49] egmontkob commented on #580
Inertial (or kinetic -- are these two the same?) scrolling sucks in the sense that someone (the hardware? some piece of software? which one exactly? I have no clue) keeps emitting scroll events even about a second later that you've actually released your fingers from the touchpad.

Imagine this: You scroll (because that's what you want to do, you want to scroll the history) using two-finger scroll

[2016-11-24 12:03] evfool opened #583 "Save remote connections"
If possible, it would be great if layout saving would also store the remote location (and reconnect on reopen), e.g. in case of ssh into remotes.

[2016-11-24 12:40] YerisAntonio commented on #579
thank you, I use nvidia drivers too not sure if that may have something to do with it.

Regards, very nice app btw

[2016-11-24 14:06] gnunn1 commented on #583
I don't think this is really feasible. If you are using triggers, you can setup terminix so it knows the username and hostname that is being used. In theory, terminix could use that to automatically add an ```ssh username@hostname``` overrride command, however it wouldn't know about any other parameters passed to ssh such as exporting X.

I think the best course of action is just to do it manually

[2016-11-24 15:50] evfool commented on #583
Yes, it makes perfect sense, I didn't know about the session load command option, and if that gets saved with the layout options, then it indeed is a good workaround for my problem. Thanks for the pro tip.

[2016-11-24 15:50] #583 closed

[2016-11-24 23:39] gnunn1 commented on #579
I just tested in a 16.04 Unity VM with two monitors and it works fine there as well. I'm not really sure what to try next. Are you using the Ubuntu Gnome distribution?

[2016-11-24 23:52] gnunn1 commented on #582
Been doing some work on this but turning into a pain in the ***, shelving it until I'm more in the mood or have an epiphany.

[2016-11-25 13:17] YerisAntonio commented on #579
Thats right! I am using the Ubuntu Gnome distribution, this happens at work and at home, same distro.

[2016-11-25 16:02] alexwhitman opened #584 "Titlebar right-click menu"
On Ubuntu in non-CSD windows, right clicking on a title bar will show a menu with options such as "Always On Top" and workspace related entries.
![title-right-click](https://cloud.githubusercontent.com/assets/422013/20630341/492b00ae-b328-11e6-9941-ac55f7756945.png)

Is there any way to make this menu appear when right clicking on the terminix title window?

[2016-11-25 16:48] gnunn1 commented on #584
I'm not sure I have any control of that menu, either the desktop environment or gtk is generating.

Having said that, wouldn't it be confusing on the terminal title because all of those options apply to the window not the terminal.

[2016-11-25 17:01] alexwhitman commented on #584
Termin**ix** title, not termin**al** title. :smile:

It would be useful if it could be added, if only for the "Always On Top" option.

[2016-11-25 17:57] gnunn1 commented on #584
I really need to stop replying to issues on my phone :)

Anyway, this seems to be Ubuntu specific. In Gnome if set disable-csd to true I still get that  menu when I right click the titlebar. So it's something on the Ubuntu side, not sure how worthwhile it is to have a specific Terminix workaround for it?

[2016-11-25 19:07] alex285 opened #585 "[VTE] Dim causes flickering with GNOME Shell OSD controls"
Reproduce.
1. Open Terminix
2. Set Diming
3. Use Shell volume control

Output:
VTE is losing focus and is flickering

Sorry for the dramatic video!
https://www.youtube.com/watch?v=q8sUdp32E6o

[2016-11-25 19:51] gnunn1 commented on #585
See #558, it's an upstream issue since OSD briefly steals focus.

[2016-11-25 19:51] #585 closed

[2016-11-26 03:07] kam3k opened #586 "Quake height and width adjustments have no effect"
I'm running Debian Testing with GNOME Shell 3.22.2 and Terminix 1.3.0. No matter what I set the quake height and width percent to, the quake window is always maximized (i.e., takes up my full screen).

[2016-11-26 03:12] gnunn1 commented on #586
Can you try with the current release (1.3.5) and see if it works as I've fixed a number of quake issues.

[2016-11-26 21:48] gnunn1 commented on #581
I've taken a first cut at this, seems to be working pretty well. There are a few things left to clean up as follows such as renaming a profile should rename it in the list and the title. Anyway, here's a screenshot showing what it looks like so far.

![screenshot from 2016-11-26 16-48-01](https://cloud.githubusercontent.com/assets/9358238/20644119/1fd51796-b3f8-11e6-8825-e138a9ac4622.png)

[2016-11-26 22:58] edubxb commented on #581
How about changing the "Add Profile" button to look like NetworkManager dialog to add/remove networks?

![screenshot](https://cloud.githubusercontent.com/assets/1192339/20644417/e3c35fe2-b433-11e6-90c3-6cb5ac8bca68.png)

[2016-11-26 23:19] gnunn1 commented on #581
Yeah that makes sense from a consistency point of view...

...lol but you could have suggested it before I wrote the code! :)

[2016-11-26 23:20] gnunn1 commented on #581
An in case it's not clear, I'm just joking on that last post.

[2016-11-27 00:07] gnunn1 commented on #581
Done:

![screenshot from 2016-11-26 19-07-26](https://cloud.githubusercontent.com/assets/9358238/20644678/99b7408a-b40b-11e6-810c-c637fe2298d4.png)

[2016-11-27 00:14] gnunn1 commented on #581
OK I think this is basically done. If there are problems, and I'm sure there, just open new issues for them and I will deal with them.

[2016-11-27 00:14] #581 closed

[2016-11-27 00:15] gnunn1 commented on #584
@alexwhitman Since this is an Ubuntu specific issue and I don't have a nice way to easily work-around it, I'm going to close this. If you object or have an idea on how to fix it feel free to re-open and we can discuss.

[2016-11-27 00:15] #584 closed

[2016-11-27 00:57] #580 closed

[2016-11-27 00:58] gnunn1 commented on #580
I've added this as an option which is off by default, thanks for the tips @egmontkob.

[2016-11-27 02:23] gnunn1 commented on #586
Also, are you using X11 or Wayland?

[2016-11-27 02:43] gnunn1 commented on #579
So I just tried Ubuntu Gnome 16.04 in a VM with the latest version from git and it is working fine as far as I can tell.

What version of terminix are you using?

[2016-11-27 02:52] gnunn1 commented on #411
Closing this, I've already addressed one of them and I don't think anyone is going to suddenly popup for #2.

[2016-11-27 02:52] #411 closed

[2016-11-27 12:05] edubxb commented on #581
Amazing, good job!

[2016-11-28 02:10] kam3k commented on #586
I am using X11. I tried the latest release, and the problem persists. By the way, I got myself confused because after installing 1.35 the About dialog still states the version is 1.30.

[2016-11-28 09:14] alexwhitman opened #587 "Preference window lacks window controls on Ubuntu"
The new preference windows lacks window controls (close, minimize) and looks slightly odd with the gap between the pane titles ("Preferences" and "Global" in the image below).

![prefs](https://cloud.githubusercontent.com/assets/422013/20662278/b276ab3e-b54a-11e6-9840-5d9836a6b647.png)

[2016-11-28 12:52] alexwhitman commented on #584
Turns out holding Alt and right clicking anywhere in the window will show the menu.  I don't know if it's possible to capture the right click on the title bar and then fake Alt being pressed before forwarding up the stack?  Appreciate that it's rather hacky and might not be something that you'd want to do even if it is possible.

[2016-11-28 12:52] gnunn1 commented on #587
Thanks, I'll have a look at the window controls. As for the gap, that's likely an issue with the Ubuntu theme, on Gnome the vertical line between the left and right panes looks like a seamless extension across the whole window.

![screenshot from 2016-11-26 19-18-39](https://cloud.githubusercontent.com/assets/9358238/20668984/9b70b1ec-b53f-11e6-8b18-fce819be4994.png)

[2016-11-28 13:00] gnunn1 commented on #584
Yeah, I don't think I want to program something like that it in though I do have a few workarounds for Ubuntu in place for other things.

Maybe it's just me, but I'm hoping at some point Ubuntu works out a way to support GTK applications properly without forcing third party authors to work around their issues. None of these issues are major on their own, it's just as a collection they get irritati

[2016-11-28 20:44] zeten30 commented on #586
Hi, I'm experiencing the same thing with 1.3.5, but only under Wayland/Gnome Shell 3.22/Fedora 25. Secondary effect is that width slider is not visible on Quake tab in preferences. Window seems to start maximised, it can be resized using shortcut, but it doesn't survive next visibility toggle.
Works perfect under X11.

[2016-11-28 20:56] gnunn1 commented on #586
@zeten30 Unfortunately there are significant differences in quake mode between X11 and Wayland, Wayland has a number of limitations that are difficult to work around. This is why I was originally very reluctant to implement it. Changing the width isn't supported under Wayland because as soon as you do the WM starts positioning the window where it thinks it should go instead of at the top as reques

[2016-11-28 20:57] gnunn1 commented on #586
Actually, just having a thought to myself, I wonder if it be worth looking at forcing terminix to run as an X11 window under Wayland when quake mode is active.

[2016-11-28 22:27] aastronaut opened #588 "Mirroring behavior with every new terminal split"
every split creates a mirrored terminal, instead of a new one - input becomes always synchronized (Synchronize Input is *un*checked).
was looking in all settings (Preferences and Profile) and couldn't find any option.
neither info on this behavior in the wiki nor in the filed issues.

...running zsh, installation from the Ubuntu PPA
[code]

[2016-11-28 23:07] egmontkob opened #589 "Doesn't properly release VTE, causing mem and FD leak"
Terminix and Terminator suffer from this same bug, so it's pretty much a copy-paste of https://bugs.launchpad.net/terminator/+bug/1645500. Other VTE-based terminals I've tried (gnome-terminal, xfce4-terminal, mate-terminal) don't have this issue.

---

As one uses Terminix, it opens up to 3 files (and immediately unlinks them) per VTE. These files contain the scrollback data.

When a terminal is c

[2016-11-28 23:35] gnunn1 commented on #588
Hmmm, that's a weird one, I'm not sure what is happening here. Are the contents mirrored or is it actually a new terminal. i.e. if you do an ```ls``` on one terminal, split, do you see the results of ```ls``` on both the original and the new one?

[2016-11-29 00:06] #587 closed

[2016-11-29 00:08] gnunn1 commented on #587
@alexwhitman I've adjusted the colors of the headerbar split to look better, let me know what you think. If you aren't satisfied with them, you could try playing with the GTK Inspector to adjust them to see if you can achieve a better result. My CSS and color foo isn't the strongest :)

[2016-11-29 00:22] gnunn1 commented on #589
Gnome terminal is doing something with fd that it sets up manually, my C foo is fairly weak so I'm going to need some time to decipher it. But if you look here you can see where it sets it up:

https://github.com/GNOME/gnome-terminal/blob/master/src/terminal-screen.c#L1279

and on the spawn_async where it sets up a free function when it is destroyed:

https://github.com/GNOME/gnome-terminal/blob/m

[2016-11-29 00:24] aastronaut commented on #588
`ls` in either one becomes `ls` in all splits. every input character is inserted into all splits as i type.
funny enough, with Synchronize Input checked, `ls` becomes even `llss` in two splits, `lllsss` in three splits etc.

[2016-11-29 00:50] gnunn1 commented on #589
Although xfce is not doing anything fancy so it must be something else, will look into it further.

[2016-11-29 06:43] kunamashina opened #590 "dub build --build=release error"
When I run `dub build --build=release error` I get the following error at the end
[code]

Someone help please

[2016-11-29 07:21] zeten30 commented on #586
@gnunn1 I know that making things working under Wayland might be tricky. That's why I'm still using X11 instead. Forcing XWayland for quake mode can be be a workaround.

@kam3k In my case, after experimenting with Wayland, I had to restore - under X11 - window state from maximized to normal via Super + down arrow shortcut. Eventually set gsettings values from terminal. No issues with quake mode wh

[2016-11-29 09:08] egmontkob commented on #589
That's a different file descriptor. The ones I'm referring to are VTE's internal business, not exported towards the container app via any API or whatsoever. (And we've changed VTE's behavior around these quite a few times without the container apps noticing it or the API changing in any way.)

These file descriptors are just the easiest to see symptoms of the widget not being released. Another sym

[2016-11-29 09:38] aastronaut commented on #588
problem solved - had byobu installed and installed it before terminix, this made my new split use the same tmux instance.

two solutions:
- the deinstallation of byobu fixed this behavior (obviously)
- a reinstallation of byobu now asks with a prompt on every new split what to do -> tileception

i feel a little stupid now
thanks for the help!

[2016-11-29 10:01] kunamashina commented on #590
you need to install libX11-devel library in order to solve this error

[2016-11-29 10:08] gnunn1 commented on #588
Glad you find the issue, thanks for letting me know what it was.

[2016-11-29 10:08] #588 closed

[2016-11-29 10:09] kunamashina commented on #590
./install.sh succeeded but with graphical interface bug

http://imgur.com/Jmwptth

Title bar has missing background and icons for adding tiles right or bottom also have no icons

Please help to resolve this issue

[2016-11-29 12:50] gnunn1 commented on #590
What's the output of install.sh look like? I suspect the resource file isn't being compiled as it sometimes required the installation of s specific package on some distribution.

[2016-11-29 13:52] alex285 opened #591 "Quit Terminix kills background window only"
To reproduce

1 Open two Terminix instances, A and B
2. On Terminix A run a long run task, for example "htop"
3. On Terminix B use quit menu

Output:
Terminix display the "There are processes still running, close anyway?" dialog, but for the Terminix A, when we are on Terminix B

If we select close, it will close Terminix A, but it will leave Terminix B open.

[2016-11-29 13:57] alex285 commented on #591
Are we sure we want "Quit" to close all instances? I know that is GNOME HIG but some applications get exceptions. For example GNOME Terminal and GNOME Calculator, that "Quit" only closes current window.

[2016-11-29 14:57] egmontkob commented on #591
FYI: A bit of gnome-terminal discussion (with no conclusion as far as I recall): https://bugzilla.gnome.org/show_bug.cgi?id=766081

[2016-11-29 15:02] f2404 commented on #591
Another FYI: In xfce4-terminal, the menu entry is called "Close Window", and it closes current window only. There's no option to close all terminal windows.

[2016-11-29 15:47] gnunn1 commented on #589
As referenced above, I've opened an issue with GtkD along with a reproducer that demonstrates what I hope is causing the issue. Sometimes these things are multi-facted though and fixing this might just get me to the next round of debugging. Anyway, let's give the GtkD maintainer a few days to have a look at it and go from there.

[2016-11-29 15:49] gnunn1 commented on #591
Generally I'm the camp that yes it should close all windows. Having said that, the dialog could certainly be improved such as showing a list of all windows and processes running that makes it easier for the user to decide.

So not closing all windows is the bug IMHO.

[2016-11-29 23:56] gnunn1 commented on #589
The GtkD maintainer responded, while that does look like a leak the workaround I'm using of explicitly calling destroy seems to work fine, at least in my reproducer. I'm getting a bit stumped, I enhanced my reproducer to use the VTE widget and of course everything works perfectly including cleaning up the fd.

[2016-11-30 07:33] zeten30 commented on #586
I've tested quake mode under Wayland, but forcing x11 backend - 'GDK_BACKEND=x11 terminix -q'. It works as expected. Terminal is showing with proper width.

[2016-11-30 13:56] gnunn1 commented on #589
Did some thinking last night and made some progress before work this morning in terms of understanding the possible issues. I also found a potential bug in GtkD that prevents an object from being de-referenced to 0 if the destroy() method is called which I'm doing here and have updated the GtkD issue accordingly.

[2016-11-30 15:42] gnunn1 commented on #589
I've checked in a workaround that fixes the issue by simply removing the VTE widget manually from it's container and setting all references to null. While this fixes the VTE, there is still the issue of the Terminal object in terminal.d not being freed when removed from the session.

The terminal object refCount is 1 so it's not a case of GTK holding a reference somewhere, either there is a refere

[2016-11-30 17:24] gnunn1 commented on #586
@zeten30 Thanks for trying that out, could be an interesting option for folks.

@kam3k I'm hoping to work on this more in the next few days, I'm a bit distracted at the moment with another issue which has a higher priority. I did try installing Debian Stretch in VirtualBox, unfortunately it doesn't boot after installation but just constantly flashes text about intel rapi. Need to look into this so

[2016-11-30 18:12] kam3k commented on #586
@gnunn1 Thanks for your efforts! Let me know if there is anything you'd like me to test on my machine.

[2016-12-01 23:50] gnunn1 commented on #586
@kam3k So I got Debian stretch going in virtualbox, trick was to install lightdm, and attempted to reproduce this with no luck, it worked perfectly fine for me. Do you have anything unusual installed on your system in terms of window managers, gnome-shell extensions, etc that could interfere with things?

[2016-12-02 02:51] kam3k commented on #586
@gnunn1 I am now noticing some very odd behavior. For example:

- I've set a the profile of the quake window to be different than my "main" terminix window (I have one window I keep open all the time, and I use the quake window as a "scratch" terminal). Sometimes the profile of the quake window resets to the same as my other open window, sometimes it doesn't.

- The height and width sporadically s

[2016-12-02 02:55] gnunn1 commented on #586
How are you setting the profile for the quake window, are you passing it in with the --profile command switch along with --quake? If so I wonder if you are hitting an issue with that as I don't believe I tested this explicitly.

If you are doing this, try using just the --quake switch by itself and see if you get more consistent behavior.

[2016-12-02 02:57] kam3k commented on #586
I just pass the --quake switch. To set the profile, I right click on the quake window when it is open and choose the profile from the context menu.

[2016-12-02 02:59] gnunn1 commented on #586
Well I'm getting a bit stumped, if you are up for it I'll build you a debug version from master that you can try that includes tracing. Hopefully it will shed some light on what is going on.

[2016-12-02 03:02] kam3k commented on #586
No, I'll spare you the trouble. I don't mind just using the window full screen for the time being. Seeing as you cannot reproduce it, it may just be something peculiar with my set up. Thanks for your time, and for your terrific application. Feel free to close this issue.

[2016-12-02 03:03] gnunn1 commented on #586
Ok thanks, if you want to revisit the issue just reopen it.

[2016-12-02 03:03] #586 closed

[2016-12-02 03:05] gnunn1 commented on #579
@yerisantonio Are you still having this issue, if so could you let me know what version of terminix you are using?

[2016-12-02 08:57] alexwhitman opened #592 "Terminix doesn't start without trace"
Since https://github.com/gnunn1/terminix/commit/2e51f599cb76832c07ff8361c17311d5811e0d0f was merged, terminix no longer starts for me unless it was compiled with `--config=trace`.  I've tried both debug and release builds, both fail to start unless trace is enabled.

Reverting to the previous commit works as expected without trace.

[2016-12-02 12:58] gnunn1 commented on #592
It seems to be working fine for me here:

[code]

Can you post the errors you are getting?

[2016-12-02 13:06] alexwhitman commented on #592
I've just reset to the latest HEAD and rebuilt and now it's working.  Slightly odd as I'd rebuilt a number of times previously where things weren't working.

There weren't any errors, everything built and installed fine but running `terminix` would just immediately exit.  Weird but working now so I'll close the issue.

[2016-12-02 13:06] #592 closed

[2016-12-02 13:53] gnunn1 commented on #592
That is weird, appreciate if you could keep an eye on things as a sanity check as I'm trying a few different things to address that memory leak issue.

[2016-12-02 17:03] gnunn1 commented on #590
Closing, no reply from OP

[2016-12-02 17:03] #590 closed

[2016-12-02 19:48] YerisAntonio commented on #579
yup, let me check my computer and be back to you

[2016-12-02 21:25] loox- opened #593 "touchscreen support"
It would be very nice if terminix could support support basic touchscreen gestures, like long-press and swipe. This would make it the first terminal usable on linux tablets and 2in1 devices.

[2016-12-02 21:28] gnunn1 commented on #593
I don't own a touchscreen device so it's difficult for me to do unless someone wants to buy me one. I'm happy to accept PRs for this.

[2016-12-02 22:29] brittyazel opened #594 "Quake and Application Menu issue"
When you have the "Show Application Menu" toggled off in Tweak Tool, a little icon is added into the top left hand corner of your app with a popover effect showing those Application Menu options. This works great it 'normal' Terminix, but in Quake mode it leaves a transparent single line at the top of the window with a text button saying "Application" on the far left side.

![screenshot from 2016-

[2016-12-03 02:58] gnunn1 commented on #589
Made some good progress on this tonight, I'm not 100% sure but my style of handling events is causing a dangling reference to the delegates. I've been meaning to switch over to D's std.Signals mechanism for awhile this gave me an excuse to do so. With this change the Session object is being GC'ed correctly, still having an issue with the terminix Terminal (not VTE) object though but I'll look into

[2016-12-03 14:07] egmontkob commented on #593
See also https://bugzilla.gnome.org/show_bug.cgi?id=769696 -- I don't have a touchscreen device either so the VTE bug will probably also remain unfixed for quite a while.

[2016-12-04 00:16] #589 closed

[2016-12-04 00:24] gnunn1 commented on #589
OK this seems to be fixed now, as is typical with GC and reference issues there were several things that needed to be cleaned up:

1. The remove function in gx.util.array needs to set the element to null before removing it, this is because in D remove simply generates a slice pointing to the original storage. Since the original allocation still had a reference to the object it never got GC'ed.

2.

[2016-12-04 01:03] gnunn1 commented on #594
I'll have to look into this a bit more, the obvious solution of removing ```menu``` from gtk_decoration_layout isn't doing the trick.

[2016-12-04 06:32] egmontkob commented on #589
Thanks a lot for this amazing investigation!

In the mean time I'm wondering if there's anything we could/should do in VTE to improve the situation (including getting rid of the GC delay).

Gtk+'s documentation is quite clear that closing FDs should happen in finalize(), not even in dispose() or similar. Especially with GC I'm not sure why. Maybe we should ask Gtk+ devs for best practice.

We coul

[2016-12-04 06:52] egmontkob commented on #589
There's a security side of the story as well. The encryption key is destroyed when the VTE widget is finalized. That is, this is the moment from which someone getting access to the entire snapshot (RAM and disks) of the computer has practically no chance of recovering the scrollback data. I think users expect to happen this as soon as they close the terminal.

[2016-12-04 14:40] #594 closed

[2016-12-04 14:52] gnunn1 commented on #589
In general in languages with non-deterministic GC it is very common for resources to have some sort of ```close``` method on resources. My background is in Java and you get pretty used to closing resources like JDBC connections manually. So my two cents is yes, this would be very helpful.

The other option is that most GC languages allow the developer to force a collection, I tried that here but l

[2016-12-06 17:18] stuaxo opened #595 "Copy to paste buffer in colour"
It would be great if there was a way to preserve ansi colors when I copy and paste into something that supports it (e.g. libreoffice / google docs).

Use case is, when I'm copying something that has been logging errors / warnings, it's a lot easier to find what I need.

I guess this would need to construct html or rtf in the paste buffer for this to work.

[2016-12-06 18:05] f2404 commented on #595
To me, it rather looks like a feature request for vte, not for a terminal app. @egmontkob?

[2016-12-06 18:24] gnunn1 commented on #595
https://bugzilla.gnome.org/show_bug.cgi?id=365121

[2016-12-06 18:26] egmontkob commented on #595
Yup, vte. Short summary: It's actually implemented, but enabled for unstable releases only. Grep vte's source for HTML_SELECTION.

[2016-12-06 18:27] egmontkob commented on #595
I guess it should be controllable via an API, and in turn, apps could introduce a profile pref.

[2016-12-06 18:37] gnunn1 commented on #595
Sounds like a job for @egmontkob :)

[2016-12-06 20:00] snaggen opened #596 "Option to hide headerbar for Quake mode"
it would be nice to have an option to use the quake mode with a minimum of window decorations (i.e. no headerbar) to have a clean non-intrusive experience.

[2016-12-06 20:02] snaggen opened #597 "Quake mode is not always on top under Wayland"
My understanding is that the Quake mode would imply that the terminal is always on top. However, it seems that this doesn't work.

[2016-12-06 22:57] stuaxo commented on #595
That's awesome it's already in VTE, I rated the chance of this coming together fairly low when I opened the ticket if I'm honest !

[2016-12-06 23:43] strycore opened #598 "Option to open additional terminals in current directory"
I've recently switched from Terminator to Terminix and so far I love it!
However I'm missing one feature from Terminator that I find very handy: when new terminals are created the directory is kept from the Terminal it was spawn.
For example if I'm in ~/Projects/myproject and open a new split terminal, the newly created terminal will also start in ~/Projects/myproject.

Would you consider implemen

[2016-12-07 01:55] gnunn1 commented on #598
Terminix does this as well but relies on the VTE to report the current directory. Some distributions don't configure the VTE correctly to do this but fortunately it is easily fixed. You should have gotten a dialog warning you about this when you started Terminix but if not have a look at this page that provides background on the issue and how to fix it.

https://github.com/gnunn1/terminix/wiki/VTE

[2016-12-07 01:57] gnunn1 commented on #597
I'm setting the flag for this, might be a Wayland issue. I'll have a look into it.

[2016-12-07 01:59] gnunn1 commented on #596
I'll have to think about it, I'm not overly keen on it at first glance. How do others feel about this?

[2016-12-07 02:06] strycore commented on #598
Thanks a lot, following the instructions solved the problem!

[2016-12-07 02:06] #598 closed

[2016-12-08 05:18] PombaM commented on #596
I actually agree with @snaggen. Take a look for yourself:

Guake efficiently implements the spaces available to give user more screen -
![selection_001](https://cloud.githubusercontent.com/assets/11157420/20998370/6829701e-bd35-11e6-9b8d-69b9701c0e50.png)

Terminix has this unused space, wasting screen space -
![selection_002](https://cloud.githubusercontent.com/assets/11157420/20998376/6ca6b44e-b

[2016-12-08 13:26] gnunn1 commented on #596
@PombaM Doesn't guake though have the tab bar at the bottom which isn't being shown in your image which consumes the same amount of space as the headerbar?

My concern here is without the headerbar is you lose a few things like seeing the number of sessions that are open, the number of pending notifications, terminal title (assuming you have terminal titles turned off), etc.

[2016-12-08 20:16] gnunn1 commented on #591
I've done an initial iteration of my design. Essentially a new dialog gets shown when you attempt to close an application, window, session or terminal if that object has any running processes in the tree. The new dialog shows the processes that are still running and let's you cancel the close.

Note I'm not 100% happy with the look of the dialog yet, right now I'm showing the titles of the objects

[2016-12-08 20:59] gnunn1 commented on #579
No response from OP, closing.

[2016-12-08 20:59] #579 closed

[2016-12-08 21:01] gnunn1 commented on #595
Keep in mind that the last activity on that VTE bug report is April 2015, I'd say the chance of it happening anytime soon is pretty low.

I'm closing this issue since it requires upstream to make this available.

[2016-12-08 21:01] #595 closed

[2016-12-08 21:04] gnunn1 commented on #597
I'm not able to reproduce, is there any application you notice in particular that it fails to stay on top for?

[2016-12-08 21:13] #591 closed

[2016-12-08 21:15] gnunn1 commented on #591
I wrapped the titles in ```Window (..)``` and ```Session(..)``` and am reasonably satisfied with the result. I've closed this issue, however if someone has ideas on how to make this look better I'm happy to take the input.

[2016-12-08 22:48] Naatan opened #599 "How do you access preferences?"
I seem to have no way of accessing preferences. I found a youtube video that does it:

https://youtu.be/zGR_J3-xxX0?t=57

But I don't have that button available to me, this is what my window looks like:

![image](https://cloud.githubusercontent.com/assets/278649/21030809/6f802626-bd6e-11e6-87dc-8bafedaeb6b8.png)

Is this intended? I've not had any issues with other gnome apps, is this some sort of

[2016-12-08 22:49] Naatan commented on #599
Nevermind, the application menu was accessible from the top bar for me.

[2016-12-08 22:49] #599 closed

[2016-12-09 00:59] alex285 commented on #591
Perfect!

[2016-12-09 02:00] alex285 commented on #591
@gnunn1 Is there any reason on the dialog to explicit need to choose what session to close? For example by default close all. But if we select 2/3, will quit only these 2

[2016-12-09 02:09] PombaM commented on #596
Sorry if it feels like i am comparing Terminix to Guake but i feel like Guake is the only thing that comes close to Terminix!

To address you question, Guake does have  "tab bar" but it also has the option to hide it, so if we could have an option to hide the headerbar we could have the best of both world but i also see your concern so we could either have option to hide headerbar and/or reduce th

[2016-12-09 02:53] gnunn1 commented on #591
The selection is meaningless, it either closes everything or closes nothing. If it's not doing that then there's a bug, please open an issue.

[2016-12-09 02:53] gnunn1 commented on #596
Ok thanks, I'll see what I can do.

[2016-12-09 06:59] snaggen commented on #597
The steps I have to reproduce:
1. Open Terminix as a regular window and maximize the window (by draging it to the upper edge).
2. In this terminal window, type "terminix -q"
   * A quake style terminix opens on top as expected.
3. Click in the full screen terminal window.
   * The full screen terminal is now raised above the quake style terminal

In the scenario above, I expect the quake style win

[2016-12-09 07:10] snaggen commented on #597
Looking at source/gx/terminix/appwindow.d it seems that the relevant code is commented out
            /*
            case SETTINGS_QUAKE_KEEP_ON_TOP_KEY:
                if (isQuake) {
                    bool keepOnTop = gsSettings.getBoolean(SETTINGS_QUAKE_KEEP_ON_TOP_KEY);
                    setKeepAbove(keepOnTop);
                    //setSkipTaskbarHint(keepOnTop);
                    //se

[2016-12-09 07:19] snaggen commented on #597
I'm testing this on Fedora 25, Wayland session with
terminix-1.3.5-1.fc25.x86_64
Just so you know the versions I'm using.

[2016-12-09 07:30] snaggen commented on #596
@gnunn1 You have valid points...
My view comes from my use of quake style terminals I guess... I use it a temporary terminals, to open VPN:s, and do quick commands and things like that. I don't have long going sessions in there... for that I use regular terminals. So I have never had any use for session indicators and notification information, but I see your point.
For a quake style terminal I sug

[2016-12-09 14:03] gnunn1 commented on #597
@snaggen Thanks for having a look, that code is commented out as I was thinking about making it a configurable option but decided against it. This line is where it is actually set, in the constructor:

https://github.com/gnunn1/terminix/blob/master/source/gx/terminix/appwindow.d#L1340

I'll try using your steps to reproduce.

[2016-12-09 14:04] gnunn1 commented on #596
I'm going to see what's involved with adding an option to hide it when in quake mode.

[2016-12-09 14:57] gnunn1 commented on #597
I can duplicate this issue using your steps so thanks for that, I suspect that's a gnome/mutter/wayland bug but I'll investigate more.

[2016-12-09 15:38] gnunn1 commented on #597
So I asked about the setKeepAbove on IRC and was told that "wayland doesn't allow clients to decide on neither the position nor stacking of their surfaces so this is no-op on wayland"

Looks like this is not fixable by me, sorry. If you are aware of a gnome application that is using keep above on Gnome/Wayland successfully, re-open this issue and I'll have a look at what technique they are using.

[2016-12-09 15:38] #597 closed

[2016-12-09 17:50] #596 closed

[2016-12-09 17:51] gnunn1 commented on #596
As requested, I have added the feature. Any problems with it just open a new issue.

[2016-12-09 17:53] gnunn1 commented on #25
I've updated the version tag to 1.4.0-beta as I'm planning on pushing out a new release in the next week or so. Testing and localization updates would be very much appreciated.

[2016-12-09 17:57] gnunn1 commented on #480
Re-opening this issue, looks like Terminator is making some progress on this and it doesn't require VTE work. If someone wants to take this work on let me know.

https://bugs.launchpad.net/terminator/+bug/1301605

[2016-12-09 18:27] Naatan commented on #114
Why not add a pref that makes the session list permanently docked (visible) without the preview? In a way they would become tabs, but most importantly it would give instant access to them rather than have them be 2 clicks away.

[2016-12-09 18:36] gnunn1 commented on #114
@Naatan The big thing is I'm not interested in maintaining multiple UI patterns, i.e I'm not going to support the sidebar and something other way to do things (tabs, docked list or some other design). It's just too much work trying to maintain a consistent feature set across two different UI paradigms.

Having said that, it's not like I'm married to the current sidebar design has the ultimate solu

[2016-12-09 18:39] Naatan commented on #114
@gnunn1 honestly I would settle just for having it on-screen permanently (docked). Which wouldnt require any new UI patterns aside from the docking part. My main annoyance is having to click twice to do something that should only take one click. Sure you could argue for keybings but then I might as well be using tmux :)

Basically the problem I'd like to see solved is having all my terminal sessio