[2017-02-14 15:41] #763 closed

[2017-02-14 15:43] gnunn1 commented on #762
That's because I'm using a ScrolledWindow with overlay scrollbars in GTK 3.22, this is the normal behavior of GTK and Adwaita to indicate there is additional content.

Having said that, I think this should be disabled in a terminal. It can be done with a CSS style, I'll have a look over next weekend.

[2017-02-14 16:16] egmontkob commented on #762
Once we used to have https://bugzilla.gnome.org/show_bug.cgi?id=757448 ... pretty much the same from a user's point of view, but could be a totally different technical story.

Just to be sure, @otarassov could you please confirm you have vte >= 0.42.3 so that you already have the aforementioned issue fixed?

[2017-02-14 16:22] otarassov commented on #762
I have GTK ARC with  shell ARC installed but tried changing to Adwaita and still the same thing.

Here are some versions that I failed to give:

OS: fedora25

dnf list installed | grep terminix
`terminix.x86_64`                        1.4.9-0.1.fc25           @heikoada-terminix`

gtk-launch --version
`3.22.7`

echo $VTE_VERSION
`4601`

Thanks,

[2017-02-14 16:36] phw opened #764 "[Bookmarks] Use light icon on dark theme"
I Use the GTK Arc theme, and the dark bookmark icons look strange there, light icons would fit better.

![bildschirmfoto vom 2017-02-14 17-35-48](https://cloud.githubusercontent.com/assets/29852/22938437/0eb22c60-f2dc-11e6-989b-ea4cf4ed6f7a.png)

[2017-02-14 16:40] bil-elmoussaoui commented on #764
It's due to this https://github.com/gnunn1/terminix/blob/445183dbb39849cd9f40d86d1981e284f531c26a/source/gx/terminix/bookmark/manager.d#L612

[2017-02-14 16:41] phw opened #765 "[Bookmarks] Path bookmark forgetting path"
If I add a new bookmark for a path, select a directory and save it, the path is actually empty when editing the bookmark again. Also when using the bookmark this just results in an empty `cd ` command without path being entered. Furthermore when I edit it and select a path again, the OK button stays disabled.

See the following animation

![peek 2017-02-14 17-39](https://cloud.githubusercontent.co

[2017-02-14 16:42] phw commented on #764
Is it possible to explicitly set the color of the symbolic icons?

[2017-02-14 16:43] gnunn1 commented on #764
@phw the symbolic icons should adjust their color automatically, I'm probably doing something wrong. I'll have a look into it.

[2017-02-14 16:44] gnunn1 commented on #765
Thanks for testing this, I'll have a look at it but probably not until the weekend as I have a hard deadline for Friday for something for work.

[2017-02-14 16:45] phw opened #766 "[Bookmarks] After selecting a bookmark focus should switch to terminal"
When I am inside a terminal and select a bookmark, the corresponding command gets pasted into the terminal. But then I have to click on the terminal again before I can press enter. It would be more convenient if the focus would immediately switch back to the terminal.

[2017-02-14 16:46] phw commented on #765
No problem, just testing. Are you ok with me adding separate issues for separate things I find, or are you more happy with a "bookmarks bugs and improvements" issue?

[2017-02-14 16:51] bil-elmoussaoui commented on #764
@gnunn1 As far as my knowledge on Gtk, Pixbuf is just the current image even if it's with a -symbolic suffix. The code i pointed should return an array of Gtk.Image instead of Pixbuf which will fix this issue :)

[2017-02-14 17:08] gnunn1 commented on #764
@bil-elmoussaoui Thanks for the tip, I'll have a look.

[2017-02-14 17:10] gnunn1 commented on #765
I'm OK with separate issues, this way I can tie commits to issues. I really appreciate you spending some time testing this out as I was a bit worried about pushing out the next release with no one trying this functionality besides myself.

[2017-02-14 17:11] phw opened #767 "[Bookmarks] When adding bookmarks add them to selected folder"
When you add a bookmark while an existing folder is selected, it would be nice if the bookmark would be added directly as a child to this folder.

[2017-02-14 18:12] cfviotti opened #768 "Cannot load a session json file when passing --session parameter inside a custom .desktop file"
I'm on Ubuntu Gnome 16.10 and having issues while creating my own custom terminix desktop file for my own session layout.
If I run terminix directly in a command line using --session path/to/session/file.json it works just fine. But using the same command in the "Exec" field of a custom .desktop file it just loads the default session. Note that this wasn't an issue on 16.04, but not really sure if

[2017-02-14 18:32] bil-elmoussaoui commented on #764
@gnunn1 i took a closer look, and it seems that you can load symbolic icons as Pixbuf using http://api.gtkd.org/src/gtk/IconInfo.html loadSymbolicForContext. I tried to implement this, the context part wasn't hard, i just didn't figure out how to use the out bool wasSymbolic
Hope this will help!

[2017-02-14 18:40] cfviotti commented on #768
Ok, just realized I can't use the tilde expansion (~) to look for my /home/user folder inside a .desktop file. You need to explicitly set the whole path.

[2017-02-14 18:40] #768 closed

[2017-02-14 18:54] gnunn1 commented on #764
You just need to declare a bool first and pass it, i.e.

[code]
Of course you need to get the theme colors for fg, success, warning and error. That can be done with StyleContext.lookupColor.

[2017-02-14 18:55] gnunn1 commented on #768
Thanks for the update, glad you figured it out.

[2017-02-15 09:11] phw opened #769 "[Bookmarks] Bookmarks don't get saved"
For me bookmarks don't get saved at all. If I add bookmarks they are visible, I can also use them. But once I completely close Terminix and open it again it is all gone. I also can't see anything bookmark related in gconf.

[2017-02-15 09:26] phw commented on #769
Ok, this is a bit strange. It works if I compile Teriminix from Git with dub and run it locally from the Git directory. But I have also installed terminix-git from the AUR system wide (just updated it, so it is usig same git revision as my local test).

Behavior is the following (always assuming Terminix is completely closed before opening it):

- Running Terminix locally from inside the git repos

[2017-02-15 09:51] phw commented on #769
New results:

The terminix-git version compiled with ldmd crashes with a core dump when closing if I have also edited bookmarks in this session. Compiled with traces enabled, here is a trace of me starting terminix, opening session, adding a bookmark folder, closing settings and then closing the terminal:

https://gist.github.com/phw/e241a2d6effe7fd9668fb21debfd45f9

I also tried to compile with l

[2017-02-15 12:17] phw opened #770 "Escaping --command parameter"
In Terminix 1.4.2 the following works:

    terminix -e 'sh -c "ls; read"'

It will open a Terminix terminal and execute the command inside the shell context.

In current git master trying to open this nothing happens. Just calling `terminix -e sh` however still works.

[2017-02-15 12:20] phw commented on #770
Just found out that swapping single and double quotes works:

    terminix -e "sh -c 'ls; read'"

In would also expect this to work, but it fails:

    terminix -e "sh -c \"ls; read\""

In terminix 1.4.2 all three variations work.

[2017-02-15 12:29] phw commented on #766
Not sure what I did yesterday, but I can't reproduce this one.

[2017-02-15 12:29] #766 closed

[2017-02-15 12:35] f2404 commented on #770
Probably broken by this commit: https://github.com/gnunn1/terminix/commit/223eb13c3a283a40cfc61423e9a0f4b3180007ef

[2017-02-15 12:58] phw commented on #770
Probably, yes. And that gives us two more variations that should actually work now, but don't:

    terminix -e sh -c "ls; read"
    terminix -e sh -c 'ls; read'

[2017-02-15 14:09] #765 closed

[2017-02-15 14:10] gnunn1 commented on #770
That commit was to fix #723, I think I need to revisit this whole topic but look at it holistically. Up to now I've been dealing with the issues around this too piecemeal.

[2017-02-15 14:13] gnunn1 commented on #769
The issue with LDC and the ```std.regex.internal.parser``` error should be addressed by this line in dub.json:

[code]
I think terminix-git uses the autotools which should be doing the same thing, however if you want to try compiling with dub with ldc do this:

[code]

[2017-02-15 14:34] britram opened #774 "Crash on attempt to call up Preferences"
Cloned master, built from source on current debian/jessie, Terminix appears to work well under standard Gnome 3 desktop until I choose Preferences... from the application menu, which yields the following crash:

[code]

I suspect this is something silly with my environment (wrong library version somewhere?) but shouldn't this fail to build in that case?

(and many thanks for Terminix: it appears t

[2017-02-15 14:37] gnunn1 commented on #774
What version of GTK are you using, looks like I'm calling a newer API that isn't available in your version.

[2017-02-15 23:00] #762 closed

[2017-02-15 23:15] #764 closed

[2017-02-15 23:28] #767 closed

[2017-02-15 23:28] gnunn1 commented on #769
Note that bookmarks are saved to ```~/.config/terminix/bookmarks.json```

[2017-02-15 23:32] netroby opened #775 "1.4.9 beta coredump"
[code]

[core.zip](https://github.com/gnunn1/terminix/files/778646/core.zip)

[2017-02-15 23:33] gnunn1 commented on #769
I also realized I wasn't creating the path if it doesn't exist, I've checked in a change to do that so maybe this will fix it.

[2017-02-15 23:35] gnunn1 commented on #775
How are you installing the archive, did you just unzip it? If so, you need to compile the schema:

[code]

[2017-02-15 23:39] gnunn1 commented on #774
Are you in GTK 3.14 or earler as the method that is failing looks to be available since 3.16

[2017-02-15 23:48] netroby commented on #775
oh. i will have a try.

[2017-02-15 23:50] netroby commented on #775
seems not working.
[code]

I am using ubuntu mate 16.04.
installed terminix from ppa , working well .but the 1.4.9 beta not working

[2017-02-15 23:51] netroby commented on #775
Compiled the schema. and it works.

[2017-02-15 23:53] netroby commented on #775
another isssue. I am using ubuntu 16.04 mate desktop. the terminix window can not resize. even i put mouse pointer at the border of the terminix window.

Resize windows will be a very common action in daily using. so if possible. take a look ?

[2017-02-16 00:04] #774 closed

[2017-02-16 00:04] gnunn1 commented on #774
Added a check for GTK 3.16

[2017-02-16 00:05] gnunn1 commented on #775
Is this the normal Terminix window or a quake window? I don't have any issues with a normal window on Gnome.

[2017-02-16 00:07] gnunn1 commented on #775
Also, try going into Terminix Preferences, Appearances and set the window style to "Disable CSD" to see if it helps.

[2017-02-16 02:23] netroby commented on #775
Magic, after disable csd, it works.....
Excellent works.

[2017-02-16 02:25] netroby commented on #775
Well . but i can not open perference now.... the top right button seems not list preference menu.

[2017-02-16 02:31] gnunn1 commented on #775
I'd suggest opening an issue with the Mate folks about the best way to get Terminix working in their DE. I don't use Mate so it's difficult for me to provide advice. If you post a URL to the issue here I will keep an eye on it.

[2017-02-16 02:38] netroby commented on #775
thanks. i guess they will don't care about it .

[2017-02-16 02:38] #775 closed

[2017-02-16 08:09] phw commented on #769
No, it is not the path, since the path and file exist and also get loaded.

I tested again with dub and building with ldc2, terminix crashes in this case when serializing the bookmarks. I ran it with gdb and backtrace, see output at https://gist.github.com/phw/b07e130073dac3def9dff13f4af4ee6e

[2017-02-16 08:46] nafg opened #776 "Feature Request: notify on activity/silence"
Konsole and others have this. When triggered, it waits for the specified condition and shows a desktop notification.

This is useful if I'm waiting for some work to finish in the terminal and want to do something else meanwhile in a different window. This way I'll know when it's done (or may be done) without having to keep switching back to Terminix.

On activity: For example, there's some task ru

[2017-02-16 09:33] phw commented on #776
Notifications on command finished is already available, but requires a patched VTE. See the FAQ on notifications at https://github.com/gnunn1/terminix/wiki/FAQ#notifications

Also there is the "triggers" feature, which may be useful for you. Among other actions it can trigger a desktop notification based on certain output.

The notification if there is a process running but no output for a certain

[2017-02-16 10:14] nafg commented on #776
Notify on activity != matching output.
The output appears often and most of the time I don't want to be notified.
However on occasion I want to be notified if there is any output,
regardless of what the output is.

So while notifying on command complete and notifying on set output pattern
are useful (thanks for including them!), they are very different than both
notify on activity and notify on si

[2017-02-16 10:23] phw commented on #776
How does notify on activity work in Konsole to avoid spamming you with notifications on longer output?

[2017-02-16 11:42] leoheck opened #777 "Blurry window"
Hi, `iTerm2` (for mac) have a nice feature to make the window blur. Is is possible to add that on terminix?

Look the `Window Appearance` section

<img width="1038" alt="profiles_window" src="https://cloud.githubusercontent.com/assets/1277920/23019914/a7185ab0-f42b-11e6-9058-1aa921d8e069.png">

It should look like this:

![twowindowswithblur](https://cloud.githubusercontent.com/assets/1277920/2302

[2017-02-16 11:42] nafg commented on #776
What do you mean by longer? The notification doesn't include the output
text. If you mean repeated output, I'm not sure but it could be it's the
inverse of silence, i.e. until the time elapses again with no output, it
won't notify. According to this approach, we define a notion of silence
detection, and notify on silence triggers on the detection, while notify on
activity *resets* (becomes active

[2017-02-16 12:47] gnunn1 commented on #777
Thanks for the suggestion, but I think this is just a little too much on the feature bloat side of the house for my taste. Additionally it wouldn't be very widely used anyway since it would require my patched VTE to make it happen.

[2017-02-16 12:47] #777 closed

[2017-02-16 12:50] gnunn1 commented on #776
@nafg Can you show a screenshot of where this feature is configured in Konsole? Do you basically configure a period of silence after which activity results in notification and the silence timer gets reset?

[2017-02-16 12:56] nafg commented on #776
![image](https://cloud.githubusercontent.com/assets/98384/23022172/7a8678b4-f41d-11e6-8320-de2a7e9c2c2b.png)

[2017-02-16 14:03] dsboger commented on #769
I'm having the same issue with the `terminix-git` from AUR. No `bookmarks.json` flie is created, but the `~/.config/terminix` folder is. I'll try a build with dmd to see if anything changes.

[2017-02-16 14:24] dsboger commented on #769
I rebuilt `gtkd` and `terminix-git` with `dmd` and bookmark saving works. Maybe it is a bug in the standard libraries of ldc or the compiler itself.

[2017-02-16 14:38] gnunn1 commented on #769
@phw That stack trace looks like some sort of recursion is going on unless you really have folders nested that deep. I suspect LDC is doing something funky, I'll investigate.

[2017-02-16 16:04] phw commented on #769
Nope, no deep nesting, actually a single folder with entries below. But the gdb backtrack would go on and on if I select to show more. So definitely looks like some endless recursion happening.

[2017-02-16 17:30] leoheck commented on #777
Oh I see, thanks anyway.

[2017-02-16 18:44] ronjouch opened #778 "Ugly white 1px {top,left} borders under Ubuntu Ambiance and dark Color Scheme"
Terminix shows two weird borders under Ubuntu, which are visible when using a dark profile Color Scheme (e.g. Monokai Dark):

![terminix-ubuntu-topleftwhiteborders](https://cloud.githubusercontent.com/assets/522085/23035484/45b663d0-f44d-11e6-9d82-ecb410412b8d.png)

Problem not reproducible on my Arch/GNOME Shell/Adwaita machine, maybe it's Ubuntu/Unity/Ambiance specific? Feel free to ask for more

[2017-02-16 21:10] egmontkob commented on #776
Among the VTE-based emulators, xfce4-terminal implements activity-based notification (changes the title's text color in the notebook tab).

[2017-02-16 21:50] gnunn1 commented on #769
@phw I'm not able to reproduce with ldc2, it seems to be working fine for me with bookmarks saving as expected. Are you using dub to build with ldc2 as per the command line I posted? here's my LDC2 version:

[code]

[2017-02-16 21:55] gnunn1 commented on #776
This looks pretty simple to implement, I'll have a look.

[2017-02-16 21:58] egmontkob commented on #776
Please see the comment https://bugzilla.gnome.org/show_bug.cgi?id=711059#c24 (I guess I wrote it for the explicit notifications, but is just as well valid for the activity-based one). -- Or is it just me overcomplicating things there? :)

[2017-02-16 22:09] gnunn1 commented on #776
Maybe, or I'm not seeing the complication. Basically from my perspective it's just:

a. Have a variable with the last time there was activity
b. On every VTE commit check if the time has exceeded the threshold. If it has and session is not visible raise a notification (using existing process already in place) otherwise reset time for variable
c. Only permutation I see is if switching to the tab sh

[2017-02-16 22:16] egmontkob commented on #776
It's not that hard... just harder than not doing this :D

[2017-02-16 23:15] #770 closed

[2017-02-16 23:17] gnunn1 commented on #770
OK hopefully this commit does the trick. Essentially I have to check for two situations and deal with them a bit differently:

a. User has already quoted everything after ```-e```, in which case I can just pass it on as a single argument
b. User has not quoted or selectively quoted values after ```-e```, in which case I have to assemble it as a single argument

I've tested this against all of @phw

[2017-02-16 23:29] gnunn1 commented on #778
I'm not seeing the issue on the version in Master, can you try with the beta and see if you still have the issue.

![screenshot from 2017-02-16 18-27-24](https://cloud.githubusercontent.com/assets/9358238/23046129/ca5f650a-f475-11e6-8d23-4e681c31f35e.png)

[2017-02-16 23:30] gnunn1 commented on #778
Also, confirm you don't have any custom CSS set in ```~/.config/gtk-3.0/gtk.css```

[2017-02-17 00:23] phw commented on #769
Yes, tried with both autotools via the terminix-git AUR package and via dub. If I compile it with ldc2 I get that crash when saving bookmarks. Using DMD gives a working build.

I can check tomorrow what version of ldc this is I have installed, but it should be whatever Arch currently has available.

[2017-02-17 01:31] gnunn1 commented on #776
I've implemented this feature, there is a new setting in profiles for configuring the silence threshold, if it's 0 then it is disabled. I've tested it with the normal command finished notification, I've tweaked it so that if a command completes after the threshold only the command completed notification is fired. If you don't have command notifications then this will still trigger.

The notificati

[2017-02-17 02:06] gnunn1 commented on #769
I have a newer version of LDC installed then Arch, I can reproduce the issue with the older version (1.0.0) instead of my version (1.1.0).

[2017-02-17 02:39] #769 closed

[2017-02-17 02:41] gnunn1 commented on #769
I've worked around it with an ugly hack, code was failing on each bookmark calling ```super.serialize(parent)```. Copying this code from the super method and placing it inline fixes the issue. I'll have to try to remember to go back and revert this once LDC 1.1 is prevalent.

[2017-02-17 15:17] ronjouch commented on #778
@gnunn1 thanks for the fast feedback!

I don't have a `~/.config/gtk-3.0/gtk.css`

Sure, one little question: I suppose you refer to the (currently 1.4.9) beta listed in [the Releases page](https://github.com/gnunn1/terminix/releases), which contains a zip indeed containing a binary release. Is there a way for me to *not* extract it to `/`? (which will pollute the tree and conflict with current/fu

[2017-02-17 15:35] gnunn1 commented on #736
So I can reproduce this on Ubuntu 16.10 now that I've finally got it running in a VM, very strange that it doesn't load the icon even though it's present. My error handling I've checked in fixes the issue but I'd like to understand what the issue with the icon loading is so leaving this open for a bit.

[2017-02-17 15:50] friimaind commented on #736
@gnunn1 thank you very much

[2017-02-17 17:39] sboddy commented on #589
Terminator maintainer here. Just an FYI here, so feel free to ignore it. Finally got to the bottom of this one. For us this bug was first raised waaaaay back in 2011, but it was never on my radar (I became maintainer after this and we have a lot of old crufty out of date bugs). Then Egmont raised a new issue with all the excellent detail, and this bug was useful for clues to the fix, so many thank

[2017-02-17 18:31] gnunn1 commented on #589
Thanks for the update @sboddy, sounds like you had pretty similar issues to what I experienced. If Python is using refcount it would explain why your FDs get cleaned up immediately and mine do not as D's GC is closer to Java's behavior.

[2017-02-17 18:32] gnunn1 commented on #736
I'm chalking up the icon loading as an Ubuntu bug since gtk3-icon-browser shows the icon just fine and it's only a minor cosmetic issue.

[2017-02-17 18:32] #736 closed

[2017-02-17 18:34] gnunn1 commented on #778
You might be able to get it going in a local path using the environment variables here:

https://developer.gnome.org/gtk3/stable/gtk-running.html

I haven't tried it myself though.

[2017-02-17 18:49] gnunn1 commented on #551
@alexwhitman Are you still experiencing this issue?

[2017-02-17 20:01] egmontkob commented on #589
Nice job, both of you guys! :) :+1:

[2017-02-17 20:05] ivoarch commented on #25
Package maintainers,
please add [appdata](https://wiki.gnome.org/Initiatives/GnomeGoals/AppDataGnomeSoftware) in the package. Thanks!

[2017-02-17 21:16] ronjouch commented on #778
By some coincidence, I had to reinstall this machine today, and the problem is absent after a fresh Ubuntu 16.04.2 install. Closing, sorry for the noise 🙇  .

[2017-02-17 21:16] #778 closed

[2017-02-17 21:40] michael-rapp opened #779 "Session title not displayed properly"
I have noticed a minor UI glitch in Terminix. It is only a small issue, but somehow it bothers me anyway. Frequently, immediately after I started Terminix, the title of the default session is not displayed properly. Instead, the text is cut off (see attached screenshot). When the window is moved, the UI seems to be updated and the issue disappears. Most of the time I start Terminix using a shortcu

[2017-02-17 22:03] gnunn1 commented on #779
Might be related to #551

[2017-02-17 22:19] michael-rapp commented on #779
Yes, I think this is the same issue.

[2017-02-17 22:40] gnunn1 commented on #779
I'm not able to reproduce on master, can you try the ```terminix-git``` package in AUR and see if you can still reproduce it.

[2017-02-17 22:55] michael-rapp commented on #779
After installing the `terminix-git` package I am not able to reproduce it either.

[2017-02-17 22:57] michael-rapp commented on #779
I have to correct myself...it just occured again.

[2017-02-17 23:18] gnunn1 commented on #779
I've checked in a change to try to workaround it, can you re-install ```terminix-git``` and see if it makes any difference.

[2017-02-17 23:42] michael-rapp commented on #779
I re-installed and tried again. It still occurred 2 or 3 times, but I started hundreds of instances and in most cases everything looked fine. So this is definitively an improvement considering the fact, that the issue occurred most of the time before.

[2017-02-17 23:52] gnunn1 commented on #779
OK thanks, glad it is helping. I'll see what other options could be applied.

[2017-02-18 01:10] gnunn1 commented on #779
I've made one more change, can you try this as well please.

[2017-02-18 01:21] gnunn1 commented on #25
I'm going to close this off, I think this has gotten long enough and served it's purpose.

[2017-02-18 01:21] #25 closed

[2017-02-18 01:22] michael-rapp commented on #779
It still occurs in rare cases.

[2017-02-18 01:28] gnunn1 commented on #779
I've made one more change, can you try this one out again please. Sorry to put you through this, but when I can't duplicate it's difficult.

[2017-02-18 01:34] michael-rapp commented on #779
I am sorry, but I still encounter it sometimes.

[2017-02-18 02:20] gnunn1 commented on #779
Thanks, I've got one last attempt I've checked in, if that doesn't work I'm out of ideas for now. Please give it a try and let me know, thanks for your patience.

[2017-02-18 13:44] michael-rapp commented on #779
Your last change doesn't seem to change anything. However, this is only a very small issue and it only occurs rarely after your patches.

[2017-02-18 18:32] #779 closed

[2017-02-18 18:45] gnunn1 commented on #551
@alexwhitman Can you let me know when you get a chance if the fix I checked in for #779 takes care of this as well.

[2017-02-19 08:52] toplinuxsir opened #780 "How to enable the command prompt style ?"
How to enable the command prompt style ? like below picture .
<img width="226" alt="cmd_propmt" src="https://cloud.githubusercontent.com/assets/1111353/23100752/b83e753c-f6c3-11e6-9bf4-90be2c43b7e8.PNG">

[2017-02-19 10:01] alex285 commented on #780
@toplinuxsir this is a Linux shell theme and unrelated to Terminix. I reckon to check on PowerLevel9k for ZSH
https://github.com/bhilburn/powerlevel9k

[2017-02-19 10:20] gnunn1 commented on #780
I'm using powerline on bash for the prompt.

[2017-02-19 10:20] #780 closed

[2017-02-19 16:52] alexwhitman commented on #551
@gnunn1 I've been out of the country for a bit but I'll check this in the next few days.

[2017-02-20 04:43] toplinuxsir commented on #780
Thanks , I got it . It's very cool !

Gerald Nunn <notifications@github.com>于2017年2月19日周日 下午6:20写道：

I'm using powerline on bash for the prompt.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/gnunn1/terminix/issues/780#issuecomment-280909406>, or mute
the thread
<https://github.com/notifications/unsubscribe-auth/ABD1OdbDU3p

[2017-02-20 17:33] alexwhitman commented on #551
@gnunn1 I've had a chance to test and the same issue is present.

[2017-02-20 17:37] gnunn1 commented on #551
Bummer, when you say maximize I assume you mean the window and not the terminal? I'll try adding an event to window state change and doing the queueRedraw trick I'm using in the other bug report.

[2017-02-20 17:40] alexwhitman commented on #551
Yes, maximising the window.  I can make a video if it helps.

[2017-02-20 17:41] gnunn1 commented on #551
No need, that should be fine.

[2017-02-20 17:42] alexwhitman opened #781 "Quake mode aligning to the bottom"
Running a build of current master, Quake mode is aligning itself to the bottom of the screen rather than the top.  If I go into the preferences and chance the width/height then it jumps back up but then re-occurs again the next time the Quake mode window is opened.

[2017-02-20 17:44] gnunn1 commented on #781
Wayland or X11?

[2017-02-20 17:44] alexwhitman commented on #781
X11.  Ubuntu 16.04 LTS.

[2017-02-20 17:50] leoheck opened #782 "Last version issue"
Hi, I just installed terminix version ``1.5.0-1~webupd8~xenial3`` from Web Upd8's but the `About Menu`
 shows version `1.4.9-2.0.0`. I would like to know if the mistake is from Web Upd8's guys or the `About Menu` is outdated. Thanks.

[2017-02-20 18:35] #782 closed

[2017-02-20 18:38] BBasile opened #784 "crash after clicking on preferences"
(or maybe settings in english, but as I cannot change the language I cant say)
- OpenSuse, KDE 4
- x86_64
- terminix master installed from script install.sh

[2017-02-20 18:39] phocean opened #785 "Profile setting for quake mode"
Hello,

It would be nice if it were possible to select a specific default profile for the quake mode.

For instance, I usually use a solid and white background, but only for quake mode, I feel it would make sense to have transparency and a dark background.

I apologize if it has already been suggested, but I could not find an issue for that.

And I want to thank you so much for the amazing termina

[2017-02-20 18:57] bil-elmoussaoui commented on #784
@BBasile  Can you rebuild the application using `dub build --build=debug --config=trace` and run the application again? This will give a better output about the issue :)

[2017-02-20 19:03] gnunn1 commented on #785
Just pass the profile you want with the --quake switch, i.e.

[code]

[2017-02-20 19:03] #785 closed

[2017-02-20 19:05] gnunn1 commented on #784
If you could do what @bil-elmoussaoui suggested that would be great. Note that I don't typically support KDE in terms of making terminix work perfect on it but I'd like to fix any crash issues that exist.

[2017-02-20 19:26] gnunn1 commented on #781
I'm not having any luck reproducing it on my Ubuntu 16.04 VM unfortunately. @alexwhitman can you trying compiling it with debug and trace, i.e.

[code]

If you then run it from the command line, you should see some trace lines as follows:

[code]

Can you confirm that the coordinates shown are correct for your monitor and setup?

[2017-02-20 19:28] BBasile commented on #784
trace file: https://gist.github.com/BBasile/e7c4fde93693caa8b22b2b15f2637e9c

[2017-02-20 19:28] gnunn1 commented on #781
Hmm, and just noticed a bug where it doesn't align to center correctly unless I have ```Display terminal on active terminal``` set in quake options. Can you try enabling that option and see if it fixes the issue.

[2017-02-20 19:29] BBasile commented on #784
KDE _usually_ runs GTK apps fine. You shouldn't have to do anything to support it.

[2017-02-20 19:55] gnunn1 commented on #784
@BBasile Oh I agree, unfortunately there tends to be subtle differences between desktop environments that cause issues though typically not crash ones. Thanks for the trace, I'm investigating.

[2017-02-20 20:09] #781 closed

[2017-02-20 20:10] gnunn1 commented on #781
I think I found the problem, please try it out and if it's not fixed just re-open the bug.

[2017-02-20 20:54] ivoarch commented on #784
I have the same issue , and after clicking on preferences terminix crash :(

CentOS - 7.3 - Gnome 3.14
Terminix 1.5.0 from Heikoada Fedora Corp repo .

[2017-02-20 21:08] ivoarch opened #786 "Unable to build terminix v.1.5.0 on Centos 7 with the latest appdata file ?"
The appdata from the latest terminix gives problems to build the package  with rpmbuild/mock on el7-CentOS - here is the error [build.log](https://gist.github.com/ivoarch/c2423d42bbfd53c23cda77e231a58971) . I removed the validation of appdata from the .spec file [patch](https://gist.github.com/ivoarch/c5923a656e8445d5cf89b54a0e5f502b) then the mock build sucess  .

Also here is the log from the [h

[2017-02-20 21:29] phw commented on #786
The error is during validation of the appdata file. There has been some additions to that file at https://github.com/gnunn1/terminix/commit/44a74787e901c0e4188b994e822a8eb8fe6945cb

According to the logs it does not like one of the new URLs added, but doesn't tell which (one ore more of help, faq, bugtracker or translate should be at fault). If I validate locally everything is fine:

    $ appstre

[2017-02-20 22:44] #784 closed

[2017-02-20 22:45] gnunn1 commented on #784
So it looks like a GTK 3.14 issue, I've checked in a fix for it. Not sure how long I'm going to keep supporting this version considering how ancient it is getting and the hassle of dealing with it.

[2017-02-20 22:54] gnunn1 commented on #786
I went and tried commenting them out one by one on CentOS 7, it's the translate URL that is causing the issue. I'm wondering if that's a newer type?

[2017-02-20 23:07] gnunn1 commented on #786
I've commented out the ```translate``` URL for now until I can figure out if there is a better way to handle this.

[2017-02-20 23:10] ivoarch commented on #786
It may be that the problem comes from the old version of libappstream-glib package .

[code]
Versions
CentOS 7.3
libappstream-glib - 0.3.6-1.el7.x86_64
Fedora 25
libappstream-glib - 0.6.8-2.fc25
***
Removing translate url is OK .

[2017-02-20 23:10] phw commented on #786
This was added in appstream-glib 0.6.1 released last October, see https://github.com/hughsie/appstream-glib/blob/master/NEWS#L138

I think there is no good way to handle this, as some distributions will always validate against older versions. IMHO the right way to handle this to patch the unsupported parts out when packaging for such distributions.

[2017-02-20 23:43] gnunn1 commented on #786
@phw I tend to agree with you on this in terms of packagers removing the offending line before packaging. That's probably what I'll end up recommending, just want to close the loop to make sure there's not a better option.

[2017-02-21 08:38] PrzemekSkw opened #787 "Terminix don't show in nautilus"
I upgrade terminix to ver. 1.5.0 in my Fedora 25 and now I doesn't have  option in nautilus to open terminix in folder. Is this a bug or I don't have some deps installed ?

[2017-02-21 08:58] alex285 commented on #787
it works on Arch. Do you have `python-nautilus` or `python2-nautilus` package installed?

[2017-02-21 09:10] PrzemekSkw commented on #787
Hi, thx for fast reply. I have nautilus-python-1.1-10.fc24.x86_64 installed. But after I upgrade terminix and make autoremove command some python packages including that one removed. I install it again but terminix is still invisible in nautilus.

[2017-02-21 10:28] focmb opened #788 "Dropdown menu for bookmarks"
A dropdown menu for bookmarks would be nice.

So if I want to open a bookmark currently I have to right click, then click on bookmarks and in the new window a can choose one.

A dropdon menu in the title bar or an expansion menu in the context menu will make the work with bookmark easier.

[2017-02-21 11:17] bil-elmoussaoui commented on #788
You can use CTRL + SHIFT +B to show the selection window directly without having to use your mouse;)

[2017-02-21 12:44] GeertGeurts opened #789 "Session Title doesn't change"
Hello,
Somehow the session title doesn't change anymore...
When I open teminix the top toolbar shows Terminix: Default. I can change this when I mouseclick it.
This used to be the place where the session title was shown and would correspond to the the selected sessiontitle seen when pressing F12. Somehow this mouseclick editable feature, which I like a lot by the way, disabled this functioning.
Is

[2017-02-21 12:52] gnunn1 commented on #789
What do you have set for the Default Session Name and Application Title in preferences, see screenshot below for what I use:

![screenshot from 2017-02-21 07-51-01](https://cloud.githubusercontent.com/assets/9358238/23165539/9dfb362c-f80a-11e6-8102-15e9cea1eb41.png)

[2017-02-21 12:55] gnunn1 commented on #788
Thanks for the suggestion. I thought about doing this, the issue is that in X11 the popover cannot extend outside the window and I was worried a bookmark hierarchical menu would get too large. Additionally, like @bil-elmoussaoui suggested I really wanted this to be keyboard driven since in a terminal emulator that's whre your hands usually are.

[2017-02-21 12:57] gnunn1 commented on #787
in a terminal, can you type the following and paste here what the output is:

[code]
This will tell us if nautilus is having an issue with loading the plugin for some reason.

[2017-02-21 12:59] gnunn1 commented on #551
I'm still thinking about this, the issue is the state change message happens in the window but I need to do the queueResize on a very specific widget in the terminal. Just trying to think of the best way while maintaining limited terminal visibility to the window.

[2017-02-21 13:08] PrzemekSkw commented on #787
That's output:
`[przemek@przemek ~]$ nautilus -q

(nautilus:7620): GLib-GIO-CRITICAL **: g_dbus_interface_skeleton_unexport: assertion 'interface_->priv->connections != NULL' failed

(nautilus:7620): GLib-GIO-CRITICAL **: g_dbus_interface_skeleton_unexport: assertion 'interface_->priv->connections != NULL' failed
[przemek@przemek ~]$ nautilus
[przemek@przemek ~]$ `

[2017-02-21 13:12] gnunn1 commented on #787
I'm not sure what the issue, I'd guess you removed something that is required but I'm not familiar enough with Fedora to tell you what it is. I'd suggest asking on a Fedora forum.

[2017-02-21 13:23] bil-elmoussaoui commented on #787
@PrzemekSkw It's an issue with the latest release of Nautilus, you will have to kill it again using `nautilus -q`

[2017-02-21 13:25] focmb commented on #788
Thanks,

I will try the hotkey command. I doesn't know it before and i think this will do what I want.

[2017-02-21 13:25] #788 closed

[2017-02-21 14:04] ivoarch commented on #786
You can specify it in the terminix dependencies section .

Minimum version (appstream-glib >=  0.6.1) .

Also packagers can fix it easily by one line with sed or patch that remove the problem line from appdata.xml.

[2017-02-21 14:54] GeertGeurts commented on #789
Hello Gerard Nunn,
Thanks for your quick reply!
I do not have the Window style option...
Instead for me there is a checkbox for Enable transparency.

Best regards,
Geert

On Tue, Feb 21, 2017 at 1:52 PM, Gerald Nunn <notifications@github.com>
wrote:

[2017-02-21 15:05] gnunn1 commented on #789
That's not important, I need to see what you have for ```Default session name``` and ```Application title```. Please post a screenshot like I did.

[2017-02-21 15:39] f2404 opened #790 "In quake mode, hamburger menu gets truncated"
The menu gets truncated by the quake window height:

![quake_menu](https://cloud.githubusercontent.com/assets/14939413/23171960/dde315fa-f85c-11e6-968b-c7d8ab3867d3.png)

[2017-02-21 15:46] gnunn1 commented on #790
Is the menu longer then the window size, if so that's a known issue with popover menus in X11. The solution would be to make your window larger, otherwise there is nothing I can do about it.

[2017-02-21 15:47] GeertGeurts commented on #789
OK sorry...
Please see the attached screenshot!

Regards,
Geert

On Tue, Feb 21, 2017 at 4:05 PM, Gerald Nunn <notifications@github.com>
wrote:

[2017-02-21 17:04] PrzemekSkw commented on #787
Thanks for Your help. I install nautilus terminal and it works fine.

[2017-02-21 17:09] alexwhitman commented on #781
This looks to be fixed now. :+1:

[2017-02-21 17:24] #787 closed

[2017-02-21 17:25] gnunn1 commented on #789
There's no screenshot, try editing the bug directly in github and attaching the screenshot there.

[2017-02-21 19:45] GeertGeurts commented on #789
![screenshot](https://cloud.githubusercontent.com/assets/5459002/23181791/a2a23d6c-f876-11e6-890b-bc23a25c8a3a.png)

[2017-02-21 20:11] gnunn1 commented on #789
You can rename a session bu clicking the hamburger menu in the headerbar and selecting ```Name...```. When you click the title and edit it, that is changing the Application title not the Session name.

Also, in the screenshot above you can use something other then ```Default``` if you want, for example if you use ```${title}``` it will use the title from the currently focused terminal in the sessi

[2017-02-21 20:16] GeertGeurts commented on #789
Is it possible to configure terminix to show the session title there where currently the application title is?

[2017-02-21 20:27] gnunn1 commented on #789
It's already configured that way, that's what the ```${appName} : ${sessionName}``` is doing in the Application title setting. If you only want the session name showing just delete the app name variable.

[2017-02-21 21:05] phw commented on #713
Just a heads up that the manpage localization is now up on Weblate: https://hosted.weblate.org/projects/terminix/manpage/

[2017-02-21 21:06] tonylambiris commented on #789
Thanks for the quick replies @gnunn1, would it be possible to have a checkbox that will inherit the Application Title from the current profile's Terminal title, or does that behavior already exist in a place I'm overlooking?

Thanks again, starting using the terminal today on Arch and loving it!

[2017-02-21 21:19] gnunn1 commented on #789
Yes it's already there, just set the Application title to ${title}

You can see a list of all variables here:

https://gnunn1.github.io/terminix-web/manual/title/

[2017-02-21 21:25] tonylambiris commented on #789
@gnunn1 I get the following when setting the Application title to ${title}:

![screenshot from 2017-02-21 16-23-13](https://cloud.githubusercontent.com/assets/14058972/23185674/3763d3cc-f852-11e6-9c6c-6782e4730665.png)

FWIW I'm loading the recommended vte.sh:
[code]

[2017-02-21 21:30] gnunn1 commented on #789
Are you setting it in preferences or by clicking the title and editing it directly? If editing it directly try setting in preferences as ```Application title```. It should work the same though for either.

Worse case, use the settings in my previous screenshot.

[2017-02-21 21:33] phw commented on #789
I can reproduce with ${title} and other terminal names in the application title.

What works for me is:
- Set the session title to `${title}`, it will reflect the title of the current active terminal
- Set the application title to `${sessionName}`, it will correctly show the session name (which is the terminal name)

But directly setting ${title} in the application name gets printed as is. Doesn't

[2017-02-21 21:35] gnunn1 commented on #789
OK thanks @phw, that's a bug. I can understand the confusion, if you have any suggestions to simplify it or make it easier I'm happy to take them.

[2017-02-21 21:38] phw commented on #789
two things I noticed:

- The variable helpers are great, but they should be available everywhere one can edit titles
- If the application title uses the default value and you edit it in the title bar, it is empty. But for me as a user it would be easier to see the default string there so I can tweak it.

Personally I would even question whether we need separate session and application title, but I

[2017-02-21 21:40] phw commented on #790
Dude, you should really check what files you upload to Github. Did not expect my Github issue mails to be NSFW and NSFF (not safe for family) ;)

[2017-02-21 21:41] gnunn1 commented on #789
@phw The only place the variable isn't present is the Entry that appears when you click the title. I didn't do it there because it's a wider control and it causes the minimum size of the window to increase. I should probably revisit this though.

[2017-02-21 21:41] tonylambiris commented on #789
@gnunn1 Editing the title through preferences:

![screenshot from 2017-02-21 16-38-30](https://cloud.githubusercontent.com/assets/14058972/23186247/6ce80af2-f854-11e6-9b0d-3aaceca0fe73.png)

Apparently my settings were already configured to mostly match yours. Just to be thorough, I built this today from the AUR without changing anything in the PKGBUILD itself:
[code]

[2017-02-21 21:42] ronjouch opened #791 "Visualize active pane"
Using Terminix, it's not immediately clear which pane is active. From what I see here, the only difference I see between active/inactive panes is cursor blinking, which is subtle:

![terminix-no-visual-clue-active-pane](https://cloud.githubusercontent.com/assets/522085/23185257/d17b95be-f850-11e6-80d6-a9b17e9bdb54.gif)

It would be great to have a feature helping visualize this in an obvious/immed

[2017-02-21 21:43] phw commented on #789
I also meant the "Name..." dialog in the session menu on the upper right and terminal layout options dialog.

[2017-02-21 21:45] gnunn1 commented on #789
Thanks, I'll take care of those as well.

[2017-02-21 21:50] egmontkob commented on #791
FYI: See profile preference Color -> Unfocused dim. It was added #263.

[2017-02-21 22:05] ronjouch commented on #791
@egmontkob thanks! Missed it; I didn't search at this place. Closing.

[2017-02-21 22:05] #791 closed

[2017-02-21 23:05] #790 closed

[2017-02-22 00:37] gnunn1 commented on #789
Mostly fixed except for the session name input, I'll have a look at that tomorrow.

[2017-02-22 00:40] gnunn1 commented on #786
I've reverted the commenting out of that URL as I don't see a way to avoid this on my side. @ivoarch you will need to open a bug with the package (i.e not here) to correct the issue with appdata by removing the invalid translate url for that version of appdata.

[2017-02-22 00:40] #786 closed

[2017-02-22 01:05] pkkid opened #792 "Where is configuration saved?"
I often symlink my configuration files to Dropbox.  However,  I don't see the configuration file in any of the usual suspected places.

[2017-02-22 02:30] gnunn1 commented on #792
It's saved in dconf with the exception of the bookmarks which are saved in ~/.config/terminix

[2017-02-22 02:30] #792 closed

[2017-02-22 02:34] ragnese opened #793 "Add graphical way to access preferences when CSD is disabled"
Thank you for working on Terminix- it's absolutely fantastic!

One thing that would be nice is to be able to access the preferences via the right-click menu, so I don't have to launch terminix --preferences when CSD is disabled.

[2017-02-22 03:02] pkkid commented on #792
Ahh, thanks. I guess it'll be hard to share config across computers. :-/

[2017-02-22 03:07] gnunn1 commented on #792
https://github.com/gnunn1/terminix/issues/571

[2017-02-22 06:51] f2404 commented on #713
I'm seeing only German, is it possible to add other translations?

[2017-02-22 06:52] f2404 commented on #790
@phw and all, I'm very sorry about that, don't know how it happened :-/

[2017-02-22 07:02] phw commented on #713
Sure, that's why we have it on Weblate so others can help translate. You can start a new language on Weblate over Tools > Start new translation

[2017-02-22 07:19] f2404 commented on #713
Ah, ok, thanks!

[2017-02-22 07:52] GeertGeurts commented on #789
really??!
Brilliant! nice one!
I go check it out immediately!

On Wed, Feb 22, 2017 at 1:37 AM, Gerald Nunn <notifications@github.com>
wrote:

[2017-02-22 13:19] gnunn1 commented on #793
I need to think about this a bit and how best to make it fit with the different window style options. Right now in Quake mode it adds Preferences to the hamburger menu.

[2017-02-22 14:53] frnogueira commented on #713
Great!
pt_BR added!

[2017-02-22 17:13] phw commented on #713
I noticed the German translation is not yet included in the current release zip, even though it was available.

@gnunn1 Do you have po4a installed?

[2017-02-22 17:16] gnunn1 commented on #713
@phw I do now!

[2017-02-22 19:11] leoheck opened #794 "Title bar change shortcut suggestion"
I usually click the title bar and eventually I get trapped in the title renaming text field.
What do you think to change the behavior from `Click to Edit` to ~`Double-Click`, or~ `Ctrl+Click` to edit or something different?

[2017-02-22 19:26] bil-elmoussaoui commented on #794
Double click to edit is just impossible. As double click on the headerbar  usually triggers the maximizing of the window (done by the window manager). The Ctrl+Click might be a good idea :)

[2017-02-22 19:34] leoheck commented on #794
@bil-elmoussaoui you are right, I just came back here to say that. Thanks.

[2017-02-22 20:12] nunocastromartins commented on #37
I don't know if it is expected, but the "Open in Terminal" plugin would also create an entry to open with `gnome-terminal`, which I don't have installed. I'm now using [Nautilus-Actions](http://www.nautilus-actions.org/).

Example configuration (you can import it by creating a `.desktop` file):
[code]

[2017-02-22 20:32] phw commented on #37
@nunocastromartins I am not sure I understand correctly. What exactly did you install? Terminix already comes with a Nautilus plugin, which will add a "Open in Terminix" action.

Gnome Terminal has its own Nautilus plugin.

[2017-02-22 23:04] gnunn1 commented on #794
I'm kind of 50/50 on this one as I feel like I just got people trained about this version, plus right now it works the same way as Epiphany so there's some consistency. Would love to hear some more opinions on it.

[2017-02-22 23:44] #789 closed

[2017-02-22 23:45] gnunn1 commented on #789
So this should be all fixed up now, however note the title editor will only appear for the Session name dialog if you are using Wayland as there is not enough room for the popover to appear without getting clipped in X11.

[2017-02-22 23:48] gnunn1 commented on #789
Oh and I'd also appreciate it if someone could test the title editor when you click the window title. Getting it disappear when it loses focus but not disappear when interacting with the variable popover was a bit tricky.

[2017-02-23 00:21] gnunn1 commented on #793
@ragnese what DE are you using, as far as I can tell the preferences is always available in the AppMenu in both Gnome Shell and Unity with CSD Disabled?

[2017-02-23 00:35] gnunn1 commented on #551
So I've finally been able to reproduce this in 16.04 however it works fine in 16.10. As far as I can tell, this is a GTK bug. I could workaround it but it would involve some messiness to propagate the wondow state change down to the control. Since this bug appears to be rectified in 16.10 I'm going to mark this as Won't Fix.

[2017-02-23 00:35] #551 closed

[2017-02-23 01:09] nunocastromartins commented on #37
You're right. My bad. Only needed `python2-nautilus` and not `nautilus-open-terminal`; ended up with two entries in the context menu because of that.
The Nautilus-Actions option is still viable, though - if one doesn't want to install `python2-nautilus`. In my case, since I'm already using Nautilus-Actions for something else, might as well not install an extra package. :-)

Again, my bad, I apolog

[2017-02-23 01:48] ragnese commented on #793
It doesn't show up with window managers that don't have appmenu type buttons in titlebars. In my case, it was Openbox.

[2017-02-23 09:36] psokol opened #795 "Can't send file to Hosted Weblate"
I can't upload updated polish language file to Hosted Weblate. Every attempt returns "get() returned more than one Unit -- it returned 2!" error message.
[terminix.zip](https://github.com/gnunn1/terminix/files/796065/terminix.zip)

[2017-02-23 09:52] phw commented on #795
Can you upload the file here or open a pull request? Probably something wrong with the file itself.

[2017-02-23 09:58] alexwhitman commented on #551
That's fair, it's only a really minor thing anyway which disappears once anything else is done with the window.

[2017-02-23 10:08] gicmo opened #796 "Draw bold as bright"
Some terminal emulator (e.g. iTerm2) have the option to "Draw bold text in bright colors" (https://iterm2.com/faq.html). I'd be nice to have that option too.

[2017-02-23 10:10] f2404 commented on #796
VTE allows setting a color for bold text; this capability is utilized in xfce4-terminal, for instance.

[2017-02-23 12:29] StuntsPT opened #797 "open-terminix.py crashes Nautilus on startup"
Traceback:

[code]

Using Nautilus 3.22.2 from ArchLinux. The crash only started happening after updating `terminix` to 1.5.0, so I suspect commit 0ef55af523762c1918753c98b1c2892ce6867478.
I will try to revert that commit and see if it helps.
Simply removing `/usr/share/nautilus-python/extensions/open-terminix.py` will avoid the crash (and remove the option "Open in Terminix" from nautilus.

[2017-02-23 12:44] bil-elmoussaoui commented on #797
How did you installed terminix ?

[2017-02-23 13:13] gnunn1 commented on #796
Hmm, I'm not sure how I missed that option in the VTE. I'll implement this shortly.

[2017-02-23 13:50] psokol commented on #795
The file is attached to first comment.

[2017-02-23 13:56] bil-elmoussaoui commented on #797
Plus, what's the output of `which terminix` ? The only thing that might cause this issue, is that i have added a check whether the application is installed or not. Which works perfectly in my machine (Archlinux  too)

[2017-02-23 14:18] phw commented on #795
Thanks, missed that somehow.

I reported this issue to https://github.com/WeblateOrg/weblate/issues/1381 , but also opened a pull request here with you updated translation. Hopefully Weblate will import it then.

I can reproduce with other files, see my comment on the Weblate issue.

[2017-02-23 15:00] lapega opened #799 "White border on dark theme"
I just upgrade to 1.4.9-2.0.0, and now I got a white border below the menu:
![captura de pantalla de 2017-02-23 11-59-02](https://cloud.githubusercontent.com/assets/572502/23264258/81cac97a-f9bf-11e6-8dcb-e8d42b232502.png)

I'm using ubuntu 16.04.02, with Numix theme.

Thanks!!!

[2017-02-23 15:25] bil-elmoussaoui commented on #799
This issue was reported on Numix theme repository too. Not sure if it's an upstream issue or it requires a patch on terminix side

[2017-02-23 15:28] StuntsPT commented on #797
@bil-elmoussaoui
I have installed `terminix` via the `AUR` package.
Here is the output you requested:
[code]
I can confirm that reverting 0ef55af and 3267d9d02b9c5b79b366a45a1658979bf5f792f8 will allow nautilus to work normally and `open terminix here` works.

[2017-02-23 15:41] bil-elmoussaoui commented on #797
Well that's really unexpected. I will investigate tomorrow.

[2017-02-23 15:43] gnunn1 commented on #799
I'm not seeing the issue here with Numix, I'll wait to see what the Numix folks have to say.

![screenshot from 2017-02-23 10-42-08](https://cloud.githubusercontent.com/assets/9358238/23266138/d74708e2-f9b4-11e6-8802-ad68425c8501.png)

[2017-02-23 15:46] gnunn1 commented on #799
I also tried it with CSD disabled and toolbar hidden which is what I think the OP has configured, I'm still not able to reproduce it.

[2017-02-23 16:50] khurshid-alam commented on #799
I am not able to reproduce either. I will try on Gtk-3.22.

[2017-02-23 17:12] leoheck commented on #799
@gnunn1 see https://github.com/numixproject/numix-gtk-theme/issues/655#issue-208975154 I have this problem with Ubuntu 16.04. Terminix+Numix is fine on Ubuntu 16.10.

[2017-02-23 17:22] egmontkob commented on #796
Does VTE really have such an option? :)

(There's a "bold color" but then all bold text is changed to that color, regardless of its original color. That's a stupid feature.)

[2017-02-23 17:39] f2404 commented on #796
@egmontkob Well, it's the best vte can offer here, isn't it? :)
It seems to me that, on contrary, this option affects only default-colored bold text; if bold text is already colored, it won't be touched.

[2017-02-23 17:42] egmontkob commented on #796
@f2404 Yeah probably you're right, I don't remember the exact details :)

[2017-02-23 17:46] f2404 commented on #796
@egmontkob It doesn't seem like you're using this functionality :)

[2017-02-23 17:49] egmontkob commented on #796
:)

[2017-02-23 17:54] egmontkob commented on #796
Seriously: see https://bugzilla.gnome.org/show_bug.cgi?id=762247.

Bold is brightened by VTE, but (in accordance with xterm) only for the foreground, and only if it's one of the first 8 colors using the legacy escape sequences (`\e[30m` .. `\e[37m`), and not for their 256-color counterparts (`\e[38;5;0m` .. `\e[38;5;7m`).

The above URL is a feature request to be able to disable this, so that the

[2017-02-23 21:44] #796 closed

[2017-02-23 21:44] gnunn1 commented on #796
I've added the option to set the bold color, that's as much as I can do.

[2017-02-23 22:51] gnunn1 commented on #793
I only actively support Gnome Shell and Unity, someone who is a developer and using Openbox would have to step up and make this happen.

[2017-02-24 02:44] ragnese commented on #793
Ah, okay. That's fair. Sorry for the spam, then.

[2017-02-24 02:44] #793 closed

[2017-02-24 09:18] gapplef commented on #467
I am using the webupd8 ppa on Ubuntu Gnome 16.10
Terminix version is 1.4.9-2.0.0
I still have the problem after enable the`Run command as a login shell` in Profile>Command
*No* problem when source /etc/profile.d/vte-2.91.sh in .zshrc

[2017-02-24 09:53] benneti opened #800 "Triggers for username and hostname"
Sorry to file this, it's more a question than a bug.
Can I set the Triggers in any way, even if they are not in my prompt?

[2017-02-24 13:11] gnunn1 commented on #800
The username and hostname doesn't have to be in the prompt but it does need to appear somewhere with a pattern that can be matched with a regex. If that's not the screen then there's nothing a trigger can do for you.

[2017-02-24 13:11] #800 closed

[2017-02-24 13:27] materemias commented on #569
still I have the very same issue with 1.5.0 on Arch

[2017-02-24 13:39] gnunn1 commented on #569
@materemias I use Arch as well and I can't reproduce on Gnome Shell, what DE are you using?

[2017-02-24 14:10] materemias commented on #569
@gnunn1 Gnome Shell. I set up custom key binding and experience just what OP described. Without "Hide on when focus is lost" it is working properly. I have a decent rig if that matters. Is there anything you suggest I shall try?

[2017-02-24 14:56] gnunn1 commented on #569
Here's the options I have set for Quake mode, can you try the same set if yours differs and see if you get better results.

![screenshot from 2017-02-24 09-56-00](https://cloud.githubusercontent.com/assets/9358238/23307989/93a0ecac-fa77-11e6-91bf-0cc267c5db61.png)

[2017-02-24 18:18] materemias commented on #569
interestingly after a reboot it started working normally. or normallishly :) I discovered a new symptom which may be related: if i set the quake console fullscreen, close it and open back again it opens up fullscreen and i cannot turn it back to normal size only after many open-close fullscreen non-full screen cycles.
and now that I have opened and closed it many times the original issue is back.

[2017-02-24 18:21] gnunn1 commented on #569
Please open a new issue for the fullscreen problem and I'll have a look.

Also, is the original issue related to full-screen, i.e. if you don't use fullscreen does it alway work fine until you fullscreen a few times?

[2017-02-24 18:34] materemias commented on #569
I think the 2 issues are connected that's why i haven't opened a new issue yet, and yes, it also happens sporadically after a reboot without switching to fullscreen

[2017-02-24 18:42] materemias opened #801 "quake mode fullscreen issue"
If I close quake mode with full screen and open back again it opens full screen but leaving full screen will go to windowed and full height until reopen.
My suggestion is to always open quake mode with the set height no matter how quake window was closed

[2017-02-24 18:43] materemias commented on #569
I found a way to reproduce the fullscreen issue: #801

[2017-02-24 22:29] #801 closed

[2017-02-24 22:30] gnunn1 commented on #801
Should be fixed now, if you hide the quake window and it is fullscreen'ed it will remain fullscreen'ed when shown. I think this best matches user expectations.

[2017-02-25 11:54] Nnidyu commented on #745
@gnunn1 I have probably related issue on 1.5.0 (on Fedora 25) and I am not sure if this is the same problem or something separate:

[code]

[2017-02-25 23:10] JohnAppleSeed- commented on #356
I don't know if this is relevant or not, but GNOME has some kind of experimental global autocompletion thing:

https://fedoramagazine.org/using-favorite-emoji-fedora-25/

Last time I tried it it made vim impossible to use though...

[2017-02-26 00:31] stuaxo opened #802 "Preview bar (like sublime text)"
This idea isn't fully baked, as I'm not sure how it would fit in with the current UI.

It would be great if there was a preview bar like the one in sublime text.

I've been scrolling through mega syslog files and this would have made it much easier to find where I was.

[2017-02-26 01:01] stuaxo commented on #376
With some extra ansi codes, it should be possible to support file operations it should be possible to support file operations from the terminal (drag to file manager, also right click operations: open file, open directory, copy file, copy location).

The 3 bits of information needed

[root]
e.g.
file:///
ssh://pi@raspberry/

[directory]
e.g.
/home/pi

[filename]
e.g.
hello.txt

When you ssh to a n

[2017-02-26 01:05] gnunn1 commented on #376
@stuaxo It shouldn't need any special codes, triggers can already detect the user/host when you SSH to a host by parsing out the login prompt.

[2017-02-26 02:01] stuaxo commented on #376
How about knowing knowing that 'hello.txt' is a filename, in the directory   /home/pi      so that right clicking it can open gedit at   ssh://pi@raspberry/home/pi/hello.txt

Or be able open nautilus to   ssh://pi@raspberry/home/pi/   ?

[2017-02-26 02:24] gnunn1 commented on #376
You can configure the custom links to look for filename patterns, however at the moment it doesn't do variable substitution but it would be easy to extend.

If you are interested in working on this feature let me know.

[2017-02-26 02:44] stuaxo commented on #376
I could be interested in starting a proof-of-concept...   is terminix all written in D ?

If I could make even, just a replacement ```$ ls``` command output info that could make something like this, it would be an interesting start.

[2017-02-26 04:00] gnunn1 commented on #376
Yes terminix is all written in D. I'm not following on the replacement for ```ls```, are you think of it as a way to identify remote files? Up to now I haven't thought a custom command is required here as you can't send OSC codes to terminix without patching the VTE which is written in C. I have a request for this open in the VTE bugzilla but it's fairly complicated to implement (https://bugzilla.

[2017-02-26 09:13] bil-elmoussaoui commented on #356
@JohnAppleSeed- Well, it's not supported everywhere, It's only working on GtkSourceView! Which means implementing something like this won't work with the VTE widget. And i don't know if the applications can provide those kind of plugins or it's up to ibus

[2017-02-26 12:55] stuaxo commented on #376
Ah, yes - I'm definitely talking about file operations *from* the terminal + be able to identify arbitrary files in places where regex might be hard (output of ```ls```, file managers like ```mc``` or ```ranger).

The custom OSC codes would make it unambiguous.    Piggy backing the current SSH connection, it definitely opens some possibilities.

I had a play with strace just now, and it shows that

[2017-02-26 15:25] gnunn1 commented on #799
I think the issue is because of this CSS in terminix:

[code]
Either Numix does not declare a ```borders``` color or it is declaring a white one. You can fix it my overriding the style in ```~/.config/gtk-3.0/gtk.css``` as follows:

[code]
Change black to whatever color works best for you.

[2017-02-26 15:25] #799 closed

[2017-02-26 15:38] gnunn1 commented on #802
It's an interesting idea but I don't see this being implemented at this time.

I tend to think text editors/viewers should be the ones implementing this sort of functionality and not terminal emulators. Additionally there would be a number of changes from an implementation point of view as well, for example what should the minimap do when running vi, emacs, or other ncurses style apps that use the

[2017-02-26 15:38] #802 closed

[2017-02-26 20:57] psokol commented on #795
Thanks, hopefully they'll fix this soon.

[2017-02-27 01:00] carlwgeorge opened #803 "1.5.0 core dump"
Terminix crashes for me while using version 1.5.0 from the [AUR](https://aur.archlinux.org/packages/terminix/) (which just [extracts the upstream compiled release into place](https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=terminix)).

[code]

At the time of the crash, I was just typing in the terminal.  I rolled back to terminix 1.4.2 and haven't experienced another crash.

[2017-02-27 02:09] gnunn1 commented on #803
Thanks for the report, I've uploaded a debug version of terminix here:

https://gexperts.com/files/terminix.zip

Can you run it under gdb and post the backtrace here please. To do so, extract the zip and then in the directory where you extracted it:

[code]

In gdb type ```run``` to start terminix and reproduce the crash. After the crash, type ```bt``` to get the backtrace.

Thanks for your help w

[2017-02-27 02:12] gnunn1 commented on #745
@Nnidyu It looks like it is related to the timeout, however I thought I fixed it in 1.5.0. If you have time, I've posted a debug version of terminix in #803, please give it a try following the instructions and post the backtrace.

[2017-02-27 09:16] phw commented on #795
This is now a confirmed bug in Weblate and targeted for the next release. Since the development there is pretty active and the hosted weblate Terminix uses is always using latest code I expect this to be fixed soon.

In any way, this is not Terminix specific and importing the translation has already been dealt with, so I think we should close this issue.

[2017-02-27 11:18] bil-elmoussaoui commented on #797
@StuntsPT I took a look and i couldn't reproduce this at all :( anyway i will remove the conditions that i have added, and paste a new Nautilus plugin here. Would you like to test it so i can be sure that everything works fine in your case?

[2017-02-27 11:20] StuntsPT commented on #797
@bil-elmoussaoui Thank you! I will gladly test any solution you propose. Just let me know where to get the new code. =-)

[2017-02-27 11:25] bil-elmoussaoui commented on #797
@StuntsPT Wel, here you go, just modify the file under `/usr/share/nautilus-python/extensions/open-terminix.py`and replace the content with
[code]

Just to let you know, this might break Nautilus and make it crash if you remove Terminix without removing the extension.

[2017-02-27 11:31] StuntsPT commented on #797
Using the code you provided seems to make everything work fine. Thanks!
Isn't this the extension file with both patches reverted? Or did I miss something?

[2017-02-27 11:33] bil-elmoussaoui commented on #797
Nop, not at all! both patches were to add a shortcut to open Terminix in the current directory using a keyboard shortcut. And as we use Terminix Gsettings, if you do remove Terminix, Nautilus will crash as It won't find the correct GSettings to read from.
Anyway, i will create a PR right now :)

[2017-02-27 11:35] StuntsPT commented on #797
Ok,I got it now. Thanks.
Wait, what is the default keyboard short-cut you defined?
Could it be that I already had that short-cut defined in my settings and hence that crash on my system, but not yours?

[2017-02-27 11:38] bil-elmoussaoui commented on #797
I'm using the default one (CTRL + SHIFT + T), Check your Terminix Settings to modify it :)
![screenshot from 2017-02-27 12-37-55](https://cloud.githubusercontent.com/assets/7660997/23360051/986f3da0-fce9-11e6-9f5a-1eeaba096f09.png)

[2017-02-27 11:41] StuntsPT commented on #797
Humm... I already had that defined for opening a new session.
Let me see if simply changing that will solve the crash.

[2017-02-27 11:42] bil-elmoussaoui commented on #797
@StuntsPT The shortcuts defined on Terminix won't conflict with the Nautilus shortcut ;)

[2017-02-27 11:44] StuntsPT commented on #797
Yeah, it didn't solve it.

[2017-02-27 11:45] bil-elmoussaoui commented on #797
@StuntsPT Thanks for testing, i've created a PR :-)

[2017-02-27 11:47] StuntsPT commented on #797
You're welcome.
Thank you for handling this so fast. I'll be sure to report any other issues I find.
`Terminix` has quickly replaced `Terminology` as my favourite terminal emulator and is my current main terminal. It really is an awesome project.

[2017-02-27 12:12] phw commented on #795
Fixed on Weblate

[2017-02-27 12:31] #797 closed

[2017-02-27 12:31] gnunn1 commented on #795
Thanks for taking care of this @phw

[2017-02-27 12:31] #795 closed

[2017-02-27 14:15] carlwgeorge commented on #803
I experienced a slightly different crash with the debug build.  With the original crash I reported, terminix would suddenly close all windows, and I got that core dump output from the system journal.  With this debug build run via gdb, terminx locked up but stayed on the screen initially, and roughly 30 seconds later Gnome notified me that it wasn't responding and let me force quit it.  I was able

[2017-02-27 15:12] gnunn1 commented on #803
OK I see the problem, it's the Timeout used with the Visual Bell. There is a bug in LDC that optimizes the return value such that it causes the Timeout to continuously fire despite returning false. I've fixed this issue with the custom title and I'll make the same fix for the Bell.

[2017-02-27 15:13] gnunn1 commented on #803
Also for now, in your profile if you change the Bell to None or Sound the problem should go away.

[2017-02-27 16:18] carlwgeorge commented on #803
Thanks for the quick diagnosis and the work around.  Looking forward to the next release with the fix.

[2017-02-27 20:15] Nnidyu commented on #745
@gnunn1 Thanks, it seems that it is the same as #803 as I got the same stacktrace now:

[code]

[2017-02-27 21:49] tonylambiris opened #805 "Menu gets clipped when window too close to edge"
Trying to open a URL from Terminix clips off the 'Open Link' part of the context menu when it's too close to the top edge of the screen.

![screenshot mon feb 27 2017 16 45 26 gmt-0500 est 1561x1281](https://cloud.githubusercontent.com/assets/14058972/23381487/a71f71bc-fd0c-11e6-9f27-a8418851400a.png)

Thanks!

[2017-02-27 22:14] gnunn1 commented on #805
Lol, I think you need to buy a bigger screen 🤔

Seriously though, when you don't show the terminal title bar those menu items move to the context menu. The easy workaround would be too enable the terminal titles to make the context menu smaller.

What resolution is your screen?

[2017-02-27 22:24] tonylambiris commented on #805
I have a Dell XPS 15 w/ a HiDPI display using Wayland.

![screenshot from 2017-02-27 17-23-48](https://cloud.githubusercontent.com/assets/14058972/23382812/a3e631c0-fd11-11e6-86ff-516b6494912d.png)

[2017-02-27 22:26] gnunn1 commented on #805
Thanks, I'll have a look

[2017-02-27 22:28] tonylambiris commented on #805
Appreciate it! Small inconvenience just figured I'd ping you on it regardless.

[2017-02-27 23:09] #803 closed

[2017-02-28 00:00] gnunn1 commented on #805
I've opened a bug with GTK for this one:

https://bugzilla.gnome.org/show_bug.cgi?id=779341

[2017-02-28 00:18] tonylambiris commented on #805
I need more thumbs! :) Thanks for digging into this, quite an obscure bug.

[2017-02-28 01:11] gnunn1 commented on #803
@carlwgeorge Can you try the ```terminix-git``` package and see if it fixes the issue please.

[2017-02-28 14:28] nean-and-i opened #806 "terminix 1.5.0 crashes unexpectly"
seems something is strange, after a few crashes I reverted to 1.4.3.
sorry, could find time to debug it any further.
(I'm using the zip https://github.com/gnunn1/terminix/releases/download/1.5.0/terminix.zip)

# grep terminix /var/log/syslog
Feb 28 11:18:07 host kernel: [ 3918.335897] traps: terminix[4290] general protection ip:5d77ca sp:7ffcaf21cdc0 error:0 in terminix[400000+8e2000]
Feb 28 15:06

[2017-02-28 15:15] gnunn1 commented on #806
Duplicate of #803, if someone could test it then I could roll out 1.5.2.

[2017-02-28 15:15] #806 closed

[2017-02-28 20:51] marcosfede opened #807 "Font Ligatures"
Hello, Is there a way to use fonts that have ligatures, like [Fira Code](https://github.com/tonsky/FiraCode) in terminix? Right now It doesn't display certain characters like =, > and < .
Thanks!

[2017-02-28 21:25] bil-elmoussaoui commented on #807
Not possible. It's an upstream issue (VTE widget) the issue is already open since 2011 if I still remember, but nothing was done to fix this...

[2017-02-28 21:33] #807 closed

[2017-03-02 11:32] pmk1c opened #808 "Send horizontal mouse scroll event to vim (or other processes)"
When using Vim in Terminix, horizontal mouse scrolling doesn't work. It's the same when using Gnome Terminal. I don't know what the problem is, and if this is a bug / feature, you could fix / implement, but I would love that.

It's not a problem with Vim itself, since using Gvim i.e. the mouse scroll left / right events get passed.

[2017-03-02 11:44] pmk1c commented on #808
I just found this: https://bugzilla.gnome.org/show_bug.cgi?id=755183
Which reads as if this is a VTE problem.

[2017-03-02 14:07] gnunn1 commented on #808
That's correct, it's an issue with upstream VTE so not much I can do about it unfortunately.

[2017-03-02 14:07] #808 closed

[2017-03-02 14:08] gnunn1 commented on #805
Closing since this appears to be an upstream issue, will re-open if gnome devs disagree with me.

[2017-03-02 14:08] #805 closed

[2017-03-02 16:56] IamPr377y opened #809 "Terminal height under Wayland"
### Expected behavior

Terminal size is 80x24 or whatever is set in config on both X.org and Wayland backends.

### Actual behavior

Terminal size is 80x27 even though it is set to 80x24 on Wayland backend.

### Versions

- Terminix 1.5.0
- VTE 0.46
- gnome-shell 3.22.3
- libwayland 1.12

[2017-03-02 18:09] gnunn1 commented on #809
I can reproduce, thanks for reporting this.

[2017-03-02 18:25] johnnydvc opened #810 "error while loading shared libraries: libphobos2-ldc.so ... No such file or directory"
Hi.
I've just updated terminix and I get the following error message:
`terminix: error while loading shared libraries: libphobos2-ldc.so.71: cannot open shared object file: No such file or directory`
Any ideas?
Thanks

terminix 1.5.2-1

OS: Manjaro 16.10 Fringilla
Kernel: x86_64 Linux 4.9.13-1-MANJARO
Shell: zsh 5.3.1
DE: GNOME
WM: GNOME Shell
CPU: Intel Core i5-3337U @ 4x 1.7GHz [41.0°C]
GPU: Mes

[2017-03-02 18:56] uncarvedblock commented on #810
Confirming, same error on Arch Linux.

[2017-03-02 19:04] Vaesper commented on #810
Do you have the ldc package installed? Might be a new dependency.

[2017-03-02 19:10] uncarvedblock commented on #810
Appears so, AUR PKGBUILD was just updated. solved the issue for me

[2017-03-02 19:11] #810 closed

[2017-03-02 19:12] gnunn1 commented on #810
Looks like this is sorted out now thanks to the packager @dsboger.

[2017-03-02 19:48] jvoisin opened #811 "Add ability to select the window state on startup"
Terminator has a nice option allowing its user to select the window state on startup (maximized, fullscreen, hidden, normal). It would be super-great to have the same in terminix (I'm a big fan of the "maximized on startup" thingy ♥)

[2017-03-02 19:49] f2404 commented on #811
It's already there - see terminix help.

[2017-03-02 19:50] bil-elmoussaoui commented on #811
![screenshot from 2017-03-02 20-50-30](https://cloud.githubusercontent.com/assets/7660997/23524201/e477eaec-ff89-11e6-8f5e-e840312d4ef5.png)

[2017-03-02 19:55] jvoisin commented on #811
Sure but it's not in the options, isn't it?

[2017-03-02 19:59] gnunn1 commented on #811
@jvoisin Thanks for the suggestion. Personally, I'm not seeing the point of having an option for it, just update your desktop file to add the command line options you want.

[2017-03-02 19:59] #811 closed

[2017-03-02 20:00] jvoisin commented on #811
Ok :)

[2017-03-02 21:43] gnunn1 commented on #809
xfce-terminal seems to have the same issue whereas gnome-terminal does not, time to do spelunking through gnome-terminal code.

[2017-03-03 01:22] wagoodman commented on #99
@gnunn1 when I try to load multiple copies of the same session terminix crashes and the terminal where I ran `terminix -s session.json -s session.json` says:
[code]

[2017-03-03 03:14] larsks opened #812 "RFE: support global custom links"
I really enjoy the "custom links" feature.  I use it to make the bug references in git commit logs clickable, which turns out to be incredibly convenient.  Unfortunately, if I create a new profile I lose all my custom links.  I wish there was an option to have both global and per-profile custom links.

Sure, I can clone an existing profile to start with a particular static set, but this rapidly be

[2017-03-03 04:39] wagoodman opened #813 "Crashes when loading multiple sessions"
@gnunn1 when I try to load multiple copies of the same session terminix crashes and the terminal where I ran `terminix -s session.json -s session.json` mentions:
[code]
Something to note about this is that there is different behavior depending on if terminix was already running or not, and how it was invoked. Specifically, the above (bad) behavior only happens when:
- terminix is alreay running an

[2017-03-03 08:38] f2404 commented on #809
Thanks for the heads up, @gnunn1. I will also look into this.

[2017-03-03 13:30] gnunn1 commented on #813
Thanks for reporting this, I can reproduce and will have a look.

[2017-03-03 13:34] gnunn1 commented on #809
One thing I've noticed is that gnome-terminal has a method called ```terminal_window_update_size``` in ```terminal-window.c``` that seems to resize the window based on calculating pixels from the VTE grid size. It's called in a few places after the VTE set_size method is called but I haven't determined if that is what is making the difference.

[2017-03-03 14:09] f2404 commented on #809
I believe it has something to do with the magic here: https://git.gnome.org/browse/gnome-terminal/tree/src/terminal-window.c#n3627
Another question is why our code is working fine under X but fails under Wayland...

[2017-03-03 14:58] carlwgeorge commented on #803
Sorry for the delay.  The terminix AUR package got updated to 1.5.2, so I updated to that and it appears the issue has been fixed.  Thanks!

[2017-03-03 15:20] Vaesper opened #814 "Center active terminal area within its tile"
The active terminal area is pressed up against the topleft corner of its tile, even when there is width and/or height to spare (in the case that the width of a column is not an integer divisor of the width of the tile, or the same in the other dimension, one of which if not both is true at most times). This bothers me more than it rightfully should.

[2017-03-03 16:12] gnunn1 commented on #814
I've read this a few times and I'm not following what you are getting at, could you post a screenshot illustrating the issue please.

[2017-03-03 21:34] Vaesper commented on #814
Apologies, my terminology is probably not very clear.

![terminix_vims_on_red_bg](https://cloud.githubusercontent.com/assets/20790014/23569752/ad8a9e5e-0069-11e7-966c-58e87597c0dc.png)

Terminix BG color is red, vim overrides bg color for the "cells" it conrols, so this showcases it quite well.

[2017-03-04 00:20] gnunn1 commented on #814
Thanks, I'll have a look but I don't think there is anything I can do about it. Maybe I'm not seeing it, but it looks to me to be simply an issue of margins where there is insufficient space to fit a column or row.

[2017-03-04 00:23] gnunn1 opened #815 "Project name change required due to trademark infringement"
Looks like I'm going to have to change the name of the project as I received a letter from the Terminix corporation with regards to trademark infringement. While I could fight it, I don't think it's worth the time or effort.

I think when I ran the naming poll last year the preferred alternative was Mosaic so I'll probably end up going with that.

[2017-03-04 00:52] alex285 commented on #815
i reckon to get an advisory from Github people before you change the name, and make sure their request is at least legit. But if they cant force it, just stay Terminix and ignore them. Besides pretty sure there are also firms and products called Mosaic too :/

[2017-03-04 00:57] alex285 commented on #815
@gnunn1 hmm, you removed the letter? why?

[2017-03-04 02:40] gnunn1 commented on #815
I didn't want anyone harassing the lawyer, he's just doing his job.

[2017-03-04 06:49] arcticicestudio commented on #815
I think Alex is right, you should probably ask GitHub for advice on how to handle this or maybe try to contact the corporation to try to clear that this project is in no way connected with / related to their company.

If this doesn't help, maybe you should start another poll to get some more name ideas.
The name "Mosaic" may cause even more problems, just google for it and there will be more than

[2017-03-04 09:04] alex285 commented on #815
@gnunn1 obviously is up to you, but i would kindly request to attach again the letter. It has nothing to do with who signs it, but with the company. Moreover it is essential to be here for people to understand the issue, and to be aware in future such cases that can came into themselves, and in any case it is a public document since it concerns a public project, and  it is not a private.

My 2 cen

[2017-03-04 09:24] Vaesper commented on #814
Yes, but in terminix this happens a lot, because the size of the terminix window, as well as the tile separators, are not "snapped" to a multiple of the "cell" size. In my opinion that's good (and unavoidable if the window is maximized) but the way that the "extra space" is distributed around the active area feels wrong to me.

[2017-03-04 10:21] nean-and-i commented on #806
I'll be your man ;-)

I heavily use it for daily work (international ISP),...
so, I'd recognise any issue quite soon, but sometimes I can't find time for time consuming debugging, but will do my best ;-)

fyi, the scrollbar issue also still exists, but only on very rare basis, it seems only on certain window sizes.

However, it's becoming the very best terminal app in the gnome world, love it, and

[2017-03-04 11:18] phw commented on #814
From what you write you would distribute the extra space evenly at top and bottom. I personally would dislike this, as multiple terminals next to each other would all end up with different alignment. In your example screenshot the terminal on the upper left would be about half a line height lower than the left terminal. That would  look off to me, especially since I often rely on terminals beside

[2017-03-04 13:04] jp7677 commented on #815
I like "Mosaic" very much, makes searching in Gnome Shell Overview also easier since "Terminal" always appears before "Terminix" in the search results. But I don't want to turn this thread into a new poll so please stay on topic ;).

[2017-03-04 13:11] f2404 commented on #815
[Mosaic](https://en.wikipedia.org/wiki/Mosaic_(web_browser)) was a web browser so I'm afraid this isn't a valid choice.

[2017-03-04 13:16] gnunn1 commented on #815
@f2404 the last release of Mosaic the browser was twenty years ago so I'm not too worried about that. @arcticicestudio makes a good point about the google-ability of the name though, might be better to go with something made up and unique.

[2017-03-04 13:16] gnunn1 commented on #815
Anyway, I'll run another poll on the name later today.

[2017-03-04 13:28] f2404 commented on #815
Also, [Mosaic™](http://www.nvidia.com/object/nvidia-mosaic-technology.html) is an NVIDIA trademark.

[2017-03-04 14:41] gnunn1 commented on #815
@f2404 That would be the show-stopper.

[2017-03-04 14:43] gnunn1 commented on #815
Here's the text from the lawyer for the Terminix corporation without his contact information:
-----
Our firm represents The Terminix International Company Limited Partnership, an
affiliate of The ServiceMaster Company, LLC (“Terminix”) in its intellectual property
matters. As you may be aware, our client has continuously been using the trademark
TERMINIX for almost 90 years and has built a brand t

[2017-03-04 14:59] gnunn1 commented on #809
I've opened an issue in gnome bugzilla for this:

https://bugzilla.gnome.org/show_bug.cgi?id=779572

[2017-03-04 15:01] gnunn1 commented on #814
I don't see anyway to make this work better and as @phw alluded to workarounds just bring a host of new issues. I appreciate the suggestion but I'm marking this as won't fix.

[2017-03-04 15:01] #814 closed

[2017-03-04 15:41] #813 closed

[2017-03-04 15:44] gnunn1 commented on #813
I've fixed this in master, the issue was that it was testing for the existence of the filename early which doesn't work when the command line is coming from a remote instance. At a later point if the filename doesn't exist, it prepends the remote CWD to the filename to try to resolve it.

You can workaround it in the current version by specifying a fully qualified file name rather then just the fi

[2017-03-04 16:15] wagoodman commented on #813
Subtle... Thanks for the work around (and the quick turn around)!

[2017-03-04 17:42] thanostx commented on #815
You kill/fix bugs faster than they do, that's why they fight you! 🥇

[2017-03-04 17:44] gnunn1 commented on #815
@thanostx I was going to joke that I'm probably improving their reputation which seems pretty horrid based on the reviews I've seen

[2017-03-04 17:48] gnunn1 commented on #815
So of the names suggested previously in #41, here's the ones I liked:

Tessellate
Splitterm
Ditto

I'm also going to suggest one more name, an invented word which combines Tile and Unix:

Tilix

[2017-03-04 17:51] alex285 commented on #815
Tessellate is even hard to write
Splitterm is a description, not a name :)
Ditto, I dont know if means something, but I will vote for this
Tilix ..is so typical unIX :p

[2017-03-04 17:56] gnunn1 commented on #815
Ditto is an English word meaning "a similar thing; a duplicate".

[2017-03-04 18:00] gnunn1 commented on #815
Termino? It's the Spanish word for Terminus which I also like but would prefer not to use since it's fairly well used already.

[2017-03-04 22:12] ivoarch commented on #815
+1 Ditto
+1 Tilix

Tremendous Terminal (tremendous-terminal) , Tremendous Tile (tremendous-tile) ,
Tremendo in Spanish
Tremendus (trĕmendus ) in Latin
Mosaico - el mosaico - mosaĭcum

[2017-03-04 22:13] edubxb commented on #815
:+1 for Tilix

[2017-03-05 08:31] jp7677 commented on #815
What about:
Tico - Tiling Commands, a tiling Terminal Emulator for Linux using GTK+ 3

[2017-03-05 09:30] alex285 commented on #815
What about TNT Terminal? Tilix Not Terminix :p

[2017-03-05 13:59] f2404 commented on #815
I also like Tilix, but there seems to be a name clash again: [linux distro](https://distrowatch.com/table.php?distribution=tilix), [company](http://www.tilix.uk/)
Ditto: [clipboard manager](http://ditto-cp.sourceforge.net/), [pokemon](http://www.pokemon.com/us/pokedex/ditto)

[2017-03-05 17:00] Vaesper commented on #815
+1 on a name that does not overlap with GNOME Terminal in the overview search. Right now I have to type the name all the way out to `termini` before it will launch Terminix rather than GNOME Terminal. So better to have a unique prefix rather than a unique suffix imho. (Honestly though I think you shouldn't be giving in to this lawyer but this seems like a good opportunity to address that "bug").

[2017-03-05 23:38] egmontkob commented on #815
How about adding a bit of ego? gnterm, gnix, gnunnix, ... :)

[2017-03-06 08:44] ivoarch commented on #815
Gnuterm

[2017-03-06 13:13] gnunn1 commented on #815
@egmontkob Thanks for the suggestion, but I'm not much for ego. I have a personal company called GExperts and back in the days when I was doing Delphi development used to name free things I was working on GX..., so my file explorer was GXExplorer, etc. Having said that, things always change and there may come a time where I hand the project over to someone else, I'd prefer it not to be related to

[2017-03-06 13:16] f2404 commented on #815
@gnunn1 OK, I vote for Tilix then if you're fine with this name.

[2017-03-06 14:28] lasombra commented on #803
It seems the Fedora COPR is broken. Anyone looking into it?

[2017-03-06 15:06] Nevel commented on #815
I used to love the GExperts Delphi enhancements, so thanks for making my life easier!
Suggestions I like best so far:
- Tico
- Tilix
- Tremendus

[2017-03-06 15:12] dsboger commented on #815
https://en.wikipedia.org/wiki/Tyler

[2017-03-06 16:39] pkkid opened #816 "Request: Option to Disable Word Wrap"
This might seem like an odd request, but it's actually quite useful if you have a terminal open to view logs while performing other actions.  If I could right click and enable/disable word wrap it often makes reading these logs much easier at the expense of not seeing things off the right side of the screen (which is not always needed). Bonus points if we can have a horizontal scrollbar that doesn

[2017-03-06 16:40] pkkid opened #817 "Request: Option to Disable Word Wrap"
This might seem like an odd request, but it's actually quite useful if you have a terminal open to view logs while performing other actions.  If I could right click and enable/disable word wrap it often makes reading these logs much easier at the expense of not seeing things off the right side of the screen (which is not always needed). Bonus points if we can have a horizontal scrollbar that doesn

[2017-03-06 16:40] pkkid commented on #816
Closing, double clicked. :(

[2017-03-06 16:40] #816 closed

[2017-03-06 17:01] gnunn1 commented on #817
You can disable re-wrap on a per Profile basis, just configure a profile with this option turned off and then switch between them as necessary.

[2017-03-06 17:01] #817 closed

[2017-03-06 17:21] pkkid commented on #817
The option you are referring to is not what I am talking about.  Re-word wrap rewraps lines when you resize the window.  What I am requesting is to not wrap lines at all and let the text roll off the right side of the terminal.

[2017-03-06 17:23] pkkid commented on #817
To clarify, when "Rewrap on resize" is disabled, new lines entering the terminal are stilling getting word wrapped.

[2017-03-06 18:08] gnunn1 commented on #817
My apologies I misunderstood. Unfortunately there is no way to disable wrapping, this would need to be implemented by the VTE which terminix uses for terminal emulation. You could open a request for it in GNOME's bugzilla but I very much doubt it would get accepted since terminals do not work this way for a number of reasons. In fact, I'm not aware of any terminals that support this capability.

T

[2017-03-06 18:18] pkkid commented on #817
No problem.  I thought it migth be possible when I saw that you can re-wrap on window resize, but it sounds like that feature might be upstream from vte as well.  Using less is a good workaround, thanks!

[2017-03-06 23:33] gnunn1 commented on #815
Just an update, I spoke to the lawyer and agreed to changing the name. In exchange, the lawyer has agreed to vet a new name to make sure there are no conflicts, at least in the US, on a pro-bono basis since it is a lot cheaper for them to do that then litigate it.

[2017-03-07 06:08] Kozzi11 opened #818 "Terminix in quake mode does not focus"
When running terminix in quake mode it does not focus, so I must click on terminal be able to write anything. It happens mainly with first start of terminix in quake mode

[2017-03-07 08:01] GeertGeurts commented on #789
Sorry for the late reply gnunn1, I got lost in dependency hell although the "dub" tool seems to be there to overcome dependency hell, not having it is... well.... HELL ;D
Anyways, I got things working! Thanks for the improvement of terminix!!
It's brilliant!
Thanks!

[2017-03-07 09:05] lasombra opened #819 "Fedora COPR builds are broken"
It seems the Fedora COPR builds are broken since 1.5.1, with 1.5.0 only built for Fedora 24, 25 and 26.

More information at https://copr.fedorainfracloud.org/coprs/heikoada/terminix/builds/

[2017-03-07 13:24] gnunn1 commented on #819
I don't handle the packaging, did you send an e-mail to the package maintainer?

[2017-03-07 13:26] gnunn1 commented on #819
And looking at the build file, this looks like the problem is because of the newly added localized man pages.

[2017-03-07 13:26] #819 closed

[2017-03-07 13:26] lasombra commented on #819
Ah, fair enough. Let me close issue then.

[2017-03-08 15:03] gnunn1 commented on #818
Is this on X11 or Wayland? Also, what distro and version are you using? Finally what version of terminix are you using.

[2017-03-08 22:46] TravellingGuy commented on #794
I just upgraded from 1.4.2 and I'm hitting this and it's very annoying, especially for people that have "Automatically Raise Windows" disabled in the Gnome Tweaks. With that disabled, you need to click the title bar of a window to raise it, which I do all day long.

The different with Epiphany is, in Epiphany there is lots of padding on either side of the URL entry field, so it's easy to click the

[2017-03-09 00:04] simonwiles opened #821 "Feature Request: scrolling up interrupts "scroll on output""
I'm a recent convert from another tiling terminal emulator, and I'm really missing this feature.  What I would like is the current "scroll on output" behaviour, but for it to be interrupted when I scroll back through the history (and then be resumed when I scroll back to the bottom).  (This is the behaviour of the terminal emulator I've been using for some years.)

Two major use cases: the first i

[2017-03-09 00:14] gnunn1 commented on #821
You can turn this off in Profiles | Scrolling by disabling the option ```Scroll on output```. Does this do what you want?

[2017-03-09 00:26] simonwiles commented on #821
erm, yes, that's it... so sorry -- I guess I just saw "scroll on output" and turned it on assuming I knew what it meant... apologies for wasting your time!

[2017-03-09 00:26] #821 closed

[2017-03-09 14:25] gnunn1 commented on #597
@debaetsr Extensions are different then applications because they are parented to the desktop window so they can use that as a reference whereas applications cannot.

[2017-03-09 19:57] tonylambiris commented on #789
Working for me too, thanks!

[2017-03-10 18:49] gnunn1 commented on #815
The lawyer said there is no issue with Tilix, at least in the USA, so I'm going to go ahead and change the name to that this weekend. Obviously the repo and web site will be re-named, but various artifacts referencing Terminix in the code and elsewhere will be updated as well.

[2017-03-11 00:47] gnunn1 commented on #815
Just a heads-up as well, this is going to break everyone's settings since the gsettings will change from com.gexperts.Terminix to com.gexperts.Tilix.

[2017-03-11 00:49] egmontkob commented on #815
Could you perhaps add some migration code that copies over all the old settings (if the new ones are absent)?

[2017-03-11 10:05] alex285 commented on #815
@gnunn1 Tilix (http://www.tilix.uk/) doesn't belongs to TIAA (https://www.tiaa.org/)? thats inside the 50 biggest companies worldwide and US based

in any case and to my view it would be a huge mistake to make a name change for the wrong reasons. first Terminix (the terminal) is totally legit, as it has nothing to do with Terminix (the company) as objective (Terminix isn't even a brand name, is a

[2017-03-11 14:16] gnunn1 commented on #815
@alex285 If you want to cover my legal fees to fight it, let me know. Otherwise it's not up for discussion.

Tilix isn't a registered trademark in the US and Canada so it's not a protected term and thus is safe to use.

[2017-03-11 14:36] gnunn1 commented on #815
@egmontkob Unfortunately I'm not seeing an easy way to do this. Typically the install would involve uninstalling Terminix and then installing Tilix, either manually or by a package manager. Uninstalling Terminix will remove it's gsettings (i.e. removing it's schema) and making the settings inaccessible.

[2017-03-11 16:39] egmontkob commented on #815
Can it still ship gsettings schema files under both 'tilix' and 'terminix' for a transational period (about a year or so)? I hope their lawyers wouldn't mind it. Not sure about the technical bits. Thanks!

[2017-03-11 18:27] gnunn1 commented on #815
@egmontkob There's a number of issues with that as well. First off, there's no way to tell if the person is a new user or an existing one, so that means it will always copy from the old to the new even for new users. This in turn implies a certain amount of backwards compatibility, for example removing from the new schema or changing defaults means I have to maintain the same in the old.

Also for

[2017-03-11 18:28] gnunn1 commented on #818
@Kozzi11 Any responses to my questions, otherwise I'm going to close this issue.

[2017-03-11 18:31] alex285 commented on #815
@gnunn1 legal fees in what? is there a Terminix (Terminal) company to sue? At the worst what they could do, is to sent a letter to Github and ask them to suspend Terminix (the repo). Thus first thing you should had done was to contact Github legal department and ask for an advice

btw if you look on: https://www.uspto.gov/
you can see there are several Trademarks registered under Terminix on US

A

[2017-03-11 18:54] gnunn1 commented on #815
@alex285 As far as I can tell, all of those Terminix trademarks are registered by the same company, Terminix International. It's quite common to register variants of the name AFAIK.

My expectation is that Github would get a takedown request from them and decide whether or not to takedown the repo. Github's policy on this is pretty clear:

https://help.github.com/articles/github-trademark-policy/

[2017-03-11 19:08] gnunn1 commented on #815
@alex285 Also, if you think Tilix is a bad name then feel free to come up with some suggestions and check that they have no issues and I'd be happy to consider them.

[2017-03-11 19:18] alex285 commented on #815
@gnunn1

well that is a good point! I'm just pissed with the demands that some people made! anyway!

nah, Tilix is okay! Besides when you first placed the naming issue, I wasn't in favor of Terminix anyway! I like Tilix more! If I remember, you wasn't such a huge fan of Terminix name either :)

[2017-03-11 19:23] repsac-by commented on #818
@gnunn1 X11 and Wayland with GDK_BACKEND=x11

After first launch has no focus, but after calling an already running instance works correctly.

[2017-03-11 20:04] Kozzi11 commented on #818
@gnunn1 Sorry, I somehow missed your first response, which is wierd, because even github does not remind me :). It does not matter, which distribution or wayland vs. X11. I am using Arch, Fedora .... It happens on all of them. But on Fedora it seems worse. It happens with almost every open.

[2017-03-11 21:11] Thor77 opened #822 "Prompt on close expands shell-globs, extending window-width"
Steps to reproduce
================
1. Run a command including a shell-glob (`*`) - for example `cat /etc/*`
2. Close Terminix while the command is still running

Behaviour
========
Prompt appears asking whether to kill the running process, displaying the command with expanded glob and extending width of the Terminix-window.

Expected behaviour
================
Prompt appears asking whether to kil

[2017-03-12 00:33] gnunn1 commented on #815
I've completed the name change, feel free to open bugs or PRs for things I've missed. I'm sure there will be some issues as we go through a transition period, I appreciate your patience.

[2017-03-12 00:33] #815 closed

[2017-03-12 00:38] bil-elmoussaoui commented on #815
@gnunn1 is anything should be reported to Weblate guys ? As far as I can tell the repository name on Weblate is still Terminix

[2017-03-12 00:41] gnunn1 commented on #815
@bil-elmoussaoui Definitely and I will be sending them an e-mail shortly, just cleaning up a few remainings first.

[2017-03-12 01:05] dsboger commented on #815
I'm working with migrating the autotools files. Soon after Ill push a tilix-git to AUR and ask for a merge from terminix-git to tilix.

[2017-03-12 01:20] #822 closed

[2017-03-12 01:21] gnunn1 commented on #822
Thanks for the detailed report and screenshot, made it super easy to see what the issue is. I've fixed this by enabling ellipsis if the description is too long.

[2017-03-12 01:22] gnunn1 commented on #815
Thanks @dsboger, that would be great.

[2017-03-12 01:39] gnunn1 commented on #818
I'm not able to reproduce on Arch as it is working fine for me as far as I can tell. Are you using the version from master or 1.5.2?

[2017-03-12 01:41] gnunn1 commented on #809
I'm closing this as an Upstream issue to fix.

[2017-03-12 01:41] #809 closed

[2017-03-12 02:23] dsboger commented on #815
[tilix-git](https://aur.archlinux.org/packages/tilix-git/) is up and running (I'm using it now). The other packages (terminix, vte3-terminix-git) I'll move after Tilix is released.

[2017-03-12 11:32] bil-elmoussaoui commented on #25
Hello, guys(packages maintainers). Can you please ping me whenever you update the package to the new name? So,I can update the website too. Thanks and have a great weekend

[2017-03-12 14:26] ximion commented on #815
Please note that while Terminix is completely unrelated to software (and therefore I don't know whether their trademark is applicable to Terminix), there is a company called Tilix doing software stuff: http://www.tilix.eu/
However, I couldn't find a registered trademark for Tilix, so going with that name might be fine.

[2017-03-12 15:15] GreenDou commented on #818
Versions
	Terminix version: 1.5.2
	VTE version: 0.42
	GTK Version: 3.18.9

Also has this issue. Quake mode never focus automatically. But it focus without --quake.

[2017-03-12 16:20] koalization opened #824 "Terminal size doesn't change"
Today I've compiled the source from the master branch on both Fedora 25 (X11) and Xubuntu 16.04.2. This is something I've done many times because I like the terminal so much that I keep it updated quite often. However, I noticed that the name was changed from Terminix to Tilix. Normally I don't uninstall it before reinstalling it, this time I did it (using the old uninstall.sh script that managed

[2017-03-12 16:39] Vaesper commented on #815
Under the excuse "better late than never":

Tilter

Short for TILing TERminal.

[2017-03-12 16:57] #824 closed

[2017-03-12 16:57] gnunn1 commented on #824
Me bad, I accidentally checked in something I was debugging. Should be fixed now, my apologies for this.

[2017-03-12 17:10] koalization commented on #824
Thank you very much for your prompt reply and fix.

[2017-03-12 17:43] gnunn1 commented on #818
I just tried it in Fedora 24 as well, works fine for me there as well. Having said that I've checked in a change to try to help with this so feel free to build it and see how it goes.

[2017-03-12 17:50] ivoarch commented on #25
@bil-elmoussaoui
You can remove CentOS 7.x package from the list . Since version 1.5.x Epel builds are broken .
These packages do not exist for CentOS-7 on Epel -  `ldc-druntime` , `ldc-phobos` .

[2017-03-12 17:58] bil-elmoussaoui commented on #25
Alright! i will hide the package from the website until a new update

[2017-03-12 18:42] repsac-by commented on #818
@gnunn1 focusing is influenced by the option `Set hint for window manager to disable animation`
if not checked then focused otherwise no focus

[2017-03-12 19:54] SemaiCZE commented on #819
I would like to reopen the issue - the maintainer wrote me, that it is not possible to build 1.5.2 version of Terminix for Fedora 25 because it requires newer ldc-runtime than Fedora ships. However this is serious issue since latest build for Fedora 25 is 1.5.0 which is crashing (#803, #806). Older builds are not preserved in COPR. Is it possible to lower the requirements so it would be possible t

[2017-03-12 21:57] gnunn1 commented on #818
@repsac-by Thanks, that does indeed seem to be the problem. I'll probably remove the option if it's causing this issue.

@Kozzi11 and @GreenDou Can you confirm if you have this option enabled?

[2017-03-12 22:32] gnunn1 commented on #819
I've dropped a note to the maintainer. I think the COPR is just using my binaries so I'm not sure what the issue is, hopefully the Fedora package maintainer can elaborate.

[2017-03-12 22:37] bil-elmoussaoui commented on #819
@gnunn1 What about keeping .0 releases as LTS ? so they can get hot fixes without updating requirements versions or any new feature

[2017-03-13 09:30] Kozzi11 commented on #818
@gnunn1 Yes, I can confirm that

[2017-03-13 12:19] #818 closed

[2017-03-13 12:20] gnunn1 commented on #818
I've removed the disable animation option to fix this issue.

[2017-03-13 12:47] phw commented on #815
For migrating my settings I did:

    dconf dump /com/gexperts/Terminix/ > terminix.dconf
    dconf load /com/gexperts/Tilix/ < terminix.dconf

This even works after you have uninstalled the terminix schema, since the user customized settings are available even after the schema got removed, and the default settings do not matter anyway.

You can of course also do this in a single line, but I wante

[2017-03-13 13:12] gnunn1 commented on #819
@bil-elmoussaoui Unfortunately I think that would be too much effort to maintain for the resources available (i.e. me).

[2017-03-13 19:59] koalization opened #825 "Just a very minor correction"
Compiled from master on Fedora25/Xubuntu16.04.2: in Preferences->Shortcuts, section Action->Nautilus, the entry should read "Open in Tilix".

[2017-03-13 21:20] gnunn1 commented on #825
I think that's just because the localization hasn't been updated yet, I'm holding off until hearing back from the Weblate guys to make nothing gets screwed up. If you look at the code, it's been updated:

https://github.com/gnunn1/tilix/blob/master/data/nautilus/open-tilix.py

[2017-03-13 21:20] #825 closed

[2017-03-13 21:44] koalization commented on #825
Thanks.

[2017-03-13 22:09] gnunn1 commented on #819
The COPR maintainer replied to me and I can confirm the issue, it's because I switched to LDC for building the binaries and by default it links against the libphobos shared library instead of linking against it statically. Unfortunately, this isn't something that can be changed at compiled time, LDC must be built to support static packages. You can see the LDC bug report here:

https://github.com/

[2017-03-13 23:12] #698 closed

[2017-03-13 23:13] gnunn1 commented on #698
I've added definable shortcuts for these, defaults match VTE keystrokes. Note that if alternative shortcuts are defined, the VTE hard coded ones are still active since there is no way in VTE to disable them.

[2017-03-13 23:18] nasciiboy commented on #698
Aware, I'll try it

[2017-03-14 00:39] koalization commented on #794
I'm in favour of a Ctrl+Click as well. I like the ability to change the title, but it's something I would do rarely anyway. More often than not my mouse cursor gets accidentally trapped into the title text field.

[2017-03-14 08:49] SemaiCZE commented on #819
Thanks a lot for your work!

[2017-03-15 07:52] martinrotter opened #826 "Tabs are not there?"
Maybe I am blind, but if I open new terminal using `CTRL+SHIFT+T`, then I do not have option to switch between terminals via some kind of visible tabs. Am I missing anything?

[2017-03-15 10:58] f2404 commented on #826
@martinrotter see [FAQ](https://github.com/gnunn1/tilix/wiki/FAQ)

[2017-03-15 11:22] martinrotter commented on #826
Thx, will try.

[2017-03-15 11:22] #826 closed

[2017-03-15 13:29] hotice commented on #25
@bil-elmoussaoui but isn't the binary resulted from the new package still going to be called "terminix"? I think we need to wait for a new version to be released which includes the new name everywhere.

[2017-03-15 13:43] gnunn1 commented on #25
@hotice is correct, there's not point re-naming packages until a Tilix release is available. I'm hoping to push out a Tilix package this weekend. It will obviously include the name change, a couple of minor fixes and address the issue that is preventing the Fedora COPR package from working.

[2017-03-15 14:49] ximion commented on #819
@gnunn1 Huh? Just build with a recent LDC (>= 1.1) and ship libphobos and libdruntime with your binaries. That's an easy thing!
Also, thanks to @kalev, the latest LDC is available in Fedora: https://admin.fedoraproject.org/pkgdb/package/rpms/ldc/

[2017-03-15 16:17] gnunn1 commented on #819
@ximion Fedora's version of LDC is too old (https://apps.fedoraproject.org/packages/ldc), they are talking about upgrading to 1.1 but it's only available in Fedora 26 and Rawhide as far as I know.

I might be missing something here, but I'm not keen on shipping libphobos in the binaries as it just duplicates the version already available in up-yo-date distros. Also, where would these libraries get

[2017-03-15 16:41] ximion commented on #819
@gnunn1 At least on Debian, statically-linking everything with LDC works quite well:
[code]

[2017-03-15 16:41] phw opened #827 "Weblate translations out of sync"
Just noticed Weblate had trouble taking over the recent changes to the translation files (Terminix -> Tilix). Reported upstream to Weblate at https://github.com/WeblateOrg/weblate/issues/1409 .

[2017-03-15 17:03] phw commented on #827
All fine, was quickly fixed. Was caused by the recent renaming inside Weblate.

[2017-03-15 17:03] #827 closed

[2017-03-15 17:10] gnunn1 commented on #819
On Arch I get:

[code]

[2017-03-15 17:14] gnunn1 commented on #819
Not sure why the linker is trying to find phobos2 instead of libphobos2, sometimes I really prefer dealing with Java. :)

[2017-03-15 17:21] ximion commented on #819
It *is* trying to find libphobos2 ;-) The standard Linux/UNIX library names lib<foo>.so and lib<foo>.a get shortened to -l<foo> as a linker flag.

That message means you don't actually have the static libraries available.
For Tilix, the Automake stuff can't do the job since it is calling ldmd2 which doesn't know about -static, and dub fails with weird linking issues, so I think I'd need to try the

[2017-03-15 17:23] phw commented on #819
Which is not surprising given Arch usually does not install static libraries at all.

[2017-03-15 17:37] gnunn1 commented on #819
Yeah that looks to be the issue, there's no LDC static library version on Arch as far as I can tell. Basically there's no -devel package for libphobos for LDC like there is for DMD which supplies the static library version.

[code]

[2017-03-15 17:48] ximion commented on #819
I made this work with Meson, but it's kind of wacky, since Meson uses the dynamic versions of GtkD, so I am creating a weird hybrid at time.

What you normally do in these cases is ship your shared libraries in a private lib dir (e.g. `/usr/lib/tilix`) and place your executable there as well, then add a tiny shell script to `/usr/bin` containing something like:
[code]

And be done with it.

[2017-03-15 17:49] gnunn1 commented on #819
Or I can just go back to using DMD and be done with it...

[2017-03-15 17:56] ximion commented on #819
Depends. LDC creates much faster code compared to DMD, which is a strong reason at least for me to compile with LDC.
If that's not a priority, either compiler is fine (DMD has its fast compile speed going for it).

[2017-03-16 14:34] #794 closed

[2017-03-16 14:35] gnunn1 commented on #794
I have added an option in Preferences | Global | Behavior to require the Control modifier when clicking the title.

[2017-03-16 18:32] leoheck commented on #794
Good, but why not to make this the default behavior instead?

[2017-03-16 18:35] gnunn1 commented on #794
Because I like it the way it is :)

[2017-03-16 21:24] taurthil opened #830 "Titlebar not showing on archlinux"
I have empty space when using Quake mode on Gnome environment
![titlebar](https://cloud.githubusercontent.com/assets/6709830/24019144/20c2cfd6-0a97-11e7-9dac-4c6cf285d91a.png)
Versions
	Tilix version: 1.5.3-1.0.0
	VTE version: 0.46
	GTK Version: 3.22.9

[2017-03-17 11:50] gnunn1 commented on #830
Thanks for the report, I don't see the gnome top bar in the screenshot? Are you using an extension like Dash-to-panel to move it?

Also is this Wayland or X11?

[2017-03-17 12:08] taurthil commented on #830
X11 but in Ubuntu on my laptop that problem, not exists.
But when I use f12 to show all to show all terminal spaces the Bar returned and hide again

[2017-03-17 13:50] gnunn1 commented on #830
I'm not able to reproduce and I'm running the same versions as you on Arch. Can you post a screenshot of your Quake options, here is what mine looks like:

![screenshot from 2017-03-17 09-49-27](https://cloud.githubusercontent.com/assets/9358238/24045942/222c0c74-0af7-11e7-862c-f824e784c128.png)

[2017-03-17 13:51] taurthil commented on #830
Height percent 90
Width 100

[2017-03-17 13:56] gnunn1 commented on #830
Thanks, unfortunately I cannot reproduce it using your settings. Do you have window or font scaling enabled at all in the gnome tweak tool?

Also, can you answer the question about the Gnome top bar, how come it's not in the screenshot? Based on your bug report I would expect to see the Gnome top bar, a gap and then the tilix quake mode window.

[2017-03-17 14:04] taurthil commented on #830
Sorry. I'm using wrong description about problem because I don't have tilix title bar
![titlebar](https://cloud.githubusercontent.com/assets/6709830/24046431/cd1c078a-0b22-11e7-939b-6c6a87159464.png) red line

[2017-03-17 14:11] gnunn1 commented on #830
I wonder if it's transparent because it's not loading resources correctly. If you close all instances of tilix and then it in quake mode from gnome-terminal (or another terminal) are any warnings/errors being printed out. i.e.

[code]

Also, how did you install it on Arch, from the ```tilix-git``` package?

[2017-03-18 03:37] akyag opened #831 "Help with shortcut"
I have a launcher shortcut that executes the command as follows -

but this opens the default terminal. Adding /usr/bin/terminix before mono doesn't work either. I want this launcher to execute in terminix too and not open the regular terminal.
I am on Fedora 25 x64 btw.

[2017-03-18 13:52] Manuel-Koenig opened #832 "Randomly appearing Segfaults"
Hi,

in the last few days Terminix segfaulted a few times, which never happened before.
I think in all cases I was working with two split windows, running nvim in one window and compling stuff in the other window. This last crash happened while I was in the nvim window, here is a gdb backtrace:

[code]

I'm using the ArchLinux Terminix version:

[code]

[2017-03-18 14:44] gnunn1 commented on #832
There was a problem in 1.5.0 with the timeout that was used to indicate the BELL visually. If you have the visual bell enabled in your profile, try disabling it or upgrade to 1.5.2 where it was fixed.

[2017-03-18 15:51] vmercuri commented on #831
Like gnome-terminal, Tilix (former Terminix) supports the ``-e`` option, which lets you execute a parameter (a "string", in this case) as a command. You need to configure your ```Sonarr.desktop``` file with something along the line of:

[code]
Also, don't forget to make it executable with ```chmod +x Sonarr.desktop```.

[2017-03-18 16:14] Manuel-Koenig commented on #832
That's probably it! I just recently switched to using the visual bell. I'll upgrade and close the issue.

[2017-03-18 16:14] #832 closed

[2017-03-18 16:18] gnunn1 commented on #831
@vmercuri provided a great answer, however here's an alternate workaround to make Tilix the default browser. First some background, if you look at the Gnome bug https://bugzilla.gnome.org/show_bug.cgi?id=627943 you can see the issue is that glib hard-codes the terminal emulators.

Comment 55 (https://bugzilla.gnome.org/show_bug.cgi?id=627943#c55) on the bug report provides an easy way to make tili

[2017-03-18 16:18] #831 closed

[2017-03-18 18:10] arigit opened #833 "Drag a terminal outside of the Terminix window under Wayland: new window not created"
On Fedora 25, terminix installed from COPR / https://copr.fedorainfracloud.org/coprs/heikoada/terminix/

When on a Wayland session, dragging a terminal tile outside of the Terminix window does not create a new window with the tile contents. Dragging the tile within the Terminix window (when having more than one tile open) does re-arrange the tiles within the window.

When trying the same on an X11

[2017-03-18 18:28] arigit opened #834 "Transform an existing Session into a new Terminix window"
Feature request: be able to send a session (with its current terminal layout) to a new window, with GUI and/or shortcut.

I thought that in the GUI, when pressing F12 - in the session sidebar, it would be nice to have a little icon that would do this.

Another (additional?) way to trigger this could be dragging the session thumbnail from the sidebar to outside of the window. Extending this further

[2017-03-18 19:35] arigit commented on #360
Perhaps in addition to tiling in "grid style" it would also be nice to have options to re-tile Vertically or re-tile horizontally - either option giving equal area to each terminal
Somewhat aligned with what the Gnome-Shell extensions for tiling do

[2017-03-18 19:55] arigit commented on #681
Another vote for #3, I'd suggest a small icon like a padlock to toggle between persistent and auto-hide.

Also, this could allow dragging a terminal from the active session to any other session by dropping it on any of the sidebar's session thumbnails  which IMHO would be a neat ad-hoc way to re-organize sessions on the fly

[2017-03-18 22:25] #833 closed

[2017-03-18 22:26] gnunn1 commented on #833
This has been fixed, looking at the code for GtkNotebook I can see a new drag target was required for the root window to accept drops under Wayland.

[2017-03-19 13:48] gnunn1 commented on #819
This should be fixed now with new release, I'm stilling using LDC but with libphobos and libdruntime statically linked to avoid older versions of these libraries on Fedora and other distributions.

[2017-03-19 17:44] ivoarch opened #835 "The function you are calling is not pressent in your version of GTK+."
Please is it possible to return the support for GTK 3.14 ?
[code]

Thanks!!

[2017-03-19 19:19] #835 closed

[2017-03-20 08:05] lucascosti opened #836 "Preferences gone after change to Tilix"
I've just upgraded to 1.5.4, but with the name change all my preferences and profiles have been reset back to default.

Before I try to redo them, is there any way of getting them back? I'm no gsettings expert, so I wouldn't know where to start/look...

My system is Fedora 24, and I have been getting updates from the COPR repo at https://copr.fedorainfracloud.org/coprs/heikoada/terminix

[2017-03-20 08:07] phw commented on #836
Please see my comment on https://github.com/gnunn1/tilix/issues/815#issuecomment-286097276

@gnunn1 I think some upgrade instructions in the README would be handy :)

[2017-03-20 09:16] lucascosti commented on #836
Thanks @phw, worked like a charm.

+1 to the README instructions; I checked there and the wiki before opening the issue (I always forget to check closed issues :neutral_face:)

[2017-03-20 09:31] lucascosti commented on #681
Personally, I prefer tabs, but I think #3 is definitely better than what is there now. I constantly forget that I have other sessions open, and a visual cue like #3 has is much better imo.

[2017-03-20 09:33] netroby opened #837 "Is it possible support rz/sz zmodem file transfer?"
Is it possible support rz/sz zmodem file transfer?

[2017-03-20 12:13] gnunn1 commented on #836
I've updated the README.md and I'll update the news post as well on the web site.

[2017-03-20 12:13] #836 closed

[2017-03-20 12:18] gnunn1 commented on #837
Isn't this just down with a CLI program, what is there to support?

[2017-03-20 14:20] PrzemekSkw opened #838 "Tilix in quake mode?"
It's possible to make Tilix work with Terminix quake mode in gnome shell ?

[2017-03-20 14:23] gnunn1 commented on #838
If you mean the extension (https://extensions.gnome.org/extension/1123/terminix-dropdown/) you would need to contact the author. Tilix works fine in quake mode without it though:

https://gnunn1.github.io/tilix-web/manual/quake/

Just change terminix to tilix in that screenshot, I need to update it.

[2017-03-20 14:23] #838 closed

[2017-03-20 15:14] kalev commented on #819
I just kicked off the process for getting tilix into Fedora proper by the way, https://bugzilla.redhat.com/show_bug.cgi?id=1434003

[2017-03-20 15:25] ximion commented on #819
@kalev There is a issue on Tilix that is (ab)used to notify package maintainers about changes interesting to them: https://github.com/gnunn1/tilix/issues/25
Maybe you want to subscribe there (despite the large amount of comments, it nowadays is low-volume)

[2017-03-20 15:31] kalev commented on #819
Subscribed now, thanks @ximion

[2017-03-20 19:46] ivoarch commented on #838
@PrzemekSkw
I have also changed the name of my gnome shell extension from terminix dropdown to tilix dropdown . I've uploaded the new extension a few days ago but still pending to be approved . When this is done will share the new link to install from the gnome extension page . You can also install the extension from the repository on github [1] https://github.com/ivoarch/gnome-shell-TilixDropdown

[2017-03-20 19:49] ivoarch commented on #835
Thanks @gnunn1 !!

[2017-03-20 20:19] taurthil commented on #830
Yes, I'm using tilix-git. When starting tilix --quake I don't have any information.

[2017-03-20 20:59] phw commented on #830
When starting g tilix -- quake make sure no other tilix process is running (so use a different terminal emulator to do this). Otherwise it will just call into the existing process and exit without further output.

[2017-03-20 21:01] taurthil commented on #830
oh please. I kill every tilix process and start on gnome terminal

[2017-03-20 21:06] gnunn1 commented on #830
Ok I'm pretty stumped, a couple more question then I'll spend some thinking on an approach to figure this out.

Are you using the Adwaita theme or something else? If you click where the title bar buttons should be does it actually do anything?

[2017-03-20 21:49] PrzemekSkw commented on #838
@ivoarch I do like @gnunn1 says and tilix quake mode works same as gnome extension so it's fine for me :D thanks for help
Regards

[2017-03-20 22:00] taurthil commented on #830
But I'm tired to every startup press F11, I see in conf we can load quake-height-percent=100 and it works. Thanks for your response. Im'm waiting for fix

[2017-03-20 23:18] #830 closed

[2017-03-20 23:20] gnunn1 commented on #830
Please test this out, should be working now.

[2017-03-21 04:44] arigit opened #839 "tilix --action session-add-down --focus-window under wayland: not working"
Fedora 25 / wayland.

I use .desktop files to trigger terminal commands extensively. Since I switched to tilix, the .desktop files have an Exec line that looks like:

tilix --action session-add-down --focus-window -e my_script.py

Usually I have one terminal window in my destop - a .desktop file with the above Exec, when launched with Nautilus, creates a new tile where my_script is executed. Also,

[2017-03-21 04:54] arigit opened #840 "Bookmarks - Remote & Command missing <enter> in Wayland"
Fedora 25 / wayland
	Tilix version: 1.5.4
	VTE version: 0.46
	GTK Version: 3.22.10

When creating a Bookmark of type Remote or of type Command, e.g. create a Command with the following command: "ssh user@192.168.1.1" and then invoking the bookmark from within  from the bookmark menu from an active tile, all that happens is that the "command" string is pasted in the terminal, but without a carriage

[2017-03-21 12:33] gnunn1 commented on #840
My thinking was to give the user the opportunity to edit the command before activating it so it doesn't feed the carriage return to the terminal after the bookmark. I'm open to changing it or making the behavior optional.

[2017-03-21 12:39] gnunn1 commented on #839
Yep this is a bug, the issue is that after it processes the action it exits the command line processing right away since it used to be actions could only be run in Tilix itself. Now that it has been changed some of the other parameters come into play and this needs to be re-jigged a bit.

[2017-03-21 12:49] phw commented on #840
My suggestion would be to have this an option, similar how it is done in the password dialog. I would prefer that, as I actually often want to edit the command before executing it.

@arigit This part is interesting. Actually it is supposed to give the terminal the focus back after you selected a bookmark. I already reported this bug once, but closed it again since I could not reproduce it later. I

[2017-03-21 14:16] gnunn1 commented on #840
I've added an option to append a newline similar to Password dialog, thanks for the suggestion @phw.

I'll have a look at the focus issue before closing this.

[2017-03-21 16:41] phw opened #842 "automake build does not process localized man pages"
The automake build does not compile and install the localized manpages. It should do something similar to https://github.com/gnunn1/tilix/blob/master/install.sh#L113

I looked into it, but I don't have much experience with autotools and felt a bit lost. @dsboger could you take a look?

[2017-03-21 18:12] #839 closed

[2017-03-21 18:13] gnunn1 commented on #842
@dsboger is this something you wouldn't mind handling?

[2017-03-21 18:51] GuillaumeAmat opened #843 "1px margin on quake mode"
It may be related to #618 but I'm not using a tiling WM...

On Fedora 25, Gnome 3.22, the quake mode has a pixel of margin all around the tilix window.

![capture d ecran de 2017-03-21 19-48-33](https://cloud.githubusercontent.com/assets/1179174/24165057/bd8162ca-0e6f-11e7-8747-56a6984bd228.png)

[2017-03-21 19:01] dsboger commented on #842
Sure. I'll try to take a look later today.

[2017-03-21 22:03] #840 closed

[2017-03-21 22:03] gnunn1 commented on #840
I wasn't able to reproduce the focus issue but I added a line to focus the terminal after the bookmark for good measure, hopefully that deals with it.

[2017-03-21 22:26] #843 closed

[2017-03-21 22:27] gnunn1 commented on #843
Well I feel like a putz, I always thought this was a GTK bug but no it was me using a bad value for alpha in CSS. I should really watch the Pixar movie Bug's Life more often: "First lesson of leadership Princess, it's always your fault" :)

[2017-03-22 04:27] arigit commented on #840
Thanks for the fast response!

To see the focus quirk:

- open tilix, create a second terminal (add terminal down)
- focus moves to the second terminal automatically (this is normal)
- click on the terminal name of the first terminal to open the menu (popover), select Boomark, then double click on any bookmark
- the 'command' gets pasted on the first terminal but focus is still on the second termi

[2017-03-22 04:44] PombaM opened #844 "[Custom links] Clicking on custom links does nothing."
I have added a `Custom links` using this regex from `Guake`
[code]
But when ever i try open those links, Tilix just closes.

My setting:
![screenshot from 2017-03-22 10-15-08](https://cloud.githubusercontent.com/assets/11157420/24182260/b7dfae0c-0ee8-11e7-8f88-ec7d63d210c0.png)

####  Note:
- Changing case or command doesn't affect anything

####  To clarify, i have uploaded a video please check i

[2017-03-22 07:11] GuillaumeAmat commented on #843
Great thanks!

[2017-03-22 09:55] GeertGeurts opened #845 "<enum id='com.gexperts.Window.Style'> already specified"
Hello,
Trying to upgrade terminix to tilix I got the error
GLib-GIO-ERROR **: Settings schema 'com.gexperts.Tilix.Keybindings' is not installed

Running  glib-compile-schemas /usr/share/glib-2.0/schemas/
Gives following error....
/usr/share/glib-2.0/schemas/com.gexperts.Tilix.gschema.xml:130:1  Error on line 130 char 1: <enum id='com.gexperts.Window.Style'> already specified.  This entire file has

[2017-03-22 11:46] gnunn1 commented on #840
Have you tried the latest in master, the change I made yesterday to explicitly focus the terminal after selecting the bookmark has fixed this for me.

[2017-03-22 11:54] gnunn1 commented on #845
You need to uninstall terminix first, then install tilix. If you installed Terminix manually, use the uninstall.sh script to remove it. Note that the uninstall.sh has been updated for tilix, so if you don't have a copy of it you would need to get the version from history before it changed.

[2017-03-22 11:54] #845 closed

[2017-03-22 12:05] gnunn1 commented on #844
Thanks, this is because I'm using D's regex capability to process the result rather then GLib regex. I'll modify the code in the next day or two to use GLib regex everywhere to be consistent.

[2017-03-22 19:17] zbraniecki opened #846 "Non-terminal windows?"
I imagine that the request may look weird at first, but I'm wondering if there's any hope that one day Tilix will support non-terminal windows like Firefox inside it.

The use case is as follows - I use Gnome and I like the UX. I tried Sway and it's ok, but definitely not polished enough to be used in "stacked" mode for me.

So, half of the time, I'm happy with the stacked mode that Gnome gives me

[2017-03-22 19:20] zbraniecki opened #847 "Tabs"
Quite often, I have a really good layout of windows in Tilix, but in a "main" terminal, I'd like to switch between one of multiple tabs.

So, in the scenario I'd envision, I have, say 1 vertical terminal on the left and 2 terminals on the right, and I can do "ctrl+1" to go to the first one, and then "super+1", "super+2" to switch between tabs in that terminal.

[2017-03-22 19:23] dbrodie opened #848 "Text selection using keyboard"
Would be amazing if Tilix got support for selecting text using the keyboard rather than only using the mouse.

Currently the only VTE-based terminal supporting this is [termite](https://github.com/thestinger/termite) with it's [VTE-ng](https://github.com/thestinger/vte-ng) set of patches. Since Tilix requires, anyway, for some of it's features a patched VTE, adding this as well can be relatively s

[2017-03-22 19:35] phw commented on #847
Tilix has sessions for that. You can press Ctrl+Shift+The to create a new session and Ctrl+Alt+0 to Ctrl+Alt+9 to switch between them.

Or you use the session sidebar for it, which you can open via the icon on the upper left or by pressing F12

[2017-03-22 19:38] zbraniecki commented on #847
You're right, but the session changes all terminals. I often have 6-8 terminals open and only need to switch between two tabs in one of them.
If it's nvim - then I can just use tabs in vim, but if it's between, say nvim and build log, then I'm out of luck.

[2017-03-22 19:41] phw commented on #846
You might want to take a look at https://extensions.gnome.org/extension/294/shellshape/

[2017-03-22 20:52] zbraniecki commented on #846
I did. There's a lot of half-baked functionality where drag and drop combines windows that you can then float around and many keyboard shortcuts didn't work for me.

I realize that shellshape is aiming for the UX I'm looking for, but Tilix has the UX I'm looking for already :)

[2017-03-22 21:05] gnunn1 commented on #846
Sorry, I don't have any plans to do this as it would be a huge amount of work to support and isn't a scope I'm interested in pursuing.

[2017-03-22 21:05] #846 closed

[2017-03-22 21:06] zbraniecki commented on #846
sounds fair. Was worth asking  :)

[2017-03-22 21:08] gnunn1 commented on #847
I think what you are looking for is to have two terminals in the tile but switch between them as desired, i.e. embedded tabs. It's been asked for before but I don't have any plans to do this, the complexity just gets out of hand in terms of supporting drag and drop and all the other terminal navigation features.

[2017-03-22 21:08] #847 closed

[2017-03-23 10:53] simonbcn opened #849 ""focus-window" doesn't work on Wayland"
[code]

I have set `On new instance`:`Focus Window` and I set a shortcut in `gnome-control-center`>`Keyboard` to _open_ a tilix window when I press `F12`. When I press `F12` the first time, it opens a new terminal window and it focuses it. I set the focus to another window and I press `F12` again but it doesn't focus the opened tilix window.
I tested it with `tilix --focus-window` and it doesn't w

[2017-03-23 10:58] simonbcn commented on #849
I think the bug is major. I change `On new instance` to `Split down` and it doesn't work either.
With `New Session` works but it doesn't focus the window.
With `New Window` works well.

[2017-03-23 11:29] simonbcn commented on #776
To me it doesn't work on Arch Linux.
I have set `Notify new activity` to `15`s and I start the compilation/package of a program with `makepkg -srci` and it focus another window. After compiling, it asks me if I want to install it and it expects my answer. I wait more of those 15 seconds with the focus in another window but it doesn't notify anything.

[2017-03-23 12:13] phw commented on #776
Works for me on Arch, but it only notifies if there is actual output. E.g. with "Notify on new activity" set to 15 seconds the following script gives me two notifications "Terminal Activity" (with notification body 20 and 40):

    sleep 20 && echo "20"  && sleep 20 && echo 40 && sleep 5

Do you have the patched VTE installed (which is necessary for notifications)? See https://github.com/gnunn1/ti

[2017-03-23 12:21] simonbcn commented on #776
It works with those commands but it doesn't work on practical cases like I mentioned before. You can test `makepkg -srci` on the PKGBUILD of `mpv-git` and it doesn't alert when the question `Proceed with installation? [Y/n]`

[2017-03-23 12:58] phw commented on #776
I think because there is never a period of 15 s without any output. At least for me the build is constantly progressing and outputting stuff, but the function here only notifies if there is inactivity and then output.

What I have actually done for a similar case is set up a trigger, which triggers a notification. You could setup a trigger as follows:

- Regex: `Proceed with installation\? \[Y/n\]

[2017-03-23 13:59] larsks opened #850 "tilix does not import config from previous terminix install"
After upgrading my system, I have the freshly renamed "tilix" package installed, and I was sad to find that it completely ignored all of my previous terminal settings...in particular all the "custom links" patterns I had created.  I wish there was either a one-time "should I import your settings from terminix?" dialog, or better yet an export config/import config feature.

[2017-03-23 14:05] gnunn1 commented on #850
See the instructions in the README in this repo for how to migrate your settings.

[2017-03-23 14:05] #850 closed

[2017-03-23 14:24] larsks commented on #850
Right, but I was thinking that tilix could detect previous terminix config and offer to import this by default? That would seem to be the most painless upgrade experience.

[2017-03-23 14:42] larsks commented on #812
Here's a super hacky script that will apply the hyperlinks config from one profile to all the others:

[code]

[2017-03-23 18:13] simonbcn commented on #776
@phw ok, thanks. I didn't know this utility. It's very useful.
On the other hand, should the Tilix window be focused when I press the notification?

[2017-03-23 18:27] simonbcn commented on #776
Terminator has a similar feature and it's very useful:
![captura de pantalla de 2017-03-23 19-25-43](https://cloud.githubusercontent.com/assets/428231/24263847/b616fe24-0ffe-11e7-9afa-c768120f6137.png)

[2017-03-23 18:57] phw commented on #776
Yes, it should. If it doesn't you should open another issue for it with some details on your desktop environment

True, that annoys me sometimes, too. @gnunn1 does an option for triggers to only trigger for unfocused terminals make sense?

[2017-03-23 23:30] #844 closed

[2017-03-23 23:32] gnunn1 commented on #844
OK this should be fixed now. Note that you can also use regex groups to split the filename and line number if they need to be sent as separate parameters. The way it works is that the whole matching group is $0 and each subsequent matching group is $1. So to make your regex work with gedit, I split it into groups as follows:

[code]

And then configured the command to be ```gedit $1 +$2```. Here's

[2017-03-23 23:33] #842 closed

[2017-03-23 23:34] gnunn1 commented on #837
@netroby can you answer the question please, otherwise I'm going to close it.

[2017-03-23 23:36] gnunn1 commented on #848
Do I need to do something in tilix to make this work as tilix should work fine against vte-ng and presumably gain it's features. If this is the case it's more something for people packaging tilix VTE patches then me to consider.

[2017-03-23 23:50] gnunn1 commented on #776
@phw I'm not sure there needs to be an option, I think it should be as simple as only sending a notification following the same rules as the command notification. i.e.

- If window is unfocused, send full desktop notification
- If notification is from a session that isn't visible but window is focused, show the notification bubble for the session but no desktop notification

Does this make sense,

[2017-03-23 23:56] gnunn1 commented on #850
There's a number of issues with that we discussed in #815, unfortunately I do not see an easy way to do this at this time.

[2017-03-24 00:04] nafg commented on #776
Hi @gnunn1, I really appreciate what you did -- this is the second time I put in a feature request and you implemented it and within a really short time.

However in it's current form it's not so useful -- it's not something I want to be a persistent setting, but something I can flip on momentarily and temporarily.

For example usually building is quick but I may have decided to do a clean build a

[2017-03-24 00:14] netroby commented on #837
Hello. Do you know SecureCRT? or XShell, these windows terminator emu. provided us easy transfer to server / download file from server.

when run rz. then jump out a file choose window. choose file, and transfer file into server

[2017-03-24 00:36] gnunn1 commented on #849
I fixed the add right/down actions, the problem with those is unrelated to the focus issue. I can duplicate the focus issue, I don't why this isn't working in Wayland. I've confirmed that I'm calling ```present``` on the window correctly which should raise it to top. The quake window works because it goes through a hide/show cycle, doing that here makes things works but of course you get annoying

[2017-03-24 00:45] gnunn1 commented on #849
I suspect this is because of this GTK bug:

https://bugzilla.gnome.org/show_bug.cgi?id=766284

[2017-03-24 00:48] gnunn1 commented on #837
Unfortunately no I am not familiar with them and I'm not familiar with rz/sx at all. Is the idea when you run one of these you want a file dialog to appear? What is supposed to happen after you select the file, does it get pasted in as a command to rz/sz?

The more you can spell out what you are looking for and how it should work the easier it would be for me.

Searching a bit I saw some mention t

[2017-03-24 01:03] gnunn1 commented on #776
@nafg I think the way to handle this is too have two profiles, one where this is defined and one where it is not and then switch between the two in the context menu. I'm not very keen on adding this to the context menu as I'm trying hard to keep the menu to a reasonable size.

[2017-03-24 01:32] nafg commented on #776
@gnunn1 what about all the other profile settings? Duplicate everything?

Again, it makes no sense to persist the setting anywhere (other than the timeout value), it's something that is only needed for a few minutes at a time. There's a reason why all the other terminals that have this do it this way.

What is your concern about the context menu size exactly?

Again, this is not a setting but an a

[2017-03-24 03:23] PombaM commented on #844
Thanks, will test after the new release is out.

[2017-03-24 05:19] netroby commented on #837
Yes, iterm2 also had this . things works very like.

easy to download server files (the pwd path). and upload local file to server(to path pwd on the server)

[2017-03-24 05:19] netroby commented on #837
https://github.com/mmastrac/iterm2-zmodem
seems some github repository talk about it

[2017-03-24 05:43] phw commented on #837
I somewhat like the idea to have a file chooser trigger action. It would show a file chooser and paste the chosen file back to the terminal.

This would probably  solve this use case without introducing and functionality specific to rz (which I also don't know).

[2017-03-24 05:47] netroby commented on #837
The currently linux world does not have much more easily used terminator EMU tools.
So much advance feature only available on some Enterprise software like SecureCRT/Xshell(freeware)
Linux user experience need move forward.

Tilix was a huge enhanced term , i have use it for a while, feels good.

[2017-03-24 08:47] phw commented on #776
I think you could make a point about many of the profile settings that they should be quickly changeable, but it is certainly not feasible to put them all in the context menu.

[2017-03-24 08:48] phw opened #852 "Trigger notifications only when terminal not focused"
Use the same logic for trigger notifications as for command finished notifications, see https://github.com/gnunn1/tilix/issues/776#issuecomment-288894412

[2017-03-24 08:51] simonbcn commented on #849
It's very probably. 😞 Then this isn't a Tilix bug. I close this.

[2017-03-24 08:51] #849 closed

[2017-03-24 10:05] simonbcn commented on #849
Confirmed: it's a Wayland bug. I've tested on Gnome Shell on X and it works well.

[2017-03-24 10:48] nafg commented on #776
@phw I just looked through all the profile settings and I don't see a single one that would make sense to be quickly changeable (other than the leap from "nonzero value for Notify new activity" to "notify new activity is activated"). Can you make a more direct argument?

Maybe it's worth taking a step back and defining the purpose and use case of profiles in the first place. Honestly personally I

[2017-03-24 15:59] gnunn1 commented on #776
@nafg The issue with the context menu is that it cannot exceed the size of the containing window in X11 otherwise it gets clipped. Additionally, I'm not a fan of having a plethora of items sitting in a menu as I prefer a simpler and cleaner look.

Having said that, I forgot I cleaned up the context menu on the last release and this could be added to the ```Other...``` sub-menu relatively easily. I

[2017-03-24 16:24] dsboger commented on #815
I've updated most of the Wiki for the new name, but I did not touch the screenshots. It would also be nice to add a question about the name change to the FAQ.

[2017-03-24 16:38] dsboger opened #853 "Small issues with screenshots on tilix-web"
I was visiting the Website for the first time and I noticed two small issues with the screenshots carousel:
- One of the images have a different height, so when the carousel switches to/from it, the content below shifts up and down.
- The screenshots clip the border and shadows of the windows. I think it would look better if the images portrayed whole windows (plus a small margin showing the wallp

[2017-03-24 16:53] dsboger commented on #837
I can create a trigger to run `zenity --file-selection`, but the stdout (selected file path) is lost. It would be great if we had a trigger type that took the (first line of the?) command output and pasted it.

[2017-03-24 16:57] bil-elmoussaoui commented on #853
Can you please report it on tilix-web? I will fix the first issue next week. For the screenshots feel free or anyone else to update them :+:

[2017-03-24 18:08] #812 closed

[2017-03-24 18:10] gnunn1 commented on #812
There is a new Advanced page now in preferences where custom links and triggers can be set and they will be applied across all profiles. When checking links and triggers it will first check the global ones and then the profile ones.

At the moment I've opted for the simplest implementation where each terminal maintains an individual set of all links and triggers. It's not as efficient as maintaini

[2017-03-24 18:28] #852 closed

[2017-03-24 19:36] nafg commented on #776
That functional change would be a huge improvement. I really appreciate
your considering it.

On Fri, Mar 24, 2017, 11:59 AM Gerald Nunn <notifications@github.com> wrote:

[2017-03-24 20:56] alex285 commented on #681
i made that for fun and not for sharing it here, but it demos an animation, when we expand the sidebar, and the tabs icons dont fit anymore, so it should be a scrollbar

https://www.youtube.com/watch?v=y2KlT21uO_M

in my opinion animation is wrong, there shouldn't be any, except if it something really great, but i was just exploring the visuals :/

[2017-03-24 22:48] fbruetting opened #854 "Command history"
Would it be of interest to you, implementing a command history – maybe as a side pane on the right – for showing all previous entered commands, like in Matlab/Skilab/Juno etc. A click on a command could lead to a jump to this command for revisiting the corresponding output. And it would be nice if a command could be copied to the current prompt (or to the clipboard) for (altering it a bit and) let

[2017-03-24 23:30] gnunn1 commented on #854
This is really a variation of #356, if you are interested in working on this issue just drop a note there and we can discuss what a design would look like.

[2017-03-24 23:30] #854 closed

[2017-03-25 03:12] dsboger commented on #853
I didn't know there was a different repo for that! Reported there. Closing here.

[2017-03-25 03:12] #853 closed

[2017-03-25 14:07] gnunn1 commented on #837
Thanks for the suggestion @dsboger, I have added this feature as I think it opens up a few more possibilities. @netroby can you play around with this and see if it does what you want with respect to the zmodem stuff, you should be able to craft a script similar to that iterms2 script and execute it from a trigger.

[2017-03-25 18:58] rickysarraf commented on #726
I'd like to re-open this bug. But it is better if I leave that to your discretion.
Since you mentioned VTE issue, I am wondering why it does not show up for gnome-terminal, which uses the same. Does terminix do anything different than gnome terminal ?

[2017-03-26 02:00] dsboger commented on #837
It works great. I use the following command to output a file path:

[code]

The `echo -n` removes the line break, so we can review the file path before pressing enter.

[2017-03-26 02:10] dsboger commented on #837
Would it be possible (or would it even make sense) to allow triggers to activate on the command being typed (optionally, maybe)? I ask because I realized that in my case the only moment I type file paths is while I'm typing a command. For example, if I add a trigger for `[io]f=`, I could use the file selection command to assemble a `dd` command line.

[2017-03-26 02:15] gnunn1 commented on #837
@dsboger It's a bit tricky because I get the individual keystrokes rather then a complete string. So there would need to be some additional tracking to handle backspace, enter, etc and a general understanding of what is going on. I've been avoiding it because I'm not sure it's possible to nail it 100%.

If I were to attempt it, I'd probably need to add an additional boolean column to the triggers

[2017-03-26 03:49] gnunn1 commented on #837
Actually after thinking about this more, running triggers against input does not make sense. If I try to evaluate the chunk of text as the user is typing a trigger would be executed multiple times which wouldn't be good.

[2017-03-26 06:44] dbrodie commented on #848
vte-ng basically exposes an API that allows to set the selection programmatically (and a few other things, such as pause output, etc...). Connecting the API to keybindings and writing the logic would be up to tilix.

I would envision having a keybinding that toggles keyboard selection and then call the API based on the keys that tilix listens to.

[2017-03-26 14:09] gnunn1 commented on #848
So I had a basic look at this, I don't have any plans to support this as it looks fairly involved to me based on videos of watching it in action. It also appears to me that much of this functionality is actually handled in termite rather then vte-ng which is just exposing a fairly minimal API. See this bug report here where the termite developer explains in more detail (https://bugzilla.gnome.org/

[2017-03-26 14:09] #848 closed

[2017-03-26 19:29] xliiv opened #855 "[request] Action "Find" should highlight items (not only the active one)"
Similar feature is also present in Google Chrome.
This means that current item is orange and other rest of findings are yellow.
See pic. below

![image](https://cloud.githubusercontent.com/assets/298994/24334486/3538d402-126b-11e7-9c02-3a02b8fa625a.png)

[2017-03-26 19:48] xliiv commented on #855
https://bugzilla.gnome.org/show_bug.cgi?id=780565

[2017-03-27 21:00] sogalboogalsky commented on #681
Hi everyone,

I am using Tilix for a month or so and I really enjoy it as it is. It provides me everything I need and missed from Gnome Terminal (background transparency is a feature in my workflow !!) or Terminator.
I like sidebar as it is, so, as far as it counts, my vote would be in favor of statu quo. The way it is currently designed the sidebar provides a perfect and enhanced alternative to t

[2017-03-27 22:14] #776 closed

[2017-03-27 22:15] gnunn1 commented on #776
@nafg I've added this in the Other submenu, please try it out and let me know what you think.

[2017-03-28 00:21] akalajzi commented on #681
#3 is pretty perfect; having sessions one click / shortcut away is kinda important; live thumbnails not so much. Just an overview (list) of what exist, and have it one click away.

Making some sense what is behind which icon can be left to the user, ie as simple as picking a background color for any particular icon.

[2017-03-28 00:23] nafg commented on #776
Thanks!

I'm using the ubuntu package now, will you update that or do you want feedback first?

[2017-03-28 17:14] IpsumL opened #856 "Bookmarks - Can They Be Imported/Exported to Flatfile?"
I'm trying to figure out how to protect my investment of time if I do attempt to add all the bookmarks I would use to Tilix. Alternatively, how do I get into the backend of Tilix to add bookmarks by means other than the UI? Ideally, I'd be able to figure out a way to migrate bookmarks outside of the UI.

Thanks!

[2017-03-28 17:34] singhay opened #857 "Update the shortcut image in web documentation"
Image used to show how to set Quake shortcut still uses Terminix.
Please update that!!

[2017-03-28 17:36] arcticicestudio commented on #856
Do you mean a data export?
All bookmarks are stored in the `~/.config/tilix/bookmarks.json` file which can be easily stored in a dotfile repo or edited manually if you'd like to manage your bookmarks without the UI.

[2017-03-28 18:24] arcticicestudio commented on #857
This is related to the [gnunn1/tilix-web](https://github.com/gnunn1/tilix-web) repository.
I think this should be solved in [#21](https://github.com/gnunn1/tilix-web/issues/21).

[2017-03-28 21:08] gnunn1 commented on #857
I won't be able to get to this until the weekend, but as @arcticicestudio pointed out it's covered already. Additionally, note that you can simply fork the repo, create a new image and submit a PR to https://github.com/gnunn1/tilix-web

[2017-03-28 21:08] #857 closed

[2017-03-28 21:10] gnunn1 commented on #856
As @arcticicestudio noted, bookmarks are stored in a file already so they are easy to move around. I do recommend backing up your file periodically though if you end up going whole hog on them as I'm not under the impression it's a heavily used feature and thus may not have received a ton of testing.

[2017-03-28 21:10] #856 closed

[2017-03-28 23:06] glitsj16 opened #858 "quake mode pref `hide on focus lost` breaks expected hotkey behavior"
Hi, I'm experiencing a problem with quake mode pref `hide on focus lost`. When I start tilix in quake mode after enabling the pref the tilix window appears with my defined layout. Pressing the quake mode hotkey hides the window, but it returns promptly on screen again. Disabling the `hide on focus lost` pref returns all things tilix back to normal.

Posting relevant info below. Anything out of the

[2017-03-29 03:03] gnunn1 commented on #858
I can reproduce

[2017-03-29 03:10] gnunn1 commented on #858
Sorry spoke too soon, my keyboard shortcut wasn't configured properly in Gnome Shell as I was testing it with something else. After fixing that and pointing it back at tilix things work as expected.

What version of tilix are you using?

[2017-03-29 03:10] gnunn1 commented on #858
Never mind I see the version :)

[2017-03-29 03:15] gnunn1 commented on #858
Any chance you are using Wayland?

[2017-03-29 03:30] glitsj16 commented on #858
No I'm using gnome-xorg session on Arch Linux. I've installed tilix from the AUR package tilix-bin, and that's at version 1.5.4-2 currently. I'll do a git install and test that in a minute. Double-checked, nothing weird is conflicting with my shortcut association.

[2017-03-29 04:34] glitsj16 commented on #858
No improvement when running current git version. Tried changing the shortcut (sh -c "tilix -q" / tilix --quake / tilix -q) but still the same issue. As soon as I uncheck the `Hide window when focus is lost` the issue disappears. And the issue doesn't show when I run tilix -q from xfce4-terminal instead of using the assigned shortcut.

$ tilix --version
Versions
Tilix version: 1.5.5
VTE version: 0.

[2017-03-29 04:36] gnunn1 commented on #858
Thanks, I'll look into it some more but I won't have time until the weekend as I'm stuck at a work conference for the next few days.

[2017-03-29 04:45] glitsj16 commented on #858
No rush, thanks for your response. For now i disabled hiding on lost focus. Looking at the PKGBUILD for tilix-git I noticed that it uses
`make DC='ldmd' DCFLAGS='-O -inline -release -version=StdLoggerDisableTrace'`
I'll dig around how to build a debug version so I can provide more detailed info.

Regards.

[2017-03-29 05:38] IpsumL commented on #856
Thanks!

So, ~/.config/tilix/bookmarks.json is only written once Tilix is closed. It is not written if Tilix crashes, which it does if one clicks OK to select a Bookmark when no Bookmarks exist.

	Tilix version: 1.5.4
	VTE version: 0.42
	GTK Version: 3.18.9

Tilix Special Features
	Notifications enabled=0
	Triggers enabled=0
	Badges enabled=0

[2017-03-29 17:50] psokol opened #859 "Changing quake mode animation"
Window animation in quake mode looks bad in my opinion. I like the one used in Drop down terminal Gnome extension: terminal slides down from upper edge of screen and it looks very relevant. Is there any chance tilix quake mode window animation could look like that?

[2017-03-29 18:08] gnunn1 commented on #859
Unfortunately it's not something I'm willing to invest effort in as it is not doable in Wayland as far as I can tell. The extension can do it because it runs within gnome shell and has access to the root window. Tilix is a separate app that doesn't have this benefit.

[2017-03-29 18:08] #859 closed

[2017-03-30 12:38] SubodhDahal opened #860 "symbol lookup error: tilix: undefined symbol: _d_allocclass"
I installed Tilix on my `Ubuntu 16.04.1 LTS` system from the WebUpd8 ppa as follows:

[code]
While running tilix I get the following error:
`tilix: symbol lookup error: tilix: undefined symbol: _d_allocclass`

I was previously using Terminix and it was running with no issues. I even imported the settings from terminix by doing:

[code]

What could be the issue here?

[2017-03-30 13:48] rickysarraf commented on #726
Never mind. I was able to reproduce it with the regular gnome-terminal application too.

[2017-03-30 14:45] egmontkob commented on #726
@rickysarraf Can you systematically reproduce this crash? Looks like a bug in VTE, I'd be happy to track it down and fix it, but right now I have no idea where to start looking. Ideally I should be able to reproduce it on my computer.

[2017-03-30 15:07] gnunn1 commented on #860
You should open an issue with the PPA packaged as I don't maintain it. If I had to guess, the package could be dynamically linking libphobos and that library is out of date. However if Terminix worked previously that shouldn't be the issue.

Did you uninstall Terminix?

[2017-03-30 15:25] mooop12 commented on #849
This part doesn't work on X as well.

[2017-03-30 15:56] rickysarraf commented on #726
@egmontkob Unfortunately, No. So far, the crashes have all been random. If I am able to derive a set of steps to persistently reproduce the crash, I'll share it on this bug report.

[2017-03-30 16:09] rickysarraf commented on #726
@egmontkob Here's one input I can provide you.

The crash (both on Terminix and GNOME Terminal) was always seen on the terminal window, when running the dmesg command. My hunch is that when rendering large amount of data, the terminal, in some corner case, leads to a segfault.

[2017-03-30 16:52] egmontkob commented on #726
@rickysarraf Does your `dmesg` command produce colored or black-and-white output? Do you pipe it through `less` or any other command, or just simply run it? Does the terminal immediately crash (without `dmesg` completing), or does it crash some time later, e.g. when you scroll back with the scrollbar? Thanks in advance!

[2017-03-30 18:03] SubodhDahal commented on #860
Yes, Terminix was working flawlessly. I think Terminix was uninstalled when I uninstalled Tilix to try and install it again.

[2017-03-30 18:15] rickysarraf commented on #726
It produces colored output. It is plain dmesg being run, no piping. When the problem occurs, sometimes it crashes even before I can see the output. Sometimes, it crashes halfway through while displaying the dmesg output.

![image](https://cloud.githubusercontent.com/assets/65480/24519400/a28c1c5a-15a2-11e7-9d7a-d998611f9fd9.png)

[2017-03-30 20:41] egmontkob commented on #726
Approximately how often does it crash (like 1 out of 2, or 1 out of 1000)?

Would you mind please setting up an `alias dmesg='dmesg --color=never'`, assuming you can get along with black and white output? I'd be curious to see if the crashes keep occurring or stop; that is, if it has anything to do with colors. Thanks!

[2017-03-31 08:13] rickysarraf commented on #726
I really don't have a good answer on how often it is triggered. I've set up the alias and will keep running it.

[2017-03-31 09:06] stecenator opened #861 "Panes proportions lost after changing mode to/from full screen"
If I have few panes and resize them,  than go to full screen mode (or leave it) panes sizes are brought back to default sizes.
And, Oh! It's an excelent project and terminix/tilix is my favorite terminal app right now.

[2017-03-31 11:28] Dark-Passenger opened #862 "Compilation issue on centos 7"
Hi,

I get the following error on trying to compile tilix on centos 7.3
I am using the latest dmd compiler package from their website and gtkd packages too.
only autoconf is version 1.13

https://gist.github.com/Dark-Passenger/3e443ac4d74c10fd693f9b647126a151

[2017-03-31 12:33] SubodhDahal commented on #860
Now the error is no more and tilix is working. Probably a restart fixed the issue.

[2017-03-31 12:33] #860 closed

[2017-03-31 14:49] mooop12 commented on #849
Was that commit supposed to fix it? Because `tilix --focus-window --action=app-new-session` still doesn't work. A new tab is opened, the window just isn't focused.

[2017-03-31 17:27] gnunn1 commented on #862
Do you get the same error if you use dub to build, i.e.

[code]

[2017-03-31 17:28] gnunn1 commented on #837
@netroby Are you able to test this as requested, otherwise I'm going to close the issue.

[2017-03-31 17:37] gnunn1 commented on #849
Should work now, thanks for testing and pointing out that it wasn't.

[2017-03-31 17:41] gnunn1 commented on #861
I'm not seeing the issue myself, can you save your session layout and post the json file here so I can use it to try to replicate it.

[2017-03-31 20:10] xliiv opened #863 "Add info about setting Tilix as default terminal in Gnome?"
I'd be nice to include such info in readme or other suitable place

After a few minutes of search I've found:

[code]

[2017-03-31 23:56] #837 closed

[2017-04-01 00:52] mooop12 commented on #849
Thanks, it's working now.

[2017-04-01 09:18] nvgoldin opened #864 "fc25 upgrade from terminix -> tilix wiped profile configuration"
Hi, I recently upgraded to:
tilix-1.5.4-1.fc25.x86_64

This is the transaction history from dnf:
[code]

After upgrading - my old profile setting was wiped out. Not a big issue for me(had only different colors configured), but I bet it can be more painful for some users.

[2017-04-01 10:25] arcticicestudio commented on #864
This is already documented on the official website and in the README "[Migrating Settings From Terminix](https://github.com/gnunn1/tilix#migrating-settings-from-terminix)" section.

[2017-04-01 10:50] nvgoldin commented on #864
Missed that, thanks!

Though I should say when you run 'dnf upgrade' you don't expect this to happen.. maybe it could be added to the spec file, or even just a warning message.

Anyways, confirming the linked solution works for me.

[2017-04-01 13:12] gnunn1 commented on #864
I don't maintain the packages, you would need to contact the person maintaining the COPR about this.

[2017-04-01 13:12] #864 closed

[2017-04-01 13:34] gnunn1 commented on #863
Feel free to update the General FAQ to include this, you can modify it here:

https://github.com/gnunn1/tilix-web/blob/master/_faqs/general.md

[2017-04-01 13:34] #863 closed

[2017-04-01 20:17] stugol commented on #835
This problem still occurs with the latest release (which is 1.5.4). I attempted to compile from sources instead, but Debian Jessie doesn't have the `dub` command.

[2017-04-01 21:46] IpsumL opened #866 "Can the Select Bookmark window be set to open collapsed?"
Presently the "Select Bookmark" window opens with the bookmark structure fully expanded. Can the behavior be set to show the structure fully collapsed as in the Preferences/Bookmarks view?

[2017-04-01 22:28] dsboger commented on #815
The migration to Tilix in AUR is mostly complete, except some merge requests from old to new packages have not been resolved by trusted users yet. This means that some of the old packages still coexist. Once the merge requests are accepted, the history of the old packages (comments and votes, mostly) will be included in the new packages. The status of AUR packages for Tilix is as follow:

- There

[2017-04-01 23:49] gnunn1 commented on #858
So I had a loom at this on more detail. One thing I noticed is that your use of $HOME wasn't working since tilix doesn't resolve environment variables. I've checked in some code to address this and the session file is now loading as expected.

I do have an issue with the sidebar appearing for some reason, as far as I can tell nothing I'm doing should be causing this. However, I still can't reprodu

[2017-04-02 00:01] gnunn1 commented on #866
Yes it could be, let me think about it. I'd prefer not to have an option for it and just make it one way or the other.

[2017-04-02 10:55] gavriva opened #867 "Please add AppImage format build."
Hi,

I have been playing with terminix(tilix) for some time, tried some modifications, but each time it was a pain.
Just difficult to have several version of gsettings schema or resources. So I decided to pack it into AppImage.

http://appimage.org/

Below my simply script to create AppImage, I think it is better than use sudo ./install.sh during development at least.

[code]

[2017-04-02 11:56] probonopd commented on #867
Thank you. By the way, also see https://github.com/gnunn1/tilix/issues/25

[2017-04-02 13:09] gnunn1 commented on #867
As I stated in #25, I don't have any interest in maintaining an appimage for tilix. Having said that, if you want to submit this script as a PR in an experimental/appimage folder I'd be fine with taking it there.

[2017-04-02 13:11] bil-elmoussaoui commented on #867
@gnunn1 I think it's possible to create the AppImage automatically using travis! at least that's whaty the electron apps guys do

[2017-04-02 13:13] probonopd commented on #867
Yes, sure, [a lot](https://github.com/search?l=YAML&q=+linuxdeployqt&type=Code&utf8=%E2%9C%93) of applications automatically build and upload AppImages using Travis CI.

[2017-04-02 13:15] gnunn1 commented on #867
@bil-elmoussaoui that would be fine as well, however the use case here is using an appimage for local development which would need a script.

I just want it clear that I'm supporting appimage officially in the sense I will hunt down bugs specific to it. Basically the same stance I take with KDE, i3, etc or package specific issues.

[2017-04-02 13:17] gnunn1 commented on #867
Fixed sentence to read "I'm not officially supporting appimage..."

[2017-04-02 18:04] dsboger commented on #866
Maybe a context menu action (Collapse/Expand all), instead of an option, would be easier to maintain.

[2017-04-03 01:16] SyedElec opened #868 "Losing focus when multiple sessions are open in session sidebar"
Hi,

Thanks for this terminal, I just discovered it and found it really useful the way it handles mutliple sessions in the sidebar, however I found that sidebar is not scrolling to the focused session when having mulitple sessions (more than 5).

here is a screenshot, I am currently in session named "test6" however I don't see it in sidebar when I open it, I need to scroll down to find it.
![scree

[2017-04-03 04:45] eightnoteight opened #869 "How to set preferences from command line?"
I want to have 2 windows having different kind of Appearances (one with normal window style and the other with borderless window style). but the only way to change appearance is through preferences dialog and I can't seem to find a way to set window style preference individually. it would be very helpful to me if you could help me in this.

[2017-04-03 05:25] Dark-Passenger commented on #862
dub build works.

[2017-04-03 11:34] gnunn1 commented on #869
You can use the gsettings cli to change the setting, for example to set it to disable-csd:

[code]

And to set it back to normal:

[code]

[2017-04-03 11:34] #869 closed

[2017-04-03 11:35] gnunn1 commented on #862
The issue might be that autotools is using LDC by default, if you use dub to compile but specify ldc do you get the same error:

[code]

[2017-04-03 11:36] gnunn1 commented on #862
When I say the issue might be that it is using LDC by default, the problem is that on centos LDC is likely to be way out of date if installed from packages.

[2017-04-03 12:20] eightnoteight commented on #869
Sorry for not clearly explaining my question. what I want is to be able to parallely run two tilix windows where one is borderless and the other is normal window style.

Your suggestion will only let me have one type of window.

[2017-04-03 12:38] gnunn1 commented on #869
It works fine for me with these steps:

* Open Tilix window, normal CSD window style is used
* Run gsettings to change window style to disable-csd
* Open a new tilix window, it gets the disable-csd window style
* Run gsettings to change window style back to normal

I now have two tilix windows, one with normal CSD style and one with disable-csd style. You can of course create a bash script to auto

[2017-04-03 12:48] #867 closed

[2017-04-03 12:49] gnunn1 commented on #868
Thanks for the report, I'll have a look.

[2017-04-03 13:48] binaryronin opened #870 "SSH Private Keys"
I normally use Gnome-Keyring in order to unlock my private keys and keep them unlocked for the session. I've noticed that Tilix does not use this and instead asks everytime for the keyfile password in the terminal window.

I've also noiced that I have to specify the key that needs to be used, which I also did not have to do before. This is espeically annoying when commiting to different Git reposi

[2017-04-03 14:03] eightnoteight commented on #869
Oh, thanks a lot

[2017-04-03 14:19] Dark-Passenger commented on #862
@gnunn1 centos doesnt really have ldc, Though I do have dmd from their website.
So is dub build the recomended method to build ?
so to install does make install work ? or is there another method.
Sorry am new to the whole D environment.

[2017-04-03 14:20] Dark-Passenger commented on #862
also FYI I did have ldc installed but from another copr repository.

[2017-04-03 14:25] gnunn1 commented on #862
For development I use dub and not autotools, mostly because in my day job I do Java development and have little interest in learning autotools or meson. However, to support packagers @dsboger was kind enough to create an autotools build.

The autotools should work fine, like I said I suspect your version of LDC is out of date. What do you get if you type:

[code]
I would recommend at least 1.1 as

[2017-04-03 14:29] gnunn1 commented on #870
I'm using the VTE for terminal emulation just like gnome-terminal does, can you confirm you get different behavior in gnome-terminal because you don't specify what the other terminal you are using is. My expectation is that the behavior between the two should be identical and if it is not then it's a bug.

Having said this, I'm not familiar with using gnome-keyring for SSH keys so I may need some

[2017-04-03 15:26] binaryronin commented on #870
Sorry, yes in gnome-terminal I get a X based pop-up dialog that asks me to unlock my private key. Also in gnome-terminal I don't have to specify a key.

As an example `ssh user@hostname` works in gnome-terminal, but fails in tilix. In tilix I have to `ssh -i ~/.ssh/private_key user@hostname`.

These might be two seperate issues, please let me know if you want to treat them as such. Also, I am happ

[2017-04-03 15:52] phw commented on #870
I have no experience in having the Gnome keyring popup from the shell, but for me this sounds like some files are not sourced. Have you tried setting the session to be a login shell?

[2017-04-03 15:55] dsboger commented on #862
I did a test build with latest stable DMD (2.073.2) under Arch for both GtkD and Tilix and it worked fine. Could you post your DMD version number and also the commands you are using to build Tilix and GtkD?

[2017-04-03 16:04] binaryronin commented on #870
I've tried both setting the session to a login shell and putting the following in my .zshrc:

    if [ $TILIX_ID ] || [ $VTE_VERSION ]; then
    	source /etc/profile.d/vte.sh
    fi

[2017-04-03 17:06] IpsumL commented on #866
My two cents, I would prefer to have a default collapsed presentation. That will match with the  Preferences/Bookmarks presentation.

Since a search function is provided and the cursor defaults into that Search field, one may type a unique term, tab and enter to launch that bookmark (no mouse required!). If one must visually search for the bookmark, it's better to expand as one goes, although I'm

[2017-04-03 17:26] MichaelThessel opened #871 ""ctrl + shift + v" triggers "ctrl + v""
Hi,

First of all, thanks for the great work!

I prefer to have ctrl + c and ctrl + v work consistently as copy and paste throughout my environment. I mapped ctrl + v to paste in the Tilix settings which works fine. When I want to enter visual block mode in Vim with ctrl + shift + v paste is triggered. This happens even if I hold down ctrl + shift first and then press v next. I would expect Tilix

[2017-04-03 17:29] juandc commented on #106
How you?

[2017-04-03 17:38] mreinhardt opened #872 "Config file location or .Xresources"
I'd like to save my Tilix config to my dotfiles repo but I can't find where the config is stored. It's not in ~/.config and I'm not sure if anything can be added to my ~/.Xresources file. Is it possible to edit the Tilix settings in a file manually, and if so where?

[2017-04-03 17:57] Dark-Passenger commented on #862
Hi I made it simply running make as per the build guide in the wiki.

I will post the DMD version. Soon since I am afk.
Though I did download the DMD RPM from dlang's website.

[2017-04-03 17:57] Dark-Passenger commented on #862
Last week.

[2017-04-03 18:01] arcticicestudio commented on #872
All configurations are stored in GSettings.
I came up with a JSON config export feature in #440 next to `dconf`, but gnunn1 want to keep the maintainance for possible problems low which is fine.

I've solved this the same way I did for all GSettings based apps I use including my whole system preferences which is a big advantage of GSettings:
Dump the specific scheme into a file and store it in my

[2017-04-03 18:04] mreinhardt commented on #872
@arcticicestudio That'll do, thanks!

[2017-04-03 18:04] #872 closed

[2017-04-03 18:14] dsboger commented on #862
I suspect the issue is that you are building with ldc (I also suspect it is an old-ish version), as it is the default if you have it installed and do not specify otherwise. To use DMD you must use `make DC='dmd'`. Could you confirm that?

[2017-04-03 20:18] gnunn1 commented on #870
I wonder if this might be related to dbus activation and differences in environment/environment variables. If you open gnome-terminal and run tilix directly from the CLI (i.e. ```tilix``` and press return) and then try your private key in tilix does it make any difference or do you see the same problem?

[2017-04-04 01:19] #868 closed

[2017-04-04 01:24] gnunn1 commented on #871
I was thinking those were hard-wired in VTE. However testing in gnome-terminal it seems that changing the shortcuts for copy/paste to ctrl-c/ctrl-v does prevent the original ctrl-shift-c/ctrl-shift-v shortcuts from going through.

I'll have a look at the gnome-terminal code and see what they are doing different.

[2017-04-04 01:37] gnunn1 commented on #871
I've got a feeling fixing this involves using GTK Bindings (https://developer.gnome.org/gtk3/stable/gtk3-Bindings.html). I'll look into this some more tomorrow, would be great if this works as it would provide a way to remove all of the VTE hard-coded shortcuts that tilix implements instead.

[2017-04-04 05:28] Dark-Passenger commented on #862
awesome dmd works.

[2017-04-04 05:28] #862 closed

[2017-04-04 19:59] glitsj16 commented on #858
Thanks for looking into this again. Session loading is working as expected now. I don't see the sidebar issue you mention. No change in the hotkey situation when enabling 'hide on focus lost'. I tried everything I can come up with, incl. removing all prefs in dconf and creating a new user. With a new user the reported issue appears again  as soon as I enable 'hide on focus lost'. At a loss, so I g

[2017-04-04 21:18] gnunn1 commented on #861
@stecenator Can you post the session json you are using please so I can attempt to reproduce this?

[2017-04-04 22:16] ximion commented on #25
Debian has Tilix now and it will be present in the next Ubuntu release as well: https://packages.debian.org/sid/tilix

Renaming the package in our current soon-to-be-released Debian 9 release will unfortunately not be possible, or be very unlikely to happen, as the rename is accompanied by a lot of feature changes.

Tilix is not available for all architectures yet because we are hit by an elusive

[2017-04-05 03:00] binaryronin commented on #870
Yep, you nailed it! When I run Tilix from gnome-terminal it works as expected.

[2017-04-05 12:42] gnunn1 commented on #870
Can you try modifying the ```/usr/share/applications/com.gexperts.Tilix.desktop``` file and change the line ```DBusActivatable=true``` to be ```DBusActivatable=false```. You will likely need to log out and in again for the change to take effect.

After this, try running your test again and see if it still works. Thanks for your help in tracking this down.

[2017-04-05 12:58] binaryronin commented on #870
Yes, everything works as expected once the change is made.

Thanks for working through it with me, and thanks for making this terminal!

[2017-04-05 16:39] gnunn1 commented on #870
I'm thinking I might just close this and add a FAQ entry for it, not sure I want to change the DBusActivatable just for this.

[2017-04-06 02:02] binaryronin commented on #870
Yeah that's understandble. I think that as long as there is some place that highlights this issue and how to fix it that is good enough.

[2017-04-06 02:57] egmontkob commented on #507
Just for the record: Tilix compiles fine on Zesty. Hooray!

[2017-04-06 10:41] belozer commented on #432
But it's not working :(

![image](https://cloud.githubusercontent.com/assets/1655916/24750208/bb72442a-1ace-11e7-81bf-c1bc38d9ea48.png)

tilix 1.5.4

[2017-04-06 10:46] phw commented on #432
@belozer Have you configured https://github.com/gnunn1/tilix/wiki/VTE-Configuration-Issue ?

[2017-04-06 10:52] belozer commented on #432
@phw Thanks! After add in .zshrc
[code]
this is works! :)

[2017-04-06 13:37] agriffis commented on #650
@gnunn1 I'll open a new feature request if that makes more sense, but thought I'd jump in here first since there's context.

The flavor of this feature that I'd like is for the title bar to disappear when the window is maximized. It would be nice if this worked regardless of CSD or not, Wayland or X11, etc.

In GNOME, here is how a window looks maximized in Wayland:

![screenshot from 2017-04-05 1

[2017-04-06 13:39] agriffis commented on #650
Btw I'm also familiar with F11 to run full screen, which undecorates the window. But that also hides the GNOME top bar and additionally mutes notifications, both of which I'd rather keep.

[2017-04-06 13:46] gnunn1 commented on #650
@agriffis Thanks for the suggestion and I can understand your interest in it, however I don't have any plans to add this feature. In my mind this is something that should be handled by the window manager or DE and not the application itself.

I also don't really see the point of running with the CSD disabled and then hiding the window titlebar, doesn't this still leave the toolbar (i.e the embedde

[2017-04-06 14:10] gmenih341 opened #873 "How to set up custom links?"
I'm having trouble understanding how to actually set up custom links.

How do I get the `URI` that I clicked? I want to open `google-chrome`, but I can't figure out how to pass the URI to it, so it actually opens the link.

[2017-04-06 14:25] gnunn1 commented on #873
Matches from the regex are passed as ```$0``` for the whole match and then ```$1``` to $x for matching individual groups in the regex. So in your case if the whole URL matches, it would be ```google-chrome $0```.

Here's a screenshot showing a more complex example for gedit:

![screenshot from 2017-03-23 19-28-56](https://cloud.githubusercontent.com/assets/9358238/24759393/4c0eb7b4-1ab3-11e7-971e-

[2017-04-06 14:47] gmenih341 commented on #873
Can't get it to work - it opens up Google Chrome, but doesn't pass the URL. Here's my config:

![screenshot from 2017-04-06 16-45-48](https://cloud.githubusercontent.com/assets/1362216/24760334/a5a109a0-1ae8-11e7-852a-7f356681e757.png)

[2017-04-06 14:53] #873 closed

[2017-04-06 15:58] gnunn1 commented on #861
No response from OP, closing issue.

[2017-04-06 16:26] phw commented on #873
I also head trouble opening chrome-devtools links in Google Chrome. I think Chrome  does not open those from the command line, at least I could not figure out how. Or does the command work for you when run manually?

[2017-04-06 18:56] #866 closed

[2017-04-06 21:54] #871 closed

[2017-04-06 21:55] gnunn1 commented on #871
I forgot I was explicitly handling ctrl-shift-v for paste to force it to go through tilix, this doesn't seem to actually be needed.

[2017-04-06 22:16] gnunn1 commented on #870
I've updated the FAQ on the web site with info about how to disable DBus activation and referenced this issue.

[2017-04-06 22:16] #870 closed

[2017-04-08 08:04] ivoarch commented on #25
EPEL Package for CentOS 7 via [CORP](https://copr.fedorainfracloud.org/coprs/ivoarch/Tilix/)  .

[2017-04-08 13:29] Queuecumber commented on #597
@gnunn1 Not sure if you found this but I can use the window menu (alt+space) and select always on top and it works until I close/hide the quake mode window. Probably there is a DE specific way to request this functionality that you'd have to implement for wayland

[2017-04-08 14:04] gnunn1 commented on #597
@Queuecumber I had not noticed that so thanks but unfortunately I'm not familiar with mutter. I had a quick look at the mutter reference but I don't see a way to get access to the Mutter metawindow from the actual GTK window.

[2017-04-08 17:42] stecenator commented on #861
Hi Gerald,
Sorry, for late answer. Just fonud your request in spam folder :-\
I have attached the json file that reporodces the behavior.
If you move up or down the horizontal pane border, and switch to full
screen, it will bring the pane height to default.

2017-04-06 17:58 GMT+02:00 Gerald Nunn <notifications@github.com>:

--
pozdrawiam,
marcinek

-------
/* tough guys don't do backup */
http://

[2017-04-08 21:56] gnunn1 commented on #861
It didn't attach the json file to the e-mail I received or in the github issue, I think you need to add in github explicitly.

[2017-04-08 22:20] kascote opened #874 "Cant set shortcut to view shortcuts"
I'm trying to assign a shortcut to "View configured shortcuts", but no matter what key assign to it, not work. I tried Ctrl+F1, Alt+F1, and variations with Alt and Shift, no one worked. If try the same keybinding with "Open Preferences" for example, work ok. Seems a problem with that slot or I'm doing something wrong ?

[code]

[2017-04-08 23:10] #874 closed

[2017-04-08 23:51] kascote commented on #874
I tried with and without modifiers, and using others variations like ctrl+shift+s and don't work.. If I use ctrl+shift+s on other shortcut like "Show Preferences" works ok.

[2017-04-08 23:53] gnunn1 commented on #874
What version of Tilix are you using, I just tried on the latest release and it works fine for me. The only thing I can think of is something peculiar to Ubuntu, I'll try it in my VM later tonite.

[2017-04-09 00:12] SSoulaimane opened #875 "Keyboard shortcuts for add terminal right/left/top/down"
I suggest adding means to set shortcuts to add a new terminal to the **right**/**left**/**top**/**down** of the current one
ex: `Ctrl-Alt-→` / `Ctrl-Alt-←` / `Ctrl-Alt-↑` / `Ctrl-Alt-↓`.
Thank you.

[2017-04-09 00:40] kascote commented on #874
I'm using version 1.5.4... the version provided by webupd8team ppa

[2017-04-09 00:55] KruyKaze opened #876 "Toggling visibility in quake mode doesn't work"
Hello and thanks for making Tilix
I am on arch 64bit and running gnome. I have setup keyboard shortcut to "tilix --quake" and it works fine when you try to show the window but when I hit it again to hide the window , the window seems to close and reopen extremely fast, the animation is not over before it's open and focused again.

Please let me know if you need further info.

P.S: if I double clic

[2017-04-09 01:10] gnunn1 commented on #875
You can customize the shortcuts for add a new terminal to the right or down in Preferences | Shortcuts. I don't have any plans to add support for the top or left directions.

![screenshot from 2017-04-08 21-10-06](https://cloud.githubusercontent.com/assets/9358238/24833710/c83da690-1c9f-11e7-9438-71e5d218f3dc.png)

[2017-04-09 01:10] #875 closed

[2017-04-09 01:11] gnunn1 commented on #876
Do you have the quake option ```Hide window when focus is lost``` enabled, if so try disabling it and see if the problem goes away.

[2017-04-09 01:15] KruyKaze commented on #876
It does. So does it mean I can't have to chose one or the other?
Thanks

[2017-04-09 01:18] gnunn1 commented on #876
Right now yes, there is a bug #858 already open for this. I'm working on it, but since I can't reproduce the issue it's tough to fix. I think it's likely a timing issue of some sort, I may need to add a delay somewhere to handle it.

[2017-04-09 01:18] #876 closed

[2017-04-09 01:31] gnunn1 commented on #858
I made a couple of minor changes to improve this but doubt it will actually fix it. Having said that, if you are on the tilix-git package feel free to give it a whirl and see if it helps at all.

[2017-04-09 01:50] Baemir opened #877 "Bookmarks fail if there is a space in the path"
It seems like Tilix does not automatically 'correct' spaces when you use a bookmark that includes folders with spaces in their names, and cd fails with the 'too many arguments' error message, thinking you're trying to run multiple commands.

[2017-04-09 02:01] gnunn1 commented on #877
Oops, not sure how I missed that. Thanks very much for reporting it.

[2017-04-09 06:37] phw commented on #874
I think this is Could the Gtk version not yet supporting the shortcut help.

[2017-04-09 06:41] phw commented on #597
AFAIK this is only available through the UI Mutter provides, there's is no programmatic access to this.

[2017-04-09 13:39] gnunn1 commented on #874
@phw Hit the nail on the head, the GTK Shortcuts view is only supported since 3.20 hence is disabled in earlier versions.

[2017-04-09 13:42] #877 closed

[2017-04-09 13:44] gnunn1 commented on #877
I've escaped any spaces before pasting into the terminal for the Path bookmark. I don't think there is anything to do for other types, for example command, since the user should be escaping/quoting as necessary since it's not feasible to figure out the constituent parts.

[2017-04-09 13:56] phw commented on #874
Maybe the shortcut config should not be visible in that case, too

[2017-04-09 16:58] stecenator commented on #861
Here it is.

[a.zip](https://github.com/gnunn1/tilix/files/908370/a.zip)

[2017-04-09 23:03] gnunn1 commented on #861
Thanks, that reproduces it for me.

[2017-04-09 23:13] #861 closed

[2017-04-09 23:14] gnunn1 commented on #861
Thanks for your help with this, I was able to reproduce it and checked in a fix for it. I had a typo where I was calling getHeight instead getAllocatedHeight.

Try it out in git and let me know if it works for you.

[2017-04-10 11:41] rickysarraf commented on #726
@egmontkob It has been 10 days so far, and I've not faced the crash yet.

[2017-04-10 22:31] dreamer commented on #571
After rename to Tilix, proper backup/restore commands are now:

    dconf dump /com/gexperts/Tilix/ > tilix.dconf
    dconf load /com/gexperts/Tilix/ < tilix.dconf

[2017-04-10 22:52] Mancy opened #879 "Installation in MAC"
Hello everyone

I tried to install in MAC after installing the following tools
[code]
Then
[code]
to find the following error

[code]

Thank you

[2017-04-10 23:36] gnunn1 commented on #879
@Mancy Unfortunately I do not support OSX with Tilix, just Linux. I highly recommend iterm2 if you are looking for a similar terminal emulator on Mac.

[2017-04-10 23:36] #879 closed

[2017-04-11 11:52] LionelR commented on #681
Hi,
I came here to send a request for a permanent sidebar, but this issue answer it. I really like Tilix and use it every day, and for my 2 cents, the option #3 is the perfect solution. All under the mouse, no need to go to far away with the mouse to select the right session, one click. No need for permanent previews, the @marciosr approch is good enough. As extra, if the icons can blink on some e

[2017-04-12 08:41] rickysarraf commented on #726
@egmontkob It crashed today. But the crash occurred when accessing a remote machine over SSH, and running byobu terminal multiplexer with color.

[2017-04-12 08:55] rabin-io commented on #681
From all the above options the 3rd one is most suitable for my work-flow, but i like to point out another option, as I do most of my work in the terminal and not using the mouse at all, i prefer a quick keyboard session switching, so the 3rd option with hotkey's looks nice, or having something like gnome3 which you can session-switch just like alt-tab with application and have clear preview.

[2017-04-12 10:01] phw commented on #681
@rabin-io There are already keyboard shortcuts to switch sessions, and I am sure those will stay regardless of the UI solution above :) But an alt-tab session switcher might be nice, yes

[2017-04-13 08:17] Gwend4l opened #880 "Nautilus plugin: option to open in quake mode?"
When using the nautlius plugin to open tilix in a given folder, it opens a new tilix window. However, I only use tilix in quake mode, and I would prefer to have a new tab in the quake window when the nautilus plugin is used. Is there a way to do this?

and thanks for tilix by the way, very neat :)

[2017-04-13 08:55] phw commented on #880
If you have tilix already running in quake mode and you configure opening new instances as new session in Tilix global options this will work as you expect.

However if tilix is not already running this will still open a new normal window. Maybe there could be another option to start new instances in a quake mode session (which would open either in the existing quake mode window or open a new quak

[2017-04-13 09:01] Gwend4l commented on #880
indeed! I was not aware of this option. Thanks, that's perfect.

I would definitively be interested in such an option :)

[2017-04-13 09:15] bil-elmoussaoui commented on #880
I have never used quake mode before, but if this is really needed i would see if it's possible to be implemented ;)

[2017-04-13 14:55] lburgazzoli opened #881 "Issue with text selection in git log"
When using git log I noticed that the selection flickers and I cannot select text:

![peek 2017-04-13 16-38](https://cloud.githubusercontent.com/assets/1868933/25010196/a76f59d6-2069-11e7-9b51-0ea561d8b57f.gif)

This does not happens with other terminal like gnome-terminal.

My .gitconfig is pretty simple, like:

[code]

[2017-04-13 18:16] rogerdalvi opened #882 ""object.Error@(0): The function you are calling is not pressent in your version of GTK+" on CentOS 7.3"
Hello!

I've installed Trilix just fine. However, after installation, whenever I try to use an ACTION in the command line, the application crashes and the message "object.Error@(0): The function you are calling is not pressent in your version of GTK+" is presented.

I've installed Trilix using the COPR Epel, and since it did not work I tried the source code install. No joy there either.

I've even

[2017-04-13 18:20] gnunn1 commented on #882
What version are you using, I fixed a problem with this in tilix 1.5.6.

[2017-04-13 18:38] rogerdalvi commented on #882
I've downloaded the source code from git today, a few hours ago actually. And the repo has the 1.5.6-1 version (which I also tried).

Thanks.

[2017-04-13 18:53] gnunn1 commented on #882
I just tried CentOS 7.2 and it works fine for me there, did 7.3 update the GTK version from 3.14?

[2017-04-13 18:57] rogerdalvi commented on #882
I'm not sure if there was some kind of minor update to GTK, but my installed version is 3.14.13-20.

Thanks.

[2017-04-13 20:02] ivoarch commented on #882
Hi,
I use tilix from [Epel Corp](https://copr.fedorainfracloud.org/coprs/ivoarch/Tilix/) repo on CentOS 7.3, and it works .

[code]

[2017-04-13 20:12] rogerdalvi commented on #882
@ivoarch, could you please try:
tilix -a session-add-right

Does it work?

[2017-04-13 20:25] ivoarch commented on #882
No :(
Had not tried the option `-a|--action`.

[2017-04-13 20:28] rogerdalvi commented on #882
Thanks for the feedback @ivoarch!

[2017-04-13 22:33] gnunn1 commented on #882
The problem is this API:

https://developer.gnome.org/gtk3/stable/GtkWidget.html#gtk-widget-get-action-group

I'm using this to be able to find the requested action and activate it. I don't see an obvious way to work around it so I'm going to disable this feature in 3.14.

[2017-04-13 22:38] #882 closed

[2017-04-13 22:41] gnunn1 commented on #880
I don't think this is really needed, the New Session option is sufficient IMHO. I'm trying to avoid having too many options and trying to handle all these cases when activating the application, it's already enough of a mess :)

If more people start asking for it I'll re-consider.

[2017-04-13 22:41] #880 closed

[2017-04-13 22:49] gnunn1 commented on #881
I cannot reproduce this as it works fine for me. I tried your .gitconfig and I don't get the same issue. I tried ```git log``` on the terminix project and saw no issue. I'm wondering if this could be caused by an escape code or some other peculiarity in the output, do you get the same issue with other git projects?

BTW, if you are working on Camel keep up the good work, I love that project!

[2017-04-13 22:51] gnunn1 commented on #881
Although if it was a problem with an escape code you should see the same issue in gnome-terminal since both use the VTE. What distro and version are you using?

[2017-04-13 23:23] phillipsp2403 opened #883 "Add means for profile switch on directory to stick for all sub-directories under that"
We work in an environment where we have a top-level set of directories and a bunch of working directories under each (each top-level represents a client development path).  It would be very useful if it was possible for the automatic profile switch on a top-level directory to stay active on any directories under that, i.e., switch to directory for client X selects client X's profile and then any d

[2017-04-14 00:07] #883 closed

[2017-04-14 00:08] gnunn1 commented on #883
I agree, I've made a change so that the directory matches from the start rather then requiring an exact match.

[2017-04-14 06:41] lburgazzoli commented on #881
It behaves the same for any git project and only in tilix (no issues in gnome-terminal/terminator) that's why I'm a little puzzled.

I'm on Fedora 25 Cinnamon.

BTW1, I'm using https://github.com/chriskempson/base16-shell with Monokay theme
BTW2, yeah I'm a Camel PMC :)

[2017-04-14 08:08] lburgazzoli commented on #881
I forgot to mention that the issue happens only when git log paginates and in that case I also noticed that tilix + xorg are quire resource consuming:

[code]

[2017-04-14 20:53] dasbillgh opened #884 "allow copy&paste between keepass and tilix"
Hello,

I'm running the newest tilix (v1.5.4) on my workstation with Fedora 25 and XFCE 4.12
and using keepass (mono) to copy ssh informations like username, password, port to tilix etc

But since the last update it seems that the copy&paste feature not working anymore
when I copy something from keepass it will insert empty..

It would be really nice when you could look into this and fix with any

[2017-04-14 21:33] glitsj16 commented on #858
Thanks for info. But alas, the mentioned changes don't fix the hotkey issue for me.

[2017-04-14 22:59] gnunn1 commented on #884
Can you paste into gnome-terminal? How about gedit?

[2017-04-15 05:39] cazacugmihai commented on #279
+1

[2017-04-15 06:49] arcticicestudio commented on #884
This may be related to your KeePass settings, at least KeePassX provides this setting and I'm sure KeePass too. Open your KeePass *Settings* and check that the option *Clear clipboard after* is disabled or increase the time until it wipes to something like `10s`.
By the way, have you considered to switch to [KeePassX](https://www.keepassx.org) which runs on *every* OS and also supports database fi

[2017-04-15 08:36] dasbillgh commented on #884
It works with xfce4-terminal, gedit and mousepad.

 @arcticicestudio: Thanks for the tip. I use Keepass Portable because I change between Windows and Linux really often. I can confirm that it works with KeePassX but this is not a solution for me, so there is no Portable version of KeepassX.

[2017-04-15 17:30] gnunn1 commented on #884
SO I tried it out and confirms that it does work with xfce4-terminal but not gnome-terminal which is weird since the both use VTE like I do. I'm not seeing anything in xfce4-terminal code that is doing anything particularly different for keypass.

[2017-04-15 17:47] f2404 commented on #884
I'm pretty sure that xfce4-terminal is not doing anything special for keypass.
@gnunn1, can you check if it works with vte's own app - vte-2.91?

[2017-04-15 18:06] gnunn1 commented on #884
The problem looks to be my usage of the function gtk_clipboard_wait_is_text_available to check if there is text on the clipboard, it returns false with whatever keypass is doing with the clipboard. I tend to think this is a keypass bug personally, although checking gnome-terminal it's not using that function so not sure why it's not working there.

[2017-04-15 18:08] #884 closed

[2017-04-15 18:11] gnunn1 commented on #884
I've checked in a change that allows the keyboard shortcut for pasting to work by removing the check on gtk_clipboard_wait_is_text_available, within the action it's kind of redundant. However, the popover will show paste as disabled since it still uses this to set the action enabled state. I'm reluctant to remove it since it's a nice visual queue and  as stated previously I tend to consider this a

[2017-04-16 13:58] vmercuri opened #885 "Cursor color resets to default after changing any other color in the Color Palette"
Build from master, Fedora 25/26-alpha, Xorg. In Preferences->Default->Color->Options->Advanced, change your cursor background color to any color, then modify any other color in the "Color Palette" (Background/Foreground included). You should notice that the cursor color switches back to the default. The workaround is to change the cursor color last (and everytime any other color is modified).

[2017-04-16 14:34] gnunn1 commented on #885
I think this is a bug in VTE, the reason that gnome-terminal doesn't have this issue is because it always updates all the colors even when just one changes. Tilix on the other hand treats colors more granularity only updates the color that changes. In the VTE it looks like changing any color on it's own causes the cursor color to reset.

I'll need to work around this by either doing the same or up

[2017-04-16 14:41] gnunn1 commented on #885
I've opened this bug against VTE:

https://bugzilla.gnome.org/show_bug.cgi?id=781369

[2017-04-16 14:47] vmercuri commented on #885
Thanks, I'll keep an eye on that.

[2017-04-16 14:51] #885 closed

[2017-04-16 14:51] gnunn1 commented on #885
I've pushed a workaround that always sets the cursor color after setting foreground, background or palette color.

[2017-04-16 14:56] gnunn1 commented on #881
@lburgazzoli Does this happen when using vim outside of ```git log``` or just for ```git log```?

The other thing you can try though I doubt it's the cause, is to run Tilix without DBus Activation since that's one of the few differences between tilix and gnome-terminal. To do so, open gnome-terminal without tilix running and run tilix at the command line, i.e. ```tilix```. Then try your ```git log

[2017-04-16 15:17] gnunn1 commented on #881
Also, one other thing to try. There is a hidden dconf switch called ```enable-transparency``` in com/gexperts/Tilix. Try setting it to false and see if that makes any difference as well.

[2017-04-16 16:23] chmln commented on #681
Meh, tabs are the only reason I stick with terminator.
Maybe option # 3 could achieve similar functionality, but IMO just looks bad, disrupts the whole look, and is similar to having tabs on the left.

Perhaps I don't mind trading off 24px tabs (0.02% of 1920x1080) for usability.

With tabs the whole session is upfront and each is only a click away.
Here's terminator and tilix with 6 sessions.

![

[2017-04-16 17:54] vmercuri commented on #885
Much appreciated. Tilix is a wonderful terminal, it fits particularly well in my daily workflow. I wish it was the default terminal in Gnome. Keep up the good work.

[2017-04-16 19:02] rpbaptist opened #886 "Extra characters being sent on enter"
I just did a clean install of Ubuntu 17.04 and added Tilix from the webupd8 ppa.

When I press enter a few times it looks like additional characters are being sent to the terminal:

![image](https://cloud.githubusercontent.com/assets/7916262/25073475/fbdcfb88-22e7-11e7-99e7-6be888de3706.png)