[2016-05-13 12:20] gnunn1 commented on #293
Thanks @phw!

[2016-05-13 13:58] gnunn1 commented on #321
@Boiethios Can this be closed now?

[2016-05-13 14:01] gnunn1 commented on #327
The problem here for Terminix is the large blocks of 10 shortcuts for switching terminals/sessions. I could maybe break them into 2 blocks of 5 each, might look a bit odd though. I'll give it some thought.

[2016-05-13 14:57] #321 closed

[2016-05-13 14:58] Boiethios commented on #321
@gnunn1 sorry, I supposed you still talked about this.

[2016-05-13 16:10] mnowaksuse commented on #325
Full path: `/home/newman/Pictures/Kubík`
`locale`:
[code]
FS: `ext4`

[2016-05-13 16:36] phw commented on #325
Ah, I missed the `í`, the font here renders that not very pretty and it looked like an ASCII `i` :)

I can't yet reproduce this here, which Nautilus version is that?

[2016-05-13 17:54] mnowaksuse commented on #325
It's `nautilus-3.18.5-1.fc23.x86_64` from Fedora 23. This is the terminix repo: `https://copr-be.cloud.fedoraproject.org/results/heikoada/terminix/`.

[2016-05-13 18:40] frnogueira commented on #293
Me too, @phw ! :) :+1:

[2016-05-14 11:02] Tadly opened #329 "New session while session sidebar is open"
Another super minor issue I came across.

When creating a new session while the session sidebar is open (via keyboard shortcuts) the new session doesn't appear within the sidebar.
It will after closing and reopening the sidebar.

[2016-05-14 14:33] gnunn1 commented on #329
Thanks, I'm probably not going to fix this for 1.0 as this is a bit tricky in terms of getting a preview image for it. I'll probably look at doing some re-architecting of the sidebar as one of my longer term activities after 1.0.

[2016-05-14 14:38] Tadly commented on #329
No problem.
Not like its annoying or anything :) (using shortcuts to switch sessions is 10x faster than using the mouse anyway :D)

[2016-05-14 16:19] jaromero commented on #285
So far so good. I had modified the .desktop file to comment the DBusActivatable line to work around this issue temporarily, but I enabled it again and have been trying it for a few hours without issue.

[2016-05-15 09:40] jaromero commented on #285
Wait, false alarm. This is what still happens for me (without the .desktop file workaround I mentioned):

* Open terminix, cd to anywhere and then `exit`: the next Terminix session starts at $HOME (or rather, wherever you initially started at)
* Open terminix, cd to anywhere, then open a new split or tab, then exit both splits in any order: the next Terminix session starts on that other directory

[2016-05-15 11:30] stunningpotato opened #330 "Conflicting shortcuts"
As terminix is an application with loads of shortcuts, some might get consumed by Terminix and not get forwarded into the app running. For example, this might be an issue with the nano editor. By default, you save a file by hitting `CTRL + O`. However, this shortcut is consumed by Terminix.

It would be super cool if Terminix had the ability to turn off conflicting shortcuts temporarily, according

[2016-05-15 13:40] gnunn1 commented on #330
I don't think I can do any sort of automatic system, it would basically involve tracking all of the CLI programs out there and the shortcuts they use and then keep it up to date. I just don't see this as being very viable. Did you have an idea of how this would work that would be simpler to implement and maintain?

There is an enhancement request #223 already to allow shortcuts to be disabled temp

[2016-05-15 13:51] gnunn1 commented on #285
@jaromero I'm not sure I'm following you, can you lay out what you are doing in precise steps, i.e. Step 1: With no terminix instances open, start Terminix, Step 2: cd to directory, etc.

The new session is supposed to inherit the directory of the currently active terminal, that's actually a feature that was added for #246. However I'm not sure if this is what you are experiencing because you ment

[2016-05-15 16:21] stunningpotato commented on #330
There could be like a list of the most common CLI programs such as cfdisk, Nano, midnight commander etc.

This list would'nt have to be comprehensive - but programs that are pretty much installed on every single Linux OS should work well by default, shouldn't they?

Another Option could be to have something like a "bypass Shortcut": this shortcut would deactivate all terminix shortcuts for, let's

[2016-05-15 18:54] jaromero commented on #285
That's correct, in both cases I'm starting a new instance without other instances running.

To clarify, this is what I did, straight from a clean boot. I'm just going to say "open a new tab"/"close the tab" but it seems to apply to both tabs and splits:

1. Start Terminix. It starts in ~
2. `cd` to, say, ~/Desktop
3. `exit`
4. Start terminix again. It should also start in ~
5. `cd` to ~/Desktop ag

[2016-05-15 18:58] jaromero commented on #285
Quite a shot in the dark, but since this seems to be related to DBus...

I have a file at `/etc/x11/xinit/xinitrc.d/50-systemd-user.sh` with the following content:

[code]

It seems it's just part of standard Arch systemd, but I wonder if it has something to do with this issue.

[2016-05-15 19:07] gnunn1 commented on #285
@jaromero Thanks for the detailed information, I'm just heading out to catch a plane but I'll work on this tomorrow night.

[2016-05-15 21:25] egmontkob commented on #330
I already had this in mind to report that Ctrl+O should be changed to Ctrl+Shift+O (it conflicts at least with nano and mc).

Ctrl+S is also troublesome, it is useful at least in mc (although Alt+S does there the same). Albeit here Ctrl+Shift+S is already taken, and Ctrl+S acts as scroll lock (a not really useful feature) most of the time.

However, I think there should be no Ctrl+letter shortcut

[2016-05-15 21:40] phw commented on #330
I agree with egmontkob, Ctrl+single letter is used quite commonly. Having shortcuts predefined which are likely not to conflict is IMHO the better solution than disabling shortcuts randomly according to some hard coded application list.

[2016-05-15 21:44] gnunn1 commented on #330
As per #187 if someone wants to go through and optimize the shortcuts I'm happy to accept a PR for it.

[2016-05-16 12:45] derekstavis opened #331 "Overlay scrollbars"
Since GTK 3.16 we've got overlay scrollbars for almost every core application.

I believe the issue with overlay scrollbars in terminal applications is vte, as gnome-terminal still haven't implemented it too, but I'm opening this issue to keep registered what probably more people would be interested in.

Thanks for this awesome terminal application!

[2016-05-16 13:04] xisberto opened #332 "Cannot move tiles"
I don't know if this is a preference I have marked, or if it was removed.

I cannot move tiles anymore. It was possible before: https://i.ytimg.com/vi/z6COBUviMtY/maxresdefault.jpg

[2016-05-16 13:31] gnunn1 commented on #331
This is covered in the FAQ (https://github.com/gnunn1/terminix/wiki/FAQ), if it's alright with you I'm going to close this as I prefer trying to keep the issue list smaller and contained to the items that are within my control.

[2016-05-16 13:31] #331 closed

[2016-05-16 13:33] gnunn1 commented on #332
Can you provide some info about your environment? Distro, GTK version, X11 or Wayland?

Also, any chance it's a case of the drawing not happening versus drop not happening? i.e. If you drag a terminal over the other ones, it should highlight the quadrant where the drop will happen. Is it possible this highlighting is broken but the actual drop still works?

[2016-05-16 14:36] xisberto commented on #332
I'm using archlinux with Gnome 3.20 under Wayland.

Drawing from the tiles titles does nothing. The highlight doesn't appear at all.

[2016-05-16 14:41] gnunn1 commented on #332
Thanks, I just tried testing it on master and dragging is completely broken, I must have done something when working on the transparency issues. Are you using the ```terminix``` package or ```terminix-git```?

[2016-05-16 15:11] xisberto commented on #332
I'm using `terminix`

[2016-05-16 15:19] gnunn1 commented on #332
Thanks, just quickly tried it on GTK 3.18 and it's still working fine there. Now 9 times out of 10 the problem is something I've done, but in this case I wonder if an update in GTK broke something as there was a recent update in Arch on May 11th. I'll investigate some more tonite.

[2016-05-16 15:28] gnunn1 commented on #332
Alright I couldn't resist trying this quickly, downgrading to ```gtk3 3.20.3-4``` fixes the problem. I'll open a bug report for GTK.

[2016-05-16 15:35] bil-elmoussaoui commented on #332
It's a GTK issue! Happens with Plank too

[2016-05-16 15:38] gnunn1 commented on #332
Opened bug https://bugzilla.gnome.org/show_bug.cgi?id=766522 for it.

[2016-05-16 19:44] gnunn1 commented on #332
Thanks @bil-elmoussaoui, I see at least one other bug report for this in the gtk+ bugzilla. Closing this issue since it appears to be a GTK problem.

[2016-05-16 19:44] #332 closed

[2016-05-16 20:25] gnunn1 commented on #15
A patch has been attached to the bug report in GTK and I don't see any way to work around it on my end so closing this as a GTK bug.

[2016-05-16 20:25] #15 closed

[2016-05-16 20:37] gnunn1 commented on #285
@jaromero I'm not able to reproduce following your steps, a new instance of Terminix (without one already running) always opens in $HOME for me regardless of what I've done previously. Like you I'm on Arch Linux and gnome-shell 3.20.

It almost sounds like to me like something is remembering the shell CWD and restoring it, I'm not familiar with byobu but is there any chance it is doing this? It ca

[2016-05-16 21:51] gnunn1 commented on #325
Working on it, looks to be the same as this question:

http://askubuntu.com/questions/117731/fix-nautilus-uris-in-a-python-script

[2016-05-16 22:14] bil-elmoussaoui commented on #325
@gnunn1 I think replacing the line 22 with this one `filename = urllib.unquote(gfile.get_path());` should fix that

[2016-05-16 22:25] jaromero commented on #285
I don't think it's byobu, these last tests were done with a clean profile, and none of the other terminals with which I do use byobu don't behave like this.

[2016-05-16 22:35] gnunn1 commented on #285
Can you do paste here what ```ps -ef | grep terminix``` shows when Terminix is running.

[2016-05-16 22:43] gnunn1 commented on #285
To elaborate, you are probably right it's related to DBus, on my system though Gnome Shell doesn't launch Terminix with DBus activation, on yours it probably does which I can see with the output from PS -ef

[2016-05-16 22:49] jaromero commented on #285
[code]

[2016-05-17 01:05] #325 closed

[2016-05-17 02:24] gnunn1 commented on #285
So I figured out why Terminix wasn't starting using Dbus, I had an extra desktop file in some directory called .gnome/apps that was od. Once I removed it Terminix started launching with the Dbus as expected.

Unfortunately I still cannot reproduce your problem. I did fix one bug associated with starting terminix manually with --gapplication-service but it wasn't causing the issue you described.

W

[2016-05-17 04:49] brittyazel opened #334 "Right click menu is unclickable"
In the latest version when I right click in the terminal, the popover shows, but I cannot click any of the option. The mouse cursor just stays as the "capitol I" shape, as if I were selecting text.

Trying to select any option immediately closes the menu without anything happening.

[2016-05-17 05:01] brittyazel commented on #334
Actually, I rebooted and this issue went away. I have no idea what caused it :-/

[2016-05-17 12:14] jaromero commented on #285
It's definitely not running, the process ends as soon as the window closes.

[2016-05-17 13:05] gnunn1 commented on #334
I'm going to close this, sounds like just one of those things. If you can reproduce this, feel feee to re-open.

[2016-05-17 13:05] #334 closed

[2016-05-17 13:27] gnunn1 commented on #285
@jaromero Well I'm a bit stumped as I cannot reproduce it. If the process has ended then Terminix isn't keeping any state which implies something external is causing the change in directory.

If you are willing, I'll build a version that outputs a trace log to a file for you to try, that should give me more information about what is happening on your system.

[2016-05-17 14:40] jaromero commented on #285
Sure, I'd be willing to try it out

[2016-05-18 01:30] gnunn1 commented on #285
I've uploaded a debug binary here:

http://www.gexperts.com/files/terminix.zip

Just unzip and replace /usr/bin/terminix with this one. This will create a file ```/tmp/terminix.log```, just run through your steps then  e-mail me the log file.

[2016-05-18 01:55] gnunn1 commented on #300
I'm going to close this, I think this is an issue with the window manager constraining the maximum size.

[2016-05-18 01:55] #300 closed

[2016-05-18 02:06] gargullia commented on #25
I want to be the repository maintainer for Ubuntu. What do I need? To become an official repository

[2016-05-18 02:11] gnunn1 commented on #25
@gargullia All I'm looking for is someone to create a PPA with a working deb package and is willing to keep it up to date. If you do that, I'd be happy to add a link on the Terminix home page to your PPA.

[2016-05-18 03:00] jaromero commented on #285
I put it in a gist here: https://gist.github.com/jaromero/684a06583a5eb17f2f648fa1617f1df8

I followed exactly the same steps I listed above. But also as a final test, I started terminix again and repeated steps 10-11 three more times in the same terminix window before doing `exit` in all the tabs, and restarting terminix one final time to get the startup in the log.

[2016-05-18 03:26] gnunn1 commented on #285
Thanks, I see exactly what the issue is. For some reason, the PWD environment variable is different then the CWD at lines 181-182:

[code]

To work around an Ubuntu Unity bug, where the CWD is set to '/' and PWD to the home directory, I check for this situation when DbusActivation is used and change the CWD to match the PWD at line 186. Obviously I am being a little over-aggressive about this fix.

[2016-05-18 03:43] gnunn1 commented on #285
So doing some reading, it definitely sounds like I should be ignoring PWD sinc eit only gets set by the shell. By I still have that annoying issue with Ubuntu and Unity. As a secondary check, I tested with baobab (the disk usage analyzer) which also uses DBusActivatable and it has the same problem as Terminix, it gets started in the root directory:

[code]

[2016-05-18 03:50] gnunn1 commented on #285
@egmontkob Can you confirm something for me, if you launch Terminix from the dash (launcher or by searching), is the CWD still set to your home directory or is it set to /? If I launch Terminix with Alt-F2 like you did, the CWD is set to my home directory. It only gets set to '/' if I launch it from the left toolbar or by clicking on the icon after searching for it in the Dash.

[2016-05-18 03:53] gnunn1 commented on #285
@egmontkob Actually can you confirm this with baobab, since I'm checking for this situation and automatically changing CWD in terminix to deal with it you can't check it with Terminix.

[2016-05-18 09:02] hotice commented on #25
Until someone gets dmd and whatever other dependencies are missing from the official Ubuntu/Debian repositories, into the repos, I doubt someone will create a PPA for Terminix. Looking at dmd, it looks pretty complicated to package just for a PPA.

[2016-05-18 09:03] graingert commented on #25
snap package?

[2016-05-18 14:05] gnunn1 opened #335 "Missing Environment Variables"
Terminix doesn't seem to inherit the same environment variables as gnome-terminal and other terminals. In particular, I noticed when checking for the variable XDG_CURRENT_DESKTOP.

[2016-05-18 14:16] dsboger commented on #25
[DMD Build script for Arch](https://git.archlinux.org/svntogit/community.git/tree/trunk/PKGBUILD?h=packages/dmd) might help people that need to do it for other distros. Does not seem that complicated, although I only have experience with Arch-based packaging.

[2016-05-18 14:21] dsboger commented on #335
Thats probably because gnome-terminal is not DBusActivatable, so its process is forked from a different parent.

[2016-05-18 14:31] gnunn1 commented on #335
@dsboger lol I just came here to post that after playing with it but you beat me to it.

[2016-05-18 14:31] #335 closed

[2016-05-18 16:10] mehcode commented on #25
@hotice Couldn't someone (I would but I just don't have the time) setup and maintain a binary PPA? Similar to https://github.com/alanfranz/atom-text-editor-repository

[2016-05-18 21:07] egmontkob commented on #285
With baobab can I see the current directory somewhere, or would I have to dig into /proc? For convenience, I rather went with xterm instead, is this okay?

I'm not sure I got exactly the use cases you asked for, here's what I did:

1. Alt-F2, type xterm, press Enter

2. Alt-F2, type xterm, click on its icon under the Results section

3. After either of the previous, right-click on the left-hand la

[2016-05-18 21:15] gnunn1 commented on #285
@egmontkob Sorry you would have to check xproc, I don't think xterm is a valid example because the app has to have DBusActivatable in the desktop file which xterm does not. However baobab does which is why I tested with it. I just wanted to confirm the problem with Unity is not confined to my VM.

Also, Alt-F2 works fine on my VM, the problem really looks related to when it is launched from the Da

[2016-05-18 21:24] egmontkob commented on #285
Okay, apparently I don't know what Unity's "dash" is :) (I recall disabling a hotkey a long time ago, not sure).

So, I'm clicking on the Launcher's topmost icon (tooltip: "Search your computer"). Type baobab. Under the Applications section there's a Disk Usage Analyzer. Click.

The process is "/usr/bin/baobab --gapplication-service", and its cwd is, tadaaaa, as you expect: the root directory.

[2016-05-18 21:36] agur4ik commented on #293
I'm using Terminix as my only terminal emulator since 0.58 and have not noticed any instabilities so far. It would be nice to release it as stable already.

[2016-05-18 21:41] gnunn1 commented on #285
Thanks @egmontkob, that's perfect and what I was looking for. I modified the workaround to only take effect when Unity is the DE so hopefully that will fix @ jamomero problem.

I'm not an Ubuntu user si sorry about the terminology, I thought the button at the top of the launcher and the launcher itself was called Dash but I'm probably wrong.

[2016-05-19 01:13] gnunn1 commented on #285
@jaromero I have upoaded a new release, 0.60.2, that has a fix for your issue. Please test when you get a chance and if the issue is persisting re-open this issue.

[2016-05-19 01:13] #285 closed

[2016-05-19 11:19] michaudg commented on #10
As an alternative, I wrote a small bash script that use xdotool and that mimics the behavior of the Terminator "Toggle window visibility" option.

Works great on ArchLinux with GNOME 3.20.

https://github.com/michaudg/terminix_hide/blob/master/terminix_hide.sh

[2016-05-19 17:56] gnunn1 commented on #293
I'm planning on moving the date up to the 21st of May since everything is looking good, if anyone is planning on updating translations now is the time to do it.

[2016-05-19 17:58] bil-elmoussaoui commented on #327
The best way to have this, is you can move the "Resize" shortcuts to the second block, and devide the other one on the first & second block. As the "resize.." and "file" shortcuts are equal :)

[2016-05-19 17:59] gnunn1 commented on #327
Yeah I had the same thought, I'm just waiting to change it (and introduce a new localization) until after 1.0.

[2016-05-19 20:28] bil-elmoussaoui commented on #332
Update : A fix was released on gtk3 3.20.5-1! just received the update on arch:)

[2016-05-19 21:01] edubxb commented on #293
I'm updating the Spanish translation in Weblate, hope I can finish it before the deadline.

[2016-05-20 22:37] edubxb commented on #293
I completed the Spanish translation in Weblate, but any revision will be welcome :stuck_out_tongue_winking_eye:

[2016-05-21 13:47] gnunn1 commented on #293
Closing this issue as I've pushed out the 1.0 release and added a Roadmap section to the wiki.

https://github.com/gnunn1/terminix/wiki/Roadmap

Thanks again everyone for your help and support, it's been greatly appreciated.

[2016-05-21 13:47] #293 closed

[2016-05-21 13:54] gnunn1 commented on #25
I've released a new 1.0.0 release of Terminix. As part of this, I've created a new branch called stable, as the name implies this branch is for the stable, production version of Terminix. Development will continue as it does now on the Master branch. The intent is that stable versions of packages build from the stable branch, git version of branches that are intended to reflect development in prog

[2016-05-22 02:20] gnunn1 commented on #298
Here's my first attempt at this, one thing to note to make this work I'm back to adding CSS classes to individual items (i.e. terminal title bar, search bar, etc) otherwise they show transparent as well.

![screenshot from 2016-05-21 22-18-41](https://cloud.githubusercontent.com/assets/9358238/15451747/2ebb405e-1fa2-11e6-90c0-af6e2b4f315f.png)

[2016-05-22 02:50] gnunn1 commented on #298
So a couple of thoughts on this as follows:

* Need to alter the side bar code so when it draws the thumbnail the image is taken into account, right now the thumbnails are drawn solid since drawing them with alpha previously resulted in odd looking results.
* The image option would be global to the application and would not be per profile based
* Probably need to add the usual options for backgrou

[2016-05-22 04:07] jaromero commented on #285
Now that I've been actually using it in my daily workflow this time, I have yet to run into this issue again. Thank you!

[2016-05-22 15:52] probonopd commented on #25
[Terminix-0.58.1-x86_64.AppImage](https://bintray.com/probono/AppImages/download_file?file_path=Terminix-0.58.1-x86_64.AppImage)

[2016-05-22 16:08] ivoarch opened #337 "Terminix stable version starts in root directory again - CentOS-7"
Today I installed the stable version 1.0.0 and for a big surprise when I launch Terminix, it starts in root directory :( .

Version 0.60 works fine on EL7 .

Sorry that I have not done this test before releasing the version stable!

[2016-05-22 20:38] gnunn1 commented on #337
You should be able to set DBusActivatable to false in the desktop file as a temporary workaround.

I need to do some thinking about whether keeping DBusActivatable is worth the overall aggravation it's causing at this point.

[2016-05-22 22:25] ivoarch commented on #337
Does not work!!

[code]
And Terminix it starts in root directory again.

[2016-05-22 23:40] #298 closed

[2016-05-22 23:42] gnunn1 commented on #337
Did you restart the desktop (Alt-F2, "r" in gnome-shell)?

[2016-05-23 01:25] gnunn1 commented on #337
I just tried it here in Oracle Linux 7.2 and couldn't replicate. Are you using Gnome Shell as your desktop environment or something else?

[2016-05-23 01:52] gnunn1 commented on #337
Never mind, I can reproduce after all, had a problem with my VM. Looks like the same issue as Unity, except now that I'm only applying the workaround to Unity it fails in this case. Unfortunately checking by desktop environment doesn't appear to be the answer.

[2016-05-23 08:16] ivoarch commented on #337
Confirmed with the change of DBusActivatable to false works!! My fault, I started terminix from old starter on my desktop . I tried from the menu and terminix starts in my $HOME directory .

I think it would be nice to be solved the problem in the stable version for el7, as something like this [patch](https://gist.github.com/ivoarch/0811d00eb89c94dff19695fc74b8547d)  .spec file then rebuild again

[2016-05-23 10:20] egmontkob commented on #25
FYI: I've just filed a Debian Request For Package, hope this helps:
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=825069

[2016-05-23 10:28] fastrizwaan opened #338 "commanline split to 4 sides"
I want a four side split like in the screenshot (manually created)

[rizvan@localhost ~]$ terminix -a app-new-session -x "sudo dnf update"
[rizvan@localhost ~]$ terminix -a terminal-split-down -x "sudo dnf update"
[rizvan@localhost ~]$ terminix -a terminal-split-right -x "sudo dnf update"

1st create new session, 2nd create split down, 3rd split right, now how do I get the 4th one, like in this sc

[2016-05-23 11:43] gnunn1 commented on #338
Your best bet would be to save the layout you want and then load it when needed:

```terminix -s mylayout.json```

[2016-05-23 13:09] gnunn1 commented on #338
Note also that you can specify the startup command or each terminal in a session using the Layout Options menu option as well.

[2016-05-23 15:15] gnunn1 commented on #337
I've ccommitted my last attempt to address this, if it doesn't work out for everyone I'll drop the DBusActivatable from the desktop file.

[2016-05-23 20:09] Carlos-Stgo opened #339 "Error install terminix ubuntu 15.10"
Error:

Performing "release" build using dmd for x86.
gtk-d:gtkd 3.3.1: target for configuration "library" is up to date.
gtk-d:gstreamer 3.3.1: target for configuration "library" is up to date.
gtk-d:gtkdgl 3.3.1: target for configuration "library" is up to date.
gtk-d:sv 3.3.1: target for configuration "library" is up to date.
gtk-d:vte 3.3.1: target for configuration "library" is up to date.
te

[2016-05-23 20:37] gnunn1 commented on #339
By x86 do you mean 32 bit, as per the FAQ only 64 bit is supported.

[2016-05-23 20:46] egmontkob opened #340 "Scaled bg image is slow"
A background image in tiled/centered mode causes a tiny slowdown when cat'ing a giant file. A large background image in scaled mode causes a 2-3x slowdown and jerky scrolling. Even after simple events (such as pressing Enter at the prompt) redrawing lags noticably.

Is the image, by any chance, being cropped/scaled over and over again on each paint?

I think there would be no noticeable slowdown (

[2016-05-23 20:52] egmontkob opened #341 "Bg: scaled, keeping ratio"
Thanks for the background image support, it's really awesome!

Along with Scale/Tile/Center, I believe a great choice would be to crop along one axis only (centered) and scale keeping the aspect ratio.

(I guess this is what most phones/desktops do with background image.)

E.g. if the canvas is 500x300 and the picture is 1000x800 then it'd be scaled down to 500x400 and then the top and bottom 50+5

[2016-05-23 20:52] gnunn1 commented on #340
You are correct, the ImageSurface is being re-created on each paint. I didn't notice any performance issues but I didn't test it exhaustively and I have a discrete GPU. I'll look at caching it and invalidate it on resize, thanks for reporting this.

[2016-05-23 20:56] egmontkob commented on #340
Sometimes it's beneficial to have a slow computer :D

[2016-05-24 07:27] Cybso opened #342 "Terminal shortcuts don't work"
Some shortcuts don't work for me, even if I map them to other keys.

Shortcuts that DO NOT work:

- Maximize (splitted) terminal (works with button)
- Zoom/unzoom
- Split console (works with menu button)
- Copy/Cut/Paste (works with context menu buttons)
- shortcut overview (Edit: see below)
- and some others...

Shortcuts that DO work:

- Show sidebar
- Change splitted console sizes
- Switch to t

[2016-05-24 11:54] Cybso commented on #342
On further investigation I found out that (beside ACTION_SHORTCUTS, which is disabled through the

`if (Version.checkVersion(3, 19, 0).length == 0) {`

condition, all shortcuts defined in terminal.d are ignored.

I have no experiences with D (or GTK3), so do you have any hints for me how to trace down this problem?

[2016-05-24 12:17] egmontkob commented on #341
Just wondering about the terminology to use... maybe Scale for this one, and rename the current Scale to Stretch?

[2016-05-24 13:01] egmontkob commented on #340
Just for fun:

The current issue would be way more prominent if we hadn't addressed https://bugzilla.gnome.org/show_bug.cgi?id=730732 (comment 1 summarizes the root cause). Prior to that fix, combining with Terminix rescaling the image all the time, I think it would be pretty much unbearably slow :)

[2016-05-24 13:10] gnunn1 commented on #342
I'm not sure what the issue is, I just tested copy/paste on my local machine and it works as expected. Obviously for the terminal shortcuts to work the terminal itself must have focus, and some of the actions do depend on state (i.e. copy only works if something is selected, paste if something is in the clipboard, etc). Also, I'm assuming you don't have the Read Only switch enabled in the terminal

[2016-05-24 13:41] phw commented on #341
Or remove the existing scale completely? Is this really useful?

[2016-05-24 13:43] Cybso commented on #342
I've already traced that, the actions are inserted but don't get executed. Also, "Synchronizing Input" works, so the key events seems to reach the EventBox.

At the moment I assume it might be a bug in Debian's version 3.14.5 of libgtk-3. I'll set up a VM with Debian Testing (comes with 3.20) to verify this.

[2016-05-24 13:56] gnunn1 commented on #342
I didn't realize that you were using GTK 3.14, I can confirm in Oracle Linux 7.2 which I have running in a VM. I'll have a look at this.

[2016-05-24 13:58] gnunn1 commented on #341
For the current Scale option, I'm vacillating between calling it Stretch or Fill.

@phw It's a fair point, some people though may like it from the point of view of having the terminal window completely filled.

[2016-05-24 14:01] gnunn1 commented on #285
@jaromero I had to tweak this workaround again for #337, if I build another test binary would you mind giving it a go again to make sure you're problem stayed fixed?

[2016-05-24 14:57] gnunn1 commented on #15
This has been fixed in GTK 3.20.6

[2016-05-24 18:08] arshavindn opened #343 "open terminal from nemo to new session with running terminix"
Like, again, I have a terminix running in home directory and when open terminal on context menu of nemo, terminix create a new session in home directory too, not in directory from nemo. Sublime Text 3 has this issue too.
I'm using Ubuntu Gnome 16.04 gtk 3.18

[2016-05-24 18:31] bellcolt opened #344 "where is the profile stored in the filesystem?"
Is it possible to use different profiles for each split window similar to gnome-terminal? Where can i find the profile in the system?

[2016-05-24 18:38] gnunn1 commented on #343
Which version of Terminix are you using, the stable release or one built from Master?

[2016-05-24 18:41] gnunn1 commented on #344
Yes it is, the drop-down button (the one with the menu and buttons to split the terminal) on each terminals title has a Profiles sub-menu that allows you to select the profile used for that terminal.

Profiles are stored in dconf, you can create new profiles using the Preferences dialog accessible in the Application menu.

If this answers your question, please close the issue. If not, feel free to

[2016-05-24 18:50] gnunn1 opened #345 "Remove DbusActivatable from desktop file"
I'm creating this issue to ask for opinions on removing DBusActivatable=true. Frankly I'm thinking that DBusActivatable is causing me more issues and time wasted then it is worth. Some of the issues caused so far by DBusActivatable, either directly or indirectly, include:

* Unity starts Terminix in the root directory, requires a workaround to fix
* Gnome Shell 3.14 starts terminix in the root dir

[2016-05-24 19:09] arshavindn commented on #343
@gnunn1 build from master

[2016-05-24 19:36] gnunn1 commented on #343
Thanks, I can reproduce.

[2016-05-24 19:36] #339 closed

[2016-05-24 19:36] #338 closed

[2016-05-24 22:26] #343 closed

[2016-05-24 23:01] bellcolt commented on #344
Running on Ubuntu 16.04.  Don't see the application menu.

[2016-05-24 23:01] #344 closed

[2016-05-24 23:10] gnunn1 commented on #344
See #241

[2016-05-25 02:35] gnunn1 commented on #340
@egmontkob I checked in a change that caches the rendered image, on my laptop it drops the time to cat a large file from about 5.5 seconds to about 4 seconds which is in-line with the time for no image. When I interact with the terminal I'm not noticing a perceptible difference but then can again as I mentioned earlier I have a pretty beefy laptop.

Can you please test and see how it performs on y

[2016-05-25 02:45] #327 closed

[2016-05-25 03:35] gnunn1 commented on #342
I had a look at this tonite but I don't see any obvious reasons why this isn't working. It's not just the fact that I'm using insertActionGroup as the session actions also use that.

I'll have to do some more investigating.

[2016-05-25 03:45] egmontkob commented on #340
Perfect, thanks! :)

[2016-05-25 03:56] gnunn1 commented on #340
Glad it worked, one thing to note is that this does consume somewhat more memory since I'm caching the image globally as before but now also each AppWindow now caches a rendered version of the image.

[2016-05-25 03:58] #340 closed

[2016-05-25 07:53] Cybso commented on #342
I think this could be related to the following changelog entry in GTK 3.15.3:

See git diff at:
https://git.gnome.org/browse/gtk+/commit/?id=235837ad4932e60f46db97934be1dfb5200e185e

And bug report at:
https://bugzilla.gnome.org/show_bug.cgi?id=740682

Sadly the bugreport contains no hint how to work around this problem. Might it be possible to intercept the events in the session and delegate them

[2016-05-25 08:22] egmontkob commented on #340
That's a fair price to pay I guess.

VTE's memory footprint is not that super low either. Each vte uses around 384kB for caching reads/writes of the scrollback buffer (https://bugzilla.gnome.org/show_bug.cgi?id=738601#c100), plus the input decoder is crappy and should be rewritten (https://bugzilla.gnome.org/show_bug.cgi?id=730226), and who knows what else...

[2016-05-25 08:26] egmontkob commented on #341
FYI:

What I had in mind was to crop the image, so that whatever remains fills in the whole application window.

Displaying the entire picture, plus empty margins if necessary, is another viable option, but I like it less :)

Also, due to the (per-terminal) title bar, it _seems_ that the picture is not vertically centered. This is a bit distracting with margins, but probably far less noticeable if

[2016-05-25 11:13] Kami-no opened #346 "Terminal size and custom fonts"
Using custom font **Hack** new window does not exactly fit all rows (window a bit smaller than required to fit the last row or much bigger than last row requires)

[2016-05-25 13:12] Cybso commented on #342
Is it possible to start a second process, even if another instance is already running? At the moment I cannot use terminix to edit terminix' code because when I try to start the freshly compiled binary it would open a new window within the the running process instead.

[2016-05-25 13:17] gnunn1 commented on #342
Not that I'm aware of, I usually just use gnome-terminal when working on terminix.

As to your other question, yes it should be possible to intercept the keystrokes and figure out the keystrokes by iterating over the settings. If you want to tackle this I can give you some guidance, otherwise I'll look into it this weekend.

[2016-05-25 13:19] gnunn1 commented on #346
I use Hack from time to time (font size 11) and haven't noticed any issue myself. What distribution and versions of GTK and VTE are you using?

[2016-05-25 13:32] gnunn1 commented on #341
I missed the cropping part, I'l see what I can do.

[2016-05-25 13:42] gnunn1 commented on #342
Actually, it looks like you wouldn't even have to walk the settings since GtkApplication has a method to return the action name associated with an accelerator, getActionsForAccel. So basically call that for the accelerator, if the action name starts with "terminal." then lookup the action in sagTerminalActions and invoke it.

Of course everything needs to be wrapped in a GTK Version check.

[2016-05-25 13:46] gnunn1 commented on #346
A screenshot would be helpful too

[2016-05-25 13:47] egmontkob commented on #340
If you're really concerned about footprint, you could free the original image, and re-read the file on each resize. I probably wouldn't do it though :)

[2016-05-25 14:14] gnunn1 commented on #340
I thought of that as well and discarded the idea for the same reason :)

[2016-05-25 15:24] gnunn1 opened #347 "Various GTK 3.14 Bugs"
* Disable background image options if transparency is not enabled
* Remove labels from context menu popover
* Disable transparent scrollbar capability

[2016-05-25 17:48] Carlos-Stgo opened #348 "error Terminix install"
dub build
Building gtk-d:gtkd 3.3.1 configuration "library", build type debug.
Running dmd...
Building gtk-d:gtkdgl 3.3.1 configuration "library", build type debug.
Running dmd...
Building gtk-d:sv 3.3.1 configuration "library", build type debug.
Running dmd...
Building gtk-d:vte 3.3.1 configuration "library", build type debug.
Running dmd...
Building gtk-d:gstreamer 3.3.1 configuration "library",

[2016-05-25 17:58] gnunn1 commented on #348
GDC is not supported for compiling terminix, you have to use DMD. See #229

[2016-05-25 17:58] #348 closed

[2016-05-25 20:41] Cybso commented on #342
Here we go... works fine for me!

[terminix-fix-for-issue-342-v1.patch.txt](https://github.com/gnunn1/terminix/files/282932/terminix-fix-for-issue-342-v1.patch.txt)

[2016-05-25 20:52] gnunn1 commented on #342
Thanks!

[2016-05-25 21:14] Cybso opened #349 "Initialize application with NON_UNIQUE"
I suggest to initialize the GTK Application instance with ApplicationFlags.NON_UNIQUE:

[code]

This prevents GTK from starting all windows within the same process and allows:

- to test code changes on Terminix within Terminix
- to kill each process separatly

Additionally, if one process crashes other opened windows will keep alive.

The downside is that windows started in separate processes can

[2016-05-25 21:21] Cybso commented on #342
No problem :-) This is a great terminal, it already replaced Konsole as my primary terminal emulator within two days!

I've just realized that I've pasted a comment line from createSessionActions. The first line should read:

[2016-05-25 21:23] gnunn1 commented on #342
I haven't tried this, but just wondering If you tested changing an accelerator in the preferences dialog to make sure there is no impact.

[2016-05-25 21:25] Cybso commented on #342
Yes, I've tested that on the first run, no problem.

[2016-05-25 23:02] jaromero commented on #285
I can test, yeah (sorry for the delay)

[2016-05-26 14:37] noscript opened #350 "Better visual bell support"
This is how I test the bell in various terminals:

[code]

-  I would expect at least bell propagation to window manager / desktop environment. Bell in `xterm` causes both window border and windows list button flash in LXDE.

- The session button, session sidebar and split title bar should also indicate where (and if) the bell happened.

[2016-05-26 14:39] #342 closed

[2016-05-26 14:40] gnunn1 commented on #350
Right now there is no support for the Bell in terminix but I'll look at adding it in.

[2016-05-26 14:40] gnunn1 commented on #349
It's a good idea as a command line parameter which is off my default, I'll add support for it.

[2016-05-26 15:37] gnunn1 commented on #285
@jaromero You can download the updated version here:

http://gexperts.com/files/terminix.zip

Thanks again for doing this.

[2016-05-26 16:29] #349 closed

[2016-05-26 19:41] egmontkob commented on #298
Hey,

Just wondering, wouldn't it be cool to mention this feature on the front page? :)

cheers!

[2016-05-26 19:51] egmontkob opened #351 ""Synchronize Input" conflicts with input method"
Enable "Synchronize Input" for several panes. Press Ctrl+Shift+U followed by a hex number and then a space. The given Unicode character appears only in the actual pane, not all the others. Other trickier input methods (e.g. "Japanese (Anthy) (IBus)") probably also have such issues.

Terminator suffers from the same bug: https://bugs.launchpad.net/terminator/+bug/1518089. The conclusion there was t

[2016-05-26 20:07] gnunn1 commented on #351
i will have a look when I get a chance, I think that's a GTK feature, wonder if it emits an event for it.

[2016-05-27 05:52] bijanbina commented on #48
Hi,
sorry to interrupt. [here](https://github.com/bijanbina/gnome-example-search-provider) you can find minimal working example of gnome-search-provider which is based on [cosimoc](https://github.com/cosimoc/gnome-example-search-provider) work. (it upgraded to support gnome 3.20).
just think that it may helpful to you.

[2016-05-27 14:12] jaromero commented on #285
I think something went wrong.

[code]

[2016-05-27 16:05] gnunn1 commented on #285
My mistake, I must have accidentally commited the background image stuff to the stable branch at some point. I've reverted that commit, re-built the binary and updated the file on my site. Please try downloading it again from the same location as previously, my apologies for the extra work.

[2016-05-27 16:19] gnunn1 commented on #135
@egmontkob Can you give me an opinion on an idea I have based on your experience with the VTE please. The VTE already returns a hostname as part of the window title as far as I can tell and it does this through an OSC 7 code I believe. As long as the machine you are SSH'ing into has sourced the vte.sh file I assume that you will start getting a new hostname in the window title at that point.

Coul

[2016-05-27 16:20] gnunn1 commented on #346
@Kami-no Any update on the questions I asked?

[2016-05-27 16:50] egmontkob commented on #135
Nice idea...

To clarify: OSC 0 sets the window title, OSC 7 sets the concept of the current working directory (to be used when opening a new tab). Both are set by vte-2.91.sh, although there are pending vte bugs to remove the window title stuff from here. Also it's modified by many users. OSC 7 is something you could more safely rely on.

I've no clue if you can subscribe to be notified when this

[2016-05-27 16:52] gnunn1 commented on #350
So II checked gnome-terminal, and I see it simply as an enable/disable option for the terminal bell that when enabled makes the bell sound but otherwise doesn't do anything UI wise as far as I can tell.

I'm not keen on adding the Bell as a distinct entity to the sidebar and session button, I could have Terminix handle the Bell has a notification like it already does for long running commands, thi

[2016-05-27 16:54] egmontkob commented on #135
Wow, really nice idea! :) How come it didn't occur to us?

If you can't get notified when this string changes, you could still poll it once per sec or so.

[2016-05-27 16:57] gnunn1 commented on #135
@egmontkob I'd prefer to avoid polling but I think I should be notified via the VTE title change events, I'll play around with it. If it works out, I'll probably look at adding something to manage SSH connections and include this as an option to that.

[2016-05-27 17:09] egmontkob commented on #135
One problem you'll face is that vte.sh ckecks for $VTE_VERSION which is not forwarded by ssh. So you'll have to ask your users to set up emitting OSC 7 from the remote machine.

[2016-05-27 17:11] egmontkob commented on #135
... and of course the remote system might not even have vte installed.

[2016-05-27 17:40] gnunn1 commented on #135
Yeah, the idea would be to ship an optional script file that could be installed on remote machines like iterm2 does. This is what was I planning on doing when I bite the bullet to learn enough C to write a VTE patch for custom OSC sequences as per 734823.

[2016-05-27 17:52] gnunn1 commented on #350
Also, if anyone knows of a terminal that handles the bell really well just let me know and I'll have a look at it.

[2016-05-27 21:17] alex285 opened #352 "Background image can make Terminix and GNOME unresponding"
Reproduce always

1. Set as background a heavy HD image
2. Set transparency 100%
3. Resize, move, open layouts in Terminix

Outcome:
It will respond slow, and eventually it will crash. I cant even jump to TTY and I need to hard restart PC.

That behavior only happens with "heavy" background images. Could be a guard on image size? For example not bigger than 1MB? Or a warning?

DUB version 0.9.24,

[2016-05-27 21:40] gnunn1 commented on #352
What do you define as heavy, I tested with wallpaper sized issues (1920x1080) and didn't notice any issues. If github allows it, post your image and I'll have a look.

[2016-05-27 22:49] gnunn1 commented on #352
Just a note to myself, this might be related to garbage collection.

[2016-05-27 23:41] alex285 commented on #352
@gnunn1 an image can be HD and still "light", for example a single color jpg
Here is one of those I tested Terminix with:
http://imgur.com/SKCOdJl

[2016-05-27 23:51] alex285 commented on #352
@gnunn1 imgur actually compresses the image. Thats the original size:
https://images6.alphacoders.com/371/371656.jpg

Also my bad. This ain't HD. This image is 8K really :/

[2016-05-28 02:37] gnunn1 commented on #352
Thanks, I can reproduce with that image.

[2016-05-28 03:39] gnunn1 commented on #352
I added a timer around the image generation to try to understand how a large image is affecting performance. Obviously for the center and tile layout modes performance is very good even for this 8k image, scale and stretch is pretty atrocious though with image generation taking 350-500 ms or so.

Based on these observations, I've made some changes and it no longer crashes for me when using that im

[2016-05-28 03:43] gnunn1 commented on #352
And I spoke too soon, just got it to crash after more playing around. I'll do more investigation tomorrow.

[2016-05-28 04:01] gnunn1 commented on #352
One last thought, the other option would be to simply remove the scale and stretch options if it can't be made performant. I don't think gnome-terminal supported these options when it did have support for background images.

[2016-05-28 08:11] egmontkob commented on #352
Indeed terminix's memory consumption keeps growing on each repaint. As seen in the VIRT and RES fields in `top`, it grows significantly on each repaint (e.g. even while the cursor is blinking but the terminal is otherwise idle; it stops growing when the cursor goes steady).

This also happens with tiling background mode.

I guess it's a simple memory leak, maybe the actual rendered contents are ke

[2016-05-28 08:34] egmontkob commented on #340
Inspired by #352, you might still want to choose whether to:

- remember the original image as the jpeg file itself (and decode jpeg on each resize; resulting in a perhaps noticeably smaller memory footprint), or

- convert to a bitmap (decode from jpeg) once and store that bigger object.

Here I guess I cast a weak vote for the former.

Maybe you can simply just mmap() the actual file and keep it

[2016-05-28 14:44] wilzbach commented on #25
Hi all,

The best is to make a bit of noise at dub, s.t. we get a common way to install dub packages for distributing.

https://github.com/dlang/dub/issues/839

For the Debian RFP it might help to ping @ximion - he probably can give you advice on how to proceed.

[2016-05-28 16:11] dsboger commented on #25
Have you people given a try to the recently merged [autotools support](https://github.com/gnunn1/terminix/wiki/Building-with-Autotools)?

[2016-05-28 18:36] gnunn1 commented on #352
I went through the eye of gnome code (https://github.com/GNOME/eog/blob/8169e0ac6447ebeb1d1e809213ce82b814b62550/src/eog-scroll-view.c) to pick up some cairo tricks as I noticed that it was scaling the image from @alex285 image during resizing much quicker then terminix was.

The key is apparently setting the filter for the pattern, setting it to NEAREST results in a good compromise between perfor

[2016-05-28 21:28] irongomme opened #353 "Request Feature: Saving"
It could be great if we could :
- Save all sessions in the same file
- Quick open recent saves, or auto-open on startup the chosen save

[2016-05-28 22:16] alex285 commented on #352
After that patch, the performance is hugely improved, and no crashes either, but it is still reducing the overall responsiveness of the Terminal. Perhaps adding some note there like "If you get performance issues, consider to turn background images of"? ..or "background images may reduce performance"?

When I set  `CACHE_RENDERED_BG_IMAGE = true` I get an error inside the if

[code]

[code]

[2016-05-28 22:22] alex285 commented on #352
Also, after that patch on Scale and Stretch the background can pixate.

[2016-05-28 22:51] egmontkob commented on #352
It's basically okay for me now. Definitely no sign of memleak, performance degradation over time, or bringing down the entire desktop. Thanks a lot! :)

I have a favorite test file (the output of a `ls -lR --color=always /`; ~40MB, ~650k lines) that I've been `time cat`'ing for quite some time now to measure vte's speed. Unfortunately there's a generic variation of the time required to cat it, e.g

[2016-05-29 00:40] gnunn1 commented on #352
@egmontkob The things is that they no longer do a one-time rendering of the image since as I mentioned earlier I turned off the code that did that considering how much things improved. You can turn it back on by setting ```CACHE_RENDERED_BG_IMAGE = true``` in constants.d and re-compile. I'd be interested in seeing how your tests perform with the two different scenarios. As I'd mentioned, I'd prefe

[2016-05-29 00:55] gnunn1 commented on #352
@alex285 I checked in a fix for the issue you had with ```CACHE_RENDERED_BG_IMAGE = true```

[2016-05-29 05:54] egmontkob commented on #352
Sorry, it was too late last night, I didn't read your message carefully. Also it didn't occur to me you could've disabled caching, and didn't realize this brought back all the previous problems.

Please do not disable it. That's just a bad design for all the reasons outlined in #340 plus down below (as opposed to the current bug which is perhaps just a small implementation mistake of the correct d

[2016-05-29 14:08] gnunn1 commented on #352
@egmontkob I've turned the image caching back on, fixed a memory associated with it and changed the cairo scaling filter to GOOD from NEAREST. Hopefully this addresses everything and I can close this off. If you and @alex285 could test one more time I'd appreciate it.

[2016-05-29 14:08] gnunn1 commented on #351
Ignore that last commit, mis-typed the issue number, it's for #352

[2016-05-29 14:21] gnunn1 commented on #347
Fixed

[2016-05-29 14:21] #347 closed

[2016-05-29 14:21] gnunn1 commented on #337
Fixed with last commit

[2016-05-29 14:21] #337 closed

[2016-05-29 14:22] gnunn1 commented on #346
No response from OP, closing.

[2016-05-29 14:22] #346 closed

[2016-05-29 14:27] ximion commented on #25
@dsboger The autotools stuff seems to check for dmd things, and having dmd is a no-go in Debian due to its non-free license (unless of course we have all D stuff in the non-free repository, which would be pretty sad).
Regarding dub: In order to use it on distros, https://github.com/dlang/dub/issues/838 *must* be resolved somehow otherwise we really can't ship this. Bonus points for resolving https

[2016-05-29 14:35] phw commented on #25
As terminix currently supports only DMD that's also an important issue unrated to the autotools Support.

[2016-05-29 14:37] gnunn1 commented on #135
Anyone know of any terminals with good SSH/telnet integration to base this feature off of? I know the OSX terminal allows you to create remote connections, any others that would be worth looking at for implementation ideas?

[2016-05-29 14:41] ximion commented on #25
It does? In that case, that is an even more important issue to address - it must compile with LDC and/or GDC to be suitable for Debian main (GDC is probably a bit harder because its Phobos is pretty old, but making it work with LDC might be doable with less effort).

[2016-05-29 14:52] gnunn1 commented on #25
@ximion As you pointed out above, GDC and LDC use older versions of phobos/language spec and thus trail DMD so that's where the issue with Terminix is coming from. I'm not adverse to supporting LDC, assuming any changes I would need to make to the code are minimal, I just haven't had time to try it out and see where it is at with respect to phobos/language support. I tried GDC once, since I make h

[2016-05-29 14:55] wilzbach commented on #25
Have you tried the latest ldc (1.0.0-beta2)? It has dmd-fe, dmd-be and Phobos at 2.070.2 now :)

[2016-05-29 14:59] ximion commented on #25
@gnunn1 That's a perfectly valid point - I was also really disappointed to not find std.experimental.logger in GDC, and ended up writing my own, dumb logger because LDC wasn't working at that time (this changed meanwhile, I think).
Outdated Phobos and incompatible compilers is IMHO the biggest reason D adoption is so low. I am hoping for LDC to fix this, and maybe in a distant future compilers cou

[2016-05-29 17:19] agustibr commented on #286
I had the same issue, re-buiding the icon cache solved the issue. Thanks! :smiley:

[2016-05-29 17:33] gnunn1 commented on #352
After testing on my Macbook, I switched to BILINEAR from GOOD. On my gaming laptop there wasn't much difference between the two but on the Macbook BILINEAR is around 3ms whereas GOOD is 30-40ms.

I'm thinking I might need to make this a hidden option in gsettings that could be tweaked via dconf if needed.

[2016-05-29 17:59] gargullia opened #356 "Adding new functions "Autocompletion""
An example of this feature can be found in the project https://github.com/shockone/black-screen

[2016-05-29 18:12] gnunn1 commented on #353
I doubt I'd add the auto-open on startup option, you can accomplish the same thing using the --session command line parameter.

While you can't save all sessions in the same file, you could accomplish the same thing by loading multiple sessions at once via the command line. Having said that, adding the ability to save and load sessions as a group wouldn't be hard to do. I'd likely just create a ne

[2016-05-29 18:14] gnunn1 commented on #352
Screw it, hidden option added for the scale algorithm.

[2016-05-29 19:54] irongomme commented on #353
Ok, i've just discovered the command line parameters and it let me open a default session on startup, wich is what i want to do.

And i could open several sessions on startup by the same way ... you're right !

Is there a way to call parameters on startup, because the command line needs a running terminal ...

Thanks, this is a really great project !

[2016-05-29 20:09] egmontkob commented on #352
Looks good to me now, thanks! Fast and doesn't eat memory.

Given that the image is only scaled once per initialization and per resize, I'm not too much concerned about the algorithm, or about making it configurable. I'd probably choose one that produces good quality, or is somewhere halfway, but not on the "fast but crappy" end of the scale.

[2016-05-29 20:10] egmontkob commented on #341
It now crops from the left or from the top, rather than equally from both opposite sides (either from top and bottom, or from left and right). Probably a div by 2 missing. Just sayin :P

[2016-05-29 20:11] gnunn1 commented on #352
@egmontkob Thanks for your and @alex285 help testing this, I'm going to close this issue now.

I did end up making the algorithm changeable in dconf, based on the different performance of my macbook (which uses an AMD GPU) I figured it's best to leave an out for people.

[2016-05-29 20:11] #352 closed

[2016-05-29 20:11] egmontkob commented on #135
What's your goal exactly?

If you're planning a nice UI for choosing where to connect to, probably Putty is the most popular solution.

I though this issue was about automatically detecting and changing the profiles when the user types "ssh remotehost" rahter

[2016-05-29 20:13] egmontkob commented on #135
What's your goal exactly?

If you're planning a nice UI for choosing where to connect to, probably Putty is the most popular solution.

I though this issue was about automatically detecting and changing the profiles when the user types "ssh remotehost", but without offering any help doing this.

I'm excited to see what you have in your mind :)

[2016-05-29 20:16] gnunn1 commented on #135
Yes it is, but since it needs a UI I was debating about between incorporating it into a bookmark manager type functionality versus an extra tab in the profile. Unfortunately, after looking around I don't see a good implementation of bookmarks anywhere and I don't have a compelling vision for it. Couple with the fact I like the way iterm2 does it means I'll probably just start with a basic version

[2016-05-29 20:18] gnunn1 commented on #341
lol, with all the time spent on this background image feature I probably could have solved world hunger instead! Good thing it's been a fun feature to implement and it's been interesting learning more about Cairo.

Anyway, I'll have a look at this.

[2016-05-29 20:20] gnunn1 commented on #353
You can always customize the terminix desktop file to add whatever startup parameters you want to it though you may need to set DBusActivatable to false in the desktop file to do so.

[2016-05-29 20:35] #341 closed

[2016-05-29 20:37] egmontkob commented on #135
Sure, I see. I don't have a Mac to check iTerm now. A few questions/issues that randomly occur to me:

- If you piggyback on OSC 7 (hostname + current directory) then you'll only be able to select on hostname (or current directory but that's unlikely to be useful), not on the username.

- Would it be a finite state machine (only the current profile remembered), or a stack remembering where we came

[2016-05-29 20:47] egmontkob commented on #341
Not sure about you guys, but I like it a lot! Thanks! :)

[2016-05-29 20:48] gnunn1 commented on #135
I was thinking of driving it off the VTE event window-title-changed which I believe is emitted from OSC 7, as far as I can tell it gives you the user as well as the hostname and directory as you mentioned in the form of user@hostname:directory. Parse that out into it's components and you basically have what is needed to drive this feature and do what iterm2 is doing.

My plan is to keep the implem

[2016-05-29 21:14] egmontkob commented on #135
I'm afraid you're still mixing up the two escape sequences (which have nothing to do with each other apart from vte.sh configuring PROMPT_COMMAND to emit both, which is a bad design I'd like to address one day, see Gnome bugs [743073](https://bugzilla.gnome.org/show_bug.cgi?id=743073), [709358](https://bugzilla.gnome.org/show_bug.cgi?id=709358) and [704960](https://bugzilla.gnome.org/show_bug.cgi?

[2016-05-29 21:47] gnunn1 commented on #135
Thanks for the clarification, that's disappointing since user is an obvious filter to include for profile switching and one that is actually more useful to me personally then hostname since I'm more of a developer then an administrator. Thanks for the bug reports, reading them is illuminating and makes it clear why relying on window title alone is a bad idea.

The options I see with respect to use

[2016-05-29 22:20] dsboger commented on #25
@ximion Autotools builds Terminix dynamically linked against GtkD shared libraries. The issue is that both must be built with the same D compiler (that's why I created a `gtkd-dmd` package in AUR. `gtkd` package uses LDC) and Terminix only compiles with DMD.

If someone would write a `ldc-git` package for AUR, I'll be glad to test moving `terminix-git` to build with LDC. Of course I'll do the same

[2016-05-29 22:27] ximion commented on #25
@dsboger Jup, when Terminix compiles with LDC, there is no hard blocker for distributing it in other Linux distros.
For the "libraries loaded at runtime" thing, I was referring to GtkD itself loading GTK+ at runtime, which is kind of meh for distros, but wouldn't stop us from distributing it.
In Debian, we will likely need to make one D compiler the default to build stuff with, until D has a stabl

[2016-05-29 22:29] glitsj16 opened #357 "[Typos] com.gexperts.Terminix.gschema.xml"
Hi,

https://github.com/gnunn1/terminix/commit/14b642ffcaf5ce765b14dd84fc547234cf21f855 probably introduced incorrect wording in data/gsettings/com.gexperts.Terminix.gschema.xml, for the 'search-default-match-entire-word' key:
    \<summary>Whether to onwhenly match the entire word\</summary>

Assuming this should read:
    \<summary>Whether to match the entire word\</summary>

Going over the enti

[2016-05-29 22:33] wilzbach commented on #25
Works - see #355 ;-)

[2016-05-29 22:49] dsboger commented on #356
From what I read, Black Screen is both a terminal emulator and a shell, so it can interpret the command line and provide completion. AFAIK, Terminix is only the terminal part, while the shell is provided by bash, zsh, fish, etc.. Would not this feature require Terminix to also become a shell?

[2016-05-29 23:24] dsboger opened #359 "Configure Weblate to update LINGUAS"
I've investigated a little and found this: https://docs.weblate.org/en/weblate-2.4/admin/config.html#post-add-scripts

Is it possible to configure Weblate so that new translations are automatically added to LINGUAS?

Thanks!

[2016-05-29 23:41] wilzbach commented on #25
Your wish has been heard. I currently let it conflict with ldc, s.t. it can be used as a drop-in replacement.
Let me know if you have other requirements for packaging.

https://aur.archlinux.org/pkgbase/ldc-git

[2016-05-29 23:56] gnunn1 commented on #350
I've checked in some initial work for supporting a visual bell. It changes the current boolean terminal bell option to a enumeration with the following options:

* None
* Sound
* Icon
* Icon and Sound

The icon is displayed in the terminal titlebar for five seconds from when the bell occured and is then hidden. I still have some work to do on this as follows:

* Make the icon flash, likely using C

[2016-05-29 23:56] gnunn1 commented on #357
Fixed, thanks.

[2016-05-29 23:56] #357 closed

[2016-05-30 00:01] gnunn1 commented on #359
I had a quick look, because Terminix is using hosted weblate I don't think this capability is available, at least I can't see anywhere to configure it.

@phw any thoughts on this?

[2016-05-30 00:08] gnunn1 commented on #356
Finalterm did this as well and it worked with bash and zsh:

http://worldwidemann.com/final-term-a-modern-terminal-emulator/

However Finalterm wasn't based on the VTE, I'm not sure how feasible this is without having more control over the raw terminal like Finalterm did. I'd say let's leave this open until I (or someone else) gets a chance to research it more and see how feasible it is.

[2016-05-30 04:35] egmontkob commented on #135
Second one sounds better to me too.

Wait a bit... the syntax for OSC 7 is "file://hostname/path", I wonder what happens if someone uses "file://username@hostname/path" instead, which might also be a valid URI, I don't know if it's allowed for the "file" scheme (it is sure allowed for "http", and probably it's scheme agnostic).

Yet another vte/g-t bug: [709055](https://bugzilla.gnome.org/show_bug

[2016-05-30 04:36] phw commented on #359
Ii don't think we have that available in the board version. I use a script in a self hosted install of Weblate, and adding scripts requires you to add the script somewhere on the server and in the main weblate config.

[2016-05-30 15:07] noscript commented on #350
Yes, gnome-terminal has probably the worst bell, only audible with no visual indication whatsoever.

Roxterm has a decent bell support. It has tabs, so when bell happens the tab will flash. And also propagate the bell to windows manager etc.
![2016-05-30-180028_530x234_scrot](https://cloud.githubusercontent.com/assets/717109/15652747/fd2e36ae-2690-11e6-9637-76f0a2fe6e5f.png)

The icon should be di

[2016-05-30 20:11] egmontkob commented on #350
Currently, with "Icon" enabled: Make the terminal beep, wait until the icon is removed, and then make it beep again.

This is printed:

(terminix:1234): GLib-CRITICAL **: Source ID 5678 was not found when attempting to remove it

[2016-05-30 20:48] Boiethios commented on #356
I think it is useless since zsh, for exemple, do the thing very well. It is not in the GUI, but it does not matter in my sense.

[2016-05-30 21:33] jaromero commented on #285
No problems with this new build so far from what I've seen.

[2016-05-30 21:51] gnunn1 commented on #350
@egmontkob This is a bug with GtkD, I opened a bug for it and it has been fixed for the next release:

https://github.com/gtkd-developers/GtkD/issues/154#event-676335220

[2016-05-31 16:49] Cybso opened #360 "Re-Tile terminals"
I suggest a feature to retile all windows within a session, like clusterssh does.

For example 4 terminals will be tiled to 2x2 while 6 terminals will be tiled to 3x2 and nine to 3x3.

I think the difficult task would be to find the optimal number of columns and rows, because for example in a window that spans over two displays the optimal solution might be to arrange 4 terminals in one row.

[2016-05-31 18:40] gnunn1 commented on #359
@dsboger Would it be possible to update the extract-strings.sh to generate the LINGUAS file?

[2016-05-31 18:43] gnunn1 commented on #360
It shouldn't be super hard to do, it just involves un-parenting the existing terminals and then creating the GTKPaned from scracth and re-parent the terminals appropriately. The feature could even prompt the user for the number of rows/columns.

Having said that, this would be a pretty low priority feature for me to implement but I'm happy to take a pull request for it.

[2016-05-31 23:33] dsboger commented on #359
@gnunn1 That's a good idea, only I think `extract-strings.sh` is not the best place for it. Maybe I can sneak that somewhere in the `make` or `make install`. I'll try to sketch that and do a PR.

[2016-05-31 23:51] gnunn1 commented on #359
Just keep in mind I don't use the autotools if you want me to be the one keeping this updated. :)

[2016-05-31 23:57] dsboger commented on #359
I understand, but LINGUAS is currently only used by autotools anyway, so if autotools generates it by itself, then there is no need to keep it in the tree.

[2016-06-01 00:38] gnunn1 commented on #345
Looks like my last workaround fixed all the issues, closing...for now. :)

[2016-06-01 00:38] #345 closed

[2016-06-01 06:56] egmontkob commented on #135
@gnunn1 Action plan: You have access to a Mac, don't you? If so, could you please try these:

1.

    echo -e '\e]7;file://hostname/tmp\a'; sleep 10000

whereas `hostname` is replaced by the actual hostname, and `/tmp` is an existing directory different from the current dir.

Open a new tab. Expected: It opens in `/tmp`. Is this the case?

2.

Change the hostname to something else:

    echo -e '\

[2016-06-01 07:15] Cybso commented on #360
ClusterSSH is using a fixed preconfigured column width:

https://github.com/duncs/clusterssh/blob/55c91fe9915cc5c004643eab86cb61223641c313/lib/App/ClusterSSH.pm#L891

I think by having this feature, and also add a feature to attach multiple "--execute" calls to the same session via command line, this could even replace ClusterSSH. Synchronized Input is already there. I'll try to have a look at the

[2016-06-01 10:34] slaf66 opened #361 "drag'n drop x-color support to change terminal background"
Hi, it would be nice to add this behaviour to be in part with gnome-terminal :
the drop of a Gtk+ color swatch to change the background.

Informations for an implementation:

https://git.gnome.org/browse/gnome-terminal/tree/src/terminal-screen.c#n356
https://git.gnome.org/browse/gnome-terminal/tree/src/terminal-screen.c#n356

sorry not doing it myself but i really don't know much about the D langu

[2016-06-01 15:56] gnunn1 commented on #135
@egmontkob Step 1 doesn't work, the OSX terminal always opens a new tab in my home directory. I have a  feeling you are a step ahead of me as I'm confused, what does it matter how the OSX terminal behaves?

Output from the terminal of the different variations I tried:

[code]

[2016-06-01 16:06] egmontkob commented on #135
Geez, I forgot that Mac's `echo` doesn't support `-e`. Could you please figure out the equivalent? These commands shouldn't output anything (and changing `7` to `0` should set the window title).

OSC 7 was introduced by Mac's Terminal.app, hence I consider that the reference implementation. I wonder how it handles if a username is also added there.

[2016-06-01 20:23] dsboger opened #362 "Find issues"
It seems Find functionality has some issues. First, if there is more than one match of the search term in the same line, all except the first are skipped. Second, going to the previous match does not always work.

I can reproduce the first issue consistently: just open Terminix, enter `$ ls -l`, look for "r" and click next. It only highlights one match per line.

Second issue is harder to reproduc

[2016-06-01 20:25] onionjohn opened #363 "different color for read only mode"
would it be possible to implement possibility for changing colors for read only mode?

it would be great to change background color automatically when terminal switch to read only mode. i'm using terminix as a main terminal in my daily work and very often few sessions are in ro mode due to long term processes running. after a while it is hard to remember which one is protected.

[2016-06-01 21:28] gnunn1 commented on #362
The first issue is because the underlying VTE widget doesn't support finding more then one match on a line, Gnome terminal has the same problem.

Can you try the second issue on Gnome terminal and see if it exhibits the same issue, make sure you are using the same search options as you would in Terminix.

[2016-06-01 21:30] gnunn1 commented on #363
Are you asking for this feature for when the read only flag is enabled or when you can't type something in because a process is running? I don't think I can do much about the latter.

[2016-06-01 21:43] onionjohn commented on #363
i was thinking only about first case, when read only flag is enabled on terminal.

[2016-06-01 22:11] dsboger commented on #362
I just confirmed both issues are present in GNOME Terminal as well.

[2016-06-01 22:31] gnunn1 commented on #362
Thanks, I'll check if the second issue has been reported against g-t or vte and open a bug for it if not.

[2016-06-01 23:42] #350 closed

[2016-06-01 23:49] gnunn1 commented on #350
I've checked in an initial version of this feature, I don't think it's perfect but I'm looking for feedback and usually I get the best feedback after closing an issue :)

At the moment the implementation is as follows for the icon:

* The icon is shown in the titlebar with a shaking animation, I'm using the alarm-symbolic icon so hopefully the shaking will pair well with whatever icon is present i

[2016-06-02 00:21] gnunn1 commented on #135
I used printf instead of echo -e, in all three cases it opened the tab in /tmp

I also tested it with SSH to a centos 7.2 VM, when you include the username VTE doesn't pass it up to the application. Without the username it works fine.

[2016-06-02 02:10] dsboger commented on #362
You could add an "upstream" or "vte" tag. "wontfix" sounds strange in this case :).

[2016-06-02 02:12] gnunn1 commented on #362
Good point

[2016-06-02 02:20] dsboger commented on #359
Correcting what I stated above, `LINGUAS` is used by `msgfmt` in XML and desktop modes, like called in `install.sh`.

[2016-06-02 09:38] egmontkob commented on #135
This means that Terminal.app also suffers from bug [709055](https://bugzilla.gnome.org/show_bug.cgi?id=709055), and as such there's absolutely no point in using an URI scheme with the hostname included, a simple path would have been just as good.

So, users (who have to explicitly set this stuff on remote machines, pretty much like iTerm's shell integration) are free to fake whatever hostname they

[2016-06-02 10:48] egmontkob commented on #363
(Or maybe some icon on the title bar, similarly to the visual bell??)

[2016-06-02 12:47] gnunn1 commented on #135
@egmontkob Wouldn't the VTE require a patch for this though? When I SSH into a centos VM and print the OSC 7 signal with the user@hostname:directory format, the current_directory_uri I retrieve from VTE does not change. For example, if I print:

[code]

The VTE reports the current_directory_uri as ```file://centos70/tmp``` as expected.

However, if I then print ```printf '\e]7;file://gnunn@centos7

[2016-06-02 13:04] egmontkob commented on #135
Yup, you're right. Damnit.

[2016-06-02 13:52] egmontkob commented on #135
According to [rfc1738](https://tools.ietf.org/html/rfc1738) (search for "fileurl" to see the BNF) and [g_filename_from_uri()](https://developer.gnome.org/glib/stable/glib-URI-Functions.html#g-filename-from-uri) (which is used by VTE), file:// URLs might contain a hostname only, but not a username. Gosh. Forget this approach, then :(

[2016-06-02 13:55] egmontkob commented on #135
My recommendation is to implement switching based on the hostname only (as seen via OSC 7), until the way more generic method is implemented.

Users who really need to switch profile based on the user might hack it around by faking different hostnames based on the username, although this is a hack I wouldn't ship out of the box.

[2016-06-02 14:08] gnunn1 commented on #135
@egmontkob As discussed above, I'll support switching on hostname and directory, once I get around to adding that patch for a custom OSC sequence to VTE I'll look at expanding it unless a certain VTE maintainer I know wants to work on this *nudge, nudge, wink, wink* :)

[2016-06-02 16:34] gnunn1 commented on #362
Looks like a bug already exists for this upstream, closing issue:

https://bugzilla.gnome.org/show_bug.cgi?id=694128

[2016-06-02 16:34] #362 closed

[2016-06-02 16:35] gnunn1 commented on #359
With the merged PR from #364 can this be closed?

[2016-06-02 22:38] gleydson404 opened #366 "Aliases not working"
I've created some alias, and the alias that i've created, works fine in gnome-terminal, but its not working in terminix.

[2016-06-02 22:41] gnunn1 commented on #366
Where are you defining your aliases, .bashrc?

[2016-06-02 22:42] gleydson404 commented on #366
Yes @gnunn1.

[2016-06-02 22:45] gnunn1 commented on #366
I just tried it here by defining a simple alias in .bashrc and it worked fine for me. Is everything else defined in your .bashrc working?

What version of Terminix are you using and what distro and desktop environment (Gnome, Unity, etc)?

[2016-06-02 22:48] gleydson404 commented on #366
I'm on  gnome shell 3.20.2, under arch linux, and my terminix version is 1.0.0.
my .bashrc file have just two lines with aliases. Somethig like:
alias foo='cd /home/foo'

[2016-06-02 22:52] gnunn1 commented on #366
I tried that alias, it worked fine for me. I was thinking maybe it's related to the login parameter so I tried enabling that and it's still working fine.

I'm stumped, anyone else having this issue?

[2016-06-02 22:54] gleydson404 commented on #366
I try in terminator and works fine too. The problem is just in terminix. :(

[2016-06-02 22:57] gnunn1 commented on #366
Can you try modifying the terminix desktop file and set DBusActivatable to false instead of true. That's one other major difference between terminix, g-t and terminator. You will need to restart gnome-shell after making this change or log out and in.

You can tell if you get it right by running ```ps -ef| grep terminix``` and checking that the switch ```--gapplication-service``` is not part of the

[2016-06-02 23:03] gleydson404 commented on #366
Where could i finde terminix desktop file ? I've looking in /usr/share/applications/ but there is nothing like terminix.desktop.

[2016-06-02 23:05] gnunn1 commented on #366
It's there, try something like com.gexperts.Terminix.desktop
On 2 Jun 2016 7:03 p.m., "Gleydson Silva" <notifications@github.com> wrote:

[2016-06-02 23:13] gleydson404 commented on #366
I find, and i did what you ask, set the DBusActivitable to false, and i reboot, and the problem still.

[2016-06-02 23:14] egmontkob commented on #366
Probably stupid question, but still... are you sure Terminix is starting up a bash, rather than some other shell? Press Ctrl-X Ctrl-V to figure out.

[2016-06-02 23:16] gleydson404 commented on #366
@egmontkob
GNU bash, version 4.3.42(1)-release (x86_64-unknown-linux-gnu)

[2016-06-02 23:26] gnunn1 commented on #366
I assume if you just create an alias manually in terminix it works fine after that?

If I had to guess, It sounds like your .bashrc is not being sourced for some reason.  I assume the terminix process is owned by your user when you do a ```ps -ef```?

For the default profile in terminix, can you confirm that the option "Run command as a login shell" under the Command tab is NOT enabled.

[2016-06-02 23:28] egmontkob commented on #366
Could it be that $HOME is not set properly?
    cat /proc/(terminix's pid)/environ | tr '\0' '\n' | grep HOME

[2016-06-02 23:28] gleydson404 commented on #366
if create a alias manually in terminix it works, but when i reboot the alias is gone.

[2016-06-02 23:30] gleydson404 commented on #366
@gnunn1  the option 'Run command as a login shell' is enabled.

[2016-06-02 23:31] gleydson404 commented on #366
And, when i run  'ps -ef| grep terminix'

gcs       2693     1  1 20:28 tty2     00:00:02 terminix
gcs       2741  2699  0 20:30 pts/0    00:00:00 grep terminix

[2016-06-02 23:31] gleydson404 commented on #366
'gcs' is my user.

[2016-06-02 23:33] gleydson404 commented on #366
@egmontkob i run cat /proc/(terminix's pid)/environ | tr '\0' '\n' | grep HOME and the home directory is correct.

[2016-06-02 23:34] gnunn1 commented on #366
Try disabling the login shell option and restart terminix, I don't believe .bashrc is sourced for login shells but works in many distros due to inclusion in profile.

Also, please confirm if you have this option set in gnome-terminal for the profile there.

[2016-06-02 23:37] gleydson404 commented on #366
I disable the login shell optioin and works. But when i open terminix there is message warning for enable login shell option.

[2016-06-02 23:38] gleydson404 commented on #366
And in gnome shell the login shell option is disable too.

[2016-06-03 00:08] gnunn1 commented on #366
The warning you can work around a different way then use a login shell. In my .bashrc, I have the following lines to fix the VTE configuration issue.

[code]

[2016-06-03 00:11] gleydson404 commented on #366
Thanks @gnunn1  and @egmontkob. Closing the issue!

[2016-06-03 00:11] #366 closed

[2016-06-03 03:17] #359 closed

[2016-06-03 04:48] egmontkob commented on #366
Note that on Ubuntu (and I guess Debian too) it's `/etc/profile.d/vte-2.91.sh`.

[2016-06-03 04:49] gleydson404 commented on #366
I'm under Arch linux.

[2016-06-03 06:59] giray opened #367 "tab bar transparent"
Hi ...

   Latest "master"  (version 1.1.0), the "tab bar" is now fully transparent.

![screenshot from 2016-06-03 08-56-36](https://cloud.githubusercontent.com/assets/316284/15771203/67d56fec-2969-11e6-943b-fed88596a56b.png)

[2016-06-03 14:24] seniorihor opened #368 "ERROR: Missing key 'audible-bell'"
I just upgraded `terminix` from master branch and got the following error after restart:

[code]

[2016-06-03 14:28] gnunn1 commented on #368
Did you rebuild the schema?

[code]

[2016-06-03 14:32] seniorihor commented on #368
No.
Now I rebuilt the schema and I have the same error, when trying to launch terminal.

[2016-06-03 14:36] gnunn1 commented on #368
Sounds like you are running an old version of the binary, did you build the source using ```dub build --build=release``` with no errors? What happens if you run terminix from where it was built?

[2016-06-03 14:39] seniorihor commented on #368
I guess, you're right about old binary version!
`dub build --build=release` was successful.
And if I run `./terminix` from my repository - it works.
Should I reboot then?

[2016-06-03 15:08] gnunn1 commented on #368
Up to you, closing issue

[2016-06-03 15:08] #368 closed

[2016-06-03 15:16] seniorihor commented on #368
Anyway, after reboot I get the same error.

[2016-06-03 15:45] gnunn1 commented on #368
Did you run the install script as per the instructions, ```sudo ./install.sh```. Otherwise you have an old binary in your path somewhere

[2016-06-03 15:46] seniorihor commented on #368
Yes, I did.

[2016-06-03 22:08] probonopd commented on #25
@gnunn1

Understood, but would you consider a PR similar to [this one](https://github.com/cpvrlab/ImagePlay/pull/93/files?diff=unified) that generates an AppImage from the build artifacts from your existing Travis CI builds?

[2016-06-04 00:46] #367 closed

[2016-06-04 00:47] gnunn1 commented on #367
Problem was some CSS that GTK 3.18 didn't like which worked fine in 3.20 and this was stopping the base CSS from being loaded. This CSS wasn't actually being used so I just commented it out.

[2016-06-04 02:52] gnunn1 commented on #25
@probonopd Sorry but I don't think so, I wouldn't be in a position to maintain it and fix any issues with it.

[2016-06-05 15:45] gargullia opened #369 "Do not add an icon to the dock Plank"

[2016-06-06 00:51] gnunn1 commented on #369
Can you elaborate on the issue, I'm not very familiar with plank.

[2016-06-06 06:59] giray commented on #367
confirm fixed

[2016-06-07 00:38] gnunn1 commented on #135
@egmontkob ontkob as an FYI, I've checked in some very rough progress on this issue, it's turned off by default via a compile flag in constants.d and I wouldn't recommend testing it at this point.

As a note to myself and an FYI for you in case you have thoughts, initial testing shows a number of issues that have to be addressed as follows:

* If we want to optionally use the /etc/profile.d/vte...

[2016-06-07 05:34] egmontkob commented on #135
Respectively for your bullet points:

- I'd probably go for setting up independently from vte.sh (since that might not be installed on the remote host). Propagating VTE_VERSION is also tricky. Or faking one (but that goes against the point). Or parse the "response" (which is injected as if it was typed by the user) to \e[>c which is again tricky from shell script, is unreliable (racy since a timeo

[2016-06-07 05:58] egmontkob commented on #135
Filed [vte bug 767313](https://bugzilla.gnome.org/show_bug.cgi?id=767313)

[2016-06-07 12:06] gnunn1 commented on #135
Note for the second bullet point I added some code to Terminix to remember the last hostname/directory and only propagate it if it is different.

As for the third point, I think it would be weird from a UI perspective to allow the user to switch away from an active automatic profile since as soon as they change directory it will switch back to that. If the profile radio buttons were to switch the

[2016-06-07 12:20] egmontkob commented on #135
You're right, I keep forgetting directory change as a use case, only have ssh in my mind.

[2016-06-07 12:21] gargullia commented on #369
@gnunn1 The icon is displayed only when the application is running. Fixed a problem that `sudo chmod +x com.gexperts.Terminix.desktop`

[2016-06-07 12:21] #369 closed

[2016-06-07 12:22] gargullia commented on #369
@gnunn1 this option also helped `Encoding=UTF-8+Version=1.0`

[2016-06-08 18:26] allanday opened #372 "Design improvements"
I really like the Terminix design in general - great job! There are a small number of changes that would be improvements in my opinion, though. Issues that I see:

 * The new session button uses the new tab icon, which is obviously confusing. I thought it was going to create a new terminal in the current session.
 * The counter in the session button overlaps the icon and looks a bit untidy.
 * To

[2016-06-08 19:27] gnunn1 commented on #372
@allanday Thanks very much for the input, it's greatly appreciated as my GUI design skills are somewhat limited. A couple of comments and questions on what you posted above:

* One reason why the split buttons are in the terminal title bar is because they act on the terminal itself, i.e. the split is using that terminal as the root. I can certainly move this to the headerbar and I like that idea a

[2016-06-09 08:55] allanday commented on #372
That sounds good to me. I understand the logic behind the current UI, but such an important action really does need to be more visible.

Ah yes, I hadn't thought of that. There are two options there, I suppose: 1. Have the find button in the header bar only act on the focused window (and have it toggle). 2. Put a find button in the terminal header, next to the minimize/maximize button.

Hmm, that'

[2016-06-09 09:11] phw commented on #372
What I dislike a bit about the proposed position is that it moves the buttons away from the place of action. Currently if I have two tiles, and I want to split one of them I just click into that tile (no matter if it is already focused or not) and select the action. If the buttons are always at the top I first have to check what my focused terminal is, maybe change focus intentionally and then cli

[2016-06-09 15:50] almson opened #373 "some ideas for tile management and tile selection"
Enabling idea: Forming a selection of multiple tiles using:
- right-click drag
- ctrl- or shift- left click

Resizing:
- resize two tiles without causing other tiles to be proportionally resized by selecting them and dragging the common separator. If more than two tiles are selected, then the other tiles are resized proportionally.

Reshaping
- Align the edges of a group of tiles into a rectangle

[2016-06-09 16:13] gnunn1 commented on #373
Thanks for the ideas, there are some interesting concepts there. At the core, the ideas all seem to revolve around the idea of being able to group terminals together, if the intent is for this grouping to be persistent it might involve some architectural changes in Terminix to handle this representation. Transient might be easier, though I'd have to think more about it, but less useful and not lik

[2016-06-09 17:15] gnunn1 commented on #372
@phw Thanks for the reply to this, I was sort of getting at the same thing in my original reply but you expressed it much more eloquently.

The other potential option would be to pull them out of the terminal menu and put it directly into the terminal titlebar but I really want to avoid sticking buttons on the terminal titlebar if at all possible. I've played around with this previously and aesthe

[2016-06-09 23:07] dsboger commented on #372
It is possible to add the buttons in the titlebar and make them "focus sensitive", i.e. show them only if the terminal has keyboard focus or is under the pointer.

[2016-06-09 23:27] dsboger commented on #372
Another suggestion for dealing with the issue of the "new sessions" button, change the icon to a single "+" and apply the "linked" class together with the "show sidebar" icon. That way it would be more clear that it is about sessions.

[2016-06-10 13:53] almson commented on #373
Thank you for the warm reception. I was actually imagining this would be transient (ie, selections). I think persistent "grouping" would be a huge cognitive load because it's like "omg I have to organize."

[2016-06-10 20:09] gnunn1 commented on #372
@dsboger I like your idea for the add new session button, I'm already using the linked class in the find revealer and it gives a nice look. I'm not sure about the showing/hiding the buttons in the terminal on focus in/out. When I get to working on this I might POC some different approaches and see how it goes.

[2016-06-11 02:26] gnunn1 commented on #135
I've checked in a version now that is mostly working and have went ahead and removed the compile flag so it can be tested. I'm aware of the following outstanding issues still to be addressed:

* I haven't disabled profile selection yet when the automatic profile is enabled
* The directory matching is literal whereas it should probably match such that subdirectories are included as a match. i.e., h

[2016-06-11 07:13] xgenvn commented on #285
This issue happens to me after I upgrade to stable version. The last beta was working very well. If I follow the VTE configuration wiki, powerline will be broken. I'm looking into this issue and will provide more details if I can.

[2016-06-11 10:54] gnunn1 commented on #285
@xgenvn I think this has been fixed, I just need to do a new stable release. I'll take care of it later today.

[2016-06-11 14:38] #135 closed

[2016-06-11 14:40] gnunn1 commented on #135
The last commit fixes the remaining issues, I'm quite happy with how well this feature worked out. Hopefully when I get to working on the VTE and adding support for custom OSC sequences I can add support to this for triggering on the user as well.

I'll do a write-up on the wiki on how this feature works later today.

[2016-06-11 15:48] gnunn1 commented on #25
A note for package maintainers, with the addition of feature #135 there is a new shell integration script that should be packaged with terminix but should not be sourced in any fashion. The intent of this script is for the user to use it on remote systems that are accessed via SSH to integrate better with terminix. At this time the script is relatively simple but as more advanced features are adde

[2016-06-11 15:58] #363 closed

[2016-06-11 15:59] gnunn1 commented on #363
Adds an icon to the titlebar when read-only is active as per the image below:

![screenshot from 2016-06-11 11-57-21](https://cloud.githubusercontent.com/assets/9358238/15986026/e5ee53ae-2fcb-11e6-8a21-9b1cb67f4631.png)

[2016-06-11 16:35] #361 closed

[2016-06-11 16:36] gnunn1 commented on #361
Added, note the alpha component of the color is ignored. While I could adjust the opacity based on the alpha, in most cases this isn't desirable (i.e. dragging a solid color onto the terminal when you have transparency set where you like it).

[2016-06-11 16:45] gnunn1 commented on #299
@egmontkob After looking at this, I'm tending to think this is something which is better implemented in VTE. The issue is that I can only get this to work with transparency in order to draw the badge "underneath" the characters since VTE will erase anything I draw on the background.

For me to do this, it would use the same technique as the background image but unlike the background image I think

[2016-06-11 17:13] gnunn1 commented on #135
Wiki entry added here:

https://github.com/gnunn1/terminix/wiki/Automatic-(Triggered)-Profile-Switching

[2016-06-11 17:44] mkalinski opened #375 "Uncouple Nautilus extensions from the main program in Copr repo"
I'm using Fedora and wanted to give this terminal emulator a try, but the fact that it tries to pull in Nautilus (and Nautilus's dependencies) is a deal breaker.

Would it be possible to provide desktop integration in a separate package? This would benefit people who want to use a GTK3 tiling terminal emulator, but not necessarily have GNOME desktop.

[2016-06-11 18:12] gnunn1 commented on #375
I don't do the packaging so it's not in my scope to fix. Your best bet is to get in touch with the package maintainer, for COPR there is a contact button on the COPR page.

[2016-06-11 18:12] #375 closed

[2016-06-11 19:11] egmontkob commented on #299
I'm not following you, sorry. What is the scenario that cannot be solved right now and would be solveable with some VTE help? Or do you just think it would be cleaner design?

VTE used to contain background image support and then the main developer dropped it. He had his reasons I guess, I'm not aware of them. How would an official badge support look like? An API of adding a text like this would t

[2016-06-11 19:23] gnunn1 commented on #299
The problem is for terminix to make it work, the badge always has to be layered underneath VTE, this has a number of problems including:

* Transparency is required, if someone sets the slider to no transparency they won't be able to see the badge
* At less then 100% transparency the badge is obscured by the transparency and VTE color in the sense it will look dimmer then it could, terminix can't

[2016-06-11 19:36] egmontkob commented on #299
I guess I got a feeling of the problem now :)

I'm not sure if it's doable, but I'm wondering: Would it be possible to always use the double buffering technique and always make VTE 100% transparent, and make the underlying ImageSurface transparent/translucent/whatever according to the user's prefs (e.g. the transparency slider would change the alpha value of this ImageSurface)? Then e.g. you could

[2016-06-11 20:00] gnunn1 commented on #299
It is possible to make the VTE 100% transparent, I considered that as well but there are a few points against as well:

* I'm not sure anti-aliased fonts would look very nice since anti-aliasing typically depends on the background color being set to blur/blend appropriately
* I'd have to implement some sort of cooperative rendering between the session and the terminals so the terminal could render

[2016-06-11 20:03] phw commented on #375
The package definitely should not depend on Nautilus and it could still provide the extension without depending on Nautilus.

[2016-06-11 20:05] egmontkob commented on #299
I thought anti-aliasing would only use the font's color and varying alpha, leaving the rest to the compositor. I might be wrong of course.

I guess your alternative suggestion might work, sounds good to me (without knowing enough to tell whether it's actually feasible).

[2016-06-11 20:08] egmontkob commented on #299
Actually, thinking about it a bit more... "legacy" ("black and white") antialiasing might work the simple way I had in mind, but subpixel rendering definitely needs to be aware of the background color, so you are right.

[2016-06-12 14:18] gnunn1 opened #376 "Support DND of files"
Now with #135 completed which depended on understanding local versus remote hosts, another cool feature to borrow from iterm2 is the dragging and dropping of files on to a terminal.

If the host is local, just copy it locally. If the host is remote, scp it to the remote host. I'm thinking a Ui similar to Nautilus (I.e. the button with the pie that fills in) would be cool here.

This would be a lon

[2016-06-12 18:28] gnunn1 commented on #299
With regards to my alternate idea, I downloaded the VTE source code and started playing with it a bit as I figured implementing this might be a good first step towards learning things before getting into the custom OSC code.

Anyways, I decided the first step is to figure out where the appropriate spot would be to draw a badge where it wouldn't be erased but the text would overlay it as I describe

[2016-06-12 18:39] egmontkob commented on #299
SGTM, yes please go ahead, file a bugreport, let's see what the vte boss says :) Thanks a lot!

[2016-06-12 19:17] gnunn1 commented on #299
Thanks, opened bug https://bugzilla.gnome.org/show_bug.cgi?id=767575

[2016-06-13 13:54] horosgrisa opened #378 "Titlebar height"
Window titlebar height in [Terminix](https://github.com/gnunn1/terminix) is biggest than in other apps when I use [Numix](https://github.com/numixproject/numix-gtk-theme) theme
![2016-06-13 16-45-18](https://cloud.githubusercontent.com/assets/4980269/16009883/456869de-3187-11e6-9532-1cd3467af362.png)

[2016-06-13 13:54] horosgrisa commented on #378
UPD: https://github.com/numixproject/numix-gtk-theme/issues/486

[2016-06-13 16:31] gnunn1 commented on #378
Might be a Numix bug since other themes such as Arc work fine, but I'll check it out when I get a chance.

[2016-06-13 23:45] gnunn1 commented on #378
This looks like a bug with Numix, both gedit and terminix have the same height headerbar on my system whereas Nautilus is narrower. Here's a screenshot I took with Terminix on the left, nautilus in the middle and gedit on the right.

![screenshot from 2016-06-13 19-43-28](https://cloud.githubusercontent.com/assets/9358238/16026849/5e62c62e-319f-11e6-9a8d-7b8a68b3cf1b.png)

[2016-06-13 23:45] #378 closed

[2016-06-20 06:00] kurobeats opened #380 "Port Guake color themes"
Request to port Guake color themes to Terminix. I tried scripting it up to convert all of the themes to json files, but I'm way out of my depth. Maybe someone else that sees this would be more capable.

Palettes:
https://raw.githubusercontent.com/Guake/guake/b2a27183d8285135ed178bdf098471c734e4e54d/src/guake/palettes.py

[2016-06-22 04:21] dsboger commented on #25
Given the fix to https://github.com/ldc-developers/ldc/issues/1534 has been merged, I can now compile and run Terminix with LDC from master, dynamically linked against gtkd-3 and vted-3 shared libraries.

[2016-06-22 12:17] gnunn1 commented on #372
@allanday Can you send me those icons you are using in your design for add vertical/horizontal when you get a chance? I'm planning on doing some work on this over the upcoming weekend.

[2016-06-22 13:40] whitebyte commented on #372
Oh, a design thread. Please consider adding text variant to cut-copy-paste context menus, as an addition or replacement for icons.

[2016-06-24 15:44] allanday commented on #372
Sure! Where do you want me to send them?

[2016-06-26 15:51] gnunn1 commented on #372
@allanday I sent an e-mail tom your redhat address, just reply to that when you get a chance, thanks.

[2016-06-26 17:30] gnunn1 commented on #372
I've checked in some POC level code to enable to play around with @allanday design and see how it works for you. To try it, you need to enable the USE_ALTERNATE_UI flag in constants.d to true. My general opinion in my brief usage is that I generally like it better then the previous design. Here is a screenshot showing what it looks like with that flag set:

![screenshot from 2016-06-26 13-20-51](h

[2016-06-26 18:40] gnunn1 commented on #372
@whitebyte Thanks, I'll keep it in mind.

[2016-06-26 19:38] dsboger commented on #372
I'm trying the new design right now and I mostly like it. However, as the split and lookup buttons apply to the focused terminal, I think it is really necessary now to highlight more prominently what is the terminal with keyboard focus (like a "selected color" border, or something). Also, the "+" button could use the "list-add-symbolic" icon.

[2016-06-26 19:46] gnunn1 commented on #372
@dsboger I'm not sure a border would be very feasible due to the need to reserve space for it but let me think about ideas here. Also, have you tried enabling the Dim unfocused terminals option, it would give you the visual differentiation you are looking for.

I'll have a look at that icon shortly.

[2016-06-26 20:06] dsboger commented on #372
@gnunn1 I'm using the dimming option, but I enabled that myself. Maybe add dimming in the default profile?

I though of another possible way to give a hint as to what is gonna happen in the case of splitting: it could use a similar mechanism as the drag'n'drop visual hint, i.e. when hovering/focusing one of the split buttons, highlight the half of the currently focused terminal that will become th

[2016-06-26 20:18] gnunn1 commented on #372
@dsboger I really like your hover idea, while I could re-use the drawing code from dragging to do this I might try a thin rectangle in the selection color to visually differentiate it from dragging

[2016-06-27 07:21] seanf commented on #132
Coming from Konsole, the inability to see a list of the other sessions (which I suppose would be tabs in Konsole) without hitting a key or a button is disappointing. But for that, a live screenshot is overkill: just a name is often enough.

What about an option for a permanently visible list of sessions, but without the screenshot preview? I guess I'm asking for a tab bar, although perhaps it coul

[2016-06-27 11:48] gnunn1 commented on #132
@seanf While I can understand and sympathize with the request, as I said in #12 I'm not interested in maintaining two UI conventions as it's just too much effort.

[2016-06-28 02:07] dsboger commented on #372
Another idea for adding new terminals: user "drags" a new terminal from the new terminal button and drops it wherever they wants. This can reuse most of the drag'n'drop code. The problem is that action can be a bit hard to discover.

[2016-06-28 05:17] mattwilmott opened #381 "Feature Request: Copy on Select"
Similar to Terminator, is it possible to implement a copy to clipboard upon mouse selection?

Cheers
Matt

[2016-06-28 05:20] mattwilmott commented on #279
+1 for this feature as well. I use this at work probably 2 or 3 times a day when I don't feel like breaking out ansible. Easily SSH to a handful of servers and broadcast

[2016-06-28 12:00] gnunn1 commented on #381
I'm kind of surprised I haven't done this yet, I'll look at adding an option for this over the next week or so.

[2016-06-28 14:23] arshavindn opened #382 "prompt starts in home directory when split or create new session"
Everything is fine before but with the latest pull from github, it doesn't. I also checkout back to origin/stable and built again, then it works.

[2016-06-28 19:40] gnunn1 commented on #382
I'm not seeing the issue here, I assume your VTE is configured correctly otherwise I wouldn't think stable would work but maybe double check it:

https://github.com/gnunn1/terminix/wiki/VTE-Configuration-Issue

[2016-06-28 20:16] mattwilmott commented on #381
Thanks mate

Look forward to it and congrats on an awesome project 😀
On 28 Jun 2016 10:00 PM, "Gerald Nunn" <notifications@github.com> wrote:

[2016-06-29 01:37] arshavindn commented on #382
I checked vte configuration before I checkout back to origin/stable

[2016-06-29 08:17] phw commented on #62
Instead of overwriting the system desktop file you can place a copy of it in `$HOME/.local/share/applications/` and modify that.

[2016-06-29 14:51] gnunn1 commented on #372
I've updated the icons based on Allan's design with some help from Lapo in #gnome-design to convert it to symbolic. It currently looks as follows:

![screenshot from 2016-06-29 10-46-17](https://cloud.githubusercontent.com/assets/9358238/16456872/7bcd19c2-3de7-11e6-8a39-76545045181f.png)

[2016-06-29 14:52] gnunn1 commented on #372
@dsboger Dragging is an interesting concept, however I think it might be a bit too radical for now.

[2016-06-29 14:56] gnunn1 commented on #372
Unless anyone has any major issues to discuss, I'm going to remove that USE_ALTERNATE_UI flag and convert everything over to the Allan's design this weekend.

[2016-06-29 17:47] dsboger commented on #372
@gnunn1 minor suggestion for the icons: it would be more consistent to "flip" the vertical split icon, as the plus sign is in the wrong end, i.e. the new terminal is added in the lower part.

[2016-07-02 16:52] gnunn1 commented on #372
@dsboger I fixed the icon, thanks for the suggestion

[2016-07-02 16:59] gnunn1 commented on #372
I'm starting to work through this now so a couple more comments on this. First note that the git master will probably be somewhat unstable over the next few days as I don't have any doubt I'll probably break a few things along the way.

Changes that I'm planning on making are as follows:

- The terminal split actions will be renamed to add actions and moved up to the session level (i.e. session-ad

[2016-07-02 19:01] #381 closed

[2016-07-02 20:08] #382 closed

[2016-07-03 10:21] alexwhitman commented on #372
That gets a :+1: from me, to me I always had to take a second to think what action each button actually did.

It would be good to have the split buttons back in the context menu though (text or icons, I don't mind) as splitting when the cursor is at the bottom right of a large maximised window is a pain, moving all the way to the top left.  Alternately I should just learn the keyboard shortcuts :s

[2016-07-03 13:39] gnunn1 commented on #372
Just as an FYI for everyone, the work to implement the design is basically done other then @dsboger suggestion to preview highlight the split area when hovering over the buttons. I'll have a look at that next weekend. Here's a screenshot of the current look:

![screenshot from 2016-07-03 09-38-03](https://cloud.githubusercontent.com/assets/9358238/16545727/e1066cc2-4101-11e6-9f2e-2b1883ffa78a.png)

[2016-07-03 13:46] gnunn1 commented on #25
Just an FYI, I'm planning on rolling out a new stable release of terminix in two weeks or so. This stable release will include the new design, background image support and automatic profile switching as well as miscellaneous bug fixes. I've run extract-strings and updated git with the new localizations so hopefully a couple of weeks will be enough for translators to catch up as much as possible.

[2016-07-03 14:29] arshavindn commented on #382
still not work for me. Btw, I'm using Ubuntu Gnome 16.04 gnome-shell 3.20 and I have vte 2.91, it's `vte-2.91.sh` in `/etc/profile.d`

[2016-07-03 14:46] gnunn1 commented on #382
Ubuntu doesn't source the VTE script in profile.d unless you are using a login shell. You either need to enable a login shell for your profile or source it in .bashrc as per the VTE configuration page.

Can you confirm which of the above two methods you are using to get the VTE script sourced? I did test it under Ubuntu and fixed a number of bugs related to this issue and it was working for me how

[2016-07-03 15:10] arshavindn commented on #382
I did both of them but I sourced it in my .zshrc cause I use zsh. And how do I know that VTE script loaded or not?

[2016-07-03 15:25] gnunn1 commented on #382
```echo $PROMPT_COMMAND```

If the script is loaded, you should see something like:

```__vte_prompt_command```

If the echo just outputs a blank line then it is not loaded.

[2016-07-03 15:42] gnunn1 commented on #382
Sorry that's for bash, I'm not sure what zsh does but you can look at the vte script to see where it binds the prompt command function.

[2016-07-03 15:44] arshavindn commented on #382
yes, I have just checked that bash prints that `_vte_prompt_command` and zsh does not

[2016-07-03 16:36] gnunn1 commented on #382
So I tested on Arch with ZSH and looks like the VTE script is not returning the hostname like BASH does which is causing terminix to treat the directory as if you had SSH'ed to a remote host. I've checked in a change which fixes it on my system, can you try it out please.

[2016-07-03 17:32] ximion commented on #25
For Debian, we really really really need https://github.com/dlang/dub/issues/838 fixed in order to continue... And of course, Terminix must compile with GDC or LDC.

[2016-07-03 17:36] arshavindn commented on #382
Thank you for your hard work. It totally solves the problem.

[2016-07-03 17:40] gnunn1 commented on #25
@ximion Is the autotools build support that @dsboger added an option for debian?

[2016-07-03 17:51] ximion commented on #25
@gnunn1 It doesn't help if Terminix has Autotools, all its build dependencies would need that too, and Terminix would need to find those dependencies when they were installed into $some_path.

[2016-07-03 17:55] gnunn1 commented on #25
@ximion The only dependency Terminix has is GtkD and it uses make.

[2016-07-03 17:56] dsboger commented on #25
@ximion Terminix already compiles with LDC from git master. I have some commits that add support for LDC in autotools, but I'm waiting for the next release of LDC before pushing them (I may anticipate that PR, if you want to try it). The only dependency of Terminix is GtkD, which already builds with LDC and `make; make install` (chick [this](https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=g

[2016-07-03 17:58] dsboger commented on #25
Also, GtkD supports pkg-config, so autotools support uses that to find the libs.

[2016-07-03 18:09] ximion commented on #25
@gnunn1

Right, vted-3 is part of GtkD, I didn't see that.
Okay, then only LDC 1.0 is missing in Debian in order to continue.

[2016-07-04 23:18] alex285 commented on #372
@gnunn1 I tried the changes and sadly are awful. The removal of split terminals from context menu, makes you to either go all the way up to headerbar to open a new one (and I use Terminix always on max mode, so it is a long distance), or use shortcuts.

Not to mention that if you enable focus on hover, you cannot split a terminal where you want.

[2016-07-04 23:28] gnunn1 commented on #372
@alex285 Good point about the follow on focus option, I forgot about that one. I guess that's two votes for adding the split/ add options back to the context menu. I'll have a look at adjusting it this weekend.

Thanks as always for the feedback.

[2016-07-05 00:09] gnunn1 commented on #372
Just a note to myself, I'll need to add the find option back to the menus as well to fix follow on focus.

[2016-07-05 21:31] sirblackheart opened #384 "Add a symbolic application icon"
Terminix already deserves the name gnome-terminal rather then the outdated gnome-terminal. It feels much more like a part of the GNOME desktop environment. To strengthen this integration it would be nice if a `…-symbolic.png` application icon would be added so it could be used in gnome-shells app menu.

e.g. gnome terminals symbolic icon
![screenshot from 2016-07-05 23-28-31](https://cloud.githubu

[2016-07-06 09:25] Boiethios commented on #372
Wow, what a change! I love the session counter on the top-left. However, I preferred the splitter in the right-click menu because now, if I want to split a tile, I have to select it first and then to move the mouse to the top-left corner. A lot of actions added.

[2016-07-08 19:16] gnunn1 commented on #384
I'm not artistic so I can't do it, but if someone wants to create one I would be happy to incorporate it.

[2016-07-08 19:53] mor0n opened #385 "Zsh themes issue"
Arrows from zsh themes are noticeably moved related to other parts. It is visible e.g. on this screen:   https://camo.githubusercontent.com/6d5e88d80ccd7357a606d87727ada972b28cade4/687474703a2f2f7777772e67657870657274732e636f6d2f696d672f7465726d696e69782f7465726d696e6978322e706e67 (try in zoom). It's not zsh issue because in some other terminals these arrows are displayed correctly.

[2016-07-08 19:56] gnunn1 commented on #385
@mor0n Sorry I'm not understanding, what arrows are you referring to? That screenshot you posted is my screenshot, I don't see any obvious issues and that screenshot is using bash not zsh.

[2016-07-09 02:45] dsboger commented on #385
Seems like a font rendering issue? Have you tried different fonts?

[2016-07-09 11:35] sirblackheart commented on #384
Based on ther gnome-terminal symbolic icon, terminix application icon and terminix numix circle icon. Maybe a tad to detailed for this size?
![screenshot from 2016-07-09 13-30-30](https://cloud.githubusercontent.com/assets/1131371/16707735/7605b630-45d9-11e6-9a79-57f96efb5c61.png)

[2016-07-09 17:09] Uzytkownik2 commented on #385
After closer inspection I checked that it depends on the type of font. So fortunately it is not the fault of Terminix.

[2016-07-09 17:14] mor0n commented on #385
After closer inspection I think it only depends on the type of font so fortunately it is rather not the fault of Terminix.

[2016-07-09 19:09] Uzytkownik2 opened #386 "Custom command trap"
When someone set up "Run a custom command instead of my shell" with option exiting terminal after this, then is situation where Terminix is no longer able to work even after reinstall.

[2016-07-09 19:09] gnunn1 commented on #385
So can this be closed?

[2016-07-09 19:12] gnunn1 commented on #386
I can't reproduce with master, which version are you using? Also, what command are you running?

[2016-07-09 19:13] gnunn1 commented on #384
Ideally I think the symbolic icon should follow the main icon style, i.e. two terminals split down the middle.

[2016-07-09 19:13] Uzytkownik2 commented on #386
Stable 1.0.0 on Ubuntu 16. Just echo "something".

[2016-07-09 19:20] gnunn1 commented on #372
I've added the split/add buttons back to the context menu. If anyone has any issues about the UI just let me know, otherwise I'm pushing this out as a new version next week.

[2016-07-09 19:43] sirblackheart commented on #384
![screenshot from 2016-07-09 21-42-55](https://cloud.githubusercontent.com/assets/1131371/16709904/21b8bfba-461e-11e6-811b-d2f19d52b44a.png)

[2016-07-09 19:45] sirblackheart commented on #384
slightly longer cursor
![screenshot from 2016-07-09 21-45-21](https://cloud.githubusercontent.com/assets/1131371/16709919/7d9da32c-461e-11e6-808c-fe6a735f9200.png)

[2016-07-09 20:02] Uzytkownik2 commented on #386
If there is any file where Terminix stores settings such as custom commands?  I can't find ~/.config/terminix file.

[2016-07-09 20:19] gnunn1 commented on #386
Terminix stores all of the settings in dconf under the key com.gexperts.Terminix

Since I can't reproduce it on master and I'll be pushing out a new version in a week it will hopefully be fixed then.

[2016-07-09 20:20] gnunn1 commented on #384
That's fine by me, feel free to e-mail the icon to me at gerald dot b dot nunn at gmail dot com.

[2016-07-10 07:46] alex285 commented on #372
@gnunn1 Awesome! A small proposal is to remove the "Add" subtitle, because:
1. It is redundant
2. It feels like a menu item
3. In lots of themes this title gives bugs, like being invisible

Another one is to somehow give some more width (bigger click area) on splitters buttons and perhaps make them just flat buttons. Not like super important, but it isn't pretty how it is now.

[2016-07-10 10:00] mor0n commented on #385
Yes

[2016-07-11 22:29] #385 closed

[2016-07-11 22:47] #384 closed

[2016-07-11 22:58] gnunn1 commented on #372
@alex285 I've removed the Add subtitle, screenshot example shown below. I can't do anything about the other requests though as that is controlled by GTK and the active theme.

![screenshot from 2016-07-11 18-56-47](https://cloud.githubusercontent.com/assets/9358238/16749627/7c86e0d0-4799-11e6-8aeb-21ad81cd5047.png)

[2016-07-12 02:40] ximion opened #387 "Provide way to compile with LDC and without dub"
Hi!
Since dub isn't really ready yet for proper Debian packaging, I am trying to use Automake  instead.
When changing `dmd` in `configure.ac` to `ldc2`, the build fails with
[code]
Fixing this somehow will be necessary to properly build Terminix.
Also, the Automake script seems to sometimes ignore a missing D compiler, which leads to strange results, including only data files being installed.

It

[2016-07-12 03:07] mattwilmott opened #388 "Feature Request: Number of Matches using Find"
Can the number of matches and current match be displayed next to the find dialog?

Currently it is difficult to determine how many there are when the search continually circles back to the first match. This is particularly evident when searching output history in the 1000s of lines

Cheers
Matt

[2016-07-12 13:02] gnunn1 commented on #388
Unfortunately there's not much I can do about this as I'm just using the search APIs implemented by the underlying VTE Widget (https://developer.gnome.org/vte/0.40/VteTerminal.html). Changing this is dependent on the VTE developers addressing it, there are already a number of enhancements open in gnome bugzilla for this.

I'd have a look at doing this, but I'm already struggling with C code for th

[2016-07-12 13:02] #388 closed

[2016-07-12 13:03] gnunn1 commented on #387
I'm not sure what the issue is but I'll have a look unless @dsboger beats me to it.

[2016-07-12 13:06] ximion commented on #387
@gnunn1 We might be able to build Terminix with dub by patching the `dub.json` and using the dynamic profile, but this is blocked until a couple of really weird LDC bugs are fixed (see https://github.com/ldc-developers/ldc/issues/1618 - not sure who is to blame yet...)

[2016-07-12 13:12] gnunn1 commented on #387
@ximion One thing that strikes me as interesting is that the Travis CI build which is using LDC is working fine, albeit that is with dub and not automake. I'm not familiar enough with either LDC or automake at this point to offer more detailed insight, but thought it was an interesting factoid.

[2016-07-12 13:37] dsboger commented on #387
My grasp of the Terminix + LDC situation right now is the following (I'm not sure of all claims, except for the ones I've tested):

- It works with stock versions if everything is statically linked (including using dub, it seems, but I've not tested this scenario)
- It works with LDC from git master if everything is dynamically linked (I tested this configuration using autotools and GtkD as built

[2016-07-12 13:40] ximion commented on #387
Hmm, can we isolate the patches in LDC that make this work properly? Then we could apply them to our packaging to make this work...

[2016-07-12 13:53] dsboger commented on #387
@ximion https://github.com/ldc-developers/ldc/issues/1534 points to a couple of commits that fix the issues I had.

Reading that bug again, looks like there is a flag `-disable-linker-strip-dead` that can be passed to LDC as a workaround. That may work with latest stable release, but I have not tested it. I think you can give it a try adapting the instructions in the [Wiki](https://github.com/gnun

[2016-07-12 17:26] woybi commented on #223
And what about fully disabling shortcuts? On gnome-terminal there is a check box to fully disable all shortcut (it still keeps the values, it just makes it useless until you uncheck the box). I can't use Terminix with all those shortcuts that gets on my way; i'm waiting for it to be disableable.

[2016-07-12 19:04] ximion commented on #387
We will likely make LDC the default D compiler for Debian, when it works, and use a shared Phobos / DRuntime for all packages, so this issue shouldn't exist.

Btw, GtkD is now available in Debian ;-) (since a few hours). Since LDC is busted, it will take a while though for this to enter testing and Ubuntu (depending on how quickly we can resolve LDC issues).

[2016-07-12 19:48] dsboger commented on #387
@klickverbot Thanks for clarifying!

@ximion I just built Terminix with the instructions a gave above and it works. I'm thinking of changing `terminix-git` AUR package to use LDC.

[2016-07-12 19:57] ximion commented on #387
@dsboger Which version of GCC / LLVM do you use?

[2016-07-12 20:00] dsboger commented on #387
@ximion I'm using latest Arch Linux: `gcc-multilib 6.1.1-2`, `llvm 3.8.0-1`.

[2016-07-12 20:27] dsboger commented on #387
I decided to try and PR the LDC support in autotools because the current settings will have problems if there is a gtkd-dmd installed. As soon as that PR is merged, if my tests pass I'll update `terminix-git` in AUR to use LDC.

[2016-07-12 20:27] ximion commented on #387
@dsboger Oh wow, using the very same ldmd trick works here as well to get Terminix to compile - dub is still broken, and anything compiling with ldc directly also fails, but this works.
That's really weird...
I also get lots of symbol issues when compiling with ldc and dub, which all vanish when using `make DC=ldmd2`.

[2016-07-12 20:31] dsboger commented on #387
@ximion The ldc issues may be related to the fact that `ldc` and `ldmd` have different command-line syntax? `ldmd` and `ldmd2` (those are symlinked here) are wrappers that emulate the `dmd` syntax. I use that to simplify the makefiles.

[2016-07-12 20:35] ximion commented on #387
@dsboger There is always a chance that some buildflags are injected into the package build process e.g. to enable hardening, which don't apply to ldmd... But I would be really surprised here if that was the case.
I think there must be something else ldmd does differently.

[2016-07-13 00:52] mattwilmott commented on #388
Understood thanks for the explanation 😀

[2016-07-13 02:39] dsboger commented on #387
[terminix-git](https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=terminix-git) in AUR now compiles with LDC using autotools. It is working for me. I think this issue can be closed, as long as others can confirm the build process works.

As a side note, is it possible and/or desirable to include building with autotools into the CI script?

[2016-07-13 11:48] ximion commented on #387
I can confirm it's working.
Adding a test for Autottools to the CI seems to be useful to me (test everything that might break!).

[2016-07-13 11:48] #387 closed

[2016-07-13 14:14] eda2z opened #394 "Leftover scrollbar"
I'm not sure if this is a terminix problem or gnome, but it's very minor -- I'm on the latest gnome 3.20 from Arch linux.  I'm not sure if all of the steps are necessary:

1. Open a new window and expand it down.
2. Split the window horizontally
3. Run several ls commands in the top window which cause the scrollbar to change
4. Switch to the lower window and run several ls commands to change its s

[2016-07-13 22:19] simonbcn opened #395 "[Feature request] Change title from command line"
Actually if I want to assign a custom title (_determined in execution time_) to Terminix session, I can't from command line.

[2016-07-13 22:49] #223 closed

[2016-07-13 22:49] gnunn1 commented on #223
I've added the ability to disable the shortcuts globally, I don't think I'm going to take this any further at this point hence closing the issue.

[2016-07-13 22:53] gnunn1 commented on #395
I think I know what you mean bu just to be clear, the title would go to the terminal and not the session and hence the title appears in the terminal titlebar and not the headerbar.

This should be easy to add, it's just adding a new command line switch so within a terminix terminal you could do something like:

[code]

[2016-07-13 22:57] gnunn1 commented on #394
I cannot reproduce this on GTK 3.20, what distro and GTK version are you using? Also, are you using a custom theme, if so try Adwaita and see if you can still reproduce the issue.

[2016-07-13 23:11] gnunn1 commented on #386
@Uzytkownik2 I just pushed out a beta release, can you try it and see if it fixes this issue for you.

[2016-07-14 00:22] gnunn1 commented on #395
Done, as discussed this only works when executed within a terminix terminal, using this option outside of terminix does nothing

[2016-07-14 01:44] eda2z commented on #394
Arch linux;
gtk3 3.20.6-1;
Adwaita for gtk+ theme, icons and cursor

I am also using the Global Dark Theme but that doesn't seem to make a difference.

[2016-07-14 01:45] gnunn1 commented on #394
Can you take a screenshot of the problem and attach please

[2016-07-14 01:46] gnunn1 commented on #394
Oh and is this the stable or git package, I'm testing on the latest in git

[2016-07-14 09:42] simonbcn commented on #395
Thanks, but this isn't useful. If I open Terminix from a script (_this is the case_), how can I change the title?

[2016-07-14 12:04] gnunn1 commented on #395
The problem as I see it is that there are two use cases:

- Set the custom title of the current terminal
- Launch a new terminal with a custom title

The issue is I don't see an easy way to distinguish between the two. For example, if you type ```terminix --title MyTitle``` within terminix is that to launch a new instance with the custom title or change the current terminal?

I fooled around with

[2016-07-14 12:19] simonbcn commented on #395
In my case I open a new terminal with a FTP session when I press a key. The title is the version of lftp program: `title="lftp-v$(lftp --version | head -n1 | awk '{print $4}')"`

I think the two use cases, you mentioned, are irrelevant here because there is a parameter in the preferences that controls this:
![seleccion_002](https://cloud.githubusercontent.com/assets/428231/16839133/b105a0fe-49cd-1

[2016-07-14 12:33] gnunn1 commented on #395
Unfortunately the two use cases are not irrelevant as far as I can tell, a user can have the On new instance set to "New Window" and still want to be able to both change the title for the current terminal and when launching a new one.

If you make a second script that actually does the FTP you could set the title in that successfully. This works fine for me as an example, I have a script called up

[2016-07-14 12:59] simonbcn commented on #395
If I execute `terminix` in a open terminix, it opens a new instance. But if I execute `terminix -t test` it only changes the title the actual instance.
If I execute `terminix` in a open terminal (_not Terminix_) or from a script, it opens a new instance. But if I execute `terminix -t test` it does the same and it ignores the `-t` option.
For me this makes no sense. Same command does different thin

[2016-07-14 13:01] gnunn1 commented on #395
Alright, you've convinced me. I'll flip it around so title acts like an override similar to the profile command line switch,

[2016-07-14 13:07] #395 closed

[2016-07-14 13:08] gnunn1 commented on #395
Changed made, try it now.

[2016-07-14 13:11] simonbcn commented on #395
it works. Thanks.

[2016-07-14 14:51] eda2z commented on #394
![screenshot from 2016-07-14 09-44-50](https://cloud.githubusercontent.com/assets/6683633/16843687/e4eadc02-49a7-11e6-8e3c-1806fea76fa3.png)

A screenshot should be attached.  A couple of things:

1.  I did upgrade to the git version before the screenshot
2.  The "anomaly" did not occur on the first try but it did on subsequent ones -- closing the entire window and opening a new one
3.  The screen

[2016-07-14 15:34] gnunn1 commented on #394
I'm pretty sure that's a GTK bug and not specifically a Terminix bug, I'll see if I can reproduce tonight and if so open a bug report in Gnome's bugzilla.

I'm always looking for help with terminix, if you want to want to write some code and work on the project just let me know as there's lots that needs doing.

[2016-07-14 15:37] gnunn1 commented on #372
I'm closing this now as I think things are in a good place.

Thanks again everyone for the feedback and @allanday for the initial design work.

[2016-07-14 15:37] #372 closed

[2016-07-14 22:33] dplanella opened #396 "Fails to build with either dmd or gdc"
I was trying to build terminix from source, first with gdc (until I realized it's not supported) and then dmd, and I'm getting a similar error:

- [Terminix gdc build errors](http://paste.ubuntu.com/19421032/)
- [Terminix dmd build errors](http://paste.ubuntu.com/19423179/)

Is it something related to my setup? Am I missing any build dependencies? I'm on Ubuntu 16.04, with gdc installed from the U

[2016-07-14 22:48] dplanella commented on #396
Ok, this seems to be due to 32-bit builds are not supported.

[2016-07-14 22:48] #396 closed

[2016-07-14 23:28] johannagnarsson opened #397 "Feature Request: Mouse Focus Mode"
It would be awesome if Terminix would either follow Gnome's Mouse Focus Mode between terminals or would just have a dedicated setting (similar to Terminator) to enable Mouse Focus mode.

[2016-07-14 23:30] gnunn1 commented on #397
It does have this already, it's on the first tab of the Preferences dialog.

[2016-07-14 23:42] johannagnarsson commented on #397
Wow, big fat nevermind... Thanks!

[2016-07-14 23:42] #397 closed

[2016-07-15 00:32] gnunn1 commented on #394
I can reproduce this and have opened an upstream bug:

https://bugzilla.gnome.org/show_bug.cgi?id=768829

[2016-07-15 02:23] nafg opened #398 "Custom hyperlinking"
E.g. if my build tool outputs an error at `/home/user/dev/path/to/file.ext:333` I should be able to click it to open in my IDE. This could be configured as a set of pairs of regex + command. Any text that matches a regex could be hyperlinked and when you click it it would pass the text to the corresponding command.

[2016-07-15 07:59] belaustegui commented on #25
Maybe a [snap package](http://snapcraft.io/) could help distributing Terminix accross multiple distributions. Currently it supports: Arch, Debian, Fedora, Gentoo and Ubuntu (maybe more).

[2016-07-15 10:23] francescomeloni opened #399 "Only root open terminix"
I am on fedora 24 with copr repo.
Terminix works but  only if launch from shell with root
if user launch program nothing happen. How can i debug that?

[2016-07-15 11:27] gnunn1 commented on #399
If you run terminix from gnome-terminal what output do you see?

[2016-07-15 12:07] francescomeloni commented on #399
vete@novo-le ~$ terminix
vete@novo-le ~$
Nothing
With gdb:
vete@novo-le subloweb$ gdb terminix
GNU gdb (GDB) Fedora 7.11.1-75.fc24
Copyright (C) 2016 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.  Type "show copying"

[2016-07-15 12:41] gnunn1 commented on #399
I don't have any obvious ideas as to what the problem is since you don't seem to be getting any error messages in the console. I'll look into it tonite when I get back from work.

[2016-07-15 13:19] francescomeloni commented on #399
is there a config file or key in some register at user-level? i tried to remove the app and clean all terminix-related-files i could found with no luck

[2016-07-15 13:21] gnunn1 commented on #399
All of the config is in dconf under com/gexperts/Terminix. There are files terminix depends on in /use/share/terminix but if those are missing you should get errors in the console.

[2016-07-15 13:27] simonbcn commented on #57
This error/warning is showed when I open a SSH session with Terminix (without another Terminix instance).

[2016-07-15 13:31] gnunn1 commented on #57
Thanks, can you open a new issue for this.

[2016-07-15 13:35] simonbcn opened #400 "VTE Configuration Issue alert with ssh session"
[code]

When I open a SSH session with Terminix (_no other Terminix instance open_), it shows the [_VTE Configuration Issue_](https://github.com/gnunn1/terminix/wiki/VTE-Configuration-Issue) alert.

[2016-07-15 14:52] dsboger opened #401 "Spurious notification when starting terminix"
Almost every time I start Terminix it will spawn a "Command completed" notification, although it just started and no command was executed. I've noticed that the notification is about the last command executed before I closed Terminix last time, even if that command did not spawn the notification when finished (i.e. because the terminal was visible at the time).

[2016-07-15 17:37] francescomeloni commented on #399
if i open dconf-editor like user i can see  the keys on gexperts .... opening like root nothin is there

[2016-07-15 22:53] gnunn1 commented on #401
The way the notifications work is that they are tied to the PROMPT_COMMAND, so when you first open the terminal you will get an initial notification that is supposed to be ignored. In Terminix I tie it to a terminalInitialized state but I recently re-worked that code fairly heavily to handle automatic profile switching so it's possible something went sideways.

Having said that I'm not able to rep

[2016-07-15 22:55] gnunn1 commented on #394
Closing this here since it is an upstream issue.

[2016-07-15 22:55] #394 closed

[2016-07-15 23:19] gnunn1 commented on #399
I installed Fedora 24 in a VM and installed terminix from the COPR and it worked fine for me. I've compiled a version with tracing enabled, please download this version (only includes binary) and post back the output, hopefully it will give me a clue of what is happening.

http://www.gexperts.com/files/terminix.zip

[2016-07-15 23:22] francescomeloni commented on #399
2016-07-16T01:21:35.580:app.d:main:35 CWD = /home/vete/Scaricati
2016-07-16T01:21:35.580:app.d:main:39 PWD = /home/vete/Scaricati
2016-07-16T01:21:35.580:app.d:main:45 UHD = /home/vete
2016-07-16T01:21:35.580:app.d:main:47 Starting terminix with 1 arguments...
2016-07-16T01:21:35.581:app.d:main:49 arg[0] = ./terminix
2016-07-16T01:21:35.581:app.d:main:68 No terminix UUID found
2016-07-16T01:21:35.

[2016-07-16 01:15] gnunn1 commented on #399
I forget I added a key to the gsettings file. Get a copy of the file from here:

https://raw.githubusercontent.com/gnunn1/terminix/master/data/gsettings/com.gexperts.Terminix.gschema.xml

And then install it as follows:

[code]

Sorry about that

[2016-07-16 09:47] francescomeloni commented on #399
Now it works.
No need to sorry :)
thank you . I like the clean and fast UI  of this APP.
Bug is closed

[2016-07-16 09:48] #399 closed

[2016-07-16 13:15] gnunn1 commented on #401
@dsboger I've made a change to try to fix this, can you please test it when you get a chance.

[2016-07-16 14:29] simonbcn commented on #400
I've compiled it now and it still shows the alert.

[2016-07-16 15:18] gnunn1 commented on #400
Might be the -x, I tested SSH after opening terminix to a local command prompt first. I'll have a look some more.

[2016-07-16 16:22] ximion commented on #25
@gnunn1 Legal review took a bit longer, but now Terminix is available on Debian.
It won't migrate into the release suite though until the LDC issues have been worked out. This is also the prerequisite for having it build correctly on Ubuntu and Tanglu. Konstantinos Margaritis, the LDC maintainer at Debian, is working on this.

* You can see the package's status for Debian at:
https://tracker.debia

[2016-07-16 16:38] gnunn1 commented on #25
@ximion thanks so much for your work on this, I really appreciate it.

[2016-07-16 20:24] gnunn1 commented on #400
I cannot reproduce this using this command:

```terminix -x "ssh gnunn@sdf.org"```

I also tried it with a local Ubuntu VM and no warning. Is there any chance you are using zsh?

[2016-07-16 22:18] simonbcn commented on #400
Yes, I forgot to say it. I use ZSH.

[2016-07-17 13:14] dsboger commented on #401
I've updated to latest commit and I'm yet to see the issue. Hopefully it's all good, so I'm closing this. Thanks again!

[2016-07-17 13:14] #401 closed

[2016-07-17 13:25] Uzytkownik2 commented on #386
@gnunn1 after installation new beta release it is the same situation. It is not sure whether we mean the same thing so I took a photo:

![terminix](https://cloud.githubusercontent.com/assets/20256895/16900871/211073e0-4c32-11e6-8a06-95af968862c6.png)

After new reopening Terminix, terminal is no longer able to work. Re-install nothing change, I can only fix it through Dconf Editor.

[2016-07-17 14:30] gnunn1 commented on #386
Is that your default profile, if so then this is the expected behavior when you are using those settings. Essentially, terminix runs your custom command and since the command doesn't block, exists right away.

If this is a case where you want the command to just run in specific circumstances, add it a new non-default profile and then when running terminix select that profile using the --profile sw

[2016-07-17 15:16] #400 closed

[2016-07-17 15:17] gnunn1 commented on #400
Fixed an issue with ZSH and modified the warning to only fire when running a shell and not a command. I tested with zsh and it worked fine for me, hopefully this fixes the issue for you.

[2016-07-17 16:41] simonbcn commented on #400
It works now. Thanks.

[2016-07-17 21:02] gnunn1 opened #404 "Support iterm2 style triggers"
Add support for iterm2 style triggers, of particular interest is the report host/user and directory to improve the automatic profile switching.

https://www.iterm2.com/documentation-triggers.html

[2016-07-18 00:01] storm119 commented on #380
@kurobeats ...i'm almost done porting the colour scheme (120 +- themes ) but i need another day or two to publish. I'm also create 1 specific colour scheme for Terminix ..... ;)

[2016-07-18 00:01] gnunn1 commented on #404
Just a little more detail on this, the idea is to allow users to create regular expressions that are run against text outputted in the terminal. If the expression matches, then various actions can be triggered against it.

Two that iterm2 supports that I'm particularly interested in is Report Directory and Report User/Host. Having this will add a lot of flexibility to the automatic profile switchi

[2016-07-18 00:06] gnunn1 commented on #380
@storm119 That's awesome but I'm not sure I want to include that many themes in terminix by default as it would be overwhelming to many users without significant UI changes. I wonder if it would be best to keep this in a separate repository that could be packaged as an extra feature or where people could pull the specific theme they are interested in.

I would certainly be more then happy to inclu

[2016-07-18 00:28] storm119 commented on #380
@gnunn1...well....yeah agreed...its really not necessary to include in terminix by default since its really huge....

Btw...I will setup another repo for anyone who interested they can just pick/download and manually apply the theme.

[2016-07-19 13:17] gnunn1 commented on #386
@Uzytkownik2 Are you OK with my previous answer so I can close this or am I misunderstanding?

[2016-07-19 16:03] storm119 commented on #380
@gnunn1 ....small contribution for Terminix project here the link [Terminix-Themes](https://github.com/storm119/Terminix-Themes) tell me if i missed or need to add anything...?

@kurobeats  ....mate check the link

[2016-07-19 17:42] Uzytkownik2 commented on #386
@gnunn1 you say that is expected behaviour so you can close this issue.

[2016-07-19 18:47] simonbcn commented on #400
Now the warning is showed when I open a normal terminal for first time.

[2016-07-19 20:40] gnunn1 commented on #400
I fixed a bug on zsh where it wasn't showing when it should, can you confirm that vte.sh is sourced on your system, either in .zshrc or via enabling a login shell in Terminix.

[2016-07-19 20:41] gnunn1 commented on #386
Thanks!

[2016-07-19 20:41] #386 closed

[2016-07-19 21:54] simonbcn commented on #400
The default profile in Terminix is a login shell.

[2016-07-19 23:26] Tinche opened #405 "[Autotools] Can't build without $DC set to a path"
While trying to build terminix using autotools (actually, playing around trying to fit it into a snap, this is one of the steps), I've found I can't actually get it to build unless I have the env var `DC` set to the exact path of dmd. Just having dmd in the path (like mentioned on the wiki page) isn't enough.

`make` fails because the Makefile contains this snippet:

[code]
(the DC isn't set.)

Th

[2016-07-19 23:27] gnunn1 commented on #380
Thanks @storm119, I've updated the Terminix front page to include a link to your repo.

[2016-07-19 23:27] #380 closed

[2016-07-19 23:32] gnunn1 commented on #400
Thanks, unfortunately I cannot reproduce. When I switch my shell to zsh I get the VTE warning as expected. I then modify the default profile to enable the switch "Run command as a login shell", stop terminix, start again and no warning. I then disable "Run command as a login shell", re-start Terminix and I get the warning as expected.

Can you confirm the presence of the following file on your sys

[2016-07-20 08:30] alexwhitman opened #406 "Right click doesn't focus terminal"
Right clicking in a terminal doesn't focus the terminal.  This can cause an issue in the following situation:

- Open terminix.
- Right click, split vertically.
- Move the mouse cursor over the new terminal on the right hand side.
- Right click, split horizontally.

The expected result would be the right terminal being split into two, but instead the left terminal is split.

[2016-07-20 13:11] #406 closed

[2016-07-20 15:52] dsboger commented on #405
Looks like I made a mistake in `configure.ac`. The line that reads: `AC_PATH_PROG([DC], [ldmd dmd gdmd])` should be `AC_PATH_PROGS([DC], [ldmd dmd gdmd])` (notice the missing `S` in `PROGS`). I'll make a quick PR, but until it is merged you can workaround the issue fixing `configure.ac` and restarting the build from `autogen.sh` onwards. Thanks for reporting!

[2016-07-20 15:55] #405 closed

[2016-07-20 18:56] simonbcn commented on #400
The warning is showed only when I open a terminix the first time in a Gnome session, the following times (_in the same session_) does not show the alert. Your test isn't valid if you have opened the 2 terminix instances in same Gnome session.

Yes, that file exists in my system. I'm going to test it adding `source /etc/profile.d/vte.sh` to my `.zshrc`.

[2016-07-20 20:03] gnunn1 commented on #400
When I tested it no other instances of Terminix were running. Just to be sure, i went through the same set of steps and it works as expected. I'm not sure what else I can try on my end to reproduce it.

[2016-07-21 09:40] rplevka opened #408 "Focus the session on pasting with scrollwheel button"
Currently, when user tries to paste a text to a session which is out of focus using a scroll wheel button, the paste works fine, but the sessions stays out of focus.

It would be nice if it got focused just like when user clicks to it

[2016-07-21 12:21] #408 closed

[2016-07-21 12:25] gnunn1 opened #410 "Synchronize input doesn't work with middle-click paste"
Need to look at handling the addOnPasteClipboard in the VTE and move the synchronization code from the paste action handler to this event. Note this event doesn't pass the string that was pasted, so will need to read it off the clipboard.

[2016-07-21 12:36] Tinche commented on #405
Thanks for looking into this so quickly. :)

[2016-07-21 14:35] gnunn1 commented on #410
Ended up just extending @alexwhitman patch to override the middle button and do the paste directly. This enables the unsafe paste warning to work as expected as well.

[2016-07-21 15:08] alexwhitman commented on #410
This doesn't quite fix it as it pastes from the wrong clipboard.  Now both Ctrl+Shift+V and middle click paste the same thing.

[2016-07-21 15:12] gnunn1 commented on #410
My bad, I'll revert the commit when I get back from lunch and look into this some more.

[2016-07-21 15:52] gnunn1 commented on #410
I've reverted the commit

[2016-07-21 17:19] #410 closed

[2016-07-21 17:20] gnunn1 commented on #410
@alexwhitman Hopefully this does the trick, try it out and let me know.

[2016-07-21 17:36] gnunn1 commented on #398
@nafg I'm looking into this along with #404, could you elaborate what you mean by "a set of pairs of regex...". Wouldn't a single regex be sufficient for this?

[2016-07-21 17:54] alexwhitman commented on #410
That's working for me. :+1:

[2016-07-21 17:54] gnunn1 commented on #410
Thanks!

[2016-07-21 19:33] gnunn1 opened #411 "VTE enhancements (C/GTK skills needed)"
As many of you are aware, terminix uses the GTK VTE component to do the actual terminal emulation. As a result, some features that people have been asking for in terminix depend on making changes to VTE which is C based. Terminix itself is written in D and my day job is centered around Java.

My original intention was to learn enough C to do these changes myself, unfortunately I've recently change

[2016-07-22 02:52] brittyazel commented on #334
I just installed the 1.2 version today, and this issue is back. Right clicking and showing the popover results in the mouse cursor not changing from the "I" and to the traditional mouse, and clicking on any option in the popover does nothing.

[2016-07-22 02:54] brittyazel commented on #334
And just like last time, rebooting solved the issue. I have no idea why I need to reboot after Terminix releases to get a working right-click popover

[2016-07-22 03:00] gnunn1 commented on #334
No idea what the issue could be, I haven't had anyone else report the issue.

[2016-07-22 19:19] nafg commented on #398
Yeah but ideally I could have different kinds of links
For instance the current hyperlinking of URLs that start with a protocol
could become just one entry in this set, and you could change how it opens.
Maybe besides that and opening a file, there could regexes for stack
traces. IIRC if you look at the list of plugins for Terminator there are
some other custom types of handlers well. Another idea

[2016-07-23 00:02] brunelli opened #414 "Remove border around search bar"
I was annoyed by that border around the search bar and opened GtkInspector to try to remove it:

![captura de tela de 2016-07-13 13-25-15](https://cloud.githubusercontent.com/assets/5755892/17074214/700faad0-504f-11e6-955f-83ee3006f850.png)

IMO it looks better without it, but just a suggestion.

Also, maybe add a close button at the end of the search bar?

[2016-07-23 00:43] gnunn1 commented on #414
The problem is when the title bar is active it looks like a big wall of grey without the border. I'll have a look though at toggling it depending on whether the title bar is active.

No plans for a close button on the search bar, again it looks ugly when the title bar is active to have the two close buttons stacked IMHO.

[2016-07-24 17:49] cortopy opened #416 "No "open terminix here""
Despite having installed python-nautilus I don't see the "open terminix here". I'm not sure if it's a bug or something I'm missing

GNOME version: 3.20.3
DIstro: Fedora 24

[2016-07-26 07:55] tiancj opened #417 "cannot save output to a existing file"
When I save output to a existing file, terminix will exit with the following log:
[code]
the version of terminix is 1.2.0.

[2016-07-26 12:50] gnunn1 commented on #416
Is there any output when you load nautilus from the command line, i.e.

[code]

Note the -q shuts down the current instance of nautilus and might take a few seconds.

[2016-07-26 16:19] #417 closed

[2016-07-26 18:22] brunelli commented on #414
Maybe setting only a 1px top border?

![captura de tela de 2016-07-26 15-09-32](https://cloud.githubusercontent.com/assets/5755892/17150111/909f5a0a-5344-11e6-8848-94fb030d319a.png)
![captura de tela de 2016-07-26 15-16-34](https://cloud.githubusercontent.com/assets/5755892/17150112/90bafd46-5344-11e6-97ca-021a187b168c.png)

[2016-07-26 20:16] Tinche commented on #25
My attempts to snap Terminix have run into a snag: https://lists.ubuntu.com/archives/snapcraft/2016-July/000533.html

[2016-07-26 20:21] gnunn1 commented on #25
@Tinche Try disabling the DBus activation. First modify the terminix desktop:

Change:

```DBusActivatable=true```

To

```DBusActivatable=false```

And then delete the ```/usr//share/dbus-1/services/com.gexperts.Terminix.service``` file from the snap.

Hopefully that will do the trick.

[2016-07-26 20:56] dsboger commented on #25
@gnunn1 Doing a quick test here, it seems that is not enough. I think any G[tk]Application will bind to a DBus name. Maybe there is a property/parameter that will prevent that?

[2016-07-26 21:51] gnunn1 commented on #25
@dsboger Thanks, looking at the snap PR referenced in the mailing list (https://github.com/snapcore/snapd/pull/1446) more closely it looks like GTKApplication is not supported at all at this point.

The only other thing I can suggest is to try running Terminix with the ```--new-process``` flag which constructs GtkApplication with the NON_UNIQUE flag but I suspect that it still binds to DBus.

[2016-07-26 23:52] gnunn1 commented on #398
I have checked in a first version of this, note I have only done very basic testing and I'm sure there's still of things that need doing before it's ready for prime-time, however testing is welcomed.

Below is the UI that shows the regular expression and command I'm using to test your use case:

![screenshot from 2016-07-26 19-50-01](https://cloud.githubusercontent.com/assets/9358238/17159292/342f

[2016-07-26 23:53] gnunn1 commented on #398
Oh and just make copying and pasting easier, here's the regex from the screenshot:

[code]

[2016-07-27 00:29] #414 closed

[2016-07-27 00:30] gnunn1 commented on #414
@brunelli Have a look at it now and see what you think.

[2016-07-27 06:31] mherwig opened #419 "Commandline option for using existing terminix windows"
I'm working on a oh-my-zsh plugin for loading terminix sessions automatically when the session's json file is found in the current dir. My idea was to to call terminix -s mysesssionfile.json but this actually opens a new window. Is there any way to use the existing terminix window for this command?

[2016-07-27 11:31] cortopy commented on #416
`nautilus -q` returns the following

[code]

[2016-07-27 12:04] gnunn1 commented on #419
If you go to the Preferences dialog in terminix, there is an option called "On new instance". Change this from "New Window" to "New Session", then when you call ```terminix -s mysession.json``` it will be loaded into the current window as a new session.

Let me know if that meets your requirements, if not I'm happy to discuss other options.

[2016-07-27 12:05] gnunn1 commented on #416
I'm not too worried about the ```nautilus -q``` output, I'm more interested in what was shown after running ```nautilus```?

[2016-07-27 12:07] gnunn1 commented on #416
Also, a couple more things:

* How did you install Terminix, from COPR?

* What is the output of this command:

[code]
Do you see the file open-terminix.py?

[2016-07-27 12:40] cortopy commented on #416
@gnunn1 thanks for answering so quickly!

Yes, I installed Terminix using COPR repo. I installed `nautilus-python` from the main fedora repo.

`/usr/share/nautilus-python/extensions/` is empty

`nautilus` output:

[code]

[2016-07-27 12:42] cortopy commented on #416
Just seeing the `nautilus-python` is empty of plugins made me try removing Terminix and installing again in case I installed them in the wrong order. The plugins folder is still empty

[2016-07-27 12:48] mherwig commented on #419
Thank you. This is exactly what I needed. Obviously I missed that option, sorry!

[2016-07-27 13:16] #419 closed

[2016-07-27 13:19] gnunn1 commented on #416
I'd suggest dropping a line to the COPR maintainer, I remember there was a complaint about bundling the nautilus plugin in with terminix because it dragged in nautilus via dependencies. I'm assuming he is still installing the plugin but maybe it's been dropped completely?

You could also try copying the plugin file from here into ```/usr/share/nautilus-python/extensions/``` manually to see if that

[2016-07-27 16:30] gnunn1 commented on #398
Anyone have a better name for this feature then Custom Links? Guake calls it Quick Open which I like better, I suck at coming up with the catchy names.

[2016-07-27 17:19] storm119 commented on #414
@gnunn1 ...the new commit (css) as below introduce another glitch imo (see screenshot attached before vs after commit). The white horizontal line....

`.terminix-search-frame {
    border-top: 1px solid @unfocused_borders;
}`

Before the commit
![terminix-old](https://cloud.githubusercontent.com/assets/10151062/17181685/8a00b90e-5453-11e6-8770-2c4a98b54aa0.png)

After the commit...ugly white horiz

[2016-07-27 17:23] gnunn1 commented on #414
@storm119 It's hard to tell from the screenshot because it is so dark, but is your theme not styling the GTKPane separator for some reason? What GTK theme are you using?

[2016-07-27 17:33] storm119 commented on #414
I'm using [diehard4](https://cinnamon-spices.linuxmint.com/themes/view/540) but slightly modified by me....i think you're correct about the GTKPane separator but never got chance to look at the theme yet...will do some other time.

for the time being....this suit me very well (tested with arc, vertex, mintdark etc)...

`.terminix-search-frame {
    border-top: 1px solid rgba(32, 32, 32, 1);
}
`
Th

[2016-07-28 01:45] gnunn1 commented on #398
I added support for case insensitive regex, this is feature complete now from my perspective, closing issue.

[2016-07-28 01:45] #398 closed

[2016-07-28 06:46] nafg commented on #398
Thanks! When will this be in a release?

[2016-07-28 11:46] gnunn1 commented on #398
It will be in the next one, probably in a month or two

[2016-07-28 20:43] nafg commented on #398
Ok, built it locally. Works great, thanks!

P.S. The regex was too general so I changed to something like `(\S|\\ )+(:[0-9]+)?`

[2016-07-29 03:54] Cherkah opened #420 "terminix maximize option"
more a question than an issue,

can we get an option so as to open terminx in maximiz mod?
 if not, what is the command should i've use to setup terminix in maximize mod?

thx and great job

[2016-07-29 10:23] hotice commented on #25
I created a Terminix PPA for Ubuntu 16.04 / Linux Mint 18: https://launchpad.net/~webupd8team/+archive/ubuntu/terminix It's uses the official Debian packaging (thanks to the packagers!) with a minor tweak to get gtk-d to build in Ubuntu 16.04. I couldn't get ldc to build in Ubuntu 16.10 and I assume that's why the package is not in the official 16.10 repositories yet.

[2016-07-29 11:02] kmf commented on #25
Awesome

[2016-07-29 12:56] gnunn1 commented on #420
There is no option for this in the GUI preferencens, however if you run ```terminix --help``` there are command line options to do this:

[code]

[2016-07-29 12:58] gnunn1 commented on #25
@hotice That's awesome, thanks, I'll update the front page to include it. Also, thanks for the articles you've written about Terminix on webupd8, greatly appreciated as I certainly notice the increase in interest after each one.

[2016-07-29 14:55] graingert commented on #25
@hotice do you need ldc built into the ppa?

[2016-07-29 14:59] graingert commented on #25
@hotice ah it's for  libphobos2-ldc71_1.1.0-2~webupd8~xenial_amd64.deb (1.0 MiB)

[2016-07-29 18:15] Cherkah commented on #420
ok thanks

when i appends --maximize command in desktop's shortcut (/usr/share/applications/com.gexperts.Terminix.desktop)
the window opens in normal mod! whats wrong?

[2016-07-29 18:36] gnunn1 commented on #420
I think it's because it uses DBus to launch the application from the desktop file, in the desktop file change DBusActivatable=true to DBusActivatable=false and see if it starts working as expected.

[2016-07-29 18:42] Cherkah commented on #420
nothing change...

[2016-07-29 18:50] gnunn1 commented on #420
If this in gnome, you need to restart gnome-shell or logout/login after making that change. For other DE I would also suggest logging out and in again as most will cache the desktop files.

[2016-07-29 18:50] gnunn1 commented on #420
I just tested it locally, works fine for me.

[2016-07-30 16:30] davromaniak opened #421 "Feature Request : Insert terminal number"
Hi.

I just discovered this project, and I find it quite interesting.

By the way, I use terminator, and there a grouping feature called "Insert terminal number", which the action is quite obvious.

Do you think it can be added in terminix ?

Thanks.

[2016-07-30 16:43] gnunn1 commented on #421
Can you elaborate on the use case, I'm not seeing how it would be useful considering the terminal number isn't constant, for example terminals get re-numbered when you delete one.

[2016-07-30 17:16] gnunn1 commented on #421
Ok I googled and see the use case, essentially to insert the terminal number when using synchronised input. So if you have four hosts to SSH to, test01, test02, etc you can have the last digit inserted.

I'll look into adding it, should be relatively straightforward.

[2016-07-31 18:12] #421 closed

[2016-07-31 18:13] gnunn1 commented on #421
I've added a new action for this, Insert Number, that does this. No shortcut is assigned to it by default so you'll need to assign one in Preferences | Shortcuts to use it.

[2016-07-31 18:19] gnunn1 commented on #420
Has this been answered, can I close this issue?

[2016-07-31 18:20] gnunn1 commented on #416
Have you managed to resolve this, may I close this issue?

[2016-07-31 20:43] Cherkah commented on #420
sorry, was focus on other things...

ok, you was right.
thank.

[2016-07-31 21:56] #420 closed

[2016-07-31 22:02] cortopy commented on #416
Yes, the plugin you posted is now working beautifully. Thank you for that @gnunn1 !

Obviously the issue is with the Copr repo package, not with terminix. Do you know whether the maintainers are on github so that I can tag them here?

[2016-07-31 22:02] #416 closed

[2016-08-01 02:06] gnunn1 commented on #416
See issue #375 for more information on the removal of the Nautilus extension from the COPR package.

@HeikoAdams is the COPR maintainer.

[2016-08-01 06:33] HeikoAdams commented on #416
The nautilus extension has been moved to a seperate package called terminix-nautilus.

[2016-08-01 09:56] apiraino commented on #330
Hello,

as an EMACS user I will never probably find a match with Gnome HIG shortcuts :-)
That's ok as long as I can easily custom tailor Terminix shortcuts and disable some of them.

In pull request #187 you mention ` /data/gsettings/com.gexperts.Terminix.gschema.xml` as the file to change the defaults.
On my Lubuntu 16.04 I only have this other file `/usr/share/glib-2.0/schemas/com.gexperts.Termi

[2016-08-01 11:39] Redwan13 opened #422 "Keyboard controls enchantments in session sidebar"
When user opens session sidebar, he can use arror keys to navigate through sessions. This behaviour lacks cycling (going from last session to first with down-arrow) and navigating through sessions via number keys.

[2016-08-01 11:57] gnunn1 commented on #330
@apiraino There is a preferences dialog that allows you to customize shortcuts, just use that:

![screenshot from 2016-08-01 07-56-21](https://cloud.githubusercontent.com/assets/9358238/17293313/990af410-57bd-11e6-9b22-0d3d72706027.png)

[2016-08-01 12:07] gnunn1 commented on #330
@apiraino Also if you are using Unity and can't find the Preferences dialog, see issue #241 in case that is causing the issue.

[2016-08-01 12:15] apiraino commented on #330
@gnunn1 that's exactly what I was referring to by `shortcut settings from Terminix seems to not have an apparent way to set to disabled`. From that very dialog, I tried to set a shortcut to `disabled` to no avail, most likely my mistake ;-)
I double-click an entry, I'm asked to set the new accelerator but can't set to `disabled`.

[2016-08-01 12:18] gnunn1 commented on #330
@apiraino  Click on the shortcut so it says ```New accelerator...``` and then hit backspace to set it to disabled.

[2016-08-01 12:19] apiraino commented on #330
thanks @gnunn1 that did the trick.

[2016-08-01 16:28] arshavindn opened #423 "search button toggle does not focus back on terminal"
i'm on Ubuntu 16.04

[2016-08-01 18:06] dressedfez opened #424 "VTE configuration issue -- permission denied vte.sh"
On Fedora 24 I get the following error, when I follow the [guide](https://github.com/gnunn1/terminix/wiki/VTE-Configuration-Issue):
![terminix-1-2-0-fedora-24](https://cloud.githubusercontent.com/assets/5203474/17303464/1d16dedc-5821-11e6-9853-778d64a1294d.png)

vte.sh has the following permissions rw-r--r--.

.I get terminix from: heikoada-terminix --  Copr repo for terminix owned by heikoada

Do

[2016-08-01 18:35] cortopy commented on #416
Thanks @HeikoAdams !!!

[2016-08-01 18:40] gnunn1 commented on #424
I'm not at my PC to double check, but shouldn't vte.sh have execute permissions?

[2016-08-01 18:56] dressedfez commented on #424
I agree that this makes a lot of sense. I haven't changed the distribution settings, hence I assume that this is a bug in F24. I will cross-check this with folks there.

[2016-08-01 19:33] gnunn1 commented on #424
So on my machine vte.sh does not have execute permissions either. If I run it with the following, as per the instructions, it works fine:

[code]

However if I run it without the preceding [dot][space] I get the same permission issue.

[2016-08-01 19:34] gnunn1 commented on #424
Note this is expected behavior, as the [dot][space] simply runs the commands in vte.sh within the current shell hence why only read permissions are needed.

[2016-08-01 19:44] #423 closed

[2016-08-01 23:15] gnunn1 commented on #422
I added support for selecting a session via a number key when the sidebar is open. I looked at doing the cycling but couldn't get it to work properly in the sense the initial cycling works but navigation after that becomes wonky. I tried a variety of things including using the keynav-failed signal, key-press and key-release with no luck.

If you know of an open-source GTK application that does thi

[2016-08-02 11:03] Redwan13 commented on #422
Sadly, I don't know any.

[2016-08-02 12:02] #422 closed

[2016-08-03 08:48] egmontkob commented on #424
You definitely do need that [dot][space], without that you just launch a new shell, make some settings there and then quit that shell, that is, you've effectively changed nothing. As such, there's absolutely no point in adding exec permissons.

[2016-08-03 10:57] dressedfez commented on #424
I would suggest to update the guide to using

source /etc/profile.d/vte.sh

The whole problem was apparently just caused by me not seeing the dot in front of the path. I have done so in my .zshrc.

[2016-08-03 14:09] gnunn1 commented on #424
I've updated the page to use source.

[2016-08-03 14:09] #424 closed

[2016-08-03 15:28] phw opened #425 "VTE warning triggered when loading session from file"
When I open terminix with a saved session the VTE configuration issue is shown even though the profile used is set to act as a login shell. This seems to only happen if I have more than one terminal configured in the session file.

See the files at https://gist.github.com/phw/4b4975281555ed6b7d62703a0a7373e9

Opening the `file-terminix-test-vte-warning.json` file with `terminix -s file-terminix-te

[2016-08-03 15:32] phw opened #426 "Editing the regex of a custom link crashes terminix"
To reproduce:

1. Add a new custom link to a profile
2. Click into the regex edit box
3. Leave the edit box while the regex is empty

Terminix will core dump. Same can be done with an already existing regex, just make it empty. Log:

[code]

[2016-08-03 15:45] phw opened #427 ""New terminal" desktop action does nothing on Gnome"
If you right click on the Terminix icon in Gnome 3 dash you see the entry for "New terminal" as defined in the .desktop file. Clicking it does nothing. There is also a "New window" entry, which works as expected (and which Gnome adds because Terminix responds to the `new-window` action).

I have two issues with this:
1. "New terminal" does not work, at least not on Gnome 3
2. The entry looks redun

[2016-08-03 15:51] egmontkob commented on #424
Note: "." is the old-fashioned sh-compatible version. "source" is a bash/zsh extension.

[2016-08-03 16:11] phw commented on #427
Ok, looked into it a bit more. The action name is actually send by dbus to the existing terminix instance, so it should be set to something terminix understands. So for example you could do something like this in the desktop file:

[code]

The `Exec=` is still required as a fallback if dbus is not used. See also https://developer.gnome.org/desktop-entry-spec/#extra-actions

I am still not quite su

[2016-08-03 16:59] gnunn1 commented on #427
Thanks, I should have paid more attention to this when the PR was submitted. I'm thinking we should change New Terminal to New Session if that makes sense to you, New Terminal is not very meaningful in a tiling terminal emulator context.

Also, it should be possible to make the Exec in these sections work the same as the actions simply by add the -a switch to the Exec but I'll need to test it, i.e

[2016-08-03 17:33] #426 closed

[2016-08-03 19:56] gnunn1 commented on #425
This actually happened with any command line parameter, not sure why bit it triggers the VTE contents-changed signal twice even though the contents haven't changed.

[2016-08-03 20:00] dressedfez commented on #424
**Note:** I have exchanged an email with Matthias Clasen and he says that in principle all files in that directory should not be executable and are meant to be "sourced". In Fedora some still are executable, but this is  not correct.

[2016-08-03 20:19] ovovchuk opened #428 "Big icons on title bar."
Hello,

I have strange issue with header icons on OpenSuse Leap 42.1, they are a little bit larger than should be.
Could you please advise how this issue can be fixed.

Thank you,
Oleksandr

![terminix_osuse_icons_bug](https://cloud.githubusercontent.com/assets/5849382/17380552/5c880734-59d0-11e6-8149-861eb5206cf9.png)

[2016-08-03 20:21] gnunn1 commented on #428
What theme are you using and do you have the same issue with Adwaita?

[2016-08-03 20:26] ovovchuk commented on #428
It is Arc theme, with Adwaita they are big too.

![terminix_suse_issue_2](https://cloud.githubusercontent.com/assets/5849382/17380765/603159de-59d1-11e6-95e1-3ccaa0f62b9a.png)

[2016-08-03 20:36] feskyde commented on #428
What icon theme are you using?

[2016-08-03 20:43] ovovchuk commented on #428
I am using Arc icon theme as well, tried Adwaita, Moka and others but header icons still the same.

[2016-08-03 20:55] gnunn1 commented on #428
I'm not sure what the issue is, the big icons are custom ones included with Terminix. What version of GTK are you using?

[2016-08-03 21:04] ovovchuk commented on #428
3.16.7

[2016-08-03 22:36] gnunn1 commented on #428
Unfortunately I don't have a VM handy with 3.16 to check what the issue is, it'll take me a day or two before I have time to do so. Any chance you are using the window scaling feature in the tweak tool, i.e. for a HIDPI display?

[2016-08-03 23:33] gnunn1 commented on #404
This feature looks like it requires the scroll buffer to be set to unlimited in order to be completely reliable when cat'ing files or outputting blocks of text which is unfortunate. I tested with both a small terminix source file and a large file of 40,000 lines. Setting the buffer to something small like 512 means that by the time VTE reports a change via text-inserted or contents-changed the tex

[2016-08-04 08:28] ovovchuk commented on #428
Nope, window scaling is 1. I have checked OpenSUSE Tumbleweed which is using GTK 3.20.6 and Ubuntu 16.04 with  GTK 3.18.9 and icons have normal size there.

Also in GTK 3.16 with older version of Terminix(1.0.0) icons in popup menu are bigger too.

![terminix_issue_2](https://cloud.githubusercontent.com/assets/5849382/17395329/8d7631e8-5a36-11e6-8201-726677adf8de.png)

[2016-08-04 12:47] gnunn1 commented on #404
I've tested out the potential performance impact of this feature and it seems pretty reasonable on my machine. To test performance, I'm cat'ing a 2.5 MB test file with 40,000 lines of text. Scrollback in the VTE is set to unlimited so every line is analyzed. I'm testing with two regex, one that tries to parse the username/host out of a typical prompt and the other looks for the word 'importation'

[2016-08-04 13:58] gnunn1 commented on #428
Personally I suspect this is a bug in GTK 3.16, I'd suggest trying a different app that uses custom SVG icons but off the top of my head nothing comes to mind.

[2016-08-04 14:12] gnunn1 commented on #428
I asked about this on the gtk+ IRC channel, the corebird author had the same issue and pointed me to this:

https://github.com/baedert/corebird/issues/451

The fix Corebird went with is represented by this commit:

https://github.com/baedert/corebird/commit/84a11623e24ac3bd58a86847b7262d373005eb53

[2016-08-04 14:59] #428 closed

[2016-08-04 16:16] khandpur-ualberta opened #429 "Cinnamon Desktop - unable to resize window"
Howdy.
Great project, now my default terminal.

One strange behaviour though. Upgraded to Fedora 24 and I use Cinnamon desktop (don't have any other DEs on any of my machines). Not sure if it's the same with Gnome, but WinKey+Left (or Right) Arrow moves the open window to take up half of the screen. With Terminix only, when I do this, I can't then resize (i.e. half the screen plus a little more).

[2016-08-04 16:29] gnunn1 commented on #429
Hopefully I'm understanding this correctly, on Gnome once you click Win+Left/Right Arrow and it's bound to the side of the screen you cannot resize it with the mouse, I see the same behavior with Gedit on my system which uses Gnome DE.

[2016-08-04 16:50] gnunn1 commented on #429
You can see this question as well, looks like the answer is you can't:

https://www.reddit.com/r/gnome/comments/3vhjy9/how_do_i_resize_window_after_snapping_it_to_the/

There's also an open bug for this on Gnome:

https://bugzilla.gnome.org/show_bug.cgi?id=645153

What are the other applications you are testing with, anything that is gnome native (i.e. not patched/maintained by Cinnamon)?

[2016-08-04 16:52] khandpur-ualberta commented on #429
Oh yeah? Huh. Would you look at that...
I'm not using pure Gnome apps (Firefox, virt-manager .. yaddah yaddah, all work the way I explained before), but yup, look at that, gedit, same thing.

[er .. now that I think of it, I may have been using a competing shell tool ... hasta la vista, baby]

My mistake, go ahead and close. Thanks for getting back to me so quickly!

[2016-08-04 16:53] gnunn1 commented on #429
Anytime, glad you are enjoying Terminix.

[2016-08-04 16:53] #429 closed

[2016-08-04 23:39] gnunn1 commented on #404
@egmontkob Before I start investing significant time in those feature, I wonder if I could get an opinion on whether there is anything I'm missing from a VTE point of view that makes this problematic.

[2016-08-05 01:58] gnunn1 commented on #404
Oh and I suppose I should give the tldr; version. In a nutshell the terminal scrollback needs to be set to infinite if you want completely accurate results when cat'ing large files but for normal usage where the text output by a command is smaller then the scrollback it seems to work fine enough.

There is a performance impact, but it seems reasonable at least on my Macbook Pro laptop where cat'in

[2016-08-05 07:32] alexwhitman opened #430 "Installer errors"
Since 417dc23fbaa8eedb146d6cafea8b4f808a6bb5a2 has been merged I'm now getting installer errors.

Firstly it was
[code]
which was solved by installing `gtk-3-examples` on Ubuntu.
After that the error I'm getting now is
[code]

[2016-08-05 07:55] phw commented on #427
I agree on having "new-session" here. That is also the second important action currently placed in the app menu.

Also `Exec=terminix -a app-new-session` seems to work as it should :)

[2016-08-05 08:08] phw commented on #427
What's bad about the "new-session" action is that it works via command line even if no instance is running yet, but when called via DBUS it looks like it only works if there is an open window already. If not the action will do nothing.

I tested with this desktop.in file:
[code]

[2016-08-05 08:20] phw commented on #425
@gnunn1 That's not solved for me even with this commit, still same behavior.

[2016-08-05 10:05] gnunn1 commented on #430
I'm not a big fan of having generated artifacts in source control but in this case I think I'll make an exception and simply checkin the symbolic png icons. Forcing people to install the examples package to build terminix doesn't seem like a good idea?

Thoughts from @alexwhitman and @phw?

[2016-08-05 10:33] vaijab opened #432 "Inconsistent working directory in new windows / splits"
I think there is a bug or a strange behaviour how terminix handles working directory.

When I open a new terminix window, cd to /foo, I expect a new split to have the same working directory. That fails to work if I open another window and do `cd /bar`, then go back to the previous window and open a new split, which opens with `/bar` as a working dir.

Working directory should be local to a window

[2016-08-05 11:13] gnunn1 commented on #430
It's interesting that in arch, gtk-encode-symbolic-svg is included in the GTK package, seems weird that Ubuntu/Debian puts it in gtk-3-examples...

[code]

[2016-08-05 11:23] #430 closed

[2016-08-05 11:24] gnunn1 commented on #430
I've checked in the icons plus added a new script in data/resources that generates the symbolic icons if needed, hopefully this corrects the issue.

[2016-08-05 11:27] gnunn1 commented on #432
Thanks for reporting this, I can reproduce and that's definitely a bug as it should be using the directory of the currently focused window. I'll have a look at fixing this tonite after work.

[2016-08-05 11:29] gnunn1 commented on #427
Thanks for looking into this, I'll have a look at fixing the Dbus issue with new-session tonite if it's not too complicated then update the desktop file accordingly.

[2016-08-05 11:50] phw commented on #430
Yes, better solution in this case if gtk-encode-symbolic-svg is not easily available. I am not surprised that it is not in the standard package on Debian/Ubuntu but on Arch. Arch in general just packages the software as is (including all headers and development tools), while Debian / Ubuntu prefers to only install what is necessary for normal usage and split everything else out into separate packa

[2016-08-05 11:53] gnunn1 commented on #430
Thanks @phw, I too was also surprised it was not in a dev package of some sort.

[2016-08-05 17:09] #432 closed

[2016-08-05 17:12] gnunn1 commented on #425
@phw at line 764 in terminal.d you will see the following code commented out:

[code]

Can you remove the /* and */ at the start and end of the block respectively to make the code active and re-compile terminix. Run terminix loading the session so you get the warning and then paste the output here.

Also, can you paste the .json file for the saved session here as well in case it's related to that

[2016-08-05 18:15] phw commented on #425
I will try to tun it with trace output as soon as I find the time, but might be after the weekend.

But I have already posted the session files , see the gist link above. Loading the session with multiple terminals triggers the VTE warning, the one with only one terminal works as expected.

[2016-08-05 18:40] #427 closed

[2016-08-05 18:42] gnunn1 commented on #425
@phw Thanks I missed that, too much going on today. Don't worry about running with tracing right now, I suspect I will be able to reproduce it from your session file and if not will then ask you to trace.

[2016-08-07 08:47] alexwhitman opened #434 "to-pixbuf warning with installer on Ubuntu"
Running the installer shows
[code]
`libgdk-pixbuf2.0-dev` installs `gdk-pixbuf-pixdata`.  Not sure if you want to add that as a dependency on Debian/Ubuntu.  Nothing seems obviously broken when running terminix after that warning is shown.

[2016-08-08 12:10] gnunn1 commented on #425
I've tied your file on my machine and it doesn't generate the warning. The bug I fixed was that the VTE warning came up anytime you used a command line parameter, even something like --maximize.

When you get a chance, try un-commenting those lines and post the results but no rush.

[2016-08-08 13:50] Asher256 commented on #88
+1

[2016-08-08 15:29] gnunn1 commented on #88
If someone could point me at some screenshots of this feature implemented elsewhere or do a mockup it would be quite helpful.

[2016-08-08 16:59] Asher256 commented on #88
Another nice feature: the possibility to script terminix.

For example a script that will do this automatically: create a 2x2 Terminix splits and run "ssh host1" in the first split, "ssh host2" in the second split, vim file.cpp in the third split, etc.

The scripting language could be Lua or Python for example.

The scripting feature will be appreciated by programmers and Linux administrators beca

[2016-08-08 17:18] leoheck opened #435 "VTE Configuration Missing on Ubuntu"
Hi, I would like to use Terminix on Ubuntu, I read this [wiki](https://github.com/gnunn1/terminix/wiki/VTE-Configuration-Issue) but the ``/etc/profile.d/vte.sh`` is missing on Ubuntu. How I solve that?

[2016-08-08 17:27] gnunn1 commented on #435
On Ubuntu it is ```vte-2.91.sh```

[2016-08-08 18:08] gnunn1 commented on #434
I agree that if packagers are building from source this needs to be reflected in the dependencies. I'll update the package thread about this and include it in the Readme file.

[2016-08-08 18:23] leoheck commented on #435
Oh, thank you. Why not to improve the wiki with that?

[2016-08-08 18:29] gnunn1 commented on #435
Go right ahead, anyone should be able to edit the wiki

[2016-08-08 18:29] #435 closed

[2016-08-08 19:20] gnunn1 commented on #88
@Asher256 You can do that already with a session file and for each terminal overriding the command to execute in the terminal.

[2016-08-08 19:45] simonbcn opened #436 "The notification disappears almost immediately."
For some time, the notifications, when a command has finished, disappears almost immediately. In first versions, it worked well.

[2016-08-08 23:12] Asher256 commented on #88
Does the "session" feature manage the splits and each command I can run on splits? (like 2 horizontal splits + 3 vertical splits on each horizontal split)

Can you tell me more about this session feature? Where can I go modify it?

[2016-08-09 00:08] gnunn1 commented on #88
Yes, when you save the session file it saves the placement of all of the individual terminals in the session. You can then load the session from the GUI, via the Load menu item, or the command line using the --session switch.

To override the command that is used for each terminal, instead of just loading a shell, go into each terminal menu and select 'Layout Options..'. Enter the command you want

[2016-08-09 01:33] gnunn1 commented on #436
Nothing has changed with this code as far as I can tell, I believe how long the notification is displayed for is up to your desktop environment (DE) not Terminix as I'm not setting this anywhere AFAIK. On my system the notification shows for the same amount of time it always has.

What distro and desktop environment are you using, has anything been upgraded lately?

[2016-08-09 07:47] simonbcn commented on #436
Arch Linux 64 bits
GNOME Shell 3.20.3

How long a notification is displayed depends on several factors in Gnome Shell: https://developer.gnome.org/notification-spec/

I will test previous versions of Terminix to detect where the change occurred. Or perhaps it's an error in `vte3-notification` package (_AUR package_).

[2016-08-09 07:58] klingtnet commented on #425
I get the same warning, so I can confirm the issue.

[2016-08-09 12:53] gnunn1 commented on #425
@klingtnet If you are building from master, please uncomment the lines I posted above, rebuild, and paste the output here after duplicating the issue.

[2016-08-09 12:56] leoheck commented on #435
Good, thank you.

[2016-08-09 13:04] leoheck opened #437 "Click on scroll button of the mouse on window issue"
The click on scroll button of the mouse on window heading should send the window behind the other windows. This is expected on Ubuntu. Please, fix that.

[2016-08-09 13:07] leoheck opened #438 "Ctrl-O issue"
The default ``Ctrl-o`` shortcut is wrong, it suppresses ``Ctrl-o`` expected by other applications like ``nano``. It should not be used by default. Please, use something different like ``Ctrl-Shift-o``

[2016-08-09 13:10] gnunn1 commented on #438
Duplicate of #330

[2016-08-09 13:10] #438 closed

[2016-08-09 13:12] klingtnet commented on #425
I've installed `dmd` and `dub` but I can't build the package because `build/build` requires `xdg-app` and `xdg-app-builder` which were provided by the `xdg-app` package that was replaced with `flatpak` in AUR.

[2016-08-09 13:15] leoheck commented on #330
The default ``Ctrl-o`` should not be used by default. Please, use something different by default like ``Ctrl-Shift-o``

[2016-08-09 13:15] gnunn1 commented on #425
@klingtnet Ignore the build folder, it's only for building a flatpak and can be ignored. If you follow the instructions on the front page under Building all you need to do is run:

[code]

[2016-08-09 13:23] klingtnet commented on #425
@gnunn1 This fixed the warning dialog.
To be sure I've double checked against `1.2.0` by reinstalling it from AUR.

**PS**: Thank you for developing such a great tool, I :heart: terminix and installed it on all my machines!

[2016-08-09 13:26] leoheck opened #439 "Issue on pasting a command"
When I paste a command with ``sudo``, terminix shows a dialog window saying:

``This command is asking for Administrative access to your computer``.

If I click ``Paste Anyway``, **it should paste the already copied the command**. Instead, it is doing nothing and cleaning the paste buffer. So I have to copy the command again.

[2016-08-09 13:29] gnunn1 commented on #439
Seems to be working OK for me so it might be something to do with the specific command. Can you post a screenshot of the paste dialog so I can see what it is showing for the command?

[2016-08-09 13:29] leoheck commented on #439
Also, with this ``Paste dialog window opened`` I can open a new terminal, but I can't use it. It remains blocked!

[2016-08-09 13:33] leoheck commented on #439
Sure, it happens with any command with ``sudo``:

[code]

![selection_005](https://cloud.githubusercontent.com/assets/1277920/17518054/a6af24fa-5e1c-11e6-82fc-3f441619c7cf.png)

![selection_006](https://cloud.githubusercontent.com/assets/1277920/17518047/9c13f76e-5e1c-11e6-9ce4-869da3db42b9.png)

[2016-08-09 13:33] leoheck commented on #439
Using

[code]

[2016-08-09 13:34] leoheck commented on #439
It annoys the fact that it clean my copy buffer. So I have to copy again.

[2016-08-09 21:14] arcticicestudio opened #440 "JSON-based configuration next to dconf"
It would be awesome if there would be a way to set all preferences/configurations via a `.json` file (e.g. `$HOME/.terminixrc` or `$HOME/.terminix/config`) to make it trackable via git for a `dotfiles` repository. I think `dconf` is just terrible when it comes to reusability of user settings.
The only way is to write a non-dynamical script with "hardcoded" values or to export the scheme.

The them

[2016-08-09 23:22] gnunn1 commented on #440
Thanks for the suggestion but unfortunately I don't this is very feasible. Terminix is using GSettings all over the place and it provides a lot of features that I'm not interested in coding myself. While technically GSettings supports alternative back-ends, such as a key file, in practice I don't see it being used very often and I'm not interested in dealing with any issues that arise from that fo

[2016-08-09 23:22] #440 closed

[2016-08-10 02:12] leoheck commented on #439
I think I did solve the problem. As you can see, the ``Paste Anyway`` is red indicating the default action. If I click ``Enter`` it uses the ``Don't Paste`` instead. The default action is different than the one marked red.

Also, If I hit ``Esc``, the dialog is dismissed and the command is pasted. ``Esc`` should escape this action... meaning: please, do nothing.

[2016-08-10 02:42] gnunn1 commented on #439
Thanks, good catch. I'll take care of this in the next day or two, just trying to finish up a first iteration of trigger support first.

[2016-08-10 03:32] leoheck commented on #439
Good, take your time! :)

[2016-08-10 06:56] phw commented on #425
I am not entirely sure, but the issue was still happening, so I did the `git pull && dub build && sudo ./install` dance again and now the warning is gone. Problem is I'm pretty sure that I did this previously with your fix already in master.

Anyway, I close this until this happens again :)

[2016-08-10 06:56] #425 closed

[2016-08-10 19:00] Asher256 opened #441 "Session open "Session could not be created due to error""
Hello

When I tried to load a session (*.json) I got a message box with this error:
[code]

My session file:
[code]
Thank you.

[2016-08-10 19:07] Asher256 opened #442 "Feature request: confirmation before paste"
Hi,

This feature is interesting for people who copy/paste commands as root. It can avoid many mistakes (sometimes, the wrong data can be in the clipboard, even though you pressed CTRL-C).

Example:
- The Terminix user presses CTRL-V
- Terminix asks: "Are you sure you want to paste: rm -fr /"
- The user can choose yes / no

Thank you in advance!

Asher256

[2016-08-10 21:20] dansouza commented on #279
One thing I miss is the ability to broadcast keystrokes across separate instances/windows of Terminix, like it is possible with Terminator. For example, imagine you have a two 1920x1080 monitors and on one monitor you have a Terminix window with 4 terminals (2x2), then on another monitor another Terminix window the same way, having keystrokes broadcasted to all terminals across the windows based e

[2016-08-11 01:07] gnunn1 commented on #404
I've checked in some more code for this and it's getting very close now but not ready for testing so please do not waste anytime doing so as I know I still have some things to work through.

[2016-08-11 01:09] gnunn1 commented on #25
Just an FYI I've checked some stuff into master that hasn't been tested well so don't be surprised if git is unstable for a few days. Should have everything tidied up by the end of Sunday.

[2016-08-11 07:48] egmontkob commented on #442
Just FYI: https://bugzilla.gnome.org/show_bug.cgi?id=697571

[2016-08-11 17:26] Asher256 commented on #442
+ egmontkob

Another reason why a confirmation is necessary for Linux administrators.

[2016-08-14 01:44] gnunn1 commented on #404
OK I think this feature is ready to be tested as it seems to be working pretty well for me in my testing so far.

I've documented how this feature works in the wiki, please have a look at it first here to understand how this is properly configured:

https://github.com/gnunn1/terminix/wiki/Triggers

Note that automatic profile switching has been updated to leverage switching on username since with

[2016-08-14 02:02] #441 closed

[2016-08-14 02:04] gnunn1 commented on #441
There was a bug with the code that logged some additional information when one of the processes specified in the overrideCommand could not be executed. I've fixed that and terminix should start up fine now, whichever one of your terminals that has the command that could not be launched should show a proper error message.

If you are still having issues with this just let me know.

[2016-08-14 02:23] gnunn1 commented on #437
Terminix uses CSDs, if you want this middle click to work you need to disable the CSD so that Terminix uses a normal system titlebar likes the other apps.

This option is not visible in Terminix, but can be enabled in dconf-editor as per the screenshot below which shows the disable-csd option in bold:

![screenshot from 2016-08-13 22-22-42](https://cloud.githubusercontent.com/assets/9358238/176467

[2016-08-14 02:23] #437 closed

[2016-08-14 02:43] #439 closed

[2016-08-14 02:45] gnunn1 commented on #434
Added to build dependencies on front page.

[2016-08-14 02:45] #434 closed

[2016-08-14 02:46] gnunn1 commented on #436
@simonbcn Any luck with your tests, can this be closed?

[2016-08-14 02:48] gnunn1 commented on #404
One potential localization issue I just thought of, some of the actions take variables in the parameters, i.e. username, hostname, etc. Should this be localized and if so how to make this discoverable because right now it's user entered so I never display the string anywhere. I could throw up a help dialog or something I guess, thoughts @phw?

[2016-08-14 03:00] gnunn1 opened #443 "Add support for password manager"
Extracting this feature from #86 and closing that one to split these out into individual feature requests.

When considering this, I would strongly prefer using the system password manager if at all possible, i.e. gnome-keyring (https://wiki.gnome.org/action/show/Projects/GnomeKeyring?action=show&redirect=GnomeKeyring). However I don't want to couple terminix with a specific implementation if at a

[2016-08-14 03:01] gnunn1 commented on #86
Automatic Profile Switching and Triggers are implemented, Badges and Password Manager have separate issues for them. Capturing output is done via the Save menu item, no plans to take it any further.

As a result, I'm closing this issue.

[2016-08-14 03:01] #86 closed

[2016-08-14 03:15] gnunn1 commented on #443
Doesn't look like a common abstraction layer exists at the moment, so likely will just go with gnome keyring for now:

https://www.freedesktop.org/wiki/Specifications/secret-storage-spec/

[2016-08-14 10:36] simonbcn commented on #436
I haven't tested it. I've uninstalled Terminix.

[2016-08-14 11:10] edubxb commented on #86
Great thanks!

[2016-08-14 11:16] edubxb commented on #443
Gnome Keyring seems a good choose.

[2016-08-14 19:39] #330 closed

[2016-08-14 19:39] gnunn1 commented on #330
Save and Open have been changed to Shift+Ctrl+S and Shift+Ctrl+O respectively, Save As shortcut is disabled by default.

[2016-08-14 22:11] gnunn1 commented on #442
I'm thinking of combining this with the unsafe paste dialog and making it a tri-state option as follows:

* Never Prompt
* Prompt When Unsafe Paste Detected
* Always prompt

The default would be the second one. Might also be an opportunity to introduce some of the capabilities from iterm2 advanced paste:

https://www.iterm2.com/features.html

[2016-08-15 01:01] gargullia commented on #25
@gnunn1 Will version 16.04 from the official repository?

[2016-08-15 01:13] gnunn1 commented on #25
@gargullia AFAIK it is still waiting on a fix for LDC, having said that I'm not the one doing the packaging so I'm not the best to ask, I'd have to defer to @ximion who did great work on this.

[2016-08-15 01:18] Asher256 commented on #442
+1 gnunn1
I like the idea.

[2016-08-15 01:27] gargullia commented on #25
@gnunn1 those. will release for 16.04  when it will be ready LDC

[2016-08-15 01:35] gnunn1 commented on #404
One problem I just noticed is that when running a CLI like nano, VTE reports column/row positions for the program and then resets it when it exits. I've checked in a hack fix for this that resets the count if the row the VTE reports is less then the last row terminix recorded, however ideally terminix should detect this and stop running triggers in this scenario.

I'll need to give this more thoug

[2016-08-15 01:53] ximion commented on #25
@gnunn1 @gargullia On Debian, LDC is FTBFSing on PowerPC, see https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=833020 - this bug is ultimately https://github.com/ldc-developers/ldc/issues/1652 which hopefully will get resolved quickly. LDC currently has been dropped from Debian Testing because of this.
For Ubuntu, the status for 16.10 is tracked in https://bugs.launchpad.net/ubuntu/+source/ldc/+b

[2016-08-15 02:06] gnunn1 commented on #25
Thanks for the detailed update @ximion, really appreciate it

[2016-08-15 02:30] gnunn1 commented on #404
@egmontkob I assume I'm seeing this behaviour because apps like nano, top, etc use the alternate screen, is there any way to detect when alternate screen is engaged and dis-engaged from the app using VTE? I don't see anything obvious looking at the docs.

[2016-08-15 04:09] freongrr commented on #443
Isn't the SSH key store good enough for most use cases?

Maybe you could have a 2-step wizard that invokes `ssh-keygen` and `ssh-copy-id` (like seahorse, the gnome-keyring UI, does).

[2016-08-15 07:08] egmontkob commented on #404
Nope I don't think so. (I don't have too much time nowadays but I'm planning to get back to this issue and investigate more thoroughly.)

[2016-08-15 08:38] vaijab commented on #48
I am not trying to push or anything. I just wanted to say that I used to use gnome search to switch between terminals quite a lot when I was using gnome-terminal. It is very handy.

[2016-08-15 11:50] gnunn1 commented on #404
@egmontkob Thanks Egmont for the quick reply, I've opened the issue below in VTE to request a feature to enable the enclosing application to be able to detect when entering and existing alternate screen mode.

https://bugzilla.gnome.org/show_bug.cgi?id=769926

So far, the only way I can see to make this work is to get the process name associated with the current PID and check it against a list of

[2016-08-16 01:04] gnunn1 commented on #404
So I tested out the feasibility of creating a list of processes to exclude trigger processing for and it seems to work very well. Even when I su to root and then run nano I can easily get the pid and map it to a process name in /proc/{pid}/status.

In my current test code this is hard-code, however I'll create a configuration setting for it which will consist of an array of process names to ignore

[2016-08-16 01:08] gnunn1 commented on #443
@freongrr I'm might be missing something here, but this is intended for passwords not ssh keys. For example, if you ssh to a box and have to supply a password, this comes into play. It would work the same for other scenarios like command line ftp.

SSH keys would continue to be handled via the normal ssh mechanisms and would be out of scope for this functionality.

If this doesn't make sense let m

[2016-08-16 10:39] egmontkob commented on #404
less
screen/tmux
htop - interestingly top doesn't switch to alternate screen
joe
mc/mcview/mcedit (but not when executing an external command)
pico/pine/alpine
mutt
lynx/links/elinks/w3m
irssi and friends
alsamixer
calcurse
ranger
moon-buggy and other games (e.g. tetris clones)
and sure a whole lot more...

Maybe (weird idea) you could run ldd against the binary and see if it's linked to ncurses.

[2016-08-16 12:19] gnunn1 commented on #404
Thanks @egmontkob, I wasn't thinking about SSH with regards to using the processes as a way to exclude apps and you are right that this won't work in that scenario.

I'm going to revert this feature, it's disappointing considering how well it works but it's my own fault for not doing enough testing before I embarked on it. The code will remain in Terminix, just hidden by a build flag, so if VTE ge

[2016-08-16 12:36] alexwhitman opened #445 "Saving synchronization and readonly states"
It would be useful if the synchronization and read only states were serialized to the JSON file on save and then restored on load.

[2016-08-16 20:33] gnunn1 commented on #404
I've checked in code to turn off trigger support since there doesn't seem to be a way to get working well without patching a new event into VTE. Note that if someone wants to play with it at some point it can be re-enabled via the ENABLE_TRIGGERS flag in constants.d.

[2016-08-16 20:33] #404 closed

[2016-08-17 01:43] leoheck opened #446 "Terminal IDs"
I saw terminal has IDs which are displayed in window title. I would like to ask if it is possible to have IDs for splits too and if I can use it like environment variables (e.g. TERM_ID). This will be nice to have when we have multiples synchronized splits. In this way, we can make a single command-line that has different behavior depending on terminal-split we are.

[2016-08-17 08:22] vpavic opened #447 "Reduce logging noise"
First and foremost - thanks for this great terminal app, keep up the good work! :+1:

I'm using Terminix on Ubuntu Xenial via WebUpd8 PPA.

By default, logging is too noisy and ends up polluting the `syslog` quite a bit. I haven't found an option to configure this.

Here's a sample:

[code]

This feels like a trace log which I'd expect in development/debugging use but certainly not enabled by defa

[2016-08-17 08:57] phw commented on #447
Looks like the PPA packag is not build in release but in debug mode. @hotice is maintaining the package and should be able to fix this easily by adding `DCFLAGS='-release'` to the make command.

[2016-08-17 08:59] hotice commented on #447
It means the Debian package does the same, since I used the official packaging. I'm on it, I'll update the PPA soon.

[2016-08-17 09:22] hotice commented on #447
I just built it in a test PPA and the syslog pollution doesn't stop. Any ideas?

[2016-08-17 09:30] phw commented on #447
Strange. I have so far only built terminix with dub, where `dub build --build=release` ill do a proper release build which indeed disables the trace messages. I just saw the `-release' switch for ldmd2 and thought it should do the same.

Are you sure you are running the updated PPA build? If you had an existing terminix instance open it would not load the new code, so make sure all terminix instan

[2016-08-17 09:45] hotice commented on #447
I looked `configure.ac` and found `-version=StdLoggerDisableTrace`. Using both `-release` and `-version=StdLoggerDisableTrace` solves this.

[2016-08-17 10:27] hotice commented on #447
Done, PPA updated.

[2016-08-17 10:30] vpavic commented on #447
Updated - I can confirm that excessive logging is now gone. Thanks for the quick fix @hotice!

[2016-08-17 10:31] #447 closed

[2016-08-17 14:55] gnunn1 commented on #446
I don't think it is possible for me to inject environment variables. However, when you have synchronized input turned on you can generate an environment yourself like:

[code]

Each terminal will then insert the ID assigned to it. Note that terminal IDs can change as terminals are deleted so you may need to re-execute this in those cases.

If this answers the question, please close the issue but i

[2016-08-17 17:15] leoheck commented on #446
No, this doesn't answer my question.

Suppose you have a script (bash for example) like:

[code]

I can have a script to execute different commands in each tile (a terminal split). So it would be easy to run a single command in multiples synchronized tiles. In this way, the user could have an opportunity to customize the execution in each tile from a single command.

[2016-08-17 17:19] gnunn1 commented on #446
I must not be seeing it, if you follow the instructions I gave each terminal will get a unique TERM_ID, so terminal 1 will be TERM_ID=1, terminal 2 will be TERM_ID=2, etc. You can then run your script and it will handle the case statement accordingly.

Note the shortcut "Insert terminal number" is relatively new and doesn't have a shortcut assigned to it by default. You can do that in Preferences

[2016-08-17 18:43] leoheck commented on #446
Ah, ok! I understand it now. Yeah, this can work I am expecting.

[2016-08-17 18:43] #446 closed

[2016-08-18 11:17] zatan commented on #279
+1

[2016-08-18 19:02] AlexWayfer opened #448 "Scroll session by mouse wheel"
Hello!
Can you enable scrolling sessions by mouse-wheel scroll on "View session sidebar" button?

[2016-08-18 21:15] gargullia commented on #25
@gnunn1 @hotice Please correct the error: the installation of a repository **webupd8** is put only the English language. Add Russian

[2016-08-18 22:37] gnunn1 commented on #448
So to be clear, you mean holding the mouse over the session button in the headerbar and using the mouse wheel to scroll through sessions? If I've gotten that right I'm not in favour of this, seems pointless versus just using keyboard shortcuts or am I missing something?

[2016-08-19 01:08] #445 closed

[2016-08-19 09:15] hotice commented on #25
@gargullia it looks like locale files aren't built with autotools (or maybe I'm missing something, but this is also the case for the official Debian package).

[2016-08-19 09:53] itoshkov opened #450 "Automatic notifications after a task has finished"
elementary OS terminal has a very nice feature: it automatically notifies you when a long-running task has finished, if the tab that started it (or the whole terminal) is not on focused at the moment. It would be very good addition to terminix IMO.

This is similar to manually adding `; alert` to the command but is cleverer, because it's not spamming notifications when you actually are watching th

[2016-08-19 11:09] phw commented on #450
I am not sure, but it sounds like this is exactly what Terminix' current notification implementation does, just that Terminix requires a patched VTE for this to work.

See the section on notifications in the [FAQ](https://github.com/gnunn1/terminix/wiki/FAQ) (at the very end)

[2016-08-19 11:14] AlexWayfer commented on #448
Yeah.

Keyboard shortcuts are cool, but sometimes your hands only on mouse, and one scroll instead of click-move-click can be more convenient. For example, scroll on tab-bar in Chromium for tab-switch, or scroll on dash/desktop of Desktop Environments (GNOME, for example) for workspace-switch.

[2016-08-19 11:50] itoshkov commented on #450
Yes, it sounds pretty similar. But I was unable to make it work on Ubuntu 16.04. I created the symlink and I'm sourcing the file. (And I checked the "Run command as a login shell" box.)

The script seems to have loaded correctly, because I can see the directories are correctly updated when I change them. Also I checked that `echo $PROMPT_COMMAND` prints `__vte_prompt_command`. But I still don't ge